[2017-09-23 21:50] ktbyers opened #585 "Make sure Calix B6 Driver RETURN is right"
This:

[code]

And this:
[code]

[2017-09-24 18:00] cdgtcc82 opened #586 "Threadpools & NetMiko"
Hey ktbyers - excellent module BTW!  I'm trying to take my automation to the next level and use thread pools to get through a bunch of devices quick.  I want to log in, check if the particular device is preconfigured for a log discriminator, and then either skip, or make the config changes.  The script works fine if I go with one thread, 2 or more everything starts getting wacky.  I've tried playi

[2017-09-24 23:46] #584 closed

[2017-09-25 16:22] johnarnold commented on #586
For readability, use triple-ticks:
[code]

[2017-09-25 16:27] johnarnold commented on #586
If you're going to use more than one thread, keep your handler creation within the threadpool thread (inside the verify_logging function).

The main thread should just load a device list, and call the function on each device in the device list via threadpool.   Example using .map():
https://www.codementor.io/lance/simple-parallelism-in-python-du107klle

[2017-09-25 16:46] ktbyers commented on #586
@cdgtcc82 You would probably need to show the code where you start/manage your threads.

Here is a simple threading example:

https://github.com/ktbyers/pynet-ons-jul17/blob/master/threads_procs/threads_show_ver.py

[2017-09-25 19:42] cdgtcc82 commented on #586
Ill certainly check it out, Here's my main threads:

[code]

[2017-09-25 20:00] cdgtcc82 commented on #586
As a side note - What @johnarnold mentioned seemed to do the trick.  I thought I actually tried this already but so far the script has gotten ALOT more stable.  Ill have to do some testing but this may be the fix.

[2017-09-26 21:32] johnarnold commented on #586
One thing in your example that was really confusing is that you use main_thread as a function name, but in fact, you're running that function in the child threads.  Typically, people refer to "main thread" and "main()" function together, meaning the parent thread + function that launches all the child threads.

Also, you can create connection handler objects and pass them into functions on child t

[2017-09-26 21:44] cdgtcc82 commented on #586
@johnarnold Thanks for all the tips.  I certainly got messy with the code here on this one.  So far after the help here and some cleanup everything seems to be running stable and clean.  Thanks again!

[2017-09-27 05:18] pennydoll opened #587 "ValueError: Failed to enter configuration mode"
Hello Kirk,

I am learning Python with netmiko and getting this error while running the script
root@NetworkAutomation-1:~# python netmiko2.py
Traceback (most recent call last):
  File "netmiko2.py", line 19, in <module>
    output = net_connect.send_config_set(commands_to_send, delay_factor=4)
  File "/usr/local/lib/python2.7/dist-packages/netmiko/base_connection.py", line 957, in send_config_set

[2017-09-27 13:54] ameer131 opened #588 "newline being sent after sending SSH login when using a jump host"
Hi @ktbyers ,

Need some insight from you how to fix issue that I faced.
I am using netmiko 1.4.2
I wrote a script to use a jump host and logging to a cisco device using ssh. below is the excerpt from the script:

[code]

However, it seems like sending a newline character before it input the password which cause the cisco device to prompt "Enter old password".
Here is the log:

[code]
Can you give

[2017-09-27 16:38] ktbyers commented on #588
@ameer131 Use the SSH config file, don't try to do it manually:

https://pynet.twb-tech.com/blog/automation/netmiko-proxy.html

Also see the notes here:
https://github.com/ktbyers/netmiko/releases/tag/v1.4.0

On your code, here are a couple of changes you need to make:

[code]

Also here:

[code]

[2017-09-27 16:55] ktbyers commented on #587
@pennydoll Try turning on logging and see if this provides you more information:

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

Does the user that logs in have permissions to go into configuration mode?

[2017-09-27 17:03] ktbyers commented on #583
@mathewfer What happens when you try to use the `send_config_set` method?

[code]

[2017-09-27 17:15] ameer131 commented on #588
Hi Kirk,
Thanks for the input. I will try to put \n on each of the line and will revert.
I am running the code in Windows environment, is there any other way I can do this beside SSH config file?

[2017-09-27 17:33] ktbyers commented on #588
SSH config is the proper way to do it.

You can try to do it the way you are, but it will probably be meaningfully harder (especially if you are looking for something to do in general versus a one-off).

[2017-09-27 20:43] jscobbie73 opened #589 "enable() function challenges..."
I'm having issues with the .enable() function on 2 different platforms.

On the SG 300's I am  unable to get the .enable() function to work properly.  I'm wondering if the issue is caused by the standard prompt already having a terminating #?  If I create an account that is priv 15 everything works as expected (as I don't need to use the .enable() function

I'm also using the cisco_ios module on a

[2017-09-27 20:58] ktbyers commented on #589
@jscobbie73 Can you show what the CLI sessions looks like on these two devices (for going into enable mode)?

[2017-09-27 21:01] jscobbie73 commented on #589
For the IOS Like device

for the SG-300

The hostname for the SG300 is long as it starts with the device SN (a whole different problem) and has site ID data appended to that.

[2017-09-27 21:11] ktbyers commented on #589
Why does your SG300 respond with a '#' prompt when not in enable mode? I don't think mine does that? Is that something in your configuration?

Missed (or didn't fully understand) your initial message about the '#' when you originally posted the issue.

[2017-09-27 21:15] ktbyers commented on #589
The ZebOS looks like it should work with Netmiko 1.4.3 for enable().

What error do you see when using ZebOS?

[2017-09-27 21:15] jscobbie73 commented on #589
I have no idea, I changed the hostname to something shorter (switch) and it still did.  Show Ver and Show System as below...

[2017-09-27 21:18] PackeTsar commented on #589
I have a SG300-52P-K9 and there is no "enable" functionality. It drop you directly into privileged mode automatically.

[2017-09-27 21:25] ktbyers commented on #589
@PackeTsar Yes, that would work fine from a netmiko perspective, but is not what he sees (as per above). What you see is consistent with what I am seeing.

Here is what I see:

[code]

[2017-09-27 21:28] ktbyers commented on #589
If I intentionally go to priv1, I get this:

[code]

[2017-09-27 21:33] ktbyers commented on #589
@jscobbie73 On the SG300, what does `show priv` show you?

[2017-09-27 23:34] jscobbie73 commented on #589
That to me is expected as the user is created with a Priv 7

As far as the ZebOS box, I pasted the errors I get in the original post.

[2017-09-28 02:33] ameer131 commented on #588
Hi @ktbyers ,

Noted.

I've tried to add '\n' but it still gave me the same output. it looks like it sending a newline. i will try to reinvent the wheel and see if i can come out with something.

[2017-09-28 03:29] pennydoll commented on #587
Thanks Kirk, I enabled the debug and the script ran successfully with no errors, don't know why I was seeing that y'day. But Now I have another concern, when I ran the script, I was not seeing anything displayed on my screen. Why is that?

Also when the script is pulling the configs from a file, how can I split the configs and display them on screen, like for example:
Configuring AAA........
----l

[2017-09-29 12:53] jsb515 opened #590 "SH arp and return true if ip is on csv?"
Is it possible to have a send command for sh arp | inc Vlan100 and with the IP addresses listed from the arp command search a csv and return a true statement?

[2017-09-29 17:38] ktbyers commented on #590
Yes...that should be pretty straightforward. There is a CSV python library and you would probably need to use some regular expression parsing of the output data.

[2017-09-29 17:39] jsb515 commented on #590
i'm still new to python and learning lol any direction on any articles for doing this? :)

[2017-09-29 17:51] ktbyers commented on #590
Python regular expressions, the Google University Python Course is pretty good for this content and my free course, class7 covers regular expressions.

CSV library probably is pretty straightforward.

Netmiko my tutorial and the Readme on the GitHub page.

Other Python fundamentals, my free course, Automate the Boring Stuff book (looks pretty good, haven't read it, but glanced through it quite a b

[2017-09-29 17:52] PackeTsar commented on #590
I have found the Python RE doc to be relatively straightforward for how to use the regex (re) module in Python.   https://docs.python.org/3/library/re.html

[2017-09-29 17:54] PackeTsar commented on #590
I haven't had to use a CSV library yet but I know somebody who has. I will ask and get back to you.

[2017-09-29 17:57] PackeTsar commented on #590
OK it was pretty obvious.... `import csv`

[2017-09-29 18:32] ktbyers commented on #590
I have some CSV example code here:

https://github.com/ktbyers/pynet-ons-jul17/tree/master/csv_example

It won't totally match what you are doing though.

[2017-09-30 00:33] ktbyers commented on #587
@pennydoll Can you give me an example command that you are not seeing anything from?

In other words, you have this:

[code]

But I have no visibility into what `commands_to_send` is?

[2017-09-30 00:33] #588 closed

[2017-10-03 04:32] pennydoll commented on #587
I sent a whole bunch of commands including - AAA Commands, VLAN IDs, interface range with access and voice vlan's and ACLs.

[2017-10-03 17:15] ktbyers opened #592 "OS Upgrade Process Automation"
Starting Step:

Create an abstract process for IOS/IOS-XE, IOS-XR, NX-OS, JunOS, and Arista.

Basically a series of steps of what an OS upgrade for each of these platforms would consist of. Obviously, there will be a lot of variations here depending on what the hardware is.

High level questions:
1. Is there an auto-detection mechanism(s)? For hardware, for inventory characteristics.

2. What is t

[2017-10-03 17:20] lampwins commented on #592
One the biggest issues I run into on Junos is space. Either running out of space on the upload or during unpacking/verifying.

I am sure that issue must exist on other platforms so a necessary step would be checking free space and doing remediation if needed/wanted.

[2017-10-03 17:31] jabelk commented on #592
1. Establish standard to be compared against for a given hardware platform, supervisor, and function
2. Gather facts from device (either through SNMP or textfsm/regex parsing), which are, hardware platform, supervisor information, and function of device (assumed from metadata, likely the naming convention of the hostname)
3. Compare facts to the standard and decide if device requires an upgrade or

[2017-10-03 17:45] ktbyers commented on #592
From the top of my head, this is similar to what I tested for small IOS and ASA devices. Note, I didn't have any auto detection of the nature of the remote device.

1. Determine size and MD5 of file on local file system.
2. SSH into remote device and verify sufficient space available on the file system.
3. Check if device already has the new image on the file system.
4. Check if the device is alre

[2017-10-03 17:54] ktbyers commented on #592
@lampwins Since I don't know the Junos OS upgrade process...it would definitely be helpful if you are someone else could sketch out what you would typically do during a manual OS upgrade.

[2017-10-03 19:03] johnarnold commented on #592
@ktbyers for perspective, we use netmiko for device interaction, but there's a higher level device driver. we built code upgrade logic into the layer above netmiko.   Some things, like the source of the file and md5 hash are going to be pretty environment specific.  Also, regular reload vs fast reload is worth thinking about.

[2017-10-03 22:37] #592 closed

[2017-10-04 02:14] ktbyers commented on #587
Okay, can you provide the exact commands from the command file? You can obfuscate anything that is confidential.

Also I assume your print statement is inside the for loop?

[2017-10-04 19:51] hardcorecoder27 commented on #212
@ktbyers Am just a beginner in using netmiko. Can you explain in simple words what is the use of read_channel and write_channel? Is read_channel a functionality to display output of show commands?? Is write channel a functionality send config commands? I have been browsing for sample programs.Couldnt find any.

[2017-10-05 17:15] ktbyers commented on #212
@hardcorecoder27 read_channel() and write_channel() are low level methods that let you directly control the channel (whether SSH or telnet). There is really nothing between these and the channel i.e. what you put out using `write_channel()` will get sent to the device.

Note, this implies certain things. For example, you will need to add a `\n' to indicate you hit enter. You will also need to intr

[2017-10-05 17:16] ktbyers commented on #212
### Please do not comment any more on this issue (open a new issue instead).

This issue already contains numerous separate items so adding to it will just cause confusion.

[2017-10-05 17:45] hardcorecoder27 opened #594 "Understanding read_channel and write_channel"
@ktbyers If pass a wrong show command in write channel and then try to read it using read channel. Does it display the error message?? I cant get a clear working knowledge of these commands.

[2017-10-05 18:13] ktbyers commented on #594
@hardcorecoder27 Thanks for opening new issue :-)

Yes, you will retrieve the output that is displayed on the screen.

But...make sure you follow your show command with '\n' (or you won't have hit enter...so there won't be any output to see except for the character echo of the command and possibly the original prompt).

Also, make sure you sleep some amount of time before you try to read the outpu

[2017-10-05 18:16] hardcorecoder27 commented on #594
Thanks a lot...Its pretty clear now.

[2017-10-05 22:26] solotronics opened #595 "TypeError when doing send_config_set on arista"
When doing send_config_set on Arista EOS I get this TypeError

Thanks!
-Gene

`>>> test2 = spawn_arista_netmiko(ip='10.198.203.7',user=usr,password=pw)`
`>>> r1 = test2.send_config_set('management api http-commands','no protocol http','protocol` `https','no shutdown')`
`Traceback (most recent call last):`
`  File "<stdin>", line 1, in <module>`
`  File "/usr/local/share/virtualenv_networking/lib/p

[2017-10-06 07:36] manishsakhare opened #596 "I want to add port to vlan, my code is working fine but some time it is giving error. Please help me with this."
# This is my script
import sys
import netmiko

netmiko_exceptions = (netmiko.ssh_exception.NetMikoTimeoutException,
                      netmiko.ssh_exception.NetMikoAuthenticationException)
connection = netmiko.ConnectHandler(ip=sys.argv[1], device_type='cisco_ios', username=sys.argv[2], password=sys.argv[3], secret='cisco')

connection.enable()
print(connection.config_mode())
print(connection.s

[2017-10-06 07:44] manishsakhare commented on #596
config term
Enter configuration commands, one per line.  End with CNTL/Z.
bbna(config)#
Traceback (most recent call last):
  File "show_vlan.py", line 18, in <module>
    print(connection.send_command("interface"+" "+str(sys.argv[4])))
  File "C:\ProgramData\Anaconda3\lib\site-packages\netmiko\base_connection.py",
line 811, in send_command
    search_pattern))
OSError: Search pattern never detecte

[2017-10-06 17:36] ktbyers opened #597 "Investigate using system-wide SSH config file"
...as a default, what are the implications of this.

[2017-10-08 06:10] manishsakhare commented on #596
Any suggestions please help needed.. Thanks.. @ktbyers

[2017-10-09 07:35] manishsakhare commented on #596
# please help me with this @ktbyers , i want to add port vlan
import netmiko
connection = netmiko.ConnectHandler(ip='172.24.50.9', device_type='cisco_ios', username='xxx', password='xxx', secret='cisco')

connection.enable()
print(connection.config_mode())
print(connection.send_command('interface fa0/17'))
print(connection.send_command('switchport access vlan 18'))
print(connection.disconnect())

[2017-10-09 17:32] ktbyers commented on #596
@manishsakhare Use `send_config_set()` to send config changes.

See
https://pynet.twb-tech.com/blog/automation/netmiko.html

[2017-10-10 05:24] #596 closed

[2017-10-10 05:24] manishsakhare commented on #596
Thank you sir.

On Mon, Oct 9, 2017 at 11:03 PM, Kirk Byers <notifications@github.com>
wrote:

--
Manish Sakhare
Vyomlabs Pvt Ltd Pune
Contact No:- 9561713701

[2017-10-10 08:20] tamsel2017 opened #598 "net_connect.enable() not working and throws the error - netmiko.ssh_exception.NetMikoTimeoutException: Timed-out reading channel, data not available."
I am facing net_connect.enable() issue with the following timeout exception error in Dell Force10 switch:

Python 2.7.6 (default, Oct 26 2016, 20:30:19)
[GCC 4.8.4] on linux2
Type "help", "copyright", "credits" or "license" for more information.

u'1.4.3'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'ConnectHandler' is not defined

Traceback (most recen

[2017-10-10 09:52] tamsel2017 commented on #598
When I pass an individual command - "show ip int brief" it is working and am able to print the output. Please see the below output:

SSH connection established to xx.xx.xx.xx
Interactive SSH session established

Interface                     IP-Address      OK  Method Status                Protocol
TenGigabitEthernet 1/1        unassigned      NO  Manual up                    down
TenGigabitEthern

[2017-10-10 16:15] ktbyers commented on #598
@tamsel2017 What does it look like on the CLI when you login and go into enable mode?

Can you copy and paste the CLI session here (for logging in / entering enable mode)?

Kirk

[2017-10-11 04:02] tamsel2017 commented on #598
Hi Kirk,

Please find the CLI session for logon / enable mode.

Thanks,
Tam

=================================================================
xxxx@login-01:~$ telnet xx.xx.xx.xx
Trying xx.xx.xx.xx...
Connected to xx.xx.xx.xx.
Escape character is '^]'.
Login: user_id
Password:
test-switch-xxx>enable
Password:

Here is a MOTD banner displayed while logon.

test-switch-xxxx#
test-switch-xxxx#
======

[2017-10-11 16:13] ktbyers commented on #598
@tamsel2017 Is that what the MOTD actually says? Is there a reason you switched to telnet there?

Kirk

[2017-10-11 18:31] tamsel2017 commented on #598
Hi Kirk,

I tried duplicating the issue using telnet, unfortunately I didnt used SSH.

I resolved the issue. I missed sending the "enable" password for the Switch in the below dictionary and it was failing when I sent the net_connect.enable(). I included the 'secret' : 'xxxx' and  it started working.

dell_switch = { 'device_type': 'dell_force10', 'ip' : 'x.x.x.x', 'username': 'xxxx', 'password':

[2017-10-12 23:46] dpasupathi opened #599 "Netmiko: ConnectHandler() method is taking almost 7 to 8 seconds. Is this expected?"
Hi,

I am trying to use the Netmiko ssh for Brocade_Netiron device and we consistently see that the ConnectHander() method takes 7-8 sec? Is there a way we can tune some parameters to get better result or is this expected?

[2017-10-13 16:25] markgoddard opened #601 "Context manager exception handling issues"
Create a connection using a `with` context manager, and raise an exception that takes multiple arguments within the context:

[code]
We see the following exception:

[code]

Two problems:
1. The `__exit__()` method of `netmiko.BaseConnection` should just `raise exc_value` in order to reraise.
2. The `__exit__()` method of `netmiko.BaseConnection` should return, and python will reraise the exceptio

[2017-10-13 16:52] ktbyers commented on #601
Feel free to create a PR on it...or I will fix.

[2017-10-13 16:58] ktbyers commented on #599
@dpasupathi Can you give more context on what you are doing (i.e. post your code or make reference to it).

Screen-scraping (and APIs for that matter) are probably going to be a bit slow...so 7 seconds doesn't sound all that out of the ordinary.

How are you using it (just trying to get a better understanding on why the 7 seconds matters in your context)?

Hopefully, in Netmiko 1.5.0 I will have a

[2017-10-15 17:00] markgoddard commented on #601
I'll create a PR in the next day or two.

[2017-10-16 17:05] whitej6 commented on #558
I get the same issue with WLCs that are on newer code versions.  Below is the exception message I received.

Exception in thread Thread-2:
Traceback (most recent call last):
  File "/usr/lib64/python2.7/threading.py", line 811, in __bootstrap_inner
    self.run()
  File "/usr/lib64/python2.7/threading.py", line 764, in run
    self.__target(*self.__args, **self.__kwargs)
  File "wlcDiscovery.py",

[2017-10-16 17:38] dpasupathi commented on #599
@ktbyers :  My use case is very simple but bunch of actions which configures the switches and comes out i.e connect to the switch, execute few commands and come out.  But the problem comes i will be using this consecutive workflows in a script. Here i end up connecting to the switch multiple times. Given the limitation in my framework is there a way i can improve the ssh connection less than 7 sec

[2017-10-17 13:35] andreas268 commented on #568
Kirk,

sorry for the long break - other projects had priority . . .

I tested with both '\x00' and '\x06' and I'm running into the same problem when deleting a file from flash.

Seems that IOS  is not ignoring the Null-character:
          Delete filename [c800-universalk9-mz.SPA.154-3.M3.bin]? ^@
          Delete flash:/c800-universalk9-mz.SPA.154-3.M3.bin? [confirm]^@
          Delete of flash:/

[2017-10-17 20:01] mrkcmo opened #603 "Issue when trying to use copy FTP Command with Nexus Switches"
I am trying to do the following which is to upload an NXOS image to a Nexus switch if the image doesn't exist or to recognize if it does exist already in flash. Here is the code:

[code]
[code.txt](https://github.com/ktbyers/netmiko/files/1392450/code.txt)

The issue I am having is that the first two conditions work and return correctly but if I need to do the FTP of the image the "Password:" prom

[2017-10-18 16:57] ktbyers opened #604 "Allow a way in send_config_set to change the expected_prompt that comes back"

[2017-10-20 10:35] zeepi222 opened #606 "Cisco stack switch - Intermittently receiving partial results"
Hi,

I am experiencing intermittent failures when collecting data from a Cisco stack switch (WS-C3750G-48TS-S) device running IOS version 12.2(40)SE.
Sometimes netmiko returns full results and sometimes it returns a partial result. Sometimes it returns the end of the last command, when a new command is entered.
In this particular instance, the network connection is slow, however the CLI is returni

[2017-10-20 20:08] ktbyers commented on #606
@zeepi222 You probably need to add a delay_factor=2 or delay_factor=4 to your send_command_timing() calls. Basically allow it more time to complete.

You also might try using `send_command` instead of `send_command_timing`. You will probably get better results from that. `send_command` will try to detect the trailing prompt (or some other terminating string you indicate).

[2017-10-21 04:30] zeepi222 commented on #606
Hi Kirk,

Thank you, so far I appear to be getting better results using:
[code]

Is there a timeout parameter I can set for how long netmiko will wait for the expect_string ?
If not, how long does it wait ?

Thanks.

[2017-10-23 18:55] bgile opened #607 "AdTran Support?"
Hi Kirk

I have seen a couple posts about you messing with AdTran CLI and what to expect back.  Has anything been implemented to effectively send commands to an AdTran device?  If not, do you have suggestions on how one might go about this?  We use a lot of AdTran gear and I would love to extend the functionality of Netmiko to AdTran CLI.

Thanks

[2017-10-23 19:27] ktbyers commented on #607
If it is close enough to Cisco IOS, it might work using a `device_type='cisco_ios'`.

For more details on adding a new vendor see:

https://github.com/ktbyers/netmiko/blob/develop/VENDOR.md

[2017-10-23 20:47] #601 closed

[2017-10-23 20:59] ktbyers commented on #558
@whitej6 Can you show me what an entire SSH Cli session looks like including username and password prompts and any banners.

You can obfuscate any username/passwords.

Thanks,

Kirk

[2017-10-23 21:02] ktbyers commented on #599
@dpasupathi Is there a reason why you don't leave the connection open?

You are probably going to have a hard time getting it to be much less than 7 seconds (and have it work reliably) for those series of actions.

You can try modifying both `global_delay_factor` and `delay_factor` (if you are using `send_command` or `send_command_timing` methods).

You could try values of .25 and .5 and see if it

[2017-10-23 21:09] whitej6 commented on #558
Issue caused by WLC not handling auth fail properly. Not a netmiko issue but the way WLC handles auth fail. Account because locked before running WLC script. Sorry for not updating my response when I located the issue.

Sent from my iPhone

[2017-10-23 21:10] ktbyers commented on #558
No worries...I assume I can close this issue then?

[2017-10-23 21:18] mrkcmo commented on #558
Hey Kirk,

              Wanted to let you know I subscribed to your website mailing list and never got the confirmation email. I think your sendmail might be not working. Wanted to let you know!

Chris

From: Kirk Byers<mailto:notifications@github.com>
Sent: Monday, October 23, 2017 4:00 PM
To: ktbyers/netmiko<mailto:netmiko@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.com>

[2017-10-23 21:31] whitej6 commented on #558
Yessir.

Sent from my iPhone

[2017-10-24 12:57] mrkcmo commented on #603
@ktbyers  Any thoughts?

[2017-10-24 14:08] bgile commented on #607
Thanks for the info!

[2017-10-24 14:08] #607 closed

[2017-10-24 15:14] mrkcmo opened #608 "Trying to capture the boot process from a console server but expect strings not working"
I am trying to do the following with little success using Netmiko:

1. Login to terminal server - Works great!
2. Enter host name to connect to console off of terminal server - Works great!
3. Issue show clock command and get output - Works great!
3. Issue reload command with "y" answer - Works great!
4. Capture boot output and login into device again once string "login:" appears- Not working

The

[2017-10-24 15:30] mrkcmo commented on #608
@ktbyers Any thoughts?

[2017-10-24 17:04] mrkcmo commented on #608
I was able to figure out a way to get the job done with the following code...but I also had to remove the banner/motd:

[code]

[2017-10-24 17:04] mrkcmo commented on #608
@ktbyers it would still be good to know how the expect_string function works!

Thanks!

Chris

[2017-10-24 17:04] #608 closed

[2017-10-24 19:53] #606 closed

[2017-10-26 20:15] oysteingy opened #609 "Problems with send_command() on Huawei"
Hi,

Thanks for the nice API.

I'm experiencing some problems with send_command on Huawei:
VRP (R) software, Version 5.160 (NE40E&80E V600R008C10SPC300)
[code]

[2017-10-27 01:59] ktbyers commented on #558
@mrkcmo That is usually due to spam filters on your side (i.e. the message gets blocked or put in the spam folder and you never receive it).

If you can send me your email address, I can check.

[2017-10-27 01:59] #558 closed

[2017-10-27 02:17] ktbyers commented on #609
@oysteingy What happens if you set the global_delay_factor?

[code]

[2017-10-27 02:41] ktbyers commented on #608
@mrkcmo On your questions:

[code]

It is a regular expression pattern that it is looking for in the output. By default, it will probably wait about 90 seconds (IIRC) before it gives up. You can increase this by adding the `delay_factor=2` (or 4 or 8) argument. This is a multiplier so 2 should wait about 3 minutes (my numbers of 3 minutes might be off, but it should essentially double the amount o

[2017-10-27 03:20] ktbyers commented on #606
@zeepi222 max_loops and delay_factor influence the amount of time send_command will wait to complete. Generally the amount of time send_command would wait would be doubled by doubling either max_loops or by doubling delay_factor.

I want to make a simpler timeout mechanism in Netmiko this fall/winter.

Try 'global_delay_factor=2' (or 4, 8) for the intermittent ConnectHandler issue.

[2017-10-27 06:53] oysteingy commented on #609
`

SSH connection established to 10.219.94.12:22
Interactive SSH session established

u"                 ^\nError: Unrecognized command found at '^' position."

`

[2017-10-27 06:59] oysteingy commented on #609
(Sorry, hit the 'Close and comment' button instead of 'Comment')

[2017-10-28 17:43] bdyzel opened #610 "Napalm-Ansible - Install_Config - IOS Merge"
Hi Kirk,

I've been playing around with using Napalm Ansible to deploy IOS config.
Came across the following issue which I can replicate.

- Lab:

Ansible Host: Vargant Ubuntu 14.04 (Virtual Box)
GNS3:
Cisco Model: 7200
Cisco IOS: Version 15.0(1)M  (it's old, but it checks out)

- Issue:

Napalm Config Merge to a single Router fails whilst consoled to the Router.
If I don't console to the router w

[2017-10-28 20:49] ktbyers commented on #610
My guess is that your router is getting slower and not completing in time.

What happens if you set the global_delay_factor:

[code]

What is in the l3inf.cfg file? i.e. what are you changing?

[2017-10-29 11:19] bdyzel commented on #610
Hi Kirk,

l3inf.cfg file:
[code]

Ran the suggested play with the option argument now, same result.
Interestingly it deploys the configuration to the running config of the router, but doesn't save the configuration.

This only occurs when the console window is open.
The workstation I'm running it is powerful enough(i7, 16GB RAM, SSD, etc), and I only started up one router to test this with to ensu

[2017-10-29 16:03] ktbyers commented on #610
It looks like it is failing on this:

    output += self.device.send_command_expect("write mem")

What does 'write mem' look like if you do this manually? Is there anything
unusual about it when you are consoled in (i.e. in the scenario that you
are seeing the failure).

Is it slow?

I assume it doesn't prompt you for additional information?

Kirk

On Sun, Oct 29, 2017 at 4:19 AM, bdyzel <notifica

[2017-10-29 20:29] bdyzel commented on #610
Initially when running consoling to the router it prompts on the destination filename; after the first confirmation it doesn't prompt again.

I ran my playbook against 9 Routers and it worked without having had to "bypass" the destination prompt.

I'm not done with this lab/homework set yet, it needs some serious cleanup options and service management options. But you can have a look at the follow

[2017-10-30 16:50] ktbyers commented on #610
@bdyzel Do you have an alias setup for `write mem` in the config?

What version of IOS is the failing router running?

Kirk

[2017-10-30 17:56] bdyzel commented on #610
Nope

[2017-10-30 18:25] ktbyers commented on #610
So what does the CLI normally look like when manually typing 'write mem' on that OS?

Please copy and paste it here including the router prompts.

[2017-10-31 14:34] bdyzel commented on #610
R2#write mem
Warning: Attempting to overwrite an NVRAM configuration previously written
by a different version of the system image.
Overwrite the previous NVRAM configuration?[confirm]

[2017-10-31 16:36] ktbyers commented on #610
okay...that makes sense.

Save it once (i.e. wr mem) and the issue should go away.

Probably need to add a fix into napalm for this though... (so leave this issue open). Thanks.

[2017-11-01 15:20] ku0100 opened #614 "persistent interface config on cisco devices"
Hello Kirk,

Really enjoying the ease of netmiko over just using paramiko so thank you for creating this. I'm wondering if there is a way to keep an ssh session in a persistent interface config mode? To provide a little context, let's say I set up a connection and enter in config mode. If I want to configure a specific interface, it appears i need to submit a command like the below:

``config_comm

[2017-11-01 15:27] bdyzel commented on #610
Thank you, will do.

[2017-11-01 20:30] ktbyers commented on #614
@ku0100 FYI, you can send a list of commands:

[code]

It will be in whatever context you put it in (in config mode). In other words, it will enter those commands one after the other in the context you are in.

If you add the `exit_config_mode=False` argument, it won't exit config-mode (and should be in the context you left it in).

[code]

[2017-11-01 20:31] #614 closed

[2017-11-03 04:32] ktbyers commented on #548
Okay, current Netmiko `develop` branch has this feature now. Use the FileTransfer class and feed in the `device_type`. The 'ssh_dispatcher.py' file has a FILE_TRANFER_MAP which defines the supported platforms. This is very still much in proof-of-concept state.

[code]

[2017-11-03 04:32] #548 closed

[2017-11-03 09:07] wisotzky commented on #548
Perfect!
Will have a look into it soon...

/Sven

[2017-11-03 16:29] ktbyers commented on #548
On the file transfer, IOS should work. NX-OS should work.

Juniper is just bare bones right now (I think I hard-coded it to transfer to /var/tmp).

Arista is also bare bones right now (I think I hard-coded it to transfer to /mnt/flash).

Kirk

[2017-11-08 01:29] shreyashah commented on #553
@ktbyers : Hi, any idea if this is fixed or in progress. Please let me know. Thanks.

[2017-11-08 18:37] apepelis opened #619 "Avaya VSP needs an enable"
VSP-XXXX:1>enable
VSP-XXXX:1#

class AvayaVspSSH(CiscoSSHConnection):
    def session_preparation(self):
        """Prepare the session after the connection has been established."""
        self._test_channel_read()
        self.set_base_prompt()
        **self.send_command("enable", strip_prompt=False, auto_find_prompt=False)**
        self.disable_paging(command="terminal more disable\n")

[2017-11-09 21:25] filintod commented on #467
Add a timeout to the connection before opening:

    driver.nemiko_optional_args['timeout'] = 10

For some reason (possible a bug) the timeout is not part of the possible optional_args during get_network_driver.

[2017-11-09 21:48] ktbyers commented on #467
@filintod Netmiko defaults to 8 seconds...so the difference between 8 and 10 seconds mattered in your context?

[2017-11-10 00:33] filintod commented on #467
@ktbyers I was using paramiko straight not via netmiko but was looking for a solution to this problem NoExistingSession (same method get_remote_server_key) and the solution at the end was to increase the timeout when connecting.  So I thought that maybe they could try with an extended timeout to see if that also solved their problem.

[2017-11-10 17:06] ktbyers commented on #553
@shreyashah No I still need to look at this.

Kirk

[2017-11-10 20:09] ktbyers commented on #619
@apepelis Does just calling the `enable()` method work:

[code]

You would pass in a `secret` argument in the `device` dictionary.

[2017-11-10 20:13] apepelis commented on #619
I tried just an enabled originall and it didn't work. It paused because the prompt changing or something. I can try running it again with just an enable. I only got it to work with the options above.

[2017-11-10 20:15] ktbyers commented on #619
@apepelis Can you show me the error you get on the `enable()` call?

[2017-11-10 20:19] apepelis commented on #619
strike that. It was a versioning thing. Version 0.5.X that enable() wasn't working. 1.4.3 just adding an enable() works in the Avaya VSP class.

[2017-11-10 20:20] #619 closed

[2017-11-12 13:51] zeepi222 opened #621 "Login retry attempts for telnet method"
Hello,

I am connecting to a mix of SSH and Telnet enabled devices.
I noticed that SSH method does not retry failed login attempts, whilst the telnet method will retry failed logins up to three times. I am concerned that multiple telnet failures could potentially lock out my TACACS account.

Is it possible to control / set the number of login retry attempts used by the telnet method?

Example ...

[2017-11-14 11:26] zhecho opened #622 "Don't write clear text passwords into log file. Create write_channel_nolog() method"
Create write_channel_nolog() method in order to hide clear text passwords sent to debug file

[2017-11-14 11:54] rajaramanlala commented on #321
I get the below error. Installed netmiko. Am using Oracle Linux machine.Can someone help?

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/netmiko/__init__.py", line 8, in <module>
    from netmiko.ssh_dispatcher import ConnectHandler
  File "/usr/lib/python2.7/site-packages/netmiko/ssh_dispatcher.py", line 21, in <module>
    from

[2017-11-14 11:55] rajaramanlala opened #623 "Unable to import ConnectHandler from netmiko"
Unable to import COnnectHandler from netmiko. Got the below error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/netmiko/__init__.py", line 8, in <module>
    from netmiko.ssh_dispatcher import ConnectHandler
  File "/usr/lib/python2.7/site-packages/netmiko/ssh_dispatcher.py", line 21, in <module>
    from netmiko.cisco import Cis

[2017-11-14 17:58] hardcorecoder27 opened #626 "issue with connect.send_command"
I have written script only to extract data of PID and Serial no of Cisco device[only the chassis] using "show inventory"
Please find my code below.

connect.send_command("terminal length 2")
show_inventory1 = connect.send_command("show inventory")
fo = open('log.txt', "a")
fo.write(str(show_inventory1))

I know send_command will keep waiting to receive data until the network device prompt is detec

[2017-11-14 19:49] ktbyers commented on #621
@zeepi222

You can probably overwrite the telnet_login method and make a custom method (i.e. make a custom class and in that class create a telnet_login method).

There will be certain reliability problems here if you reduce the number of attempts you try to login...so I am pretty reluctant to add that as an argument.

[2017-11-14 19:49] #621 closed

[2017-11-14 20:59] zeepi222 commented on #621
Thanks for confirming this was not a bug. I thought the fact that SSH raises an Exception after one authentication failure whilst telnet raises an Exception after three authentication failures was not intentional. It's useful to know that that login behaviours may not be consistent between protocols.
I will try your suggestion, thanks.

[2017-11-14 21:15] zeepi222 commented on #626
Hi,

I think you may have more success, if you collect the full output of "show inventory" and "show version" using netmiko and then parse these output afterwards to extract the data fields you need.
There are python modules like pyparsing or TextFSM that can assist you with this.

Regards
Zee

[2017-11-15 00:10] ktbyers commented on #626
@hardcorecoder27 The `terminal length 2` command will cause issues (as it will turn on the paging of output).

You should be able to just do:

[code]

[2017-11-15 00:24] ktbyers commented on #321
@rajaramanlala It looks like you have Netmiko `develop` branch installed. I just fixed this issue in the `develop` branch. You will need to re-install using the updated code (or use the released version of Netmiko).

[2017-11-15 04:21] hardcorecoder27 commented on #626
@ktbyers I am using python regular expressions to extract only the PID and serial number of the chassis.
That can be done using the second line of show inventory output.

Show inventory | inc PID will give me the inventory of chassis as well as the internals of the device[which i dont want].

@zeepi222 i am using python regular expressions to extract data from the show version and show inventory o

[2017-11-15 05:32] ktbyers commented on #626
@hardcorecoder27 Yes, you get this back and then you process it using regular expressions or using .split()

[code]

Do you have a question?

[2017-11-15 19:08] hardcorecoder27 commented on #626
When i give show inventory | inc PID. The output is not just one line that shows the details of just chassis, but also the second line that contains PID and SN of the internal parts. For example in 1921 router in the first line i get the chassis PID and SN and in the second line i get the PID and SN of HWIC-2T card.

All i need is the first line that contains chassis details.

Thanks for the sugge

[2017-11-15 20:41] ktbyers commented on #626
Can you post your `show inventory` output?

[2017-11-16 12:20] hardcorecoder27 commented on #626
Router#sh inventory
NAME: "CISCO1921/K9", DESCR: "CISCO1921/K9 chassis, Hw Serial#: ABHFY876GAJ, Hw Revision: 1.0"
PID: CISCO1921/K9      , VID: V05 , SN: ABHFY876GAJ
NAME: "Wan Interface Card BRI S/T (3086) on Slot 0 SubSlot 0", DESCR: "Wan Interface Card BRI S/T (3086)"
PID: WIC-1B-S/T-V3     , VID: V01 , SN: JIOHDF654JD
NAME: "WAN Interface Card - HWIC Serial 2T on Slot 0 SubSlot 1", DESCR: "WA

[2017-11-16 14:04] zeepi222 commented on #626
Try;
match = re.search(r'PID:\s([A-Z0-9/]*).*SN:\s([A-Z0-9]*)', output, re.M)
PID = match.group(1)
SN = match.group(2)

where output is the contents of your show inventory output.

[2017-11-17 06:36] ddisisto commented on #621
I've been looking into this also and found that it's `CiscoBaseConnection.telnet_login()` not noticing the error at all, it just sees the repeated Username: prompt following it, so goes ahead and keeps responding to it with the username (and then password) until `max_loops` is hit. There was one specific error message that was being matched, but in my PR this changes raise on anything that looks l

[2017-11-17 09:47] hardcorecoder27 commented on #626
Thanks alot @ktbyers . The re.search worked well.

[2017-11-17 09:50] hardcorecoder27 commented on #626
@zeepi222 I will try it and let you know.

[2017-11-18 06:31] hazelfire5 opened #630 "ValueError: Router prompt not found: User: in Cisco WLC"
Hello Kirk,

I recently ran into the same problem as a previous [bug](https://github.com/ktbyers/netmiko/issues/558). I have tried adding a global delay factor but it was unable to properly realize there was actually a 'NetMikoAuthenticationException'. I noticed a previous user on that thread had said it was the way Cisco WLC handles Auth which I guess can be true but realized that it really only

[2017-11-18 08:42] hazelfire5 commented on #595
What is going on within the function spawn_arista_netmiko()? I think what you are trying to do is something sort of like below:
[code]
A TypeError due to multiplying a delay_factor seems like something was improperly configured on set up options.

[2017-11-20 18:02] richc2012 opened #632 "unable to import Netmiko in RHEL"
I have used Netmiko with a lot of success from Ubuntu and Windows but now I am trying to set up the RHEL box that our Linux admin set up for me but I am getting the below error when I try to import ConnectHandler, I used pip to install netmiko. any help would be appreciated.

Python 2.7.5 (default, Aug  2 2016, 04:20:16)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-4)] on linux2
Type "help", "copyright", "c

[2017-11-20 18:38] ktbyers commented on #632
It is a paramiko issue, see:

https://github.com/paramiko/paramiko/issues/1069

I would try to upgrade your paramiko installation and see if that fixes it.

[code]

[2017-11-20 18:38] #632 closed

[2017-11-20 19:00] richc2012 commented on #632
paramiko was already at 2.4 but i reinstalled anyway, didn't fix, skimming through #1069 it looks like its better to just not have gssapi installed, I used pip uninstall gssapi and now I can import connecthandler with no errors, do you forsee this causing me any issues down the road?

[2017-11-20 19:01] ktbyers commented on #632
Probably not...I assume Paramiko will fix it in the not to distant future.

[2017-11-20 19:06] richc2012 commented on #632
cool, thanks! btw I want to take the moment to thank you for all of your work on network Automation, I work in an environment of nearly 3000 network devices (routers and switches, not counting phones AP's or anything else) with a few months practice I have been able to make changes as simple as adding vlans to rectifying things like telnet on devices, hitting thousands off devices at a time. ive u

[2017-11-20 19:15] ktbyers commented on #632
@richc2012 That is great!

[2017-11-20 23:12] lodpp opened #633 "ssh gateway without proxyCommand"
Hi,

This is a Question/Feature.

I'm in a case that I must use a jumphost/bastion ( or more ) to connect to the end devices.
proxyCommand is not working due to the fact that those bastion are not "neutral" is the ssh auth process.
My app just have to connect to the first bastion with given creds, and bastion are doing the magic ( even thought I could specify the next creds if needed ).

Path migh

[2017-11-20 23:26] ktbyers commented on #633
@lodpp Netmiko should support whatever `~/.ssh/config` supports so as long as you can get it working manually with that, then Netmiko should support it.

Note, I think for the intermediate `bastion` devices `~/.ssh/config` will require SSH keys and you won't be able to use passwords.

You could also try to programmatically do the logs for all of these along the chain, but it is going to be a lot h

[2017-11-20 23:53] lodpp commented on #633
Thanks @ktbyers , I've already checked that post of yours ( that was the initial trigger to try using netmiko over the bastion I have :) )
Main thing and I should have stated it in the first post, It seems I can't use anything in ssh_config to act the gateway role without the proxyCommand that can't work :/
The only way I got is to start the "one liner" like : ssh -i path/to/idfile user@bastion1 -

[2017-11-21 05:47] dpasupathi commented on #599
@ktbyers: I tried the global_delay_factor but of no improvement. Wondering if there is any python based connection manager which can persist the connection pool and manage it.  So that instead of creating connection every time i can get it from cache.

[2017-11-22 02:17] 929440925 opened #634 "Error reading SSH protocol banner'utf-8' codec can't decode byte 0xff in position 0: invalid start byte"
‘’‘ from django.shortcuts import render
from .models import Huawei, mingling
from netmiko import ConnectHandler
# Create your views here.

def index(request):
    hua_list = Huawei.objects.all()
    # hua_names = Huawei.hua_name
    for i in hua_list:
        ci = i.type
        ips = i.ip
        usernames = i.username
        passwords = i.password
        ports = i.port

        print(i.usernam

[2017-11-22 03:04] ktbyers commented on #634
@929440925 It looks like it is probably a Paramiko issue. What version of Paramiko are you using?

[code]

You also should probably try a Python script for the SSH outside of Django so you get a better stack trace.

[2017-11-22 03:06] 929440925 commented on #634
@ktbyers  paramiko (2.4.0)

[2017-11-22 03:11] ktbyers commented on #634
Can you post the full stack trace from a Python perspective (i.e. take it out of Django and run the SSH connection part of your script directly from Python)?

[2017-11-22 03:14] 929440925 commented on #634
@ktbyers Thank you. The problem has been solved

[2017-11-22 03:29] ktbyers commented on #634
What was it?

[2017-11-22 03:33] zeepi222 commented on #634
Was it related to an rsa certificate not being installed on the device?

[2017-11-22 04:18] #634 closed

[2017-11-22 09:42] etem commented on #459
Same issue here.

[2017-11-22 10:31] etem opened #635 "Comware7 screen-length disable permission denied"
Hello,

When trying to use the script on Comware7 I see in the logs that it's getting "Permission denied" after executing "screen-length disable". The command works just fine if I log on to the switch and execute it manually.

I've tried with net_connect.send_command('screen-length disable') but no luck.

[2017-11-22 18:29] etem commented on #635
Sorry it was a configuration issue. I've fixed that with executing "super level-15" command before screen-length disable.

[2017-11-22 18:29] #635 closed

[2017-11-22 18:48] ktbyers commented on #633
@lodpp Netmiko can't start the one liner.

You could probably control the SSH session entirely through Netmiko, however. In other words use Netmiko to SSH from your machine to `bastion1` using the `linux` device_type. Then use Netmiko to execute another SSH session to the end device (you would need to manually handle the password here).

In other words, you would have netmiko execute something lik

[2017-11-22 19:30] ktbyers commented on #635
@etem Thanks...I think have an issue in that I am not going into "enable" mode i.e. `super level-15` before I execute the `screen-length disable` command.

I think this PR pertains to this:

https://github.com/ktbyers/netmiko/pull/624/files

And there might be a separate issue on this in Netmiko also.

[2017-11-22 19:46] lodpp commented on #633
Thanks @ktbyers for the lead, I'm testing this out asap

[2017-11-22 19:55] ktbyers commented on #633
This is pretty much the same issue except she was using a router as the intermediate device to access an ASA:

https://github.com/ktbyers/netmiko/issues/470

[2017-11-22 22:54] redmage123 opened #636 "netmiko telnet cisco router"
Hi.

What is the status of netmiko and telnet.  I've trying to connect to a virtual cisco router using dynamips on an ubuntu 16.04 system.  I saw that (supposedly) netmiko should work with telnet.  I've written some code that looks like this:

#!/usr/bin/env python3

from netmiko import ConnectHandler

cisco_7200 = {
              'device_type': 'cisco_ios_telnet',
              'ip': '127.0.0.1',

[2017-11-22 23:06] zeepi222 commented on #636
What does the output look like when you manually telnet to the virtual router on port 2015 ?

[2017-11-22 23:47] redmage123 commented on #636
root@python-server1:~# telnet localhost 2015
Trying 127.0.0.1...
Connected to localhost.
Escape character is '^]'.
Connected to Dynamips VM "R3" (ID 0, type c7200) - Console port
Press ENTER to get the prompt.
nfg (Timed out)
*Nov 22 23:03:28.067: %SYS-4-CONFIG_RESOLVE_FAILURE: System config parse
from (tftp://255.255.255.255/router3-confg) failed
%Error opening tftp://255.255.255.255/router3.cfg

[2017-11-22 23:52] zeepi222 commented on #636
Perhaps automatic config download is causing an issue. Can you disable service config and try again?

Router#config terminal
Enter configuration commands, one per line.
Router(config)#no service config
Router(config)#exit
Router#copy running-config startup-config

[2017-11-23 00:40] ktbyers commented on #636
Telnet support is fine. This looks like you are connecting via terminal server (GNS3 console, however). In other words, the above behavior is not the normal behavior for a Cisco router and telnet (which would prompt for a username/password).

You probably want to use the following device_type instead:  `generic_termserver_telnet`

You can then use `read_channel` and `write_channel` to read all of

[2017-11-23 00:40] #636 closed

[2017-11-23 04:15] ktbyers commented on #459
@bobwinners  I put this fix in:

https://github.com/ktbyers/netmiko/commit/ce50e3ab7afac805d97e11fc04d1753e034bc59a

Let me know if it fixes the problem.

[2017-11-23 04:15] #459 closed

[2017-11-23 07:48] redmage123 commented on #636
Hi.

Thanks for the info.  I've gotten a bit farther, but i'm still getting an
error about not finding the prompt.  i've modified my code accordingly...

import time

cisco_7200 = {
              'device_type': 'generic_termserver_telnet',
              'ip': '127.0.0.1',
              'port':2015,
}

net_connect = ConnectHandler(**cisco_7200)
net_connect.write_channel ('\r\n')
time.sleep(1)
net_c

[2017-11-23 13:06] tomikovaknin opened #637 "Netmiko - add multiple files, from different folders to mail."
hi all

im trying to get some reports from my network devices with netmiko.
i implement script that log into list of devices and runs commands from list of commands.
now, i add all to be export to mail.
the issue, its send me just the output from the last directory.

this is my code:
[code]
`

[2017-11-23 17:31] ktbyers commented on #187
I put a fix for the different prompts here...it only took about 18 months :-)

https://github.com/ktbyers/netmiko/commit/471e0b2f4a82d9b72e16353cf24e3b85201724cb

I didn't make any modifications to the ANSI escape codes.

[2017-11-23 17:31] #187 closed

[2017-11-23 17:33] #206 closed

[2017-11-24 04:19] #285 closed

[2017-11-24 04:25] #269 closed

[2017-11-27 10:32] etem opened #639 "Redispatch - connect back to the terminal server."
I'm running a script on Windows workstation which connects to a terminal server, switches and and gets some output. It works perfectly fine on a single switch.
But I would like to improve the script to run on multiple devices.
For example :

[code]
From the logs I see that the last redispatch is not working. Any ideas on how to fix that?

[2017-11-27 17:35] ktbyers commented on #599
You can just save your connection objects and then reuse them. So store them in a dictionary where the key is some identifier to the device. Then retrieve the connection and use it.

[2017-11-27 17:46] ktbyers commented on #637
@tomikovaknin This file write here:

[code]

is a destructive operation i.e. it completely overwrites the file each time it is called.

You might want to save up all the output and then write it to a file or use 'a' to append onto the end of the file.

[2017-11-27 17:46] #637 closed

[2017-11-27 19:04] rosspbarnes opened #640 "connection timeout"

[2017-11-28 00:09] ktbyers commented on #639
@etem Can you show me what the log shows?

[2017-11-28 03:54] #640 closed

[2017-11-28 14:04] etem commented on #639
@ktbyers  Here are the logs :

`DEBUG:netmiko:read_channel: `
`DEBUG:netmiko:write_channel: b'quit\n'`
`DEBUG:netmiko:read_channel: `
`DEBUG:netmiko:read_channel: quit`

`DEBUG:netmiko:read_channel: `
`DEBUG:netmiko:read_channel: `
`DEBUG:netmiko:read_channel: Connection to X.X.X.X closed.`

`[01;32jumpserverhostname[01;33m ~ $ [00m`
`DEBUG:netmiko:read_channel: `
`DEBUG:netmiko:read_channel: `

[2017-11-28 15:02] etem commented on #639
This is what I'm trying to do.

[code]

I'm trying to create a script which needs to read a list with devices from a text file(devices will be delimited using a newline), execute a user specified command on each device and save the command output to a text file.

[2017-11-28 17:51] tafiela opened #641 "IOError: Search pattern never detected in send_command_expect: router\_1\(config\)\#"
Hi,

I am trying to write a script to change hostnames and deploy a configuration template (on cisco devices).  After fighting and fixing one issue after the other (im new to python), i am finally stuck.

i was able to deploy the template from a file, this was successful. Where im having issue is the simple one command change (hostname <name>). please any suggestion to improve my script or to fix

[2017-11-29 04:04] ktbyers commented on #641
Given what you have above, you can just do this:

[code]

[2017-11-29 04:04] #641 closed

[2017-11-29 05:19] #633 closed

[2017-11-29 05:22] ktbyers commented on #639
Try changing this:

[code]

To
[code]

By default send_command is trying to find the trailing prompt of the hp_comware and when you quit it never occurs.

Let me know if that fixes your original issue.

[2017-11-29 15:27] etem commented on #639
@ktbyers It's working perfectly!
Thank you! Appreciate your help.

I'm just curious, are there any other differences between `send_command()` and `send_command_timing()` except that the first one is waiting for the trailing prompt and second one is executing commands with a delay?

Is the operation of `send_command_timing()` is affected by the global_delay_factor setting in BaseConnection?

[2017-11-29 16:56] ktbyers commented on #639
@etem In general `send_command` works more reliably and generally should be used in cases when the router's prompt is returned. `send_command` also has an argument for a regular expression pattern to detect (instead of the trailing prompt).

`send_command_timing` is entirely timing based and tries to figure out when the command is done based on no more data being available. I use it in cases like

[2017-11-29 16:56] #639 closed

[2017-11-30 14:10] ChrisTucker-BL opened #642 "Problem with send_command() for Cisco context-sensitive prompts"
By default, send_command() auto-finds the current prompt and uses this to match the prompt returned by the command.  However, some Cisco commands change the prompt according to context.  Here's a simple example from the SSH console of the Nexus 9000 APIC I'm using:

apic1# conf t
apic1(config)# dns
apic1(config-dns)# show clock
Time : 06:35:08.450 UTC Thu Nov 30 2017

apic1(config-dns)# exit
apic1

[2017-11-30 16:56] ChrisTucker-BL commented on #642
Oops.  I just discovered send_config_set(), which does what I want.

[2017-11-30 16:56] #642 closed

[2017-11-30 17:05] Zalek-Git opened #643 "Juniper - ValueError: Router prompt not found: '%'"
I am trying to use netmiko on a Juniper SRX but I am hitting Router prompt not found: error. Any help is appreciated.

Below is the exact error

[code]

Below is my code

[code]

[2017-11-30 17:32] ktbyers commented on #643
@Zalek-Git What does your shell look like after you login?

In other words, when you SSH in as root can you post the very beginning of the session (what it looks like when you do this manually)?

[2017-11-30 21:43] LongBeachHXC opened #644 "Timeout to SSH Confirmed and Reachable device"
Hey Kt,

I have the following code but the script is timing out when attempting to login to the devices. I have confirmed that I can SSH to the device and I can reach the device.

from getpass import getpass
from netmiko import ConnectHandler
from netmiko.ssh_exception import NetMikoTimeoutException
from paramiko.ssh_exception import SSHException
from netmiko.ssh_exception import AuthenticationExc

[2017-11-30 22:00] LongBeachHXC commented on #644
Okay nevermind...I see what is happening. I removed the exception handling and netmiko spit back

netmiko.ssh_exception.NetMikoTimeoutException: Connection to device timed-out: cisco_ios  10.128.96.17:22

It appears that a colon and number are being added to the end of my IP addresses. So now I need to figure out how to remove the colon and number.

Thanks!

[2017-11-30 22:00] #644 closed

[2017-12-01 08:43] Zalek-Git commented on #643
login as: root
Using keyboard-interactive authentication.
Password:
Last login: Fri Dec  1 01:09:28 2017 from 10.1.34.72

--- JUNOS 15.1X49-D45 built 2016-04-25 07:29:58 UTC
% cli

root@SRX300-1> configure
Entering configuration mode
Users currently editing the configuration:
  root terminal u0 (pid 1755) on since 2017-11-30 22:16:42 UTC, idle 16:25:05
      [edit]

[edit]
root@SRX300-1#

[2017-12-01 08:44] Zalek-Git commented on #643
Is this what you wanted or smt else?

[2017-12-04 07:55] S2heeminS2 commented on #470
I appreciate about this posting! I also tried to bound to cisco device to another, and It perfectly worked for me. Thank you so much, both of you are so sweet to me :-D

[2017-12-04 10:45] Swandip commented on #383
Hi KTbyers

I have similar issue I need to pull some show commands output from Cisco devices connected through only the console server. The cosole server uses my LDAP username and password to connect in 1st place and then it connects to  Cisco Device which again ask for second username and password.

I can pull the details from the devices in which I am able to   directly ssh with help of below sc

[2017-12-04 18:51] ktbyers commented on #383
@Swandip You could possibly try using a `terminal_server` device type and then writing all of the glue code to get fully logged in.

After you are fully logged in then you would do the redispatch from #470

[2017-12-05 12:10] tamsel2017 opened #646 "Trying to upgrade/downgrade Dell Force10 Switch via netmiko. The reload output buffer fails the script"
Hi Experts,

I am trying to upgrade or downgrade a Dell Force10 Switch with a input image name and then to reload the switch to verify if the switch has booted using the input image name via netmiko library using SSH.
Steps I follow:
1. configure the boot image
2. wr memory
3. reload
         - in reload there is a interactive dialog as follows:
         System configuration has been modified. Sav

[2017-12-05 13:50] tamsel2017 commented on #646
Hi Experts,

I modified the below code for **"expect_string"** as **'' (null string)** and its providing the buffer and the switch reload process starts.

output_buffer_3 = remote_conn.send_command_expect(cmds_3, expect_string='password:', max_loops=250, delay_factor=2)

As a next step I am trying to initiate a new ssh connection via Netmiko and get the Switch prompt. As the switch is reloading  s

[2017-12-06 07:16] tamsel2017 commented on #646
Hi Team,

Any thoughts on getting the switch prompt after reload operation ?

Thanks in Advance

[2017-12-06 11:25] tamsel2017 commented on #646
Hi Team,

The reload is successful. When the switch is booting up and when the script tries to establish ssh connection using netmiko, I am getting the below error

Traceback (most recent call last):
  File "upgrade_downgrade_ssh_ftos.py", line 7, in <module>
    dut1 = Dut('xx.xx.xx.xx', 'admin', 'admin', 'secretpass')
  File "/working_files/upgrade/dut.py", line 12, in __init__
    self.timeout

[2017-12-06 18:01] ktbyers commented on #646
@tamsel2017 The last error is because Netmiko is unable to connect to port 22 on the device. Have you verified the switch has fully rebooted and that you can manually SSH into (in other words, have you given enough time in your program for the switch reload to fully complete).

[2017-12-07 00:37] mjuenema opened #647 "File transfer fails on dir() command on IOS"
I am still in the process of researching this but at least on Cisco IOS 15.x the `CiscoBaseConnection._autodetect_()` method fails because the `dir` command is not working in "EXEC" mode.
[code]

[2017-12-07 05:11] himanshuvaish opened #648 "Multiple SSH connections using same session"
I am very new to Python. Our current requirement is that we have to do multiple SSH on the same session to reach a gateway. I am able to conenct to gateway and display output on CLI. I want to pop open the last telnet session so that the engineer can continue work and interact with Cisco iOS CLI.

import paramiko
import time
from paramiko_expect import SSHClientInteraction
import time
import sys
i

[2017-12-07 05:20] NedySuprianto opened #649 "ValueError: Failed to enter enable mode. Please ensure you pass the 'secret' argument to ConnectHandler."
Dear Ktbyers,

I have a issue that tell me to pass the **secret** argument when i wan to telnet to catalyst 2900 series it's **_stack switch_**, but i already pass the secret argument and then, i try to reopen my program and try to connect again and its work.

**Error Message**
[code]

**Code**
[code]

Thanks.

[2017-12-07 06:27] tamsel2017 commented on #646
Hi Kirk,

Thanks.

I have provide the time as follows in my code

dut1 = Dut('xx.xx.xx.xx', 'admin', 'admin', 'secretpass', timeout=300, session_timeout=300, keepalive=1, delay=180)

In the Class DUT, I have provided the following params
dell_force10 = {
                'device_type' : 'dell_force10',
                'ip' : self.ip,
                'username' : self.username,
                'pass

[2017-12-07 07:00] mdanish101 commented on #598
Hi Guys ,
I am going through the same issue .
I have supplied multiple enable secrets via a list and I want to know which one is correct enable secret .
But the problem is when any incorrect enable secret is passed in net_connect.enable() it is throwing error.
How can I skip the error and continue loop execution ?

var=['cisco123','cisco']
for i in var:
    new_rtr = {
 'device_type': 'cisco_ios_t

[2017-12-07 07:02] mdanish101 commented on #598
My router correct enable secret is 'cisco' , but script is throwing error when it is picking 'cisco123' . Any way to come out of this problem?

[2017-12-07 18:11] ktbyers commented on #648
Maybe look at Salt...there has been some (small) amount of work to integrating a Netmiko session reuse/locking for Salt.

[2017-12-07 18:11] #648 closed

[2017-12-07 20:00] BigPat opened #650 "Issue with using .enable() with Arista devices"
I am having an issue with using the .enable() function with Arista devices.   For example when I use my net_connect variable as my connection handler I will then use "net_connect.enable()" and it fails every time.

I tried using "arista_eos" and "cisco_ios" as the device types, it works with both to connect to the devices but they cannot enter privileged mode with the net_connect.enable() command.

[2017-12-07 20:17] BigPat commented on #649
Personally in my code I use the same password for password and secret.  If they are the same then try doing this.
[code]
I personally do mine like this:

[code]

[2017-12-08 00:13] ktbyers commented on #649
@NedySuprianto Can you try setting the `global_delay_factor=2` (or 4) to ConnectHandler.

This will help isolate if it is a timing issue.

[2017-12-08 00:15] ktbyers commented on #650
@BigPat Can you post the exception that happens when you try to go into .enable()

Note, you will have to probably get rid of your `try / except` so that the actual exception occurs.

[code]

[2017-12-08 00:18] ktbyers commented on #598
You are setting it the variable `i` here:

[code]

So it is going to be what you set it to. If you want it to be 'cisco123' then:

[code]

You probably should complete remove your `for` loop.

[2017-12-08 00:18] #598 closed

[2017-12-08 01:48] NedySuprianto commented on #649
@BigPat i'm use different password for password and secret.

@ktbyers so i need to set the `global_delay_factor=2` to ConnectHandler like this?

[code]

[2017-12-08 02:45] BigPat commented on #650
@ktbyers I removed the try statement and below is all of the returned error lines, I bolded exceptions and things that I thought may be related possibly.

[code]

[2017-12-08 03:19] BigPat commented on #650
@ktbyers  Note that I also tried adding "global_delay_factor=2" to my net_connect connect handler and "session_preparation()" and I still get the same exceptions.  I have triple checked my code and tested it on cisco_ios with other cisco devices and it works just fine.

[code]

[2017-12-08 04:45] tamsel2017 commented on #646
Hi KIrk,

I am trying a ping method approach for resolving the switch reload time.sleep(60).

Presently I am pinging the switch using subprocess once the switch reload takes place using a for loop and I compare if the ping is successful for a count of 60 to 70 and then I trigger a netmiko ssh connection. So far the subprocess call is working fine and I dont use time.sleep(60) as this is static and

[2017-12-08 04:54] mdanish101 commented on #598
Thanks Kirk ,
Purpose of my code : I have supplied multiple enable secrets via a list and I want to know which one is correct enable secret . That is the reason I am using 'for' loop . Now problem is when first wrong enable secret is selected my code throwing error but I want to skip this error and continue loop execution for other available passwords in list.

[2017-12-08 05:01] BigPat commented on #650
@ktbyers I found the solution.  Kind of odd solution but I had to move the net_connect.enable() under the connectHandler.  Take a look at the code below you will see where I moved it to and where I moved it from.

That combined with the global_delay_factor=2 could have done it.  Either way it works now, I just hope that it works with the rest of my script.  We will see!!

Thanks for the help!

[co

[2017-12-08 13:55] ogenstad opened #652 "Issue with connecting to Huawei devices"
Opening this to remember myself. I'm seeing some issues when using Netmiko from Brigade against Huawei devices.

[code]

I typically get this against 20 or so devices out of 2500, and not the same 20 on each run. Might be some timing issue. Probably the `prompt` is "".

[2017-12-08 15:00] himanshuvaish opened #653 "Need to Pop open remote SSH window"
Our current requirement is that we have to do multiple SSH on the same session to reach a gateway. I am able to conenct to gateway and display output on CLI. I want to pop open the last telnet session so that the engineer can continue work and interact with Cisco iOS CLI.

Ktbyers said:"Maybe look at Salt...there has been some (small) amount of work to integrating a Netmiko session reuse/locking f

[2017-12-08 17:31] selfuryon commented on #162
@sivabudh, You can just use [netdev](https://github.com/selfuryon/netdev) library. It very similar to netmiko by public API but inside it uses asyncio so you can use it in an asynchronous way.

[2017-12-08 19:51] ktbyers commented on #162
@selfuryon @sivabudh Yes, I would look at `netdev` if you want to use asyncio.

[2017-12-10 18:14] Zalek-Git commented on #643
Btw I am running this on Python 3.6, does it matter or should I try it with Python 2?

[2017-12-10 19:37] tonypnode commented on #643
Looks like the prompt netmiko should be looking for is # rather than a % (see the last line in the error)

[2017-12-10 19:39] tonypnode commented on #643
I bet if try changing the device type to cisco_ios as a test, it might work. I’m looking through the code to see if you can override the prompt rather than specifying the device type as Cisco

[2017-12-10 20:19] tonypnode commented on #643
After a little digging, can you check your base_connection.py lines 657 -676. From what im gathering the pri_prompt_terminator should be set to ‘#’. It looks like yours is Set to ‘%’

[2017-12-11 05:46] tamsel2017 commented on #646
Hi Kirk,

I used the below Ping code in a for loop and set a count=70 and wait_time = 70 in the below code. The loop can be executed as required for any count.

ping_response = subprocess.Popen(["/bin/ping", "-c" + str(count), "-w" + str(count), ip_address_of_the_device], stdout=subprocess.PIPE).stdout.read()

I have used a if condition to stablize the ping using a consistent ping success of 70 or

[2017-12-11 10:17] Zalek-Git commented on #643
Hi Tony
Thank you a lot for looking into it. I will see what I can do. I am not sure where base_connection.py lies, but I will dig around and update.

Regards

[2017-12-11 12:18] sivabudh commented on #162
@selfuryon Whao. netdev looks cool. Did you take inspiration from netmiko?

[2017-12-11 12:40] selfuryon commented on #162
@sivabudh Yes, netmiko was very useful for our company and I'd like it :) I researched asyncio at the same time so I decided to make a library like netmiko but only with using asynchrony.

[2017-12-12 10:12] Zalek-Git commented on #643
Hi Tony

I think I might need to add _%_ to the set_base_prompt function, because in when you first login you first end up in linux shell (%), and it seems it is what the code is not recognizing.

[2017-12-12 12:24] Swandip opened #655 "Unable to SSH to device"
@ktbyers

I am trying to access the file IPAddressList and create new file for every ip in the list with few 'show outputs'

I am trying the below script:

from __future__ import print_function
from netmiko import ConnectHandler
import sys
import time
import select
import paramiko
import re
import getpass

platform = 'cisco_nxos'
username = 'admin' # edit to reflect
password = getpass.getpass()

i

[2017-12-12 12:34] Zalek-Git commented on #643
Ok I have edited base_connection.py lines. Adding shell_promt_terminator='%' to function set_base_promt and adding it to the list seems to solve that error I was experiencing earlier.

But now I am getting the below error
show:command not found

I think this is because I go into Linux Shell in my Juniper device and not to the operational mode (>) where I can run that command.

I added the below to

[2017-12-12 13:10] #655 closed

[2017-12-12 13:10] Swandip commented on #655
I got the solution thank you....

[2017-12-12 16:53] tonypnode commented on #643
Gotcha...I wanted to make sure that your netmiko code base wasn't changed.  The fact that you got a little further does point us in a direction though.

I recommend changing it back. I would also recommend reinstalling or upgrading netmiko to ensure you are on the latest codebase.

Also, just so I am clear, (I am unfamiliar with Juniper), are you deviating from the normal management of a Juniper d

[2017-12-12 17:14] ktbyers commented on #643
@Zalek-Git Can you test out the new develop branch?

I added this fix:

https://github.com/ktbyers/netmiko/commit/06a57747d93d640baf67e6118ce5abbf886f7808

Basically, my SRX100 shows `root@%` when I login to the shell so I was looking for the `root@` pattern. I also added the following pattern `%` (i.e. a completely blank c-shell prompt).

For my information did you customize your c-shell or is th

[2017-12-13 09:56] Zalek-Git commented on #643
@tonypnode

I have installed netmiko only a week ago but I will reinstall it just in case.

Getting into Linux Shell is normal when loging into a Juniper device. The steps are
1) Linux shell (%)
2) Enter the command "cli". This gets you into operational mode (>) where you can run _show_ commands etc
3) Enter "conf" to enter configuration mode (#) to configure the device

@ktbyers

I have not playe

[2017-12-14 17:46] ktbyers commented on #643
@Zalek-Git So why are you seeing only `%` for the prompt? That is inconsistent from the above?

All of the above should work with the release Netmiko version.

[2017-12-14 22:59] zhtan opened #656 "Support for Juniper Screen OS"
Very new to this library. Does the library support Juniper Screen OS?

[2017-12-14 23:22] ktbyers commented on #656
No, unfortunately, there isn't any support for Screen OS. I think someone tried at one point...but were some issues (this is from a long-time ago though...).

[2017-12-14 23:23] zhtan commented on #656
I see. Thank you for the quick response!

[2017-12-14 23:40] ktbyers commented on #647
@mjuenema Can you show me Python your stack trace?

Is this a file transfer issue or an auto-detection issue (or both)

[2017-12-14 23:40] ktbyers commented on #656
No worries :-)

[2017-12-14 23:40] #656 closed

[2017-12-14 23:42] ktbyers commented on #649
@NedySuprianto Did the global_delay_factor change work?

[2017-12-14 23:48] ktbyers commented on #598
@mdanish101 Use a Python `try / except` statement to catch the exception and then move onto the next secret.

[2017-12-14 23:51] #650 closed

[2017-12-14 23:55] ktbyers commented on #652
So it is failing on set.base_prompt(). Netmiko is expecting the last character to be either '>' or '#'.

Yes, the prompt must be coming back as a null string for some reason.

It sounds like probably a timing issue (as you mentioned).

[2017-12-14 23:57] ktbyers commented on #653
You are probably going to have to build something. There probably isn't what you want already pre-made.

[2017-12-14 23:57] #653 closed

[2017-12-15 00:01] #646 closed

[2017-12-15 04:07] ktbyers commented on #630
@hazelfire5 Can you provide some more details on what the issue is i.e. what is the underlying problem?

Note, the WLC already has a special login handler which might be relevant to this discussion. This gets called before the `session_preparation()` method:

[code]

[2017-12-15 12:20] Swandip opened #658 "Issue for running command output in Nxos"
Hi @ktbyers

I am able to get output of sh run and sh mac address-table by using

 output = device.send_command('sh run') or  output = device.send_command('sh mac address-table')

But when i try to output = device.send_command('sh int status  | i connected | count')

It fails is their any other way of doing it.

[2017-12-15 16:33] Zalek-Git commented on #643
No the mention of % was based on the error I was getting, and it was a guess of the cause
ValueError: Router prompt not found: '%'

I rebuilt the code instead of using the one in junos pyez cookbook. I just used the bare essentials to test and it works. I will look into the code in the book to see what was causing the error later.

[code]

[2017-12-15 18:11] ktbyers commented on #643
@Zalek-Git You posted this above:

[code]

with a prompt of `%`...so this is not what it looked like?

[2017-12-16 00:12] ktbyers opened #659 "Netmiko fails to install on windows due to textfsm/terminal/fcntl import"

[2017-12-16 01:35] ktbyers commented on #659
https://github.com/google/textfsm/issues/20

[2017-12-16 16:31] wmann commented on #658
You could get the whole output and do the filtering in your python code. What error do you get?

[2017-12-16 17:36] ktbyers commented on #658
@Swandip ...that should work...what error do you see?

Kirk

[2017-12-16 20:53] mjuenema commented on #647
I am going to provide more detail when I have access to my development environment again, which won't be until in about six(!) weeks time.

[2017-12-17 02:10] vjuagar opened #660 "Error to connet witch switch Allied Telesis"
Hi, I'm trying to establish a connection with an Allied Telesis 8000s switch and I can not get it. with the same code I tried a server and I was able to make the connection without problems and execute a command. I think the problem is because the switch asks me for a loggin before the user. Thank you

[2017-12-18 12:20] Zalek-Git commented on #643
That was the output from the putty session log, so I am a bit confused as well now. Because now when I login to the same device I get. I can not replicate the same output.

Using keyboard-interactive authentication.
Password:
Last login: Fri Dec 15 15:19:40 2017 from 10.1.34.99
--- JUNOS 15.1X49-D100.6 built 2017-06-28 07:08:37 UTC

root@% cli
root> configure
Entering configuration mode
Users curr

[2017-12-18 12:21] Zalek-Git commented on #643
However, I did upgrade the SRX300 from D45 to D100 software, maybe that might explain the difference in behaviour

[2017-12-18 14:58] ghmj2417 opened #661 "SCP File Transfer - Unsupported device type 'cisco_xe'"
Previously, device type 'cisco_xe' was supported for SCP file transfers.  Now I receive 'Unsupported device type: currently supported platforms are:'.  The funny thing, my device type is listed in the output and I am pretty sure I know why.

The FileTransfer function checks for any device types in here:
FILE_TRANSFER_MAP = {
    'arista_eos': AristaFileTransfer,
    'cisco_asa': CiscoAsaFileTransf

[2017-12-18 17:13] ktbyers commented on #661
@ghmj2417 This is just a bug...i.e. I forgot to map ios_xe (as it should behave identical to cisco_ios here). I would just use a `device_type` of `cisco_ios` until I fix it.

[2017-12-18 17:55] ghmj2417 commented on #661
@ktbyers That's what I did (changed my device type to cisco_ios).  I just wanted to make sure you were aware and I provided you with enough info for what I was seeing.  Too many times I see people open issues stating something doesn't work and that is it.  They don't explain what steps they have used to duplicate the problem, and what investigation they have completed to help resolve the problem.

[2017-12-18 18:36] ktbyers commented on #661
@ghmj2417 Yes, definitely thanks for reporting it (I wasn't aware that I had done this)...also I think you reported a second issue as well (i.e. that I am not reporting SCP support for failed device types). In other words, for Secure Copy I should indicate which platforms are supported there.

[2017-12-18 18:57] ghmj2417 commented on #661
@ktbyers Yes, the second issue is that the supported types are not being shown.  You are showing all types.  Would you like me to create an additional issue?

[2017-12-18 19:01] ktbyers commented on #661
@ghmj2417 No, this is fine...I should remember it from this issue.

[2017-12-19 22:06] RamVic opened #662 "Connect via SSh to ASA"
Hello ,I have a problem when I try to conecct to my ASA , I have a simple script only for connect , when I connect via ssh to my ASA I have to put -oKexAlgorithms=+diffie-hellman-group1-sha1  , I dont know if that have some relation.

Traceback (most recent call last):
  File "prueba.py", line 10, in <module>
    device = ConnectHandler(device_type=platform, ip=host,username=username,password=pass

[2017-12-19 23:01] RamVic commented on #662
Ohh I forget a secret , now is connected :D , I have some questions ,
1) I need the script to connect to some FWs ASA and make a copy start-up config tftp: xxxxxxxx , as script to automatic backup .
How can I make it?
How can I hide the pass and user ?

Thanks a lot

[2017-12-19 23:58] ktbyers commented on #662
Use

[code]

See https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#show-commands-that-prompt-for-more-information

I assume you mean hide the password in your code? Use:

[code]

To prompt for a password upon script execution.

[2017-12-20 12:15] RamVic commented on #662
#! /usr/bin/python

from netmiko import ConnectHandler

platform = 'cisco_asa'
host = '10.54.116.248'
username = 'xxxxxx'
password = 'xxxxxxx'
secret = 'xxxxxxxx'
net_connect = ConnectHandler(device_type=platform, ip=host,username=username,password=password ,secret=secret )

output=net_connect.send_command_timing("copy startup-config tftp://10.54.248.56")
print output

When I execute the scrip  th

[2017-12-20 13:14] RamVic commented on #662
I try to make this but is not working

output=net_connect.send_command_timing("copy startup-config tftp://10.54.248.56")
if 'address or name of remote host' in output:
  output += net_connect.send_command_timing("10.54.248.56")

[2017-12-20 14:27] RamVic commented on #662
I made this

net_connect = ConnectHandler(device_type=platform, ip=host,username=username,password=password ,secret=secret )

output=net_connect.send_command_timing("copy startup-config tftp://10.54.248.56")
if  'Address or name of remote host [10.54.248.56]?' in output:
   output += net_connect.send_command_timing("10.54.248.56")
if 'Destination filename [startup-config]?' in output:
    output +

[2017-12-20 15:18] RamVic commented on #662
Now seems it working, But I can't find the file in the server .

root@ardc1svpla020:/tmp/Config_Routers # python2.7 prueba.py
76122 bytes copied in 0.490 secs

net_connect = ConnectHandler(device_type=platform, ip=host,username=username,password=password ,secret=secret )

output=net_connect.send_command_timing("copy startup-config tftp://10.54.248.56")
if  'Address or name of remote host [10.54.24

[2017-12-20 17:53] ktbyers commented on #660
Someone will need to create an Allied Telesis driver. The process for creating a new driver is here:

https://github.com/ktbyers/netmiko/blob/develop/VENDOR.md

[2017-12-20 17:53] #660 closed

[2017-12-20 18:19] ktbyers commented on #643
Okay, I think this issue should be resolved. If not, let me know.

[2017-12-20 18:19] #643 closed

[2017-12-20 18:40] ktbyers commented on #661
Fixed here:

https://github.com/ktbyers/netmiko/commit/9f0bc19c29912dfbd881b011c206413aa2d1485a

and here:

https://github.com/ktbyers/netmiko/commit/a505dc78095700b68f8dfc23ca46fbe33772b764

[2017-12-20 18:40] #661 closed

[2017-12-20 19:04] ktbyers commented on #662
@RamVic Have you done the entire process manually? Do you see the file on the server then?

Then just repeat that process in code and verify it was done identically via looking at print(output).

Note, here...I would do this instead:

[code]

[2017-12-20 19:21] ktbyers commented on #662
Does it work properly when you do it manually?

[2017-12-20 19:32] RamVic commented on #662
Do you say manually from the FW?? Yes, works
and from server too
root@ardc1svpla020:/tmp/Config_Routers # python2.7 prueba.py
Address or name of remote host [10.54.248.56]?
Destination filename [startup-config]? !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
176122 bytes copied in 0.460 secs

But I see the name startup-config and not pruebauno , can I pass a FW'hostname to the name ?? something like

[2017-12-20 20:01] ktbyers commented on #662
@RamVic Can you post the entire manual CLI session?

[2017-12-20 20:06] RamVic commented on #662
#! /usr/bin/python

from netmiko import ConnectHandler
#f = open ('/home/igord/firewall_list','r')
#mensaje = f.readlines()
#print mensaje

platform = 'cisco_asa'
host = '10.54.116.248'
username = 'xxxxxxxx'
password = 'xxxxxxx'
secret = 'xxxxxxx'

net_connect = ConnectHandler(device_type=platform, ip=host,username=username,password=password ,secret=secret )

hostname=net_connect.send_command_timi

[2017-12-20 20:08] ktbyers commented on #662
Not your code...the manual CLI session i.e. exactly what it looks like when you do it manually.

[2017-12-20 20:10] RamVic commented on #662
manually from the FW??? or executing the script?

[2017-12-20 20:11] ktbyers commented on #662
Yes, manual from the FW (i.e. from the CLI).

[2017-12-20 20:12] ktbyers commented on #662
If your script isn't showing the same result as manual, then your script is doing something different than when you do it manually.

[2017-12-20 20:15] RamVic commented on #662
ARDC134FW000003-Internet# copy startup-config tftp://10.54.248.56

Address or name of remote host [10.54.248.56]?

Destination filename [startup-config]? pruebauno
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
176122 bytes copied in 0.560 secs

and I see in the server the file
root@ardc1svpla020:/tmp/Config_Routers # ls -la /tftpboot/pruebauno
-rw-r--r--  1 nobody  wheel  176122 Dec 20 17:13 /tftpbo

[2017-12-20 20:28] ktbyers commented on #662
And what do you see when you print `output` from your code execution?

[2017-12-20 20:31] RamVic commented on #662
root@ardc1svpla020:/tmp/Config_Routers # python2.7 prueba.py
ARDC1FW000003-Internet

Address or name of remote host [10.54.248.56]?
Destination filename [startup-config]? !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
176122 bytes copied in 0.500 secs

[2017-12-20 20:56] ktbyers commented on #662
I would change this section:

[code]

[2017-12-21 11:53] RamVic commented on #662
Good day Kirk, I did the change and now is working :O , the only change that I'm seeing is
output += net_connect.send_command_timing("\n").   . that was a problem??

I make the last question , How can I make to the file have the hostname of the ASA??

Thanks very much for your patience.

[2017-12-21 17:17] ktbyers commented on #662
I assume you mean the saved file on the TFTP transfer. Just use the `hostname` variable you have above (process it to make sure it is what you want) and then send that as the name of the file when the router prompts you (where you are sending "pruebauano" now).

[2017-12-21 17:17] #662 closed

[2017-12-26 18:18] ryanbowen commented on #659
Any progress on this?

[2017-12-27 00:41] ktbyers commented on #659
You can test this branch:

https://github.com/ktbyers/netmiko/tree/clitable_fix

There is a fix in there. I haven't released it yet, but let me know if it works.

[2017-12-27 01:04] ktbyers opened #663 "send_config_set hostname changes add unit tests for Cisco IOS"
Looking for trailing router prompt in check_config_mode

[2017-12-27 04:14] ryanbowen commented on #659
I'll give it a test run tomorrow morning when I get back into work. Thanks for the update.

[2018-01-03 18:13] RamVic opened #665 "ssh problem"
Hi Kirk , I have a little problem (one more hah),
I'm trying to read a file where there is a password and put it in a variable called contenido , when I print the variable contenido I see the password ok , but when execute the scrypt I get authentication failure

root@ardc1svpla020:/tftpboot # vim /tmp/Config_Routers/prueba.py
#!/usr/bin/python

from netmiko import ConnectHandler

archivo = open('

[2018-01-03 18:18] #665 closed

[2018-01-04 14:41] mreams13 commented on #659
It works for me (Windows 10).

[code]

[2018-01-04 16:24] ryanbowen commented on #659
@ktbyers It works for me also. Thanks for the update.

[2018-01-04 17:56] ktbyers commented on #659
Okay, I will see if I can clean it up slightly and get it released.

[2018-01-07 05:33] malbaqari opened #667 "Error Importing ConnectHandler"
Hello,

I am using python 3.5.2. When running my script, I am getting the follow trace.

Traceback (most recent call last):
  File "C:\Users\mohammed.baqari\workspace\Test_lab\Testing_Coding.py", line 1, in <module>
    from netmiko import ConnectHandler
  File "C:\Program Files (x86)\Python35-32\lib\site-packages\netmiko\__init__.py", line 8, in <module>
    from netmiko.ssh_dispatcher import Con

[2018-01-07 17:29] ktbyers commented on #667
https://github.com/ktbyers/netmiko/issues/659

I will try to get a new release out shortly.

[2018-01-07 17:29] #667 closed

[2018-01-08 03:34] ktbyers commented on #659
This is fixed in Netmiko release 2.0.1

[2018-01-08 03:34] #659 closed

[2018-01-08 13:07] dtantsur opened #672 "Incomplete import of textfsm"
I'm trying to package Netmiko 2.0.1 for Fedora, and run into the following issue when importing the package in buildroot:

[code]

Apparently, the imported code still imports "textfsm" and "copyable_regex_object". So it seems that it's still required to install textfsm, which, as far as I get gather, is problematic on Windows (and is not packaged for Fedora).

[2018-01-08 16:21] ktbyers commented on #672
@dtantsur How did you do the netmiko installation?

Yes, you still need to install textfsm. TextFSM installs fine on Windows; it fails on import due to other dependencies.

[code]

[2018-01-08 16:28] dtantsur commented on #672
@ktbyers I'm the Fedora packager for netmiko :) So, I need everything to be packaged and 'pip install' is certainly not an option. What was the reason to intern textfsm only partly? For me it seems logical to intern the complete library (plus your fixes), but I don't have enough context.

If that's the way it should be, we will have to package textfsm for Fedora (will delay packaging 2.0.x since I

[2018-01-08 16:41] ktbyers commented on #672
@dtantsur Nice to meet you Dmitry. Thanks for explaining your context.

Here are the issues with TextFSM. There are three versions of it (gtextfsm, jtextfsm, and textfsm). I believe gtextfsm is dead and no longer maintained; jtextfsm doesn't have the clitable component which I need.

So that only leaves `textfsm` which is maintained by Google. Unfortunately, they used dependencies that were Linux

[2018-01-08 16:47] dtantsur commented on #672
@ktbyers I see, thanks for the nice explanation! Unfortunately, 2.0.0 is also not an option until textfsm is packaged (I can try looking into it, of course, but again - ENEVERENOUGHTIME :). Meanwhile, do you think it's reasonable to import textfsm modules on demand? If I remember the patch correctly, they are only used in one function and with an explicit flag to enable, right? This may allow me t

[2018-01-08 16:53] ktbyers commented on #672
Yes TextFSM is only used in two methods (`send_command()` and `send_command_timing()`) and defaults to disabled.

So we could set flag like TEXTFSM_INSTALLED and then add some additional logic that checks this flag before using TextFSM.

That is probably reasonable in the short-run; in the long-run it would be nice to have that feature.

Another option is I could just bring the whole TextFSM packa

[2018-01-08 16:55] dtantsur commented on #672
@ktbyers both options look good to me, so it's up to you what you think fits the project better.

[2018-01-10 05:45] tyler-8 opened #673 "Improve Handling of Uncommon Prompt Terminators"
There should be a way to customize or look for additional prompt terminators other than `#` and `$`, particularly for Linux driver as it's possible to customize the terminator on most Linux machines.

Line in question: https://github.com/ktbyers/netmiko/blob/develop/netmiko/linux/linux_ssh.py#L22

[2018-01-10 20:42] BigPat opened #674 "Device is slow to connect via SSH and times out"
I have a device that takes about 10-15 seconds to establish connection with. The issue is that netmiko throws a timeout exception before it can connect.

How can I increase the time that the connection handler will wait until it times out?

I have searched all over your issues and cannot find a solution.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-10 20:51] BigPat commented on #674
Based on the log it failed while running “net_connect.enable().  No other devices failed when running this. I have global_delay_factor set to 5 right now and yet it still fails.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-11 00:17] ktbyers opened #675 "PAN-OS devices have a banner acknowledgement feature"
[code]

[2018-01-11 00:39] ktbyers commented on #674
@BigPat Can you post the relevant section of your code and the exception message that you get?

[2018-01-11 20:01] MorenoBandito opened #676 "ValueError Router prompt not found"
## Below is my script, I was testing to see if automating will work.

`from netmiko import ConnectHandler`

`def switch_helper():`
    `switch` `=` `{`
        `'device_type':` `'aruba_os',`
        `'ip':` `'ip',`
        `'username':'username',`
        `'password':'password',`
`}`

    to_connect = ConnectHandler(**switch)
    output = to_connect.send_command('show ip')
    print(output)

`if _

[2018-01-11 20:33] ktbyers commented on #676
@MorenoBandito So the issues is there are ANSI Escape codes in the output (that is what all this is):

[code]

What model/platform is it?

`show version` or equivalent output might help.

[2018-01-12 15:56] nahian166 opened #679 "If output returns empty"
Hi,
I am trying to get the output from the remote host of the following lines,

[code]
And those commands are inside a for loop, so for some iterations there are some output at the remote host and for some other iteration there are no output at the remote host. But I am getting output1 =4 and output2 =8 for those values which has no output at remote host. And I am getting output1= 4 25 (two output

[2018-01-12 18:38] ktbyers commented on #676
What happens if you change the Netmiko device_type to be "hp_procurve"?

[code]

The ANSI escape codes are being output by the switch. Some network devices have these automatically in the output (for example, to add color to the output).

[2018-01-12 18:40] ktbyers commented on #679
@nahian166 I would try turning on Netmiko debugging and see if that helps. This will log the reads and writes on the SSH channel.

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

[2018-01-14 00:08] t2okve opened #682 "No module named netmiko"
Hi! Great Work!

I'm having this issue where I'm not able to run any code from netmiko as I'm unable to import it.
Doing a search in Lib and in Lib/site-packages seems that there is no netmiko.py file anywhere. Tried reinstalling netmiko with no luck
![image](https://user-images.githubusercontent.com/35410943/34911275-0e549408-f8a6-11e7-9f0e-7950fc7fb950.png)

Also tried finding this file everywhe

[2018-01-14 18:16] ktbyers commented on #682
@t2okve What happens when you do this?

[code]

[2018-01-15 08:28] nahian166 commented on #679
I have done some logging, And I found following unusual thing,

[code]
DEBUG:netmiko:In strip_ansi_escape_codes
DEBUG:netmiko:repr = u'ovs-appctl fdb/show br-ext | grep -i fa:16:3e: \rc5:59:b4 | cut -d " " -f 4\r\nroot@*******:~# '
c5:59:b4 | cut -d " " -f 4 ovs-appctl fdb/show br-ext | grep -i fa:16:3e:
root@*******:~#
DEBUG:netmiko:repr = u'ovs-appctl fdb/show br-ext | grep -i fa:16:3e: \rc5:59:

[2018-01-15 13:29] nahian166 commented on #679
This is the output I am getting,

[code]

Here, I am expecting ovs_int_port =31 and this kind of output for all, here ovs_int_vlan should be empty, but it returns 8, other output are also not entirely correct.
Such as I am expecting, ovs_tun_action=action=strip_vlan,set_tunnel:0x9a,output:10

[2018-01-16 17:03] solotronics opened #684 "Pull 678 - missing file"
Pull 678 fails because there is no file HuaweiVrpv8SSH.py in netmiko/huawei
https://github.com/ktbyers/netmiko/pull/678

[2018-01-16 17:33] ktbyers commented on #684
The class is defined in `./netmiko/huawei/huawei_ssh.py` so there is no need for a separate file.

I am not seeing an issue?

[code]

[2018-01-16 17:54] jcrotts commented on #441
I am going to start working on this. I plan to do Cisco devices first, then I'll move on to the others.

[2018-01-17 17:21] solotronics commented on #684
My apologies if I am doing something incorrectly. I have my fork / develop up to date with your branch develop and I am missing HuaweiVrpv8SSH.py

It appears to be missing from develop on yours as well? https://ibb.co/hKyibm

 agaddy@AGADDY-OSX2  ~/Downloads/netmiko/netmiko   junos_shell_mode ● ?  git checkout develop

[2018-01-17 17:28] solotronics commented on #684
oh shoot I wasn't working in a virtualenv and it was referencing the PIP install netmiko and not this develop one. I will close this. sorry!

[2018-01-17 17:28] #684 closed

[2018-01-18 02:47] viperbmw69 opened #687 "Using Windows Jump Server From Windows PC to Network Device."
I have not been able to get a working script to Jump through a windows jump server running OpenSSH into a Cisco Router. This is being run from a Windows Machine to start. There is No Linux Servers in the path. I am forced to try to make this work as my company only uses Windows Jump servers. Prompt on Login is as below

administrator@XXXXXXXX C:\Users\Administrator>

I have tried a bunch of device

[2018-01-18 17:19] larby22 opened #688 "Show command on Netmiko not displaying any output!!!"
I ran the following commands below , please help

user@ubuntu:~$ python
Python 2.7.12 (default, Nov 20 2017, 18:23:56)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

...     'device_type':'cisco_xr',
...     'ip':'192.168.X.X',
...     'username':'verify',
...     'password':'Verify',
...     'port':'22',
...     'verbose': False,
... }

0/CP

[2018-01-18 17:47] larby22 commented on #688
@ktbyers kindly help

[2018-01-19 15:03] MorenoBandito commented on #676
WORKED!!!

[2018-01-19 15:03] #676 closed

[2018-01-20 06:14] samzeg opened #689 "I can't set expert password on checkpoint firewall"
Hi Experts,

I appreciate the effort that has been done to get us this valuable tool. I'm new to pythona dn I work a lot on checkpoint products and I want to use netmiko to automate stuff.
I was able to use the connethandler() fine and connect just fine to the device , even sending clish to show information or set configuration.

The issue that I'm running into is when I send the command "set expe

[2018-01-22 21:06] ktbyers commented on #687
@viperbmw69 I responded via email (with this content) as well:

This is the standard way I do this:

https://pynet.twb-tech.com/blog/automation/netmiko-proxy.html

Don't know what will work that Windows OpenSSH server though.

You could potentially SSH to the Windows server and then from their SSH to your end devices (all using Netmiko).

If you do this, you might want to look at the terminal_serv

[2018-01-22 21:06] #687 closed

[2018-01-22 23:59] ktbyers commented on #688
@larby22 Try this:

[code]

[2018-01-23 00:33] larby22 commented on #688
@ktbyers thanks for checking see output below. It's still not displaying any output.

...     'device_type': 'cisco_xr',
...     'ip': '192.168.x.x',
...     'username': 'verify',
...     'password': 'verify',
...     'port': 22,
...     'verbose': False,
... }

0/CPU0:MY_ASR9K#show version

Tue Jan 23 01:27:02.174 WAT

------------------------------------------------------------------------------

[2018-01-23 00:41] ktbyers commented on #688
What does the actual show version look like when you do it manually?

Kirk

[2018-01-23 00:48] larby22 commented on #688
@ktbyers see below sample extract.

MY_ASR9K_01#show version
Tue Jan 23 01:43:17.548 WAT

Cisco IOS XR Software, Version 5.3.4[Default]
Copyright (c) 2017 by Cisco Systems, Inc.

ROM: System Bootstrap, Version 10.50(c) 1994-2014 by Cisco Systems,  Inc.

MY_ASR9K_01 uptime is 10 weeks, 6 days, 11 hours, 53 minutes
System image file is "disk0:asr9k-os-mbi-5.3.4.sp3-1.0.0/0x100305/mbiasr9k-rsp3.vm"

[2018-01-23 01:05] ktbyers commented on #689
@samzeg Use the `send_command_timing` method. Something like:

[code]

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#show-commands-that-prompt-for-more-information

[2018-01-23 20:02] t2okve commented on #682
it seems this was my newbie mistake, I did not install in the venv. After doing this it worked. Thank you

[2018-01-23 20:02] #682 closed

[2018-01-25 16:21] networkpadawan commented on #373
any logs|debug|tests that could help? I have a lot of these devices that could use netmiko|ansible:)

[2018-01-25 16:33] pathcl commented on #373
You might need enable mode and also have 'secret' for this. Try:
``
#!/usr/bin/env python3
from netmiko import ConnectHandler
''''
hostname DELL - 1

In[6]: %run connect - s4048.py
SSH connection established to 1.1.1.1: 22
Interactive SSH session established
hostname DELL - 1

In[7]: device.send_command('show run|grep vlan')
Out[7]: 'default vlan-id 5\ndefault-vlan disable'

In[8]: print(device.se

[2018-01-25 16:39] networkpadawan commented on #373
S4048 are working here fine, S50 are not, they are FTOS8 so it seems to be a switch issue, but we have quite a lot of them:/ im testing with ntc-ansible with paramiko 2.4.0 and netmiko 2.0.1

[2018-01-25 16:50] networkpadawan commented on #373
'''
print(interfaces)SSH connection established to 10.118.14.1:22
No handlers could be found for logger "paramiko.transport"

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/netmiko/ssh_dispatcher.py", line 168, in ConnectHandler
    return ConnectionClass(*args, **kwargs)
  File "/usr/lib/python2.7/site-packages/netmiko/base_connec

[2018-01-25 16:52] networkpadawan commented on #373
with the S4048:
[code]

[2018-01-25 17:26] ktbyers commented on #688
@larby22 Can you turn on logging and find what you see.

I suspect the prompt is getting messed up because of ANSI escape codes which is causing Netmiko to not properly find the command output.

[2018-01-25 17:56] networkpadawan commented on #373
the only thing I have so far is that it seems that they are different ssh daemons running on the F10s
s4048 uses openssh6.9 and ths S50 seems to be some custom version "ssh_v2.0@force10networks.com\r" according to a pcap

[2018-01-25 17:59] networkpadawan commented on #373
an the window sizes for tcp also differ, parmiko starts with 29200 on both sessions, but on s4048 it replies with 32768 but the s50 decreases to 16384

[2018-01-25 18:10] ktbyers commented on #373
@networkpadawan You can turn on Netmiko/Paramiko debugging here:

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

Ultimately, we might have to get someone involved from Dell on the developer side...I dug into it a lot once and I could never resolve the issue.

Please post here what you see on the debuggi

[2018-01-26 00:37] MikeJurecki opened #692 "F5 Devices - SSH KEEPALIVE ISSUE"
I am having an issue where I am pulling in a list of F5 devices and then checking TACACS logins and one other check, but it keeps hanging after it runs through about 20 devices.  Basically it logs in using my user creds, runs a command, disconnects and then logs the same device with a PWoLR login and runs the same command and finally disconnects and moves onto the next device.

The issue is that a

[2018-01-26 09:01] networkpadawan commented on #373
this is what I got
[code]

[2018-01-26 09:08] networkpadawan commented on #373
`WARNING:paramiko.transport:Oops, unhandled type 3`
this one seems to be worth investigating because:
https://github.com/ansible/ansible/issues/24367
something on the pty session

[2018-01-26 10:19] networkpadawan commented on #373
with paramiko.startshell it works, but not with paramiko.exec_command
it seems that it is something with the netmiko connectHandler. I notice that dell_force reuses ciscossh code. is it possible to do a barebones dell handler? what code is needed to "duplicate"? I can test but don´t want to bork the ciscossh that is working.

[2018-01-26 11:04] networkpadawan commented on #373
[code]
calls https://github.com/paramiko/paramiko/blob/f1562d76511890c648c657c45debe57b5112872f/paramiko/client.py#L486
that acll exec command that seems to create the same issue with paramiko exec command

[2018-01-27 08:33] networkpadawan commented on #373
any help please?

[2018-01-27 08:53] networkpadawan commented on #128
@coxley did you ever managed to found a fix?

[2018-01-27 16:17] ktbyers commented on #128
@networkpadawan No, I am pretty sure there never was a fix for this.

[2018-01-27 16:19] ktbyers commented on #373
Can you post the working code with Paramiko start_shell?

[2018-01-27 16:24] ktbyers commented on #373
Yes, I agree that unhandled type 3 message is interesting.

I would just focus on a working Paramiko solution i.e. something we can connect and execute multiple commands on the channel and get the data back.

We can then figure out how to integrate it into Netmiko.

[2018-01-27 19:56] ktbyers commented on #692
Can you turn on logging and post the log file here (obscure any confidential information like passwords or IP addresses):

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

It looks like the F5 is possibly doing something unusual from Paramiko's perspective. Do you see anything in the device logs or in the

[2018-01-27 19:56] #689 closed

[2018-01-27 19:59] ktbyers commented on #679
@nahian166 Can you post the entire logfile.

Can you show me what the commands and output looks like when you execute them on the CLI of the remote device.

[2018-01-27 20:01] ktbyers commented on #674
I am going to close, if you are still having an issue, please re-open. Also post the version of the code that you are using.

[2018-01-27 20:01] #674 closed

[2018-01-27 20:01] ktbyers commented on #649
Just re-open if still having issue.

[2018-01-27 20:01] #649 closed

[2018-01-27 20:02] ktbyers commented on #647
@mjuenema Any update on this?

[2018-01-27 22:17] mjuenema commented on #647
Not, I didn't get to it yet.

[2018-01-28 04:31] samzeg commented on #689
Hi Ktbyers,
It seems the function send_command_timing() didn't do the trick, the program still stucked waiting on input.

here is my code
import netmiko
ckp = {
	   'device_type':'checkpoint_gaia',
	   'ip':'192.168.19.100',
	   'username':'admin',
	   'password':'vpn123',
}

net_connect = netmiko.ConnectHandler(**ckp)
output = net_connect.send_command_timing("set expert-password")
print (output)

[2018-01-28 13:41] networkpadawan commented on #373
not working:
[code]
working:
[code]

[2018-01-28 13:42] networkpadawan commented on #373
if I use invoke_shell with paramiko it works fine, as soon as I use exec_command it crashes with EOF error

[2018-01-28 15:02] ktbyers commented on #373
@networkpadawan Netmiko uses `invoke_shell` and not `exec_command`.

[2018-01-28 15:05] ktbyers commented on #373
And what happens in your working situation if you execute multiple commands on the SSH channel, does it continue to work?

[2018-01-28 22:00] networkpadawan commented on #373
I can keep executing:
[code]
[code]
the session does not close.

I understand that netmiko uses invoke_shell, but can it be something on the set up of the connection?
[code]
base_connection is calling remote_conn_pre.invoke_shell that calls `open_channel`, is it possible to do a "barebones" call? without reusing the cisco code?

[2018-01-29 03:43] mjuenema commented on #647
**Example**

The script below...

[code]

...will give the following output.

[code]
But if I add an explicit `enable`...
[code]
...it will work fine.
[code]
Of course, in the end that's really a user privilege issue. Cisco seemed to have changed that between IOS 12.x and 15.x.

[2018-01-29 18:01] ktbyers commented on #373
We need to figure out what is different (between what you posted) and why the two are behaving differently.

 I say this because if we re-implemented Paramiko straight in Dell driver, we would end up needing to re-implement what we have in base (as the items there are needed)...which would probably imply we will re-create the bug.

But this gives us a big clue that it works with what you have abov

[2018-01-29 18:15] networkpadawan commented on #373
but maybe there is some item that is causing the issue? I would like to go from scratch and start adding on top of it to see which one breaks, (until feature complete with the current base) and maybe get one ```legacy_connection``` ...I can do the tests and start adding but don´t know where to start:)

I think it does based on:
[code]
but have never implemented it

[2018-01-29 18:31] ktbyers commented on #373
You will probably need to copy over the entire __init__ method (about 100 lines of code), establish_connection (about 40 lines of code), _connect_params_dict, and _build_ssh_client method.

You might want to just test if the connection still works, when you add all of the needed Netmiko arguments to the connect() method.

You can print out what each one of these is getting set to in the failing ca

[2018-01-30 05:17] ktbyers opened #694 "hp_procurve should check for enable mode before"
executing enable command.

[2018-01-30 15:53] networkpadawan commented on #373
well, I´m trowing in the towell, I can´t seem to get this to work.

It seems that the issue is that the force10 is authenticating both password and certificate because with netmiko i get `self <paramiko.Transport at 0x1c33490L (cipher 3des-cbc, 192 bits) (connected; awaiting auth)>`
but with paramiko ` <paramiko.Transport at 0x1a8c110L (cipher 3des-cbc, 192 bits) (active; 0 open channel(s))>`
but

[2018-01-30 18:35] ktbyers commented on #373
@networkpadawan Did you try unsetting the `key_filename` argument in Netmiko and see if it works then?

Eliminate line 600 below:

[code]

It would also be interesting to see if your Paramiko solution works if you add these arguments look_for_keys=False, allow_agent=False.

Note, I think Paramiko defaults both of those to True.

[2018-01-30 19:03] ktbyers commented on #647
Yes, SCP will always require enable mode both for the dir and for the actual secure copy file transfer.

I guess we could add an error check on the FileTransfer method that will generate an exception if you aren't already in enable mode (and a clear message).

Do you want to submit a PR on this?

[2018-01-30 19:43] ktbyers commented on #689
@samzeg You can't do this:

[code]

You are trying to send another command down the channel `local database override` after you have entered the `set expert-password` (i.e. the device is waiting for you to enter in the password twice)

[2018-01-30 20:27] mjuenema commented on #647
No worries, I'll have a go at it later this week.

[2018-01-30 21:41] samzeg commented on #689
Thanks for the reply. You are right, I had a typo. the steps should be:

1-  Sending the command "lock database override"  to be able to make modification to the config
2-  Sending the command "set expert-password" which the device should wait on me to type the "Enter current expert password:" and press enter after that the device will wait on me to type the new password "Enter the new expert pass

[2018-01-30 22:35] ktbyers commented on #689
@samzeg Not sure I understand your question, just do something like this:

[code]

[2018-01-30 22:40] milind1234567 commented on #575
Hello Kirk,

I have Linux as jump server but from that routers are telnet using "l" command and not via ssh or telnet (however on actual router SSH and telnet both are allowed) when executing the script getting below error

C:\Milind\Python>telnet.py
Enter IP Address: 57.214.30.62
Password:
Traceback (most recent call last):
  File "C:\Milind\Python\telnet.py", line 19, in <module>
    net_connect

[2018-01-30 23:31] networkpadawan commented on #373
commenting didn´t help:/
it works with the 2 arguments:
[code]

what does not make sense to me is that it seems to try pubkey first and then password:
[code]
but it with netmiko it goes directly to password
[code]
and then I think it tries to use the certificate, but  I´m not sure...

[2018-01-31 00:28] ktbyers commented on #373
This needs to be Booleans not strings:

[code]

Note, there are no quotes around the False keyword (False in quotes is a string that would probably behave not how you wanted...).

[2018-01-31 03:58] samzeg commented on #689
Hi Ktbyers,
I tried the provided solution but I still facing the same results, the Program stops when the device asking me to "Enter current  expert password:" . here is my code

import netmiko
ckp = {
	   'device_type':'checkpoint_gaia',
	   'ip':'192.168.19.100',
	   'username':'admin',
	   'password':'vpn123',
}

net_connect = netmiko.ConnectHandler(**ckp)

expert_password = 'vpn123'
expert_pas

[2018-01-31 07:08] zhecho commented on #575
Hello ,

You can try to search for "|" (I'm not aware for such default program) in
your hopping station and give us the result of:

cat `which |`

Your can use nc as a proxy command on the hopping station. I've this fast
workaround configured in temporary ./ssh/config file.

Best regards!

On Jan 31, 2018 00:40, "milind1234567" <notifications@github.com> wrote:

Hello Kirk,

I have Linux as jump s

[2018-01-31 10:22] networkpadawan commented on #373
That´s it!! with  ` look_for_keys=False` I get the same error. Ill try to reproduce that on netmiko

[2018-01-31 10:37] networkpadawan commented on #373
:) manually setting ` 'look_for_keys': True,`
works on netmiko!!!

[2018-01-31 17:29] ktbyers commented on #373
@networkpadawan So your settings are to provide `username`, `password` and `look_for_keys=True` and it works?

Can you post the working code in Netmiko i.e. what is the change required for it to work with Dell?

Do you have any key files in ~/.ssh? Paramiko will automatically use one of these keys if it exists (id_rsa, id_dsa, id_ecdsa).

[2018-02-01 04:12] mjuenema commented on #647
`NetMikoAuthenticationException` or `NetMikoAuthError`? Which one is the more appropriate exception?

[2018-02-01 05:53] jcrotts commented on #694
would this be a check in the beginning of enable() such as:
`if self.check_enable_mode():
    return true`

[2018-02-01 09:30] tetzispa opened #696 "TFTP"
Hello,

as the "scp_transfer" on your example, is there a way to do some transfer with tftp protocol ?

and, i dont see any IP for the SCP server, so, how the device knows where he should download his file ?

im trying to do some tftp transfer on HP comware, if netmiko cant, i should do all the scripting ? :)

thx for the reply

[2018-02-01 09:48] larby22 commented on #688
Thanks @ktbyers I am quit new to netmiko . Kindly help point me to how i can enable logging.  Thanks in advance

[2018-02-01 17:34] ktbyers commented on #688
@larby22 My bad...I forgot to include the link of how to enable logging earlier...

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

[2018-02-01 17:36] ktbyers commented on #696
@tetzispa You can also use Netmiko `send_command` and `send_command_timing` to execute commands on the network device. So you should be able to execute a TFTP session in this way.

The transfer in both directions is controlled via the Linux machine where the script runs. So the file would be transferred to/from that machine.

Kirk

[2018-02-01 17:36] #696 closed

[2018-02-01 17:45] ktbyers commented on #694
@jcrotts You would need to look at the prompt (i.e. does it end in `>` or does it end in '#') or the privilege level).

Basically, if the prompt ends in `#` the device is in enable mode and the `check_enable_mode` method would return True. If not the `check_enable_mode` would return False.

Then in the `enable` function we would call this `check_enable_mode()` and only try to go into enable mode i

[2018-02-01 17:48] ktbyers commented on #647
There is no `NetMikoAuthError`???

So `NetMikoAuthenticationException` is the more appropriate.

[2018-02-01 18:07] ktbyers commented on #575
@milind1234567 Yes, I don't know what the program you referred to is (I assume it is an 'l' i.e. an l as in larry).

Is it an alias for some other program?

[2018-02-01 18:19] ktbyers commented on #689
@samzeg Please reformat your markdown above correctly using the \`\`\` to enclose code. It should look like this when done:

[code]

[2018-02-01 18:46] jcrotts commented on #694
Okay, I can double check the ProCurve behavior. Could I just add this to the existing PR I have, or should I put it in a new one?

[2018-02-01 18:47] samzeg commented on #689
Thanks for the comment I did correct the previous comment

[2018-02-01 18:53] ktbyers commented on #694
A separate one...your previous PR is already a part of that branch I am working on (so I wouldn't get your additions).

Also they are two separate areas so better to have separate PRs for them.

[2018-02-01 18:53] ktbyers commented on #694
@jcrotts You should be able to see existing patterns in `base_connection.py` and in `cisco_base_connection.py`.

[2018-02-01 18:57] jcrotts commented on #694
@ktbyers Right, okay I'll do that, and I'll look at the existing patterns in base_connection.py and cisco_base_connection.py.

[2018-02-01 22:17] jcrotts commented on #694
Based on the following doc:
ftp://ftp.hp.com/pub/networking/software/Mgmt-Oct2005-59906023-Chap04.pdf
<img width="805" alt="screen shot 2018-02-01 at 2 16 28 pm" src="https://user-images.githubusercontent.com/29685007/35706457-a6e21dfe-075a-11e8-8e94-e2c9b612d618.png">

It looks like the HP ProCurve enable prompt is identical to Cisco's. Should I create a new check_enable_mode method inside the HP

[2018-02-06 01:03] ktbyers commented on #689
@samzeg Can you show me the entire CLI output when doing the exact same set of commands you are trying to do in the script. So you need to include `lock database override` command.

Also note, your two screenshots are different...the first one using `set expert-password` didn't prompt for the current password; the second one did.

[2018-02-06 15:27] hawthorn opened #698 "FTD connection - prompt issue?"
The prompt is a u'>'

In [89]: new_dict = {'device_type': 'cisco_asa', 'ip': 'IP_Address',
    ...:     'username': 'admin', 'password': 'passwd',
    ...:     'port': 22, 'verbose': False}
In [90]: net_connect = ConnectHandler(**new_dict)
In [91]: net_connect.ansi_escape_codes = True
In [92]: output = net_connect.send_command('show version')
In [93]: output
Out[93]: ''
In [106]: net_connect.find_

[2018-02-07 03:07] yunithon opened #700 "cannnot connect to Cisco Nexus"
Hi,  @ktbyers

I am not able to connect to Cisco Nexus.
I am using
Netmiko version 2.0.1
Python 3.4.

I am trying the below script:
 <br>
 <br>

from netmiko import ConnectHandler
from datetime import datetime

cisco = {
    "device_type": "autodetect",
    "ip": "IP",        # IP
    "username": "USER",      # login user
    "password": "PASS",  # login user password
    "secret": SECRET",   # en

[2018-02-07 10:48] vhum opened #701 "f5 ltm config sync status"
The f5 tmsh prompt contains per default the config sync status. An example is:

When changing the configuration on a device the prompt may change to indicate that a sync operation is ongoing.  After the sync operation the original prompt is restored.
Therefore I randomly (every couple commands)  get the following error message:

Wen I change the device configuration to exclude the config sync stat

[2018-02-07 18:55] ktbyers commented on #700
@yunithon Can you get rid of the `autodetect` and try it with `cisco_nxos` and see if it works?

[2018-02-07 19:10] ktbyers commented on #700
You can't use autodetect in that way...you use autodetect to find the device_type, but then you need to reconnect:

[code]

[2018-02-07 19:20] ktbyers commented on #698
@hawthorn What does the CLI look like?

Can you show a CLI-SSH session starting from the remote machine until completely logged in. Also please execute a some show command.

A prompt of just '>' will likely break the existing ASA driver.

Kirk

[2018-02-07 23:00] NtwkEngineer opened #702 "Configuration commands not being sent to NX-OS, receiving traceback"
Hi Kirk:

I am seeing the following when trying to send configuration commands to an NX-OS device (Nexus 3048 running 6.0(2)U3(7)):

u'config term\r\r\nEnter configuration commands, one per line.  End with CNTL/Z.\r\n\rNexus3K(config)# '

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "build/bdist.linux-x86_64/egg/netmiko/base_connection.py", line 967, in send_comm

[2018-02-07 23:28] NtwkEngineer commented on #702
And actually, I'm seeing the same issue with IOS-XE on a 4500-X running 03.06.00.E.  Same workaround as well.

[2018-02-07 23:31] ktbyers commented on #702
@NtwkEngineer You should use `send_config_set()` method to send configuration changes and not try to manually enter/exit config mode.

`send_config_set()` will automatically enter/exit config mode.

For example:

[code]

[2018-02-08 00:28] yunithon commented on #700
Thank you for your replay.
Okay I got how to use autodetect.

I changed autodetect to cisco_nxos, but it seems it does not work...I got the same results.

And I think it cannot get into enable mode.
Becuse I put net_connect.find_prompt() as below, but also I got the same.

net_connect = ConnectHandler(**cisco)
net_connect.enable()
net_connect.find_prompt()

<br>
<br>

--- [BF check] ---

[2018-02-08 00:35] ktbyers commented on #700
@yunithon You probably should enable logging so you can better see what is happening:

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

[2018-02-08 00:42] samzeg commented on #689
Hi ktbyers,
Here is the CLI output of the commands that I'm trying to send using the script
![image](https://user-images.githubusercontent.com/35621210/35949054-42d1d14e-0c35-11e8-918f-b1b065279945.png)

The first screenshoot, show the setup of the expert password when the device is fresh installed and the password was never set.

The second screenshot was prompting  for the current expert passwor

[2018-02-08 13:40] hawthorn commented on #698
ssh admin@XXXXXXXXXXXXX
You have accessed a PRIVATE NETWORK which contains confidential
information. All unauthorized users of this network or of information
contained within will be prosecuted.

Password:
Last login: Thu Feb  8 08:10:47 2018 from XXXXXXXX

Copyright 2004-2017, Cisco and/or its affiliates. All rights reserved.
Cisco is a registered trademark of Cisco Systems, Inc.
All other tradem

[2018-02-08 15:21] NtwkEngineer commented on #702
Perfect, thanks Kirk!

[2018-02-08 18:55] opnine opened #703 "netmiko_tools error - missing 'ipaddress' module"
Hello,
Im using  netmiko_toosl the command netmiko-show --cmd but I get this error,
     No handlers could be found for logger "paramiko.transport"
I did an ssh to the devices and I have no problem I can connect, but I also tried  this script lines
#!/usr/bin/env python

from netmiko import ConnectHandler

iosv_l2_s1 = {
    'device_type': 'cisco_ios',
    'ip': '192.168.1.10',
    'username': 'ci

[2018-02-08 19:25] ktbyers commented on #703
It looks like you are missing the module `ImportError: No module named ipaddress`.

You might want to `pip install paramiko==2.4.0`

And then if that doesn't fix it...`pip install ipaddress`

[2018-02-08 19:40] opnine commented on #703
hello,
from  the pip list
i have paramiko (2.4.0) & ipaddress (1.0.19)
Thanks.

[2018-02-08 19:56] ktbyers commented on #703
Does `python -m pip list` show the same thing? The `paramiko` exception above is complaining that it can't import the `ipaddress` module.

[2018-02-08 20:00] opnine commented on #703
Hi
this is the output or the pip

 python -m pip list
ansible (2.4.3.0)
apt-xapian-index (0.45)
argparse (1.2.1)
asn1crypto (0.24.0)
bcrypt (3.1.4)
certifi (2018.1.18)
cffi (1.11.4)
chardet (3.0.4)
colorama (0.2.5)
configobj (4.7.2)
cryptography (2.1.4)
enum (0.4.6)
future (0.16.0)
html5lib (0.999)
idna (2.6)
ipaddress (1.0.19)
Jinja2 (2.10)
jtextfsm (0.3.1)
junos-eznc (2.1.7)
Landscape-Client (14

[2018-02-08 20:30] ktbyers commented on #703
What happens if you try to:

[code]

[2018-02-08 20:35] ktbyers commented on #703
FYI, the paramiko logger warning is not relevant.

[2018-02-08 20:38] ktbyers commented on #703
You might to try turning on logging:

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

Also you might want to try building a new virtual environment from scratch.

Also, what does this show you?

[code]

[2018-02-08 22:44] BigPat commented on #692
So the issue was that the device had an extremely slow response time but when I let it sit eventually it ran.
--------------------------------------------------------------------------------------------------------
However, now I am getting an issue where after it runs the first command on the F5 it just gets stuck.  I think it is due to implementing an is_alive function.  I tried adding in a comm

[2018-02-08 22:52] BigPat commented on #692
Note that I also tried taking out the first command and then the second command worked just fine but it got stuck again and wouldn't disconnect from the device.

[code]

[2018-02-08 23:57] ktbyers commented on #694
Here is the current code for HP ProCurve:

[code]

Notice, I check for username, login name, or user name (in addition to checking for the password prompt).

This makes me think the behavior is different than Cisco IOS.

I would add a check_enable_mode() method and see if I was already at the '#' prompt before sending the enable command. So the end `enable` method would look like this:

[code]

[2018-02-09 00:02] jcrotts commented on #694
Okay that makes sense!

[2018-02-09 00:57] yunithon commented on #700
I was able to solve it.
The  problem was the host name of Nexus.
It included #, so just the proglam was not able to read corectly, I think.
thank you for your kind help.

[2018-02-09 01:33] mr-wacha opened #704 "scp_handler.py incorrect regex in "remote_space_available" and "verify_space_available""
When using scp to upload files on newer versions of ASA netmiko throws exception:
[code]
This is due to additional text in output of dir command, i.e.:
[code]
Amending Regex used in both functions to below fixes issue:
`
search_pattern=r"bytes total \((.*) bytes free.*\)"
`

[2018-02-09 12:01] opnine commented on #703
I get this output
Python 2.7.6 (default, Nov 23 2017, 15:49:48)
[GCC 4.8.4] on linux2
Type "help", "copyright", "credits" or "license" for more information.

'/usr/local/lib/python2.7/dist-packages/ipaddress.pyc'

The issue is not the logging for me the issue is after i get the error from the logging the I cant connect to any of my devices, I tried ssh only and it works.

When I have a new linux I

[2018-02-09 17:00] opnine commented on #703
hello
I did the reinstall and is working, I only have one question, can I change the output color?

[2018-02-09 17:17] ktbyers commented on #703
Yes, there are some Python libraries for coloring terminal output.

[2018-02-09 17:17] #703 closed

[2018-02-10 02:32] ncutting opened #706 "How to Handle a Firewall Failover"
Good afternoon,

I have adapted parts your firewall upgrade script - although I have to make it work on fail-over ASA pairs that may have one ONE IP address.  Probably 20 percent of our hundreds of firewalls may have only one public IP - so we need to upgrade the pairs using the "failover" method.

I have it all working except for when I failover the firewall - I am connected to the primary device

[2018-02-10 17:23] ktbyers commented on #706
@ncutting Use `send_command_timing()` here (so Netmiko just sends it and doesn't wait for a response).

[code]

Also don't try to `disconnect()` as that will probably try to send the `exit` command and the SSH session is probably already terminated.

[2018-02-12 02:32] asdfhxc opened #712 "HPComware enable issue"
<s5500-1>?
User view commands:
  cfd      Connectivity fault detection (IEEE 802.1ag)
  cluster  Run cluster command
  display  Display current system information
  ping     Ping function
  quit     Exit from current command view
  ssh2     Establish a secure shell client connection
  super    Set the current user priority level
  telnet   Establish one TELNET connection
  tracert  Trace route fun

[2018-02-12 22:02] ncutting commented on #706
Thank you - this worked fine.

[2018-02-12 22:17] #706 closed

[2018-02-12 22:21] xavierhardy opened #714 "Non configurable hardcoded delay factors"
I'm taking a look at netmiko's performance issues as you might have noticed. I have taken a look at paramiko, and it seems to perform quite well, despite being mostly in Python, so the issue has to be in netmiko. Indeed, as expected most of the slowdowns come from `sleep` calls. My opinion is that they should be all configurable to be able to tune netmiko speed. It should be clearly documented tha

[2018-02-12 22:25] xavierhardy commented on #599
There's an issue, some delay factors are indeed hardcoded, causing the delay, take a look at my issue please: #714.

[2018-02-12 22:43] #702 closed

[2018-02-12 22:47] ktbyers commented on #599
@xavierhardy It is unlikely that #714 is directly related to this (at least in a significant way).

On Cisco IOS I can execute show commands using Netmiko on the order of 2-3 seconds and Brocade NetIron shares the Cisco connection code.

The 2-3 second delay I see with Cisco IOS is to be expected. I will comment about that more in issue #714.

[2018-02-12 22:47] #599 closed

[2018-02-12 23:03] xavierhardy opened #715 "Timeouts are not directly configurable"
In most of the code, timeouts are handled as number of iterations (which are not always configurable) and depend on the delay factor. Wouldn't it be easier to be able to set the timeouts in terms of seconds (floating)? Here is an example:

[code]

Diminishing the `delay_factor` might make the code fail as the timeout is also reduced. I see the delay factor more as a polling interval, it should be

[2018-02-12 23:09] xavierhardy commented on #714
Take a look at #715 which proposes a possible solution. I'll try to implement it ASAP.

[2018-02-13 04:09] atmoskr opened #717 "netmiko wrong output when command character longer than 50"
I am trying to use netmiko under windows 10 with python 2.7. When I try to use send_command_set which is including over than 50 character in commands, some special character is including in the output. Because of this wrong output, automation test script is misleading.

Could anybody let me know how to solve the problem?

(For your information, I am testing DASAN device but since netmiko doesn't s

[2018-02-13 17:21] fahadf commented on #688
@ktbyers Sir, I followed your steps here any I still not see the output. Can you please advice? I got the test.log file but I don't see any error or anything out of place.

[2018-02-13 17:30] ktbyers commented on #688
You need to post the debugging log. Obscure out any confidential information. @fahadf

[2018-02-13 17:36] xavierhardy commented on #715
The best solution would be to use 'select' to poll for messages.

[2018-02-13 17:38] fahadf commented on #688
[code]

[2018-02-13 17:42] ktbyers commented on #688
And what exception do you see when you execute your code.

[2018-02-13 17:45] fahadf commented on #688
Oh I don't see anything at all. Here is the output:

[2018-02-13 17:51] ktbyers commented on #715
@xavierhardy Yeah, maybe (on `select`).

Netmiko is really optimized for reliability not performance. I am pretty certain that is the right choice to make (i.e. in conflicts between reliability and performance...choose reliability over being faster). Being slow is

...that being said, there could be hard-coded delays that maybe should be affected by global_delay_factor.

Note, the primary purpose

[2018-02-13 17:54] ktbyers commented on #688
What does that `show ntp | match synched` look like on the CLI (i.e. what is its CLI output)?

Also what happens if you use `send_command('show ntp')` without the match synced.

Kirk

[2018-02-13 18:03] xavierhardy commented on #715
I saw you have written an issue about unit tests (functional tests too?). I can always create PoC, but I wouldn't dare merge it without them.

According to me, the fact that the concepts of delay factors/polling intervals and timeouts are linked is misleading and error prone because if you try decrease the delay factors, you may break things (since the timeout decreases).

At the very least, we sh

[2018-02-13 19:19] ktbyers commented on #715
Yes, understood, but Netmiko supports 44 diverse platforms and I only have access to about 7 to 10 of them. So real testing is hard (especially for fundamental-core changes). Mocking also doesn't generally work since most of the issues are related to device interactions.

I will read through what you have proposed more thoroughly. I have only skimmed through it.

delay_factor and global_delay_fact

[2018-02-13 19:24] ktbyers commented on #688
Okay, it looks like the PAN-OS device keeps repainting the line for some reason. This is causing Netmiko to see the trailing router prompt multiple times (which causes it to conclude it has all of the output it needs).

Here is the PAN-OS repainting:

[code]

Is there a way to turn of that line repainting on PAN-OS?

[2018-02-13 19:27] fahadf commented on #688
I've noticed that as well. I'm not sure why it does this. "Line repeating" does not look like a feature in PanOS.
I can ask around.

[2018-02-13 19:27] fahadf commented on #688
And it looks like netmiko is sending on word at a time in my command and not the whole command at once.

[2018-02-13 19:45] ktbyers commented on #688
@fahadf That is panos doing that...it is repainting the line (i.e. echoing the characters that were sent multiple times).

Here is what Netmiko wrote down the SSH channel:

[code]

[2018-02-14 10:07] dmlancaster opened #718 "having trouble with config of vsan database on CISCO MDS 9710"
CISCO MDS 9710 v8.1

Need to be able to send vsan commands:

I can get into the write mode in config using
            net_connect.config_mode()
            net_connect.send_command(command_string="vsan database", auto_find_prompt=False)

and I can see the prompt gets set to:
            myswitch(config-vsan-db)#

(which is expected)

Then when I send a command i.e.:
            net_connect.send_c

[2018-02-14 18:30] ktbyers commented on #718
@dmlancaster You should use `send_config_set` for executing config changes.

[code]

Note, Netmiko will automatically enter/exit config mode and you shouldn't try to do it yourself (in the context of `send_config_set`).

I assume you are using the 'cisco_nxos' device_type?

Note, I don't know how much MDS have been used on Netmiko. Are there are much behavioral differences from a CLI perspective f

[2018-02-14 19:26] coxley commented on #128
I thankfully stopped having to support Force10 a long time ago. :)

[2018-02-14 21:30] dmlancaster commented on #718
Thanks Kirk, incidentally I changed to using send_config_set('vsan database','vsan 666 interface fc1/1')   as you suggested  and it works, from cli it is equiv to:
conf t
vsan database
vsan 666 interface fc1/1
exit

so send_config_set output looks like:
Enter Configuration commands, one per line. End with CNTL/Z
myswitch(config)# vsan database
myswitch(config-vsan-database)# vsan 666 interface fc1

[2018-02-14 21:32] dmlancaster commented on #718
and sorry, yes, this is set to 'cisco_nxos' for device_type

[2018-02-14 23:13] ktbyers commented on #718
Okay, that makes sense and looks reasonable.

I assume you sent the commands in as a list of commands:

[code]

[2018-02-14 23:13] #718 closed

[2018-02-15 13:10] milind1234567 commented on #479
Hello,

I have below code for SSH to Cisco device and getting error as below

I am using Python 2.7.10 version.

#!/usr/bin/env python

from netmiko import ConnectHandler
from getpass import getpass

ip_addr = raw_input("Enter IP Address: ").strip()
password = getpass()

cisco = {
    'device_type': 'cisco_ios',
    'ip': ip_addr,
    'username': 'mphulmal',
    'password': password,
    'port': 2

[2018-02-15 22:19] xavierhardy commented on #715
I've done a proof of concept using `select`. It works in my demo use case (connecting to local SSH server on Linux and sending `ls`).

Select version: 0.868s
Original version (latest commit): 4.471s
5x speed-up

Here is my commit: https://github.com/xavierhardy/netmiko/commit/72722d93101f8c75654e27419701e8ef6a6cd507#diff-356f254b084894f341050b6b9d88e302

More detailed results:
select + timeout bas

[2018-02-16 08:41] larby22 commented on #688
Hello @ktbyers ,
Kindly find attached debug  output. The debug output displays the expected output in the log but not on the terminal.
[Debug_log_netmiko.txt](https://github.com/ktbyers/netmiko/files/1730633/Debug_log_netmiko.txt)

larby@ubuntu:~$ sudo python pecheck3.py

Y_ASR9K#show logging
RP/0/RSP0/CPU0:MY_ASR9K #show logging last
RP/0/RSP0/CPU0:MY_ASR9K #show logging last 100

[2018-02-16 13:11] Maddosaurus opened #719 "Info returned by Palo Alto 5 devices is partly missing"
To be honest, I'm quite puzzled with this issue.
Some commands seem to run but do not produce any output. While executing others, netmiko seems to never return and waits for output indefinitely.
I've been trying to pin down the problem in the handling classes but can't seem to pin it down exactly.
I've got a PA-2050 with PanOS 5 for testing netmiko with it.

Here is the script I'm using to test it

[2018-02-16 13:28] Maddosaurus commented on #719
Just stumbled across the article on [how to enable debug output](https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel) of the script.
Hope this provides a bit more insight!
It seems that at least the command output of *show system info* is generated but lost on the way.
[test.log](https://github.com/ktbyers/ne

[2018-02-17 06:31] aroelaroel opened #720 "could not parse arista eos prompt correctly"
it looks like netmiko could not process this kind of prompt (hostname+timestamp) on arista eos:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'AristaSSH' object has no attribute 'find_promt'

u'upp306.17:16:58>'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/netmiko/base_connection.py",

[2018-02-17 23:45] magic9669 opened #721 "NetMiko timeout issue when connecting to IOSv_L2 (VIRL) device"
I am working on an automation course and following along, I cannot get netmiko to work properly.  I built a lab of 5 switches, and my script just goes in, configures the interfaces for trunk or access ports depending on the interface, and creates a vlan.  That's it.  Sometimes, it will work on one or two devices before failing, other times, it just fails after trying to connect to the first switch

[2018-02-18 03:13] ktbyers commented on #720
@aroelaroel So your have a prompt that contains a timestamp in the prompt (i.e. it changes on every command).

Yes, you will want to change the configuration on that (i.e. that will cause problems with Netmiko).

[2018-02-18 03:16] ktbyers commented on #688
I am going to delete all of the PanOS comments from this issue (as two separate possible issues are getting conflated together and it is confusing).

[2018-02-18 09:50] larby22 commented on #688
Sorry for the mixed up @ktbyers  . I have updated the log with the show version log output (see attached).
Also find below output from terminal

from netmiko import ConnectHandler
import netmiko
import logging

logging.basicConfig(filename='test.log',level=logging.DEBUG)
logger = logging.getLogger("netmiko")

CiscoASR = {
'device_type': 'cisco_xr',
'ip': '192.168.20.17',
'username': 'owolabiabu',

[2018-02-18 09:53] larby22 commented on #688
Hi @ktbyers sorry for the mix up. I have attached the log output for "show version" .

Also kindly find below output on the terminal

... 'device_type': 'cisco_xr',
... 'ip': '192.168.2.1',
... 'username': 'verify',
... 'password': 'verify',
... 'port': 22,
... 'verbose': False,
...  }

0/CPU0:MY_PE_ASR9K_01#show version

Sun Feb 18 10:39:05.001 WAT

[Debug_log_netmiko(show version).txt](https://g

[2018-02-18 21:04] tonypnode commented on #597
just throwing it out there, in an auditing app I'm developing that uses Netmiko, I do just that. I created a class called ConnectionProfiles and define a default_conn_profile classmethod that imports a yaml file with the data i need for all of my devices.

I will add that for security sake, I am going to modify it so that the system that does these audits uses a rsa key instead.

[2018-02-18 21:39] ktbyers commented on #688
Do you have timestamps turned on (for this device)? If so I would probably turn those off.

@larby22

[2018-02-19 22:39] jamesb2147 opened #722 "Recent branch introduced a typo in error handling"
Specifically in netmiko/netmiko/cisco/cisco_xr_ssh.py the line with "ValueErrr" should be "ValueError"

Minor but worth fixing.

[2018-02-20 03:06] ktbyers commented on #722
@jamesb2147 Where? I don't see any issue in cisco_xr_ssh.py:

[code]

[2018-02-20 20:02] DilrajSK opened #723 "Netmiko on Kali Linux"
Hi @ktbyers, I know you might have received a lot of issue regarding this. I went through all the threads
 which I thought could be related to my issue but that didn't help me.

I too am new to Network Automation using Phython and was following https://pynet.twb-tech.com/blog/automation/netmiko.html to try-out some stuff.

While doing so, I got stuck at the error which says: ModuleNotFoundError: N

[2018-02-20 20:21] mrkcmo commented on #723
DILRAJ,

What OS platform are you using? Centos? Redhat?

Also – can you run the following? “sudo python –version” and provide the output? (two dashes before version)

Chris Fortner

From: DilrajSK<mailto:notifications@github.com>
Sent: Tuesday, February 20, 2018 2:15 PM
To: ktbyers/netmiko<mailto:netmiko@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.com>
Subject: [ktbyers/ne

[2018-02-20 21:13] xavierhardy commented on #509
Using [unittest.mock](https://docs.python.org/3/librarya/unittest.mock.html) or anything else in mind (like the [MockSSH](https://github.com/ncouture/MockSSH) server) or both?

[2018-02-20 21:25] ktbyers commented on #509
I am probably not going to do this.

Right now I run tests against real devices using pytest. I do some sanity checks using Travis-CI (linting and verifying `import netmiko` works).

I might add some automated execution of the tests (i.e. run the test suite nightly and have it email me the results). I run the test suite before any release (though I only have a set of platforms available to test ag

[2018-02-20 21:39] xavierhardy commented on #509
I agree that it is important and necessary to have integration tests, but the lack of unit and functional/mock tests means that contributors cannot test the code themselves, unless they have access to all those devices (they might have a few of them at best, but not all). Contributors should not have to create a pull request to test their code, that's inefficient.

[2018-02-20 22:01] ktbyers commented on #509
Let me look at what you submitted in the PR. Unit tests are probably okay.

Let me think about Mock tests some more.

[2018-02-20 22:03] ktbyers commented on #509
Note, they can test their code. The current situation just requires them to test it against their own device(s).

[2018-02-20 22:40] xavierhardy commented on #509
My point exactly and that's why I can only test on Linux at home, which means my pull request might break the Juniper-related code and I would have to wait for Travis to tell me what is wrong.

About mock test, I took a look at the tests in `paramiko`. They went for the mock server solution, rather than mocking every single function for each test, it seems indeed more reasonable.

https://github.c

[2018-02-20 23:07] ktbyers commented on #509
My point is mock is going to tell you very little about whether you broke Juniper or not (the thing that matters is the timing and the device's CLI behavior i.e. devices behaving differently on the CLI than we expected).

Mock would not have helped in a meaningful way on your proposed timing changes (if anything it would probably deceive you i.e. give you a false sense you weren't breaking things

[2018-02-21 00:34] DilrajSK commented on #723
Hi Chris,

Its Kali version 2017.1

The output of  “sudo python –version” is "Python 2.7.13"

[2018-02-21 01:17] mrkcmo commented on #723
Please do the following:

sudo apt-get install python-pip
sudo pip install Netmiko

If that doesn’t work then do:

sudo apt-get install python-netmiko

Once this is done then do the following:

python -i
from netmiko import ConnectHandler

If there are no errors then you are good to go…

Chris Fortner

From: DilrajSK<mailto:notifications@github.com>
Sent: Tuesday, February 20, 2018 6:34 PM
To: ktb

[2018-02-21 01:26] DilrajSK commented on #723
Hi Chris,

I don't get any error when I do it on Kali Terminal but when I run the import on Python Shell I get the error.

[2018-02-21 03:38] jamesb2147 commented on #722
Oh weird; I had seen it in one of the changes to support save_config. I'm guessing a linter caught it and I didn't check. My apologies for the noise.

[2018-02-21 03:38] #722 closed

[2018-02-21 17:29] ktbyers commented on #723
I would probably start by creating a clean Python virtual environment and then re-install it using PIP.

You should be able to use this document for how to create a virtual environment and how to activate it:

https://python-guide-cn.readthedocs.io/en/latest/dev/virtualenvs.html

After that do:

[code]

[2018-02-22 00:09] DilrajSK commented on #723
[Vir Env Output.txt](https://github.com/ktbyers/netmiko/files/1746151/Vir.Env.Output.txt)

I did as you suggested. See the txt file to check the series of commands I executed.
Result: Still the same

[2018-02-22 00:51] ktbyers commented on #723
@DilrajSK What happens when you do this:

[code]

This is using the python associated with the virtual environment that you just created.

[2018-02-22 01:03] DilrajSK commented on #723
[Output.txt](https://github.com/ktbyers/netmiko/files/1746287/Output.txt)
Output Attached.

[2018-02-22 01:09] ktbyers commented on #723
Yes, that is right. So what is the issue?

[2018-02-22 01:10] ktbyers commented on #723
What does this show you:

[code]

[2018-02-22 01:11] ktbyers commented on #723
FYI, your Output.txt above does not look like it was using the virtual environment (i.e. it looks like you were using the wrong Python).

[2018-02-22 01:16] DilrajSK commented on #723
Please see the answers in-line:
-------------------------------------------------------------------
Yes, that is right. So what is the issue?

Comment: When I run the "import netmiko" command on idle terminal I am getting the error.  On OS(Kali) terminal its fine. As we see.
-------------------------------------------------------------------
What does this show you:

$ python
Python 3.6.2 (default

[2018-02-22 01:56] ktbyers commented on #723
Can you show me what you are doing in your `idle terminal` (i.e. what did you do to generate the above traceback)?

[2018-02-22 11:43] joshhunte opened #725 "Cisco SF220 - SSH Auth failure"
Hello,
I'm trying to SSH to a SF220 Small Business Switch, however authentication is failing.
The device is similar to SF300, I've tried that device template but it doesn't work either.

Here is the output from a PUTTY SSH Login:
login as: cisco
        Welcome to Layer 2 Managed Switch
  Press <Enter> to continue...
Username:cisco
Password: ***********
XXX-XXX-AS1>

When I attempt a connection us

[2018-02-22 13:44] joshhunte commented on #725
Also, the command ip ssh password-auth is not recognised

[2018-02-22 18:20] ktbyers commented on #725
@joshhunte Yes, if you can't get the extra 'login as' and 'Press to continue' via device configuration, then that device isn't supported.

[code]

Someone would have to write a driver to handle that platform (i.e. that extra garbage they put in as part of login process is a bit of a problem).

There are cases where people have done that extra handling (Cisco WLC and one of the dell platforms might

[2018-02-22 18:20] #725 closed

[2018-02-22 18:31] DilrajSK commented on #723
Please see the attached:
![capture](https://user-images.githubusercontent.com/36675499/36556875-a7c84a62-182c-11e8-90f8-8e840f62e1aa.PNG)

[2018-02-22 18:45] ktbyers commented on #723
You are installing Netmiko into a different Python than IDLE is using (note, how that is Python3.6.4). Your previous output was Python3.6.2.

This is not a Netmiko issue, it is an environment management issue.

[2018-02-22 18:45] #723 closed

[2018-02-22 19:17] DilrajSK commented on #723
ok, Any suggestion how do I install the package in the version same as idle? I guess, it's installing the netmiko package in the default python env (i.e. 2.7.13)

[2018-02-22 19:38] DilrajSK commented on #723
Got it working:

Removed IDLE 3.6.4 >> Installed IDLE 2.7.13 using the below command:

sudo apt-get install idle-python2.7

Thanks for your help :)

[2018-02-24 17:00] ktbyers opened #726 "Checkpoint gaia prompt is changing (causing disable_paging command to break)"
[code]

[code]

[2018-02-26 15:02] tiix95 opened #727 "Adding some vendors"
Hello !

Don't know if this can be of any help, but I develop some scripts by myself to backup some network devices. I currently have :

  - F5 (SSH command & file transfer)
  - Fortigate, Fortimanager, Fortianalyzer (ssh command & file transfer)
  - Tufin (file transfer)
  - Wallix (file transfer)
  - Avaya (ssh command, telnet command)
  - Aruba (ssh command)
  - Netscaler (ssh command & file tr

[2018-02-27 19:45] bosspuj commented on #528
Hi Kirk,

I am trying to use multiprocess and ftp to copy ios image from ftp server. I tried send_command and send_command_timing, but received the following error:
IOError: Search pattern never detected in send_command_expect: Accessing\ ftp\:\/\/\*\*\*\*\*\:\*\*\*\*\*\@**\.**\.**\.**\/example-img-file\.bin\.\.\.

Upon looking at the source code, I observed that the send_command method looks for

[2018-02-27 20:23] Red-- commented on #128
Thank you all for your comments on this thread.

I got the Oops, unhandled type 3 error resolved when using Paramiko (by itself, and with Ansible) via the public rsa method plus username/password.

I assume Netmiko would behave similarly and require the same workaround.

I can't wait to stop supporting Force10. Soon... but not soon enough!

[2018-02-28 04:58] ddisisto commented on #621
I've submitted a new PR for this, which is a better and cleaner approach compared to my last effort. I still believe that any retries that occur should at least be controllable by the user, while the current implementation is unpredictable, being a factor of a) `max_loops` variable & b) how many loops are actually required get through the prompts on any given login attempt.

Even better IMO is for

[2018-02-28 17:36] ktbyers commented on #528
@bosspuj Can you post your code?

[2018-02-28 17:48] bosspuj commented on #528
@ktbyers

[code]
I am looking for a way to avoid that time.sleep(300)... make it dynamic (based on file copy time), instead of a static predefined value....

Thanks.

[2018-02-28 18:49] ktbyers commented on #528
Probably try:

[code]

Note, by default `send_command` will wait 100 seconds, so delay_factor=4 will wait 400 seconds. If you need longer than this, you can increase it to a bigger value.

[2018-02-28 18:53] bosspuj commented on #528
@ktbyers  Thanks for the help! Much appreciated!

[2018-03-02 23:05] ktbyers opened #732 "Netmiko and ssh config wildcards - does this work?"
Host * !10.10.10.140
   KexAlgorithms +diffie-hellman-group1-sha1
   StrictHostKeyChecking no
   ProxyCommand ssh -W %h:%p -q -A admin@10.10.10.140

[2018-03-03 09:12] hazelfire5 commented on #630
I was not aware of that! Ok cool, I will use that. Thanks!

[2018-03-03 09:12] #630 closed

[2018-03-05 11:10] tugaba opened #733 "Importing Netmiko"
Hi Experts,

I read the previous posts about importing netmiko but none of the solutions have worked for me as such. I am a Network Security Professional and like many, trying hands on python. So in short new to programming. After going thru some basics of python I am trying to orchestrate changes in my simulated GNS network. My Virtual Adapters can talk to the GNS Routers/ASAs.

Now I did an inst

[2018-03-05 11:14] tugaba commented on #733
This is after I copied/pasted the extracted netmiko files in the Python folder

  File "<stdin>", line 1
    python -m pip install cryptography==1.8.1
                ^
SyntaxError: invalid syntax

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Cisco\AppData\Local\Programs\Python\Python36-32\netmiko\__init_
_.py", line 8, in <module>
    from netmiko.ssh_

[2018-03-05 11:15] tugaba commented on #733
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Cisco\AppData\Local\Programs\Python\Python36-32\netmiko\__init_
_.py", line 8, in <module>
    from netmiko.ssh_dispatcher import ConnectHandler
  File "C:\Users\Cisco\AppData\Local\Programs\Python\Python36-32\netmiko\ssh_dis
patcher.py", line 4, in <module>
    from netmiko.a10 import A10SSH
  File "C:\Users

[2018-03-05 14:43] tugaba commented on #733
More you try you end up doing something about it || Thump Rule of being a TAC engineer in the past.

This is where I have reached now..

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Cisco\AppData\Local\Programs\Python\Python36-32\netmiko\__init_
_.py", line 8, in <module>
    from netmiko.ssh_dispatcher import ConnectHandler
  File "C:\Users\Cisco\AppDa

[2018-03-05 15:11] tugaba commented on #733
Downloaded different cryptographic modules, still failing with same error.

[2018-03-05 15:28] tugaba commented on #733
Getting further :)
ModuleNotFoundError: No module named 'pyasn1'

[2018-03-05 15:33] tugaba commented on #733
Another one now

  File "C:\Users\Cisco\AppData\Local\Programs\Python\Python36-32\paramiko\ed2551
9key.py", line 22, in <module>
    import nacl.signing
ModuleNotFoundError: No module named 'nacl'

C:\>pip install nacl
Collecting nacl
  Could not find a version that satisfies the requirement nacl (from versions: )

No matching distribution found for nacl

[2018-03-05 16:44] ktbyers commented on #733
@tugaba What happens when you do a:

[code]

From the windows command prompt (you cannot be inside the Python shell when you do this).

[2018-03-06 06:30] tugaba commented on #733
You gotta be kidding me right, invested 10 hours on this and you cracked it in few seconds. I want to learn more now. Do you have a course offering to not only understand python more but also explore more and more from the Networks perspective. Currently working on Cisco SDA Solution where a lot of Pxgrid, APIs are involved.

![image](https://user-images.githubusercontent.com/37069911/37017257-f4d

[2018-03-06 06:31] tugaba commented on #733
Also one thing, it works but what was I missing before, why those errors before? Just for better self understanding.

[2018-03-06 22:19] pmeyerson opened #734 "send_command with expect_string and command text longer than 54 chars fails"
...
eof = re.compile('([\*\^]*\>')
x=net_con.send_command("really long command string", expect_string=eof)

 File "/home/x/.local/lib/python3.5/site-packages/netmiko/base_connection.py", line 954, in send_command
    pattern = search_pattern + r'.*$'
TypeError: unsupported operand type(s) for +: '_sre.SRE_Pattern' and 'str'

If I shorten the command text by one character it works (although then th

[2018-03-06 22:58] ktbyers commented on #734
You can't use an expect_string that is an re.compile object (i.e. it needs to be a raw string).

Note, re.compile doesn't really save you any performance (Python automatically compiles the regular expressions).

So use this:

[code]

Or use a valid expect_string (Python raw string).

[2018-03-06 22:58] #734 closed

[2018-03-06 23:35] ktbyers opened #735 "Secure Copy testing"
1. Need to test new secure copy file transfer on the ASA.

2. Does TCL transfer mode actually support binary file transfers (probably not)

3. Need to add binary files to the SCP tests

[2018-03-07 00:11] pmeyerson commented on #734
Thanks, sorry must have misread something.

On Tue, Mar 6, 2018 at 5:58 PM, Kirk Byers <notifications@github.com> wrote:

[2018-03-07 00:35] ktbyers commented on #734
@pmeyerson No worries.

[2018-03-07 16:01] michelvio opened #736 "Issue to execute script"
Hi,

I tried to execute this script to connect in cisco asa and send the command show version.

When I run the script and follow error message is displayed in my terminal.

[root@oc8405627148 Desktop]# ./asatest.py
Enter IP address: 158.98.17.164
Enter username: mavio
Enter SSH password:
Enter enable password:
Traceback (most recent call last):
  File "./asatest.py", line 18, in <module>
    print

[2018-03-07 16:01] michelvio commented on #736
Script

[root@oc8405627148 Desktop]# cat asatest.py
#!/usr/bin/env python

from netmiko import ConnectHandler
from getpass import getpass

ip_address = raw_input("Enter IP address: ")
username = raw_input("Enter username: ")

device = {
    'device_type': 'cisco_asa',
    'ip': ip_address,
    'username': username,
    'password': getpass('Enter SSH password: '),
    'secret': getpass('Enter enabl

[2018-03-08 19:01] ktbyers opened #738 "Set '\r' as the default_enter for Aruba"
Issue with Aruba controller and password entry where we had to do this.

[2018-03-08 23:33] ktbyers commented on #733
@tugaba Yes, I have this course starting next week https://pynet.twb-tech.com/class.html

[2018-03-08 23:35] ktbyers commented on #733
When you say "those errors", do you have a specific error in mind?

[2018-03-08 23:42] ktbyers commented on #736
@michelvio You are printing the `output` variable before it is defined.

Move the `print output` to the last line in the program (after the send_command_expect statement).

[2018-03-08 23:42] #736 closed

[2018-03-09 08:40] thoms27 commented on #382
Hi,

Is it possible to have an TELNETDetect too ?

Thanks a lot.

Regards,

[2018-03-09 20:03] RamVic opened #739 "Script doesn't work"
Hello , I have an scipt to make a Bkp FW , Today I saw that the script dont execute , I install python3.6 and netmiko again with

When I try to run the script I am seeing this,
root@ardc1svpla020:/ # python3.6 /tmp/Config_Routers/bkpfw.py
  File "/tmp/Config_Routers/bkpfw.py", line 19
    print host
             ^
SyntaxError: Missing parentheses in call to 'print'

And before that work without pa

[2018-03-09 20:14] RamVic commented on #739
I dont know what change , because before working and now not.

[2018-03-09 23:07] tonypnode commented on #739
print(output) instead of print output

[2018-03-09 23:08] tonypnode commented on #739
And print(host)

[2018-03-09 23:11] RamVic commented on #739
Yes , I did it , but the command
output=net_connect.send_command_timing("copy startup-config tftp://10.54.248.56")

if 'Address or name of remote host' in output:
... output += net_connect.send_command_timing("\n")
... if 'Destination filename' in output:
File "", line 3
if 'Destination filename' in output:
^
SyntaxError: invalid syntax
output += net_connect.send_command_timing(hostname)
File "",

[2018-03-10 02:30] tonypnode commented on #739
@RamVic It's a little difficult to determine where the indent error is. Can you paste your script with markdown? (wrap your code in the comment box...) i.e.
` ` `python (minus the spaces)
your code here
` ` ` (minus the spaces)

it will make the comment look like this

[code]

[2018-03-10 02:32] tonypnode commented on #739
@RamVic sorry haha.. the explanation didn't print out right

put 3 ` (back ticks) followed by the language identifier "python"

take a look at https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet
and look at the section on code and syntax highlighting

[2018-03-10 21:40] RamVic commented on #739
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'CiscoAsaSSH' object has no attribute 'send__command_timing'

Whyyyy say AttributeErrorrr????

[2018-03-12 22:03] cctsay opened #740 "netmiko cannot handle "admin display-config" output"
Got the problem to run netmiko to "admin display-config" (like Cisco IOS "show run").
Anyway to work around?
As you can see below, "show time" and "show version" can get the support no problem.

[code]

Thanks!
C.

[2018-03-13 01:34] tonypnode commented on #739
@RamVic, it's difficult to assist you without seeing the code as you have written it (see my previous comment). And you also seem to have change the issue.

I would like to recommend that you check out the netmiko slack channel, found here: https://networktocode.slack.com/messages/C0L3D8G76/

It's a perfect place to get assistance with a specific implementation

[2018-03-13 12:13] tjhannin opened #741 "find_prompt with high latency connection with command authorization"
Not sure if this is a known issue, but it seems find_prompt is unreliable when talking to device via a high latency/jitter connection with AAA command authorization enabled. Things get slightly better by increasing the delay_factor, but it seems this is still somewhat unreliable.

The gist of the issue seems to be that the find_prompt function sends X number of newlines, gets the last line as the

[2018-03-13 15:10] viviengraffin opened #742 "Impossible to connect to Dell S55 switches"
Hello,

I am unable to connect on my s55 switches using netmiko. I have also s4810 switches but it's working without any issue. The only difference is the FTOS version (8.3.5.6 for the s55 and 9.9 for the s4810)

When I try to connect with netmiko, I have this message:

Oops, unhandled type 3

Then I got an EOFError.

Has anyone already got this issue ?

Thank you for your attention in this matter

[2018-03-13 17:09] ktbyers commented on #742
Try the solution that is referenced here and see if it works:

https://github.com/ktbyers/netmiko/issues/373

Which looks like setting `look_for_keys=True` in ConnectHandler call (in addition to sending a username/password).

[2018-03-13 17:10] ktbyers commented on #373
@networkpadawan Can you post your working code so that we can incorporate this fix into Netmiko.

[2018-03-13 17:42] ktbyers commented on #741
AAA authorization and automation do not go very well together. The TACACS+ server is unable (generally to keep up with the requirements of automation). It will be even more of a problem if you start trying to do things concurrently (to multiple devices).

You could try adding a global_delay_factor to your ConnectHandler call. Start at 2, then 4, then 8 and keep increasing it upwards. This will slo

[2018-03-13 18:03] tjhannin commented on #741
The AAA authorization in this case is really more because we need to be able to support multiple access levels to the devices, and doing that with modifying command privilege levels isn't really a workable solution. Not really seen issues with AAA itself when running around 50 concurrent threads, but not tried to take concurrency higher than that.

I'm actually using netmiko via napalm, which limi

[2018-03-13 18:10] ktbyers commented on #741
@tjhannin Are you doing concurrency here or just to a single device?

NAPALM should support all Netmiko arguments to ConnectHandler (at least when this pull request is approved https://github.com/napalm-automation/napalm/pull/673)

It should support global_delay_factor also, but yes it will limit your options quite a bit (as far as send_command arguments).

Your problem would be you would have to

[2018-03-13 19:08] tjhannin commented on #741
I'm doing concurrency, but I can reproduce this issue with a single device as well.

I agree it doesn't sound optimal to have to customize Netmiko every time it's upgraded - I might go back and see if I can figure out a way to avoid that, but at the same time trying to avoid having to go with a high delay factor if I can. If I go on that path, might need to go with something like 20 for some devic

[2018-03-13 19:50] ktbyers commented on #741
Have you tried just increasing global_delay_factor to a value of 2 or 4 (that is probably the easiest fix)?

[2018-03-14 09:21] viviengraffin commented on #742
It don't works. I have this error.
TypeError: __init__() got an unexpected keyword argument 'look_for_keys'

[2018-03-14 17:04] ktbyers commented on #742
@viviengraffin Post your code please. Thanks.

[2018-03-14 17:59] tjhannin commented on #741
Yes, I did experiment with a few different values and it does seem like setting that to 4 will work most of the time. It still feels a bit like hit and miss though, especially because network conditions might of course vary.

FWIW, here's the extra stuff I added into find_prompt when I was experimenting with trying to make sure it doesn't leave extra "prompts" behind. "prompt_pre" is a copy of the

[2018-03-15 08:13] viviengraffin commented on #742
def sshConnect(ip,username,password,enable_password,typ,ts):
	li={
		"device_type":typ,
		"ip":ip,
		"username":username,
		"password":password,
		"secret":enable_password,
	}
	if ts=="dell_s55":
		li["look_for_keys"]=True
	ssh=ConnectHandler(**li)
	ssh.enable()
	if ts=="dell_n2000":
		ret=DellN2000(ssh,ip)
	elif typ=="dell_force10":
		ret=DellForce10(ssh,ip)
	elif typ=="dell_powerconnect":
		ret=

[2018-03-15 09:42] NedySuprianto opened #746 "Issue while doing telnet to cisco switch"
Dear Expert,

i have a issue while doing telnet to cisco device with looping process.
i telnet to 7 switch for grab the file, but in the middle of the process i got this error.

![screenshot_1](https://user-images.githubusercontent.com/27726673/37455531-e15cc84a-286f-11e8-92e6-b70b6b21f9c8.png)

Thanks.

[2018-03-16 02:06] ktbyers commented on #740
@cctsay Does it work if you do:

[code]

Also what does this sequence of commands look like if you do it manually via SSH from the CLI (just so I can see what is going wrong).

[2018-03-16 02:08] ktbyers commented on #739
@RamVic It looks like you misspelled `send_command_timing`. It looks like you have two underscores there and not one.

It needs to be:

[code]

[2018-03-16 17:05] cctsay commented on #740
Great and that's the solution.
Looked like SROS has the special # statements in the beginning so netmiko don't know howto handle.

'\n# TiMOS-C-14.0.R5-1 cpm/hops64 Nokia 7750 SR Copyright (c) 2000-2017 Nokia.\n# All rights reserved. All use subject to applicable license agreements.\n# Built on Thu Aug 10 09:10:28 PDT 2017 by builder in /rel14.0/b1/R5-1/panos/main\n\n# Generated FRI MAR 16 17:01:4

[2018-03-16 17:54] cctsay commented on #740
Doh looked like it can help some but not "all" so it cannot be the solution.
If there is a lot of configs between #sections then it cannot go so stop.
I did try to turn off the paging but it cannot help.

I can upload the whole "admin display-config" output so you can analyze.
Let me send it to your email.

[2018-03-16 18:06] cctsay commented on #740
Please see attached and let me know what you need.
It's just similar to Cisco "show run" but the output may be tricky to
capture through netmiko.

​​​
 sr12-2-admin-display.txt
<https://drive.google.com/file/d/1hawwycFxmEnI6jt07gOr1wlBuXrFN9yH/view?usp=drive_web>
​

On Thu, Mar 15, 2018 at 7:06 PM, Kirk Byers <notifications@github.com>
wrote:

[2018-03-16 18:09] ktbyers commented on #742
What is this conditional about?

[code]

I am assuming that `typ` here is dell_force10, what is this class you are wrapping this in here?

Can you post the full stack trace of your exception also.

[2018-03-16 18:12] princedhadwal commented on #467
Hi

Similar kind of issue I am observing, when I am login to routers from single file, I am able to login.
But when I am trying to login using import statements I am getting error.

rtr4#

C:\Users\prince.dhadwal\Desktop\py_code\lib>cd ..\testcase

C:\Users\prince.dhadwal\Desktop\py_code\testcase>python TestCase1.py
LOGIN FILE CALLED
---------------------py_code.lib.login
Device Info file called
[

[2018-03-16 18:16] ktbyers commented on #740
That file is enormous...what does the prompt look like one line to the next i.e. how does the prompt change from command 1 to command 2 to command 3.

How many lines are in that output?

[2018-03-16 18:22] ktbyers commented on #467
@princedhadwal Please post your code that is working. Please wrap your code in triple backticks so that it doesn't get distorted by the markdown.

[2018-03-16 18:23] cctsay commented on #740
Is it what you're looking for?
I'm not that clear why netmiko can collect whole config on Cisco IOS and
Juniper Junos no problem but no go on Alcatel SROS.

Anyway, let me know if you need any else so we can get the support on  Alcatel
SROS.

Thanks!
C.

*B:alu7750sr12-2# show time
Fri Mar 16 18:18:19 UTC 2018
*B:alu7750sr12-2# show version
TiMOS-C-14.0.R5-1 cpm/hops64 Nokia 7750 SR Copyright (c)

[2018-03-16 18:23] ktbyers commented on #746
Please post your code and the full stack trace.

[2018-03-16 18:27] ktbyers commented on #740
I assume that this:

[code]

goes away if you do this:

[code]

How many lines are in the output of `admin display-config`?
How long (roughly) does it take to complete?

Does it prompt you for anything as part of the command or does it run to completion (after you have done the `environment no more`)?

Kirk

[2018-03-16 18:34] cctsay commented on #740
Correct. I can just turn of the paging with "environment no more" and it
will keep scrolling till it ends. No it will not prompt me for any if no
paging.

It really depends on if you have large config file or not. For here, it's
indeed huge.(>25M config file)
Yes it took me around 5 minutes for the output is done.(Will be longer if I
don't turn off paging.)

On Fri, Mar 16, 2018 at 11:27 AM, Kirk

[2018-03-16 18:41] ktbyers commented on #740
@cctsay Okay, try this:

[code]

That should allow for roughly 800 seconds for it to complete.

If that fails please post the stack trace.

[2018-03-16 19:02] cctsay commented on #740
Yep it's working now:)

Thanks!
C.

Fri Mar 16 12:57 cctsay@kenny:~]tail -10 alu7750sr12-1.cfg
            exit
            no shutdown
        exit
    exit

exit all

# Finished FRI MAR 16 18:56:59 2018 UTC

Fri Mar 16 12:57 cctsay@kenny:~]head -10 alu7750sr12-1.cfg

# TiMOS-C-14.0.R5 cpm/hops64 Nokia 7750 SR Copyright (c) 2000-2016 Nokia.
# All rights reserved. All use subject to applicable lic

[2018-03-16 19:02] princedhadwal commented on #467
@ktbyers Please find the code.
[code]

When I am running this file standalone, no error is coming.
But when I am importing this module in some other .py file then error is coming.

[2018-03-16 19:36] #740 closed

[2018-03-16 20:49] bgile opened #747 "paramiko signing issue"
I was just using netmiko a couple weeks ago with no issue, but today went to go test some stuff and nacl is having an issue in the signing process for paramiko.  All my libs are up to date, not sure what to make of this stack trace honestly, couldn't find anything solid.  Anyone have input?   Much appreciated!

Traceback (most recent call last):
  File "./get_running-config.py", line 5, in <module

[2018-03-16 21:41] ktbyers commented on #747
I would upgrade your `paramiko` and possibly your `cryptography` library

[2018-03-17 09:13] toghraee commented on #467
What device are you connecting to? 

Best regards
Reza Toghraee
Sent from Smartphone . Forgive the brevity and typos.
-------- Original message --------From: princedhadwal <notifications@github.com> Date: 16/03/2018  18:12  (GMT+00:00) To: ktbyers/netmiko <netmiko@noreply.github.com> Cc: Reza Toghraee <reza@toghraee.com>, Mention <mention@noreply.github.com> Subject: Re: [ktbyers/netmiko] Cisco 35

[2018-03-19 02:19] NedySuprianto commented on #746
this is my code :

[code]

[2018-03-19 07:30] princedhadwal commented on #467
@toghraee- I am connecting into Trident 2 boards having Zebos binaries loaded in it. Basic CLI is similar to cisco devices to login and entering into global mode.

[2018-03-19 08:01] viviengraffin commented on #742
For the s55 switches, I use the DellForce10 class.

Traceback (most recent call last):
  File ".\prog.py", line 33, in <module>
    ssh=sshConnect(ips[i],username,password,enable_password,types[i],tss[i])
  File "C:\Users\vgraffin\Desktop\sauvegarde switchs\swdriver.py", line 38, in sshConnect
    ssh=ConnectHandler(ip=ip,username=username,password=password,device_type=typ,secret=enable_password,l

[2018-03-19 10:08] toghraee commented on #467
I have tested netmiko with Trident 2  with ONL and Cumulus earlier and that was working perfectly.  In general the ssh server which was on ONL and Cumulus was compatible with netmiko & paramiko.

Im not sure IPinfusion Ocnos and Zeboss.   Can you get more detailed logs from paramiko?

From: princedhadwal [mailto:notifications@github.com]
Sent: 19 March 2018 07:30
To: ktbyers/netmiko <netmiko@norep

[2018-03-19 10:31] dtantsur commented on #509
From my packager point of view I would like to have at least some tests, so that I can check that my package is basically functional (no missing dependencies, the right files are on the right place, etc).

[2018-03-19 11:13] princedhadwal commented on #467
Below are the paramiko logs

[code]

[2018-03-19 12:00] toghraee commented on #467
Normally after Kex, Cipher , MAC and compression agreement in the log you should see a User authentication  (userauth) log. (refer to my logs in this thread) .

Also I noticed that Paramiko is not throwing any exception.

I suggest to trace the parameters sent to paramiko , I think there is something missing, i.e the user authentication paramaters not passed.

Another simple test to isolate the pr

[2018-03-19 16:26] ktbyers commented on #509
@dtantsur Yes, I agree adding more unit tests make sense...we should definitely do that.

Mock tests I still want to think about some more. Right now instead of mock tests there is a functional test suite that gets run against a set of platforms (though only that set of test devices that I have in my lab environment).

[2018-03-19 16:31] ktbyers commented on #742
@viviengraffin Try:

[code]

instead of look_for_keys.

[2018-03-19 16:36] ktbyers commented on #746
It looks like one of your devices timed on telnet connection here (or was unable to make the telnet connect for some reason).

[code]

I would isolate the test to only that one device and see if you can successful connect to it using Netmiko.

[2018-03-20 08:07] viviengraffin commented on #742
I have this error.

[code]

[2018-03-20 09:23] NedySuprianto commented on #746
i testing with one device and success, but when im doing looping, with more than 5/7 device the process will error.

[2018-03-20 14:13] sngx13 opened #750 "Fortigate change of hostname"
Hi Kirk,

First of all thank you for all your efforts in building and maintaining such a wonderful tool 👍 I'm building an automation script (once again, thank you for your automation course too :). There seems to be an issue when i try to set hostname using "send_command" method and i think it must be related to prompt you are expecting back from device, since it's changed:

OSError: Search patter

[2018-03-20 17:08] jacob2717 opened #751 "get layer 2 information based on layer3 IP"
hello Kirk!

I am trying to create an script that help in searching an mac address of a server on the LAN switch environment and provide interface details on where it is connected to.

Initially I made two scripts - juniper.py and show_mac-address.py
Juniper.py

from netmiko import ConnectHandler
from datetime import datetime

juniper_junos = {
	'device_type': 'juniper_junos',
	'ip': '10.6.254.53'

[2018-03-20 17:47] ktbyers commented on #751
It looks like you have a newline(s) on your mac-address. Just do a `output_arp.strip()` and then try your show command again

[2018-03-20 20:28] bgile commented on #747
After much back and forth upgrading and reinstalling.. it was easier to just start fresh with new library installs of netmiko etc...  Still a mystery what happened but  everything is working fine now.

Thanks

[2018-03-20 20:28] #747 closed

[2018-03-21 15:59] hawthorn commented on #698
ssh cli prompt is:
prompt = u'> '

In [39]: net_conn.write_channel('show ip arp\n')
In [40]: output = net_conn.read_channel()
In [41]: print(output)
showiparp
In [42]: net_conn.find_prompt()
Out[42]: '\x07'

DEBUG:netmiko:read_channel:
DEBUG:netmiko:write_channel: b'\n'
DEBUG:netmiko:read_channel: ^G
DEBUG:netmiko:In strip_ansi_escape_codes
DEBUG:netmiko:repr = '\x07'
DEBUG:netmiko:new_output = ^G

[2018-03-21 16:34] theLORD97 commented on #321
Traceback (most recent call last):
  File "C:\Python27\Exercise Files\OLT\connect_to_olt.py", line 5, in <module>
    from netmiko import ConnectHandler
  File "build\bdist.win-amd64\egg\netmiko\__init__.py", line 8, in <module>
  File "build\bdist.win-amd64\egg\netmiko\ssh_dispatcher.py", line 4, in <module>
  File "build\bdist.win-amd64\egg\netmiko\a10\__init__.py", line 2, in <module>
  File "b

[2018-03-21 16:41] ktbyers commented on #321
@theLORD97 It looks like you have an invalid installation of the cryptography library. I would try to reinstall paramiko and the cryptography library (probably in a new virtual environment).

[2018-03-21 16:50] theLORD97 commented on #321
thanks Kirk, looks like i had to downgrade the paramiko version for it to work

c:\>python -m pip install paramiko==2.1.2
Collecting paramiko==2.1.2
  Using cached paramiko-2.1.2-py2.py3-none-any.whl
Requirement already satisfied: pyasn1>=0.1.7 in c:\python27\lib\site-packages (from paramiko==2.1.2)
Requirement already satisfied: cryptography>=1.1 in c:\python27\lib\site-packages (from paramiko==2

[2018-03-21 21:50] ktbyers opened #752 "Create a new ansible module that handles terminal servers"
.

[2018-03-22 13:49] Jajao555 opened #753 "Juniper configuration send_command save to file"
When I use send_command for configuration commands I wanted them to be saved to a file as a log to track that they all go successfully but it only seems to output the prompt and skips all the command and then outputs the commit complete confirmations.

Here's a snippet of some of the code with how I'm sending the commands and saving to a file. If I run logger with DEBUG set I can see where its sen

[2018-03-22 16:46] zweiund40 opened #754 "Connection to device timed-out: cisco_ios 10.255.141.240:22"
Hi Mr. Byers,

I wrote a script using netmiko which connects across a ssh-tunnel to cisco devices gathering output from various commands. The script worked without problems on Ubuntu 16.04. LTS. But after a new installation of 17.10., I'm constantly facing this issue:

    Traceback (most recent call last):
      File "/usr/lib/python3/dist-packages/netmiko/base_connection.py", line 392, in establ

[2018-03-22 16:49] ktbyers commented on #753
@Jajao555 You shouldn't really be using `send_command` for sending configuration commands use `send_config_set` instead:

[code]

In your above code, you are overwriting the output variable each time (so it will only have the content from the last command).

After the first command you should do:

[code]

Or

[code]

The += essentially does the same thing (i.e. adds the new output onto the end of

[2018-03-22 16:50] ktbyers commented on #753
I missed your first `rescue` command in the new solution I posted using `send_config_set`

[2018-03-22 16:50] #753 closed

[2018-03-22 17:00] ktbyers commented on #754
It looks like it is failing DNS resolution:

[code]

Can you post your code.

[2018-03-22 17:30] zweiund40 commented on #754
Yes. It's part of a long script, but I stripped it down to the essential parts:

    forty2@bebektor2:~/bin$ cat testnetmiko.py
    #!/usr/bin/python3
    #coding: utf-8
    #
    # (C) by TO
    #

    import regex
    import os
    import inspect

    from netmiko import ConnectHandler

    def GetDataNetmiko():

        devstruct = {
            'device_type':         'cisco_ios',
            #

[2018-03-22 18:30] zweiund40 commented on #754
Yes, I can. But it's the same. And I will do it tomorrow morning. I'm
currently on my way home. It's already 19.30 in Germany. Thx.

Kirk Byers <notifications@github.com> schrieb am Do., 22. März 2018, 18:34:

[2018-03-22 18:36] Jajao555 commented on #753
Awesome! Thanks.

[2018-03-22 21:07] d3nisko opened #756 "use_textfsm is not working when exporting path using ~ symbol"
Hi, I'm using ntc templates to transform output of the "show interfaces status" command.

First case: ntc templates cloned into home dir.
**NET_TEXTFSM=/home/testuser1/ntc-templates/templates**
Behavior: Everything is working as expected. Dict returned.

Second case: ntc templates cloned into the working dir with the script. full path specified.
**NET_TEXTFSM=/home/testuser1/scripts/learn/automati

[2018-03-23 12:21] zweiund40 commented on #754
I simplyfied the script a little bit more.

    #!/usr/bin/python3
    #coding: utf-8

    from netmiko import ConnectHandler

    def GetDataNetmiko():

        devstruct = {
            'device_type':         'cisco_ios',
            'ip':                  'u2-fiber',
            #'ip':                  '10.255.141.240',
            'username':            'user',
            'password':

[2018-03-23 16:14] gininfra commented on #577
I copy and paste the netmiko/hp/hp_procurve_ssh.py to netmiko/hp/hp_procurvejinhua_ssh.py for HP Procurve 1920/1910 which its "_cmdline-mode on"'s password is "Jinhua1920unauthorized:, and this is the modification: https://pastebin.com/ftjk5rVb

And another copy for the HP Procurve 1920/1910 which use "512900" as its "_cmdline-mode on"'s password: https://pastebin.com/ffY69pkT

And little modifica

[2018-03-23 18:22] ginsigitgin commented on #577
in HP Procurve 1910, I have to go to enable by writing the send_command_timing like this:
conn = ConnectHandler(**device)
conn.send_command_timing("_cmdline-mode on \n Y\nJinhua1920unauthorized\nscreen-length disable \n display mac-address")

in HP Procurve 1920, I have to go to enable by writing the send_command_timing like this:
conn = ConnectHandler(**device)
conn.send_command_timing("_cmdline-

[2018-03-23 18:23] ginsigitgin commented on #577
I copy and paste the `netmiko/hp/hp_procurve_ssh.py` to `netmiko/hp/hp_procurvejinhua_ssh.py` for HP Procurve 1920/1910 which its `_cmdline-mode on`'s password is `Jinhua1920unauthorized` and this is the modification: https://pastebin.com/ftjk5rVb

And another copy for the HP Procurve 1920/1910 which use `512900` as its `_cmdline-mode on`'s password: https://pastebin.com/ffY69pkT

And little modif

[2018-03-23 20:18] ktbyers commented on #754
It looks like Paramiko tries to do a `getaddrinfo` call on both the entries when using SSH config (both in the IP address case and in the u2-fiber case).

Is u2-fiber in DNS or is it relying on the hosts file. Also what is the fully qualified domain name and have you tried using that?

[2018-03-23 22:01] zweiund40 commented on #754
Neither one thing nor the other. It‘s fully relying on the .ssh/config. On the originating host and on the jump host. I mean, that‘s how it works on the cli since time immemorial. First .ssh/config, second /etc/hosts, than dns. And only on level of dns, one need the FQDN.

If that‘s the case that paramiko is trying to do that, than there was an unreasonable change in the behavior of paramiko. The

[2018-03-23 22:24] ktbyers commented on #754
@zweiund40 Yes, good point on the address/name resolution that it shouldn't care.

What happens if you do this manually:

[code]

Replace the 10.10.10.10 with your IP address and also with `u2-fiber`. That is the class that it looks like Paramiko fails on from the Paramiko source code.

[2018-03-23 22:37] zweiund40 commented on #754
forty2@bebektor2:~$ python3
    Python 3.6.3 (default, Oct  3 2017, 21:45:48)
    [GCC 7.2.0] on linux
    Type "help", "copyright", "credits" or "license" for more information.

    [(<AddressFamily.AF_INET: 2>, <SocketKind.SOCK_STREAM: 1>, 6, '', ('10.255.141.240', 22))]

Immediate reponse.

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/usr/lib/pyt

[2018-03-23 22:42] ktbyers commented on #754
What happens if you change your SSH config file to this and test using an IP address (10.255.141.240)

[code]

[2018-03-23 22:45] ktbyers commented on #754
Ooops, must have accidentally clicked the `close issue` button...

[2018-03-23 22:50] zweiund40 commented on #754
Unfortunately the same behavior.

[2018-03-23 22:54] ktbyers commented on #754
Okay, you can restore you SSH config file to what you had previously.

It would be interesting to add a print statement here (to see what it is trying to resolve).

[code]

Line 200 of that client.py Paramiko file. Make a backup of the file so you can restore it properly after testing.

Just before that do a:

[code]

I would be interested in doing this in both cases both the u2-fiber and the IP a

[2018-03-23 22:55] zweiund40 commented on #754
Funny. I just realized the issue was closed. In Germany, we say DFK: "dicke Fingerproblem." Literally "thick finger problem." Means accidentially hitting the wrong keys causing weird things.

[2018-03-23 22:55] zweiund40 commented on #754
It's meant funny.

[2018-03-23 22:59] zweiund40 commented on #754
Uh ... I'm a little bit puzzled now.

    ossi@pandora:~/GitSrc$ sudo locate client.py|egrep para
    /usr/lib/python2.7/dist-packages/paramiko/client.py

python2.7 ? I expected at least something like python3. I'm not that firm with python. Can that cause the problem?

[2018-03-23 23:00] ktbyers commented on #754
It should be this file here:

[code]

[2018-03-23 23:00] ktbyers commented on #754
This is from your stack trace.

[2018-03-23 23:00] zweiund40 commented on #754
Oh! Sorry. I accidentially looked at my Ubuntu 16.04. VM. Sorry.

[2018-03-23 23:01] zweiund40 commented on #754
Yes. And there it is:

    forty2@bebektor2:~$ sudo locate client.py|egrep para
    /usr/lib/python3/dist-packages/paramiko/client.py

[2018-03-23 23:08] zweiund40 commented on #754
forty2@bebektor2:~$ testnetmiko.py
    10.255.141.240:22
    22
    Traceback (most recent call last):
      File "/usr/lib/python3/dist-packages/netmiko/base_connection.py", line 392, in establish_connection
        self.remote_conn_pre.connect(**ssh_connect_params)
      File "/usr/lib/python3/dist-packages/paramiko/client.py", line 300, in connect
        to_try = list(self._families_and_addres

[2018-03-23 23:11] ktbyers commented on #754
What version of Netmiko are you using? You can get this from `pip list`.

[2018-03-23 23:19] zweiund40 commented on #754
I always try to avoid pip if it is possible. I rather rely on the official repositories. Maybe I'm wrong, but I think keeping my installation up to date is easier accomplished with apt.

    forty2@bebektor2:~$ dpkg -l *netmi*
    Desired=Unknown/Install/Remove/Purge/Hold
    | Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
    |/ Err?=(none)/Reinst-required (Status,E

[2018-03-23 23:20] ktbyers commented on #754
That is very old. You need to upgrade to a much newer version.

You should probably get something that is Netmiko >= 2.0

I am pretty sure that is the cause of your problem as that ip_address:port changed in roughly Netmiko 1.4.0.

[2018-03-23 23:37] zweiund40 commented on #754
Sigh. Ok, I changed it. I remove the Ubuntu packages and installed it with pip3. And now it works.

    forty2@bebektor2:~$ testnetmiko.py
    SSH connection established to u2-fiber:22
    Interactive SSH session established
        Line       User       Host(s)              Idle       Location
    *  1 vty 0     thoswald   idle                 00:00:00 10.255.140.22

      Interface      User

[2018-03-24 00:02] zweiund40 commented on #754
And now I remember. It's several months ago I installed netmiko on my old Ubuntu 16.04. I had to use pip to install it, because netmiko wasn't available in the official Ubuntu repositories. That's why it worked before I installed 17.10. Canonical include it, but unfortunately a very old version. I simply forgot.

[2018-03-24 00:05] ktbyers commented on #754
Yes, I should have asked earlier on, but I didn't really see anything that was correlating to and old Netmiko version until we added the additional print debugging.

[2018-03-24 17:01] tcampion64 commented on #382
Where do I find this autodetect feature? is there some example code? I will be doing an audit of many unknown devices in the enterprise.

[2018-03-24 17:09] tcampion64 commented on #382
Stupid question I see it now...

cisco = {
"device_type": "autodetect",
"ip": "IP", # IP
"username": "USER", # login user
"password": "PASS", # login user password
"secret": SECRET", # enable password
}

[2018-03-24 22:30] zweiund40 commented on #754
Oh, sorry! I wasn't aware that I'm the one who is supposed to close the issue.

[2018-03-24 22:30] #754 closed

[2018-03-25 12:15] jacob2717 commented on #751
Thank you Kirk, appreciate your help!!!! it worked cheers!!

Below is the script I modified as advised and got the desired output:

SCRIPT:

from netmiko import ConnectHandler

juniper_junos = {
	'device_type': 'juniper_junos',
	'ip': '10.6.254.53',
	'username': 'jkedari',
	'password': 'Kaju@123#',
}

net_connect = ConnectHandler(**juniper_junos)
output = net_connect.send_command('show arp no-reso

[2018-03-25 12:15] #751 closed

[2018-03-26 10:07] Selvam02cs33 opened #758 "NetMikoAuthenticationException: Telnet login failed"
unable to telnet to the device. getting authentication issue, please help. I was able to login successfully with same user name and password via putty.

Script 👍
[code]

Logs:

DEBUG:netmiko:read_channel:

C

CCC

      ---------------------------------------------------

                          ATTENTION

                   This is a private system.

         Access by unauthorized personnel is

[2018-03-26 13:14] jacob2717 opened #759 "How do I use raw_input and getpass for my script"
Hi Kirk,

This is the similar script from my last issue I reported and which was fixed, and now I am trying to integrate import subprocess into it, meaning how do I use raw_input and get.pass instead of mentioning my own username and password into the script, because in an enterprise network for bigger organisation it wouldn't be best practice to save individuals or service accounts credentials in

[2018-03-26 14:52] ktbyers commented on #759
@jacob2717 You enclosed the colon inside the string quotes:

[code]

You need to have:

[code]

[2018-03-26 14:56] ktbyers commented on #758
@Selvam02cs33 What model/platform are you connecting to?

Kirk

[2018-03-26 15:37] jacob2717 commented on #759
Nice catch, also I re-did my script and it works awesome!!! again thanks a lot for you help!!

==========SCRIPT=========

from netmiko import ConnectHandler
import getpass
import subprocess

user1 = raw_input('Username: ')
p = getpass.getpass()

juniper_junos = {
	'device_type': 'juniper_junos',
	'ip': '10.6.254.53',
	'username': user1,
	'password': p,
}

net_connect = ConnectHandler(**juniper_jun

[2018-03-26 15:38] #759 closed

[2018-03-27 17:05] clovehitch commented on #758
I'm getting a similar issue on a Cisco C2950G (IOS 12.1(9)EA1)

===LOG===
UserName:
DEBUG:netmiko:write_channel: b'\r\n'
DEBUG:netmiko:read_channel:

UserName:
DEBUG:netmiko:write_channel: b'\r\n'
DEBUG:netmiko:read_channel:
DEBUG:netmiko:write_channel: b'\r\n'
DEBUG:netmiko:read_channel:

UserName:
DEBUG:netmiko:write_channel: b'\r\n'
DEBUG:netmiko:read_channel:
DEBUG:netmiko:write_channel: b'\r\

[2018-03-27 17:15] Selvam02cs33 commented on #758
Cisco IOS Software, Catalyst 4500 L3 Switch Software (cat4500-IPBASE-M), Version                                                                                                                                                              15.0(2)SG10, RELEASE SOFTWARE (fc1)

[2018-03-27 17:18] Selvam02cs33 commented on #758
Cisco IOS Software, C3550 Software (C3550-IPSERVICES-M), Version 12.2(25)SEE2, R                                                                                                                                                             ELEASE SOFTWARE (fc1)

[2018-03-27 17:44] Jajao555 opened #760 "Juniper show | compare doesn't print"
I can't figure out why the show | compare output doesn't get printed in a logger DEBUG log file or to a saved txt file. I'm also having a similar issue with request rescue save command but I do see it being sent in the logger file.

Here's my script:
[code]
This is all I get in my txt file:

test@vSRX-2>
configure
Entering configuration mode

[edit]
test@vSRX-2# rollback 0
load complete

[edit]
te

[2018-03-27 19:04] jerryliu0866 opened #761 "Use netmiko to login GNS3 virtual IOS router via telnet successfully, but can NOT print prompt and finally timeout"
Does netmiko support this usage?
netmiko timeout when try to print prompt, errror messages are:

ipython3 -i netmiko-exercise1.py
Python 3.6.0 (v3.6.0:41df79263a11, Dec 22 2016, 17:23:13)
Type 'copyright', 'credits' or 'license' for more information
IPython 6.2.1 -- An enhanced Interactive Python. Type '?' for help.
Enter host to connect to: 127.0.0.1
Password:
------------------------------------

[2018-03-28 06:53] LongBeachHXC opened #762 "ValueError: Failed to exit configuration mode"
Not sure why I am receiving the above error. I receive this error after the third iteration or before the fourth iteration of the loop.

I'm not sure where or why I am receive the error and I'm not sure on how to troubleshoot this. The script worked flawlessly on the first three iterations and I have probably 50 devices to loop through.

[code]
for reference:

Traceback (most recent call last):

[2018-03-28 13:05] LongBeachHXC commented on #762
Just as an update. The script failed one other time iterating through 40 devices or so. In summary, the script failed twice with the above error at different moments during the run time.

[2018-03-28 13:26] LongBeachHXC commented on #760
I'm not familiar with your platform but for the 'output += session.send_command('show | compare | no-more')' command did you try 'send_command_expect?' I know on Cisco devices when you are trying to run a show command you have to use the 'send_command_expect' method.

[2018-03-28 14:17] Jajao555 commented on #760
Thanks! That worked.

[code]
Output saved to txt file.

{master}[edit]
test@PE-MX480-1# set snmp trap-group traps targets 10.x.x.x

{master}[edit]
test@PE-MX480-1#
[edit system]
+   syslog {
+       user * {
+           any emergency;
+       }
+       host 10.x.x.x {
+           any info;
+       file interactive-commands {
+           interactive-commands any;
+       }
+   }
test@PE-MX480-1#com

[2018-03-28 14:18] #760 closed

[2018-03-28 15:51] ScottW514 opened #763 "Telnet Session Closed by find_prompt() after call to is_alive()."
When ```is_alive()``` is called to test a telnet connection, it sends '0xFF,0xF1' to the host (telnet 'Interpret as Command' followed by 'NOP').
The host (in this test case, a Cisco 2911 IOS v15.4(3)M3 ) responds with '0x07' (BELL) and '0x71' (letter 'q').
When ```find_prompt()``` is subsequently called, it sends '0x0a' ('\n').  As the host previously responded to the IAC+NOP with the letter 'q',

[2018-03-29 01:46] yman45 opened #764 "Channel closed while connecting to Huawei CE switch"
Hello!
I have a problem connecting to some Huawei CE switches. Most of the time it works fine, but on some devices my script can't connect with paramiko exception "Channel closed". For example, not working one:
[code]
And working one:
[code]
Switches identical in hardware, software and SSH server configuration. I tried both 'huawei' and 'huawei_vrpv8' type with no luck. I walking through hundreds

[2018-03-29 02:14] ktbyers commented on #763
@ScottW514 Okay, maybe we will just eliminate is_alive() we have had ongoing issues making it work for SSH and now telnet.

Writing a space doesn't seem like the correct behavior (for what we should do).

[2018-03-29 02:24] ktbyers commented on #760
@Jajao555 @LongBeachHXC  Note, send_command and send_command_expect are the exact same thing in Netmiko (one method just points to the other) so that is not an explanation for this issue.

This is for any version of Netmiko >= 1.0.0.

Basically I am saying that is not an explanation for your issue (unless you were using a very old version of Netmiko).

[2018-03-29 02:28] ktbyers commented on #760
It sounds like you have it working...so just let me know if you want to dig into what was going on in more detail.

[2018-03-29 02:33] ktbyers commented on #762
Is it always the same device that it fails on?

[2018-03-29 02:49] ktbyers commented on #741
@tjhannin Another option is to specify an expect_string argument to send_command and then find_prompt() will not be executed on each send_command() execution

[code]

You would need a pattern that you could deterministically know that the command was done.

Alternatively, you could find the prompt once with a high delay factor and then use this for your expect_string.

[2018-03-29 03:19] ktbyers commented on #746
@NedySuprianto Are you using TACACS+ for authentication?

So a device that fails, works when you test it individually?

[2018-03-29 03:59] LongBeachHXC commented on #762
The first time it failed...Yes. I rant the script multiple different times and it failed every time after the 3rd and before the 4th device. The 3rd device appeared to receive all of the configurations with no issue.

The second time it failed I did not test it to see if it was going to fail again so I'm not sure if it was going to fail multiple times.

[2018-03-29 04:02] ktbyers commented on #758
I think it doesn't like the:

[code]

With the capital 'Name' that is different than other IOS devices.

I will see if I can put a fix in for it.

[2018-03-29 04:08] ktbyers commented on #761
@jerryliu0866 Is the device super slow to respond?

In your debug, I see use send <enter> (\n) around 30 times and the router never responds (after the first one)?

Possibly try setting `global_delay_factor=2` or 4 (this is an argument to ConnectHandler).

[2018-03-29 12:11] ScottW514 commented on #763
I found the problem.  It's in telnetlib.py:

[code]

The ```write()``` function doubles any IAC characters, which has the effect of escaping it.

Proper IAC + NOP sequence:
[code]

A possible option would be to extend the Telnet class and override the ```write()``` method with an extra optional argument to disable the IAC escapement when deliberately trying to send a command sequence.

If you conc