[2014-12-03 03:52] ktbyers opened #1 "Paramiko uses id_rsa/id_dsa and does not use username/password"
If ~ssh/id_rsa.pub or ~ssh/id_dsa.pub Paramiko will try to use these and will not use the username/password that you specify.

[2014-12-04 05:50] #1 closed, assigned to nobody

[2014-12-08 00:01] ktbyers opened #2 "Add asynchronous capabilities to connect to several devices in parallel (non-blocking)"

[2014-12-10 22:37] ktbyers opened #3 "Fix ASA paging so not a config command change"
Use this instead so not a config command change:

terminal pager 0

[2014-12-10 22:52] ktbyers opened #4 "Fix find prompt so that it always first calls clear_buffer()"
Cleaner to do it this way.

[2014-12-12 19:07] ktbyers opened #7 "Commit on IOS-XR"

[2014-12-12 19:08] ktbyers opened #8 "Add a rollback mechanism for IOS-XR"

[2014-12-12 20:00] ktbyers opened #9 "Should add commit message to IOS XR"
Also probably a commit confirm time

[2014-12-12 22:27] #3 closed, assigned to nobody

[2014-12-12 22:52] ktbyers opened #10 "Update the base normalize_linefeeds to handle different cases"
IOS-XR case
NX-OS case
HP ProCurve case

[2014-12-15 03:20] jayswan opened #11 "setup.py fails to install hp"
setup.py fails to install hp package, leading to ImportError exception when importing netmiko.

Fixed by adding 'netmiko/hp' to packages list in setup.py

[2014-12-15 05:41] #11 closed, assigned to nobody

[2014-12-16 23:06] ktbyers opened #15 "Need a unit test for F5 LTM"

[2014-12-17 00:09] ktbyers opened #16 "F5 LTM prompt handling (find_prompt) needs fixed"

[2014-12-17 00:09] #2 closed, assigned to nobody

[2014-12-17 00:13] ktbyers opened #17 "F5 LTM needs normalize ANSI escape codes."

[2014-12-17 00:16] ktbyers opened #18 "F5 LTM still has \r in the output."

[2014-12-18 05:57] #4 closed, assigned to nobody

[2014-12-18 20:07] ktbyers opened #20 "Need explicit test on IOS XR for calling .commit() directly."

[2014-12-19 23:33] ktbyers opened #23 "Issue with not updating find_prompt when you enter/exit enable, config mode"

[2014-12-20 00:21] #10 closed, assigned to nobody

[2014-12-20 00:21] #15 closed, assigned to nobody

[2014-12-20 00:21] #16 closed, assigned to nobody

[2014-12-20 00:22] #17 closed, assigned to nobody

[2014-12-20 00:22] #18 closed, assigned to nobody

[2014-12-22 22:00] ktbyers opened #24 "Juniper output prompt not stripped when output is xml."

[2014-12-23 22:44] #24 closed, assigned to nobody

[2014-12-24 00:03] ktbyers opened #25 "Extra \n in output for show commands on Juniper"
Might also exist in other contexts as well.

[2015-01-29 22:57] ktbyers opened #29 "Boolean return values versus string return values"
I am currently returning strings instead of booleans for some functions like enable(), config_mode() would returning booleans be more logical?

[2015-01-29 22:58] ktbyers opened #30 "What is the purpose of the find_prompt string"
What does it do, when does it get updated, is it named properly.

Placeholder as I am concerned how I am currently using this is going to cause problems/confusion.

[2015-01-29 22:58] ktbyers opened #31 "Need tests for Comware"
Need unit tests for Comware (located in the netmiko/tests directory).

[2015-01-30 14:43] ravenblue12 commented on #29
Under normal circumstances you want to get an boolean return value when you enter an new state. I only want to get the output for debugging.

[2015-01-30 14:45] ravenblue12 commented on #30
find_prompt is an important function to distinguish the different modes at the cli. It should be updated after login and after the enable or config command.

[2015-01-31 00:01] ktbyers commented on #30
Here is the main issue...some platforms (Juniper, Alcatel, Cisco to a certain extent in config mode) have prompts that very frequently change.

When you call find_prompt(), it updates the self.router_prompt attribute (and self.router_prompt is used as part of the send_command() method to strip off the trailing prompt at the end of show commands).  If self.router_prompt doesn't match the current re

[2015-01-31 00:07] ktbyers commented on #29
For methods like enable() and config_mode() IMO it is better to have it either work (which is validated as part of the method) or raise an exception.  In other words, if you say .enable() and it doesn't actually go into enable your program should crash (unless you explicitly handle the exception).

For these methods (enable(), config_mode()) what added value is there to returning a boolean since y

[2015-01-31 00:24] ktbyers opened #32 "check_config_mode '(config' string will fail for Cisco IOS and potentially other vendors"
Potentially use ')#' as a solution.

Look at what HP ProCurve does in config mode and wider sample of what Cisco does.

[2015-01-31 09:16] ravenblue12 commented on #32
use prompt[-2:] == ')#' or we distinguish between context switch prompt and context prompt as you suggest.

[2015-01-31 09:20] ravenblue12 commented on #29
To raise an exception is no bad idea, because it is very important to ensure that you are in that mode!

[2015-01-31 19:03] ktbyers commented on #29
Yes, I agree.  I think it should crash (i.e. exception) unless the user
explicitly handles the exception.

Kirk

On Sat, Jan 31, 2015 at 1:20 AM, Rene Plattner <notifications@github.com>
wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2015-02-02 19:23] ravenblue12 commented on #31
It works also on comware 7. I tested it with a virtual HP VSR1000.

[2015-02-02 20:24] ravenblue12 opened #34 "Problem ending IOX XR config mode without commit command"
The following question will occur when you end the config mode at IOS XR without commit:

RP/0/0/CPU0:ios-xrv(config)#end
Uncommitted changes found, commit them before exiting(yes/no/cancel)? [cancel]:

[2015-02-02 20:51] ravenblue12 commented on #34
send_config_set(<commands, commit=True) is working, but without commit is not wokring!

[2015-02-02 23:57] ktbyers commented on #32
Some HP examples
twb-sf-hpsw1(config)#
twb-sf-hpsw1(vlan-1)#

Some Cisco examples
twb-sf-uc520(config)#
twb-sf-uc520(config-if)#
twb-sf-uc520(dhcp-config)#
twb-sf-uc520(config-ext-nacl)#

[2015-02-03 00:25] #32 closed

[2015-02-03 00:27] ktbyers commented on #31
Okay, nice...here I am referring to Unit Tests.  I have unit tests for pretty much everything, but Comware.  The unit tests are located in the netmiko/tests directory and use py.test.

They are pretty easy to create.

[2015-02-03 00:31] ktbyers commented on #34
I want to look at this behavior on Juniper too.

[2015-02-10 05:22] ktbyers commented on #7
Need to test failed commits on IOS XR

[2015-02-10 05:23] ktbyers commented on #8
Need a way to rollback a change
IOS-XR
Juniper

[2015-02-10 05:23] ktbyers commented on #8
Another solutions is to just use send_command and manually send the command to do the rollback

[2015-02-10 05:24] #9 closed

[2015-02-10 05:25] #20 closed

[2015-02-10 05:26] #25 closed

[2015-02-10 05:26] ktbyers commented on #23
Duplicate issue

[2015-02-10 05:26] #23 closed

[2015-02-12 21:25] ravenblue12 commented on #31
on the way!

[2015-02-12 22:55] ktbyers commented on #31
Nice :-)

On Thu, Feb 12, 2015 at 1:25 PM, Rene Plattner <notifications@github.com>
wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2015-02-13 22:53] ktbyers commented on #34
This change was merged in...need to decide if this is best way to handle this.

diff cisco_xr_ssh.py ~/netmiko_old/netmiko/netmiko/cisco/cisco_xr_ssh.py
30,48d29
<     def exit_config_mode(self, exit_config='end'):
<         '''
<         First check whether in configuration mode.
<
<         If so, exit config mode
<         '''
<         DEBUG = False
<         output = ''
<
<         if self.ch

[2015-02-16 21:56] #31 closed

[2015-02-17 05:39] #30 closed

[2015-02-17 17:08] ktbyers opened #37 "Juniper - how am I handling [edit] string in output"

[2015-02-17 17:09] ktbyers opened #38 "Improve unit test on going into enable mode"
This changed because of changing find_prompt() behavior and now the unit tests need corrected.

[2015-02-17 17:10] ktbyers opened #39 "find_prompt test needs renamed"
This is not what this test does anymore and should be renamed.

[2015-02-17 17:10] ktbyers opened #40 "Juniper - re-write unit tests"
These tests need improved

[2015-02-18 17:15] #38 closed

[2015-02-18 17:15] #39 closed

[2015-02-24 10:42] ravenblue12 opened #43 "Error installing netmiko under Python 3.4"
# python3.4 setup.py install
Traceback (most recent call last):
  File "setup.py", line 3, in <module>
    import netmiko
  File "/home/c102/c1021058/devel/netmiko/netmiko/__init__.py", line 1, in <module>
    from ssh_dispatcher import ssh_dispatcher
ImportError: No module named 'ssh_dispatcher'

[2015-02-24 10:43] ravenblue12 commented on #43
PEP420 (https://www.python.org/dev/peps/pep-0420/)?

[2015-03-04 02:44] ktbyers opened #49 "Add a way to read commands from a file for send_command_set()"

[2015-03-06 01:48] supertylerc opened #51 "Allow Key-Based Authentication"
Key-based SSH authentication can be highly desirable, particularly for automation.  In #1, though, it was explicitly and statically disabled.

I propose that this be parameterized with a sane default of disabling SSH keys.  I will be working on an implementation as I require this functionality for an upcoming project.  It will probably be poorly considered as it is strictly for demonstrative purpo

[2015-03-06 01:55] supertylerc commented on #49
I asked about this a few days ago.  However, I think that there may be some things to consider.  Creating an array of the files lines may be bad from a performance perspective.  Chunking may be better, creating a smaller array, pushing the lines, and then going through the next X chunks.  This is particularly true when the file contains entire configurations with comments.

This suggestion may fal

[2015-03-06 01:56] lamiskin opened #52 "Explain what delay_factor is for?"
Just wondering what the delay_factor in send_command() is for?

It seems to me it is a delay to wait for output from the device, before receiving it.

My issue lays with grabbing running configuration from Cisco gear - as it seems with a small delay factor all that is received is "Building configuration...\n". Some of the older Sup 720's etc with large configurations can take 40 seconds + to displ

[2015-03-06 01:57] supertylerc opened #53 "Add NetMiko to PIP"
Pip is generally the default ecosystem for installing Python modules.  Putting NetMiko in pip could make it easier/more familiar to install and update NetMiko for end users.

[2015-03-06 02:32] supertylerc commented on #52
I think this was discussed during a recent meetup.  @ktbyers can probably speak more to it, but I believe the solution was to essentially balance out the timings yourself.  I think they can be overwritten (or that ability is on the roadmap).

[2015-03-06 02:36] supertylerc commented on #34
Wouldn't this commit the changes and then exit?  It seems that the [Principle of Least Surprise](http://en.wikipedia.org/wiki/Principle_of_least_astonishment) would suggest abandoning the change.  If I wanted to commit the change, I would have a line that says "commit" in it, right?

[2015-03-06 02:40] supertylerc commented on #29
Debugging info should be in the exception, not returned as part of the method's return value.  My vote is for returning a boolean value and raising an exception with debugging info on error.

[2015-03-06 02:46] supertylerc commented on #8
It seems that it would be trivial to create a `rollback()` method that just invokes `send_command()` to roll the change back.

[2015-03-06 05:36] ktbyers commented on #52
delay_factor is used as a multiplication factor for timing delays. The send_command() method has some things where the delays are multiplied times this delay_factor.

I know that there will be some devices that won't support the delays that I have used as the default so I wanted to give people the option of overriding them. So if it takes 40 seconds for the entire config to show, then I would prob

[2015-03-06 05:48] ktbyers commented on #51
I didn't test this, but I am pretty confident this change will work given the behavior I saw earlier with Paramiko and it attempting to use SSH keys.

Let me know when you use it.

[2015-03-06 05:55] ktbyers commented on #49
I think we should probably keep it simple...just read in the whole file and parse it into a list.

I don't see the performance of chunking as mattering.

The performance that possibly matter is how long it takes to send a whole bunch of configuration commands since send_config_set() calls send_command() which will by default delay 1 second per command.

[2015-03-06 06:03] ktbyers commented on #34
Yes, I agree this is a mistake. It should do "no" and probably print a warning.

I will just change the action for now to 'no'.

[2015-03-06 06:09] ktbyers commented on #34
Okay, I have changed this action to no.

[2015-03-06 06:15] ktbyers commented on #51
There is more that needs done to tie this into the establish_connection() calls

[2015-03-06 20:03] ktbyers opened #54 "Should the strip ansi_escape_codes be raw strings"
This is used for HP ProCurve switches.

[2015-03-06 22:47] ktbyers commented on #51
This should be done now. There is a use_keys parameter when you instantiate the class. It is False by default.

[2015-03-06 22:47] #51 closed

[2015-03-06 23:35] ktbyers commented on #43
Python3 is currently not supported only Python2.6 and Python2.7.

[2015-03-06 23:35] #43 closed

[2015-03-06 23:35] ktbyers commented on #52
Let me know if this doesn't work for you (or this doesn't sufficiently clarify how this works).

[2015-03-06 23:35] #52 closed

[2015-03-07 17:18] supertylerc commented on #34
I'm not sure if you have access to Juniper devices, but the opposite behavior is necessary with Juniper, which should be easy to handle.

[code]

[2015-03-07 17:31] supertylerc opened #55 "Juniper doesn't implement `check_config_mode()`"
The Juniper methods do not implement `check_config_mode()`.  This causes unexpected behavior and unnecessary duplication of code when trying to implement other features.  The current `config_mode()` method in the Juniper file, for example, could be eliminated and a `config_mode(config_command="configure")` (from **ssh_connection.py**) could be used instead.  I can work on this later, but here are

[2015-03-07 17:37] supertylerc opened #56 "Multiple Configuration Modes"
Juniper's CLI supports multiple configuration modes.  The more common ones:

* private
* exclusive
* shared

The `config_mode()` method should incorporate these three common modes.  I can work on this later, but an (untested) example is below.

[code]

[2015-03-07 17:38] supertylerc commented on #49
I've written the code for this.  I'll be submitting a PR later today or tomorrow.

[2015-03-07 17:47] supertylerc opened #57 "Commit Confirm"
Both Junos and IOS XR support the Commit Confirm feature.  This may be a feature worth implementing it as it can save you from a lot of things.  One use case is a commit confirm with a sufficient timeout to run automated tests, at which point the automated tests (or scripts or whatever) can commit the configuration permanently.  This can save you from committing a bad change that kills connectivit

[2015-03-07 17:48] supertylerc commented on #56
It turns out that IOS XR also supports **configure exclusive**.  It may support others, but my IOS XR expertise is limited.

[2015-03-07 18:12] supertylerc commented on #49
This is in #58.

[2015-03-07 18:48] ktbyers commented on #34
Okay, there is a Juniper specific method so we can change the behavior in
this class.

I want to address the commit/confirm/rollback in a more systematic way for
Juniper and IOS-XR. Hopefully, this week.

Kirk

On Sat, Mar 7, 2015 at 9:18 AM, Tyler Christiansen <notifications@github.com

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/bl

[2015-03-07 18:49] ktbyers commented on #56
Okay, I will open up an issue related to Junos and IOS-XR commit, confirm,
rollback as a design spec. We can spec out how this should work here and
then implement it.

Kirk

On Sat, Mar 7, 2015 at 9:48 AM, Tyler Christiansen <notifications@github.com

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your net

[2015-03-07 19:10] ktbyers opened #60 "Design spec for Junos and IOS-XR on commit/confirm/rollback"
This issue will be the design spec for Junos and IOS-XR on commit/confirm/rollback

What needs to be included here (please add items I am missing):

1. Standard commit (no confirm):
     a. Messages on exit when no commit (JunOS and IOS-XR are opposite here)

2. Commit with confirm
     a. Should have a parameter for how many minutes the confirm must come in

3. Rollback
     a. Default is rollbac

[2015-03-07 19:12] ktbyers commented on #57
Incorporating into master issue #60

[2015-03-07 19:12] #57 closed

[2015-03-07 19:12] ktbyers commented on #60
Other references issues, issue #57 (commit confirm).

[2015-03-07 19:13] supertylerc commented on #60
There is also an IOS XR and Junos `configure exclusive` to lock the candidate config from other users.

[2015-03-07 19:16] ktbyers commented on #34
Referencing from master issue #60 (design spec). Leaving this open separately as the current behavior is a bug.

[2015-03-07 19:18] ktbyers commented on #8
Referencing from #60 (design spec for commit/confirm/rollback).

[2015-03-07 19:18] #8 closed

[2015-03-07 19:20] ktbyers commented on #7
See issue #60 (design spec for commit/confirm/rollback)

[2015-03-07 19:20] #7 closed

[2015-03-07 19:35] ktbyers commented on #60
commit() is currently a separate method both for Juniper and IOS-XR.

For Juniper it has a delay_factor attribute which defaults to 10 (give sufficient time for commit to complete.

It is also used by send_config_set(). Note, send_config_set() has no way to modify the delay_factor.

IOS-XR currently has no delay_factor.

[2015-03-07 19:45] ktbyers commented on #60
commit() method parameters should have:

# JUNIPER
delay_factor      (integer)
confirm              (boolean)
confirm_delay   (how many minutes to wait for confirm, defaults to 10) -- need to verify what default is for IOX-XR
check                 (boolean), defaults to False, has precedence over confirm (i.e. if check = True) then confirm is N/A.
comment            Message to commit log

Do we ne

[2015-03-07 19:56] supertylerc commented on #60
I think `send_config_set()` should not call `commit()`.  "Do one thing and do it well."  IMHO (and feel free to disagree since you're the creator/maintainer :)), this should be a framework around which solutions are built.  Trying to do too much magic overcomplicates said framework and potentially reduces its flexibility for building tools.

[2015-03-07 20:00] supertylerc commented on #60
Also, one issue to be aware of is what happens if someone calls it like this:

`commit(delay_factor=10, confirm_delay=5)`

`confirm` will need to be set to `True` any time `confirm_delay` is used but `check` is not.

[2015-03-07 21:11] ktbyers commented on #60
I agree on the send_config_set(), commit should not be a part of this.  Besides your "do one thing well statement" which I agree with. It also will really complicate the passing of arguments for commit.

[2015-03-07 21:50] supertylerc opened #61 "Static Analysis"
Invest in static analysis tools which will help improve code readability, maintainability, and extensibility.

As an example, here's the final output of `pylint` against Netmiko's (current) master branch:

[code]

Besides the CLI tool `pylint`, other tools that integrate with GitHub include:

* [Travis CI](https://travis-ci.org/recent)
* [Scrutinizer CI](https://scrutinizer-ci.com/)
* [Landscape](

[2015-03-07 22:02] supertylerc opened #62 "Strip Additional Juniper Prompts"
There are Juniper prompts that are currently not stripped from output.  See below.

[code]

The method `strip_context_items()` does not currently strip these from output.  I will submit a PR for this.

[2015-03-07 22:18] supertylerc commented on #62
It looks like the prompt isn't being stripped after running a command as well:

[code]

[2015-03-07 22:18] supertylerc commented on #55
This is done.  I'll submit a PR later.

[2015-03-08 02:38] #49 closed

[2015-03-08 03:34] ktbyers commented on #60
commit(delay_factor=10, confirm_delay=5) --> should generate an exception

So confirm_delay will need to default to None (good point on this). We can then use the platform's default confirm_delay (i.e. only pass in a confirm_delay if the end-user specified an argument). This is a better way to do it.

commit(confirm=True, delay_factor=10) --> send to juniper  'commit confirmed'

commit(confirm=Tru

[2015-03-08 16:43] supertylerc commented on #60
Looks good to me.

[2015-03-08 19:27] ktbyers commented on #55
Okay, I think is done. The commit() workflow issue we can just address in the commit() design issue.

[2015-03-08 19:27] #55 closed

[2015-03-08 19:40] supertylerc commented on #62
This should've been mostly fixed by #63.  The only thing that isn't fixed is the presence of the final prompt.

[2015-03-08 19:41] supertylerc commented on #34
The Juniper issue was resolved by recent commits.

[2015-03-08 19:41] supertylerc commented on #37
A description here could help me out with resolving this issue (if necessary).  :)

[2015-03-08 20:45] ktbyers commented on #37
Basically, I wanted to make sure I was handling "show" command properly in configuration mode. For example, if the following is executed using netmiko:

pyclass@pynet-jnpr-srx# show routing-options
static {
    route 0.0.0.0/0 next-hop 10.220.88.1;
    route 1.1.1.0/24 next-hop 10.220.88.1;
    route 1.1.2.0/24 next-hop 10.220.88.1;
    route 1.1.3.0/24 next-hop 10.220.88.1;
    route 1.1.4.0/24 n

[2015-03-08 23:57] plucena24 opened #64 "establish_connection verbose message inaccurate."
establish_connection method in BaseSSHConnection prints "SSH connection established to {0}:{1}" even if the device the session is attempting to connect to is not a valid host on the network. Perhaps this message should be moved down right before line 96:

self.remote_conn = self.remote_conn_pre.invoke_shell()

[2015-03-09 02:13] ktbyers opened #65 "auto add SSH keys policy"
Not a secure way to do this. Should allow for a secure way for this to be accomplished.

[2015-03-09 02:14] ktbyers opened #66 "Cisco WLC support"
1. Do I need to re-enable paging before I disconnect from device (i.e. is the paging change actually stored in config)?
2. Verify WLC has no enable mode.
3. Verify WLC has no config mode.
4. Prompt typically ends in '>'
5. Need unit tests.

[2015-03-09 02:15] ktbyers opened #67 "Brocade support"
1. Check enable mode needs added/integrated
2. Exit enable mode needs added/integrated

[2015-03-09 02:15] ktbyers opened #68 "Cisco IOS has no exit enable mode (that actually does anything)"

[2015-03-09 09:18] lamiskin commented on #52
Submitted a PR for proposed new method send_command_expect().

[2015-03-09 17:28] ktbyers opened #70 "Improve tests for send_command_expect()"
I added some tests into the test_cisco_ios.py, but the tests should be more robust (for example, cover alternate search_patterns than the router prompt; verify that exceptions are actually generated correctly for failure).

[2015-03-09 17:28] ktbyers opened #71 "send_command_expect() method"
Should improve to all for regular expression patterns.

[2015-03-10 14:55] ravenblue12 commented on #43
Thanks!

Am Samstag, 7. März 2015 schrieb Kirk Byers :

[2015-03-10 17:44] supertylerc opened #72 "Improve Test Suite for Other Users"
Currently, tests require a module that's not part of the repository (for security reasons).  However, there's no documentation (other than a note in an issue) as to how to supply the necessary information.  Additionally, the tests have hard-set expectations for prompts (and possibly other items).  See excerpt below.

[code]

This means that if a user contributing code (and new tests) wants to actu

[2015-03-10 17:46] supertylerc commented on #68
PR #73 opened for this issue.

[2015-03-10 21:41] ktbyers commented on #64
Just send a pull request on it :-)

Kirk

On Sun, Mar 8, 2015 at 4:57 PM, plucena24 <notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2015-03-10 21:44] plucena24 commented on #64
lol will do =)

[2015-03-10 21:50] ktbyers commented on #72
I agree let's work out a way so that tests our less hard-coded to a particular environment and create a TESTING.md in github so people understand how to create and run tests.

[2015-03-12 22:34] supertylerc commented on #68
#73 was merged.  @ktbyers, this can probably be closed.

[2015-03-12 23:50] supertylerc commented on #72
I've done a bit of work on this.  You can see the branch I'm working on [here](https://github.com/supertylerc/netmiko/tree/feat/gh72-more-accessible-tests).  Results so far are promising.  I'll know more as I continue down this path.

Here's the output of the test after I rewrote the Juniper tests to be more extensible.

[code]

[2015-03-12 23:51] supertylerc commented on #72
@ktbyers, if you think this is the wrong way to go, let me know and I'll stop working on it and reconsider.

[2015-03-12 23:56] #68 closed

[2015-03-13 03:13] ktbyers opened #78 "send_command_expect() is not behaving correctly"
send_command_expect() should stop at the expect_string() and return only up to the end of the expect_string.

strip_prompt parameter should be renamed to give you the option of stripping the expect_string which is normally the prompt.

It currently stops on the expect_string, but catches all the data in the output buffer including after the expect_string.

[2015-03-13 17:38] ktbyers commented on #72
I will try to look at this this weekend. I glanced at it yesterday.

Kirk

On Thu, Mar 12, 2015 at 4:51 PM, Tyler Christiansen <
notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2015-03-14 22:28] #64 closed

[2015-03-15 00:10] #54 closed

[2015-03-17 20:23] irom77 opened #80 "Checkpoint device_type ?"
What about adding checkpoint device_type. I can test on :
1.CP 1100
2.Edge UTM-1
3. VSX

[2015-03-17 23:29] ktbyers commented on #80
@irom77 Can you provide a capture of an SSH session from one of these checkpoint devices including the logging in process (I don't need to see your username/password just the prompts that Checkpoint uses).

Also execute one 'show' command on the device.

[2015-03-18 13:28] irom77 commented on #80
Sure , see attached. I gave three examples. First one from legacy Edge UTM-1 which is not Linux based
The other two examples are Checkpoint Gaia appliances , small CP1100 and large VSX. Practically same thing for ssh. Both have two options:1. ssh as clish user and then switch to expert mode with 'expert' (in fact both are de facto write modes;)2. ssh as bash user and go directly to bash 
I think y

[2015-03-20 23:21] ktbyers opened #81 "Add tests that use SSH keys"

[2015-04-02 13:33] coxley commented on #53
+1

[2015-04-11 18:37] ktbyers commented on #60
Juniper is done. Still need to do IOS-XR.

[2015-04-11 18:37] #40 closed

[2015-04-11 18:45] ktbyers opened #82 "Implement a login method for Cisco ASA"

[2015-04-11 18:45] ktbyers opened #83 "Test out enable secret with no password on Cisco IOS"

[2015-04-21 01:02] ktbyers opened #84 "Support Python3"
Placeholder to figure out the issues involved in doing htis.

[2015-04-26 19:10] plucena24 commented on #84
The following  components are the main changes needed for the netmiko library to be compatible with Python 2 and Python 3.

- Using the print() function instead of the print statement
[code]
- Changing relative import statements to absolute
[code]
or
[code]
instead of

[code]

- Using the unicode 'sandwich' pattern where input bytes (output from SSH sessions, files read from disk, etc) are decoded

[2015-04-27 18:59] ktbyers opened #85 "Fix relative imports to make them absolute imports"

[2015-04-29 19:37] daenney commented on #84
* `io.open` and the `as exc_var` syntax are not supported in Python versions older than 2.6
* `print()` requires a `from __future__ import print_function`
* The `.decode('utf-8')` stuff can probably be omitted if you go with `from __future__ import unicode_literals` but would have to test that

[2015-05-01 23:36] ktbyers commented on #84
@daenney I missed this comment earlier. Let me know if you are interested in working on this Python3 support for netmiko. There is a good chance Pablo and I are going to work on it. I want to look at it some this weekend.

For Python2, we are only going to support Python2.6 and Python2.7.

[2015-05-02 09:49] daenney commented on #84
I've done some porting of codebases to be Python2.6+ compatible so I can certainly help out but I don't have access to any of the hardware to actually test this stuff. Especially the unicode handling makes me a bit nervous.

[2015-05-03 01:43] ktbyers commented on #85
I think all of the imports use absolute paths now.

[2015-05-03 01:43] ktbyers commented on #84
@plucena24 I think all of the imports use absolute paths now.

[2015-05-03 01:51] ktbyers commented on #84
@daenney Yes, I should have the ability to test on Cisco IOS, Cisco IOS XE, ASA, HP ProCurve, and Juniper. I think @plucena24 has the ability to test on NX-OS, and IOS-XR as well as some of the same platforms that I have.

I am thinking about setting up Travis-CI so that we could test on PY2.6, 2.7, 3.3 and 3.4 and automate some of the testing.

[2015-05-03 02:52] ktbyers commented on #84
I assume that we would do a single integrated code that would support PY2.6, 2.7, 3.3, and 3.4?

[2015-05-03 13:13] plucena24 commented on #84
@ktbyers yes, that would be the preferred route in my opinion - having a single package that works on both.

[2015-05-03 19:20] ktbyers commented on #84
Created python3_port branch

[2015-05-04 04:22] ktbyers commented on #84
I have ran unit tests on this using Python 3.4.3 and Python 2.6.9 using Cisco IOS, Juniper, HP ProCurve, and Arista. And Cisco ASA on Python 2.6.9 (still need to test ASA on Python 3.4.3).

These all pass.

It would be good test Cisco NX-OS, IOS-XR, and IOS-XE. I can probably test IOS-XE.

[2015-05-04 20:55] ktbyers commented on #84
@plucena24 Let me know if you can test on NX-OS, and IOS-XR? I can help getting the tests running if TESTING.md is not clear.

[2015-05-04 21:22] plucena24 commented on #84
I am working on that at the moment...was having issues installing paramilo
for py3.4 on windows, got it sorted out now.
On Mon, May 4, 2015 at 3:55 PM Kirk Byers <notifications@github.com> wrote:

[2015-05-05 06:47] daenney commented on #84
I've had a look at the python_3 branch, so far so good as far as I can tell. Do network vendors still not provide some kind of virtual lab facility that would allow to (automate) test against a variety of their hardware?

[2015-05-05 16:39] #85 closed

[2015-05-05 16:41] ktbyers commented on #84
@daenney There are various things available for testing. It seems like virtual devices in your own test environment is probably the easiest way to go, however.

[2015-05-05 19:08] plucena24 opened #88 "IOS-XR send_config_set() method aborts staged config without option to commit"
the send_config_set method in base_connection() calls exit_config_mode()...aborting all changes made:

[code]

The IOS-XR send_config_method should have a way to not exit config_mode right away and commit the changes.

[2015-05-05 19:19] plucena24 opened #89 "Enhance the commit() method for IOS-XR"
- Entering config mode is not necesary to commit. The only way you can commit is if you are already in config mode

line 20
[code]

Add support for:

- commit label
- commit comment
- commit replace
- commit confirmed

[2015-05-05 23:30] ktbyers commented on #84
@plucena24 FYI, I have merged this python3_port code back into the master branch.

[2015-05-05 23:36] ktbyers opened #90 "Need to update the installer with the Paramiko requirements"
Would be nice to have it be >= 1.7.5 for Py2
1.13+ for Py3

[2015-05-06 07:09] daenney commented on #84
Time to close the issue then :)

[2015-05-06 18:17] ktbyers commented on #84
Yep...

[2015-05-06 18:17] #84 closed

[2015-05-10 00:48] ktbyers opened #91 "Unknown distribution option: 'install_requires'"
/usr/lib64/python2.7/distutils/dist.py:267: UserWarning: Unknown distribution option: 'install_requires'

[2015-05-10 23:14] lamiskin commented on #53
+1

[2015-05-11 00:50] ktbyers commented on #53
@lamiskin Working on it...there are some issues that I want to fix with IOS-XR code and commits before I do this, however.

[2015-05-14 17:09] ktbyers opened #93 "Is the default delay in send_command too much"
Executing 100 ACL lines took about 5 minutes on a 3650 switch.

Obviously, you can overwrite the delay using delay_factor.

[2015-05-15 17:36] ktbyers opened #94 "Comware paging disable"
"screen-length disable"

Is this a permanent change or a temporary change?

[2015-05-18 18:27] ktbyers commented on #89
I am going to use this as a general placeholder for design spec for IOS-XR commit method.

[2015-05-18 18:51] ktbyers commented on #89
Design specifications:

1. Do not enter config mode upon commit(), you will already be in commit mode.
2. Handle the exit_config_mode which is going to prompt you about uncommitted changes.

'commit': commit the config
'commit comment': commit with a comment
'commit confirmed <seconds>':
'commit label <label_name>'
'commit replace'  >>> loading an entirely new config...pretty dangerous I might hav

[2015-05-19 09:07] ravenblue12 commented on #94
Hi Kirk,
the statement is not permanent. It only affects the current logged in user.

[2015-05-19 14:30] #94 closed

[2015-05-21 23:36] ktbyers commented on #60
Closing this issue. See issue #89 for IOS-XR.

[2015-05-21 23:36] #60 closed

[2015-05-21 23:37] ktbyers commented on #34
Duplicate with issue #88 also see master issue #89 for IOS-XR commit

[2015-05-21 23:37] #34 closed

[2015-05-21 23:40] ktbyers commented on #89
See also issue #88

[2015-05-21 23:41] ktbyers commented on #89
Additional notes from Pablo:

commit                      [I want to see what the router prints to the screen when this happens]

​What comes up depends on whether you have logging enabled or not. Look at the difference:

with logging:

RP/0/0/CPU0:XRv-1(config)#router isis 1
RP/0/0/CPU0:XRv-1(config-isis)#is-type level-2
RP/0/0/CPU0:XRv-1(config-isis)#commit
Wed May 20 12:43:30.200 UTC
RP/0/0/CPU

[2015-05-22 02:09] ktbyers commented on #89
@plucena24  (Pablo see my '# valid command' questions below?

From the above, here are the proposed CLI config commands to send:

commit
commit confirmed <time>
commit label <LABEL>
commit label <LABEL> confirmed <time>
commit label <LABEL> comment "the comment string"
commit label <LABEL> comment "the comment string" confirmed <time>     # valid command?
commit comment "the comment string"
commit

[2015-05-22 14:11] plucena24 commented on #89
commit label comment "the comment string" confirmed # valid command?

No, this is not valid. What you do is this:
RP/0/0/CPU0:XR1(config-if)#
RP/0/0/CPU0:XR1(config-if)#commit confirmed 300
Fri May 22 14:09:33.753 UTC
RP/0/0/CPU0:XR1(config-if)#commit label LABEL comment COMMENT
Fri May 22 14:09:46.352 UTC

% Confirming commit for trial session.

Or you can do this:

RP/0/0/CPU0:XR1(config)#commit

[2015-05-28 09:03] ojagodzinski opened #96 "problem resolved :)"

[2015-05-28 09:55] #96 closed

[2015-05-30 11:55] gmu-msk opened #97 "Problem in receiving output"
What does this loop actually do in send_command method?

[code]
It seems that loop breaks when ```remote_conn.recv_ready() == False```

As a result we stop reading data in case when after one second (by default) we don't get all the data from remote device.

One second is enough in most cases, but if run a command that need more time to be executed,  ```show run``` on Cisco IOS for example, in app

[2015-05-31 01:30] ktbyers commented on #97
@gmu-msk
The loop keeps reading data as long as data is present to be read (with a 1/2 second delay between loop iterations--delay_factor defaults to .5). Once there is no more data present to be read, the program will fall out of the loop.

You probably need to adjust "delay_factor" in the send_command() method so that you give the device sufficient time to have data available. Try it with a dela

[2015-05-31 07:02] gmu-msk commented on #97
After looking closer to this problem I see that loop works well.
But is there any way to make sure that I got full output for every command?

[2015-05-31 17:47] ktbyers commented on #97
I would think the default delay factor should work for most commands. You
will need to modify delay_factor for commands you know are slow.

If this is too cumbersome, let me know...

Kirk

On Sunday, May 31, 2015, gmu-msk <notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify you

[2015-05-31 18:52] gmu-msk commented on #97
Don't You think it also depends on some other factors? For example link delay between ssh-client and ssh-server....or packets may need to be retransmitted because of link congestion...

[2015-05-31 20:44] ktbyers commented on #97
You will have 1 second to have some initial data available and 1/2 second to have more data available. The latency/retries of the link shouldn't matter as the script waits for the time and then checks the channel (so if there is latency/retries that would happen during the SSH channel check i.e. after the delay has already happened).

You can default to longer delays, however, if this amount of ti

[2015-05-31 20:45] ktbyers opened #98 "Create a global delay_factor"

[2015-05-31 20:45] ktbyers commented on #97
See issue #98

[2015-06-10 21:16] #97 closed

[2015-06-10 21:17] ktbyers commented on #89
IOS-XR commit support has been added in.

[2015-06-10 21:17] #89 closed

[2015-06-10 21:17] ktbyers commented on #88
Fixed with IOS-XR commit changes

[2015-06-10 21:17] #88 closed

[2015-07-03 18:58] yourteamneedsadam opened #100 "Send() method used without checking that all data was sent"
The [send()](http://paramiko-docs.readthedocs.org/en/latest/api/channel.html#paramiko.channel.Channel.send) method of Paramiko channels doesn't guarantee that all the data gets sent, but there is a [sendall()](http://paramiko-docs.readthedocs.org/en/latest/api/channel.html#paramiko.channel.Channel.sendall) method that does. Using sendall() saves you from having to write your own loop.

This is an

[2015-07-05 19:18] ktbyers opened #102 "Need to add test code for ASA and multi-context mode"

[2015-07-07 04:31] #100 closed

[2015-07-09 23:13] yourteamneedsadam opened #103 "Installing into an empty virtualenv throws an ImportError on paramiko"
Looks like the setup.py imports netmiko, which fails because the dependencies in install_requires haven't been installed yet. There are some recommended ways around this and I'll submit a PR in a second.

[2015-07-09 23:34] yourteamneedsadam commented on #61
My vote on static analysis tools is [flake8](https://flake8.readthedocs.org/en/2.3.0/). It wraps PyFlakes, pep8, and mccabe.

@ktbyers If adding static analysis is something you want to do I'm happy to put together a PR. Just let me know if that's something you'd like in the project.

[2015-07-10 00:00] yourteamneedsadam commented on #29
@ktbyers I think your plan is the Pythonic way - raise an exception if anything goes wrong and otherwise don't use the `return` statement. That'll result in Python's default return of `None`, which means the function wasn't intended to return a value. That works well with the name. When I read something like `enable()` I wouldn't expect to get output. Whereas if it were called `is_enabled()` I wou

[2015-07-10 03:18] ktbyers commented on #61
I am currently just using pylint. What is the advantage of using flake8?

On Thu, Jul 9, 2015 at 4:34 PM, Adam Burns <notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2015-07-10 13:35] yourteamneedsadam commented on #61
It'll be a tradeoff - pylint seems to flag a broader range of things than PyFlakes (what flake8 uses under the hood), whereas PyFlakes has a reputation for being faster and simpler. Flake8 includes the mccabe script, which let's you flag parts of the code that have high complexity (e.g. too many nested loops and ifs to be readable).

[2015-07-13 19:53] ktbyers commented on #29
@yourteamneedsadam Yes, I think this probably could be improved. I am currently returning data that probably should be sent to a logging channel.

Let me see if I can document what I do on various methods. We can then discuss if it makes sense to update some of them.

I will try to post a quick summary in this issue thread.

[2015-07-30 16:57] ktbyers opened #105 "Issue with Netmiko and linewrap on ASA"
I found some more time to build a python script around your netmiko library.
The script is used to enter commands in multiple cisco asa's.
One strange thing I found was, that when I enter a really long command, I also see that command in the output.
I dont know if it a limitation to netmiko, paramiko, or my terminal =)
I will give you an example:
Please see attached txt file for the whole output.

[2015-08-01 02:10] ktbyers opened #107 "NetMikoAuthenticationException not available via __init__.py"
You have to source it using:

from netmiko.ssh_exception import NetMikoAuthenticationException

[2015-08-01 14:18] ktbyers commented on #107
Fixed.

[2015-08-01 14:18] #107 closed

[2015-08-04 12:53] rbenigno commented on #53
+1

[2015-08-04 16:07] ktbyers commented on #53
Yeah, I need to get this done....

[2015-08-14 16:21] jayswan commented on #66
When using this device type I get `socket.error: Socket is closed` from paramiko before "Interactive SSH session established" about 50% of the time:

[code]

Code is at https://github.com/jayswan/wlc_scripting

I've tested on both Windows and OS X to make sure it's not a Windows-specific paramiko problem.

[2015-08-14 17:32] ktbyers commented on #66
@jayswan I recall that the WLC puts up two login prompts that I had to put a workaround in for.

Can you see if you can capture and print out what happens on the SSH session up to this point (i.e. what the WLC sends as output before the SSH session closes)?

[2015-08-16 10:21] ogenstad opened #109 "ip vs host in BaseSSHConnection"
While it might break stuff wouldn't it make more sense to use host instead of ip to set the target device in BaseSSHConnection?

Perhaps keeping ip as a named argument which can be deprecated later.

[2015-08-16 10:25] ogenstad opened #110 "Naming convention for netmiko.ssh_dispatcher.CLASS_MAPPER"
Are there any thoughts on naming conventions for the platforms used? Most of them are using [vendor]_[os], but the Cisco WLC adds _ssh while Huawei and Juniper just uses the vendor and not the os.

[2015-08-16 10:38] ogenstad commented on #105
I haven't tested this but my guess would be the terminal width command. It is set to 80 by default. If it's set lower you would get the above behavior. It can be between 40 and 511. I don't think it can be changed during runtime and it would require a config change.

Chances are that the above config doesn't use the default with of 80.

[2015-08-16 10:43] ogenstad commented on #65
Have you thought about how this will be implemented in terms of how the module is used. I.e will we need to add a parameter to force higher security or will the default be changed so that currently insecure implementations might break?

[2015-08-17 07:10] ktbyers commented on #109
@ogenstad The 'ip' field should work with both an ip address and a hostname (although I agree its naming is confusing).

One possible solution would be to add a new supported field (hostname) and then check first for 'ip' and if 'ip' is not used check for 'hostname'. This would not break current code and would make the naming cleaner.

[2015-08-17 14:55] ogenstad commented on #109
Yes that makes sense.

[2015-08-18 15:29] jayswan commented on #66
How would you suggest doing this? The exception occurs at line 64 of cisco_wlc_ssh.py, when the password is sent. The immediate previous call, `self.remote_conn.sendall(self.username + '\n')`, returns None.

[2015-08-19 00:19] ktbyers commented on #66
Let me look into it a bit more.

Kirk

On Tue, Aug 18, 2015 at 8:29 AM, Jay Swan <notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2015-08-19 05:53] ktbyers commented on #110
Yes, it should be vendor_platform(os).

I will probably just add the additional keys to make it more consistent (i.e. cisco_wlc, juniper_junos, etc.). I will still leave the old keys so as not to break existing code.

[2015-08-20 00:01] ktbyers commented on #65
I probably would try to maintain backwards compatibility (as the security risks are probably low for most people).

[2015-08-25 18:15] ktbyers opened #112 "Should setuptools or distutils be used"

[2015-08-26 23:59] colinmcintosh commented on #112
In a weird coincidence I just sent you a pull request for this. I probably should have checked the issues first. I put my reasoning for why I think it should be setuptools in the pull request.

https://github.com/ktbyers/netmiko/pull/113

[2015-08-27 00:01] colinmcintosh commented on #112
Copy paste:

This change is to add support for the install_requires parameter passed to the setup()
function. Distutils does not support install_requires and therefore will
not automatically resolve dependencies for setup.py. In addition the lack
of support for install_requires creates problems for packages that specify
netmiko as a dependency. The dependency tree will not be created correctly
and

[2015-09-02 01:46] ktbyers commented on #66
@jayswan I think this was probably being caused by the code that tries to handle the extra 'login as' that some WLCs display at login.

I have improved this code and hopefully fixed the problem. I couldn't test it, however, because the WLC that I was testing on (running 7.6.130.0) only displayed 'User:' and 'Password:' on login.

Let me know if you still see the issue.

[2015-09-02 01:58] ktbyers opened #115 "check .recv() decodes to utf-8 everywhere"

[2015-09-02 01:58] ktbyers opened #116 ".send() versus .sendall() -- which should be used"

[2015-09-04 17:50] ktbyers commented on #66
@jayswan I am somewhat doubtful that the fix that I put in fixes what you were seeing, but I am unable to reproduce your behavior. If you see it again, let me know.

[2015-09-23 01:10] spirrello opened #117 "Save Running Configuration"
Hi,

When I run the following command in my python script it never seems to finish successfully.  Have you seen this problem yet?

net_connect.send_command("write mem")

net_connect.send_command("write)

[2015-09-23 16:56] ktbyers commented on #117
What platform / OS version are you doing this on? This works for me on a Cisco 881 running IOS version  Version 15.4(2)T1.

SSH connection established to x.x.x.x:22
Interactive SSH session established

u'Building configuration...\n'

u'Building configuration...\n'

What happens when you execute the command manually (i.e. what do you see in the SSH session)?

[2015-09-23 22:26] spirrello commented on #117
Thanks for the quick response.  It is working, one of my other processes was keeping this line in my script from completing.  Thanks!

Sent from Outlook<http://aka.ms/Ox5hz3>

On Wed, Sep 23, 2015 at 9:56 AM -0700, "Kirk Byers" <notifications@github.com<mailto:notifications@github.com>> wrote:

What platform / OS version are you doing this on? This works for me on a Cisco 881 running IOS version V

[2015-09-24 00:02] #117 closed

[2015-10-17 15:12] chrislrobson opened #120 "Direct access to router's OS"
Netmiko will fail when connecting directly to a router's OS (aka not the routing engine).
Fix by the following code snippet but needs review:
line 125
      def set_base_prompt(self, pri_prompt_terminator='#',
                        os_prompt_terminator="%",
                        alt_prompt_terminator='>', delay_factor=.5):
and line 165
            if prompt[-1] == os_prompt_terminator:

[2015-10-17 15:24] ktbyers opened #121 "Add private key support"

[2015-10-17 15:27] chrislrobson commented on #120
oops for got a piece o the patch...kind of important :-)

    def check_commandline_mode(self, check_string='>'):
        '''
        Checks if the device is in commandline mode or not
        Returns a boolean
        '''
        output = self.send_command('\n', strip_prompt=False, strip_command=False)
        if check_string in output[:-1]:
            return True
        else:
            retur

[2015-10-17 15:39] chrislrobson commented on #120
OOPS again more forgot code...its been a long day....

   def commandline_mode(self, commandline_command='cli'):
         '''
         Enter into commandline_mode.  Typically this happen when ssh'ed
         to a virutal machine'ed router

         First check whether currently already in configuration mode.
         Enter config mode (if necessary)
         '''
         output = ''
         if no

[2015-10-17 16:09] ktbyers commented on #120
@chrislrobson What platform were you testing on?

[2015-10-17 16:24] chrislrobson commented on #120
The router I'm connecting (ssh'ing to, aka netmiko'ing to) is a Juniper
vSRX running as a VMWare guest.  (You can get a free version for testing
from Juniper).  My python script is running on a Fedora 22 host (also a
guest but on a VirtualBox VM).  aka

Fedora 22(VB guest) <------> vSRX(VM guest)

since vSRX is a VM, when you ssh to it, your presented with the FreeBSD
OS prompt not the routing eng

[2015-10-17 16:29] chrislrobson commented on #120
fyi.....  There are several platforms I've ssh'ed to were one is
presented with the OS prompt such as...

Juniper, Bay-Microsystems, old marconi's, Ericcsons and any
soft-router.....aka linux, freebsd, vmwork...etc

On 10/17/15 12:23 PM, Chris Robson wrote:

[2015-10-17 21:29] chrislrobson commented on #120
Patch for GIT-version-17Oct tested good

--- ./base_connection-ORIG.py	2015-10-17 17:23:02.318670890 -0400
+++ ./base_connection-OSFix.py	2015-10-17 17:21:55.520684197 -0400
@@ -143,6 +143,7 @@

     def set_base_prompt(self, pri_prompt_terminator='#',
+                        os_prompt_terminator="%",
                         alt_prompt_terminator='>', delay_factor=.5):
         '''
         Sets

[2015-10-18 17:12] ktbyers commented on #112
This has been fixed.

[2015-10-18 17:12] #112 closed

[2015-10-18 17:13] ktbyers commented on #91
I think this issue is gone now (with switch to setuptools).

[2015-10-18 17:13] #91 closed

[2015-10-18 17:13] ktbyers commented on #103
This should be fixed now.

[2015-10-18 17:13] #103 closed

[2015-10-18 17:14] ktbyers commented on #90
Fixed now.

[2015-10-18 17:14] #90 closed

[2015-10-18 17:14] ktbyers commented on #53
Finally uploaded to pypi -- :-)

[2015-10-18 17:14] #53 closed

[2015-10-18 17:15] ktbyers commented on #116
.sendall() is preferred method. I think this all has been converted over to .sendall()

[2015-10-18 17:15] #116 closed

[2015-10-18 18:11] axlroden opened #122 "Ruckus Zonedirector support"
The Ruckus Zonedirector has similar login method as Cisco WLC, are you able to create this custom class?

Shell output from a login with enable and config:
[code]

[2015-10-18 22:03] anash28 commented on #53
@ktbyers Omg this is so cool!

[2015-10-19 11:29] axlroden commented on #122
I'we started writing this myself, I can't seem to get exit config mode to work ..
The zonedirector will sometimes need multiple end to get outa sub sections of configs.

If I send end with my config_set then it works ok, but would be nice for it to handle it on it's own.

Any help would be appreciated, I plan to commit this when it is working.

[2015-10-19 16:13] ktbyers commented on #122
@axlroden Can you post some more details what happens (your code and how the Zonedirector CLI operates).

[2015-10-20 08:21] axlroden commented on #122
@ktbyers a bit more log output below. As you see if I am within a subsection of the config, I cannot exit out entirely unless I `quit` and not save any changes, I have to `end` twice, there are no other commands that can exit config from anywhere.

I have forked your repo, and you can see my current changes there.
https://github.com/axlroden/netmiko

[code]

[2015-10-22 01:06] ktbyers commented on #115
Yes, the code only uses: .recv(MAX_BUFFER).decode('utf-8')

[2015-10-22 01:06] #115 closed

[2015-10-22 01:08] ktbyers commented on #120
@chrislrobson Can you give me an example SSH session on the Juniper vSRX for what you are trying to do? Obviously, strip out anything that is confidential.

[2015-10-22 01:19] ktbyers commented on #121
See commit https://github.com/ktbyers/netmiko/commit/b241f2ad466295a0808caaba189457ac316384dd

[2015-10-22 01:19] #121 closed

[2015-10-22 01:24] ktbyers commented on #29
I am going to leave it as is. I don't think it is worth changing at this point.

[2015-10-22 01:24] #29 closed

[2015-10-22 01:25] ktbyers commented on #37
I think this has been handled in the Juniper support.

[2015-10-22 01:25] #37 closed

[2015-10-22 01:43] ktbyers commented on #61
Using Travis-CI. Probably will start using flake8 (have been mostly using pylint up to now).

[2015-10-22 01:43] #61 closed

[2015-10-22 22:21] ktbyers commented on #72
The test suite should be reasonably good now (revamped in ~Q1).

[2015-10-22 22:21] #72 closed

[2015-10-22 22:22] ktbyers commented on #93
The current delays are reasonable. You can override the defaults (or SCP config changes in). There is a seperate issue for global delay factor.

[2015-10-22 22:22] #93 closed

[2015-10-26 13:16] chrislrobson commented on #120
Here is a snippet,

         cpfData = cpf.split( " " )
         imported_module = importlib.import_module( moduleName )
         if debugFlag:
           print(cpfData[0])
         networkDeviceProfileObject = getattr(imported_module, cpfData[0] )
         iComms = InitializeSSHConnectToNetworkDevice()
         iComms.initializeSSHConnectToNetworkDevice( dut,
networkDeviceProfileObject,

[2015-10-26 20:29] ktbyers commented on #120
@chrislrobson I was looking for more of what you are trying to do at the router OS level? What do you do on the vSRX at the router OS?

[2015-10-27 16:08] chrislrobson commented on #120
Kirk

Actual you can easily simulate this by simply connecting to any Linux box
running a ssh daemon
chris

On Tue, Oct 27, 2015 at 3:48 AM, Chris Robson <chrislrobsn@gmail.com> wrote:

[2015-10-27 16:46] ktbyers commented on #120
Yes, but why do we care about this from a network automation perspective (i.e. what do you want to do to the Juniper device at the OS level)?

[2015-10-29 21:05] arnaudcoquelet opened #123 "Implement a device type for Alcatel-Lucent IPD 7750 routers"
Hi

Would it be possible to create a device type for Alcatel-Lucent IPD 7750 routers ?
Something simple as that works:

[code]

There is no enable/configure function (I'm not sure how you disable that)

Here is an example of the prompt:
[code]
And when you start configuring, it will change to match the location in the configuration.
[code]

[2015-10-31 15:32] ktbyers commented on #123
@arnaudcoquelet Yes, I have looked at a similar alcatel-lucent device before. I don't think I am willing to create it without a device to test against.

The way the prompt changes could be a bit of a challenge.

If you have a device that I can test against, then I would definitely consider doing it. Alternatively, you could write the code and submit a pull-request. See the VENDOR.md file in Netmik

[2015-10-31 15:48] ktbyers opened #124 "Add netscreen support"

[2015-10-31 16:22] arnaudcoquelet commented on #123
I have a device to test if you want
The prompt that change seems to be working.

I will look into the vendor.md

Arnaud Coquelet
Alcatel-Lucent

Sent from my iPhone

[2015-10-31 16:54] kadecole commented on #124
I second this and can do testing when it is available.

[2015-10-31 17:15] ktbyers commented on #124
@kadecole Sahil was working on this and is running into an issue. I will see if I can get him to post his code and then we can see if we can work out what is going wrong.

[2015-10-31 18:15] networkpadwan commented on #124
@ktbyers I don't have access to device today. I will get the output on Monday (11/2).

[2015-11-01 23:10] arnaudcoquelet commented on #123
Hi @ktbyers,

Since the Alcatel 7750/SROS does not have such modes as enable and config,
What do you do in this case with the config_mode(), exit_config_mode() and others ?
Should I just don't define them ?

[2015-11-02 10:33] chrislrobson commented on #120
Sorry for the late response, busy......anyway

To clarify, when working with devices like the xSVR (another example is
soft-routers) when ssh'ing, one enters through the OS not directly to
the routing engine.  So with the xSVR you will get a "[username]%"
prompt not a "[username]>" thus netmiko will never find the initial prompt.

I will say the "quick and dirty" fix I have done does have a flaw,

[2015-11-03 20:05] ktbyers commented on #120
@chrislrobson I talked to an engineer at Juniper about this and the direct OS access is just a function of logging in as root. If you add a user to your vSRX, you should be able to SSH directly into the routing engine (and not be required to use the 'cli' command).

I am also not understanding your unicode/string issue?

For both Python2 and Python3, you are going to get a unicode string back. Thi

[2015-11-03 21:18] ktbyers commented on #124
@networkpadwan No problem, please post when you get a chance (probably better commit into your local branch so I can look at the code).

[2015-11-03 21:20] ktbyers commented on #123
Just define them in the sub-class and have them contain only a pass statement. This will cause them to be a no-op:

<pre>
def config_mode(self, *args, **kwargs):
     pass
</pre>

If you have a test Alcatel to work on, I definitely would be interested in working on this. Send an email to me. If you don't have my email address, just let me know.

[2015-11-03 21:21] ktbyers commented on #122
@axlroden Sorry for delayed response on this...haven't forgotten about it.

[2015-11-04 16:12] chrislrobson commented on #120
OK, so a "daaaa" moment and much thanks for reminding me about the root
account thing...... I've been running to fast & furious with the project
... aka... to many short cuts like not doing setup completely and that
went right by me..... The upside is the deep dive into netmiko has been
worth it.

As for the unicode thing, the issue was seeing the prompt printing all
the time when using the method

[2015-11-04 17:21] ktbyers commented on #120
Sounds good Chris. I will close this issue. Let me know if there is a use case we need it for (I am open to it).

[2015-11-04 17:21] #120 closed

[2015-11-04 22:20] networkpadwan commented on #124
#####################
Below output show that I am able to access the device locally.
#####################
maverick@maverick-G53SW:~$ ping 192.168.1.1
PING 192.168.1.1 (192.168.1.1) 56(84) bytes of data.
64 bytes from 192.168.1.1: icmp_seq=1 ttl=64 time=1.23 ms
^C
--- 192.168.1.1 ping statistics ---
1 packets transmitted, 1 received, 0% packet loss, time 0ms
rtt min/avg/max/mdev = 1.238/1.238/1.23

[2015-11-09 20:50] mzbenami opened #126 "delay_factor for connection initialization"
Hi Kirk,

We intermittently get this stack trace when connecting to Nexus devices:

[code]

Our belief is that increasing the ``delay_factor`` in ``set_base_prompt()`` would solve this to account for the latency within the switch itself and whatever network latency there may be. Another option would be pushing the ``delay_factor`` param up the stack to ``ConnectHandler()``. If you like either of t

[2015-11-10 05:55] ktbyers commented on #126
@mzbenami We should probably put in a while loop and a check for recv_ready (something somewhat similar to the following). This is inside the set_base_prompt method.

            i = 0
            while i <= 10:
                time.sleep(1 * delay_factor)
                if self.remote_conn.recv_ready():
                    prompt = self.remote_conn.recv(MAX_BUFFER).decode('utf-8')

[2015-11-10 05:56] ktbyers commented on #126
I will try to work on this today or tomorrow.

[2015-11-10 23:50] #126 closed

[2015-11-11 04:16] coxley opened #128 "Force10 Support"
Is there any support for FTOS here?

[2015-11-11 05:20] ktbyers commented on #128
No, I haven't tested against Force10. I have a call coming up with someone at Dell so I might have a chance to test against their equipment (maybe).

[2015-11-11 06:12] coxley commented on #128
Feel free to keep this posted! Glad to see newer Dell switches support Cumulus, but could be nice to have consistent FTOS support. It's pretty funky. :\

[2015-11-11 16:15] ktbyers opened #129 "Intermittent failures in Netmiko"
There are sometimes intermittent failures in Netmiko. I am using this issue as a placeholder to track these.

[2015-11-11 16:16] ktbyers commented on #129
I currently experienced a failure in the Juniper unit tests--attempting to reproduce.

[2015-11-11 16:21] ktbyers commented on #128
@coxley You are definitely welcome to write in FTOS support as well (obviously no obligations). Check out the VENDOR.md file for more information on how to do this.

[2015-11-12 07:01] coxley commented on #128
Thanks @ktbyers, I hope to have the time to see how consistent it will behave. :)

[2015-11-13 20:58] jfilliben commented on #98
Is there a way to pass a timeout/delay value to ConnectHandler? I am attempting to manage some slow IOS devices on the other side of the globe and I believe the default 0.5 second delay is causing me issues:

Traceback (most recent call last):
  File "dns_crawl.py", line 159, in <module>
    interfacesDict[router] = get_interfaces(routerDict)
  File "dns_crawl.py", line 66, in get_interfaces
    w

[2015-11-13 23:24] #98 closed

[2015-11-13 23:41] ktbyers commented on #98
@jfilliben I added a new global_delay_factor argument, you use it when you call the ConnectHandler as follows:

cisco_881 = {
   'device_type': 'cisco_ios',
   'ip': ‘1.1.1.1’,
   'username': ‘admin’,
   'password': ‘password’,
   'global_delay_factor': 3,
}

net_connect = ConnectHandler(**cisco_881)

Netmiko will choose the larger of the two (global_delay_factor or the delay_factor specified in a

[2015-11-14 00:40] jfilliben commented on #98
Awesome, thanks! I'll test it out and let you know if it helps on Monday.

[2015-11-14 16:53] jfilliben commented on #98
Kirk,

I couldn't wait to test :)  I tried it out this morning and it worked perfectly... more slowly, of course, but it worked through all the distant routers without error.

Now I need to work on parallel processing to cut down on the run time.

Thanks!
Jeremy

[2015-11-14 18:18] ktbyers commented on #98
Nice :-)

Either using threads or parallel processes should be fine. Python's GIL
(global interpreter lock) won't be an issue here since so much of time is
spent waiting on IO.

Here is an example using Netmiko + Threads:
https://github.com/ktbyers/pynet/blob/master/pyth_ans_ecourse/class8/ex6_threads_show_ver.py

Here is an example using Netmiko + Multiple processes:
https://github.com/ktbyers/py

[2015-11-15 17:57] ktbyers opened #130 "Add support in for Python3.5"

[2015-11-17 21:42] coxley opened #131 "ProxyCommand Support"
Should be a no-brainer since Paramiko supports this directly.

[2015-11-17 23:47] coxley opened #132 "PEP8 Compliance"
PEP8 support is always a very nice-to-have, especially with a project receiving contributions. Fortunately `netmiko` is almost there with the following exceptions:

Flag | Issue
-------|--------
E303 | Too many blank lines
E501 | Line length > 79
F401 | Module imported, but never used

Looking at errors for the E303, it's because methods are consistently double-spaced where they should be single s

[2015-11-17 23:55] coxley commented on #131
There are a couple options:

1. Have user provide raw ProxyCommand string via `proxy` kwarg
2. Have user provide path to ssh config (`/etc/ssh/ssh_config` or `~/.ssh/config`) and conform to connection settings they have configured.

I vote for no. 2 because it allows much more flexibility. With Paramiko you can load an openssh config and do `conf.lookup(hostname)` to get all the settings that woul

[2015-11-18 00:22] ktbyers commented on #132
@coxley Yes, IMO the line length of < 80 is excessively short (so I am doing < 100).

I am checking it using flake8 (which uses PEP8)

Here is my cat ~/.config/flake8
[flake8]
max-line-length = 100
ignore = E303,F401

E303 too many blank lines (4)       # this one doesn't matter
F401, module imported but unused

The F401 issue PEP8 is complaining about my __init__.py files and how I am using the _

[2015-11-18 00:54] ktbyers commented on #131
I will have to look into this a bit.

If you have a proposed solution, definitely free to submit a PR.

[2015-11-18 01:01] coxley commented on #131
@ktbyers Coming up shortly, will like to get your feedback. :)

[2015-11-18 01:14] ktbyers commented on #131
Sounds good.

[2015-11-18 01:25] coxley commented on #132
Fair enough It might be worth creating a `tox.ini`/`setup.cfg` at the project level to be more obvious to contributors what style to use. Only one that might be confusing is F401. Not using `__all__` should be fine but generally you don't want unused imports littered outside `__init__.py`

Any reason for being against E303? Also, what about newline separated method arguments to prevent a change di

[2015-11-18 05:36] ktbyers commented on #132
@coxley

Okay, I added setup.cfg to main branch. Good idea.

Fair enough on the \_\_all\_\_ (we can just add this and re-enable the F401 check).

E303 is mainly because almost all the methods have two spaces between them and I don't see enough reason to go update it.

<pre>
Also, what about newline separated method arguments to prevent a change diffing the whole line/readability?
</pre>

Didn't un

[2015-11-18 06:06] coxley commented on #132
I was just asking your opinion stylistically and for diff benefit what you thought of:

[code]

vs

[code]

Doesn't really relate to PEP8 specifically since both are fine.

[2015-11-18 18:12] ktbyers opened #134 "Issue with motd on Cisco IOS"

[2015-11-18 18:17] ktbyers commented on #132
@coxley Yes, I actually prefer the multiple arguments on one line format. I think it is more readable this way. I don't like the one line per argument as then your function/method definitions get very large.

Also if you are trying to figure out the arguments, you will probably look in the comments anyways.

Obviously, just a matter of personal preference. Not a big deal either way.

[2015-11-18 18:58] coxley commented on #132
I understand that, I just want to stay consistent stylistically in any future contributions. Could have a `CONTRIBUTING.rst/md` outlining your preferred flake8 settings and style standards, but might not matter much considering this discuission is here.

[2015-11-18 19:39] ktbyers opened #136 "Create a CONTRIBUTING.rst/md file"

[2015-11-18 19:40] ktbyers commented on #132
Yes, that is a good idea (the CONTRIBUTING.md file).

Kirk

On Wed, Nov 18, 2015 at 10:58 AM, Codey Oxley <notifications@github.com>
wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2015-11-18 20:04] ktbyers commented on #134
Was able to get this working as follows:

... *****************************************************************************
... * Big ugly banner with lots of text     *
... *****************************************************************************
... ^
... '''

config term
Enter configuration commands, one per line.  End with CNTL/Z.
pynet-rtr1(config)#banner motd ^
Enter TEXT message.  End w

[2015-11-18 20:05] #134 closed

[2015-11-20 17:46] ktbyers opened #138 "Add tests for OVS"

[2015-12-02 00:26] ktbyers opened #141 "Review Fortinet disable paging solution"

[2015-12-02 02:17] ktbyers commented on #80
@irom77

I am going to close this issue.

I would need access to the platform so that I can add in the support (or someone with access to the platform to add in the support and to submit a PR).

[2015-12-02 02:17] #80 closed

[2015-12-02 02:20] ktbyers commented on #123
SROS support was added by @arnaudcoquelet.

[2015-12-02 02:20] #123 closed

[2015-12-02 02:21] ktbyers commented on #130
This is done.

[2015-12-02 02:21] #130 closed

[2015-12-03 22:37] ktbyers opened #143 "Drop Python 2.6 support"

[2015-12-04 22:11] ktbyers opened #144 "use_keys and key_file should be object attributes and not passed between methods"

[2015-12-04 23:05] ktbyers opened #145 "Document ssh_config use and use of 'ip' argument"

[2015-12-04 23:29] ktbyers commented on #65
Fixed 241f9512d33608f25347d8d185bada547e74378d

[2015-12-04 23:29] #65 closed

[2015-12-04 23:30] ktbyers opened #146 "Need to add test for validating SSH host keys"
i.e. the remote SSH host keys

[2015-12-04 23:30] ktbyers opened #147 "Need tests for SSH config file loading"
and for using SSH proxy

[2015-12-04 23:33] ktbyers commented on #129
Juniper failure on 2015-12-4

test_netmiko_config.py::test_ssh_connect PASSED
test_netmiko_config.py::test_enable_mode PASSED
test_netmiko_config.py::test_config_mode FAILED
test_netmiko_config.py::test_exit_config_mode PASSED
test_netmiko_config.py::test_command_set FAILED
test_netmiko_config.py::test_commands_from_file PASSED
test_netmiko_config.py::test_disconnect PASSED
=======================

[2015-12-07 01:19] ktbyers commented on #128
From a separate comment. Notes so that we can keep track of this:
(Seems Force10 works fine with IOS driver... only on S4810s but not S55 switches :)

[2015-12-14 15:39] sivabudh commented on #98
@ktbyers I'm new to `netmiko` and after reading this, is my understanding correct?

* It's possible to set a default timeout by setting a  `global_delay_factor` before passing the hash to `ConnectHandler`.
* It's also possible to parallelize SSH connections to multiple network devices by following threads / multiple processes examples above.

[2015-12-15 10:40] diLLec opened #149 "TypeError: establish_connection() got an unexpected keyword argument 'key_file'"
Hi,

when using the fortinet connection class the following error occurs:
`
Traceback (most recent call last):
  File "upload_config.py", line 20, in <module>
    device_type='fortinet', use_keys=False, key_file=None)
  File "/usr/lib/python2.6/site-packages/netmiko-0.2.7-py2.6.egg/netmiko/ssh_dispatcher.py", line 63, in ConnectHandler
    return ConnectionClass(*args, **kwargs)
  File "/usr/lib/p

[2015-12-15 17:22] #149 closed

[2015-12-15 17:23] ktbyers commented on #149
@diLLec Please test the new fix. I think it should work now.

[2015-12-15 17:24] ktbyers commented on #141
Fortinet code since it has its own establish_connection will have an issue that it won't support use_keys.

It is pretty ugly to have to duplicate this code and update it in two place.

[2015-12-15 19:42] ktbyers opened #150 "Consider adding argument to __init__ for disable paging"

[2015-12-15 20:34] ktbyers opened #151 "Add a logout mechanism to gracefully close the SSH session"
What are effects on other non-Cisco devices.

[2015-12-15 20:47] ktbyers commented on #98
@sivabudh global_delay_factor is not a timeout; it controls the delay for various operations. Most of the time you shouldn't need to set this, but some devices are really slow (particularly virtual devices) so you need to tell Netmiko to add more delay into its operations.

You can also generally override specific commands and increase the delay for just that command (if you have a long running co

[2015-12-16 21:54] scott-abt opened #152 "Junos shell prompt not handled"
When logging into a Junos device with "root", it drops you to the shell instead of the operational CLI. This is sort of like when you have to "enable" in IOS to get to the CLI. There probably just needs to be some kind of handler in juniper_ssh.py, I think.

[2015-12-16 22:40] #152 closed

[2015-12-16 22:43] ktbyers commented on #152
@scott-abt Let me know if you see any issues with this fix. It will automatically execute 'cli' if you are root@ the shell prompt %.

[2015-12-17 00:54] scott-abt commented on #152
I think I'll have something to show the boss man tomorrow. Thanks again!

[2015-12-18 00:09] ktbyers opened #153 "Should put a check that you are entering enable mode correctly at the end of this"
ssh_connection.py file.

    def enable(self):
        '''
        Enter enable mode
        '''
        output = self.send_command('enable')
        if 'password' in output.lower():
            output += self.send_command(self.secret)
        self.set_base_prompt()
        self.clear_buffer()

[2015-12-18 17:05] scottharney opened #154 "interactive y/n confirmation prompt issue"
I'm working on a Cisco MDS 95xx (nxos) device to automate SAN zoning. when you go to activate the zoneset, if the amount of change is > or < a certain size you get a confirmation prompt. I've tried ~send_command_expect()~ and a few other tricks to work around this to no avail.  Here's an example output capture
[code]
We don't necessarily know that we're going to trigger this condition so I was hop

[2015-12-18 21:52] ktbyers commented on #154
@scottharney I think you could probably do this:

<pre>
import time

if activate and not dry_run:
    net_connect.config_mode()
    output = net_connect.send_command('zoneset name ZS_MDS1 vsan 101')
    net_connect.remote_conn.sendall('zoneset activate name ZS_MDS1 vsan 101\n')
    time.sleep(1)
    output = net_connect.remote_conn.recv(65535).decode('utf-8')
    if 'Do you want to continue' in ou

[2015-12-18 21:52] #154 closed

[2015-12-19 22:15] scottharney commented on #154
I was looking at how send_command() worked figuring I'd need to take a more manual control approach when you sent this.  Works fine and I used the suggested func call methodology.

[2015-12-21 01:03] lamiskin opened #155 "Failed to enter configuration mode - slow device?"
Hi,

I have one device that seems to take slightly longer to enter configuration mode.

Throws the following exception:
[code]

Switch type is cisco_ios:
[code]

Adding a few seconds sleep in the check_config_mode solves the issue for me. It seems netmiko is just checking too quickly for this particular device.
[code]

I am not suggesting just sleeping for a constant time as a solution, rather is

[2015-12-23 09:03] ktbyers commented on #155
@lamiskin Yes, we should probably put a little loop here so that it tries this more than once (with some amount of sleep after the first time).

[2015-12-31 10:58] eboman opened #157 "send command should wait for prompt"
Currently i'm parsing outputs from cisco devices, i noticed when using show run commands the device needs to parse this in memory and thus taking some time, it seems the stream is cut before the data is send.

Is there a way by using the find_prompt function to wait for a prompt before closing the stream?

[2015-12-31 10:59] eboman commented on #157
as a workaround i use show start to circumvent this

[2015-12-31 18:01] ktbyers commented on #157
@eboman What type of device was this?

There is a send_command_expect method where you can wait for a terminating prompt. You can also modify the delay_factor either in the send_command() or the global delay factor when creating the connection object. The delay_factor will increase how long it sleeps waiting for data.

[2016-01-02 13:14] eboman commented on #157
in this case it is a 4948 but i suspect a 6500 will be even worse. Do you have an example command for the expect ?

[2016-01-03 05:30] ktbyers commented on #157
send_command_expect("show run")

By default this will try to read all of the data until it encounters the router prompt in the output.

[2016-01-04 20:41] ktbyers opened #158 "SCP handler doesn't pass all of the netmiko connection arguments"

[2016-01-05 11:14] sivabudh opened #159 "Telnet support"
Hello,

Is there a way to use Telnet instead of SSH?

PS: Awesome library. :+1:

[2016-01-05 17:36] ktbyers opened #160 "Cisco IOS adds backslashes into commands with long output"
<pre>
u'\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08
\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08
\x08$e config differences flash:/candidate_config.txt system:         \x08\x08\x08\x08\x08\x08\x08\x08\x08/running-\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x0

[2016-01-05 17:43] ktbyers commented on #160
Solution is probably something like this:

    @static_method
    def strip_backspaces(self, src_str=''):
        '''
        Cisco IOS adds backspaces into output for long commands.

        This happens with 'show archive config differences'
        '''
        backspace_char = '\x08'
        return src_str.replace('\x08', '')

[2016-01-05 18:51] ktbyers commented on #160
Fixed 5c5c05f92bb49f149a8845281e2a352cb4a5c0d2

[2016-01-05 18:51] #160 closed

[2016-01-05 19:12] ktbyers commented on #159
Thanks @sivabudh

Yes, I don't think I am going to add telnet support. Too much work and too marginal a need.

I will keep this issue open for a while so if there are other people that are interested in this--they can voice their opinion.

[2016-01-05 19:15] ktbyers commented on #157
@eboman Did this fix work?

[2016-01-05 19:35] #155 closed

[2016-01-05 19:38] ktbyers commented on #155
@lamiskin Note, this adds a small delay here.

I don't want to add more delay since there is a trade-off of delay during normal operation and handling really slow devices.

You can also add the global_delay_factor argument during object creation to handle slow devices.

Make global_delay_factor be bigger than .5. This will add additional delays to operations on the device.

[2016-01-06 14:05] eboman commented on #157
Hi, yes that seems to do the trick, is this documented somewhere ?

[2016-01-06 14:05] #157 closed

[2016-01-07 15:03] nunocarrulo opened #161 "Dell/Force10 does not work with Cisco IOS Driver -- SSH after a few times causes switch to blackout (no HTTP/SSH/serial)"
After using netmiko a couple times in the same switch always disconnecting from session it cause the switch to not respond to any SSH, HTTP or serial connections.

[2016-01-07 15:25] sivabudh opened #162 "Best way to use netmiko with Python 3.5 async / await keyword?"
Hello,

I am learning how to use this library with Tornado and Python 3.5 async / await keywords. I am not too entirely sure what's the best way to use netmiko with async / await.

Shall I simply wrap each netmiko api with a Future, and call await on each one?

[2016-01-07 15:53] jfilliben commented on #161
Perhaps you are not properly closing the connections? Most routers/switches only allow a limited number of concurrent sessions. A way to test would be to log into the device manually and (if Cisco IOS) do 'show connections' while your script runs. If you notice multiple sessions using your script's credentials, this is likely the problem.

Take a look at this blog post for a 'clean' way to handle

[2016-01-07 16:56] ktbyers commented on #161
@nunocarrulo Does the switch keep functioning normally from a packet forwarding perspective (i.e. is it only a management access issue)?

What type of switch is it (vendor/model)?

Kirk

[2016-01-07 16:56] calaesha commented on #159
Telnet would allow us to build an out-of-the-box switch or router with our Python apps. Having to console in, create domain-name, hostname, crypto keys, etc delays the automation process so much that it's almost moot.

May be a niche case, but I'd enjoy seeing it.

[2016-01-07 16:59] ktbyers commented on #162
@sivabudh Don't know...I haven't used async/await.

Personally I would probably just use threads or processes.

If you come up with a solution let me know and we can post it into the ./examples folder.

Kirk

[2016-01-07 16:59] #162 closed

[2016-01-07 17:32] ktbyers commented on #159
@calaesha Which vendor/platform are you working on? Can you explain your workflow a bit more (or the workflow you want)?

If it is Cisco ISR with one-time password doesn't SSH work without config (definitely not sure about this)?

If it is not ISR with one-time password, wouldn't you have to do some config to get telnet to work (at least add a VTY password or configure AAA with a username)?

Some

[2016-01-07 20:48] calaesha commented on #159
Hello @ktbyers, the dream would be to have a non-technical individual run a python script against a brand new Cisco switch or router.
- No config within the NVRAM will initiate Cisco's AutoInstall feature: a DHCP request is broadcast'd out all Ethernet interfaces (RARP across serial)
- assign the address with an 'interface x \ address dhcp'
- junior team member would initiate the python configurat

[2016-01-07 21:10] ktbyers commented on #159
@calaesha

Goal as I see it is zero manual config (obviously closer to this is better i.e. manually configuring one line is better than four etc.).

What I was suggesting is maybe I can add a small bootstrap telnet driver to Netmiko (for Cisco devices). The bootstrap telnet driver would be enough to let you configure SSH. But would not be intended for full telnet support (i.e. if you don't have or

[2016-01-08 03:47] calaesha commented on #159
Sounds great, let me know what I can do to help out

[2016-01-08 09:04] nunocarrulo commented on #161
Yes, it keeps working. I just can't access it no manage it. It's strange because it blocks me also http and serial does not work either. Via http I get this output 'Transfer is in progress, please wait...'.

I'm using the example of cisco_ios because it is similar to cisco. However they are Dell switches and I cannot find any version of Dell or F10 in the supported versions. Anyway the scripts wor

[2016-01-08 23:45] nu110 commented on #161
Sounds to me like the ssh or management plane process might be having some trouble, which may well be linked to http.

No surprise the data plane continues forwarding traffic since most of what happens there will be hardware / ASIC driven. I had a similar issue with a Cisco 3750-X this week, a telnet session on 127.0.0.4 (?) for some reason was consuming 75% CPU for some time. Clearing the vty lin

[2016-01-09 17:16] ktbyers commented on #161
@nunocarrulo This could be related to issue #151 (i.e. I don't gracefully exit the SSH session currently at the CLI level). I just close the SSH session. This should be fixed, but I haven't done it yet.

You might want to just gracefully exit the SSH session manually. You should be able to do this using:

remote_conn.sendall('exit\n')

Obviously this assumes Cisco and that you are in privilege-exe

[2016-01-11 11:55] nunocarrulo commented on #161
@ktbyers So your close method just uses paramiko close method. This means that paramiko method 'close()' isn't closing ssh connection gracefully as well ? In the 'transport' module they just close the socket meanwhile in the 'agent' module I didn't understand it quite well.

In my case I have to send 'end' followed by 'quit'. The first exists from any level I'm at, for example 'config', 'interface

[2016-01-11 12:02] nu110 commented on #161
I have a couple of old Dell switches sat in the store room at the office if
you'd like me to give your script a try, a 3324 and a 3424. Not sure if
they're even working or need password recovering etc. But if it might be of
use I'm happy to help if I can.

On Mon, Jan 11, 2016 at 11:55 AM, nunocarrulo <notifications@github.com>
wrote:

[2016-01-11 12:35] nunocarrulo commented on #161
I don't know if the script will work on these ones, but we can try. I'm afraid it won't even connect the SSH session. Anyhow here is the script code: <https://codeshare.io/j2pFA> https://codeshare.io/j2pFA

Thank you. Post me whether if it works or not on those ones.

________________________________
De: nu110 <notifications@github.com>
Enviado: 11 de janeiro de 2016 12:02
Para: ktbyers/netmiko
Cc

[2016-01-11 20:53] ktbyers commented on #161
@nunocarrulo @nu110 Okay, this sounds more like Dell/Force10 isn't working using the Cisco IOS driver.

Can you list the Dell model numbers that you observed this behavior with?

[2016-01-11 21:52] nu110 commented on #159
I haven't tried it yet, but I wonder if ConsolServer (https://pypi.python.org/pypi/ConsoleServer) might help, looks like an implementation of Ser2Net which uses ssh rather than telnet.

[2016-01-12 09:31] nunocarrulo commented on #161
I've teste mainly with Dell N2000 switches. I have some HP switches pro curve but I will not test with them until I get switches that are off the network. I chose cisco_ios because I've configured in both and in my opinion they are kinda similar.

________________________________
De: Kirk Byers <notifications@github.com>
Enviado: 11 de janeiro de 2016 20:53
Para: ktbyers/netmiko
Cc: Rui Braz
Assun

[2016-01-12 19:49] ktbyers opened #163 "Build a better handler in send_command for long-running (slow) commands"

[2016-01-13 01:02] ktbyers commented on #161
@nunocarrulo So this sounds like a Dell/Force10 issue i.e. Netmiko has no driver for Force10. You assumed Cisco IOS would just work for Dell/Force10, but it looks like it doesn't.

I would be happy to add in Dell/Force10 support, but need someone to do the work, test it, and submit the PR.

If you have a test device, we can possibly debug what is going on. But obviously I don't want to cause issue

[2016-01-13 15:39] ericleahy commented on #161
Just wanted to add something on the Dell Networking/F10 switches. The N2000 runs on a different OS, DNOS6, than any of the more higher level Dell Networking switches, C series, S series, Z series switches, DNOS9. I have ran scripts using paramiko against the OS9 without any issues and I have just tried it with netmiko and not hitting any issues with the OS9. Might be a OS6 issue?
@ktbyers I have a

[2016-01-13 16:28] nu110 commented on #161
Haven't been back in the office yet, but sounds like the switches I
mentioned aren't relevant so I'll leave it.

On Wed, Jan 13, 2016 at 3:39 PM, ericleahy <notifications@github.com> wrote:

[2016-01-13 16:59] ktbyers commented on #161
@ericleahy Can I get SSH access to them? Either that or you can work on adding a Dell-F10 driver (see https://github.com/ktbyers/netmiko/blob/master/VENDOR.md).

[2016-01-13 17:07] ericleahy commented on #161
@ktbyers I can get you SSH access if you would like?

[2016-01-13 17:12] ktbyers commented on #161
@ericleahy Sounds good. Do you have my email address?

[2016-01-13 17:14] ericleahy commented on #161
@ktbyers ericleahy83@gmail.com

[2016-01-13 17:16] ktbyers commented on #161
Okay just emailed you.

[2016-01-16 16:19] ktbyers commented on #161
Linking to issue #128

[2016-01-16 16:21] ktbyers commented on #128
Working on Dell/Force10 support:

Current device:

show version
Dell Real Time Operating System Software
Dell Operating System Version:  2.0
Dell Application Software Version:  9.9(0.0)
Copyright (c) 1999-2015 by Dell Inc. All Rights Reserved.
Build Time: Tue Sep  8 03:51:15 2015
Build Path: /sites/eqx/work/swbuild01_1/patch02/E9-9-0/SW/SRC
Dell Networking OS uptime is 1 week(s), 1 day(s), 4 hour(

[2016-01-16 16:23] ktbyers commented on #128
Eariler note from:

Just wanted to add something on the Dell Networking/F10 switches. The N2000 runs on a different OS, DNOS6, than any of the more higher level Dell Networking switches, C series, S series, Z series switches, DNOS9. I have ran scripts using paramiko against the OS9 without any issues and I have just tried it with netmiko and not hitting any issues with the OS9. Might be a OS6 issu

[2016-01-16 16:31] ktbyers commented on #128
@ericleahy

So are there two main categories for these Dell-Force10 switches: dell_f10_dnos9 and dell_f10_dnos6?

[2016-01-16 17:54] ericleahy commented on #128
@ktbyers yes there are two as of today, DNOS6 & DNOS9. DNOS9 is found on the higher end DC switch products. Think of it like Cisco IOS and NXOS.

[2016-01-17 01:09] ktbyers commented on #128
Okay, Force10 support using DNOS9 was added in the below commit. Currently, it is identical to cisco_ios from  the Netmiko perspective.

https://github.com/ktbyers/netmiko/commit/34937cec49b037dc4b3efdc15457a2860bf6c26a

There is no DNOS6 support (as of right now).

[2016-01-17 01:10] ktbyers commented on #161
@nunocarrulo I don't have any DNOS6 devices so I don't have any way of figuring out what is going on here.

I did add Dell-F10 DNOS9 support (but it is current the same as cisco IOS from a Netmiko perspective).

[2016-01-17 01:11] ktbyers commented on #151
This is done for Cisco and Cisco derivative devices.

[2016-01-17 01:12] ktbyers commented on #151
See commit https://github.com/ktbyers/netmiko/commit/0ccab2be58a1ad08818a4eeb8aff0a48b98f681a

[2016-01-17 12:26] nunocarrulo commented on #161
@kirkbyers Thank you. I'll perform a few tests including on HP devices and Dell devices that were not upgraded to DNOS6. This way I can be sure that it the OS is the problem.

Anyway, if you want I might be able to perform some tests regarding Dell DNOS6.

________________________________
De: Kirk Byers <notifications@github.com>
Enviado: 17 de janeiro de 2016 01:10
Para: ktbyers/netmiko
Cc: Rui B

[2016-01-17 19:28] ktbyers commented on #161
@nunocarrulo It sounds like I might be able to get access to a DNOS6 switch (courtesy of @ericleahy).

[2016-01-18 09:18] nunocarrulo commented on #161
@kirkbyers @ericleahy Great. Thanks a lot.

By the way thanks for adding support for Dell/F10 devices. It will be very useful.

________________________________
De: Kirk Byers <notifications@github.com>
Enviado: 17 de janeiro de 2016 19:28
Para: ktbyers/netmiko
Cc: Rui Braz
Assunto: Re: [netmiko] Dell/Force10 does not work with Cisco IOS Driver -- SSH after a few times causes switch to blackout (n

[2016-01-19 07:07] smnmtzgr opened #164 "find_prompt fails if Cisco Nexus devices have enabled "terminal color persist""
Hi Kirk, at first thanks for your great work!
I've found an issue that happens when the user which is used for netmiko connects to a Cisco NX-OS device and has enabled "terminal color persist" on this device.
The prompt of the device cant be found correctly in this situation because it doesnt end with the primary or secondary character (# or >). The colored prompt is formatted as described here: h

[2016-01-19 17:42] ktbyers commented on #164
@smnmtzgr And the problem goes away when 'terminal color persist' is disable?

[2016-01-19 19:38] ktbyers commented on #105
This should be fixed by this commit https://github.com/ktbyers/netmiko/commit/5c5c05f92bb49f149a8845281e2a352cb4a5c0d2

[2016-01-19 19:38] #105 closed

[2016-01-19 19:53] smnmtzgr commented on #164
Yes it goes away. Thats definitively the problem. My co-worker made a fix to it: https://github.com/Benedikt1992/netmiko/commit/71e50105569977bbeb62c280ae00030264900a16

The "terminal color persist" is a per user-based command. If you enter "no terminal color persist" (thats default) there is no colored prompt in NX-OS and all is fine.

[2016-01-19 21:31] ktbyers commented on #164
@smnmtzgr Yes, I don't think we should do anything here. The default on the NEXUS is to have this disabled so someone would have had to enable this.

An alternate fix would be to send a direct command to unconfigure this and then reconfigure this at the end of the session.

You would have to override the default code, however, as the initial connection fails.

[2016-01-22 06:25] dennisjian opened #166 "How can I put the "enable password" when login with SSH?"
Hi Kirk,

If the user I used to login to a Cisco router is not privilege 15 and a "enable" password is required, how can I put in that "eanble password'?

I noticed that I can use "•	net_connect.enable() " to enter the enable mode. But can it take the "password" argument?

Thanks & regards,

Dennis

[2016-01-22 06:58] ktbyers commented on #166
@dennisjian Add a 'secret' argument when you create the connection argument. Then just call the .enable() method.

[2016-01-22 06:58] #166 closed

[2016-01-22 06:59] #164 closed

[2016-01-22 19:41] wmann commented on #163
Is there a way to improve buffers or timeouts. I'm trying to fetch a show run from different HP Procurve switches? It works well on the access switches with about 4 KB of config. But I'm not able to fetch the show run from the CORE switches. Te config of the CORE switches is about 24 KB.

[2016-01-22 20:12] ktbyers commented on #163
@wmann Can you provide more details on what happens? Does it only get part of the data or does it generate an error/exception?

If you get an error/exception, please post it.

[2016-01-22 20:25] verbosemode commented on #163
My workaround for "verify /md5" for example is setting delay_factor to 1.0 and max_loops to 30. This results in a timeout which is close to 30 (~31.5) seconds. Maybe adding a "timeout" parameter to the method which implicitly modifies delay_factor and max_loops would do the trick.

[2016-01-22 20:27] wmann commented on #163
I don't get any error.
On the switch where it works it looks like this

### BEGIN OUTPUT ###
config term
ACCESS(config)# show run

Running configuration:

; J9776A Configuration Editor; Created on release #YA.15.17.0009
; Ver #07:c3.84.9c.63.ff.37.27:50
hostname "ACCESS"
....
complete config
...

ACCESS(config)# end
ACCESS#
### END OUTPUT ###

on the CORE the output looks like this

### BEGIN OUTP

[2016-01-22 20:33] wmann commented on #163
Google brought me also to Issue #97 which might be same. Could you please provide me a hint how and where to adjust the delay_factor?

[2016-01-22 20:53] verbosemode commented on #163
@wmann Sorry for hijacking the conversation. My comment was rather on the issues topic than on the problem with incomplete configs. Which basically means my comment won't help in your case

[2016-01-22 21:15] wmann commented on #163
@verbosemode delay_factor was totally what I was looking for. I figured out how to increase the delay factor for the "show run" from 0.5 to 2 and now it is able to get the full config from switch.
I have another prob but this has nothing to do with long running commands so I will open another post.

Thanks for your support

[2016-01-22 21:21] wmann opened #167 "Function net_connect.send_command, rstrip error"
As the HP Procurve switches could run show commands in config mode. There was no problem using net_connect.send_config_set command for show commands. This works fine.

Code looks like this:
SSHClass = netmiko.ssh_dispatcher(device_type=switch['device_type'])
net_connect = SSHClass(**switch)
show_commands = ['show run']
output = net_connect.send_config_set(show_commands, delay_factor=2)

This works

[2016-01-22 21:31] ktbyers commented on #163
@wmann You could also use the send_command_expect() method for slow running commands. This command will essentially wait until the router prompt is detected to complete (so it handles slow running commands better).

The delay_factor option is also totally valid.

[2016-01-22 21:31] #163 closed

[2016-01-22 21:33] ktbyers commented on #167
@wmann
show_commands needs to be a string and not a list.

So change this:
show_commands = ['show run']

To this:
show_commands = 'show run'

[2016-01-22 21:36] wmann commented on #167
I should learn more python ;-(

[2016-01-22 21:37] wmann commented on #167
But this
show_commands = ['show system', 'show interfaces transceiver']
seems to work. So if there is only one command only a string. When multiple then a list?

[2016-01-22 21:40] wmann commented on #167
Damn, it might be to late for coding today.
Haven't changed the function in the second command. So how can I use a string and use multiple show commands?

[2016-01-22 22:02] ktbyers commented on #167
@wmann

Just use a for loop and gather the output.

show_commands = ['show system', 'show interfaces transceiver']
output = ''
for cmd in show_commands:
     output += net_connect.send_command(cmd, delay_factor=2)

# Each time through the loop 'cmd' will be set to one of the commands.
# output will have the results of the multiple commands

[2016-01-23 13:13] NetSecParano opened #168 "[NX-OS] terminal color persist"
Hello,
Terminal prompt cannot be found if the user activated "terminal color persist" on a Nexus.
On the function set_base_prompt, when prompt[-1] is checked, it fails because prompt[-1] return a char used to display the color.

You could maybe sanitaze and withdraw those additionnal chars before checking the prompt.
Or, easier, just send "no terminal color" before (maybe at the same time as the "

[2016-01-24 11:54] ramdyne opened #169 "How to detect failure in a send_config_set() call"
Hi,

I want to send number of config commands to a Cisco IOS device in one call to send_config_set(). How do I detect in my code that all commands have succeeded or some (or all) have failed?

--
Andreas

[2016-01-24 15:21] ktbyers commented on #169
@ramdyne

Yes, that is a bit problematic. You could probably write a wrapper (some sort of a for loop) that executes each command and looks for an error string back.

Also you could check the merge function in NAPALM for Cisco IOS (see https://pynet.twb-tech.com/blog/automation/napalm-ios.html). This hasn't been merged in the main NAPALM yet, however (so you would need to use my NAPALM branch http

[2016-01-26 09:55] ramdyne commented on #169
Doing the for-loop looks like the safest bet for now :-)

Anyway, thanks!.

[2016-01-26 11:47] ramdyne commented on #169
Having send_config_set() do that would be very nice indeed :-)
Perhaps something like
[code]
or even

[code]

[2016-01-26 23:46] ktbyers commented on #169
@ramdyne Hmmm, that is an interesting idea.

I have also been thinking about improving the send_config_set() so the delays are much shorter between each command.

In other words:
get into config mode / verify in config mode             # a bit slow
execute each command                 # fairly rapidly one after the other
exit out of config mode                   # a bit slow

[2016-02-01 21:40] ktbyers opened #170 "Improve netmiko syslog configuration"

[2016-02-02 21:21] ktbyers opened #172 "SSH Proxy support not working"
SSH Proxy support is not working. I have it working linux > to linux > to linux (using netmiko), but when I try to do linux > to linux > to cisco it fails with the below.

paramiko.ssh_exception.SSHException: Error reading SSH protocol banner

I can get linux > to linux > to cisco working from command line.

On the Cisco side, it looks like it sends the banner:

Feb  2 13:15:17.572 PST: SSH0: star

[2016-02-02 21:22] ktbyers commented on #172
FYI @coxley

[2016-02-02 23:31] coxley commented on #172
@ktbyers Can you post the code snippet used to test? I'll try it on some gear of mine.

[2016-02-02 23:34] ktbyers commented on #172
[code]

[2016-02-02 23:39] ktbyers commented on #172
@coxley I could get it to work using the above 'linux' device currently commented out (i.e. linux to linux to linux).

I have some other things in my ~/.ssh/config file (than what I posted above), but I don't think they are relevant.

Note, I also intentionally disabled SSH key auth between linux_start_srv > linux_middle_srv (i.e. forced it be password auth).

I only tried 'cisco' and 'linux' for

[2016-02-02 23:47] ktbyers commented on #172
@coxley It works if I do this (i.e. connect using the ~/.ssh/config file including the ProxyCommand)

[code]

[2016-02-02 23:52] ktbyers commented on #172
Here is also the log messages that are generated:

[code]

[2016-02-03 17:40] ktbyers commented on #172
@coxley FYI, I tested this on Juniper and it works for Juniper...so it looks like a Cisco specific behavior (yuck).

[2016-02-03 17:54] ktbyers commented on #172
@jedelman8 FYI, this might be a Cisco specific issue or Cisco IOS specific. I have it working linux to linux to linux and linux to linux to juniper.

Failing linux to linux to Cisco IOS.

[2016-02-03 19:16] ktbyers commented on #172
@coxley @jedelman8 I was able to fix this by adding a delay into Paramiko. It looks like there is a timing issue here. See:

https://github.com/paramiko/paramiko/issues/675

[2016-02-03 19:34] coxley commented on #172
Interesting. I'm able to get it working on both Force10 (DNOS9) and Juniper.

Timing kind of makes sense - there was a weird bug in trigger recently which was fixed by adding an extra 0.1s timeout to Arista I think.

[2016-02-03 19:43] coxley commented on #128
@ericleahy Are S55-series included in that DNOS9 group?

I only bring this up because we have both S4810's and S55's. Between these, the S4810's are the only ones that work with the essentially-cisco driver.

For reference, here's some netmiko log:

[code]

[2016-02-03 20:38] ericleahy commented on #128
@coxley the S55 do not run on DNOS9 they only run on the older FTOS8. The S55 went EoSale last November so there will be limited support on these in the future.

[2016-02-03 21:56] coxley commented on #128
Ah, gotcha. Wonder what needs to be done to get these compatible at least.

[2016-02-03 22:42] ktbyers commented on #128
@coxley Can you post what an SSH login session looks like for these S55 devices?

[2016-02-03 23:13] coxley commented on #128
@ktbyers Sure, posted below

[code]

[2016-02-03 23:46] ktbyers commented on #128
@coxley Then it just drops you to the prompt after that?

What do you have to do to disable the --paging-- of output? Do you have to go into enable mode?

Also what does the prompt look like (enable and config mode)?

[2016-02-04 00:14] coxley commented on #128
Yep, prompt right after that. Feels like DNOS9 to me really.

Privilege level 15, so dropped immediately to priveleged exex (`#`). I can `disable` and drop into `>`, requiring `enable`

[code]

[2016-02-04 01:13] LindsayHill opened #173 "Break out Brocade adapter for different devices?"
Brocade has 3 main IP lines - MLX, ICX, VDX. Each run a different OS (NetIron, FastIron, NOS) respectively. There is of course also the FC line, running FabricOS

What's your thoughts on breaking the Brocade adapter up into separate adapters? Something like Brocade_ssh_mlx, or similar?

If I can, I might be able to help with getting initial adapters going for these. Funnily enough, I can get acces

[2016-02-04 02:41] ktbyers commented on #128
@coxley

Was the above capture using a proxy?

I see the (via proxy) when it authenticates.

[code]

Do you see any errors or warnings on the switch side (as far as SSH)? You might need to debug SSH on the switch side

[2016-02-04 02:56] ktbyers commented on #173
@LindsayHill Yes, I want to standardize on the following naming convention:

vendor_platform

For example,

cisco_ios
cisco_asa
cisco_nxos
hp_procurve

In this file https://github.com/ktbyers/netmiko/blob/master/netmiko/ssh_dispatcher.py

I have:

[code]

So currently I have brocade_vdx.

It sounds like there should also be:

brocade_icx
brocade_mlx

Is it more logical to name it this way or broca

[2016-02-04 03:57] LindsayHill commented on #173
VDX / ICX / MLX is the hardware family, whereas nos/fastiron/netiron is the OS family, so it probably is better to go with brocade_netiron, etc. Seems a better match to the way you've gone with IOS/IOS-XR, etc.

[2016-02-04 08:19] coxley commented on #128
Yes, was via proxy. IIRC I've tried directly to them too. Nonetheless, a direct capture might prove more helpful.

Will get in the morning!

[2016-02-04 19:24] coxley commented on #128
[code]

[2016-02-04 19:32] ktbyers commented on #128
@coxley So it works without the proxy?

[2016-02-04 23:52] coxley commented on #128
@ktbyers Sorry, no - that's just raw SSH which works regardless. Netmiko log looks the same:

[code]

[2016-02-05 00:11] ktbyers commented on #128
@coxley You using Paramiko 1.16.0 in this testing?

[2016-02-05 01:09] coxley commented on #128
[code]
Yep, fresh virtualenv. :)

[2016-02-05 04:10] ktbyers commented on #173
@LindsayHill I stubbed out the Brocade support in this commit. Fastiron and Netiron don't do anything currently (just raise an error).

This should create the framework, however.

If they are Cisco-like in behavior, then they probably will work without much modification.

Let me know if you want to test netiron or fastiron out and we can create a test script.

[2016-02-05 21:28] LindsayHill commented on #173
Thanks @ktbyers. FastIron & NetIron do look Cisco-ish. Can do some tests pretty quickly against netiron, and it shouldn't take me long to get some fastiron boxes. I do need to do some reading up on your testing infrastructure. If you've got scripts to gather data that you want me to run, let me know.

Will be in Bay Area over the next two weeks, might see you around

[2016-02-06 01:35] pixelrebel commented on #128
@ktbyers I'm trying to get this working with a S4810.

My connection code looks like:

[code]

Here's the traceback:

[code]

Any troubleshooting tips?

Please let me know if there's anything I can do to contribute.

[2016-02-06 11:20] sivabudh commented on #159
@ktbyers, what if I were to submit a pull request that will allow netmiko's users to specify the network protocols like this:

[code]

I think there are benefits to support both telnet and ssh because existing networks (with thousands of network devices) might not have been configured with SSH. Thoughts?

[2016-02-06 17:40] ktbyers commented on #159
@sivabudh

Yes, I would prefer the following standard:

cisco_ios_ssh

I.E. vendor_platform_protocol. I already added code that will append "_ssh" to all device types to add protocol to the end of the device type. If protocol is not specified i.e. 'cisco_ios', then SSH will be assumed.

Yes, we would want to use telnetlib to implement.

If we want to do this, then we should mock out support. It wo

[2016-02-06 17:53] ktbyers commented on #173
@LindsayHill

Here is the doc on testing:

https://github.com/ktbyers/netmiko/blob/master/TESTING.md

I would start by just copying the 'cisco_ios' versions in (in the .example files).

You going to be up in San Francisco?

[2016-02-07 02:14] ktbyers commented on #128
@coxley A few questions on your S55 issue?

1. I wonder if removing the banner makes any difference.
2. What exception do you get when you use Netmiko (just the exception, no debugging)
3. If you debug SSH on the switch side are there any clues?

[2016-02-08 01:31] ktbyers commented on #128
@pixelrebel

Can you add this logging to the top of your script? This will create a log file in your current directory called test.log. Let me know if that gives you any additional clues as to what is going on.

Also, what version of Paramiko are you using?

[code]

[2016-02-08 02:08] LindsayHill commented on #173
Thanks @ktbyers , I'll take a look and run it against some real kit this week.

Will be staying in San Jose area, may be up in SF area at some stage. Will get in touch if I'm heading that way.

[2016-02-08 05:57] pixelrebel commented on #128
@ktbyers.
I was on `1.15.2`, I upgraded to `1.16.0` and it just started working!

[2016-02-08 06:08] pixelrebel commented on #128
I spoke too soon.  Works with keys, still fails with password.

[code]

[2016-02-08 17:16] ktbyers commented on #128
@pixelrebel  Okay, that looks like the same issue as @coxley reported (which is good).

Are you using Python2 or Python3?

[2016-02-08 18:23] pixelrebel commented on #128
I'm using Python 2.7.6.   Another interesting tidbit I noticed:  while key login works, the password must still be supplied to `netmiko.ConnectHandler` and valid for key validation to work.

[2016-02-08 20:52] ktbyers commented on #128
@pixelrebel  What version of Netmiko are you using?

The password issue was possibly fixed here (used to not allow blank password) https://github.com/ktbyers/netmiko/commit/7f961a79bb5a0c399a8de2a5b4edef80e20b04d3

[2016-02-08 21:52] pixelrebel commented on #128
I'm on `0.3.0`.  This is a different issue I believe.  If I put random text or no text in the password field, even though `use_keys` is set to `True`.  It still tries to use password and throws an authentication error.  This even happens when I exclude the `password` kwarg altogether.

[2016-02-08 21:55] pixelrebel commented on #128
It's actually very curious, because it appears password login is not working, yet key-based auth requires a successful password auth.  When a proper key and password are supplied, auth works!  Also note:  I can login with just my key directly in ssh. So I don't think it's a config issue with the switch, but I haven't entirely ruled this out. :)

[2016-02-08 22:44] ktbyers commented on #128
@pixelrebel

Netmiko/paramiko will try to use a password if key authentication fails (even if you don't pass a password).

Netmiko by default sets password = ''

Paramiko does the following:

[code]

[2016-02-09 00:47] pixelrebel commented on #128
@ktbyers

Interesting, this is not what I'm experiencing:
If I provide password, but don't include the path to the key (use_key=False):  EOFError
If I provide a path to key (use_key=True), but don't provide password (password=''):  Authentication error
If I provide a path to key (use_key=True), and provide incorrect password:  Authentication error
If I provide a path to key (use_key=True), and pro

[2016-02-09 01:03] ktbyers commented on #128
@pixelrebel Yes, I think we should first see if we can figure out the password authentication issue.

[2016-02-09 15:21] spirrello opened #174 "Enable Mode on ASA?"
Hi Kirk,

I'm trying to setup a connection with an ASA and the following isn't working, actually locking out my service account.

net_obj = ConnectHandler(device_type = 'cisco_asa', ip = '10.192.2.2', username = 'netadmin', password='password)

#Do I need the following line or should the connecthandler recognize it needs to go into enable mode?  #Do I need to pass the password to do this?
net_obj.

[2016-02-09 17:01] ktbyers commented on #174
@spirrello

What is your normal workflow using SSH on this ASA?

SSH in then enable and separate enable secret?

Assuming this is the workflow, then you would need to do what you did above. You would also need to pass in a secret='secret' argument).

Then call the .enable() method.

Can you also clarify what you mean by 'locking out my service account"?

[2016-02-09 18:04] ktbyers commented on #128
@pixelrebel Yes, what you observed is interesting/strange. Might give us some clues as to what is going on.

[2016-02-09 18:04] ktbyers commented on #128
@pixelrebel @coxley Any possibility that I can get SSH access to one of these devices (test device only). I can give you an IP address to restrict the access to.

[2016-02-09 18:41] spirrello commented on #174
That's what it was, i was missing the "enable" parameter.  Thanks!

[2016-02-09 18:41] #174 closed

[2016-02-09 18:41] spirrello commented on #174
Sorry....I meant I was missing the "secret" parameter.

[2016-02-09 19:22] ktbyers commented on #174
@spirrello So you couldn't SSH in after the first attempt failed (i.e. "locking out" service account)?

[2016-02-09 22:50] spirrello commented on #174
Because I wasn't passing the secret parameter I ended up locking out my
service account in Active Directory after trying so many times.

On Tue, Feb 9, 2016 at 2:22 PM, Kirk Byers <notifications@github.com> wrote:

[2016-02-12 02:42] coxley commented on #128
@ktbyers I'm unsure if we have any spares currently, though I can check the status of that.

[2016-02-12 02:46] pixelrebel commented on #128
@coxley. I'm setting him up with one.

[2016-02-12 10:22] Jordanh517 opened #175 "Blank output from HP switches"
I'm trying to make a crawler to pull the config from a bunch of HP switches.

However im running into a bit of an issue.

When looking at two switches;
ProCurve J9147A 2910al-48G Switch
Software revision W.14.03

One of them the output is pulled correctly, the other receives nothing.

[code]

Using that code I can see that it is establishing a connection but when printing 'output' it is blank.

An

[2016-02-12 20:51] ktbyers commented on #175
@Jordanh517 Does each switch work if you try them individually or does one of them always fail. I.E. if you try this on each switch:

<pre>
            net_connect = ConnectHandler(**hp_dev)
            net_connect.find_prompt()
            output = net_connect.send_command("show run")
            print output
</pre>

It could be that the 'show run' command is taking too long to output on one of t

[2016-02-15 07:42] Jordanh517 commented on #175
@ktbyers Fantastic! Both of your suggestions fix the issue.

Looking at the configs for the ones that didn't previously work; they are a fair bit larger than the ones that did work. So I think it was an issue with it taking a bit too long to run.

Thanks!

[2016-02-15 07:42] #175 closed

[2016-02-18 19:12] shafi03 opened #177 "establish ssh connection from Router to another Router"
can establish another ssh to Router using netmiko? in our setup, we telnet the second router from direct connected router.

![untitled](https://cloud.githubusercontent.com/assets/17315267/13154956/79d959d6-d68c-11e5-8737-ad3d6839df9d.png)

[2016-02-18 20:30] ktbyers commented on #177
@shafi03 So you SSH to R1 and then telnet to R2?

[2016-02-18 20:33] shafi03 commented on #177
Yes either telnet or ssh to R2

[2016-02-18 21:09] ktbyers commented on #177
@shafi03 SSH might work if you ssh Proxy. I have never tried it through a router, however. I have tried it through a Linux host.

I am probably going to try to write something up about this in a couple of weeks.

This article talks about ProxyCommand:

http://www.cyberciti.biz/faq/linux-unix-ssh-proxycommand-passing-through-one-host-gateway-server/

Go to the section pertaining to a ./ssh/config f

[2016-02-19 00:12] shafi03 commented on #177
@ktbyers Thanks.. I really appricate your help.

[2016-02-23 00:44] ktbyers opened #179 "Add is_scp_enabled method for Cisco IOS"
This is to the SCP code so that you can check whether SCP is enabled or not.

[2016-02-23 11:14] nunocarrulo commented on #161
@ktbyers How's the library for Dell/F10 devices going ?

[2016-02-23 17:01] ktbyers commented on #161
We are mainly tracking it here #128. Obviously welcome to submit PRs and to add support.

I am going to close this issue and just leave open #128.

[2016-02-23 17:01] #161 closed

[2016-02-23 21:55] ktbyers commented on #128
These are the SSH debugging messages from the Dell S4810

[code]

Strange it says LOGIN_SUCCESS, but then immediately says SSHServer: Failed password.

[2016-02-23 21:57] ktbyers commented on #128
Paramiko log shows this at the end:

DEBUG:paramiko.transport:userauth is OK
INFO:paramiko.transport:Authentication continues...
DEBUG:paramiko.transport:Methods: [u'publickey', u'password']
DEBUG:paramiko.transport:[chan 0] Max packet in: 32768 bytes
WARNING:paramiko.transport:Oops, unhandled type 3
DEBUG:paramiko.transport:EOF in transport thread

[2016-02-23 22:12] ktbyers commented on #128
Here is what a manual SSH session that works look like (from Dell debugging perspective):

[code]

[2016-02-23 23:05] ktbyers commented on #128
It looks like the S4810 fails password authentication when trying to connect from Paramiko. Don't know why this is however.

[2016-02-24 02:06] pixelrebel commented on #128
@ktbyers I suspected this was an issue with paramiko.  Are you going to open an issue upstream?

What's really weird to me is that when I login with a key, auth works, but only if the password is also included and is correct.

[2016-02-24 02:58] ktbyers commented on #128
@pixelrebel It is hard to say what the issue is. It could also be a Dell issue.

It is strange that Dell does this:

<pre>
2w4d3h: %STKUNIT0-M:CP %SEC-5-LOGIN_SUCCESS: Login successful for user admin on line vty1 (1.1.1.1)
2w4d3h : --> SSHServer:Failed password for admin ssh2@auth2.c:349
</pre>

Yes, I remember you talking about the password/key behavior earlier.

[2016-02-25 17:20] ogenstad opened #181 "SCP: Validate md5 without comparing to a local file"
It should be possible to retrieve the md5 checksum of a file transfered through scp. Currently you can only compare to the local file (which might be corrupted).

[2016-02-25 18:41] ktbyers commented on #181
So you are looking for a method that returns the remote file's MD5?

[2016-02-26 13:18] ogenstad commented on #181
Yes something in the lines of

[code]

[2016-02-29 17:39] ktbyers opened #182 "Create methods for send_command_set and send_cmmand_from_file?"
Is it worth it to create something similar to this?

net_connect.send_command_set(arguments) -- Send a set of commands to remote device
net_connect.send_command_from_file(arguments) -- Send a set of commands loaded from a file

[2016-02-29 18:05] ktbyers opened #183 "Improve set_base_prompt code"
Should have a while loop and be sending return periodically. It looks like it could get stuck here.

[2016-03-03 16:56] ktbyers commented on #181
@ogenstad Probably should just submit this as a PR. I will get to it faster that way.

[2016-03-05 19:06] ktbyers commented on #56
Should be done.

[2016-03-05 19:06] #56 closed

[2016-03-05 19:07] #62 closed

[2016-03-05 19:08] #67 closed

[2016-03-05 20:37] #83 closed

[2016-03-05 20:55] ktbyers commented on #109
This is fixed 6165484177b626cb370b6d04c1351e620d1e65de

Can use either host or ip to create a Netmiko connection object.

[2016-03-05 20:55] #109 closed

[2016-03-05 22:19] ktbyers commented on #71
This was completed earlier.

[2016-03-05 22:20] ktbyers commented on #131
This is done.

[2016-03-05 22:20] #131 closed

[2016-03-05 22:21] #150 closed

[2016-03-05 22:21] #167 closed

[2016-03-05 22:22] ktbyers commented on #177
@shafi03 Also see:

https://pynet.twb-tech.com/blog/automation/netmiko-proxy.html

[2016-03-05 22:22] #177 closed

[2016-03-11 19:23] scott-abt commented on #152
Hi,
I re-installed this morning, and I believe this is broken again. I get the "Router prompt not found" error when I try to log in with root now. Here's the whole exception message:

ValueError: Router prompt not found: root@NET-Sandbox:RE:0%

[2016-03-11 20:41] ktbyers commented on #152
What version of Netmiko are you running?

Kirk

On Fri, Mar 11, 2016 at 11:23 AM, ScottG <notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2016-03-11 20:54] scott-abt commented on #152
0.3.9 so saith pydoc3

[2016-03-11 21:25] ktbyers commented on #152
Does it work if you use the released version netmiko.0.3.4?

Either:

pip install netmiko==0.3.4

of

https://github.com/ktbyers/netmiko/releases

Kirk

On Fri, Mar 11, 2016 at 12:54 PM, ScottG <notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through

[2016-03-11 21:28] scott-abt commented on #152
Yep, that makes it work for me.

[2016-03-11 22:24] ktbyers commented on #152
Okay, strange. I must have broke something in the recent changes. I am not
seeing it on quick glance so I will have to dig into it some more.

Kirk

On Fri, Mar 11, 2016 at 1:28 PM, ScottG <notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through auto

[2016-03-11 22:59] scott-abt commented on #152
I will make sure to work with the 0.3.4 version for now. Thanks!

[2016-03-11 23:33] ktbyers commented on #152
It is all good, I just happened to break something last night / today :-)

Kirk

On Fri, Mar 11, 2016 at 2:59 PM, ScottG <notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2016-03-23 17:17] ktbyers opened #186 "Need to build a generator for send_command and send_command_expect"
To send a set of commands rapidly in succession.

[2016-03-25 03:28] #70 closed

[2016-03-25 03:28] #71 closed

[2016-03-25 04:02] ktbyers commented on #110
Huawei needs platform name.
a10 needs platform name.
linux has no platform name.
enterasys
extreme
fortinet.

[2016-03-30 17:34] ktbyers commented on #129
Hopefully fixed in release 0.4.1, but will re-open if not.

[2016-03-30 17:34] #129 closed

[2016-03-30 17:39] ktbyers commented on #124
@networkpadwan Are you still interested in working on this?

[2016-03-30 17:54] ktbyers commented on #132
This is done. Didn't create any CONTRIBUTING.md. Using flake8 with the following setup.cfg file.

[flake8]
ignore = F401
max-line-length = 100
exclude = tests/*,build/*,examples/*

Need to fix the F401 issues by adding __all__, but haven't got to them.

[2016-03-30 17:54] #132 closed

[2016-03-30 19:33] ktbyers commented on #136
Not worth worrying about right now...

[2016-03-30 19:33] #136 closed

[2016-04-01 13:26] pnicolette commented on #169
With 500+ lines of ACL to write into an ASA, be great to have a send_config_set() pacing rate option nearly as quick as multilline paste in a PuTTY SSH session.  Thanks MUCH for netmiko, btw.

[2016-04-01 14:49] networkpadwan commented on #124
@ktbyers I was looking at the paramiko bug mentioned above. Looks like its still not solved. I will dig more into it this weekend and update this thread on 04/04

[2016-04-01 18:06] ctomkow opened #187 "Breaks when enabling on specific HP procurve line"
Trying to enable on a HP with TACACS+ prompts for username and password again...not the enable password.  Netmiko is expecting to see 'Please Enter Password:' instead.

[code]

[2016-04-01 18:49] ctomkow commented on #187
To expand on this a bit, it looks like your code does handle the re-prompt for username.  On my HP I have, it prompts for 'Please Enter Login Name:' not username.  This may be the issue?  I haven't dug into your code too closely to see how it handles expecting on the prompt though.

[2016-04-01 21:14] ctomkow commented on #187
So I dug into RANCID and how it deals with this login type (in hlogin).  It seems they expect on a couple different things `Username|login|user name`.  I haven't suggested any code to fix the issue yet, I have just explored the issue as i'm not yet familiar with your code.  Maybe this weekend I will come up with a reasonable solution.

[2016-04-03 22:25] ktbyers commented on #169
@pnicolette Check out Netmiko 0.4.2 (master branch on GitHub). This should be much-much faster now for multi-line configuration changes. Probably >10X faster.

[2016-04-03 22:28] ktbyers commented on #187
@ctomkow Can you send over to me what the SSH session looks like on this HP box. Just the login part where it is asking for Login Name: and Password. Obviously, strip out anything that is confidential to your environment.

[2016-04-04 18:21] ctomkow commented on #187
Here is the output for the enable login and password part.  As a side note, I noticed I tested on some other HP boxes and it defaults to providing 'manager' as default username (which breaks enable on a bunch of HPs).  Not sure why that is when I have provided username and password.  Anyway, here is the trace regarding the original issue.

[code]

[2016-04-05 13:39] pnicolette commented on #169
@ktbyers On our test ASA5505, Netmiko 0.4.2 adds 100 lines to a network object group in under 7 seconds. Perfect!

[2016-04-05 15:53] ktbyers commented on #169
:+1:  Nice.

[2016-04-05 16:18] networkpadwan commented on #124
@ktbyers I ran into the same error. Are you aware of any solution to above mentioned paramiko bugs?
O/P from the box:

Traceback (most recent call last):
File "", line 1, in
File "/usr/local/lib/python2.7/dist-packages/paramiko/client.py", line 369, in invoke_shell
chan.get_pty(term, width, height, width_pixels, height_pixels)
File "/usr/local/lib/python2.7/dist-packages/paramiko/channel.py", line

[2016-04-05 17:40] ktbyers commented on #124
@networkpadwan No, I don't know the solution to above. It is unclear on whether the problem is a Paramiko problem or a Netscreen problem (or a bit of both).

[2016-04-05 18:50] calvinchristopher opened #188 "prompt user/pass"
Hello Kirk, looking forward to Thursday's class.

I'm looking for a way to prompt for a user/pass to be passed within each device in a list.

For instance:
device_creds.py:
------
`username = ''`
`password = ''`

`SW1 = {`
`  'device_type': 'cisco_ios',`
`  'ip': '172.16.1.189',`
`  'username': username,`
`  'password': password,`
`  'verbose': False,`
`  }``

`SW2 = {`
`  'device_type': 'cisco_io

[2016-04-05 19:42] calvinchristopher commented on #188
Think I've got a working solution, I'll update after validation

[2016-04-05 20:33] ktbyers commented on #188
Okay, sounds good.

Kirk

On Tue, Apr 5, 2016 at 12:42 PM, Calvin <notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2016-04-06 01:09] calvinchristopher commented on #188
Kirk, please close this out.

I got around this limitation, but it was quite a different approach. I'd be interested in hearing if you have a different approach.

End goal was to parse through a securecrt configuration file containing hostname and username for hundreds of devices, but no password (security reasons). here's how I got this to work:

csv file example
------

`session_name,hostname,pr

[2016-04-06 02:00] ktbyers commented on #188
@calvinchristopher Here is an example of how I would have probably done it.

https://github.com/ktbyers/pynet/blob/master/pyth_ans_ecourse/class4/ex5_netmiko.py

Note, you probably want to use 'getpass' to handle the password (so it is not echoed to the screen). See my link for an example of this.

Kirk

[2016-04-06 02:00] #188 closed

[2016-04-06 07:48] asmaps opened #189 "Read until prompt for send_command"
I'm having issues with incomplete command outputs:
e.g. sometimes `sh run` takes very long to build, so I only have `Building configuration...` in my output. I'm using the send_command function on Cisco, Juniper and Arista. Now I saw, that you added a `read_until_prompt` function in 4343c98d993a94dddfcd1978f8f282a2ba6a3bfa. Is it possible to use this one somehow for send_command? I already set a h

[2016-04-06 15:59] ktbyers commented on #189
@asmaps Use send_command_expect() method. This will read until trailing prompt is detected.

output = net_connect.send_command_expect('show run')

It is better method for long-running commands.

[2016-04-06 15:59] #189 closed

[2016-04-06 16:01] asmaps commented on #189
thx, will try

[2016-04-06 16:12] ktbyers commented on #189
@asmaps Sounds good, let me know if you are still having issues. I recommend that you use Netmiko 0.4.2 (github master branch) as I have been working a lot on improving the timing/reliability of Netmiko.

[2016-04-06 16:14] ktbyers commented on #187
@ctomkow Okay, it looks like we need to add a special handler for this.

I was able to decipher it with the ANSI codes.

[2016-04-08 14:01] calvinchristopher opened #190 "inconsistent 'failed to enter configuration mode'"
I have a script that iterates through a list of interfaces and enables PIM sparse-mode on Cisco IOS devices.

I have started receiving an error today that I'm unfamiliar with:
[code]

Debugs show that it's sourced from this line of code in base_connection.py:
[code]

any ideas on where I can start my investigation?

[2016-04-08 14:09] calvinchristopher commented on #190
I say that this is inconsistent because I can re-run the script and make it past this particular interface, and will have some additional successes, but then it breaks again. an example of my console output:

[code]

Kicking off the same job immediately after the first failure:

[code]

[2016-04-08 15:29] ktbyers commented on #190
@calvinchristopher Which version of Netmiko are you using.

netmiko.__version__

[2016-04-08 15:36] calvinchristopher commented on #190
Hello @ktbyers, I am running 0.3.4

[2016-04-08 15:50] calvinchristopher commented on #190
upgrading to 0.4.3 seems to have resolved it. That will teach me to rely on pypi distros

[code]

[2016-04-08 15:50] #190 closed

[2016-04-08 16:04] ktbyers commented on #190
@calvinchristopher Yes, I did a lot of work recently to improve the reliability of enable and config_mode methods (i.e. methods for going into, checking, and exiting these states).

I will probably try to push a new Netmiko version up to pypi in the next week or two.

[2016-04-11 16:39] mahabs commented on #66
@ktbyers,
I'm having the same issue as jayswa. I'm getting "socket.error: Socket is closed" when using 'cisco_wlc' as the device_type 100% of the time. the WLC I'm testing on is running the 8.0.110.0 version.

[2016-04-11 17:09] ktbyers commented on #66
@mahabs What version of Netmiko are you using?

import netmiko
netmiko.__version__

[2016-04-12 08:53] mahabs commented on #66
@ktbyers,

'0.3.4'

[2016-04-12 17:25] ktbyers commented on #66
@mahabs I just pushed Netmiko 0.4.3 to pypi. Can you re-test and see if you  are still seeing the same error?

[2016-04-13 09:45] mahabs commented on #66
@ktbyers, I'm getting the same error.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/netmiko/ssh_dispatcher.py", line 88, in ConnectHandler
    return ConnectionClass(*args, **kwargs)
  File "/Library/Python/2.7/site-packages/netmiko/base_connection.py", line 68, in __init__
    self.establish_connection(verbose=verbose, use_keys

[2016-04-13 17:33] ktbyers commented on #66
@mahabs Can you show me what the session looks like when you manually SSH into it (i.e. capture all the text that happens on a manual SSH)?

Please strip out anything that is confidential password, IP address, etc.

[2016-04-14 10:07] mahabs commented on #66
@ktbyers,
<img width="627" alt="screen shot 2016-04-14 at 11 03 03 am" src="https://cloud.githubusercontent.com/assets/11445983/14524589/12383efc-0231-11e6-8945-8b2a4a60d476.png">

[2016-04-14 10:08] mahabs commented on #66
@ktbyers ,
<img width="627" alt="screen shot 2016-04-14 at 11 03 03 am" src="https://cloud.githubusercontent.com/assets/11445983/14524637/45d6d2f0-0231-11e6-9915-7515c3c620d4.png">

[2016-04-15 20:08] ktbyers commented on #66
Okay, we are probably going to need to try to get some additional information. Can you add the print statement to netmiko/netmiko/cisco/cisco_wlc_ssh.py (this will be on line 30):

[code]

[2016-04-19 02:16] LindsayHill commented on #173
I've been doing some testing with brocade_nos, and so far everything looks good. In the next few weeks I'll do some tests with MLX & ICX. Good chance of code changes needed there. Is it worth submitting some updates to the commands.yml.example, responses.yml.example and test_devices.yml.example files?

[2016-04-19 16:08] ktbyers commented on #173
@LindsayHill Yes, it is worth submitting those files. That would make it easier for me to improve the automated testing in the future...thanks.

[2016-04-19 20:57] LindsayHill commented on #173
Cool. I'll put together some PRs. I'll do some testing of MLXe & ICX, and wrap stuff up in one change. May be a few small code changes required for MLXe/ICX.

[2016-04-19 21:09] ktbyers commented on #173
Sounds good.

[2016-04-20 07:52] vinkp opened #195 "version 0.4.3 send_config_set exception"
Hi,
The latest version gives exception while using send_config_set function when i used with a Cisco 4948 switch. Exception output is "netmiko.ssh_exception.NetMikoTimeoutException: Timed-out reading channel, data not available." from the function "read_until_pattern" in module "base_connection.py"

Working on to identify the reason behind the exception. If anyone knows better please update/resolv

[2016-04-20 16:17] ktbyers commented on #195
@vinkp What were you changing in your send_config_set?

The above is failing looking for the trailing router prompt (i.e. it didn't find the router prompt before the timeout which is set to 8 seconds)

One situation where this would happen is if your config change modified the router hostname (since that changes the router trailing prompt).

[2016-04-24 02:13] ktbyers opened #196 "Linux driver"
Need to add Linux into test suite       DONE

Will new code work if you need a password for sudo.

Can you reuse existing code better in the Linux driver.

[2016-04-25 14:13] tima-fey commented on #66
Hi!
I have the same problem
I've added print statement and
my script is just 3 lines
[code]
my output is
[code]

And thanks a lot for Great job!

[2016-04-25 14:43] mahabs commented on #66
@ktbyers ,

I did as requested and here is the output I got:

(Cisco Controller)
User:
User:Raw mode will not be supported, Closing connection.

User:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/netmiko/ssh_dispatcher.py", line 88, in ConnectHandler
    return ConnectionClass(*args, **kwargs)
  File "/Library/Python/2.7/site-pa

[2016-04-25 19:03] ktbyers commented on #66
@tima-fey @mahabs Okay, I will have to look at this. Remind me in mid-May if I forget (I probably won't get to it before then).

[2016-04-26 18:12] #181 closed

[2016-04-26 18:16] ktbyers commented on #159
FYI, I started working on this here:

https://github.com/ktbyers/netmiko/tree/telnet_poc

I would like to add support for the following (need to schedule a week to work on this):

_ssh
_telnet
_serial

So you could call

cisco_ios_ssh
cisco_ios_telnet
cisco_ios_serial

Where cisco_ios_ could be any netmiko vendor_platform

If anyone wants to work on this, let me know.

Kirk

[2016-04-26 18:17] ktbyers commented on #159
@calvinchristopher Let me know if I left you hanging here as I never did the proof-of-concept code.

[2016-04-26 18:18] ktbyers commented on #195
@vinkp Can you send over what you were changing in your send_config_set? Strip out anything that is confidential. It will be hard for me to resolve this issue without that information.

[2016-04-26 18:20] ktbyers commented on #172
Recently received an update on my Paramiko issue post, it sounds like maintainer might incorporate a fix for this (although he thought it was strange that it happened).

[2016-04-26 18:23] #169 closed

[2016-04-26 19:18] calvinchristopher commented on #159
Hello Kirk, I apologize for missing your message. I would love to give this a spin, please let me know what you need from my side

On Apr 26, 2016, 1:17 PM -0500, Kirk Byers<notifications@github.com>, wrote:

[2016-04-29 13:53] ghmj2417 commented on #81
Does this include the use of being able to use pkey?  I need to present a private key to my network device, rather than a password.  I can't find a way to do it with this implementation.

[2016-04-29 16:30] ktbyers commented on #159
@calvinchristopher I will probably try to integrate telnet support into Netmiko. Not sure when as fairly big project. I will post on this thread when for additional people to test.

[2016-04-29 16:33] ktbyers commented on #81
@ghmj2417 No the above is referring to standard public key / private key authentication.

[2016-04-29 16:49] ktbyers opened #198 "Palo Alto Driver Extra Delays Required"
@GGabriele FYI, I removed the extra delay_factor in the unit tests and the extra sleep times. The send_command_expect shouldn't need this.

This makes me believe there is a different issue (i.e. something is not working correctly with send_command_expect on the PA device).

What issue do you see when you run the unit tests without these extra delays?

[code]

[2016-04-29 18:22] ghmj2417 commented on #81
Thank you for the response.  I apologize ahead of time if this is not the right place to bring up my concern.  I'm in a situation where I have to use private key(s) to authenticate to network devices.  I believe I have discovered what is wrong and the path to fix it.  The path might need to be altered a bit because I am not a developer.  I need to be able to specify key_file/key_filename but the p

[2016-04-29 19:00] GGabriele commented on #198
Uhmm that's right, it's odd. This is the complete output from send_command_expect

    gabriele@gabriele:~/netmiko/tests$ py.test -v test_netmiko_show.py --test_device paloalto_panos
    ============================================================= test session starts =============================================================
    platform linux2 -- Python 2.7.6 -- pytest-2.5.1 -- /usr/bin/pytho

[2016-04-29 20:20] ktbyers commented on #81
@ghmj2417 So you are trying to SCP files to network device and use SSH keys?

[2016-04-29 20:37] ghmj2417 commented on #81
Yes. Instead of using a password, my private key is used to authenticate the SSH session.

Sent from my iPhone

[2016-04-29 21:36] ktbyers commented on #81
Yes, but you are looking to do secure copy not just SSH interacting with CLI?

[2016-04-30 00:53] ghmj2417 commented on #81
Yes, that is correct.

Sent from my iPhone

[2016-05-01 06:05] sivabudh commented on #159
@ktbyers, my project requires telnet support. I'm actually looking into adding telnet into Netmiko right now.

[2016-05-01 16:10] ktbyers commented on #81
Yes, your suggestion above sounds like the right direction to implement this. I might look at this in a ~week; I won't get to it before then.

[2016-05-02 16:12] sivabudh commented on #159
@ktbyers, this is a very preliminary work.

https://github.com/sivabudh/python-telnet/blob/master/main.py

I'm testing with a Huawei S2300 right now.

[2016-05-03 05:13] vinkp commented on #195
Hi Kirk,
Sorry for the delay.. I was trying to send some basic standard access list change into the IOS switches. The script is working fine with Netmiko 0.3.4 version though, So I've completed the task with older version.

I had used Python 2.7 in Debian importing netmiko 0.4.3
Only this "send_config_set" function failed. Didn't get a chance to re create the issue again. I'll try to test it again

[2016-05-03 20:46] lowescott opened #199 "Unable to connect to ASA 5505"
I'm currently unable to connect to an ASA 5505 running version 8.2(1). Here's the Python code I'm using:

[code]

I'm running this on a Debian 8 ("Jessie") system with Python 2.7.9 inside a virtualenv. Inside the virtualenv, I installed netmiko using `pip install netmiko`.

Here's the output of the script when `device_type` is set to `cisco_asa`:

[code]

If I change the `device_type` to `cisco_io

[2016-05-03 21:50] ktbyers commented on #199
@lowescott Add a secret arguments to your dictionary.

[code]

ASA needs to go into enable mode to really do anything so part of the connection assumes you go into enable mode.

Let me know if this fixes it or not.

[2016-05-04 00:32] ghmj2417 commented on #81
Sounds good. Thank you for taking care of this.

Sent from my iPhone

[2016-05-04 01:10] lowescott commented on #199
@ktbyers That did it. I modified the code to look like this:

[code]

It now works as expected. Thanks for the rapid response!

[2016-05-04 15:31] ktbyers commented on #199
Improve error message on failed entry into enable() mode. Make this self-evident that secret is messing.

[2016-05-04 15:31] ktbyers opened #200 "Improve error message on failed entry into enable() mode."
Make this self-evident that secret is messing.

[2016-05-04 15:32] ktbyers commented on #199
https://github.com/ktbyers/netmiko/issues/200

[2016-05-04 15:32] #199 closed

[2016-05-04 18:32] ktbyers opened #201 "Increase send_command default delay to ~2 seconds"

[2016-05-04 18:43] ktbyers commented on #198
@GGabriele So from the above I think what we need to do is write a small Netmiko script that does the following:

[code]

Change 'device' values to match your device?

What does the above output show?

Kirk

[2016-05-04 18:54] GGabriele commented on #198
Nothing!

I start receiving the output if I include `delay_factor=2`

[2016-05-04 19:46] ktbyers commented on #198
@GGabriele

What if you change it to do the following:

[code]

[2016-05-04 19:56] GGabriele commented on #198
Here it is:

    ntc@pa1>

    ntc@pa1>

    ntc@pa1>

But if I add the previous send:

    operational-mode: normal         # this is the last expected line from the output

    ntc@pa1>

    ntc@pa1>

[2016-05-04 20:00] ktbyers commented on #198
@GGabriele Okay, in send_command_expect code can you toggle the

[code]

and then re-run the original test.

[code]

[2016-05-05 11:15] GGabriele commented on #198
That's what I see coming:

    Command is: show system info

    Search to stop receiving data is: 'ntc\@pa1\>'

[2016-05-05 17:42] petermoorey commented on #66
I'm also getting socket closed when connecting over higher latency links 250ms.  This is remediated by modifying the delay factor.  WLCs are running 8.1.131.0, 8.0.131.0 and 7.6.130.0.  Netmiko version 0.4.3.

Traceback (most recent call last):
  File "wlc-capture.py", line 60, in <module>
    net_connect = ConnectHandler(device_type='cisco_wlc', ip=ip, username=usr, password=pwd)
  File "C:\Pytho

[2016-05-05 19:04] ktbyers commented on #198
@GGabriele So there is this loop in send_command_expect in base_connection.py

[code]

Line 432 - 451.

Can you add a print statement write after the output is received back:

[code]

Also can you print something out if the pattern is detected:

[code]

Let me know what you see.

[2016-05-05 19:20] ktbyers commented on #66
I wonder if we just increase the delay whether it all gets better.

Can someone test changing line 35 in ./netmiko/netmiko/cisco/cisco_wlc_ssh.py

[code]

[2016-05-05 19:59] petermoorey commented on #66
Changing line 35 to '1' results in success for a the WLC 250ms away, login is consistent and configuration capture works.

For a WLC 650ms away (satellite link) the capture fails, I found that changing the base delay factor (line 13) from '.5' to '1' results in success every time.  Maybe we don't care too much about this scenario, it's niche...

Thanks,
Pete.

[2016-05-05 20:31] ktbyers commented on #66
@petermoorey Okay, I pushed a commit up to the master branch

https://github.com/ktbyers/netmiko/commit/a62ea88fe24d9a3d0cc317483079d4ac42b623be

Can you test if this fixes the issue for you (in both case 250mS delay and 650mS delay).

Also let me know if it is really slow to login.

[2016-05-05 21:56] GGabriele commented on #198
Hey @ktbyers, this is what is printed out:

    Command is: show system info

    Search to stop receiving data is: 'ntc\@pa1\>'
    ntc@pa1>
    Found search pattern: ntc@pa1>

[2016-05-05 22:41] ktbyers commented on #198
@GGabriele Okay, well that is progress anyways...so for some reason the router prompt is already there.

[2016-05-06 03:26] ktbyers commented on #195
@vinkp Yes, please post your code if you can (minus passwords anything else that is confidential). What type of IOS switches were they?

Also I would be interested in seeing the error.

This will help me improve the quality of the newer release.

[2016-05-06 03:30] ktbyers commented on #198
@GGabriele Line 424-426 of the code has the following (in send_command_expect method).

[code]

What if you change that time.sleep to time.sleep(2)? Does that fix the problem?

[2016-05-06 07:15] GGabriele commented on #198
@ktbyers that additional sleep doesn't fix the problem, but changing another one does (line 450).

    while i <= max_loops:
                if self.remote_conn.recv_ready():
                    output += self.remote_conn.recv(MAX_BUFFER).decode('utf-8', 'ignore')
                    try:
                        lines = output.split("\n")
                        first_line = lines[0]

[2016-05-06 16:21] ktbyers commented on #198
@GGabriele Okay, I pushed the above fix to master.

Can you test it out and see if that fixes the issue and all of PA unit tests now pass without modification (i.e. extra delays)?

Is this a virtual device?

[2016-05-06 17:57] GGabriele commented on #198
Theeeere we go :)

    gabriele@gabriele:~/netmiko/tests$ py.test -v test_netmiko_show.py --test_device paloalto_panos
    ============================================================= test session starts =============================================================
    platform linux2 -- Python 2.7.6 -- pytest-2.5.1 -- /usr/bin/python
    collected 11 items

    test_netmiko_show.py:25: test_disa

[2016-05-06 18:00] ktbyers commented on #198
Yes, virtual devices are frequently meaningfully slower...

Nice!

[2016-05-06 18:00] #198 closed

[2016-05-06 18:04] GGabriele commented on #198
Thanks for finding the time to go through this :)

[2016-05-06 22:00] ktbyers commented on #66
@mahabs @tima-fey Either of you willing to test this fix. Just need to clone from the master branch in GitHub.

Let me know if it fixes your issue or not.

[2016-05-07 00:08] petermoorey commented on #66
Hi, I can test it in a couple of weeks, I just left for vacation...

Pete

[2016-05-07 00:27] ktbyers commented on #66
@petermoorey No problem...

[2016-05-08 01:47] ktbyers opened #202 "Implement .netmiko.cfg yaml file loader."

[2016-05-09 13:24] fefa2k opened #203 "Request: HP Procurve send_command strips lines after the 80th character"
We have some lengthy lines on our running configuration files and when a line gets over 80 characters a "\n" is inserted. The good thing is that if a word is in between is not cut in half but the new line is inserted just before.

Could this be fixed so it could support a length of 110 characters? I noticed that fortinet uses a width of 100 chars but it has it's own class, I don't know how much wo

[2016-05-09 15:56] ktbyers commented on #203
@fefa2k You could try it. I don't really like the Fortinet solution, but I am not sure that we have a better one.

hp_procurve also has its own class already. It is in ./netmiko/hp/hp_procurve_ssh.py

Kirk

[2016-05-10 13:42] fefa2k commented on #203
I just added the following code to the hp_procurve_ssh.py and it did the trick:

[code]

But it's still not a proper solution. What I was thinking was the possibility to add an extra character when a line is wrapped, a weird character like § then parse the output and remove the new line + § characters. What do you think?

[2016-05-10 14:23] ktbyers commented on #203
@fefa2k How would you know when to add the special character and how would you add it?

If you know the line is wrapped, couldn't you just remove the newline and make it be not wrapped?

[2016-05-10 19:49] calvinchristopher opened #204 "Need a super-cute mascot"
Netmiko is great, but we need a super-cute mascot before we can take this project mainstream.

[2016-05-10 21:20] lundybernard commented on #172
I am also having this issue, attempting to connect through a proxy to a cisco device.
every once in a while, it will work successfully, but it usually fails.

I have the proxy server set up with SSH keys, it may be of note that it throws one of those "WARNING - This device is the property of..." banners, before forwarding to the device.
the device its self just gives a password: prompt, and I am a

[2016-05-11 04:07] ktbyers commented on #204
@calvinchristopher Submit a PR :-)

[2016-05-11 09:15] fefa2k commented on #203
Hey @ktbyers, I know the line is wrapped after reading the output, some words get cut in half and that is very hard to automate. What I meant is when the wrapping takes place (I don't know where, maybe inside Paramiko?), when it adds the extra \n it could also add an extra character so I know the line has been indeed wrapped.

[2016-05-11 10:52] fefa2k commented on #203
The width can be modified on the fly with:
'''ssh_object.remote_conn.resize_pty(width=x)'''

 So I will probably just go with the fixed length solution. Thanks Kirk.

[2016-05-11 10:52] #203 closed

[2016-05-11 16:02] ktbyers commented on #203
Okay, nice to know.

@fefa2k FYI, it is highly likely that it is the ProCurve that is adding the newlines. Basically, the ProCurve is trying to make the output more readable as they are expecting a person (not a program).

[2016-05-11 18:24] lundybernard commented on #172
Still working on this issue.  I switched over to python3.5, which gives a bit more info in the stack trace(below):

It looks like, ultimately the error is coming from paramiko's packet.py Packetizer._read_timeout() method.  but I dont think that the actual timeout is the problem.
I raised the timeouts in _check_banner() to ridiculous levels:
[code]
and I still get the same error (after a long dela

[2016-05-11 22:57] ktbyers commented on #172
@lundybernard What type of Cisco device is it?

Does it fix it if you make the delay longer (using the below fix in transport.py). Try making it be 1/2 a second?

[code]

[2016-05-12 04:47] ktbyers opened #205 "ios virtual device on dir does not display bytes available"
[code]

Causes issue when using NAPALM and trying to SCP file.

[2016-05-12 08:26] fefa2k commented on #203
Yes, you are totally right, it doesn't make sense that paramiko/netmiko does the wrapping, it just delivers the switch output, which had previously arranged the window size on the session establishment. Thanks again

[2016-05-13 03:03] ktbyers opened #206 "Juniper disable complete-on-space"
set cli complete-on-space off
Disabling complete-on-space

[2016-05-13 20:24] ktbyers opened #207 "Juniper send_config_set and send_config_from_file"
These both exit config mode and then re-enter config_mode for a commit.

[2016-05-14 00:10] jjuu opened #208 "AttributeError: 'super' object has no attribute 'config_mode'"
**My codes:**
[code]

**Error**
File "C:\Python27\lib\site-packages\netmiko\ssh_connection.py", line 27, in config_mode     return super(SSHConnection, self).config_mode(config_command=config_command) AttributeError: 'super' object has no attribute 'config_mode'

Python 2.7.6
The netmiko version is 0.4.3

It's very strange.

[2016-05-14 01:23] ktbyers commented on #208
@jjuu Can you repost your code and use \`\`\` so that the markdown doesn't mess up the code:

[code]

[2016-05-14 04:08] jjuu commented on #208
Sorry, I re-edit my code. Please take a look.

[2016-05-14 04:27] ktbyers commented on #208
@jjuu Your references to 'self' above are an error:

Try the following:
[code]

[2016-05-14 05:38] jjuu commented on #208
Well, sorry. These are three pieces of code. I have the code, but I cannot debug.

[2016-05-14 16:31] ktbyers commented on #208
@jjuu I didn't under stand your statement above?

[2016-05-15 21:01] 2marshall commented on #172
Which location should I be modifying this transport.py file from?

I'm guessing it's this file?

/usr/share/pyshared/paramiko/transport.py

I created a new transport.py.new file and threw in the code you were showing here into the transport.py.new file, ran the diff command but didn't notice a difference.

486,487d485
<         # delay starting thread for SSH proxies
<         event.wait(0.2)

I'm

[2016-05-16 17:33] lundybernard commented on #172
Still trying to get this working.
@2marshall, I think I finally deciphered the DIFF and got it working
diff looks like this:
[code]
which means you need to change this code around like 486 to look like this:
[code]
Note that the extra event.wait goes BEFORE self.start(), that was throwing me off.
I had to increase the wait time to a full 3 seconds for it to work reliably on my test device (still n

[2016-05-16 19:14] lundybernard commented on #172
@ktbyers
Device types i've tried so far:
    CISCO3945-CHASSIS (revision 1.0)  # 3 of these

after I got your patch in the correct location, I tried a few wait settings.  < 2 fails, 5 works
I settled on 3 for now.

I can put together some more extensive testing if need be.  let me know if there are any particular device types that you need me to run against, as I can probably find them on my netwo

[2016-05-16 19:18] 2marshall commented on #172
I had issues with an ASA on 8.4 code and a VXR 7206.

Jesse Shumaker
IT Professional
A+ Net+ CCNA
480.862.5579
On May 16, 2016 12:15 PM, "Lundy Bernard" <notifications@github.com> wrote:

[2016-05-16 20:23] lundybernard commented on #172
Note:
connecting to the ASR1006 failed with this error when I attempted to connect to it through an un-keyed proxy.
netmiko kindly asks for my password for the proxy, then asks for confirmation to connect to the unrecognized host (I thought it ignored key checking by default), then it fails.
Keying the proxy fixed the problem.

[2016-05-17 14:29] 2marshall commented on #172
hmm... that wait didn't' seem to matter.

can you just send me your transport.py file? also what version of paramiko do you have loaded?

jesseshumaker@gmail.com

[2016-05-17 14:32] 2marshall commented on #172
I just keep getting this

Traceback (most recent call last):
  File "config_download_asa.py", line 57, in <module>
    ssh_conn_setup.connect(nodeip, username=username, password=enablepass, look_for_keys=False, allow_agent=False)
  File "/usr/local/lib/python2.7/dist-packages/paramiko/client.py", line 251, in connect
    retry_on_signal(lambda: sock.connect(addr))
  File "/usr/local/lib/python2.7/

[2016-05-17 16:09] ktbyers commented on #172
@2marshall At the time I was testing this I was using Paramiko 1.16.0. I haven't regression tested it with Paramiko 2.0.

Your above error looks to be unrelated to this problem. That looks like a connection error? Are you able to connect correctly when not using an SSH proxy?

@lundybernard So it seems like you were observing the same thing that I observed? i.e. that adding a delay generally fixed

[2016-05-17 17:45] 2marshall commented on #172
Kirk,

Yes I can connect just fine when not using the ssh proxy. it works perfectly when just typing ssh [ip address]. the connection jumps from the jumphost to the ASA firewall. I have this same error on both this 5585 ASA and a VXR 7006.

looks like I'm paramiko 1.5.1. could this be the issue?

[2016-05-17 17:55] ktbyers opened #209 "Need a way to artificially introduce latency into unit tests."

[2016-05-17 17:58] calvinchristopher commented on #209
Cisco VIRL provides offers the ability to introduce latency and packet loss; we use this to emulate VSAT connections

[2016-05-17 17:59] ktbyers commented on #172
@2marshall I don't know if that is the cause of the difference, but you definitely need to test on either Paramiko 1.16.0 or Paramiko 2.0.0.

Probably should be testing on Paramiko 2.0.0 as this is most likely a Paramiko issue (and should be using most recent code).

[2016-05-17 20:04] ktbyers opened #210 "Cisco IOS config mode abbreviates prompt to 20 characters"
Causes pattern search on prompt to fail.

[2016-05-17 23:27] lundybernard commented on #172
@ktbyers Yes, it looks like I'm seeing the same problem you described, and your fix worked, although I had to use a significantly longer timeout (this network is known to be fairly laggy, so its not surprising)

[2016-05-17 23:47] ktbyers commented on #172
@lundybernard Okay, thanks.

[2016-05-18 03:24] #208 closed

[2016-05-18 16:01] ktbyers commented on #210
Fixed...

[2016-05-18 16:01] #210 closed

[2016-05-18 19:28] ktbyers opened #211 "hpe comware7 is not working"
Also add the following names:

hpe_procurve
hpe_comware5
hpe_comware7

[2016-05-18 20:07] wmann commented on #211
So far I have not seen any major problems with Comware 7. I'm using netmiko scripts with Comware 5 and 7. The only thing which I have noticed, is that it is not working with operator rights as it looks like that screen-length disable doesn't work with operator rights.

[2016-05-18 20:15] ktbyers commented on #211
@wmann Strange, I just tried to run a script against Comware7 and it crashed trying to determine the prompt.

I will have to look into it some more...

[2016-05-19 12:17] TonyWoo opened #212 "Timed-out reading channel, data n ot available."
We use the netmiko with our Cisco C1900 router. We found it works some time, but not always, when I open enable() it show time timed-out sometime. Please see below detailed error message.

Anyone can help me? Thanks in advance.

Traceback (most recent call last):
  File "C:\Users\130375382\Desktop\python-network-tool (1)\console\server_connec
t.py", line 58, in copy_current_config
    self.net_con

[2016-05-19 14:31] TonyWoo commented on #212
It also show "failed to enter the configuration mode" some time. we're very confused, why it work some time, but then doesn't work? Really need your help:)

[2016-05-19 15:52] ktbyers commented on #212
@TonyWoo Use the latest code (clone from master branch in GitHub).

Turn on debugging in this method:

[code]

See if that gives us some more clues.

[2016-05-19 19:42] ktbyers opened #213 "Need to add IPv6 support for connections."

[2016-05-20 03:12] TonyWoo commented on #212
@ktbyers Thanks for your response. I just downloaded the latest code and set the debug = true, pleas see below error message. Thanks.

File "C:\Users\130375382\Desktop\python-network-tool\console\server_connect.py
", line 58, in copy_current_config
    self.net_connect.enable()
  File "C:\Users\130375382\Desktop\python-network-tool\netmiko\ssh_connection.py
", line 15, in enable
    return super(S

[2016-05-20 03:58] 2marshall commented on #172
hmm same issues for me on version 1.16. I wonder if it's a security mechanism of the ASA because I'm proxying through another host so the source of the packet is being manipulated.

Do you guys think that if I just setup a paramiko session to the jumphost and than did another nested paramiko session within, if that would allow me communication to these remote devices? I'm debating trying this but

[2016-05-20 15:42] sivabudh commented on #159
@ktbyers, I'm done with my telnet script that can communicate with Huawei now.

The code is still in the same place.
https://github.com/sivabudh/python-telnet/blob/master/main.py

I studied your code, and made a more or less a stripped-down version of what you had.

Basically, my script can send commands to Huawei S2300 via Telnet with some minor features:
1. It handles detecting invalid login att

[2016-05-20 16:01] wellspokenman opened #214 "Embedded AP support"
EDIT: better error handling EDIT2: disconnect syntax wasn't quite right
Would be nice to have an extension to the ssh Connection Object that added 'enterAP' and 'exitAP' methods. The commands included below work as imperative functions, but I haven't made a proper class extension. Important to clear any existing sessions to get a predictable prompt. Also important to have an extra carriage return

[2016-05-20 16:24] ktbyers commented on #172
@2marshall  What do you mean by a nested Paramiko session?

[2016-05-20 18:23] 2marshall commented on #172
I would login via to the jumpbox with the first Paramiko session and then create a for loop within that session that would start another paramiko session for each node I need to connect to and execute the needed commands within.

[2016-05-20 18:29] wmann commented on #211
Tested again with netmiko 0.4.3 and 0.5.1 both running under Windows 8.1 with python 2.7.11 and I don't see any problems. Switch is a 5510 HI running HPE Comware Software, Version 7.1.045, Release 1118P02

[2016-05-20 18:33] ktbyers commented on #172
@2marshall I don't think that will work (you will end up creating a SSH session from the origin box).

You would have to have Paramiko and Netmiko installed on the jumpbox. You could then use Paramiko to fire off a script on the jumpbox...but usually this is a security issue/not allowed on the jumpbox.

[2016-05-20 20:22] 2marshall commented on #172
Hmm.. I gotta figure out howto get this ssh proxy working than. upgraded to 1.16 the same version you had used and made the event.wait(3) changes but still get his error:

Traceback (most recent call last):
  File "config_download_asa.py", line 57, in <module>
    ssh_conn_setup.connect(nodeip, username=username, password=enablepass, look_for_keys=False, allow_agent=False)
  File "/usr/local/lib/p

[2016-05-20 20:27] ktbyers commented on #172
@2marshall That looks more like an unable to connect SSH message. Is the jumphost allowed to SSH into the relevant network devices (via ACLs)?

[2016-05-21 08:41] 2marshall commented on #172
The Firewall I can't connect to has the IP 192.168.41.1. I can just do ssh username@192.168.41.1 and I get a password prompt from that firewall. So I know the ProxyCommand is working fine and there's connectivity. It's something with how paramiko is handling this. Here is the config

host jumphost-company     # AZNOC Jumphost
  user jshumaker
  hostname 10.15.6.29
  port 22

host 192.168.41.1

[2016-05-21 15:32] ktbyers commented on #172
@2marshall Can you post your Netmiko code (stripped of any confidential information).

[2016-05-22 17:00] 2marshall commented on #172
@ktbyers

Here's the code. I'm just using paramiko until I can get the connections established to all nodes successfully. Once that is complete I'll re-work the code with netmiko. Thanks Kirk

[code]

[2016-05-23 17:31] ktbyers commented on #172
@2marshall

[code]

It looks like you have issues with your Paramiko code. I don't think your issue pertains to the above SSH Proxy banner issue.

A couple of things I see (on quick glance)...you aren't passing in an ssh config file (so Paramiko won't even use ~/.ssh/config). Your TFTP will probably be problematic. I would get rid of that while troubleshooting the issue.

You should first start wi

[2016-05-24 13:03] baileytj3 opened #216 "Entering config mode with long hostname fails."
I was unsure whether this was related to #212. When entering config mode with an exceptionally long hostname on a Cisco switch, the switch truncates the prompt and appends the '(config)' text. This causes the following stack trace when config_mode() is called.
[code]
Prompt as seen from manual ssh session to the switch.
[code]
The prompt changes and the original prompt is never found. I would susp

[2016-05-24 13:58] baileytj3 commented on #216
I'm sure you can come up with a more elegant solution but this is what I cooked up being unfamiliar with most of the code base. This issue also presents itself in config_mode_exit().
[code]

[2016-05-24 15:49] ktbyers commented on #216
@baileytj3 This should be fixed in this issue https://github.com/ktbyers/netmiko/issues/210

What version of Netmiko are you using? Make sure you are using Netmiko >=0.5.1

If you are still having this issue just re-open this.

[2016-05-24 15:49] #216 closed

[2016-05-24 16:38] baileytj3 commented on #216
Ah, thanks. I looked through open Bugs but not closed ones. I was on 0.4.3, I'll upgrade and see if I have any issues. Thanks!

[2016-05-24 22:00] ktbyers opened #217 "Test environment"
send_command and 'show version' with Arista vEOS fails (empty output).

[2016-05-24 23:01] 2marshall commented on #172
Kirk,

Thanks for your continued guidance.

In comment to this

"A couple of things I see (on quick glance)...you aren't passing in an ssh config file (so Paramiko won't even use ~/.ssh/config). Your TFTP will probably be problematic. I would get rid of that while troubleshooting the issue."

From the asa-hosts file above If I remove the 192.168.41.1 IP leaving only 10.3.1.1 the script works great

[2016-05-25 03:29] ktbyers commented on #172
@2marshall

[code]

Yes, you are probably just SSHing directly to the 10.3.1.1 device. You are probably not using SSH proxy.

[code]

You are probably correct that your SSH proxy is working from the CLI, but the above doesn't tell you that. You also have to verify that you are going through the intermediate box in some way (like by looking at your netstat connections). Although maybe you know that

[2016-05-25 04:30] 2marshall commented on #172
Yep paramiko isn't using the ssh config. I just verified this. Ugh. here I based all my testing off a theory I had of my own which I thought I had proven.

We can close out this ticket I'll work on rewriting  things in netmiko with reference to the ssh config file.

thanks Kirk for your direction. always helpful :) I'll get around to taking your python automation class one of these day as well. I'

[2016-05-25 07:38] fefa2k opened #218 "Ansi escape codes not being escaped on send_config_set"
On base_connection.py, the send_command function outputs no ansi escape codes but send_config_set does. I checked the code and I think these lines are missing on the send_config_set. After adding them it worked properly but I only managed to test it on HP ProCurve switches.

[code]

The whole function would be like this:

[code]

Could you please look into it? Thanks!

[2016-05-25 16:42] ktbyers commented on #218
@fefa2k Yeah that is a bug. Please submit a PR on it.

In the interim you can just manually call the strip_ansi_escape_codes method.

[2016-05-25 16:48] ktbyers commented on #172
@2marshall :-)

Yes, I will keep this issue open as the original issue still exists.

You can see this method in Netmiko's base_connection.py file to see what we did for the ssh config file handling:

[code]

Have a good time at Cisco Live.

Kirk

[2016-05-26 14:51] abaldan commented on #214
Hello,

I'm working on something similar, hence posting here.

I'd like to connect to a service-module installed on a router with the command "service-module gigabitEthernet 1/0 session" from the router console. I'm using something like this:

    user_nl = 'username\n'
    pw_nl = 'password\n'

    ssh_connect = ConnectHandler(**host_obj)
    sm_session_clr = 'service-module gigabitEthernet 1/0 s

[2016-05-27 17:59] chrislrobson opened #220 "Pushing "show running formal" to a XRv"
Test command string is: "rd-set 1111:22222\n"
netmike method used is:
received_data = \
              ssh_handle.send_command_expect( cmd_data.split( '\n' )[0],
                                              delay_factor=delaycnt,
                                              max_loops=240,
                                              strip_prompt=True,

[2016-05-27 22:01] ktbyers commented on #220
Chris,

What do you get for an error message when you try to do this?

Kirk

On Fri, May 27, 2016 at 10:59 AM, chrislrobson <notifications@github.com>
wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2016-05-27 22:36] ktbyers commented on #214
@abaldan On the face of it, I am not seeing why that is failing. Let me get back to you on some additional debugging to do.

Kirk

[2016-05-28 11:20] chrislrobson commented on #220
The problem is with the return prompt pattern.

There are at least two times the pattern is not what is expected when
uploading line-by-line configurations into a Cisco box.

One fix, well not really a fix but configuration, but the other return
pattern is a bit more challenging.

First when a command places the system into a subsystem, for example
issuing "mpls oam", this puts the system in the M

[2016-05-28 14:50] ktbyers commented on #220
@chrislrobson If you are sending config commands you should be using the send_config_set() or send_config_from_file() methods. The subcontext issue, for example '(config-if)#' should not be an issue.

The banner command is probably a bit tricky, but can probably do this with send_config_set().

send_command_expect() could also possibly be made to work, but you might have to feed in an alternate te

[2016-05-28 18:34] chrislrobson commented on #220
I'll give the send_config_set a try.

As you indicate, I did get the send_command_expect to work by simply
setting the max-loop count down very low so delay was minimized and pass
through the prompt string exception.  By doing this neither the changed
prompt or banner upload cause problems. In fact, using a normal "show
running-config" reports file is usable as a config upload file.  This
has turn

[2016-06-02 21:14] selfuryon opened #221 "Lack of searching pattern with base prompt"
In this code pattern is not good for searching
[code]
It's bad because we have only base prompt without prompt terminator in output of some commands like ```show version``` and ```show run```. Maybe use as example for cisco pattern like ```"{0}\(?[\w-]*\)?[{1}|{2}]".format(self.base_prompt,self.pri_prompt_terminator,self.alt_prompt_terminator)```

[2016-06-02 22:12] ktbyers commented on #221
@selfuryon Use send_command_expect() method for 'show version' and 'show run'.

Either send_command() or send_command_expect() are the general way to execute 'show commands' for Netmiko. read_until_pattern and read_until_prompt are usually used internally and are lower-level.

You can provide a pattern by adding the pattern argument so if you have a case that is not working for you then provide th

[2016-06-02 22:15] ktbyers commented on #221
@selfuryon Note, you can also obtain the current prompt using the find_prompt() method so you can use the current prompt if you want by passing this as the 'pattern'. It will just be slower.

[2016-06-02 22:15] #221 closed

[2016-06-04 14:15] brutus333 commented on #141
One idea may be to monkey patch invoke_shell in the disable_paging method if we need to apply the terminal workaround.

[2016-06-06 01:07] ktbyers commented on #211
I had someone report the following on Comware7:

[code]

[2016-06-06 06:26] wmann commented on #211
Which switch and which Comware version? If you provide me with the script I will test it against my Comware 7 switches

[2016-06-06 22:57] ktbyers commented on #211
@wmann It was failing to connect (basically where the script tries to determine the prompt after login). I am asking about the switch and comware version.

[2016-06-09 12:58] wmann commented on #211
I have seen this error today at one of our switches in the Lab. Switches were configured for radius login while the radius server were not reachable. After disabling radius login it works. So it seems to be a timing issue. I currently use 'global_delay_factor': 5, I also tried 10 but it still didn't work.

[2016-06-10 17:00] ktbyers commented on #66
From @petermoorey

[code]

[2016-06-10 18:10] ktbyers commented on #211
I made an update to set_base_prompt() for comware7. I need to test this as I temporarily have lost access to my comware7 test device.

059cf548c2a2c92b469c6926c471c91c935c9ea7

[2016-06-10 18:41] ktbyers commented on #66
Pushed this change which I hope improves this:

https://github.com/ktbyers/netmiko/commit/770cadcd091050a058c20a6295bf251166588d7a

[2016-06-10 18:45] ktbyers commented on #220
@chrislrobson Did send_config_set() work for this?

[2016-06-10 18:47] ktbyers commented on #214
@abaldan Are you still having this issue?

[2016-06-10 18:49] ktbyers commented on #214
I think we should probably add a special method into cisco ios to handle this service module login process.

[2016-06-10 19:19] ktbyers commented on #218
Should be fixed now.

[2016-06-10 19:19] #218 closed

[2016-06-10 21:08] chrislrobson commented on #220
Well not really, since the banner would still be an issue, opted to keep
my workaround of setting the repeat and delay counters low.  This is
acceptable and seems to work consistently.

If I can get some time, I'll give config_set a try just to test it out.

Thanks

Chris

On 6/10/16 2:45 PM, Kirk Byers wrote:

[2016-06-10 21:56] #220 closed

[2016-06-10 22:00] wmann commented on #211
If you provide me with the tests I can run them

[2016-06-10 22:45] ktbyers commented on #211
@wmann I got access to a Comware7 device so I started testing it.

[2016-06-11 04:48] ktbyers commented on #205
From Daniel Dib:

[code]

[2016-06-13 12:38] lamehost commented on #159
+1 for telnet support

[2016-06-14 21:32] lundybernard opened #223 "send_command returns incomplete output"
ex:
[code]
returns:

but the full output should be:

I tried a bit of a hack-around like so:
[code]
which returns:

with the prompt at the end.

Is there a better way to collect all of the output from send_command before it returns, or is using a read_until method the correct solution?
I guess i'm also a bit confused because "show version" returned a big multi-line block of output without any trou

[2016-06-14 22:19] ktbyers commented on #223
Use

[code]

This is the preferred solution. I will probably convert send_command to be send_command_expect() in a future release (and retain send_command_expect so as not to break code that uses it). I will probably rename the current send_command, send_command_timing (or something similar).

[2016-06-14 22:20] ktbyers commented on #223
@lundybernard The problem is with commands that are slow to respond or give some data and then delay. For these type of commands send_command_expect is a better method.

[2016-06-15 17:20] lundybernard commented on #223
@ktbyers thanks! send_command_expect() took care of the problem, and its now working as expected.

Mind if I add that to the examples in README.md?

[2016-06-15 17:41] ktbyers commented on #223
Sure.

Kirk

On Wed, Jun 15, 2016 at 10:20 AM, Lundy Bernard <notifications@github.com>
wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2016-06-16 05:34] slieberth opened #225 "is there demand for a yaml runbook wrapper, which automates netmiko command calls?"
Hi Kirk,

first of all, many thanks for providing / maintaining netmiko - great tool ...
second, this is actually not an issue, but a question/post:

I am involved in test scenario, which I want to automate as much as possible. I use netmiko as I have to use ssh with(user/password) -  I think ansible or napalm do require ssh-keys, which is not an option in my test infrastructure.

I have developed

[2016-06-16 06:15] slieberth commented on #202
I am using a yaml config file for my runbook-wrapper. pls let me know if I can support you on this issue

[2016-06-16 16:14] lundybernard commented on #223
[README.md](https://github.com/ktbyers/netmiko/blob/master/README.md) has been updated to show this solution.
closing issue.

[2016-06-16 16:14] #223 closed

[2016-06-19 07:59] TheOtherGuy opened #228 "Handling exception when SSH is not enabled on Cisco devices."
My code:

	try:
	    net_connect = ConnectHandler(**cisco_1)
	except SSHException:
	    print('SSH is not enabled for this device.')
	    sys.exit()

When a Cisco device does not have SSH enabled, a `SSHException` exception will be thrown by `Paramiko` as shown in the stacktrace below.

    Exception: Error reading SSH protocol banner
    Traceback (most recent call last):
      File "C:\Users\Use

[2016-06-21 15:56] ghmj2417 commented on #81
Were you able to check into this?

[2016-06-22 16:15] ktbyers commented on #81
No, I haven't made time to look at this. I probably won't get to it for a while. I doubt I will look at this before August.

Feel free to submit a pull request on it, however.

[2016-06-22 18:01] TheOtherGuy commented on #228
@ktbyers , I tried catching the `EOFError` exception as well, but the end result is the same as if I only caught the `SSHException` exception.

	try:
		net_connect = ConnectHandler(**cisco_1)
	except (EOFEerror, SSHException):
		print('SSH is not enabled for this device.')
		sys.exit()

[2016-06-23 16:32] ktbyers commented on #228
You misspelled EOFError in your except statement.

except (EOFEerror, SSHException): # One too many 'Ee' >>>

Kirk

On Wed, Jun 22, 2016 at 11:01 AM, TheOtherGuy <notifications@github.com>
wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2016-06-23 17:41] TheOtherGuy commented on #228
Oops that was a typo on my part, my actual code has the correct spelling.

	try:
	    net_connect = ConnectHandler(**cisco_1)
	except (EOFError, SSHException):
	    print('SSH is not enabled for this device.')
	    sys.exit()

[2016-06-23 19:17] ktbyers commented on #228
@TheOtherGuy Can you show me the stack trace you get when using the above code?

[2016-06-24 12:15] TheOtherGuy commented on #228
Exception: Error reading SSH protocol banner
	Traceback (most recent call last):
	  File "C:\Users\UserAdm\AppData\Local\Programs\Python\Python35\lib\site-packages\paramiko\transport.py", line 1867, in _check_banner
	    buf = self.packetizer.readline(timeout)
	  File "C:\Users\UserAdm\AppData\Local\Programs\Python\Python35\lib\site-packages\paramiko\packet.py", line 327, in readline
	    buf += s

[2016-06-25 04:40] saadi381 opened #231 "cant send multiple commands"
hi ;
first i would like to thank you for great work you have done with netmiko . 2ndly i am a bit newbie for python and i am having dofficulties sending multiple commands
Below is the snippet

So the idea is to grab host names from
Hostfile.txt
router 1
router 2
router 3
commands.txt
sh run
sh ip int bri
sh invent

the problem is the below codes for each router runs

router 1
sh run
router 1
sh ru

[2016-06-27 03:18] saadi381 commented on #231
I found the issue ..thanks

[2016-06-27 03:18] #231 closed

[2016-06-28 17:56] glwgoes opened #232 "Truncated Output"
When I run the following code snippet:

net_conn = ConnectionHandler(**device_dict)
net_conn.enable()
output = net_conn.send_command("show run")

On a Cisco Catalyst 3750-X I get a truncated output, I only get the very first line:
"Building configuration..."

It looks like that netmiko is not waiting for the device to build its configuration. Is this a known behaviour, is there a way to fix this?

[2016-06-28 18:42] ktbyers commented on #232
@glwgoes Use send_command_expect("show run")

This works better for long-running commands.

I am working on improving this.

I would probably use send_command_expect() in general. This method will search for the trailing router prompt by default (to determine it is done). send_command() currently tries to do it based on timing which is problematic.

Kirk

[2016-06-29 10:41] TheOtherGuy commented on #228
@ktbyers , Apologies, are there any updates on this ? Cheers.

[2016-06-29 17:20] ktbyers commented on #228
@TheOtherGuy Here is what I see to SSH to an IP address that is not listening on SSH.

[code]

Here is how I handled the exception:

[code]

What happens when you:

[code]

What is the output you get back?

This is probably a bug in your code (i.e. not handling the exception correctly).

You will also need to post your full code stripped of any password/IP.

Kirk

[2016-07-01 10:46] stuh84 commented on #211
Hi Kurt,

Following up on this, I have script logging in to Comware devices which produces the following as the error: -

[code]

My guess is that because we have login banners, it's taking them as the base prompt.

Is it possible to manually define the base prompt as part of the ConnectHandler? I know what I expect to see as the base prompt, so it would get round the issue for now.

This doesn't

[2016-07-01 10:51] stuh84 commented on #211
To add to my previous comment, I bumped up the global delay factor and everything has kicked back into life, so I'm guessing it might be trying to grab the base prompt too quick?

Again, I wouldn't be surprised if this is down to us using quite large login banners and the time it takes to get through them.

[2016-07-02 20:55] ktbyers commented on #211
I have access to a Comware7 device so let me test it with a large banner and see if I can reproduce the behavior you are seeing and then improve it.

[2016-07-03 11:03] TheOtherGuy commented on #228
@ktbyers

This is my exact code which I use for testing:

	#! python3
	from netmiko import ConnectHandler
	from netmiko.ssh_exception import NetMikoTimeoutException

	def sshconn(user_ip, user_pwd, en_pwd, usrn):
	    cisco_1 = {'device_type': 'cisco_ios', 'ip': user_ip, 'password': user_pwd, 'secret': en_pwd, 'username': usrn}

	    net_connect = ConnectHandler(**cisco_1)

	try:
	    sshconn('192

[2016-07-04 08:04] stuh84 commented on #211
Thank you, if you need any testing or want me to check behaviour on our fleet of devices (we're a HP Comware house so have a variety to test with) then let me know.

Also a massive thank you for Netmiko, it's brilliant and making automating our network side a lot easier.

[2016-07-04 10:04] bms commented on #211
Would be good to add a fudge for the HPE 1920 at some stage.

[2016-07-05 16:35] ktbyers commented on #225
@slieberth Sorry for slow response.

[code]

This is incorrect, you can use passwords with both Ansible and NAPALM.

I have netmiko-grep which has a YAML file for storing device information (i.e. somewhat similar to an Ansible inventory). See this article:

https://pynet.twb-tech.com/blog/automation/netmiko-grep.html

I am probably going to add this as a feature to Netmiko. A lot of the code is al

[2016-07-05 16:42] ktbyers commented on #228
@TheOtherGuy This maybe should be in Netmiko, but you should be able to work around it pretty easily.

Something like the following:

[code]

If your code doesn't actually catch the exception, then there is very very likely something wrong with your exception handling code.

You could also do this, but it is not a very good practice in general.

[code]

Kirk

[2016-07-05 16:51] ktbyers commented on #211
@bms What is needed for the HPE 1920?

[2016-07-06 01:52] TheOtherGuy commented on #228
@ktbyers , I tried `except (EOFError, SSHException, NetMikoTimeoutException):` and `except:` , but both strangely results in the same set of error messages https://github.com/ktbyers/netmiko/issues/228#issuecomment-228330622.

Could it be due to the cisco device configuration ? I simply did a `transport input telnet` on `vty 0 15` to simulate a restriction of ssh connections.

[2016-07-06 14:20] ktbyers commented on #228
@TheOtherGuy No it is not a Cisco issue (at least as far as why you are unable to handle the exception). There could be a Cisco issue on why you can't login.

Can you post your entire code when using the bare 'except:' statement? You can remove passwords, but don't change any line numbers.

Also post the current exception you get while running that code.

[2016-07-06 14:39] TheOtherGuy commented on #228
@ktbyers

[This](http://pastebin.com/XLbqqSw2) is the list of exceptions I get under different circumstances as described in the comments in the code. The python script was executed in command prompt.

My entire code for the above test:

    #! python3
    import sys
    from netmiko import ConnectHandler
    from netmiko.ssh_exception import NetMikoTimeoutException
    from paramiko.ssh_exception

[2016-07-06 16:20] ktbyers commented on #228
@TheOtherGuy It looks like it is probably this issue:

https://github.com/paramiko/paramiko/issues/643

Basically a background thread is encountering an exception and printed out the exception message (which it sounds like it is hard to prevent the exception message). In the main thread the exception is handled (see the printing of 'ssh not enabled message').

So at a high level what are you tryin

[2016-07-06 16:57] TheOtherGuy commented on #228
@ktbyers The referenced issue is strikingly similar to what I have faced so far.

What I am trying to accomplish is to gracefully handle the scenario when SSH isn't enabled for the Cisco device. However, it seems like from what was said in the referenced issue, there doesn't seem to be a good way to gracefully handle the scenario without printing any tracebacks.

I guess I will try to work around

[2016-07-06 17:03] ktbyers commented on #228
@TheOtherGuy Yes, I think we can handle the exception, but perhaps not suppress the exception message. I assume the exception message is probably on standard error and not on standard output. Have you tried just redirecting standard error to a file?

[2016-07-07 14:31] caibitim opened #233 "can not get full configuration"
Hi,

I'm using send_command_expect trying to get the configuration for a Cisco like network switch from array network.  However, I can only get the first page of the config. it ends with <more>. After reading the source code for BaseSSHConnection class, I found it just calls paramiko to achieve the configuration and doesn't deal with more for every page. Do you know how is it implemented? Why Cisc

[2016-07-07 15:57] caibitim commented on #233
Sorry, I just found there is a function called disable_paging.

[2016-07-07 15:57] #233 closed

[2016-07-08 17:06] ktbyers commented on #211
@stuh84 FYI, I pushed up this fix the HP comware banner issue (https://github.com/ktbyers/netmiko/commit/5e436e61b508e70926e933ed64ee6f777df694b9).

Let me know if you are still seeing "Router Prompt not found" login issues. You should not need to adjust the global_delay_factor for this to work properly.

[2016-07-08 17:12] #225 closed

[2016-07-08 18:30] stuh84 commented on #211
Much appreciated! I'll give it a go when I'm back in work on Monday.

[2016-07-09 02:54] LindsayHill commented on #173
PR #234 submitted for ICX support

[2016-07-09 06:56] slieberth commented on #225
Hi Kirk,

thanks for the response and the advice on Ansible and NAPALM, will look
into that,

On my side I have customized my script for specific test-reporting
funtion to the environment of DT.
Fullfills my needs, but based on your response I do not take the effort
to generize this.

also thanks to ntc-ansible, interesting, will look into this.

tahnks & cheers

Stefan

Am 05.07.16 um 18:35 schri

[2016-07-09 16:26] ktbyers commented on #173
I am going to close this issue as we probably don't need this placeholder any longer.

[2016-07-09 16:26] #173 closed

[2016-07-11 07:43] stuh84 commented on #211
@ktbyers - Works perfectly now, I've taken out the global_delay_factor from my ConnectionHandler now and I didn't get a single failure. My script runs a LOT faster now too.

Thanks for fixing this!

[2016-07-11 18:36] #211 closed

[2016-07-14 19:12] vinitashah commented on #128
Hello guys,

Do you know if there is paramiko/netmiko support for Force10 S55 still? I can get it to work on FTOS 4810.

However, for S55, it is giving me logger transport issue.

[2016-07-14 19:56] ktbyers commented on #128
@vinitashah There are still issues with Force10 (either pertaining to Paramiko, or Force10-SSH code, or some combination thereof).

Can you post your code (minus the password / ip address) and the exception that you get?

[2016-07-14 20:03] pixelrebel commented on #128
@vinitashah The workaround I found was to setup ssh keys and provide both key and password to netmiko.  For some reason, it just works when you provide details for both login methods.

[2016-07-14 20:13] vinitashah commented on #128
This is paramiko. Really basic script. Just started to work on this.

import os, argparse, paramiko, time

hostip = raw_input("Please enter host IP: ")
username = 'xxxx'
password = 'xxxx'

# Create instance of SSHClient object
ssh = paramiko.SSHClient()
ssh.set_missing_host_key_policy(paramiko.AutoAddPolicy())
ssh.connect(hostip, username=username, password=password, look_for_keys=False, allow_age

[2016-07-14 20:15] vinitashah commented on #128
I get the same output when I use netmiko (interactive. It is not in a py file yet). Works on 4810, but not S55.

[2016-07-14 20:25] ktbyers commented on #128
@vinitashah

Yes, please post your Netmiko code and output (from a script not from interactive shell). Also please use the triple backtick to post code so it gets formatted correctly.

[2016-07-14 20:56] vinitashah commented on #128
'''
import os, argparse, paramiko, time
import logging
import netmiko

connection = netmiko.ConnectHandler(ip = 'x.x.x.x', device_type = 'dell_force10', username = 'xxxx', password = 'xxxx')
print(connection.send_command('show running | grep hostname'))
'''

Output from 4810
Vinitas-MacBook-Pro:extras vinitashah$ python test_ssh_dell_s4810.py
hostname BDR-R5-10G-B

Output from S55
No handlers coul

[2016-07-14 21:06] ktbyers commented on #128
@vinitashah Yes, that looks like possibly the same issue we ran into earlier. You could try @pixelrebel fix of using both SSH key + password.

Besides that we don't have a solution...I tried but never came up with one.

[2016-07-14 21:18] vinitashah commented on #128
Thanks for looking @ktbyers

@pixelrebel I am new to programming and python. Could you please explain how to ssh keys and provide both key and password to netmiko?

Sorry about the trouble.

[2016-07-14 21:25] adarshagowda opened #238 "how to give delay after executing the following command in NETMIKO"
from netmiko import ConnectHandler
import time
cisco_881 = {
    'device_type': 'cisco_ios',
    'ip':   '10.10.10.1',
    'username': 'user',
    'password': 'pwd',
}
net_connect = ConnectHandler(**cisco_881)

output = net_connect.send_command('show ip int brief')
output = net_connect.send_command('copy bootflash:my_config running-config\n')
print(output)

# AT THIS PLACE IT SHOWING Timed-out rea

[2016-07-14 21:31] pixelrebel commented on #128
@vinitashah I suppose it would look like something like this:

[code]

This assumes you have set up an ssh key pair and copied your public key to the switch.  I have only tested this workaround on 4810, hopefully it works for your s55.

[2016-07-14 21:33] ktbyers commented on #128
@vinitashah Not a problem...I wish we had a better solution...

[2016-07-14 21:43] ktbyers commented on #238
For your first one do this:

[code]

For the second one...that is probably failing because you are changing the 'hostname' which causes it to break (as it is looking for the trailing prompt).

Try, something like this:

[code]

Then remove the hostname from your config_commands and re-execute that as normal:

[code]

[2016-07-14 21:44] ktbyers commented on #238
Note, the above assumes that bootflash:my_config is not changing the hostname.

[2016-07-14 21:58] adarshagowda commented on #238
The bootflash:my_config has default config, and i need to load a new config with different host name.

[2016-07-14 22:07] ktbyers commented on #238
Okay, then

[code]

You might need to experiment with the delay_factor.

Note, NAPALM-ios which uses Netmiko might be a better solution for you. See https://pynet.twb-tech.com/blog/automation/napalm-ios.html

[2016-07-14 22:55] samirsss commented on #212
i've seen a similar issue with Brocade NOS devices and looks like its due to changes between 0.3.4 and 0.4.3.

We'll have to change line 186 from time.sleep(.1) to time.sleep(.5) for this to work and give enough delay to recognize that the device is ready.

Way to bypass this is to add a special_login_handler in your device class.

def special_login_handler(self, delay_factor=.5):
        '''

[2016-07-14 23:20] ktbyers commented on #212
@samirsss I don't think the above will fix the issue he is referencing since he is referring to an issue going into enable() not on login. Have you opened an issue on your above Brocade problem?

@TonyWoo Are you still having this issue?

[2016-07-14 23:21] #238 closed

[2016-07-14 23:26] samirsss commented on #212
@ktbyers we're in the process of testing this change and will be opening an issue soon. I've tried this fix for brocade nos devices and it seems to be working.

[2016-07-15 07:54] LindsayHill opened #239 "Brocade VDX login timing issues"
Various timing changes post 0.3.4 seem to have affected login to Brocade VDX, resulting in output like this:
[code]

@samirsss has run tests with a few different versions, and found that it worked between 0.2.5 and 0.3.4. He's also written a fix, which I'll submit in a PR shortly

[2016-07-15 14:28] #239 closed

[2016-07-17 18:32] kudzo opened #241 "Multiprocessing with more than a few (read thousands of) switches"
Hello All,
maybe i am too new to python and am missing something obvious, but if i test the multiprocessing example, i basically end with not enough memory cause it spawns one process per device. Wouldn't a pool (say 4-10 processes) work better? Haven't gotten to trying to write it with a pool of processes yet, but would welcome any input. As soon as i have made some changes, will post here as wel

[2016-07-17 20:26] ktbyers commented on #241
How many devices do you have?

Kirk

On Sun, Jul 17, 2016 at 11:32 AM, kudzo <notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2016-07-17 21:07] kudzo commented on #241
Like 4-5k..

[2016-07-17 22:16] ktbyers commented on #241
Yes, you will have to decide how many processes to start simultaneously. Four to ten processes is too low. Try a hundred or two hundred processes and see how it goes (from a memory utilization perspective)

It is going to be a balance of how much memory you have available versus how long it takes to complete.

You also probably should look at using threads or a combination of threads and processes

[2016-07-18 16:22] jwbensley commented on #159
+1 for telnet support from me to, we could add this to the NAPALM Hackathon list or is it too non-NAPALM specific?

[2016-07-18 23:02] lundybernard commented on #212
I am having the same issue, attempting to configure a Cisco IOS router.
I will take some time to pull the latest version, and enable debugging in read_until_pattern, as suggested above.
Please let me know if there is anything else I can do to help.

stack trace:
[code]

[2016-07-19 04:22] ktbyers commented on #212
@lundybernard Are you changing the hostname as part of this change?

[2016-07-19 04:40] ktbyers commented on #159
@jwbensley Yes, I think this is probably too Netmiko specific for the NAPALM hackathon.

[2016-07-19 07:14] sivabudh commented on #159
Updates: I have been running my own Telnet port which is able to connect to Juniper and Huawei fine. Still haven't got the time to figure out how to merge this into `netmiko` though. :(

[2016-07-19 14:48] lundybernard commented on #212
We are not changing the host name, but we are making a ton of configuration changes, including changes to login credentials.  My test device has already been configured, so, I would not expect any of the changes to be destructive.
Here is the yaml file we are using to build the list of config commands:

[code]

[2016-07-19 16:13] ktbyers commented on #212
For this many changes you probably want should look at using the NAPALM-ios
driver. It is built on Netmiko.

Does the above fail on any particular command?

Kirk

On Tue, Jul 19, 2016 at 7:48 AM, Lundy Bernard <notifications@github.com>
wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network ma

[2016-07-19 20:52] lundybernard commented on #212
I managed to find the point at which it fails
'aaa accounting commands 15 default start-stop group ISE'
is the last command that works, we suspect that we will need to write memory, then re-log to proceed.

[2016-07-19 21:26] ktbyers commented on #212
What does it look like in the CLI when you execute this command?

I just want to see if there is an unexpected CLI behavior that Netmiko is not handling.

[2016-07-20 07:03] samulord commented on #212
Hello @ktbyers

Thank you for always assisting on issues for Netmiko.

I'm facing a similar issue.

I have a very simple script trying to copy the config of a Cisco SG300 device. My code:

`if Device_Model_List[i] == "Cisco":

            #create profile for Juniper for NetMiko
            provision_router_object = {
            'device_type': 'cisco_ios',
            'ip': Public_IP_List[i],

[2016-07-21 21:18] lundybernard commented on #212
Found the solution for my issue, hope it helps someone else.
Problem command is: `aaa authentication fail-message ^`  [documentation](http://www.cisco.com/c/en/us/td/docs/ios-xml/ios/sec_usr_aaa/configuration/15-sy/sec-usr-aaa-15-sy-book/sec-message-banners.html)

proper command (in my yaml file)
[code]
In this formar pyyaml will parse the command, and netmiko will be able to set it properly.

[2016-07-21 21:57] lundybernard opened #242 "Timeout using ssh config ProxyCommand"
There is, what I would consider, a bug in the way ssh config files are used to proxy.

Normally your ssh config allows you to do this:

[code]

when you ssh to my_host.domain, it will apply the ServerAliveInterval from Host *, the ProxyCommand from *.domain, and the IP address from my_Host.domain.
like so:

[code]

Netmiko, on the other hand, will not find the ProxyCommand under *.domain, you must

[2016-07-21 22:34] lundybernard commented on #242
Additionally, I found that I must add the host key to authorized hosts, or it fails with the same error as above.

after I connect via ssh, and add the host keys like so:
[code]
I am able to connect with netmiko.ConnectHandler.

I thought that netmiko explicitly disabled host key checking, so, this may be specific to using a proxy (or two proxies in my case)

[2016-07-22 00:23] lundybernard commented on #242
Ok, I have an explanation for the ssh config usage now.

Looking at [base_connection.py line 97](https://github.com/ktbyers/netmiko/blob/master/netmiko/base_connection.py#L97):
[code]
It is the port that is wrecking everything.  Using my standard SSH config:
[code]
ssh_config_instance.lookup("my_host.domain:22"), only matches the Host * patern, and i only get the ServerAliveInterval property in so

[2016-07-24 23:02] ktbyers commented on #242
The reason the port is there is to support SSH to non-standard SSH ports using SSH proxy. Basically the problem was that the port has to be in the host entry otherwise you cannot differentiate between overlapping IP addresses that use different ports.

We could probably do the following--put a conditional in and if the 'host' comes in as an IP address, then use the ip:port search. If it comes in a

[2016-07-24 23:03] #241 closed

[2016-07-25 16:31] lundybernard commented on #242
I think I can come up with a way to match the most specific Host record in the ssh config file.
If the port is specified look for the specific host record, otherwise fallback to the non-specific host.
Am I correct in guessing that some Hosts require different Proxies/credentials for different ports?

Can you provide a few examples of the kind of ssh config records that you are using to differentia

[2016-07-25 18:11] ktbyers commented on #242
I want to be able to support overloaded IP addresses and SSH proxy. In other words, I want to be able to support the same public IP address and a port address translation to different network devices.

For example
66.66.66.10:22          # rtr1
66.66.66.10:8022      # rtr2
66.66.66.10:8122      # rtr3

If a hostname is used and not an IP address, then the above does not need to apply. As in that c