[2017-03-09 22:50] broncofan commented on #400
@ktbyers latest changes committed.

[2017-03-10 00:50] tevaum commented on #380
Documentation of paramiko says something interesting in Channel.set_combine_stderr [1]:

So we really can have different APIs to read from stdout and stderr... I tried to call set_combine_stderr on base_connection.py [2] without success... I checked and invoke_shell was being called without arguments. I forced it to use vt100 with 80x24 but also no success.

I also tried changing base_connection r

[2017-03-10 03:27] ktbyers commented on #402
@broncofan I added the following to telnet_login:

username_pattern and pwd_pattern so you can override the default patterns it is searching for.

[code]

I also made the telnet_login a bit more generic in base and moved the cisco specific items into cisco_base_connection.py.

[2017-03-10 07:55] adieball commented on #392
@ktbyers it takes a second or so.
Yes, this command requires the config mode

[2017-03-10 16:01] Eoin-Irwin commented on #212
@ktbyers Neither of them worked!

[2017-03-10 16:28] ktbyers commented on #400
@broncofan Strange. I think that should have worked. Let me look into it some more.

[2017-03-10 16:45] ktbyers commented on #380
@tevaum What happens if you run this code:

[code]

[2017-03-10 16:52] tevaum commented on #380
Same problem, as it tryes to enter enable mode before running the `find_prompt`. BTW, I'm using python3, is that a problem?

[2017-03-10 16:55] tevaum commented on #380
Ahh, ignore the "", I was printing some stuff... clean up my modifications. Here's the output:

[2017-03-10 17:06] tyson87 opened #404 "failed to connect"
Hello All,

First time playing with netmiko, I cant seem to connect to my device when I attempt to. I am wondering if it is due to confirming the authenticity of the host when SSH'ing. Do I need to add something to type 'yes' within the script? I am following the http://networktocode.com/labs/tutorials/netmiko-quickstart/ guide. Thanks in advance for the help!!

i.e is this causing my script to ha

[2017-03-10 18:44] tevaum commented on #380
I commented the `self.enable()` line in EnterasysSSH `session_preparation` and ran your script again. Here's the result:

That is really the prompt of the switch. :]

[2017-03-10 19:19] tyson87 commented on #404
so, I checked the log and I see the output of show version in there. I guess was just expecting it to print to the screen.

[2017-03-10 19:46] ktbyers commented on #380
@tevaum It looks like you didn't run the code that I posted above?

It should be `device_type = 'terminal_server'`

Also, I am not calling the `enable()` method. I am manually putting in `enable` directly using write_channel.

[2017-03-10 19:47] ktbyers commented on #212
@Eoin-Irwin It could be that the `interface range` is slow command is slow?

[2017-03-10 19:58] tevaum commented on #380
Oh, sorry. I pasted your code and changed the `device_type` to enterasys :/

Here's how it looks now

[2017-03-10 19:59] Eoin-Irwin commented on #212
It made a considerable difference without the `interface range` command

[2017-03-10 20:02] ktbyers commented on #380
@tevaum Okay and what about this part of it:

[code]

[2017-03-10 20:02] ktbyers commented on #380
Run the code using `python -i kbyers.py`

Then go into the Python shell and manually try to use read_channel() and write_channel()

[2017-03-10 20:04] ktbyers commented on #212
Yes, I thought that might cause delay...I still might need to make some improvements here.

[2017-03-10 20:09] ktbyers commented on #404
Yes, when you do this. It will establish an SSH connection to the device.

[code]

You can then do things like:

[code]

[2017-03-10 20:09] #404 closed

[2017-03-11 16:30] ktbyers opened #405 "Does send_config_set need improved to handle time variations better"
For example, something like doing an `interface range` will probably fail as it is takes too much time.

[2017-03-13 01:47] saadi381 opened #406 "Router prompt not found: {0}".format(prompt)"
Hi ;

I am having issues detecting my Jumphost prompt with below exception

Router prompt not found: {0}".format(prompt)

the jumphost prompt looks like
-mgmt:~>

any help

[2017-03-13 16:07] durwoodmi opened #409 "Not able to trap exception when router or asa doesn't respond."
Script stops when exception occurs due to a down

Python version: 3.6
Netmiko version: 1.2.8
Paramiko version: 2.1.2

Have tried trapping "netmiko.ssh_exception.NetMikoAuthenticationException,
                  netmiko.ssh_exception.NetMikoTimeoutException, netmiko.NetMikoTimeoutException,
                  netmiko.NetMikoAuthenticationException, netmiko.NetmikoTimeoutError, netmiko.NetmikoAuthErr

[2017-03-13 16:29] ktbyers commented on #392
@adieball You might need to add delay_factor as an argument:

[code]

Keep increasing delay_factor until it works (try 2, then 4, then 8).

[2017-03-13 16:53] ktbyers commented on #406
@saadi381 That is not enough information to help you...you will need to post a lot of your code. Also post the full exception you are getting.

[2017-03-13 18:07] ktbyers commented on #409
Can you post your relevant code (around line 73 of yoru RAWDataGather.py).

[2017-03-13 18:53] durwoodmi commented on #409
Line 73 is in bold bellow.

with open('firewalls.txt', 'r') as firewalls:
    for line in firewalls:
        try:
            line = line.rstrip('\n')
            print(line)
            **ssh = netmiko.ConnectHandler(ip=line, device_type='cisco_asa', username=username, password=password, secret=secret)**
            ssh.enable()

[2017-03-13 19:02] ktbyers commented on #409
Need more of your code (add like 50 lines surrounding this). Also are you using threads or processes at all?

[2017-03-13 19:05] durwoodmi commented on #409
import netmiko
import paramiko
import socket

ssh_exceptions = (netmiko.ssh_exception.NetMikoAuthenticationException,
                  netmiko.ssh_exception.NetMikoTimeoutException, netmiko.NetMikoTimeoutException,
                  netmiko.NetMikoAuthenticationException, netmiko.NetmikoTimeoutError, netmiko.NetmikoAuthError,
                  netmiko.ssh_exception.SSHException, netmiko.ssh_excep

[2017-03-14 12:55] liorfranko opened #412 "Adding 'arista_eos' to snmp_autodetect"
Can you please add Arista:
    'arista_eos': {"oid": ".1.3.6.1.2.1.1.1.0",
                  "expr": re.compile(r".*Arista Networks EOS.*", re.IGNORECASE),
                  "priority": 60},

I'm checked it and it works, I'm not sure about the priority value.

[2017-03-14 15:57] pathcl commented on #291
@ktbyers what is NAPALM?

[2017-03-14 16:03] pathcl commented on #291
@ktbyers wouln't be enough if just we use send_command(running_config)

[2017-03-14 16:31] Badgerpoo opened #413 "discard_config and merge_config operations fail on cisco IOS"
### Test envrionment:
#### Server:
CentOS Linux release 7.3.1611 (Core)

##### PIP installed packages:
[code]
Utilising a python virtual environment in /usr/local/projects/ansible/env

### Switch
Hostname: "ansibletest2"
Model: 2960X-48TS-L
Software: c2960x-universalk9-mz.152-2.E3.bin

### Testing get_facts():
[code]
#### Results:
[code]

### Testing commit_config():
[code]
#### Results:
[code]
fi

[2017-03-14 16:50] ktbyers commented on #413
@Badgerpoo On your commit_config() failure, the first failure. Does this happen consistent i.e. if you repeat this process 3 times on this same code and same device, do you get the same error every time?

In your first issue, the commit_config failure, what happens if you add this:

[code]

[2017-03-14 17:19] ktbyers opened #414 "Need to write unit tests for SSH lock"

[2017-03-14 18:00] ktbyers commented on #412
Okay, done. It is in `develop` branch. Made priority be 99.

[2017-03-14 18:00] #412 closed

[2017-03-14 18:29] ktbyers commented on #291
See here for info on NAPALM  http://napalm.readthedocs.io/en/latest/

Netmiko supports some 25 different networking platforms...not as easy as just doing 'show run' (as many don't support `show run`; they might have candidate config, etc).

[2017-03-14 19:57] kaage opened #415 "NetMikoTimeoutException: Timed-out reading channel, data not available."
I'm having troubles to use NAPALM to get some information out of devices. It raises netmiko error. At the same time manual SSH to the device works well. See Below:

jaakko@ubuntu:~/Desktop/Ansible-shared/ansible-playbooks$ cat napalm-test.py
[code]

[code]

jaakko@ubuntu:~/Desktop/Ansible-shared/ansible-playbooks$ python --version
Python 2.7.12
jaakko@ubuntu:~/Desktop/Ansible-shared/ansible-playbo

[2017-03-14 20:10] ktbyers commented on #415
@kaage It looks like you are not passing in an enable secret:

[code]

Just re-open if this doesn't fix the issue.

[2017-03-14 20:10] #415 closed

[2017-03-14 21:45] Badgerpoo commented on #413
@ktbyers
#### Attempt 1:
[code]
New files on switch: rollback_config.txt

#### Attempt 2:
[code]
New files on switch: rollback_config.txt, merge_config.txt

#### Attempt 3:
[code]
New files on switch: rollback_config.txt, merge_config.txt

#### After adding suggested code:
[code]
New files on switch: rollback_config.txt, merge_config.txt

[2017-03-15 16:13] ktbyers commented on #413
@Badgerpoo Your issue is still very strange, particularly that the error keeps changing which indicates there is some sort of a timing issue:

Let's try even simpler Netmiko code (you will need to update username and potentially other arguments in `device` to work in your environment.

[code]

[2017-03-15 16:15] ktbyers commented on #413
Here is what it looks like when I run the above code on one of my routers:

[code]

[2017-03-15 16:25] Badgerpoo commented on #413
Same result here, I edited python to hardcode IP, password etc:

[code]

[2017-03-15 16:34] ktbyers commented on #413
Okay, let me know what you see when you do the following manually (merge file can have whatever contents are appropriate for your environment...just make a simple change, however).

[code]

[2017-03-15 17:09] ktbyers opened #416 "Error reading SSH protocol banner Nexus Vblock device"
[code]

[10:07]
[code]

[2017-03-15 17:11] Wyko commented on #416
Cisco NX-OS(tm) n9000, Software (n9000-dk9), Version 7.0(3)I1(3), RELEASE SOFTWARE Copyright (c) 2002-2013 by Cisco Systems, Inc. Compiled 8/21/2015 2:00:00

[2017-03-15 21:55] Badgerpoo commented on #413
I used a slightly different example but should be much the same:

[code]

[2017-03-16 04:48] ktbyers commented on #413
@Badgerpoo Okay, let's try this code. This reproduces the section of the code that failed in NAPALM above.

[code]

[2017-03-16 05:06] ktbyers commented on #400
@broncofan Okay, I had a bug in some of my regex code that was causing the earlier pattern not to work. Can you try it again with this fix included (the fix is in the Netmiko `develop` branch).

https://github.com/ktbyers/netmiko/commit/ae10233e716b6593d90352f8bac64f4e7fc2554b

[2017-03-16 05:07] #389 closed

[2017-03-16 05:07] ktbyers commented on #402
This is done.

[2017-03-16 05:07] #402 closed

[2017-03-16 05:08] ktbyers commented on #396
Reopen if you are still having an issue (and tell me what you see with logging enabled).

[2017-03-16 05:08] #396 closed

[2017-03-16 05:17] ktbyers commented on #409
@durwoodmi You need to simplify your try/exception block. Try to just wrap this part of your code in the exception handler and see if you still have the same issue:

with open('routers.txt') as accessrouters:
    routers = accessrouters.readlines()

for ip_addr in routers:
    ip_addr = ip_addr.strip()
    try:
        ssh = netmiko.ConnectHandler(ip=line, device_type='cisco_ios',

[2017-03-16 05:18] ktbyers commented on #406
Re-open if you are still having an issue.

[2017-03-16 05:18] #406 closed

[2017-03-16 05:19] #392 closed

[2017-03-16 05:25] ktbyers commented on #386
Yes, as I said earlier the "No handlers could be found for logger" is a Paramiko warning that is not relevant to your ASA connections failing. It has to do with Paramiko library logging configuration.

So back to the original issue, are you still having an issue with netmiko_tools?

I would try to modify your .netmiko.yml and add a `global_delay_factor: 2`  (or 4) argument to your ASA devices.

Le

[2017-03-16 05:26] #364 closed

[2017-03-17 07:12] liorfranko commented on #412
10x

2017-03-14 20:00 GMT+02:00 Kirk Byers <notifications@github.com>:

[2017-03-17 18:11] dirkvdplas commented on #386
I am still having issues with netmiko-show. increasing global_delay_factor
does not help. below a brief overview of the symptoms:

-when error "no handlers could be found is thrown" the show results from at
least one or multiple devices is not returned
-issue occurs against all type of devices (c7600,nexus, asa)
-the number of devices in the group seems to increase the chances for error
-issue is

[2017-03-18 16:10] ktbyers commented on #386
@dirkvdplas Are you using AAA for login? Do you see any messages in the network device logs when the login fails?

You stated earlier:

[code]

So it improved things quite a bit, but you still see some errors (just a fewer number of errors). Is this correct?

[2017-03-20 18:58] dirkvdplas commented on #386
@ktbyers  yep, we are using AAA for login. I ran "debug aaa authentication" meanwhile and saw that following message appear at same time when "No handlers could be found for logger" is seen:

Mar 20 19:30:06.619 CET: SSH2 1: Unexpected mesg type received

The problem is seen when targetting a device-group with multiple devices (4) with netmiko-show. 4  netmiko-show commands in parallel against a s

[2017-03-20 19:49] maximumG commented on #382
Do you still need this issue to stay opened ?

[2017-03-20 23:50] #382 closed

[2017-03-20 23:50] ktbyers commented on #382
Nope :-)

[2017-03-21 16:13] ktbyers commented on #386
@dirkvdplas Are you using AAA for authorization or only authentication?

Yes, I doubt threading is the cause (at least as a primary cause).

Also, did `global_delay_factor` improve things?

[2017-03-22 09:45] aniketprajapati commented on #187
Hi ktbyers, can you share how you decipher the ANSI codes in a generic way

[2017-03-22 16:13] ktbyers commented on #187
Use Python's `repr` built-in to see them. For example,

[code]

Then use google to look them up.

[2017-03-23 00:57] aniketprajapati commented on #187
Thanks @ktbyers

[2017-03-23 17:04] WhatGO opened #421 "IOError(u'Search pattern never detected in send_command_expect: TEST\\(config\\)\\#',))"
Hello,

I have this error and I think it's because of the prompt with "applet" string,

Is there any way to add an expected string as an option (because I'm also getting this problem with reload when getting the output : "System configuration has been modified. Save? [yes/no]:")

IOError(u'Search pattern never detected in send_command_expect: TEST\\(config\\)\\#',))

Here is output directly on the

[2017-03-23 17:43] ktbyers commented on #421
@WhatGO You shouldn't use `send_command` for configuration changes.

Use either `send_config_set` or `send_config_from_file` methods.

For your reload question:

`System configuration has been modified. Save? [yes/no]:`

Use `send_config_timing` method

[code]

[2017-03-23 17:43] #421 closed

[2017-03-23 20:26] #381 closed

[2017-03-24 07:59] PutiZL opened #422 "H3C Switches Support"
There is  no module for `H3C` devices,  Consider support them?

[2017-03-24 14:21] dougramirez commented on #338
@sbyount Were able to replicate this issue on your 891?  I'm having the same issue with an Adtran TA5000.  Same 2 lines of code int in paramiko/transport.py : in _check_banner raise SSHException('Error reading SSH protocol banner' + str(e))

[2017-03-24 22:28] ktbyers commented on #422
Yes, someone just needs to write a driver for them. See here for the process:

https://github.com/ktbyers/netmiko/blob/develop/VENDOR.md

[2017-03-24 22:28] #422 closed

[2017-03-26 09:09] h0th3d3d opened #424 "how to install netmiko in windows"
Hi

May i ask for your assistance, does anyone here have a step by step procdeure to install netmiko in windows. new to python.

have python 3.6 try installing using "python setup.py install" have a lot of issue i think they are dependent apps also use PIP but no luck.

thank you

[2017-03-26 23:59] sbyount commented on #338
No, I was not able to resolve it.  But I am going to write a new script and I will see if that problem comes back.  I have a feeling it has something to do with security.  We use TACACS for authentication.

[2017-03-27 05:18] sjtarik opened #426 "Issue with password prompt on Aruba OS"
Using netmiko, I am trying to update existing user passwords and receiving invalid input error.

Flow:
command: mgmt-user dummyuser read-only
Password:************
Re-Type password:************

First send_command_expect is successful but second call fails since device gives invalid input error.
Password passed as u'cleartextpwd\n' to the device.

[code]

[2017-03-27 15:54] WhatGO commented on #421
Many thanks , you probably mean "send_command_timing"
[code]

[2017-03-27 18:32] ktbyers commented on #424
Why happens when you do:

[code]

On Windows?

[2017-03-27 18:50] ktbyers commented on #338
Yes, this is something that needs fixed. @sbyount Let me know if you see the behavior on Cisco device so I can see if I can reproduce it.

[2017-03-27 18:52] ktbyers commented on #426
@sjtarik What error do you get?

Where is the `new_pwd` variable set?

[2017-03-27 18:54] ktbyers commented on #421
@WhatGO Yes, my bad `send_command_timing`

[2017-03-27 20:18] Wyko commented on #424
You *may *have to use
pip3 install netmiko

On Mon, Mar 27, 2017 at 10:11 PM Kirk Byers <notifications@github.com>
wrote:

[2017-03-27 21:12] johnarnold commented on #268
Do you have a decent way to mock the SSH session?  Either at the channel / paramiko level, or by mocking a ssh device?  I'm writing unit tests on top of netmiko, could be really useful.

[2017-03-27 22:04] ktbyers commented on #268
@johnarnold I haven't been doing any mock testing with Netmiko as so many of the problems issues are timing or other CLI idiosyncrasies that I have questioned whether it is worth doing.

I am totally open to discussion on this, however.

We are doing mocking in NAPALM (which has several drivers that are based on Netmiko) and their I think it totally makes sense (at least for all of the get operati

[2017-03-27 22:13] johnarnold opened #427 "send_command search efficiency"
I'm looking at the send_command function.

Imagine I log into an internet/backbone router and issue 'show ip route', and it returns a few million lines.  I see some issues with the way send_command searches the output.

    lines = output.split("\n")
    first_line = lines[0]
    .... code block around parsing first line

If you hit the loop / delay factor at all reading the channel, this first li

[2017-03-27 22:27] sjtarik commented on #426
html markdown removed the value. Let say for value cleartext, we write channel u'cleartext\n' and the Aruba gives error generic Invalid input.

[2017-03-28 04:36] h0th3d3d commented on #424
@ktbyers tit's saying i have some missing requirements.

@Wyko what is the difference between pip3 and pip.

**i am able to install it using this process** ,  though i have to use the app anaconda to run netmiko.
but when i try this in python it doesnt work alot of dependencies

Installing netmiko on Windows
Netmiko is a Python module by Kirk Byers that provides a wrapper around the Paramiko SSH m

[2017-03-28 06:21] PhatWheZ commented on #424
I was able to use Netmiko on windows when running v3.5 of Python. For some
reason the v3.6 doesn't install the Crypto dependencies

On 28 March 2017 at 06:36, h0th3d3d <notifications@github.com> wrote:

[2017-03-28 08:42] h0th3d3d commented on #424
@PhatWheZ havent tried it yet in 3.5. will try now.

though from what i noticed when i installed it using the anaconda program and compared it with python looks like the lib of anaconda is much more complete that the python.

[2017-03-28 09:11] h0th3d3d commented on #424
same thing even 3.5 im not able to install it

below is the logs

C:\Users\Francis\Downloads\netmiko-1.2.8>python setup.py install
running install
running bdist_egg
running egg_info
writing requirements to netmiko.egg-info\requires.txt
writing top-level names to netmiko.egg-info\top_level.txt
writing netmiko.egg-info\PKG-INFO
writing dependency_links to netmiko.egg-info\dependency_links.txt
readin

[2017-03-28 09:14] PhatWheZ commented on #424
@h0th3d3d I never used the anaconda package system.

When i installed i used the v3.5 Python version. Once installed opened my
command line, typed in 'pip install netmiko' and all worked after that.

On 28 March 2017 at 10:42, h0th3d3d <notifications@github.com> wrote:

[2017-03-28 09:16] h0th3d3d commented on #424
@PhatWheZ
which version of python you are using 3.5.?

thanks mate

[2017-03-28 09:18] PhatWheZ commented on #424
@h0th3d3d

v3.5.2 32bit

On 28 March 2017 at 11:16, h0th3d3d <notifications@github.com> wrote:

[2017-03-28 19:45] sbyount commented on #338
I have some working code on this now.  I don't know if I can recreate the same error or not, but I was receiving the following "paramiko.ssh_exception.SSHException: Illegal info request from server" when I failed to include the password in the dictionary which is used when creating the connect handler object.

[2017-03-28 22:03] ktbyers commented on #427
@johnarnold Yes, it will certainly choke on very large output.

Let me review your points here.

[2017-03-28 22:04] ktbyers commented on #426
@sjtarik Please post your Python stack trace.

[2017-03-28 22:18] ktbyers commented on #424
From reading a thread containing this same openssl.h error, you might also need to do this:

[code]

[2017-03-28 22:26] ktbyers commented on #338
@sbyount But it works properly if you provide the password?

[2017-03-29 01:08] sbyount commented on #338
Yes! :)

[2017-03-29 10:37] tevaum commented on #380
Hi, @ktbyers. Any news about this issue?

[2017-03-29 16:24] apepelis opened #428 "Extreme Networks issue connecting (prompt)"
extreme puts a command number at the end of the base prompt line.

class ExtremeSSH(CiscoSSHConnection):
    """Extreme support."""
    def session_preparation(self):
        """Extreme requires enable mode to disable paging."""
        self._test_channel_read()
        self.enable()
        self.set_base_prompt() << sets the base prompt to something ending in ".1"
        self.disable_paging(comm

[2017-03-29 16:43] apepelis commented on #428
ok, I jumped back to 0.3.0 and it looks like it was doing this:

class ExtremeSSH(SSHConnection):
    '''
    Extreme support
    '''
    def session_preparation(self):
        '''
        Extreme requires enable mode to disable paging
        '''
        self.enable()
        self.disable_paging(command="disable clipaging\n")
        self.set_base_prompt()

so it never did the wait for prompt. si

[2017-03-29 17:07] ktbyers commented on #428
We are working on this here:

https://github.com/ktbyers/netmiko/pull/425

You might want to jump onto the comments on that pull request (as we have questions about how Extreme operates across platforms).

[2017-03-29 17:08] #428 closed

[2017-03-30 08:13] h0th3d3d commented on #424
thanks im able to install it in 3.5.

though in 3.6 it seem it need some set of libs

anyway 3.5 is good for me thanks for the help

[2017-03-30 17:31] #424 closed

[2017-03-31 13:18] rwwelford commented on #397
Addressed by pull request #398

[2017-03-31 13:18] #397 closed

[2017-04-01 00:22] jacrotts opened #429 "Multiple logins Failing"
I'm having an issue with certain Cisco IOS-XE / Nexus devices that require multiple logins.

This is my desired process:
log into console server (using terminal_server device type) -- > enable secret is requested for regular access --> connection.enable() is sent for privileged access --> send.commands()

 I've tried sending the secret as a send.command after recasting the connection, but the devi

[2017-04-01 09:47] markgoddard opened #430 "read_until_prompt_or_pattern does not apply timeout or sleep"
The read_until_prompt_or_pattern method in base_connection.BaseConnection reads data from the connection in a tight loop reading data from the device, waiting for the prompt or another pattern to be received. There are a couple of issues with this.

1. There is no way to break out of the loop - no timeout mechanism is applied, so we can get stuck here indefinitely if the device does not send the e

[2017-04-01 11:15] markgoddard commented on #430
Related issue in OpenStack networking-generic-switch: https://bugs.launchpad.net/networking-generic-switch/+bug/1678461.

[2017-04-03 11:20] h0th3d3d opened #432 "send_command "copy tftp flash""
hi may i ask for your assistance on this.

just started python and just trying to build a simple script using the send_command.
i am having difficulties on capturing the next trailing lines

the script is bellow
import netmiko
tftp_connection = netmiko.ConnectHandler(ip='192.168.1.50', device_type=
                                         'cisco_ios', username='cisco',

[2017-04-03 13:24] h0th3d3d commented on #421
Whats the reload_count for?

[2017-04-03 14:24] ktbyers commented on #432
How long does the image transfer take if you it manually?

You are probably timing out.

You probably need to add delay_factor and/or max loop argument to allow for
more time

Kirk
On Mon, Apr 3, 2017 at 4:20 AM h0th3d3d <notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your

[2017-04-03 15:36] ktbyers commented on #430
@markgoddard I will try to respond to this...probably on Wednesday.

[2017-04-03 21:50] h0th3d3d commented on #432
Hi

Is the incrament in the delay and loop in minutes?
Also when i initiate that command in cisco it ask me a question before it initiate the copy. Its more of like a reload command and you will choose a yes or no question. For this isnthe semd command sufficient?
Thank you

[2017-04-04 17:36] ktbyers commented on #429
@jacrotts Can you post your code and the stack trace that you get.

[2017-04-04 18:31] ktbyers commented on #432
@h0th3d3d See here:

http://netmiko.readthedocs.io/en/latest/classes/base_connection.html

send_command(command_string, expect_string=None, delay_factor=1, max_loops=500, auto_find_prompt=True, strip_prompt=True, strip_command=True)

delay_factor is a multiplication factor so setting it to 2 will double all of the delays. Setting it to 4 will quadruple the delays.

By default, send_command should

[2017-04-04 23:12] h0th3d3d commented on #432
@kybyers

Thank really help a lot. Thiugh didnt use the send_command instead i used the send_command_timing as it returns the output. Maybe im just utilizing the send_command in a wrong way.

Bu the way in max loops i noticed that it is is set to 150 by default is this in seconds?

[2017-04-05 16:23] ktbyers commented on #432
@h0th3d3d It is also a way to control the delay. There is some loop that happens there and a sleep inside the loop. So if you double the max_loops you will also double the delay.

[2017-04-05 16:23] #432 closed

[2017-04-05 18:00] davesill opened #437 "Line break modifications needed for some Brocade gear"
I needed to replace multiple instances of \n with \r\n in base_connection.py to make some Brocade models work properly.  Doing so didn't seem to cause any issues with devices which worked with the stock version.  As discussed on Slack, I think an 'enter' variable specifying the format of line breaks which can be overridden per platform would be great.

[2017-04-06 16:29] jacrotts commented on #429
Here is the traceback.

Traceback (most recent call last):
  File "C:/Users/jacrotts/PycharmProjects/cert_library/main.py", line 7, in <module>
    connection.connect()
  File "C:\Users\jacrotts\PycharmProjects\cert_library\SshConnection.py", line 59, in connect
    redispatch(ssh_connection, device_type='cisco_ios')
  File "C:\Python36\lib\site-packages\netmiko-1.2.8-py3.6.egg\netmiko\ssh_dispatc

[2017-04-06 16:58] ktbyers commented on #429
Try it with latest version of Netmiko (1.3.0).

Also you probably need to try it with Python3.5 and not Python 3.6. Python 3.6 is very new and I have been receiving reports of issues with it on Windows.

[2017-04-06 18:04] ktbyers commented on #429
You also, should enable logging to give us more details on what is happening:

[code]

[2017-04-06 22:50] jacrotts commented on #429
Would I handle the password with write_channel('password')  before re-dispatching the connection?

I will upgrade then import the logger.

[2017-04-07 11:52] jumpojoy opened #441 "Implement save_config() method for all devices."
However there is commit() which already implemented but supports only limited hardware. It should be good to have common method for example save_config() which allow to save configuration for devices that doesn't support commit()

[2017-04-07 16:37] ktbyers commented on #429
Yes, you would need to use write_channel() and read_channel() to handle the session login. I don't know how your terminal server environment is setup (i.e. some have no password to the end network device, some have username/passwords, etc).

You can probably re-use parts of what I have for this telnet login code:

https://github.com/ktbyers/netmiko/blob/develop/netmiko/cisco_base_connection.py#L64

[2017-04-07 16:45] ktbyers commented on #441
And this method just saves running-config to start-config for platforms that use this model?

[2017-04-07 18:13] jacrotts commented on #429
After adding the '\n' to write_channel and increasing the delay after the first login the issue was fixed.

Thanks for the help, I appreciate it.

[2017-04-07 18:41] #429 closed

[2017-04-08 00:58] ktbyers opened #444 "Resolve differences between powerconnect SSH and telnet."

[2017-04-08 05:55] aditya-ast opened #445 "cannot connect to device using netmiko"
Hello Mr. Byers,
I've checked existing issues in here, but couldn't find a solution to my problem. Please help me out.
When I run:

...     'device_type': 'cisco_ios',
...     'ip':   '10.10.10.10',
...     'username': 'test',
...     'password': 'password',
... }

The error shows:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packag

[2017-04-08 13:10] ahmadbarrin commented on #381
@ktbyers
Thanks for adding my last Telepresence PR on master release 1.3.0 !
Also on my [personal website](http://ahmadbarrin-software.com/index.html), I've added a link to your Netmiko project. I hope you're fine with it. I've not, just tell me and I can remove or change it.

Regards,
Ahmad

[2017-04-08 14:02] ktbyers commented on #381
Sure, looks good.

[2017-04-08 14:07] ktbyers commented on #445
@ast-vi It looks like you are trying to connect to an IP address that isn't running SSH.

From the same box as you run your script, are you able to manually SSH to that IP?

[2017-04-10 11:25] iqbalkanayal commented on #445
@ktbyers Kirk Byers, I also have a similar error. I try to ssh to the router. It's working fine. But I am not able to connect to ssh using a python script. I need suggestions from you. Thanks

[2017-04-11 08:13] iqbalkanayal commented on #445
@ktbyers thanks for your quick reply.
code:
from netmiko import ConnectHandler

cisco_ios_xrv = {
    'device_type': 'cisco_xe',
    'ip':   'x.x.x.x',
    'username': '',
    'password': '',
    'global_delay_factor': 4

}

try:

    net_connect = ConnectHandler(**cisco_ios_xrv)
except SSHException:
    print('SSH is not enabled for this device.')
    sys.exit()

output = net_connect.send_command

[2017-04-12 04:45] ktbyers commented on #445
You might want to try Python 3.5 and see if it works.

Let me know if you see the same issue or not (with Python 3.5).

[2017-04-12 07:27] jumpojoy commented on #441
Exactly, or is a generic method that calls commit() if it is supported and if not do "copy running-config startup-config"

[2017-04-12 12:58] chocokalamay commented on #445
Hi @ktbyers ,

i tried to run this following command. can you help me on this?

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\lester.parcon\AppData\Local\Programs\Python\Python35\netmiko\__init__.py", line 8, in <module>
    from netmiko.ssh_dispatcher import ConnectHandler
  File "C:\Users\lester.parcon\AppData\Local\Programs\Python\Python35\netmiko\ssh

[2017-04-12 16:26] ktbyers commented on #445
@chocokalamay It doesn't look like you have paramiko installed correctly. Probably try:

[code]

[2017-04-12 16:30] ktbyers commented on #441
@jumpojoy It is a lot of work to properly implement this on 25 or so drivers including unit tests. Are you signing up for doing that?

[2017-04-13 10:58] chocokalamay commented on #445
@ktbyers
im trying to execute your command but it gives me error when downloading the package.

C:\Users\lester.parcon>python -m pip install netmiko
Collecting netmiko
  Using cached netmiko-1.3.0.tar.gz
Collecting paramiko>=1.13.0 (from netmiko)
  Using cached paramiko-2.1.2-py2.py3-none-any.whl
Collecting scp>=0.10.0 (from netmiko)
  Using cached scp-0.10.2-py2.py3-none-any.whl
Collecting pyyaml

[2017-04-13 16:31] ktbyers commented on #445
Looks like you have an issue installing the cryptography library (which is a dependency of the paramiko library).

You might want to look here and see if it helps:

https://cryptography.io/en/latest/installation/

You also might want to try the install in a clean virtual environment

[2017-04-13 18:38] johnarnold commented on #427
@ktbyers ping :)

[2017-04-13 18:47] ktbyers commented on #427
Yeah, haven't got to it :-)

A workaround for large output is to just write your own custom function. You can use the underlying `read_channel` and `write_channel` methods to directly control the channel.

...that doesn't answer the question of whether send_command should be modified, however.

[2017-04-16 11:25] annejg commented on #98
Hi @ktbyers

I noticed your comment above:

Is this doable only by wrapping a particular command in the ConnectHandler session or can I add delay to specific commands? for example when using ConnectHandler:

`net_connect.send_command('clear` configuration commits diskspace 2000\n') net_connect.send_command('\n')`

(these commands are inside a function with other commands that do not need delay).

[2017-04-17 02:18] jacrotts commented on #441
I could help with this if needed, at least on cisco platforms.

[2017-04-17 16:23] ktbyers commented on #98
@annejg You can do something like the following,

[code]

That will double the delays of that one particular send_command execution.

Note, if the command prompts you for something like "Do you want to continue?". Then you typically need to do something like:

[code]

[2017-04-17 19:35] annejg commented on #98
@ktbyers Thank you very much!

I added it as such:

`net_connect.send_command('clear configuration commits diskspace 2000\n)`
`net_connect.send_command('\n', delay_factor=2)`

and it works perfect!

[2017-04-18 11:00] NedySuprianto opened #448 "Authentication failure: unable to connect cisco_ios [ip] ('Bad authentication type', ['']) (allowed_types=[''])"
hi, i used netmiko python to connect to cisco switch SF300 to runs some command and get the output from the device, but i got a problem when i try to connect with ssh netmiko.
i already use putty to connect to the device, but there's have 3 variables that's should i input :
login as :
Username :
Password :
and but with netmiko i just have 'username' and 'password' variables, i actually confused wh

[2017-04-18 17:55] ktbyers commented on #448
@NedySuprianto I think you probably need to configure this on your switch.

[code]

Here is example code for connecting to sg300 (which should also work for sf300).

[code]

[2017-04-18 17:55] ktbyers commented on #448
I am going to close this issue. Re-open if you are still having problems.

[2017-04-18 17:55] #448 closed

[2017-04-20 05:02] NedySuprianto commented on #448
ok, ill try it.

thanks for your help kirk

On Wed, Apr 19, 2017 at 12:56 AM, Kirk Byers <notifications@github.com>
wrote:

[2017-04-20 07:11] NedySuprianto opened #450 "Authentication failure: unable to connect cisco_ios [ip] ('Bad authentication type', ['']) (allowed_types=[''])"
hii kirk, i still got a same issue here.

_**code :**_
from netmiko import ConnectHandler

device = {
    'device_type': 'cisco_s300',
    'ip': '10.10.10.10',
    'username': 'username',
    'password': 'password',
}
net_connect = ConnectHandler(**device)
output = net_connect.send_command_expect("show run")
print(output)

_**error :**_

Traceback (most recent call last):
  File "C:\Users\Nedy Sup

[2017-04-20 12:25] h0th3d3d opened #451 "send_config_set usage"
hi may i ask for your assistance on how to use the send_config_set command. check the help but having problem output is being considered  per character

config_commands = ('boot system flash')
output = tftp_connection.send_config_set(config_commands)
print (output)

----------------

config term
Enter configuration commands, one per line.  End with CNTL/Z.
R1(config)#b
% Ambiguous command:  "b"
R1

[2017-04-20 15:48] annejg commented on #338
Hi @ktbyers,

I managed to reproduce the error above working with Cisco IOS XR.

I'm using

In my script I also use the pyIOSXR library.

I've set the global_delay_factor=3 and my lab environment does not run TACACS+, but I still receive the following in my log file:

INFO:paramiko.transport:Authentication (password) successful!
DEBUG:paramiko.transport:[chan 0] Max packet in: 32768 bytes
DEBUG:pa

[2017-04-20 16:24] ktbyers commented on #338
I think the event.wait() solution was from me :-)

I will have to look at it again. This is a hard problem.

Kirk

On Thu, Apr 20, 2017 at 8:48 AM, annejg <notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2017-04-20 16:28] ktbyers commented on #451
@h0th3d3d

send_config_set requires a list of commands or a tuple of commands. What you had previously is not a tuple but just a string enclosed in parenthesis (you would need to add a comma to make it a tuple

[code]

[2017-04-20 16:28] #451 closed

[2017-04-20 16:39] ktbyers commented on #450
@NedySuprianto Did you configure this on the switch (needs manually configured):

[code]

Basically, that extra `login as` is messing things up and configuring that should make it go away.

[2017-04-20 22:07] #445 closed

[2017-04-20 22:08] ktbyers commented on #430
This was fixed here:

https://github.com/ktbyers/netmiko/pull/431

[2017-04-20 22:08] #430 closed

[2017-04-20 23:21] #138 closed

[2017-04-20 23:22] #260 closed

[2017-04-21 04:51] ktbyers commented on #405
It supports delay_factor. I think is probably okay.

[2017-04-21 04:51] #405 closed

[2017-04-21 04:52] ktbyers commented on #413
Closed needed more information from user.

[2017-04-21 04:55] ktbyers commented on #390
Close for now...as I am not planning on working on this (in the near future).

[2017-04-21 04:55] #390 closed

[2017-04-21 04:56] #102 closed

[2017-04-21 04:57] #196 closed

[2017-04-21 06:55] NedySuprianto commented on #450
now its work :), but i also want to ask you somethings kirk, its about send_command() method, i have nexus 700 cisco switch witch is the core switch i want to grab all the 'show tech'  using send_commnd_expect('show tech') and i got a error message. i try use send_command() and same error should i use send_commnad_timing() and add the delay_factor to grab all show tech?
i already used putty to get

[2017-04-21 15:39] pkonline opened #452 "Netmiko Iterative commands"
I am searching for a best way to run iterative commands on a list of IPs. I am able to run iterative commands but unable to do it with list of IPs. When ever I am trying to loop for IP and then commands, it always times out. Can someone help. Below is my script. After adding exception, it executes properly for the last IP in the list

[code]

Any help

[2017-04-21 16:02] pkonline commented on #452
solved by adding a line.strip()
host = line.strip()

[2017-04-21 16:11] ktbyers commented on #450
@NedySuprianto You probably need to keep increasing delay_factor until send_command_expect works.

`show tech` takes a long time to execute.

Try something like.

[code]

Keep doubling delay_factor until it works. By default send_command_expect will wait for about 90 seconds before it gives up.

[2017-04-21 16:11] #450 closed

[2017-04-21 16:13] #452 closed

[2017-04-22 16:11] #82 closed

[2017-04-22 16:13] ktbyers commented on #110
I am not actively working on this. If someone else wants to suggest improvements or implement improvements I am open to it.

[2017-04-22 16:13] #110 closed

[2017-04-22 16:14] ktbyers commented on #141
establish_connection was removed from fortinet driver a while back so this should be resolved.

[2017-04-22 16:14] #141 closed

[2017-04-22 16:42] #146 closed

[2017-04-22 23:39] ktbyers commented on #147
Completed this here https://github.com/ktbyers/netmiko/commit/32eb02bbed7c28a255c59a9e46deb99223b76424

[2017-04-22 23:39] #147 closed

[2017-04-22 23:40] #151 closed

[2017-04-22 23:46] ktbyers commented on #242
This was updated to the more canonical SSH config format. So it should look like this now:

[code]

[2017-04-22 23:59] ktbyers commented on #242
https://github.com/ktbyers/netmiko/commit/24d39ce28484af0b4465f53c55e1ed0342f92c30

[2017-04-22 23:59] #242 closed

[2017-04-23 00:00] #268 closed

[2017-04-23 00:12] ktbyers commented on #172
This is no longer an issue with newer version of Paramiko.

I tested:
Python3.4 and Paramiko 2.1.1
Python2.7 and Paramiko 2.1.2

[2017-04-23 00:12] #172 closed

[2017-04-23 00:14] #313 closed

[2017-04-23 00:15] ktbyers commented on #209
Not going to do.

[2017-04-23 00:15] #209 closed

[2017-04-23 00:17] ktbyers commented on #400
Mellanox driver was submitted on a previous PR.

[2017-04-23 00:17] #400 closed

[2017-04-25 06:40] jumpojoy commented on #441
@ktbyers I have only Cisco switches, but can try it with virtualized appliances for Juniper/Arista.

[2017-04-25 08:45] ram2711 commented on #211
Hello everyone,

I have MP MSR2003 router. IOS version is HPE Comware 7.1.059. I am unable to login. Any suggestions??

[2017-04-25 12:51] annejg commented on #338
Hi @ktbyers,

My error was due to a glitch in the Paramiko install,

[code]

while the log read:
`DEBUG:paramiko.transport:Local version/idstring: SSH-2.0-paramiko_2.0.2`

After a remove an reinstall the problem was solved

Thank you for your time!

Best Regards,
Anne

[2017-04-25 16:25] ktbyers commented on #211
@ram2711 Can you post the relevant section of your code and the exception that you receive?

[2017-04-25 16:25] ktbyers commented on #211
@ram2711 Also please open a new issue for this.

[2017-04-25 18:37] hoyeunglee opened #453 "Unexpected error: <class 'sre_constants.error'>"
using python 2.7 and pip install paramiko and pip install netmiko

using python command to run , there is no error

but after compile to executable file with "python setupcloudchangepassword.py py2exe"

There is error after run changepassword.exe
Unexpected error: <class 'sre_constants.error'>

[code]

[2017-04-25 19:18] ktbyers commented on #453
@hoyeunglee Don't know.

Doesn't sound like a Netmiko error though. Sounds like a creating an executable issue.

[2017-04-25 19:18] #453 closed

[2017-04-25 19:34] ktbyers commented on #338
Interesting...I saw something like that recently with Paramiko.

[2017-04-25 19:42] ktbyers commented on #441
I still think we need someone to sign-up for implementing on the other 20-25 platforms (i.e. working out the commands for performing a save_config for that platform). Or at least > half of them.

Even if we don't have a device to test on.

If we can get closer to 50-75% coverage on the platforms, then I would be more interested in doing this.

[2017-04-26 11:25] ram2711 commented on #211
@ktbyers It was a mistake in dictionary variable where the device details are mentioned. I got it corrected. Sorry for the trouble. Thank you so much for the concern. Your work has helped me a lot. Thanks a ton. :D

[2017-05-03 03:46] NedySuprianto opened #455 "hi guys, can i grab router/switch temperature, cpu utilization, and memory usage and convert it to graph using python??"
hi guys,i have router/switch temperature, cpu utilization, and memory usage (got it from CLI) and can i convert it into graph with python?

[2017-05-03 08:50] Bharath910 opened #456 "Not able to login to Extreme switch"
Hi All,

I am not able to login to Extreme switch, below is the code.

	'device_type': 'extreme',
	'ip': '192.168.211.8',
	'username': 'bharath',
	'password': '******',
	}

 I am getting below error, can any one explain why i am getting this error.
Traceback (most recent call last):
  File "<pyshell#9>", line 1, in <module>
    output = net_connect.send_command("show vlan")
  File "C:\Python27\lib

[2017-05-03 17:01] #456 closed

[2017-05-03 17:02] ktbyers commented on #456
See the fix above that I just implemented in the `develop` branch.

Please test it if you can.

[2017-05-03 17:06] ktbyers commented on #455
Yes, here is similar example that does some proof-of-concept graphing of interface data.

There are much better open-source solutions for graphing time series data, however.

[2017-05-03 20:56] rgk013 opened #457 "Checkpoint GAIA expert mode access"
How we can go into checkpoint gaia expert mode from cli.sh mode

Checkpoint if we change shell to bash mode for user it can be connected to expert mode .
if we are in cli.sh mode then need to enter "expert" command and password to get into expert mode
how we can automate using   ConnectHandler  .like cisco we have "secret" in dictionary  for enable mode .

[2017-05-03 21:03] maximumG commented on #455
We did such thing in my previous job by using:

 - Netmiko to interact with the device and send some commands to gather the output (CPU, temperature, CAM table,...)
- isolate and grab some relevant information from the output using TextFSM library
- insert these data into database

[2017-05-04 01:37] networkguy22 opened #458 "Cant load netmiko"
[code]

Any suggestions on how to resolve? The files are located in my C:\Python27 dir.

[2017-05-04 09:39] NedySuprianto commented on #455
@ktbyers yes, i think so for a better solution is open-source, but i just want to try build simple code to generate output cli to graph.

@maximumG now i do a same project like you did previously, need lots of examples for me as a newbie programer :), thanks for your information

[2017-05-04 16:48] ktbyers commented on #458
@networkguy22 I would probably try the following from the Windows prompt:

[code]

Then try to import netmiko again and see what happens.

Just re-open this issue again if you still have issues.

[2017-05-04 16:48] #458 closed

[2017-05-04 17:47] maximumG commented on #455
@NedySuprianto : basically we build a library that can be used as a translator between cli output gather and a JSON data-structure. The idea is to ask something to our library (e.g : cam table, interface statstics) and it renders a python/JSON datastructure as output. This output can then be used however you want (insert in database, graph,..). We also adapt this library to ansible as an ansible m

[2017-05-04 19:15] bobwinners opened #459 "Issue with HP Comware with banners that require Enter to accept"
Hello,

I noticed an issue with version 1.3 and 1.4 of Netmiko that was not a problem with version 1.2.8 of the package.

My HP comware switches have a disclaimer that requires the user to press the enter or y key to accept.  When setting up a ConnectHandler object, the process hangs.  This does not happen on my HP switches that do not have a disclaimer.   I have traced the hanging to the session_

[2017-05-04 19:37] networkguy22 commented on #458
For future readers this worked. Thank you as always for the help Kirk.

[2017-05-04 20:32] ktbyers commented on #459
@bobwinners Can you show me the banner messages you receive when you manually SSH to one of those switches.

Also can post the Netmiko error you receive when trying to connect to one of the switches that fails.

[2017-05-04 21:11] bobwinners commented on #459
I do not receive an error, it still just hangs.

Below is the banner that comes up after login
login as: admin
admin@10.1.5.15's password:

******************************************************************************
* Copyright (c) 2010-2013 Hewlett-Packard Development Company, L.P.          *
* Without the owner's prior written consent,                                 *
* no decompiling or rev

[2017-05-04 21:13] ktbyers commented on #459
Can you do `show version` from that device after you login (or the equivalent). I want to see the software and model.

[2017-05-04 21:14] ktbyers commented on #459
Is that your banner or an HP banner?

It looks like your banner...is this something you have configured?

[2017-05-05 00:59] bobwinners commented on #459
The wording of the banner is something that was configured as a "header legal" in the config.

Version Info:

dis version
HP Comware Platform Software
Comware Software, Version 5.20.105, Release 6708-US
Copyright (c) 2010-2013 Hewlett-Packard Development Company, L.P.
HP 7510 uptime is 82 weeks, 4 days, 8 hours, 52 minutes

[2017-05-05 01:00] bobwinners commented on #459
It freezes on the self._test_channel_read(pattern=r'[>]]') statement.

[2017-05-05 17:40] #455 closed

[2017-05-05 19:23] networkguy22 opened #460 "Credential Hash verification"
In my application If I wanted to do client side credential authentication for Cisco routers and switches as away of providing redundant security measure, is that possible? I believe Cisco devices have their secret passwords hashed in md5, so couldn't you theoretically create a hash table to accomplish this?

Also I wouldn't consider this an issue as much as a question, but I couldn't find an appro

[2017-05-05 20:17] ktbyers commented on #460
@networkguy22 Meaning you want to properly identify their SSH host key using ~/.ssh/known_hosts (or something else)?

[2017-05-07 17:00] networkguy22 commented on #460
correct

[2017-05-08 12:13] prince07 opened #461 "IOError: Search pattern never detected in send_command_expect:"
Dear,

I try to send some command through net_connect.send_command("command") but is showing error.

my code.

`net_connect = ConnectHandler(**cisco_4500)

net_connect.enable()
print net_connect.find_prompt()
net_connect.config_mode()
print net_connect.find_prompt()

config_cmd = [

'int range vlan 20-25, vlan 40, vlan 50-51, vlan 60, vlan 110' ,
'no ip helper-address 10.254.111.123' ,
'ip helper-

[2017-05-08 16:22] ktbyers commented on #461
@prince07 For config commands you need to use the send_config_set() method.

See near the bottom of this page:

https://github.com/ktbyers/netmiko

So:

[code]

Note, your helper-address configs aren't associated with an interface?

Also, note, you might want to just enumerate the VLANs and not use interface range. I say this because interface range can be slow and it is just a shortcut for the in

[2017-05-08 16:22] #461 closed

[2017-05-08 16:30] ktbyers commented on #460
See this article:

https://pynet.twb-tech.com/blog/python/paramiko-known-hosts.html

You should be able to pass in the arguments into Netmiko.

http://netmiko.readthedocs.io/en/latest/classes/base_connection.html

[2017-05-08 16:30] #460 closed

[2017-05-08 16:40] ktbyers commented on #457
@rgk013 Can you show me what the session looks like from the CheckPoint CLI when you do it manually?

[2017-05-09 10:14] rgk013 commented on #457
when login via cli prompt is as below..
GW>

on expert mode prompt is as below
[Expert@GW]

[2017-05-09 16:31] ktbyers commented on #457
@rgk013 You are going to have to show me in the CLI what you are looking to do in Netmiko.

Note, I have never used Checkpoint Gaia and it has been ~10+ years since I have used Checkpoint at all.

[2017-05-09 16:47] #457 closed

[2017-05-10 06:43] sjtarik opened #463 "Juniper SRX exit the configuration mode before committing"
Is below code correct for Juniper SRX? This works for MX's but with SRX, what I see is in debug mode, code exists the configuration mode without committing the changes. Workaround is to send a commit CLI as part of configuration commands sent along configuration items.

[code]

[2017-05-10 16:35] ktbyers commented on #463
Should be able to just do the following (shouldn't need to enter/exit config mode manually).

[code]

Let me know if that doesn't work.

[2017-05-11 09:05] alex2548 opened #465 "Nested SSH using netmiko"
Hi,
I'm new into netmiko, and i am trying to SSH into a CPE router via a PE router
i can SSH to the PE router with no problems.However, when trying to connect to CPE (in a VRF) i get a timeout exception: netmiko.ssh_exception.NetMikoTimeoutException: Connection to device timed-out: cisco_ios 33.33.33.33:22
is it because connectHandler is not VRF-aware ??
PE = {
    'device_type': 'cisco_ios',

[2017-05-11 14:54] 2001-g-1001 opened #466 "Set default connection method to Telnet when port 23 is specified"
Hello Kirk,

I think that this should be the default behavior when port 23 is specified and there is no '_telnet' addition specified at the device_type.

Best Regards!

diff --git a/netmiko/base_connection.py b/netmiko/base_connection.py
index 4f1409d..5bcf2dc 100644
--- a/netmiko/base_connection.py
+++ b/netmiko/base_connection.py
@@ -117,7 +117,7 @@ class BaseConnection(object):

         self._

[2017-05-11 16:41] ktbyers commented on #466
Netmiko Telnet support is too narrow to make this worthwhile.

[2017-05-11 16:41] #466 closed

[2017-05-11 17:07] ktbyers commented on #465
@alex2548 Netmiko is going to try to SSH to the IP address you specify...so it will try connect to 192.168.20.38 for the CPE device.

If this IP is not directly reachable from the Netmiko server, then the SSH will fail.

If you want to SSH to PE and then SSH to CPE, you will need to connect to PE and then manually control the SSH session to login to the second device (i.e. execute ssh -l username

[2017-05-11 17:34] kaage opened #467 "Cisco 3560 SSH problem "paramiko.ssh_exception.SSHException: No existing session""
I have problem to connect to Cisco catalyst 3560 switch using Napalm:
[code]

Manual SSH enforced to version 2 works well. Output of **show ip ssh** is below:

[code]

[2017-05-11 17:43] kaage commented on #467
I did following to get more debug:
[code]

and this produced following log:

[code]

[2017-05-12 10:10] NedySuprianto opened #468 "parse cli output to csv file from network device using TextFSM"
- Template Creation Help

hi guys, sorry for the inconvenience, i want to ask how to create new template TextFSM for '**_show memory statistics_**', i already looked at https://github.com/networktocode/ntc-templates/tree/master/templates but there's no '**_show memory statistics template_**'.

thanks :)

[2017-05-12 14:14] cldeluna commented on #468
Hi @NedySuprianto,

Try something like this:
I have two options for MEMTYPE, one for explicit matching and one for more general (commented out) but it may pick up more than you wanted.

I've attached the sample text I used and the CSV (saved as XLSX for upload here)  file of the results.
I tend to process lots of files at once so I always start with the hostname but you can do that other ways and

[2017-05-15 02:24] NedySuprianto commented on #468
hi @ktbyers

this is like what i want,i tried it and its worked.
thanks for your help @ktbyers  this is so helpful :)

[2017-05-15 21:07] rverchere commented on #444
Do you need some help about this issue, as I have poweconnect 5524 device?

[2017-05-15 21:07] Badgerpoo commented on #413
New environment with more up to date software:

[code]

I ran the above code with the following, apparently successful result:

[code]

[2017-05-16 07:27] steinarrimestad opened #469 "Enable telnet for Cisco IOS XR"
Telnet is enabled with cisco_ios_telnet for Cisco IOS devices, but not possible to use cisco_xr_telnet

[2017-05-16 10:43] Badgerpoo commented on #413
I just tested using the same versions of everything, and the same python environment, on a debian 8 physical machine against the same switches, and it works perfectly.

Seems to be something about the Centos VM I'm running from? It's on Hyper-V if that makes any difference.

[2017-05-16 15:03] Badgerpoo commented on #413
Further testing reveals that the debug scripts work on physical centos7, and fail on Hyper-V centos 7. Something about how Hyper-V VMs work seems to be breaking it?

[2017-05-17 05:05] sdulloo opened #470 "SSH to an ASA from a Jump router"
I need to ssh to an ASA after ssh into a jump router. I tried to use Connect Handler twice but not sure if that's the right way to do it. Can you please advise Kirk??

[2017-05-17 05:17] sdulloo commented on #470
from netmiko import ConnectHandler
from getpass import getpass
import sys, os

ip_addr = ("10.52..x.x")

user_name = raw_input("Enter your username to SSH:")
print ("####  Enter your password  #####")
pwd = getpass()

ssh_device = {
	'device_type': 'cisco_ios',
	'ip': ip_addr,
	'username': user_name,
	'password': pwd,
	'port': 22,
}

print ("SSH")
net_connect = ConnectHandler(**ssh_device)
print (

[2017-05-17 11:17] NedySuprianto opened #471 "parse cli output 'show proc cpu history' to file csv (Using TextFSM,etc)"
is anyone have idea how to read this table and parse out to csv file or something, i need to convert it into graph(if possible).
i really confused how to read this table, not like 'show inventory' or 'show version' there's have a TextFSM Template to parse out the data, how about 'show proc cpu history' there's have TextFSM Template or anything?

**_show proc cpu history(from show tech.txt)_**
![sh

[2017-05-17 15:01] Badgerpoo commented on #413
Extensive testing has revealed the problem lies in the network and/or f5 somewhere. Closing this issue!

[2017-05-17 15:01] #413 closed

[2017-05-17 16:47] ktbyers commented on #471
Just use SNMP and grab the CPU usage from this (and then for historical data store into some time-series system).

[2017-05-17 16:53] ktbyers commented on #470
@sdulloo See this article here:

https://pynet.twb-tech.com/blog/automation/netmiko-proxy.html

Note, the format of the SSH-config specifier changed in Netmiko 1.4.0. See the 1.4.0 release notes for new host specifier:

https://github.com/ktbyers/netmiko/releases/tag/v1.4.0

[2017-05-17 16:58] sdulloo commented on #470
Thank you so much for replying!! I already read the entire artlicle. I have netmiko1.4.0 installed. The only thing i dont understand is that i am not using LINUX. I m using windows so where can i find the sshconfig file to edit it??

[2017-05-17 17:06] sdulloo commented on #470
@ktbyers

[2017-05-17 17:07] ktbyers commented on #470
I am sorry I mis-read part of your issue.

So you are trying to SSH into your network by bouncing through one router to another. That is going to be hard.

Let me update my response...give me a minute.

[2017-05-17 17:09] sdulloo commented on #470
I m bouncing from a jump router(IOS) to a cisco ASA. Our environmrnt has a policy that we cant directly access the ASA from wireless which is making things so hard.

[2017-05-17 17:15] ktbyers commented on #470
So I think you will need to try to do the following:

[code]

then, you need to use the redispatch method (to switch the Netmiko class to an ASA)

[code]

Note, you are going to need to debug the login above and get it working reliably (add additional delays...maybe even make it a loop so it will try again if it fails).

[2017-05-17 17:19] sdulloo commented on #470
To make sure the first part of the code which is
print ("SSH")
net_connect = ConnectHandler(**ssh_device)
# Make sure SSH connection is working at this point
print ("SSH prompt: {}".format(net_connect.find_prompt()))

This is for SSH into the Jump router right ???

[2017-05-17 17:21] ktbyers commented on #470
No that first part is just a copy of what you had for the SSH into IOS router.

The part starting here is where you start trying to SSH into the ASA
[code]

[2017-05-17 17:22] ktbyers commented on #470
FYI, turning on logging (this will write a file named test.log in your current directory) might also help (i.e. for you to see what is happening).

[code]

[2017-05-17 17:27] sdulloo commented on #470
awesome i'm gonna try doing this... Thank u so much!! this will be awesome :) I will update you if i have issues.. i'm actually driving!! will do as soon as i reach work !!

[2017-05-17 17:33] sdulloo commented on #470
Can you tell me what version of netmiko we need to use for redispatch?? will 1.4.0 work??

[2017-05-17 17:53] ktbyers commented on #470
Yes, it is in Netmiko 1.4.0.

[2017-05-17 18:36] ktbyers commented on #444
IIRC, some of the behavior was different in the powerconnect telnet code versus powerconnect SSH code...I suspect this was due to different platforms of PowerConnect, but someone should probably look into this.

If you want to look into it, that would be great.

[2017-05-17 18:38] ktbyers commented on #469
Yes, someone needs to write the driver to support telnet on IOS-XR.

If you want to do this, submit a Pull Request on it.

[2017-05-17 21:38] sdulloo commented on #470
*     This is a private computing system that is restricted to   *
*     authorized individuals. Actual or attempted unauthorized   *
*     use of this computer system will result in criminal and or *
*     civil prosecution. We reserve the right to view, monitor   *
*     and record activity on the system without notice or        *
*     permission. Any information obtained by monitoring,

[2017-05-17 22:50] sdulloo commented on #470
I'm all the way into the ASA
52n-asa-test>
AFter this i get a timeout error... not sure how to get to enable mode and then config mode.
@ktbyers

[2017-05-17 23:28] ktbyers commented on #470
After, you redispatch, then you should be able to use the `enable` method.

[code]

For config mode, then you can just use standard Netmiko method:

[code]

Let me know if this works.

[2017-05-17 23:58] sdulloo commented on #470
Hmmm that's what I thought but I'm getting a timeout error after getting into asa!!
This is the last I see 52n-test-asa>

[2017-05-18 00:28] ktbyers commented on #470
Okay, let me look at the error you posted (and see if I can see why it is failing).

[2017-05-18 03:03] NedySuprianto commented on #471
i actually build app to grab data from router/switch (build my own SNMP) for my internship project with python using netmiko, matplotlib, TextFSM which can convert the data into a graph, and my boss told me to grab 'show proc cpu history' too, i confused how can i grab if the data like that.
hhmmm... should i use SNMP Tools to grab it? i think i will working twice here, have another way??

[2017-05-18 03:17] sdulloo commented on #470
import time
from netmiko import ConnectHandler
from getpass import getpass
import sys, os

ip_addr = ("10.x.x.x ")

user_name = raw_input("Enter your username to SSH:")
print ("####  Enter your password  #####")
pwd = getpass()

ssh_device = {
	'device_type': 'cisco_ios',
	'ip': ip_addr,
	'username': user_name,
	'password': pwd,
	'port': 22,
}

# SSH Connection to first Device
print ("SSH")
net_co

[2017-05-18 03:17] sdulloo commented on #470
Type help or '?' for a list of available commands.
52n-asa-test>
Traceback (most recent call last):
  File "test10.py", line 45, in <module>
    redispatch(net_connect, device_type='cisco_asa')
  File "build\bdist.win32\egg\netmiko\ssh_dispatcher.py", line 140, in redispatch
  File "build\bdist.win32\egg\netmiko\cisco\cisco_asa_ssh.py", line 19, in session_preparation
  File "build\bdist.win32\egg

[2017-05-18 03:17] sdulloo commented on #470
@ktbyers

[2017-05-18 15:54] ktbyers commented on #471
IMO, it is a bad idea to try to do a complex TextFSM parsing against a poor ASCII screen-graph when you just have the data directly and can easily just grab the data and make a very nice graph.

If you don't want to use SNMP, then you could use SSH and grab this:

[code]

And then parse it to get the number you want (i.e. 5-second; one-minute average, etc)

[2017-05-18 15:59] ktbyers commented on #470
@sdulloo Do you have a secret set?

[code]

It should be in enable mode at this point and it isn't?

Does the log file show anything?

[2017-05-18 16:46] ktbyers opened #472 "Using str in some of the netmiko code"
Shouldn't be doing this for py2/py3 compatibility.

[2017-05-18 17:02] sdulloo commented on #470
i didnt do the log file test yet!!

So are you saying that i need to have these commands after redispatch??

ssh_device1 = {
  'device_type': 'cisco_asa',
  'ip': ip_addr1,
  'password': pwd,
  'secret': enable,
  'port': 22,
}

so after redispatch it should go to enable when i give it net.connect.enable() and then issue commands but instead it gives errors. I dont have the secret set for asa!! No

[2017-05-18 17:02] sdulloo commented on #470
@ktbyers

[2017-05-18 17:25] ktbyers commented on #470
@sdulloo No, I am just wondering whether in your original device definition whether you had a secret. The ASA code should have the following:

[code]

So if you have a secret, defined then it should have went into enable mode. But we see it fail right after this (as disable_paging requires us to be in enable mode, but we aren't).

So then I am wondering, why aren't we in enable mode.

[2017-05-18 17:32] sdulloo commented on #470
So in my first device which was a jump router i dont have a secret defined because we dont need that on that jump router...

ip_addr = ("10.x.x.x ")

user_name = raw_input("Enter your username to SSH:")
print ("####  Enter your password  #####")
pwd = getpass()

ssh_device = {
	'device_type': 'cisco_ios',
	'ip': ip_addr,
	'username': user_name,
	'password': pwd,
	'port': 22,
}

# SSH Connection to

[2017-05-18 17:41] ktbyers commented on #470
In your code, just before you do the redispatch do the following:

[code]

[2017-05-18 18:17] sdulloo commented on #470
I did that !! So now it gave me the prompt for passowrd which is great, but then it says net_connection is not defined.

Type help or '?' for a list of available comman
52n-asa-test>
Password:
Traceback (most recent call last):
  File "test10.py", line 47, in <module>
    net_connection.secret = 'secret'
NameError: name 'net_connection' is not defined
PS C:\Users\sdulloo\Desktop\Scripts>

[2017-05-18 20:05] ktbyers commented on #470
My bad...net_connect (not net_connection)

[code]

[2017-05-18 20:18] sdulloo commented on #470
net_connect.secret = 'pwd'
redispatch(net_connect, device_type='cisco_asa')

#net_connect.enable()
#output = net_connect.find_prompt()
#print (output)
output = net_connect.send_command("show run")
print (output)

Did this but still get a timeout error.

Traceback (most recent call last):
  File "test10.py", line 48, in <module>
    redispatch(net_connect, device_type='cisco_asa')
  File "build\bdi

[2017-05-18 20:27] ktbyers commented on #470
Okay, that is an improvement. It is failing on going into enable mode.

You will probably need to look at the log file and see if there are any clues. It basically says it tried to read data and there wasn't any data.

[2017-05-18 20:46] sdulloo commented on #470
Thank you for telling me to do that !! i checked the logs and looked like that it was taking the secret password as to what i was hardcoding in net_connect.secret = 'xxx'

So i tried the real pwd and hardcoded it in the code and it worked. But i dont want to hardcode it, so i did 'secret' = getpass() befor the  net_connect.secret = 'secret' command but it doesnt like that.

is there a way i can ge

[2017-05-18 20:46] sdulloo commented on #470
@ktbyers

[2017-05-18 20:49] ktbyers commented on #470
You could probably do something like this:

[code]

[2017-05-18 20:53] sdulloo commented on #470
OMGGGGG I love you !!! This is so sweet @ktbyers i cant tell you how much i was stuck on this jump router deal :):) i was almost abt to give up!! but you are great :) This rocks!!

[2017-05-19 02:53] NedySuprianto commented on #471
i already grabed
`CPU utilization for five seconds: 10%/0%; one minute: 2%; five minutes: 1%`
parse it to text and makeit to graph, that's why i really confused when my PM tell me to grab 'show proc cpu history'.hmmmm... maybe i'll find another way to parse it and make it to graph.

[2017-05-19 06:55] #471 closed

[2017-05-19 08:00] tafiela opened #473 "NetMikoTimeoutException: Timed-out ."
Hi,

I am new to programming and want to thank Kirk Byers for this awesome helpful module.  Everything has been working great until I pushed it a little bit, here is my code:

'
import time
import telnetlib
import getpass
import sys
import os
from netmiko import ConnectHandler

username = raw_input('Please Enter your username: ')
password= getpass.getpass()

host = {'172.16.1.133': 'west_switch'}

[2017-05-19 13:56] Goldish21 opened #474 "IOError: Search pattern never detected in send_command_expect:"
Hi,

I am trying to fetch network logs from a repository, HP server, for a particular IP and trying to display it but getting the following errors:

---------------------------------------
[Fri May 19 09:49:13.636747 2017] [cgi:error] [pid 7672:tid 2552] [client ::1:64776] AH01215: Traceback (most recent call last):\r: C:/xampp/cgi-bin/login.py, referer: http://localhost/wp/login/?preview_id=224&p

[2017-05-19 18:36] jacrotts commented on #441
I would be open to implementing it on the other platforms as well, but I just wouldn't have gear to test it on.

[2017-05-19 18:55] ktbyers commented on #441
Yes, if you want to take a go at implementing it that would be great. It is okay to not have the gear to test it on.

You just need to determine for each platform what the commands are to do this.

[2017-05-19 19:05] ktbyers commented on #473
Use the `send_config_from_file(filename)` method to send configuration commands from files.

That method will automatically handle opening/closing the file.

[2017-05-19 19:37] ktbyers commented on #474
@Goldish21 What kind of device are you connecting to?

It is running Linux?

[2017-05-19 19:38] Goldish21 commented on #474
Yes, it's an MDS server. Running GAIA OS but i am pulling logs from Expert mode.

[2017-05-19 19:41] ktbyers commented on #474
If you are just interfacing to it at the Linux level, then something like Ansible will be much easier to accomplish this.

There is a `checkpoint_gaia` device type and a 'linux' device type...but I would look at Ansible (if possible).

You probably won't be able to use the hp_procurve device type.

[2017-05-19 19:43] Goldish21 commented on #474
Thanks! for your time. I used paramiko and it's working.

[2017-05-19 19:44] ktbyers commented on #474
FYI, you still might want to check out Ansible...it makes this kind of thing very easy.

[2017-05-19 19:44] #474 closed

[2017-05-19 19:46] Goldish21 commented on #474
Sure, I will. I am following your articles :)

[2017-05-19 22:00] jacrotts commented on #441
I will start compiling a list of the commands for each platform.

[2017-05-20 08:58] tafiela commented on #473
Hi Kirk,

Thanks for replying.

still the same issue, here is what i used :
` ssh_connect.send_config_from_file(value) `

same error, here is the error:

`File "Network_Configuration.py", line 103, in <module>
    ssh_connect.send_config_from_file(value)
  File "/Library/Python/2.7/site-packages/netmiko/base_connection.py", line 925, in send_config_from_file
    return self.send_config_set(cfg_fil

[2017-05-22 02:35] NedySuprianto commented on #468
i solved this problem, should we close this issue?

[2017-05-22 16:39] #468 closed

[2017-05-23 20:56] sanuma02 commented on #456
Hello @ktbyers I tested the fix you shared, however I got no luck

kwargs.setdefault({'auto_find_prompt', False})
TypeError: unhashable type: 'set'

send_config_set for Extreme devices works fine is the send one that is giving me issues.

[2017-05-23 23:52] piyushshewkani opened #475 "Loading a configuration from txt file takes a lot of time"
Hi,

I am practicing network automation using netmiko library and have been able to do so only because of the great content provided by Kirk Byers. Thank you so much sir!

I created a code which loads the configuration from a text file in a certain directory on to the cisco device. I have created the whole lab on GNS3. The code is running perfectly fine it's just that it takes a lot of time to pus

[2017-05-24 16:26] ktbyers commented on #475
@piyushshewkani How many configuration commands are in `config_commands`?

[2017-05-24 19:21] piyushshewkani commented on #475
Hi,

It's the whole configuration taken from txt file. I am attaching the file so that you can look for yourself.
[R2_backup2.txt](https://github.com/ktbyers/netmiko/files/1026798/R2_backup2.txt)

When we normally ssh connect to a device via putty or any other terminal and copy paste the configurations from a text file, it happens in 5-10 seconds. The script is taking way too much time to accompli

[2017-05-24 21:37] ktbyers commented on #475
@piyushshewkani Yes, you should probably use NAPALM (napalm-ios) replace operation for this. It uses Netmiko under-the-hood for this, but should be faster.

90 seconds sounds a bit slow (meaning it is longer than I would have expected), but it also isn't going to happen in 5-10 seconds using straight Netmiko.

You can parallelize, if you use napalm-ansible, it will automatically parallelize to 5 d

[2017-05-25 05:42] #470 closed

[2017-05-25 05:45] ktbyers commented on #473
@tafiela You probably should turn on logging and see if you can get more details on what if fails.

[code]

What are the configuration commands you are doing?

[2017-05-25 05:47] ktbyers commented on #456
@sanuma02 What version of Netmiko are you using?

[2017-05-25 17:03] kbirkeland opened #477 "No EOF checks after calling `self.remote_conn.recv()`"
Both `_read_channel()` and `_read_channel_expect()` do not check for EOF after calling `self.remote_conn.recv()`.  This causes a connection which has closed to raise

`NetMikoTimeoutException("Timed-out reading channel, pattern not found in output: {}".format(pattern))`

This isn't exactly desired behavior as it makes it hard to discern whether the command just took too long or the connection is d

[2017-05-25 18:51] ktbyers commented on #477
@kbirkeland `_read_channel()` checks if data is available (in the case of SSH) i.e. it uses `recv_ready()` call or else it breaks out of method (so above should be very unlikely in case of `read_channel()`.

Yes, differentiating between the SSH socket closing and not getting the expected data back is probably hard with `_read_channel_expect()`.

Can you just check this?

[code]

This is probably n

[2017-05-25 19:05] kbirkeland commented on #477
While it may be unlikely, testing error cases with sockets is a good thing as unexpected things are bound to happen at some point.

The assumption that connections don't usually close mid-usage is probably true for one-shot scripts, but when using a long running connection such as napalm with salt, this happens quite often if an exec-timeout is set.  When the exec-timeout hits, the connection dies

[2017-05-25 19:23] ktbyers commented on #477
@kbirkeland Fair enough on Salt + NAPALM.

If you are going to submit it on napalm-ios, we should probably discuss the most logical place to include it (netmiko or napalm-ios). It goes to me either way.

Adding @mirceaulinic into this...as this mostly pertains to Salt.

[2017-05-25 19:59] ktbyers commented on #477
I don't have preference here (mainly want to avoid adding much complexity)...so if you have proposals, let me know.

[2017-05-26 16:25] toghraee commented on #467
I have the same problem.  the error is from Paramiko

python2.7

import paramiko
ssh = paramiko.SSHClient()
ssh.load_system_host_keys('/root/.ssh/known_hosts')
ssh.set_missing_host_key_policy(paramiko.WarningPolicy())
ssh.connect('celort18', username='user',password='pass', key_filename='/root/.ssh/id_rsa', allow_agent='False')

`Traceback (most recent call last):
  File "<stdin>", line 1, in <mod

[2017-05-27 16:11] #477 closed

[2017-05-27 19:48] ktbyers commented on #467
@kaage What does `debug ip ssh` on the router side show?

[2017-05-28 13:37] tafiela commented on #473
Unfortunately, now I'm not even getting to that point, im getting the infamous

`paramiko.ssh_exception.SSHException: Error reading SSH protocol banner`

**here is my python file**

`
import time
import getpass
import os
import logging
from netmiko import ConnectHandler

logging.basicConfig(filename='test.log', level=logging.DEBUG)
logger = logging.getLogger("netmiko")

password=getpass.getpass()

[2017-05-28 15:04] tafiela commented on #473
I simplified my script to make it easier to pinpoint the issue, however getting the same exact error. I am able to mitigate the error using an exception handling with the try-except

**_here is my script :_**

`import time
import getpass
import os
import logging
from netmiko import ConnectHandler

logging.basicConfig(filename='test.log', level=logging.DEBUG)
logger = logging.getLogger("netmiko")

[2017-05-29 01:51] ktbyers commented on #473
Changing the hostname is problematic; you will probably need to handle that separately (as it changes the router prompt).

You also don't need `config t` (as it does that automatically).

So try it without the `hostname` change and see if it works.

[2017-05-29 05:55] toaster09 opened #479 "Help to access network device via ssh over jump server from windows script server"
Hi below is the code I've used, im very new to programming

from netmiko import ConnectHandler
import time
from netmiko import redispatch

jumpserver = {
        'device_type':'linux', <<<<<<<<<<<<<<< tried using terminal server as well
        'ip': '192.168.5.2',
        'username':'xxx',
        'password':'xxxx',
}

net_connect = ConnectHandler(**jumpserver)
print net_connect.find_prompt()
net

[2017-05-29 06:03] tafiela commented on #473
Amazing, thank you, sir!

Solved!

[2017-05-29 06:03] #473 closed

[2017-05-30 06:13] jacrotts commented on #441
Here is my first pass at the supported/and somewhat tested platforms.
I can go into more detail as needed!

[netmiko_save_config_commands.txt](https://github.com/ktbyers/netmiko/files/1037370/netmiko_save_config_commands.txt)

[2017-05-30 07:00] kaage commented on #467
[code]

[2017-05-30 12:26] toghraee commented on #467
What I found today was that I have the same issue and same debug log as sent by Kaag on my Cisco Catalyst 6500 , running IOS s72033-advipservicesk9-mz.151-2.SY10

However, today I tried to connect a Cisco 3850 running cat3k_caa-universalk9.16.03.02.SPA
interestingly it worked on Cisco 3850.

I captured both paramiko logs on 6500 and 3850 to compare :

============6500============
paramiko.transpor

[2017-05-30 17:41] ktbyers commented on #467
@toghraee For your issue, can use see what happens if you change to the following:

[code]

i.e. if you use username/password authentication and not key authentication. Note, both use_keys and allow_agent are set to boolean False.

[2017-05-30 17:54] ktbyers commented on #467
@kaage I wonder if it might be this Cisco bug:

https://bst.cloudapps.cisco.com/bugsearch/bug/CSCsa83601/?referring_site=bugquickviewredir

[code]

You can use the following command to see if the key name matches the hostname/domain name:

[code]

[2017-05-30 18:01] ktbyers commented on #467
@toghraee I think your issue is probably a separate issue (so you should re-open a separate issue in Netmiko) as otherwise that will just cause problems to get conflated.

[2017-05-30 20:22] ktbyers commented on #479
I recommend you look at this article:

https://pynet.twb-tech.com/blog/automation/netmiko-proxy.html

Note, the format of the SSH config host identifier changed in Netmiko 1.4.0, see:

https://github.com/ktbyers/netmiko/releases/tag/v1.4.0

[2017-05-30 20:23] #475 closed

[2017-05-30 20:23] #469 closed

[2017-05-30 20:24] ktbyers commented on #465
Here is an issue where someone did something similar to this:

https://github.com/ktbyers/netmiko/issues/470

[2017-05-30 20:24] #465 closed

[2017-05-30 21:37] alex2548 commented on #465
That's what I was trying to do. Thanks a lot

On May 30, 2017 8:25 PM, "Kirk Byers" <notifications@github.com> wrote:

[2017-05-31 06:25] toaster09 commented on #479
Thanks I've managed to resolve the issue using data from the below link, thanks for the awesome module as well

https://github.com/ktbyers/netmiko/issues/470

[2017-05-31 06:25] #479 closed

[2017-05-31 08:33] toghraee commented on #467
@ktbyers   Thanks Kirk.
actually my environment is purely public key authentication based with no password.

this command :
`ssh.connect('SWITCH_IP',  username='USERNAME', password='PASSWORD',
      use_keys=False, allow_agent=False)`

didnt work even on my 3850 switches which works with public key authentication using below command
`ssh.connect('SWITCH_IP', username='USERNAME',password='KEY_PASS_

[2017-05-31 12:47] kaage commented on #467
Hi, my crypto key names are like the ones below:
[code]

I don't think this is that bug as I'm able to login via SSH. Also ios_facts module of Ansible works well with this device.

[2017-05-31 16:55] ktbyers commented on #467
@toghraee Yes, I wanted to have you test with username/password as I wanted to isolate the problem (i.e. whether it pertained to key authentication).

I vaguely recall that the error message made me believe it was a key authentication issue.

Note, I am pretty sure people are using Netmiko with Cat6500s.

Like I said, open a separate issue if you want my help (as it is a different issue than the o

[2017-05-31 17:00] ktbyers commented on #467
@kaage Good points...

Let me look at what Ansible is doing (and see if they are even using Paramiko in Ansible 2.3 for ios_facts).

[2017-05-31 17:14] ktbyers commented on #467
@kaage Okay, I don't think Ansible is using Paramiko any more in Ansible 2.3 (so it working there doesn't really tell us much).

It would be interesting to know if ios_facts in Ansible 2.2 works or not (they might still be using Paramiko in Ansible 2.2).

[2017-05-31 17:37] ktbyers commented on #467
@kaage What IOS version are you running?

Can you try re-generating your SSH keys on the router?

Also, can you ensure the new key is in the SSH known-hosts file on the server running netmiko (i.e. manually SSH to the router once from this machine).

[2017-05-31 17:41] ktbyers commented on #467
My reading of these messages...is router closes the SSH session "EOF in transport".

Router says the following:

[code]

Strange it says SSH1 (and says SSH1 earlier). Cisco bug I read yesterday reported this as a documentation bug.

[2017-06-02 15:03] soaliou opened #484 "Search pattern never detected"
Hi guys,

I am writing a code and It stops at "int loopback3" level no ip address assigned  Not sure exactly what I am missing in my code. I am new to netmiko and python.
Thank you in advance.

[code]

[2017-06-02 15:10] Demacr commented on #484
Maybe do you need call connection.find_prompt() after 'int loop3' command because your prompt changed from 'ESW1(config)#' to 'ESW1(config-if)#'?

[2017-06-02 15:37] soaliou commented on #484
still the same. stuck 'ESW1(config-if)

[2017-06-02 15:40] Demacr commented on #484
Print your new code and traceback.

[2017-06-02 15:44] Demacr commented on #484
So, now I understand one thing. You call find_prompt(). Delete all find_prompt()'s in your code and try again.

[2017-06-02 15:45] soaliou commented on #484
delete " connection.find_prompt() " ?

[2017-06-02 15:46] Demacr commented on #484
Yep )

[2017-06-02 15:49] soaliou commented on #484
All the show commands work fine. but not enable.  Still stops at interface loopback3

[2017-06-02 15:52] soaliou commented on #484
I am using a text editor Notepad++ to run my script

[2017-06-02 16:03] soaliou commented on #484
But should not affect the output. Even from the python shell it stops at "interface "loopback3" level

[2017-06-04 21:25] gmcms commented on #441
You can add (no enable nor config mode):

Alcatel AOS
write memory flash-synchro

Thanks

[2017-06-06 21:12] jacrotts commented on #441
added
[netmiko_save_config_commands.txt](https://github.com/ktbyers/netmiko/files/1056381/netmiko_save_config_commands.txt)

[2017-06-07 03:02] kingcmy opened #488 "How can I connect to host use pem file with ssh？"
How can I connect to host use pem file with ssh？please display a example, thanks!

[2017-06-07 11:02] kaage commented on #467
@ktbyers I'm running IOS release 15.2(3)E1. Regenerating SSH keys didn't help. SSH keys are in known-hosts file. I'm wondering if this could be  performance / timing related issue as 3560 is old and not very powerfull architecture?

Session disconnected message appeared in the router debug way after Paramiko raised error. As you can see in my log message I was already typed "undebug all" as I was

[2017-06-07 12:33] milind1234567 commented on #321
Hello Ktbyers,
I installed netmiko using below command but got error at the end
C:\Python27>python -m pip install netmiko

"    build\temp.win32-2.7\Release\_openssl.c(434) : fatal error C1083: Cannot open include file: 'openssl/opensslv.h': No such file or directory
    error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio 9.0\\VC\\BIN\\cl.exe' failed with exit status 2

    ----------

[2017-06-07 16:51] ktbyers commented on #488
Can you give some more details on what you are trying to do?

A host...you mean a Linux box? or a network device (which type)?

Also post your current code.

[2017-06-07 16:55] ktbyers commented on #467
Yes, Cisco logging generally is not close to real time (i.e. a message will come out a considerable time after it happened especially when there are quite a few messages).

So I still think the router message is the relevant message.

Paramiko just checks whether the session is alive in `t.get_remote_server_key()` and determines it isn't.

So I still think it is the network device that is probably

[2017-06-07 17:00] ktbyers commented on #484
@soaliou For configuration changes, always use `send_config_set()` or `send_config_from_file()` methods.

So it should be pretty close to this:

[code]

Netmiko will automatically handle entering/exiting config mode.

Trying to do this manually with `send_command` is challenging as the prompt is changing.

[2017-06-07 17:00] #484 closed

[2017-06-07 17:00] ktbyers commented on #484
Just re-open if this doesn't work.

[2017-06-07 17:01] ktbyers opened #489 "Looking into using select for Netmiko operations"
https://pymotw.com/2/select/

[2017-06-08 00:26] ktbyers commented on #321
@milind1234567 What happens if you do the following?

[code]

[2017-06-08 01:50] kingcmy commented on #488
@ktbyers
We use Jumpserver(http://www.jumpserver.org/) to connect servers and network devices,it deploys on CentOS6.0 and use pem files has encrypted to login, I want to connect the Jumpserver than connect the network devices through it.I use paramiko to connect jumpserver below,sorry my English is very poor,hope you can understand it :

import paramiko
hostname = '1.1.1.1'
username = 'mianye.chen

[2017-06-08 13:30] milind1234567 commented on #321
Hello Kirk,

Getting same error with "Failed building wheel for Cryptography"

On Thu, Jun 8, 2017 at 5:56 AM, Kirk Byers <notifications@github.com> wrote:

[2017-06-08 17:53] ktbyers commented on #321
@milind1234567 What version of Windows are you on?

[2017-06-08 18:33] ktbyers commented on #488
...you aren't using Netmiko?

Here is how you would do an SSH proxy setup with Netmiko. Note, the host identifier changed in Netmiko 1.4.0 so see this for reference to that change:

https://github.com/ktbyers/netmiko/releases/tag/v1.4.0

[2017-06-09 01:04] kingcmy commented on #488
@ktbyers
I just ask how to using netmiko to connect device through pem file that encrypted...
I post the example just means I know use paramiko to do it...
Thanks for your answer,I'll try it.

[2017-06-09 10:01] kaage commented on #467
Can I somehow ensure paramiko is using SSHv2?

[2017-06-09 16:26] ktbyers commented on #467
Paramiko only uses SSHv2; it doesn't use, have support for SSHv1...that is all from Cisco. There is a Cisco bug that states the reporting of SSHv1 here is just a documentation bug (i.e. that it is actually SSH2)

[code]

I am not sure I believe it, however, since it was reporting SSHv1 up higher.

[2017-06-09 16:47] ktbyers commented on #488
@kingcmy Okay...I understand what you are trying to do now.

Unfortunately, I don't have support for encrypted keys. I need to add in support for the `pkey` argument.

[2017-06-11 11:02] paleni opened #490 "Huawei: diagnose mode doesn't work"
Script gets stuck after executing 'diagnose' command because prompt changes. That's how CLI normally looks like after entering 'diagnose' mode:

[code]
In my code I use send_command_expect() after config_mode(). Without diagnosis mode everything works fine though

[2017-06-12 07:16] paleni commented on #490
I found that .send_command() with expect_string parameter specified may be used as a workaround here. Like this:

[code]
But I think that it would be better to have diagnose_mode and exit_diagnose_mode in huawei_ssh.py module.

[2017-06-12 17:18] ktbyers commented on #490
Your solution looks reasonable. You could also try using `send_command_timing` method in which case it won't care that you are in diagnose mode.

I probably don't want to add a special diagnose mode in for Huawei as I want to avoid having many methods that are specific to one vendor.

[2017-06-12 22:37] ktbyers opened #491 "SCP transfer change window-size to reasonable value."
An update to the group regarding code uploads with netmiko on cisco devices (edited)
by default most cisco devices have this setting only shown when performing: sh run all | in tcp

ip tcp window-size 4128

this will drastically slow down file transfers. for example a 178 mb file took over 3 hours due to this horrible window size after changing to

ip tcp window-size 65535

the file transfer was a

[2017-06-13 07:39] plasmixs opened #492 "root login for linux/ovs"
Should the username 'root' be allowed for the linux and ovs devices ?
Rather the initial ssh login should be non-root and when changing to enable/config mode
the sudo su does change to the root user. This keeps it consistent with Cisco and other devices,
where you need to change to enable/config to perform privileged operations.

[2017-06-13 07:40] plasmixs commented on #492
With root username when logging to linux issue #348 is encountered.

[2017-06-13 14:41] rwwelford commented on #386
I also am having this issue when running commands for multiple devices.  I tried several different global_delay_factors (1,2 and 3) without success.

I finally "resolved" the issue by adding a time.sleep(1) after the " my_thread.start()" line in each of the netmiko_tools utilities but I would be very interested in a real solution.

[2017-06-13 15:09] clatcho opened #493 "Testing web connectivity after connection established"
i am trying to test web connectivity from a Cisco router after i am connected.

I want to be able to do something like this :

telnet 212.58.244.57 80 /source-interface Eth0
GET /index.htm HTTP/1.1
host: news.bbc.co.uk

So, lets say the above is in a list, and then

	print 'send > ' + commands[0]
	print net_connect.send_command(commands[0],expect_string='Open') < This is working

	print 'send > '

[2017-06-13 17:16] ktbyers commented on #493
Can you post the contents of `commands` so I can see what the contents of command[0], [1], [2] are exactly?

[2017-06-13 17:34] ktbyers commented on #386
@rwwelford Can you create an issue into netmiko tools and show what your solution ended up being?

Kirk

[2017-06-13 17:37] clatcho commented on #493
The commands

telnet 212.58.244.57 80 /source-interface Eth0
GET /index.htm HTTP/1.1
host: news.bbc.co.uk

[2017-06-13 17:39] ktbyers commented on #493
Yes, I want to see the code...as it matters if the code has an enter in it or not.

For example, `write_channel` you must add a newline to it (as write_channel is pretty low-level). Whereas `send_command` will automatically send an enter, by default.

[2017-06-13 19:00] clatcho commented on #493
three 	= 'telnet 212.58.244.57 80 source-interface Eth0'

	four	= 'GET /index.htm HTTP/1.1\n'

	five	= 'host: news.bbc.co.uk\n'

	command_list.extend((three,four,five))

I have played around with the carriage returns, but no joy so far.

For the last command, i thought i could wait for the closing html, but

  `print net_connect.send_command(commands[2],expect_string='</html>') `

however, i event

[2017-06-13 19:18] clatcho commented on #493
I got it working, should have had more patience, sometimes its better to walk away from the screen and think about it . . .

[code]

Not sure if this is the best approach, but it works, thanks for all your hard work with netmiko, i use it nearly every day at work

[2017-06-13 19:38] #493 closed

[2017-06-15 02:53] fumeng2005 opened #494 "Huawei switches have no enable mode."
Huawei switches have no enable mode that causes an exception to be raised when a network is added.
The exception msg is as follows:"Failed to enter enable mode"

[2017-06-15 02:55] fumeng2005 commented on #494
https://bugs.launchpad.net/networking-generic-switch/+bug/1697440

[2017-06-15 02:57] fumeng2005 commented on #494
edit /usr/lib/python2.7/site-packages/netmiko/huawei/huawei_ssh.py
and rewrite the methos for HuaweiSSH class:
class HuaweiSSH(CiscoSSHConnection):
    。。。。。。
    def enable(self, cmd='enable', pattern='password', re_flags=None):
        return “”

[2017-06-15 21:01] nsnoonan opened #495 "Unable to log into Brocade ICX (fastiron) when RADIUS authentication for Enable is configured"
I'm testing using a Brocade ICX7250.  If enable authentication is disabled with the following command, everything works:
`aaa authentication enable default none`

If enable authentication is configured to use RADIUS:
`aaa authentication enable default radius local`

I get the following when connecting:
[code]

Here is what a login looks like with enable radius configured:
[code]

[2017-06-16 05:16] jdimstrnate opened #496 "device type = cisco_ios_telnet - reverse telnet"
I am newer to python and have read the documentation but can't identify how to make netmiko enter credentials more than once when prompts are seen.

trying to telnet to a Terminal Server to validate console ports via script.
ranging from telnet ports 2051-2063   Only trying one port at the moment.
Error shows **actively refused** however I tested connection from same box using telnet and it works.

[2017-06-16 23:31] rbthomp opened #498 "SHOW_RUN_MAPPER for Alcatel AOS"
Hello, I was looking at the SHOW_RUN_MAPPER and noticed that command 'show configuration snapshot' is the command used for returning the running config. Do you plan to use the send_command() to execute this? If so, note that the session prompt is a line item in the config and will result in a partial config being returned by send_command().

To address this in my code I had to use send_command_exp

[2017-06-17 19:34] jftuga opened #499 "set_base_prompt for ubiquiti_edge"
I am using device_type=ubiquiti_edge but my edge router has a different default prompt. I just installed the latest firmware on my EgdeRouter Lite 3 (v1.9.1.1).

    obj = {'username': 'ubnt', 'ip': '192.16.1.1', 'verbose': True, 'port': 22, 'password': b'whatever', 'device_type': 'ubiquiti_edge'}

When I ssh in, my shell prompt look like this:

    ubnt@ubnt:~$

I can then type 'configure' which

[2017-06-18 18:55] ktbyers commented on #499
Okay, looking into this...

[2017-06-18 19:15] #494 closed

[2017-06-18 19:18] ktbyers commented on #494
@fumeng2005 This was fixed and added to the `develop` branch.

Can you update the issue here and let them know it will be in the next Netmiko release:

https://bugs.launchpad.net/networking-generic-switch/+bug/1697440

[2017-06-18 21:02] ktbyers commented on #496
@jdimstrnate You probably need to add the `port` into the connection (otherwise Netmiko will assume port 23)

[code]

Let me know if that works?

[2017-06-19 02:08] fumeng2005 commented on #494
thx, I will do it.

[2017-06-19 12:07] andyburridge opened #500 "Reload router kills SSH session before I can manually close it down"
Hey Kurt, firstly thanks for all your hard work.

I'm trying to upgrade a bunch of routers, iterating through a text file for IPs, changing the boot parameters, then issuing a write mem/reload.  I'm using the following, similar to your ASA upgrade example code:

[code]

The issue comes that as soon as the router acknowledges the 'y' and begins the reload process, the script hangs, presumably becau

[2017-06-19 13:52] andyburridge commented on #500
I've worked around this, thanks:

[code]

[2017-06-19 13:52] #500 closed

[2017-06-19 14:20] lykinsbd commented on #499
After looking at this in conversation with @ktbyers on Slack, I can confirm that EdgeOS is behaviorally similar to VyOS, and we'd need to have similar behavior as [listed in the VyOS class](https://github.com/ktbyers/netmiko/blob/98d0961adf1aefae45f1d83d84d63ef584b62b82/netmiko/vyos/vyos_ssh.py) where we don't attempt to Enable, etc.  The `#` prompt only appears in Configure mode (`configure`) and

[2017-06-19 17:38] jftuga commented on #499
I can confirm the prompt issue is now fixed. Thank you.

The next issue is that my script will hang after this:

    cmd = "configure"
    net_connect.send_command(cmd)

I believe this is because the prompt changes from '$' to '#' and netmiko is waiting for a '$' but will never get it.  How can I fix this?

      File "C:\Python35\lib\site-packages\netmiko\base_connection.py", line 815, in send_co

[2017-06-19 19:10] blbrown06 opened #502 "ValueError: Failed to enter enable mode"
I receive error "ValueError: Failed to enter enable mode" when "AAA new-model" is configured on the switch. When I remove AAA new-model from the config,  the script works great. Any ideas?

from netmiko import ConnectHandler

test = {
	'device_type' : 'cisco_ios',
	'ip' : '172.16.1.140',
	'username' : 'cisco',
	'password' : 'cisco'}

connect = ConnectHandler(**test)
config_cmds = ['interface g0/1'

[2017-06-19 20:44] lykinsbd commented on #499
@jftuga You don't want to send `configure` as a command, you need to use the other method on net_connect, `send_config_set`, to get into configuration mode, Example:

[code]

If you just want to view config that's when you'd use `net_connect.send_command()`:

[code]

If you use `send_config_set` it has handling for `$` vs `#` built in.

[2017-06-20 03:10] fumeng2005 opened #503 "Discussing about new huawei device."
I find the new huawei fiber switch: CE6850EI . The command is not completely similar with the existed huawei device in netmiko.
You need to execute 'commit' to make your configuration effective. For example:
#
interface 10GE1/0/10
 port default vlan 14
 device transceiver 10GBASE-FIBER
#
return
[~HUAWEI-10GE1/0/10]
[~HUAWEI-10GE1/0/10]port default vlan 50
[*HUAWEI-10GE1/0/10]d th
#
interface 10GE1

[2017-06-20 03:12] fumeng2005 commented on #503
https://review.openstack.org/#/c/473800/4/setup.cfg

[2017-06-20 17:07] lykinsbd commented on #281
Just so we're clear, is the issue that you're encountering the `$` line truncation?

In looking at [cisco_asa_ssh.py, line 20](https://github.com/ktbyers/netmiko/blob/develop/netmiko/cisco/cisco_asa_ssh.py#L20) it appears that we're trying to set the terminal width in `Enable` mode.

However, because the ASA is strange you can only control the `terminal pager` length in `Enable` mode.  To control

[2017-06-20 17:51] ktbyers commented on #281
@lykinsbd Yes, that looks right (i.e. that is an error) and it needs done in config mode.

That is annoying that the ASA does that...

[2017-06-21 01:54] ktbyers commented on #502
Can you enable logging for more information as to what happens:

[code]

This will create a file named test.log in you the current working directory.

[2017-06-21 01:56] ktbyers commented on #503
@fumeng2005 Okay, someone will need to submit a PR to support this device.

[2017-06-21 07:31] fumeng2005 commented on #503
modify ssh_dispatcher.py:
CLASS_MAPPER_BASE = {
......
    'huawei': HuaweiSSH, # Huawei Network Operating System VRP V3 and V5
    'huawei_VRPV8': HuaweiSSH, # Huawei Network Operating System VRP V8.

[2017-06-21 07:32] fumeng2005 commented on #503
please help me to push it.

[2017-06-21 07:46] fumeng2005 commented on #503
I have no idea how to contribute to this project, I have no authority to git push my code. Is there any guidance to help me?Thank you.

[2017-06-21 16:46] elcolie opened #504 "netmiko with VPN"
Hi.<br>
I am now debugging the script. The environment is VPN therefore my ordinary `ssh` will be changed from `ssh root@202.111.xxx.yyy` to `ssh -b 10.134.5.5 root@202.111.xxx.yyy`

**Problem:**
The outgoing IP in my computer is not a VPN-IP. Then the target network device will not response to me and at my terminal receives an `ConnectionError` exception

**Question:**
How to set the source IP an

[2017-06-21 21:49] jftuga commented on #499
Using `send_config_set ` work for me.  I am now able to output the config.

Thank you!

[2017-06-21 21:49] #499 closed

[2017-06-23 13:44] lykinsbd commented on #281
Should I submit a PR to do one of the following:

1. Remove the attempt to set Terminal Width on the ASA
2. Change the Terminal Width method on the ASA class to execute via dropping into config mode

On the one hand, if there is output cut off on-screen, it may not serve people's purpose.

But on the other I don't know if it would be good to attempt config modifications without the user explicitly

[2017-06-23 19:43] ktbyers commented on #281
Yes, I think we should change the terminal width and document it...but agreed don't really like it.

I would say when we disconnect we reset it back to the default width.

So something like:
1. Check if we can get into config mode. If not, do nothing here.
2. If we can, set the terminal width. Save the previous terminal width in an attribute (default terminal width). Don't change it if is already

[2017-06-23 23:46] lykinsbd commented on #281
I can confirm (that in my experience) it doesn't cause any issues to have terminal width set to 511.  We run a fleet of 18,000 ASAs at work and haven't seen any ill effects from it.

However, I agree with you your logic above.  Especially on saving/setting it back to previous value.  "Leave No Trace" on the config, so to speak.

[2017-06-26 11:01] dtantsur opened #507 "Please include docs/source in the released tarballs"
Currently this directory is not present there at all. Probably needs adding to the MANIFEST.

[2017-06-26 11:23] dtantsur opened #508 "Please include unit tests in the release tarballs"
When packaging a Python library, it's handy to run unit tests to make sure you've done everything right. However, the "tests" directory is not included in the tarball.

I'd recommend to move "tests" under the main package, by the way.

[2017-06-26 17:15] ktbyers commented on #507
Yes, I think the docs tree probably needs removed or fixed. It was 1/4 done and not followed up on. I will probably just use readthedocs online and abandon this.

[2017-06-26 17:17] ktbyers commented on #508
Can you expand on why `tests` should be under the main package? Looking online about 1/2 of people put them in main package; about half put them at base directory (outside main package).

Unit tests require real devices to test against and also require some amount of customization (i.e. defining real devices). Not seeing the value of including in the tar ball--can you expand on this?

[2017-06-26 17:20] dtantsur commented on #508
It's not a requirements, just feels a bit more natural to me personally. Feel free to ignore.

Oh, I see. I assumed there is a test suite that can run by mocking hardware access. If it's not the case, then shipping them might not be useful indeed.

I'll leave it up to you whether to fix or close this request. Thanks!

[2017-06-26 17:24] ktbyers commented on #508
@dtantsur Yes, no mock at the current time...some very high percentage of issues relate to timing/behavior of screen-scraping of real devices so haven't implemented mock.

It would probably be worthwhile to create some amount of mock (to make sure something basic didn't get broken by a change/PR) and also so I could integrate better in Travis-CI tooling (i.e. automatically do at least a sanity che

[2017-06-26 17:24] ktbyers opened #509 "Build basic mock tests into Netmiko"
For improved testing and to allow for better integration to CI tooling (when real devices aren't present/available).

[2017-06-26 17:40] ktbyers commented on #508
New issue for creating Mock tests:   https://github.com/ktbyers/netmiko/issues/509

[2017-06-26 17:40] #508 closed

[2017-06-26 19:05] plicon opened #510 "IOError: Search pattern never detected in send_command_expect:"
When using the ubiquiti_edge device type the module trows an error when trying to enter the vlan database.

cmd_array = ['vlan database', 'vlan 666', 'vlan name 666 beastie boys', 'exit', 'exit', 'write memory confirm']
ssh_connection = ConnectHandler( device_type='ubiquiti_edge', ip='192.168.1.1', username=username, password=password, verbose=True, secret=enabled_passwd )
ssh_connection.enable()

[2017-06-26 19:15] plicon commented on #510
When using the ubiquiti_edge device type the module trows an error when trying to enter the vlan database.

`cmd_array = ['vlan database', 'vlan 666', 'vlan name 666 beastie boys', 'exit', 'exit', 'write memory confirm']`
`ssh_connection = ConnectHandler(
        device_type='ubiquiti_edge',
        ip='192.168.1.1',
        username=username,
        password=password,
        verbose=True,

[2017-06-27 03:39] fumeng2005 commented on #503
https://review.openstack.org/#/c/473800/5
Does someone help me to fix this problem?

[2017-06-27 03:40] fumeng2005 commented on #503
new device huawei_VRPV8 is necessary

[2017-06-27 07:03] plicon commented on #510
AFter another search I found this issue: https://github.com/ktbyers/netmiko/issues/461 which states you need to use send_config_set command to actually send configuration lines. That solved the issue.

[2017-06-27 07:03] #510 closed

[2017-06-29 18:11] jeffsilverm commented on #159
I would like telnet support for Juniper.  I have 1 lame use case and 1 good use case.  I am writing some test automation, and one of the requirements is to login to the serial console.  I have a solution now which uses telnetlib, and it works but it is not reliable.  The other requirement is that I am telnet directly.  The use case that the sshd has died or there is a firewall in the network that

[2017-06-30 03:58] aimman commented on #448
Hi,

Can I use netmiko for my cisco SG500 switch? I tested netmiko on my SG300 and it work, but sad to say it didn't work on SG500. I check the list of cisco devices, only SG300 are listed. I have lots of SG500 on our network w/c I am trying to configure/monitor.

Thank you.

[2017-06-30 16:34] ktbyers commented on #448
@aimman Did you try using the `device_type = cisco_s300`?

[2017-06-30 17:12] ktbyers commented on #159
@jeffsilverm Yes, feel to implement it (i.e. submit a PR on it). You can see what I did here for Cisco.

https://github.com/ktbyers/netmiko/blob/develop/netmiko/cisco_base_connection.py#L52

I don't know if I can bring myself to write more telnet code  :-)

[2017-07-01 01:11] aimman commented on #448
yes, I did try cisco_s300, it won't work, i'm new to python and i'm still trying to read the codes used
at cisco_s300. as of now no luck.

[2017-07-01 16:11] ktbyers commented on #448
@aimman Can you post the exception that you get using the `cisco_s300` device_type. Also can you post a manual CLI session with the SG500 (i.e. what it looks like to login).

Also, I assume you have the following configured on the SG500:

[code]

The above is required as otherwise the SG device prompts for the username twice which breaks the Netmiko SSH session (at least this is the behavior on th

[2017-07-05 06:12] jeffsilverm opened #513 "OSError: Search pattern never detected in send_command_expect: (again)"
I hate to bring this up again, because you've kinda beaten to death in Issue 292, Issue 337, Issue 310, Issue 189,....  I am running version 1.4.1 on Python 3.5.2 on Ubuntu 16.04.2 with the 4.4.0-59-generic kernel.

I have a command that executes very slowly, copying a file using FTP.  Typical copy times are on the order of 30 minutes (1,800 seconds) when I do this interactively.

[code]

I have b

[2017-07-05 15:33] jeffsilverm commented on #513
I am going to try read_command and write_command.  Give me about 4 hours, please.

[2017-07-05 16:34] ktbyers commented on #513
@jeffsilverm FYI, I think the command above didn't actually complete in the time allocated:

[code]

[2017-07-05 16:35] ktbyers commented on #513
Does this work. Note, I changed the expect string below to be a raw string r">" and eliminated the sapce below:

[code]

[2017-07-05 16:38] ktbyers commented on #513
The delay_factor basically multiplies all the delays. So setting to 2 will double the delays; setting to 4 will quadruple the delays.

By default send_command/send_command_expect will wait for about 90 seconds before giving up (delay_factor = 1).

max_loops also can be used to adjust how long it waits.

On my ToDo list is to unify the timeouts into a more logical timeout, but it will probably be S

[2017-07-05 16:41] ktbyers commented on #513
I am pretty sure it is failing here:

https://github.com/ktbyers/netmiko/blob/96b133a84d4f4ee1847351d24d90de7cf60e1921/netmiko/base_connection.py#L810

On quick glance the OSError vs IOError is probably due to some Python changes.

[2017-07-05 18:52] jeffsilverm commented on #513
Keith,

That worked, except I had to change the max_loops to 2000.

I am contemplating setting the max_loops to a number, 2000, and putting in an exception handler that increases max_loops by a certain amount (TBD) every time the OSError exception is raised.  Yes, that is a bit of a kludge, and I am open to a better suggestion.  Since I am using this in an automated test system which is running mo

[2017-07-05 18:52] #513 closed

[2017-07-05 20:23] ktbyers commented on #513
@jeffsilverm Okay, nice.

What I would like to do is make a more general timeout where you set the `timeout` on connect and then Netmiko would wait that long for a command to complete. So if your command took 10 minutes, you could just set the timeout to wait long enough.

...but probably not going to get to this until September/October.

Yes you could have some sort of try/except that increased `

[2017-07-05 21:23] tee-lake opened #514 "cisco ios-xr ValueError in Paramiko : p must be exactly 1024, 2048, or 3072 bits long"
Hi Ktbyers,

Looking forward to the best way to solve this error while connecting cisco ios-xr.  "ValueError: p must be exactly 1024, 2048, or 3072 bits long" from dsa.py.

Code snippets shown below:

from netmiko import ConnectHandler
cisco_ios_xrv = {
    'device_type': 'cisco_xr',
    'ip':   '192.168.179.154',
    'username': 'cisco',
    'password': 'cisco'
}
net_connect = ConnectHandler(**ci

[2017-07-06 15:46] clatcho opened #515 "read_until_pattern & read_until_prompt"
mission :: log into cisco devices, test connectivity using ping and trace

problem :: command after trace is causing timeout

i am sending a simple traceroute

`trace vrf ABC 8.8.8.8 source vlan 10`

During the trace i hit a firewall, and then * * * , * * * * all the way to 30 hops, its this extra time that causing me issues.

I have tried lots, my current solution, which does not work is

[code]

[2017-07-06 19:07] ktbyers commented on #515
@clatcho I would probably just use the `send_command_timing` method which basically will default to waiting a certain amount of time and then give up.

You can use `delay_factor` and `max_loops` to influence how long it waits. In general, the pattern is it waits a certain amount of time for the first data and then some amount of time after that.

[code]

If that doesn't work, I would probably try:

[2017-07-06 21:47] ktbyers commented on #514
@tee-lake Can you re-generate your SSH key on the device and select one of the allowed values (1024, 2048, or 3072)?

[2017-07-07 10:24] clatcho commented on #515
ok, i can see by changing  delay_factor and/or max_loops i am getting different results.

i was hoping to accomplish something like this

`read_until_pattern(*args, **kwargs)`

then call upon, for a Ctrl+Shift+6 then X)
[code]

but, i was not able to get this to work.

[2017-07-07 14:36] clatcho commented on #515
I got this working with below

[code]

would have been good to use

[code]

so i dont have to wait for the command to finish.

[2017-07-07 14:36] #515 closed

[2017-07-07 16:44] ktbyers commented on #515
Yes, you can send a break. You just have to do it manually in your code.

[2017-07-07 18:38] BogdanTomoiu opened #517 "Can not configure HUAWEI routers - VRP"
Hello,
First of all - a real useful library.
Now,my problem: I am trying to configure some Huawei routers (ATN,PTN,NE40E - all with VRP). I can run some commands as "display version" but I am stuck with configuration.
Version - 1.4.1

import netmiko
from netmiko import ConnectHandler
import time
device = ConnectHandler(
        device_type='huawei',
        ip='10.255.82.136',
        username='aa

[2017-07-08 08:03] legionofdogg opened #519 "issue with saving running config to flash cisco ios"
Hello,

I would like your assistance with helping me to save my running-config to flash. When I run this bit of code I continue to run into a road block where it looks like its looking for a new line to be entered. I have tried concatenating a carriage return in the "copy running config" command. What do you think the best method of saving my running config to flash is?

Cisco Switch Output:

rtr0

[2017-07-08 15:39] ktbyers commented on #519
Don't try to send this from config mode:

I would do something like this:

[code]

[2017-07-09 04:49] tee-lake commented on #514
Hi ktbyers,

Thanks. It worked.

[2017-07-09 04:59] legionofdogg commented on #519
Thank you very much! I really appreciate your help with this. Hope you have a good weekend

[2017-07-10 01:47] tee-lake commented on #463
Hi ktbyers,

Below is what happens after sending commands to juniper devices if net_connect.commit(and_quit=True) is used. As mentioned by sjtarik, netmiko exits config mode thus changes made got discarded. It then logs in again to commit discarded changes thus not changes are made. Please view below.

DEBUG:netmiko:_read_channel_expect read_data: {primary:node0}[edit]

root@xxx-01#
DEBUG:netmiko:

[2017-07-10 16:30] ktbyers commented on #519
@legionofdogg Can you post your program? Please use triple backticks \`\`\` to enclose your code (so that it doesn't get distorted by the markdown).

[2017-07-10 16:55] ktbyers commented on #463
@tee-lake No the changes shouldn't get discarded. They are still there. You make a change, exit config mode (the changes are still in candidate config), you then go back into config mode and commit them.

That is what I see in your above trace.

Here is what it looks like if I do it manually on an SRX:

[code]

Let me know if I am missing something, but I am not seeing the issue.

[2017-07-10 16:58] ktbyers commented on #463
If you don't like that pattern, you can add this argument to `send_config_set()`:

[code]

So it won't exit config mode.

[2017-07-10 16:58] #463 closed

[2017-07-11 20:16] tee-lake commented on #463
I'll have to test if the above provides the desired result. However a quick look into "exit configuration-mode".
I do not think this works as demonstrated above for high-end srx device. Please see below

{primary:node0}[edit]
srx-5800-01# set security zones security-zone zoneA address-book address 10.10.10.10/32 10.10.10.10/32

{primary:node0}[edit]
srx-5800-01# **sh|compare**
[edit security zones

[2017-07-11 20:23] davama commented on #213
Looks like there hasn't been much movement here. Whats the latest?

We are testing ntc-ansible which depends on netmiko and found that it works only on ipv4 but not ipv6

netmiko (1.4.2)
ntc-ansible (0.1.0)

We are willing to test.

Thank you,
Dave

[2017-07-11 21:16] ktbyers commented on #463
@tee-lake You should be able to do the following then:

[code]

Basically, don't exit config mode on the changes. Then use the commit() method to commit the changes (and_quit just causes it to exit config mode after the commit).

[2017-07-11 22:29] jeffsilverm commented on #157
Yes, it is, but you have to somewhat read between the lines to get there.  See http://netmiko.readthedocs.io/en/latest/classes/base_connection.html and look at the send_command method.

Also, take a look at [Netmiko Documentation Release 1.0](https://media.readthedocs.org/pdf/netmiko/latest/netmiko.pdf) by Kirk Byers.

I am contemplating writing more documentation on netmiko, which I think is pret

[2017-07-11 23:40] ktbyers commented on #213
Yes, I haven't done anything on this.

It would be interesting to see what happens if you just tried to feed it a `host=dns_name` where dns_name resolved to an IPv6 address or an `ip=ipv6_addr` argument.

In other words, I am passing these to Paramiko so it would be interesting to see what Paramiko does (if we passed in an IPv6 address.

@davama

[2017-07-12 14:35] tee-lake commented on #513
@ktbyers @jeffsilverm
As a clarification, will "NetMikoTimeoutException" be the right way to handle the timeout issue for a slow device such that max_loop parameter can be automatically adjusted. Can you please give a sample code snippet that illustrates the automatic adjustment?

Many Thanks

[2017-07-12 19:02] ktbyers commented on #513
The exception would possibly be IOError. There are many contexts where you can get an error due to not giving more time so you need to probably delimit it (i.e. are you talking about `send_command` in which case, you will probably get IOError).

I probably wouldn't automatically adjust, I would probably just call send_command using higher `delay_factor` and `max_loops` arguments.

For example:
[co

[2017-07-12 22:03] tee-lake commented on #463
@ktbyers

Yes. that worked!

[2017-07-14 17:17] theLORD97 commented on #321
I'm having the same issue as well, i have both parmamiko and netmiko installed3

Traceback (most recent call last):
  File "C:\Python27\Scripts\Lynda\Learning Pythong course\Ex_Files_UaR_Python\Exercise Files\mrv_config_template.py", line 5, in <module>
    from netmiko import ConnectHandler
  File "C:\Python27\Scripts\Lynda\Learning Pythong course\Ex_Files_UaR_Python\Exercise Files\netmiko.py", l

[2017-07-14 21:06] ktbyers commented on #321
@theLORD97 You have a file named 'netmiko.py' in this directory:

File "C:\Python27\Scripts\Lynda\Learning Pythong course\Ex_Files_UaR_Python\Exercise Files\netmiko.py", line 5, in

Consequently, this file is being used instead of the netmiko library. You need to move this 'netmiko.py' file to a different name. You also need to remove the 'netmiko.pyc' file from this directory.

[2017-07-14 21:11] theLORD97 commented on #321
oh ya and i think MRV is unsupported ?

ValueError: Unsupported device_type: currently supported platforms are:

[2017-07-14 21:17] ktbyers commented on #321
You need Netmiko 1.4.2 for MRV support.

[2017-07-14 21:18] ktbyers commented on #321
[code]

[2017-07-14 21:26] theLORD97 commented on #321
thanks Kirk, i guess i would have to remove the newer version then install the 1.4.2 version

[2017-07-15 05:53] bboylord opened #520 "NetMikoAuthenticationException: Telnet login failed: 10.X.X.17"
Hi, How are you, if you can give a view to this error that is presented to me with some devices, I would appreciate it.

It happens when I internally connect by Telnet to some devices in my network.

Code:

[code]

Wait try to connect

---------------------------------------------------------------------------
NetMikoAuthenticationException            Traceback (most recent call last)<ipython-inpu

[2017-07-15 09:00] legionofdogg commented on #519
'''
#!/usr/bin/env python

from __future__ import absolute_import, division, print_function

from getpass import getpass
import netmiko
import os
import sys

def get_input(prompt=''):
	try:
		line = raw_input(prompt)
	except NameError:
		line = input(prompt)
	return line

title = get_input('Name the file we are creating using YYMMDD: ')

devices = '''
10.11.12.1
10.11.12.2
'''.strip().splitlines()

[2017-07-15 17:42] ktbyers commented on #519
@legionofdogg Your indentation has an error here:

[code]

At least with what is posted above.

[2017-07-15 17:46] ktbyers commented on #520
@bboylord Try enabling logging and see if that gives you more information:

[code]

[2017-07-15 18:23] ktbyers commented on #517
@BogdanTomoiu Use the `send_config_set()` or `send_config_from_file()` methods:

[code]

[2017-07-15 18:30] ktbyers commented on #321
Newer version? 1.4.2 is the newest release.

[2017-07-16 00:26] abhay498 commented on #321
Hi Kirk,

I am facing issues while installing paramiko and netmiko on Ubuntu 16.04.

Thanks,
Abhay

[2017-07-16 04:05] ktbyers commented on #321
@abhay498 What happens when you try to install netmiko?

[code]

[2017-07-16 13:04] BogdanTomoiu commented on #517
Thank you very much. Works very nice - problem solved !

[2017-07-16 13:04] #517 closed

[2017-07-16 18:42] abhay498 commented on #321
abhay@abhay-VirtualBox:~/Desktop/kit$ ls
netmiko
abhay@abhay-VirtualBox:~/Desktop/kit$ cd netmiko
abhay@abhay-VirtualBox:~/Desktop/kit/netmiko$ pwd
/home/abhay/Desktop/kit/netmiko
abhay@abhay-VirtualBox:~/Desktop/kit/netmiko$ python3
Python 3.5.2 (default, Nov 17 2016, 17:05:23)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most re

[2017-07-16 18:42] abhay498 commented on #321
I installed paramiko, but not able to import it.

[2017-07-16 20:55] ktbyers commented on #321
@abhay498 What does this show?

[code]

[2017-07-17 04:01] lidewu opened #521 "extreme switch no enable mode"
@extreme_ssh.py

I modified it and connect to extreme switch as well.

[2017-07-17 05:01] abhay498 commented on #321
abhay@abhay-VirtualBox:~$ pip install netmiko
Requirement already satisfied: netmiko in /usr/local/lib/python2.7/dist-packages/netmiko-1.4.2-py2.7.egg
Requirement already satisfied: paramiko>=1.13.0 in /usr/local/lib/python2.7/dist-packages/paramiko-2.2.1-py2.7.egg (from netmiko)
Requirement already satisfied: scp>=0.10.0 in /usr/local/lib/python2.7/dist-packages/scp-0.10.2-py2.7.egg (from netmiko

[2017-07-17 06:29] laurentlgm commented on #496
I'm trying to reverse telnet directly to the serial port of a cisco router that is connected to a juniper console port.
In the example above would be the equivalent to "telnet 10.232.7.194 2051"
To do that I get two user/password prompts in sequence: First from the cisco that is acting as a terminal server then from the Juniper that is controlling who gets access to its console.

I've tried using

[2017-07-17 08:39] laurentlgm commented on #496
I think I'm never hitting this: https://github.com/ktbyers/netmiko/blob/develop/netmiko/base_connection.py#L381

After entering the password for the first time, netmiko is expecting to get either '#' or '>' but instead it gets the huge banner that is setup on the Juniper device.
From the log:

[code]

The huge banner finishes with a "login:" prompt but netmiko never gets to that part...maybe becau

[2017-07-17 09:21] laurentlgm commented on #496
Yep, that worked like a charm. Added .5 to the delay_factor and "ogin" to the user pattern:
[code]

Here's the new code that does reverse telnet directly to the Juniper device (as long as the same user/pass can be used for both the cisco terminal server and Juniper target device):
[code]
I'm still leaving the user logged as I get out...I there a way to fix logout before disconnecting?
Plus, it see

[2017-07-17 14:12] Rosiak opened #522 "bug: Cisco ASA terminal width"
Hi there,

Netmiko tries to set the terminal width, but fails, as "terminal width" can only be set in Global configuration, whereas "terminal pager" can be set in Privileged EXEC.

This results in the following error for the "terminal width" command:
ERROR: % Invalid input detected at '^' marker

Ref:
http://www.cisco.com/c/en/us/td/docs/security/asa/asa-command-reference/T-Z/cmdref4/t1.html#pgfId

[2017-07-17 14:35] ktbyers commented on #522
@Rosiak Yes, we need to fix that.

Closing this issue as it is a duplicate of this one:

https://github.com/ktbyers/netmiko/issues/281

[2017-07-17 14:35] #522 closed

[2017-07-17 14:36] 1-61803 commented on #166
@ktbyers, could you please add to the [tutorial](https://pynet.twb-tech.com/blog/automation/netmiko.html) that `.enable()` is required for most show commands and for configuration mode. A 'secret' key/argument might led to think that the connection automatically handles this, when it's not — it certainly did to me.

[2017-07-17 17:23] ktbyers commented on #166
It is on the README here:

[code]

Regards, Kirk

[2017-07-17 17:39] Rosiak commented on #281
Hi there,
Anything I can help with to improve progress of this issue?(Code, testing etc)

[2017-07-17 17:41] 1-61803 commented on #166
@ktbyers, well, in the README it's not in context. And it would do no harm adding it to the tutorial in the right place.

[2017-07-17 17:47] ktbyers commented on #496
@laurentlgm
You could probably do something like this:

[code]

That will cause you to exit and not hang.

Note, this is not closing your terminal server connection so that terminal server line is not in use. If you want to exit from that, you will have to manually handle it (i.e. send the special sequence to break out of that terminal server connection).

[2017-07-18 02:33] laurentlgm commented on #496
@ktbyers
I had tried 'exit' but it hangs for 500 loop cycles because it goes back to the juniper login screen where netemiko does not find the prompt: https://github.com/ktbyers/netmiko/blob/develop/netmiko/base_connection.py#L785

Log:
[code]
It then finally fails out after the 500 read cycles with "Search pattern never detected in send_command_expect: user\@device >"

Tried the ctrl + ] escape s

[2017-07-18 11:02] 1-61803 opened #525 "support for (multiple) jump hosts argument without config file"
Could you add such a feature? Possibly defining an argument locally for single devices and globally for all connections opened by a script.

`'jumphost' : 'ssh -q -J user1@jumphost1,user2@jumphost2,user3@jumphost3 user@server'`

NB [This tutorial](https://pynet.twb-tech.com/blog/automation/netmiko-proxy.html) doesn't mention it, but for multiple jump hosts `OpenSSH` supports `-J` or `ProxyJump` si

[2017-07-18 18:00] ktbyers commented on #525
You can see if there is a way to do it via Paramiko.

If there is a way to do it via Paramiko, I might be open to it.

Netmiko uses Paramiko for its underlying SSH library.

[2017-07-18 19:26] 1-61803 commented on #525
I couldn't find a way following the documentation, so I opened [#1018](https://github.com/paramiko/paramiko/issues/1018). I don't think you can circumvent 1 or 2 jump hosts in most organizations, and as soon as you move away from the office network it just adds up.

[2017-07-18 20:14] ktbyers commented on #525
Depends on your environment, I would say VPNs are probably more common than Jump hosts, but it really depends.

Why not just SSH config and embed them in there? That is the standard solution to this problem.

[2017-07-18 22:30] 1-61803 commented on #525
I know there are [other methods](https://en.wikibooks.org/wiki/OpenSSH/Cookbook/Proxies_and_Jump_Hosts#Old_Methods_of_Passing_Through_Jump_Hosts), but I rather have this config inline with the node definition, or globally in the script, instead of tied to a host file.

[2017-07-19 10:22] MichalTaratuta opened #527 "Improve performance/run time"
I have just realised that the ssh connection method `ConnectHandler(**data)` takes **~4s !!!** any chance to improve it? When trying to run with Ansible this just creates 7s !!! tasks which in my opinion is not satisfactory.

[2017-07-19 15:20] theLORD97 commented on #321
Anyone know what this error means, i can't figure it out

Traceback (most recent call last):
  File "C:\Python27\Exercise Files\MRV_template\mrv_config_template.py", line 59, in <module>
    cfg_output_mrv = build_template("mrv_jinja.j2","mrv_var.yml")
  File "C:\Python27\Exercise Files\MRV_template\mrv_config_template.py", line 35, in build_template
    mrv_file = jinja2.template(config_file)
Att

[2017-07-19 17:47] ktbyers commented on #527
SSH screen-scraping is going to be slow. There is a very strong trade-off between how fast you do it and reliability (i.e. if you try to be very aggressive on timing, things start breaking).

You can probably try setting `global_delay_factor: .5` or to `.25` and see if the performance improves.

I might also try to restructure the timeout code to allow you to be more aggressive on the timing (i.e.

[2017-07-19 18:30] ktbyers commented on #321
@abhay498 You are missing the SSL development libraries on your system. If it is Fedora-system, you need:

yum install openssl-devel

[2017-07-19 18:34] ktbyers commented on #321
@theLORD97 You are going to have to post your code.

[2017-07-19 18:35] theLORD97 commented on #321
from __future__ import print_function
from getpass import getpass
from netmiko import ConnectHandler
from netmiko import NetMikoAuthenticationException
import jinja2
import yaml
from pprint import  pprint
from datetime import date
import re

def build_template(template_file, my_vars):
    with open(template_file) as f1:
        config_file = f1.read()
        #print (config_file)
        f1.close

[2017-07-19 18:39] ktbyers commented on #321
@theLORD97 I think this:

[code]

Needs to use a capital T (i.e. .Template).

[2017-07-19 18:41] theLORD97 commented on #321
WOW

[2017-07-19 18:56] theLORD97 commented on #321
ValueError: dictionary update sequence element #0 has length 1; 2 is required

[2017-07-19 19:39] ktbyers commented on #321
@theLORD97 Need to post the entire stack trace.

[2017-07-19 19:46] ktbyers commented on #525
Yes, this is just something I won't implement in Netmiko (it is too much of an edge case) and it probably is not supported by Paramiko.

[2017-07-19 19:46] #525 closed

[2017-07-19 22:53] 1-61803 commented on #525
I don't think it's an edge case and such parameters shouldn't depend on a host's config file.

`Paramiko` does support it, please see [this comment](https://github.com/paramiko/paramiko/issues/1018#issuecomment-316483867) from its developer for a reference.

[2017-07-19 23:45] ktbyers commented on #525
...interesting on Paramiko. I read that as more that Fabric supports it and you can build it using Paramiko (i.e. it could be implemented, but you would have to reverse engineer what Fabric did).

You can implement this in a separate SSH config file (i.e. you can decouple from ~/.ssh/config). The ConnectHandler argument is `ssh_config_file=/path/to/file`. So I am not understanding the issue (i.e.

[2017-07-20 12:12] 1-61803 commented on #525
I mentioned `ProxyJump` as an enhancement to `netmiko`. In my experience, I had 1 or 2 jump hosts at the very least and end nodes reachable through different jump hosts. Of course, I could work around this like you propose, but that's not very elegant code-wise. In case you change your mind, you can always ask `fabric`'s developer who also happen to be `paramiko`'s.

[2017-07-20 15:20] bill831231 opened #528 "send command "copy running-config tftp:\n %s\n\r" % Tftp_server""
Dear all,

I used the following lines to backup a configuration from cisco sw to a tftp server
[code]
it works with Catalyst switch, but when with Nexus, always facing an error as following
Exception in thread Thread-2:
[code]
seems the interaction between the netmiko and switch had an error, can not "#" from switch

Catalyst version 15.0(1)SE3
Nexus version 6.0(2)N2(2)
Netmiko 1.4.1

My question:

[2017-07-20 16:26] ktbyers commented on #528
@bill831231 Are you using a `device_type=cisco_nxos`.

Also a better pattern for handling commands with additional prompting is to do something like the following (using the send_command_timing() method).

[code]

[2017-07-22 06:16] ebmarquez opened #532 "device_type dell_force10 results in kwargs['device_type'] not in platforms"
Hello, I'm attempting to use a ConnectHandler() with a **dell_force10** in json input and it results in the following error:

[code]
I checked my python dest-packages/netmiko/ssh_dispatcher.py file and I do see the device type of 'dell_force10' in the list.  Any suggestions to get past this error.

[code]
Linux Version:

[code]

[2017-07-22 06:32] ebmarquez commented on #532
figured out why it failed, I needed to put the ** with the ConnectHandler(**dell).

[2017-07-22 06:32] #532 closed

[2017-07-24 07:19] bill831231 commented on #528
@ktbyers ,

Hi Kirk,

Thanks a lot for the feedback, I have repeat the test, here are some more details:
I have just tried your new commands, it works, and I have tried my code again with multi-thread and without multi-thread.
in the single Thread mode, the way with one all command in one line also works
command_ConfSave="copy running-config tftp:\n\r\n%s\n\r" % Tftp_server
result=net_connect.send

[2017-07-24 16:45] ddfrathb commented on #527
The send_command() by default expects the prompt - but it searches the entire output every line rather than each new line added to the output. Is this intentional or would it be worth changing?

Also, for the connection handler, would it not also be reasonable to expect the prompt rather than waiting for some time?

We're doing some additional testing but wondering f you intentionally do not do th

[2017-07-25 17:23] ktbyers commented on #527
@ddfrathb I don't think that is worth changing. That will be incredibly fast relative to the IO-wait times that we already have (i.e. the amount of time we spend interacting with the remote network device).

I think what is there is pretty reasonable. In general, it does this:

[code]

So it tests it can read the channel and sets the router prompt (which inherently has an aspect of finding the cur

[2017-07-26 15:36] ebmarquez opened #533 "command timeout with prompts on Lenovo"
I'm attempting to utilize netmiko with an unsupported device but it's work pretty close to to Cisco_nxos.  The issue i'm having is with interactive prompts.  When I attempt to submit a request to tftp a file, the switch is pretty limited in the syntax and only allows startup-config as the destination.   I have to deal with interactive prompt but I'm struggling with the way carriage returns are iss

[2017-07-26 16:06] ddfrathb commented on #527
But why would you want to read the entire output each time? I am just curious - we see large CPU utilizations on our larger service routers when executing these commands. I will explore implementing some small changes for those specific devices (alcatel_sros).

[2017-07-26 17:52] ebmarquez commented on #533
using send_command_timing seems to do the trick.

[code]
Output:
[code]

[2017-07-26 17:52] #533 closed

[2017-07-29 06:52] Ayushrimoh opened #535 "Not able to SSH to Extreme Device"
Could you help me with the below issue. Thanks for the help in advance.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python27\lib\site-packages\netmiko\ssh_dispatcher.py", line 131, in ConnectHandler
    return ConnectionClass(*args, **kwargs)
  File "C:\Python27\lib\site-packages\netmiko\base_connection.py", line 150, in __init__
    self.establish_connecti

[2017-07-30 00:20] ktbyers commented on #535
@Ayushrimoh Try turning on logging and see if that gives you more clues as to what happened?

See here for details on enabling logging.
https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

What kind of Extreme device is it?

[2017-07-30 03:36] Ayushrimoh commented on #535
It is a :
System Type:      BD-X8
Image   : ExtremeXOS version 15.7.2.9

[2017-07-30 03:56] Ayushrimoh commented on #535
Hi Kirk,

FYI, I am not able to SSH the device using PUTTY. I need to use some other
tool like a bastion host to SSH the device. Could that be causing any issue.

Also do you have any idea about Pexpect library?

Thanks and regards,
Ayush

On Sun, Jul 30, 2017 at 5:50 AM, Kirk Byers <notifications@github.com>
wrote:

[2017-07-31 03:55] 191801737 opened #537 "netmiko multiprocess_example by pyhon3.5"
have someone use netmiko  multiprocess connection netmork device by python3.5

[2017-07-31 04:30] ktbyers commented on #537
@191801737 It is better to state an issue if you have one. It should work fine with Python3.5.

[2017-07-31 09:24] 191801737 commented on #537
@ktbyers  ths for answer, i will try it later .

[2017-07-31 09:24] #537 closed

[2017-07-31 09:45] 191801737 opened #538 "netmiko use send_config_set configuration huawei device and save it"
there is my code by python
[code]

when i want to save the device configuration  but it not work well
[code]

[2017-08-01 17:44] ktbyers commented on #538
@191801737 Netmiko will automatically do the return.

...so don't do the `return` or the `save` inside the `send_config_set`

Do the `save` using the `send_command` method separately.

[2017-08-01 17:44] #538 closed

[2017-08-01 17:46] ktbyers commented on #535
@Ayushrimoh Here is how to SSH proxy with Netmiko

https://pynet.twb-tech.com/blog/automation/netmiko-proxy.html

With a modification here:

https://github.com/ktbyers/netmiko/releases/tag/v1.4.0

[2017-08-01 17:46] #535 closed

[2017-08-01 17:50] ktbyers commented on #528
@bill831231 What are you trying to do at a high-level? Is it just backup configurations? If so, don't use TFTP just use straight SSH to do this.

[2017-08-01 20:58] bill831231 commented on #528
Hi Kirk,

Thanks for the reply, backup configuration is the first function need this
kind of interactive method :), then I found it is very hard to do the
trouble shooting, since the output cannot be obtained with some easy way. I
have tried to give the parameter for pattern search, seems also easy to
write something with interaction, any suggestion for it?

thanks again, and nice evening

Mit fre

[2017-08-02 01:41] 191801737 commented on #538
ths i will try it ..

[2017-08-02 15:47] grockin50 commented on #520
I'm having similar issues with Telnet. Doesn't appear to be detecting the prompt after successful login.

[netmiko telnet issue.txt](https://github.com/ktbyers/netmiko/files/1194473/netmiko.telnet.issue.txt)

[2017-08-02 17:17] ktbyers commented on #528
@bill831231 So if single thread, you should be able to just do this (as you referenced above):

[code]

Not sure I understand your difficulty getting output statement? Are you talking in a multi-process/multi-thread context?

If running multithreads/multiprocess I would just make a function out of my backup process (note, I wouldn't use TFTP; I would do the backup straight using SSH i.e. just grab

[2017-08-02 17:31] ktbyers commented on #520
@grockin2500 Is that a single switch or two switches.

This switch was connected and command executed.
[code]

What issue are you seeing (i.e. what exception do you get)?

[2017-08-02 18:10] grockin2500 commented on #520
Thanks for the quick reply.  I should have been more detailed in my initial comment.

My script attempts to login with tacacs+ creds first before falling back to local credentials with message "Telnet login failed: 10.x.x.x". From the debug, it was able to login successfully with the tacacs and issue commands before disconnecting and trying local creds, which worked.

`Username:
DEBUG:netmiko:writ

[2017-08-03 09:31] 191801737 commented on #473
@ktbyers  how to change the hostname in cisco switch
i want to use the "send_config_set" change the hostname by netmiko (1.4.2)
[code]
NetMikoTimeoutException: Timed-out reading channel

[2017-08-03 10:47] kvishu17 opened #539 "Getting error while getting output from Cisco router net_connect.send_commad("sh ip int br")"
I am getting output error below for net_connect.send_commad("sh ip int br")

'Infi_Lab_RTR2800#'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'CiscoIosBase' object has no attribute 'send_commad'

[2017-08-03 13:13] 191801737 commented on #539
@kvishu17 you can try this
[code]

[2017-08-03 13:23] 191801737 commented on #519
@legionofdogg please try this code

[code]

[2017-08-03 13:28] 191801737 commented on #503
@fumeng2005  i recommend use ansible to configuration the huawei ce switch , ansible has power modules (cloudengine).
https://github.com/ansible/ansible/tree/devel/lib/ansible/modules/network/cloudengine

[2017-08-03 14:05] 191801737 opened #540 "how to change the cisco switch hostname"
there  is my python code
[code]
when i run the code  the cisco switch hostname has changed
but the code return something
[code]

[2017-08-03 17:27] ktbyers commented on #540
@191801737 Try (exit_config_mode=False)

[code]

[2017-08-04 00:05] ktbyers commented on #503
@fumeng2005 Sorry for slow response. I have been slammed with work for the last month or so.

Here is an outline of the process:

https://github.com/ktbyers/netmiko/blob/develop/VENDOR.md

Then you would create a pull request and submit it the project. If you have questions about contributing, you might want to ask them in the netmiko slack channel here

https://networktocode.slack.com

You can si

[2017-08-04 00:06] ktbyers commented on #503
Okay it sounds like this issue was fixed on the openstack side.

[2017-08-04 00:06] #503 closed

[2017-08-04 00:08] ktbyers commented on #539
@kvishu17 Yes, just looks like you have a typo (i.e. it needs to be `send_command` not send_commad.

[2017-08-04 00:08] #539 closed

[2017-08-04 00:16] ktbyers commented on #520
@grockin2500 Can you post your script and the error you get running it.

[2017-08-04 00:42] ktbyers commented on #540
Re-open if the above doesn't work.

[2017-08-04 00:42] #540 closed

[2017-08-04 00:46] ktbyers commented on #521
@lidewu Does the `enable()` call cause an issue?

I would have expected it to think it was already in enable mode and not cause any negative effects (although probably not needed)?

[2017-08-04 00:48] ktbyers commented on #519
@191801737 Why?

You shouldn't have either `end` or `write mem` in `send_config_set`. Netmiko will automatically exit config mode (so no need for end).

For `write mem`, use send_command() method for that.

[2017-08-04 00:48] #519 closed

[2017-08-04 00:51] ktbyers commented on #504
@elcolie This doesn't sound like a Netmiko issue.

You can't set the source IP in Netmiko (although maybe you can in Paramiko).

You can do SSH Proxy in Netmiko.

It is possible I am not understanding your issue though?

[2017-08-04 00:51] #504 closed

[2017-08-04 00:52] ktbyers commented on #502
No response on issue...closing.

[2017-08-04 00:52] #502 closed

[2017-08-04 05:23] kvishu17 commented on #539
Yes...I got mistake...Thanks for help.

[2017-08-04 07:03] bill831231 commented on #528
Hi Kirk,

Seems I have a special case, I have test the code for nexus with single
thread. it is working with the interaction way (send something, check the
result, then send something). then just change to a multi-thread way, it is
not working, then I want to check out what exactly is the going wrong(ssh
link, input, output or some other things), then faced some difficulties
there. and strange thi

[2017-08-04 20:55] superloopnetwork opened #541 "RequirementParseError & net_connect.enable() timing error?"
Hi All,

I'm a bit lost as to what the issue is.. It's intermittent.. Sometimes it works (barely) and most times it fails so I suspect it may have something to do with timing in how fast the program processes vs the remote SSH device... When it fails, I get this message...

`<Thread(Thread-1, started 140234025518848)>
No handlers could be found for logger "paramiko.transport"
Exception in thread T

[2017-08-05 01:34] superloopnetwork commented on #386
@rwwelford I tried your suggestion, putting the time.sleep(1) and it worked... But of course, slowing the processing down by a lot versus without the sleep... Which leads me to suspect the mutithread may be the issue? Is it processing it so fast that it's not able to keep up? Were you able to find a solution for this?

@ktbyers Do you have any insights on this?

[2017-08-05 01:36] superloopnetwork commented on #541
I think this issue may be related to https://github.com/ktbyers/netmiko/issues/386

[2017-08-05 17:32] ktbyers commented on #386
@superloopnetwork I suspect his AAA is getting progressively slower. A bunch of device logins at close to the same time. He then overcame this by just putting a 1 second delay between each device.

He probably needs to fix his AAA server performance issue.

[2017-08-05 17:32] #386 closed

[2017-08-05 18:46] s1405 opened #542 "super mode - comware"
hi, I tried both the enable method with a value for the secret key in the dictionary mode, and the send_command method passing 'super' as the argument, seems not getting past.

[2017-08-05 20:52] ktbyers commented on #542
@s1405 Can you show me what you are trying to do from the CLI (i.e. post the CLI behavior here)?

[2017-08-06 03:13] vantruongsinh opened #543 "Need help netmiko - Failed log to login"
Hi All,
I am new to Netmiko. I have to develop the script to push config to the switch and router.
The weird thing about my script is sometimes it works fine, sometimes it had errors and rerun exactly the same script and it works. I also add the 'global_delay_factor': 2 in the ConnectHandler. All devices are Cisco routers/switches

Let's say my script named scriptX.py. I am using raw_input to inpu

[2017-08-06 04:40] s1405 commented on #542
{'username': 'admin', 'ip': '192.168.56.11', 'secret': 'sooper', 'password': 'manage', 'device_type': 'hp_comware'}

u'system-view\r\r\nSystem View: return to User View with Ctrl+Z.\r\r\n[sw1]'
# this isn't going to the enable/super mode, instead it gets into the config/sys mode

u'return\r\r\n<sw1>'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python27\lib\

[2017-08-06 05:56] s1405 commented on #542
{'username': 'admin', 'ip': '192.168.56.11', 'secret': 'sooper', 'password': 'manage', 'device_type': 'hp_comware'}

u'system-view\r\r\nSystem View: return to User View with Ctrl+Z.\r\r\n[sw1]'
# this isn't going to the enable/super mode, instead it gets into the config/sys mode

u'return\r\r\n<sw1>'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python27\lib\

[2017-08-06 05:57] s1405 commented on #542
{'username': 'admin', 'ip': '192.168.56.11', 'secret': 'sooper', 'password': 'manage', 'device_type': 'hp_comware'}

u'system-view\r\r\nSystem View: return to User View with Ctrl+Z.\r\r\n[sw1]'
# this isn't going to the enable/super mode, instead it gets into the config/sys mode

u'return\r\r\n<sw1>'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python27\lib\

[2017-08-07 18:10] s1405 commented on #542
o1=c1.send_command('sup\npassword\n')... it worked via this. but I think it would be more relevant to get that worked through the enable method. as of now both enable and config_mode lead to the same place

[2017-08-07 20:53] ktbyers commented on #541
On issue # 1, are you passing in your arguments as named arguments or positional arguments:

[code]

Don't use positional arguments, only use named arguments. Also you should have either `ip` or `hostname` not both?

Can you reproduce the issue without threads?

On issue # 2, I would make sure you are passing in a secret using a named argument `secret="secret"`. It looks like something is happenin

[2017-08-07 20:57] ktbyers commented on #543
@vantruongsinh Can you provide the stack trace of a specific failure?

[2017-08-07 21:11] ktbyers commented on #542
@s1405 Can you show me what this looks like manually when you SSH in and do it from the CLI?

It is much easier for me to understand the behavior/problem this way.

[2017-08-08 09:39] vantruongsinh commented on #543
@ktbyers Can you tell me exactly code that I need to add :)
Thanks

[2017-08-08 16:12] aponteju opened #544 "Reload Commands Not Working"
I am using the asa_upgrade script provided here (https://github.com/ktbyers/netmiko/blob/master/examples/asa_upgrade.py). I modified this to perform upgrades on HA pairs. I first tried issuing "failover reload-standby" from the active firewall, but nothing seemed to happen. I then changed it to adding a second connection to the standby firewall and issuing a reload from that connection. This also

[2017-08-08 17:20] aponteju commented on #544
I should also mention that I am using Python 3.5, in case that matters.

[2017-08-08 17:31] aponteju commented on #544
Another trace

`Traceback (most recent call last):`
`  File "asa_upgrade.py", line 87, in <module>`
`    main()`
`  File "asa_upgrade.py", line 79, in main`
`    output += ssh_conn.send_command('reload')`
`  File "/usr/local/lib/python3.5/site-packages/netmiko/cisco/cisco_asa_ssh.py", line 51, in send_command`
`    output = super(CiscoAsaSSH, self).send_command(*args, **kwargs)`
`  File "/usr/loca

[2017-08-09 00:12] amangoel6 opened #545 "Netmiko and python"
Hi I am using Netmiko and pyhton to get clock and version of ASA, router and a switch.
Below is the error that I a getting. Any help will be appreciated.

Traceback (most recent call last):
  File "cmdrunner.py", line 40, in <module>
    print(connection.send_command(command))
  File "/usr/local/lib/python2.7/dist-packages/netmiko/base_connection.py", line 811, in send_command
    search_pattern))

[2017-08-09 00:13] amangoel6 commented on #545
Below is my script that I copied from one of your vedios

#!/usr/bin/env python

from __future__ import absolute_import, division, print_function

import time
import json
import netmiko
import mytools
import signal
import sys

# signal.signal(signal.SIGPIPE, signal.SIG_DFL)  # IOError: Broken pipe
# signal.signal(signal.SIGINT, signal.SIG_DFL)  # KeyboardInterrupt: Ctrl-C

if len(sys.argv) < 3:

[2017-08-09 02:26] amangoel6 commented on #386
Hi All,

I am facing a similar issue, when I run below code, I get IOError: Search pattern never detected in send_command_expect:

#!/usr/bin/env python
from netmiko import ConnectHandler
from getpass import getpass

ip_addr = raw_input("Enter IP Address: ")

device = {
    'device_type': 'cisco_asa',
    'ip': ip_addr,
    'username': 'admin',       # replace with your username
    'password': ge

[2017-08-09 02:40] amangoel6 commented on #386
I ran find_prompt to find my prompt and then i figured out it was stuck at -------more--------
So when i set my terminal pager to 0 it started working.

Is there any other solution to this?

[2017-08-09 10:49] s1405 commented on #542
@ktbyers

here is a sample output from the cli

--

<sw1>sup
Password:

--

# levels 0 to 15 possible

<sw1>super level-3
Password:
User privilege role is level-3, and only those commands that authorized to the role can be used.
User privilege role is network-admin, and only those commands that authorized to the role can be used.
<sw1>

--

we only type "quit" to get out of this mode

[2017-08-09 13:56] aponteju commented on #544
@ktbyers I actually solved this by changing the `reload` and `y` commands to `send_command_timing`.

[2017-08-09 16:20] #544 closed

[2017-08-09 16:50] ktbyers opened #546 "ASA fails to disable paging"
get IOError: Search pattern never detected in send_command_expect:

[code]

I ran find_prompt to find my prompt and then i figured out it was stuck at -------more--------
So when i set my terminal pager to 0 it started working.

Is there any other solution to this?

[2017-08-09 16:51] ktbyers commented on #546
@amangoel6

[2017-08-09 16:53] ktbyers commented on #546
It should do the disable of paging automatically?

https://github.com/ktbyers/netmiko/blob/develop/netmiko/cisco/cisco_asa_ssh.py#L19

Can you enable logging so we can see what happened, see here for how to enable logging:

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

[2017-08-09 16:56] ktbyers commented on #545
You need to show your external commands file also.

[2017-08-09 18:14] amangoel6 commented on #546
Thank you very much Kirk.
I tried above mentioned and setup log as well. It works just fine as it
suppose to be.

On Wed, Aug 9, 2017 at 12:54 PM, Kirk Byers <notifications@github.com>
wrote:

[2017-08-09 18:20] ktbyers commented on #546
@amangoel6 So are you still having an issue then?

[2017-08-09 18:26] amangoel6 commented on #546
Nope, It's all fine now. Script is running just fine No errors and no
issues. Really appreciate your help.
I am new with Netmiko and Python so I am playing in my Lab with different
scenarios. As of now it looks pretty good.

Once again, Really appreciate your work.

Regards,
Aman Goyal.

On Wed, Aug 9, 2017 at 2:20 PM, Kirk Byers <notifications@github.com> wrote:

[2017-08-09 18:38] #546 closed

[2017-08-10 16:18] johnarnold commented on #527
@ddfrathb I noticed the search every line issue and logged it with suggested fix in https://github.com/ktbyers/netmiko/issues/427

[2017-08-10 16:53] ktbyers commented on #527
@johnarnold I have been pretty swamped this summer...hoping to have more time to revamp a few things in the fall.

[2017-08-10 17:18] ddfrathb commented on #527
Hey @johnarnold just read #427 and is essentially the exact reason we have an issue. We have some routers with hundreds of thousands of routes and millions of lines of output. Thanks for noticing me :D I will follow up and we have implemented a basic fix similar to the one you suggested of just reading the last n bytes for the prompt.

[2017-08-10 17:43] ktbyers commented on #427
@johnarnold Your fix sounds reasonable. Do you want to submit a PR on it?

Kirk

[2017-08-10 18:49] ktbyers commented on #543
@vantruongsinh Can you show me exactly what happens when you try to execute your code (i.e. the messages that appear on your screen).

[2017-08-13 00:45] vantruongsinh commented on #543
Hi @ktbyers,
I have added the exception of NetMikoTimeoutException and NetMikoAuthenticationException to handle the normal error.

Other errors I just put it into Exception in general and print them to the screen to understand what wrong with it.

[code]
As I said, sometimes the code works, sometimes not. Just rerun the step and it will pass.

I am not sure about how I can save the log to record w

[2017-08-13 05:27] wisotzky opened #548 "Multi-vendor support for FileTransfer"
Seems like the current FileTransfer  implementation is designed for Cisco IOS only. Would like to have plugin mechanism, which supports features like file-size, space available, md5 checksums in a generalised way - that the calling application is somewhat vendor independent.

[2017-08-13 14:55] ktbyers commented on #548
Yes, probably could just do this through class inheritance. Someone would need to do the work, however, as it is quite a bit of work.

There also has been talk/work about doing this for NAPALM project.

[2017-08-13 15:01] ktbyers commented on #543
Also it is probably helpful to get rid of this (at least for testing)

[code]

i.e. comment that out and just let your program crash so that it generates the stack trace when it fails.

[2017-08-14 08:07] wisotzky commented on #548
Actually I came across this while building a new NAPALM driver for Nokia routers (running SR OS). My issue is, that when implementing the NAPALM method _load_replace_candidate()_ and calling line by line the netmiko _send_command()_ the performance is really bad.
The issue is likely related to the fact, that I am based in Frankfurt/Germany while my VSRs are in Canada - so round-trip latency is alm

[2017-08-14 10:56] vantruongsinh commented on #543
I am able to log in normal in the router CISCO2911 using ssh.

[code]

Log from logging:

[2017-08-14 16:55] lidewu commented on #521
@ktbyers  My Switch is summit series. X430 OS version is 16.2.3.5.
Here was got  an error which was enable self.enable().

<img width="1564" alt="2017-08-15 00 44 05" src="https://user-images.githubusercontent.com/6071871/29282059-f2f50536-8153-11e7-888f-a0c112591d42.png">

So, command out of self.enable() than connect well.

[2017-08-14 20:12] wisotzky opened #549 "Better auto-detection mechanism"
Just a bit confused, why the routerOS auto-detection rules are provided as part of _snmp_autodetect.py_, which is a central file shared for all implementations. I would really prefer, if any NAPALM driver could just contribute its own rule-set. So if you install a new driver, you would not need to update _snmp_autodetect.py_ as well.

Also there might be situations, where there are different confi

[2017-08-14 21:55] ktbyers commented on #549
@wisotzky Shouldn't you have created this issue in NAPALM and not in Netmiko? I don't see on the face of it, what it has to do with Netmiko?

Netmiko has two auto-detect mechanisms one that is SNMP based; the other that is SSH based. People are free to use them or not use them.

Do you have some reference where this auto-detection is currently being used in NAPALM?

[2017-08-14 22:04] ktbyers commented on #521
@lidewu Okay, I will fix and remove that. I think it was not needed (so if it also breaking something then I will eliminate).

[2017-08-15 00:23] ktbyers commented on #548
@wisotzky Note, I wrote most of the NAPALM-IOS code also.

Yes, you probably shouldn't use `send_command` for configuration changes. You should probably use `send_config_set()` method (and that probably needs optimized if you are doing large config changes).

But as you pointed out an SCP file transfer mechanism is probably better than this...

Yes if you want to augment the Netmiko FileTransfer c

[2017-08-15 00:26] ktbyers commented on #543
@vantruongsinh What does an SSH session look like if you login manually (please show the entire login process until you have the router prompt).

You can hide any confidential information like passwords.

[2017-08-15 01:17] vantruongsinh commented on #543
Hi @ktbyers
I stripped out some line in the banner in the comment above.

[code]

[2017-08-15 04:58] networkguy22 opened #550 "User Input Error handling issue"
I am trying to prompt the user for the information pertaining to the device ip and credentials, and then pass that input into the ssh session. I hate having credentials listed in scripts for security reasons, plus asking for raw_input allows scalability and less admin overhead if an organization requires credential changes on a rotating period. Add a little error handling to ensure the raw_input i

[2017-08-15 16:04] ktbyers commented on #543
Are you using SSH keys?

I don't see any username / password prompts in this output?

[2017-08-16 12:51] wisotzky commented on #548
I do agree to that approach. I will build my own implementation of FileTransfer. Still it might be good idea, if the framework could pick a FileTransfer class from the "device_type". So code from calling application gets more generic.

[2017-08-16 12:52] wisotzky commented on #549
Sorry for the confusion... You are right it should be mapped against NAPALM.

[2017-08-16 13:06] wisotzky opened #551 "dealing with multi-line prompts"
Kirk,
Could you give a recommendation, how to deal with devices having a multi-line command prompt?
Specific example:
[code]
In this case the command prompt is always 3 lines...
LINE#1: CRLF (empty line)
LINE#2: provides info about configuration mode and context in square brackets
LINE#3: Info about username and system name

To make functions like check_config_mode() happy, it would be required to

[2017-08-16 13:48] vantruongsinh commented on #543
@ktbyers sorry forgot to mention that I am using Windows and the software that I am using is Xshell. It has window popup to ask for my password. That's why it is not displayed here.
The below output from Putty

[code]

[2017-08-16 14:27] acon1831 opened #552 "Cisco 3650 - IOError send_command_expect"
Hello,

I'm trying Netmiko and I'm unable to run any show commands using send_command() or send_command_expect() on a Cisco 3650.  Below are my configs and the error I'm receiving when I run both commands:

#!/usr/bin/env python
from netmiko import ConnectHandler
import getpass

username = raw_input('Please enter your username: \n')
password = getpass.getpass('Please enter your password: \n')

cis

[2017-08-16 14:39] acon1831 commented on #552
Looks like the backslash got omitted in the IOError section on my original post.
<p>
IOError: Search pattern never detected in send_command_expect: TUKDDSW02\#
</p>
<p>
Looks like my issue is expecting TUKDDSW02\# not TUKDDSW02#.
</p>

[2017-08-16 22:44] shreyashah opened #553 "Timeout Exception in CiscoXR devices because colon and hostname being dropped in config mode to accommodate larger config string"

[2017-08-16 22:46] shreyashah commented on #553
I am connecting to Cisco ASR9k router and this is my config:

configs = ['redundancy',
          'iccp',
          'group 11',
          'backbone',
          'interface GigabitEthernet0/0/1/19']

/usr/local/lib/python3.6/site-packages/paramiko/channel.py:665: in recv
    out = self.in_buffer.read(nbytes, self.timeout)
/usr/local/lib/python3.6/site-packages/paramiko/buffered_pipe.py:160: in read

[2017-08-16 22:47] shreyashah commented on #553
It is because the hostname from the prompt when in configuration mode gets truncated

[2:50]
This is my hostname:      RP/0/RSP0/CPU0:asr9k-peer-infra#

[2:51]
RP/0/RSP0/CPU0:asr9k-peer-infra#-Debug---2017-08-16-T14-14-24[Timer]>elapsed time: 5.67 s
-Info----2017-08-16-T14-14-24[connection]>configuring.. vty
###############output =  config term
Wed Aug 16 14:11:14.206 UTC

########################

[2017-08-16 22:48] shreyashah commented on #553
before entering config mode, this is the prompt:
RP/0/RSP0/CPU0:asr9k-peer-infra#

In the config mode, the prompt changes to:
RP/0/RSP0/CPU0(config-redundancy-group-iccp-backbone)#

like mentioned earlier, colon and hostname(:asr9k-peer-infra) are dropped to accommodate the large config string (config-redundancy-group-icc-backbone)

[2017-08-17 04:14] superloopnetwork commented on #65
Hi Kirk,

If I'm configuring a device via console and I enable SSH management for the very first time, how would netmiko be able to access it if it doesn't have it's keys' saved? Any flags I can use to "auto add" the keys as suggested above?

Thanks.

[2017-08-17 04:26] superloopnetwork commented on #65
Sorry, I just tested and I think you have made it auto add by default.. Saves me the headache.. :)

[2017-08-17 19:13] taylor2464 opened #554 "Netmiko exits sub-config"
Hello,

We are running into an issue with Netmiko where if we need to send configuration commands, it can send them just fine in (config) but once you enter a sub config such as (config-if), Netmiko won't send the command and exit (config) all together. We are using Netmiko 1.4.2 with Python 3.6.1. I have also tested this on Python 3.5 with the same results. This occurs on both IOS-XE 03.06.03.E a

[2017-08-18 17:15] ktbyers commented on #554
@taylor2464 `send_config_set()` automatically enters/exists config mode. Also your commands in send_config_set need to be a list of commands i.e. ["int gi1/20", "shutdown"]

See comments here:

[code]

Does that fix your issue?

[2017-08-18 17:21] ktbyers commented on #550
@networkguy22 Can you post your raw_input() code and how you tie it into Netmiko?

[2017-08-18 17:23] ktbyers commented on #548
Yes, I might see if I can at least setup the device_type mapping to a class pattern in the fall.

[2017-08-18 17:31] b2sweety opened #555 "Cannot install config: Router prompt not found on Cisco 2911"
Hi All,
I am running a playbook to push configurations onto a Cisco 2911 switch.  I am getting the below error:
TASK [commit] **********************************************************************************************************************************************************
fatal: [firstrouter]: FAILED! => {"changed": false, "failed": true, "msg": "cannot install config: Router prompt not fo

[2017-08-18 17:37] ktbyers commented on #551
@wisotzky Which platform are you working on?

In Juniper, I just look for the ']' to verify if I am in config mode:

https://github.com/ktbyers/netmiko/blob/develop/netmiko/juniper/juniper_ssh.py#L59

[code]

The find_prompt() method is inherently finding only the last line there i.e. `A:admin@pe1#`. I don't think I would want multiline prompt in Netmiko as it would be a departure from how it is d

[2017-08-18 17:54] ktbyers commented on #552
@acon1831 Which version of netmiko are you using?

[code]

Can you turn on logging and see if we can get additional details on what is happening?

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

[2017-08-18 19:06] ktbyers commented on #555
How big is new_switch.conf (how many lines)?

Are you changing the hostname as part of this?

What happens when you perform the configure replace manually?

[code]

Note, make sure the candidate_config.txt matches the file you are trying to push before you do this. You can probably achieve this by setting `commit_changes: False`.

Also you might have a different file system than `flash:`

[2017-08-18 22:29] acon1831 commented on #552
Version:

Python 2.7.12 (default, Nov 19 2016, 06:48:10)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Please see attached for log.

Thank you!

Allan

On Fri, Aug 18, 2017 at 10:54 AM, Kirk Byers <notifications@github.com>
wrote:

[2017-08-19 19:29] kaushikrp opened #556 "Cisco IOS-XR repainting line multiple times: unable to get desired output"
Hi, I am getting below output for the code executed
Sun Aug 20 00:29:39.358 ist
drop paks: 26493,  drop_bytes: 13144301
drop paks: 0,  drop_bytes: 0
drop paks: 0,  drop_bytes: 0
drop paks: 0,  drop_bytes: 0
drop paks: 8199371,  drop_bytes: 8194252327
drop paks: 0,  drop_bytes: 0
drop paks: 0,  drop_bytes: 0
drop paks: 12796452,  drop_bytes: 12766476682
#############################################

[2017-08-19 19:31] kaushikrp commented on #556
I am getting desirable output for 1st node but not for 2nd mentioned in IPAddressList.txt

[2017-08-21 16:55] b2sweety commented on #555
Hi Kirk,

Thank you for the response.
Yes, You are right. I was changing the hostname in the new config file. I removed it and am able to restore the config successfully which now brings me to another question . How do we make a restore config successful when a user wants to change the hostname as part of this.
For the other questions:  The config file new_switch1.cfg contains 163L and I had remov

[2017-08-21 21:26] ktbyers commented on #555
@b2sweety How long does the configure replace take to complete? I think I allocated 12 seconds for it to complete when there is a hostname change.

You can double this time by specifying the `optional_args = {'global_delay_factor': 2}`.

I would try that and see if it works.

[2017-08-23 18:54] shreyashah opened #557 "Socket closed error when the router is left in idle state for more than 10 minutes"
I m using a 6 router topology.  The steps to reproduce this issue.

Connect to each router.
Take a router and configure all the feature corresponding to it.
After certain time (approx ~ 10 mins) when we are in 4- 5 th router trying to configure the features, during the config we realize that the connection socket has been closed and no longer available.
Because of which we are not able to configur

[2017-08-24 03:16] ktbyers commented on #557
@shreyashah I responded to this in Slack...if that doesn't work, you can re-open here.

[2017-08-24 03:16] #557 closed

[2017-08-24 03:27] ktbyers commented on #556
@kaushikrp So the failure is you are getting the repainting of the line (and not getting the output)?

[2017-08-24 03:28] ktbyers commented on #552
@acon1831 I don't see a log file. Did you attach it?

Kirk

[2017-08-24 03:48] Kaushikrpatel commented on #556
Yes, I have entered 4 hosts in the file from where I want to get the output of line cards, however I am getting output of just 1st device properly and for other the command is repainted

[2017-08-24 05:53] acon1831 commented on #552
Yes I did. I looked at my original email and it's attached with file name
test.log.

Thanks

On Wed, Aug 23, 2017 at 8:29 PM Kirk Byers <notifications@github.com> wrote:

[2017-08-24 07:34] prince07 opened #558 "ValueError: Router prompt not found: User: in Cisco WLC 'global_delay_factor': 4"
ValueError: Router prompt not found: User: in Cisco WLC 'global_delay_factor': 4 I tryed upto 15,

[code]

[2017-08-24 16:04] magic9669 commented on #159
Is there telnet support for XR devices?  It worked with IOS using the cisco_ios_telnet device type but if i try to do the cisco_xr_telnet device type, it doesn't seem to work.

[2017-08-24 16:39] magic9669 commented on #159
While i'm at it, is there support for NX-OS, Juniper and EOS devices as well for telnet?  I work for Comcast, but in their lab environment and deal with hundreds of devices from multiple vendors.  Within their lab environment, unless its public facing, everything is telnet, that's why I ask.  Thanks all.

[2017-08-24 17:46] ktbyers commented on #159
I only have telnet support for Cisco IOS (there might be one other platform). I am open to PRs on other platforms, but I am probably not going to write the telnet support for the other platforms.

I can help point in the right direction and get the structure setup in a reasonable way.

[2017-08-24 22:01] magic9669 commented on #159
Sure.  I wouldn't mind learning something new.  I'm VERY new to Python and netmiko but any assistance you could provide, I would love trying to get it to work myself.  Thanks Keith

[2017-08-25 07:33] botanicvelious opened #559 "send command wait for prompt or string"
I have the following code that i use to get a 'show run'

[code]

as sometimes i get a prompt and sometimes i get the delimited string (the next page message) it seems this isn't possible to handle currently? I found read_until_prompt_or_pattern however that doesn't seem to work with send_command, is this correct or is there another way to handle this?

[2017-08-25 10:20] adieball opened #560 "send commands: change in prompt breaks script"
Hi

I'm connecting to Aerohive Accesspoints to send several commands. One of these commands is changing the hostname and therefor changing the prompt.
I'm using the device type "linux".
This is confusing netlike as it expects the prompt it has learned when it connected first:

How can I tell netlike that the prompt it should expect has changed?

I learned that I can send a config set but as far as

[2017-08-25 17:16] b2sweety commented on #555
Yes, specifying optional_args = {'global_delay_factor': 2} worked good. The hostname changed perfectly fine. Thank you for your help!

[2017-08-25 17:26] Network748 opened #561 "Saving copy running-config to flash"
Hi all!

I having an issue when trying to copy a running-config to flash:
 import sys

[code]

[code]
Please advise on what I am doing wrong.

thanks

[2017-08-25 19:37] ktbyers commented on #555
@b2sweety Okay, thanks for letting me this know...please keep this issue open as I think I might want to adjust the default time on napalm-ios to give a bit more time than I currently am providing.

[2017-08-25 19:47] ktbyers commented on #560
`send_command()` has an argument (IIRC) named `expect_string` where can change the default pattern it looks for (by default it will look for part of the trailing prompt.

You can also use `send_command_timing()` method to change the prompt (this method is entirely delay based so it doesn't care that you changed the prompt).

[2017-08-25 19:47] #560 closed

[2017-08-25 19:48] ktbyers commented on #559
@botanicvelious What kind of devices are you connecting to?

[2017-08-26 00:58] ktbyers commented on #561
@Network748 What is the issue?

[2017-08-26 01:02] ktbyers commented on #558
@prince07 Can you post your exception message that you get?

[2017-08-26 09:17] nmweizi commented on #542
Huawei device also has this problem.
Recommended implementation.
Suggest:

def enable(self, *args, **kwargs):
        """Huawei has no enable mode."""
 return super(HuaweiSSH, self).enable(check_string='super')

or

send_command_timing('super')
send_command(secret)

But huawei did not provide the function after the super successfully detected

[2017-08-27 17:36] ktbyers commented on #556
@Kaushikrpatel Can you turn on logging so I can see what is happening:

[code]

This will create a file named test.log in the current directory.

[2017-08-27 17:39] ktbyers commented on #552
@acon1831 Okay, there is no file in GitHub nor in my email as far as I can tell. Please post the file directly into GitHub (or attach the file directly in GitHub).

[2017-08-27 17:41] ktbyers commented on #542
@nmweizi Okay, I will try to look into this. It will probably be late September of October before I get to it though.

[2017-08-28 03:49] nmweizi commented on #542
sorry，
cmd='super'
not check_string='super'

[2017-08-28 03:54] nmweizi opened #562 "huawei device disable_paging"
some huawei device  disable_paging  command  is
command="screen-length disable"
not "screen-length 0 temporary"

add disable_paging=''  in class BaseConnection(object)  \__init___ function parameter ?

[2017-08-28 12:40] taylor2464 commented on #554
@ktbyers Thank you! That was pretty obvious looking back on it.

[2017-08-28 12:40] #554 closed

[2017-08-28 16:40] ktbyers commented on #562
@nmweizi Do you know what category of devices are this way (i.e. some sort of a platform name / product name)?

I need this so I can differentiate between products that do one way versus another way.

[2017-08-29 00:34] nmweizi commented on #562
h3c sr8812
h3c sr6608

[2017-08-29 02:26] ckllr opened #563 "Pagination / Paging cannot be disabled PowerConnect 6248"
In the firmware version I am using, PCT6248's are no longer capable of disabling pagination. I am tasked with running diagnostics on quite a few of these switches and am expecting multi-page outputs. As this is quite a serious impediment, and I am unauthorized to downgrade said switches, how might one work around this?

I eagerly await anyone's suggestions.

[2017-08-29 03:58] nmweizi commented on #563
Active call
disable_paging(command=disabling pagination command)

[2017-08-29 08:25] kaushikrp commented on #556
@ktbyers I have sent you the requested output on your email id

[2017-08-29 12:30] mirceaulinic opened #564 "IOS-XR error: search pattern never detected"
Starting with netmiko>=1.4.1, it looks like the `send_command_expect` doesn't work fine anymore:

[code]

The hostname usually looks like: `RP/0/RSP0/CPU0:edge01.bjm01#`.
Anyway, this is not the `expect_string` that netmiko should match on -- in pyiosxr, this is explicitly set to be waiting for `XML>` sent via `expect_string`, see https://github.com/fooelisa/pyiosxr/blob/master/pyIOSXR/iosxr.py#L2

[2017-08-29 13:24] mirceaulinic commented on #564
Ooops this shouldn't be here... this must be handled in napalm-iosxr: https://github.com/napalm-automation/napalm-iosxr/issues/145

Sorry.

[2017-08-29 13:24] #564 closed

[2017-08-29 16:26] ckllr commented on #563
@nmweizi Right, that command that disables pagination does not work. These switches have no ability to disable pagination through ANY command.

[2017-08-29 17:11] ktbyers commented on #563
Talk to Dell; they need to fix their product.

Netmiko won't support them, if they can't disable output paging.

You could try to work around it, by mimicking what you do manually...but that won't be incorporated into Netmiko (as too much of a kludge).

[2017-08-29 17:11] #563 closed

[2017-08-29 17:20] amangoel6 opened #565 "How to define a function that takes netmiko.ConnectHandler object as an argument"
I want to create two files. One file for my main function where I will open an ssh connection to my devices and in another file I want to create supporting functions that should  take netmiko.ConnectHandler object as an argument so that I can use it to send command to the devices and return some value to my main function in another file when I call it.
Secondly, where can I see the source code for

[2017-08-29 20:26] ckllr commented on #563
@ktbyers I am quite new to python. While I don't expect you to do work for free, could you let me know or show me how I could send a command followed by a keypress? I've tried x.send_command(command) followed by a few x.send_command('m')'s in a loop without any results.

[2017-08-29 20:52] ktbyers commented on #563
Probably something like (where net_connect is the Netmiko connection object).

[code]

Multiple times, you might also need to add some sort of time.sleep(1) in there to wait for the device to output more data.

This assumes "m" is the character you hit to keep paging through the output.

[2017-08-30 20:02] ktbyers commented on #565
Answered via email.

[2017-08-30 20:02] #565 closed

[2017-09-01 17:06] ktbyers commented on #556
@kaushikrp Okay, I think I have an IOS-XR bug here that I need to fix. It will probably be two to three weeks before I fix this.

[2017-09-02 11:00] andreas268 opened #568 "how to detect connection closed by remote host"
Kirk,

first of all: Many thanks for this great lib!!!!!!

I'm using it to manage IOS versions on a bunch of routers and switches and it works pretty fine.
But there are some devices with very slow bandwidth and my copy (copy http/ftp://ip/image flash) jobs fail because of exec-timeout terminating the connection before the file is copied (netmiko connections are still active by using delay_factor

[2017-09-03 02:51] kaushikrp commented on #556
Thank you Kirk for your valuable inputs.

Regards,
Kaushik Patel

On Sep 1, 2017 10:36 PM, "Kirk Byers" <notifications@github.com> wrote:

[2017-09-03 14:02] aaglenn commented on #495
I have numerous ICX7250s with RADIUS configured that do not exhibit this behavior. They're running SW: Version 08.0.61T211.

[2017-09-04 15:39] ktbyers opened #569 "Add .gitattributes for text file issues on Windows"
https://github.com/alexkaratarakis/gitattributes/blob/master/Python.gitattributes

[2017-09-05 00:00] ktbyers commented on #568
@andreas268 I would probably implement something like the following:

[code]

This is based on the is_alive method in napalm-ios.

Basically, I would catch the exception you get with `send_command()` and then check `is_alive`.

Let me know if that works.

[2017-09-05 19:04] amangoel6 commented on #552
@acon1831 ]
Most probably it is terminal pager issue.

Try to use below command before send_command and let us know the result.

self.disable_paging()
output = self.send_command("show version")

[2017-09-05 19:50] punkrokk opened #571 "Can't import ConnectHandler (MacOSX & CentOS)"
Hi,

Using a virtualenv, I am unable to run the following:

#!/usr/bin/env python3

import argparse
import logging
import sys
import os

from netmiko import ConnectHandler

It works fine in the console with the python 3.6.2 interpreter (same as my virtual environment).
I see that is says py3.5 is what's supported, but I have the same issue with 2.7.

I get this:

` Traceback (most recent call last

[2017-09-05 20:46] ktbyers commented on #571
@punkrokk It looks like you have created a file name `netmiko.py` and it is trying to import from that and not from the netmiko library:

[code]

You need to rename this file and remove any .pyc files that were created.

[2017-09-05 21:05] punkrokk commented on #571
that was it! thanks @ktbyers

[2017-09-05 21:16] #571 closed

[2017-09-06 17:12] mferreira85 commented on #166
Hello,

Please how can i add the super password on the hp_comware lines?

Thank you,
Marcelo

[2017-09-06 17:16] ktbyers commented on #166
@mferreira85 There is a bug on `super` and Comware see:

https://github.com/ktbyers/netmiko/issues/542

You would have to manually do it until this gets fixed. You can use `write_channel` and `read_channel` methods to manually do it (or possibly the `send_command_timing` method).

[2017-09-06 17:26] mferreira85 commented on #166
Excellent @ktbyers Thank you!

I would also like to congratulate you for this great code! It's helping a lot.

Thank you,
Marcelo

[2017-09-08 11:38] hoyeunglee opened #572 "SSH version 1, can not connect"
when switch only accept SSH version 1 , it can not connect

do it support SSH version 1?

[2017-09-08 17:06] ktbyers commented on #572
@hoyeunglee Paramiko doesn't support SSHv1 so Netmiko has no SSHv1 support.

SSHv2 has been around for over 10 years (probably longer since 2006 is when it was approved as a standard and standards bodies are very slow moving).

[2017-09-08 17:06] #572 closed

[2017-09-11 15:27] andreas268 commented on #568
Kirk,

thanks for this advice, I'm currently testing it. I'll keep you updated...

In my logs I've seen that (paramiko) transport "EOF" is recognized but netmiko still reads the channel.
Maybe it's a good idea to handle this event in netmiko!?

[2017-09-11 15:28] andreas268 commented on #568
Sorry, forgot the paramiko logs:

2017/09/11 10:40:29,159 paramiko.transport DEBUG [chan 0] Sesch channel 0 request ok
2017/09/11 10:40:29,256 paramiko.transport DEBUG [chan 0] Sesch channel 0 request ok

2017/09/11 10:50:47,96 paramiko.transport DEBUG EOF in transport thread

[2017-09-11 16:31] ktbyers commented on #568
@andreas268 Handle it where?

In general, I would say if the SSH connection just closes, Netmiko should just raise that error. The person writing code using Netmiko can then decide what to do about it (do nothing, log a message, re-connect, etc).

It might make sense to test for EOF before we try to read especially if it takes a meaningful amount of time for Netmiko to fail.

[2017-09-11 16:43] andreas268 commented on #568
With "is_alive" I'm able to find the reason why the job fails. But is takes much time because I use "delay_factor=20, max_loops= 500" to allow to copy large files.

Thanks for your support!

[2017-09-11 16:44] ktbyers commented on #568
@andreas268 Can you expand on that?

So you are saying the connection fails due to EOF, but then it takes a long time for Netmiko to detect this?

If that is the case, then yes that should be fixed.

[2017-09-11 16:47] andreas268 commented on #568
Don't know where to handle EOF. But I'll try to find it . . .

[2017-09-11 16:48] ktbyers commented on #568
Yes, we could probably do an `is_alive` check on the read (or at least a paramiko transport check).

[2017-09-11 17:04] andreas268 commented on #568
As the connection is terminated by the switch (exec-timeout 10) the prompt or search pattern ("\d+ bytes copied in \d+ secs \(\d+ bytes\/sec\)") is never seen.
paramiko logs EOF after 10 minutes but netmiko waits for "delay_factor=20, max_loops= 500" (takes another 20 minutes). After that I can confirm with "is_alive" that the connection had been closed (I return "Connection ended").

2017/09/11 1

[2017-09-11 17:12] andreas268 commented on #568
Had a quick look into "base_connection.py"

Maybe something like this could help:

      while i <= max_loops:
            new_data = self.read_channel()
            if new_data:
                output += new_data
                try:
                    lines = output.split("\n")
                    first_line = lines[0]
                    # First line is the echo line containing the command. In

[2017-09-11 17:15] ktbyers commented on #568
@andreas268 Have you tested whether sending the null causes any issue? i.e. whether sending the `null` character during the file transfer causes any negative side effects.

I would think that sending the `null` character should keep the VTY session open.

[2017-09-11 17:18] andreas268 commented on #568
No, not yet. But I'll test it in the next days and let you know.

[2017-09-11 17:37] apepelis commented on #380
1.4.2 still has this issue.

[2017-09-11 18:55] suliman317 commented on #545
I had a similar issue, what i did was created a virtual env instead of using my own pip env.
http://docs.python-guide.org/en/latest/dev/virtualenvs/

######
git clone https://github.com/ktbyers/netmiko.git
cd netmiko/
virtualenv -p /usr/bin/python2.7 asa_upgrade
source asa_upgrade/bin/activate
pip install requests
pip install Paramiko==1.13+
pip install Paramiko==1.13
pip install scp==0.10.0
pip i

[2017-09-12 07:15] andreas268 commented on #568
Kirk,

I was able to copy an image using below version of "base_connection"; md5 is correct. I also tested closing the SSH connection (clear line) and got the following:

2017/09/12 08:57:06,163 netmiko DEBUG read_channel:
2017/09/12 08:57:06,163 netmiko DEBUG Checking SSH connection!
2017/09/12 08:57:06,163 netmiko DEBUG SSH connection terminated

Unfortunately it writes the null character to the

[2017-09-12 15:35] andreas268 commented on #568
Kirk,
 Now I've tested in prod environment (where I have the slow connections with exec-timeout problem).
The null character does not prevent from getting disconnected due to idle timeout but it helps to detect that the connection isn't alive anymore and breaking the loop ("while i <= max_loops:").

[2017-09-14 05:53] s1405 opened #574 "multiprocessing on comware"
@ktbyers this is the code:

from multiprocessing import Process
from netmiko import ConnectHandler, NetMikoAuthenticationException, NetMikoTimeoutException
from getpass import getpass
import time

def ssh(ip, u, p, s):
    conn = ConnectHandler(ip = ip, username = u,     password = p,               device_type = 'hp_comware')
    print(conn.send_command('su\n{0}\ndisplay arp'.format(s)))

if __nam

[2017-09-14 12:50] andreas268 commented on #568
I changed the character from "chr(0)" to "\x06" (ACK) because send_command_expect did not match anymore; with ACK it seems to work now as expected.

[2017-09-14 18:04] ktbyers commented on #380
@apepelis @tevaum I just read through the issue again, I don't think we understand why it is failing. I should have some more time to work on it in the next few weeks.

[2017-09-14 18:05] ktbyers commented on #545
Closing due to not getting sufficient information (external commands file).

[2017-09-14 18:05] #545 closed

[2017-09-14 18:16] apepelis commented on #380
I haven't looked at this since I posted that. Going from memory.
My gear are switches (or switch/routers). There is no "enable". When you call enable on the switch prompt, you get an error. I think it then changes to the router prompt. Then it looks for # and doesn't see that.

S4(su)->enable
Error: Unknown: "enable"
S4(su)->router
S4(su-router)->enable
Error: Unknown: "enable"

[2017-09-14 18:22] ktbyers commented on #380
Yes, but some Enterasys devices require enable() to disable paging (at least that is my understanding, correct me if I am wrong).

Also the troubleshooting above didn't show the enable happening (this is from my quick read of the above message, I need to review).

So I need to differentiate somehow between the Enterasys that require enable() and those that don't support it.

Once again...correct m

[2017-09-14 18:30] ktbyers commented on #574
It looks like you connected to multiple devices:

# These devices there was nothing on port 22:
[code]

# This one worked:
[code]

[2017-09-14 18:31] apepelis commented on #380
I have never heard of that. Granted, I have only worked at Enterasys/Cabletron/Extreme Networks for 18 years. If you can give me a device type that you have seen enable on, I can find one and test it, but none of my devices have the need for enable.

[2017-09-14 18:37] ktbyers commented on #568
@andreas268 Okay, strange...I would have said from my reading that a null character was the canonical way to do it (and what some SSH terminals do).

I will try to test some more also.

So issues are:
1. is_alive() needs implemented inside Netmiko
2. is_alive() needs to work properly and some set of Cisco IOS devices appear not to handle null character properly.
3. For read_channel() operations ne

[2017-09-14 19:02] ktbyers commented on #380
Okay, should be fixed here:

https://github.com/ktbyers/netmiko/commit/93849158eb4f1c3cc7756ff5614b9ff0efe1c17f

I removed enable() call from `session_preparation`. This also corrected a similar issue on Extreme.

It would be good if someone could check if this fixes the issue and that both `send_command()` and `send_config_set` methods work properly on Enterasys and Extreme.

[2017-09-14 19:02] ktbyers commented on #521
Okay, should be fixed here:

https://github.com/ktbyers/netmiko/commit/93849158eb4f1c3cc7756ff5614b9ff0efe1c17f

I removed enable() call from `session_preparation`. This also corrected a similar issue on Extreme.

It would be good if someone could check if this fixes the issue and that both `send_command()` and `send_config_set` methods work properly on Enterasys and Extreme.

[2017-09-14 19:02] #521 closed

[2017-09-14 19:02] #380 closed

[2017-09-14 19:11] LongBeachHXC opened #575 "Netmiko SSH Timeout"
I am having issues SSH to a Cisco IOS device. I have tested manual SSH directly from box that I am running the script from with NO issues.

Thanks for any assistance.

[code]

[2017-09-14 19:16] ktbyers commented on #562
Did you try the `hp_comware` device type? They look to be fundamentally Comware Devices.

[2017-09-14 19:27] ktbyers commented on #575
You have a couple of errors here:

[code]

You are assigning the 'ip' key to be a string literal. You need to remove the quotes from 'ip_address_of_device'

[code]

Also here:

[code]

You assigned the `ip_address_of_device` to refer to the entire list (`devices_list`).

[2017-09-14 19:28] ktbyers commented on #575
So what is happening in your failure is netmiko is trying to do a DNS lookup on the string 'ip_address_of_device' and that lookup fails.

[2017-09-14 19:30] ktbyers commented on #552
Never received the logging file. It looks like it should have worked from the code originally posted.

[2017-09-14 19:30] #552 closed

[2017-09-14 20:12] ktbyers commented on #495
@aaglenn I made a fix for this in the `develop` branch. See https://github.com/ktbyers/netmiko/commit/ec9ce93c20b005931d8c6dbeae75556871f9a0b3

Can you test if this fixes the issue?

[2017-09-15 02:09] s1405 commented on #574
I could login to those individually or sequentially. But not simultaneously - only the first process works, rest say timeout

[2017-09-15 03:02] LongBeachHXC commented on #575
hey you definitely point me in the right direction. I was able to work through it and get it working. Thanks

[2017-09-15 03:02] #575 closed

[2017-09-15 03:57] ktbyers commented on #168
Fix here https://github.com/ktbyers/netmiko/commit/dcf323c9d9e1c9b138e1ba654b4d09ac2c832de8

[2017-09-15 03:57] #168 closed

[2017-09-16 00:00] ktbyers commented on #495
Closing this should be fixed. If you test this, please update the issue or re-open if still not working.

[2017-09-16 00:00] #495 closed

[2017-09-16 00:01] #549 closed

[2017-09-16 00:09] ktbyers opened #577 "Fix HP ProCurve enable method to use a while loop"

[2017-09-16 00:13] ktbyers commented on #200
Fixed here https://github.com/ktbyers/netmiko/commit/054b43d5f265a7f481058387bd661956c8d28231

[2017-09-16 00:13] #200 closed

[2017-09-16 00:13] #207 closed

[2017-09-16 00:15] ktbyers commented on #202
This was implemented in netmiko-tools although most of the code is in utilities.py.

[2017-09-16 00:15] #202 closed

[2017-09-16 13:24] nmweizi commented on #562
This method is ok.

[2017-09-16 13:25] #562 closed

[2017-09-18 15:06] bgile opened #578 "Not Recognizing Prompt"
I am trying to delete all config within a hierarchy in with Netmiko, but it is not recognizing the prompt:

[edit groups this-group]
user@device# delete
Delete everything under this level? [yes,no] (no)

Instead of executing 'yes' it will just hang.  Is there some method for recognizing a follow up prompt like this?

Thanks

[2017-09-18 16:57] ktbyers commented on #578
@bgile Probably use `send_command_timing`:

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#show-commands-that-prompt-for-more-information

[2017-09-18 17:55] bgile commented on #578
Thanks.  I was also able to fudge it with the remote_conn.sendall and remote_conn.recv , but was looking for something maybe a little more cleaner.  I will look at your link.  Thanks for the quick response :)

[2017-09-18 17:55] #578 closed

[2017-09-18 18:14] ktbyers commented on #496
@laurentlgm Adding some notes to this discussion mostly for future reference.

For this pattern you should use the `generic_termserver_telnet` and then manually handle the telnet login (and then redispatch).

I made this change to the `generic_termserver` so that by default the terminal server telnet driver does NOT log you into the device:

https://github.com/ktbyers/netmiko/commit/2b273764fe5cf2

[2017-09-18 20:32] ktbyers commented on #385
Fixed in Netmiko >= 1.5.0 (not released yet) to variable `ENTER`.

[2017-09-18 20:32] #385 closed

[2017-09-18 20:36] ktbyers commented on #437
This has been implemented in Netmiko 1.5.0 (not released yet) see branch `netmiko_dev_1_5`. Implemented:

[code]

Which all get set in `__init__.py` method and can be set in the child class. I implemented this in the Brocade child class.

[2017-09-18 20:40] davesill commented on #437
Brilliant.  I’m using my hacked up version in production and this is way easier to deal with when updating.

Thanks,
Dave

[2017-09-18 20:42] ktbyers commented on #437
Here for example is the new Brocade module with telnet:

https://github.com/ktbyers/netmiko/blob/netmiko_dev_1_5/netmiko/brocade/brocade_netiron.py

I think this should work (it will use the telnet_login method that it inherits from a parent class).

Let me know if you test the new version and whether you see any issues.

[2017-09-18 20:47] ktbyers opened #579 "Change RETURN and RESPONSE_RETURN and TELNET_RETURN to be `__init__` arguments"
There is somewhat of a race condition in the class initializiation given the fact that you establish the connection in init.

It would be better to control this on `__init__`.

[2017-09-18 21:12] davesill commented on #437
Got it.  I ended up building out Brocade Fastiron and Netiron telnet as well, although there’s not much code there.  I could get you a PR on those if you’re interested, but I assume you want to lean everything toward SSH.

Thanks,
Dave

[2017-09-18 21:14] davesill commented on #437
Looks like you’ve got that in there already.  Sorry.

Thanks,
Dave

[2017-09-19 16:34] ktbyers commented on #574
@s1405 Are these real devices or virtual?

You might want to turn on logging and see if they provide you clues:

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

You might also want to watch the SSH session from the network device perspective.

You might also want to try adding a very small delay between

[2017-09-19 22:20] jsb515 opened #580 "Script to change cisco interface based on find/replace"
I'm trying to write a script that will change auth order for mab and dot1x on interfaces that have the auth order incorrectly.  For example if Fa1/0/1 has the auth order mab dot1x but needs to be auth order dot1x mab.  Having trouble figuring out how to do this with configparser to do a find replace type method or using ansible.  Any help or examples to help get me on right track would be apprecia

[2017-09-20 04:18] RushTalz opened #581 "Issues getting netmiko to run"
I'm trying to get NetMiko installed and running my linux system (Linux Mint, release 18).  I followed the instructions from the install instructions here:  https://pynet.twb-tech.com/blog/automation/netmiko-tools.html

However, I hit a snag when I tried to run the last command:

rush@Minty-VM ~ $ netmiko-show --list-devices
Traceback (most recent call last):
  File "/home/rush/netmiko_tools/netmik

[2017-09-20 19:01] ktbyers commented on #581
You need to create a file in your home directory named .netmiko.yml.

See the inventory section in this article:

https://pynet.twb-tech.com/blog/automation/netmiko-grep.html

[2017-09-20 19:01] #581 closed

[2017-09-20 19:04] ktbyers commented on #580
Can you show me a more detailed example, i.e. the relevant interfaces section and order that you want to change (with one interface right and one interface wrong).

[2017-09-20 19:12] jsb515 commented on #580
an example interface would look like this

interface FastEthernet1/0/1
 description DATA PORT
 switchport access vlan 100
 switchport mode access
 no logging event link-status
 authentication control-direction in
 authentication event fail action next-method
 authentication event server dead action authorize vlan 100
 authentication event server dead action authorize voice
 authentication event se

[2017-09-20 19:48] ktbyers commented on #580
And you want to do this in Ansible or Python (or don't care which)?

[2017-09-20 20:18] jsb515 commented on #580
doesn't matter to me :)

[2017-09-20 20:48] ktbyers commented on #580
@jsb515 For a given switch do you know which interfaces need this configuration applied (not which ones are wrong), but all of the interfaces that should have:

[code]

[2017-09-20 21:02] jsb515 commented on #580
Usually fa1/0/1 -24 or to 48 and some switches are gi1/0/1 - 24 or 48

That's why I was curious if it can search all int for the mab dot1x first if found change to dot1x mab because one int might be an uplink and not need the dot1x mab

[2017-09-20 21:17] ktbyers commented on #580
@jsb515 This does most of the heavy lifting:

[code]

Note, I was testing it with a file named `cisco.cfg`, but I also included some code to show you what it would look if grabbing from running-config using Netmiko.

This finds the interfaces that have the condition you specified. You could then use Netmiko's `send_config_set()` to execute a change on that interface to correct the order.

[2017-09-21 00:29] RushTalz commented on #581
Hey Kirk -

thank you much for the response, really appreciated.  Got the file created with a couple devices in my network, looking much better :)

[2017-09-21 16:37] jsb515 commented on #580
Awesome! I gave it a shot this morning and it did not print anything for the "found" when looking for mab dot1x. I did uncomment the line for parsing the (sh_run) and then commented out the line below for ("cisco.cfg") since it was looking on the switch and not from a file.  I also added in for it to send a terminal length 0 to make sure it wasn't just getting half the config from the show run.

[2017-09-21 17:49] ktbyers commented on #580
@jsb515 I would start by testing it just using a static file on the local system (i.e. save the running config to a local system).

I tested the above code using the interface description you gave above and one port with `mab` first; the other with `dot1x` first.

[2017-09-22 12:40] mathewfer opened #583 "SSH to PAN-OS 8.0"
Hi

Can someone please share a working SSH script to PAN-OS 8.0 to go to "configure" mode?

Mathewfer

[2017-09-23 19:50] ganeshk12 opened #584 "I am new to python i am trying to get the show commands"
Python program : fecth.py

from __future__ import print_function
from netmiko import ConnectHandler
import sys
import time
import select
import paramiko
import re
fd = open(r'/backup/output.txt','w') # Where you want the file to save to.
old_stdout = sys.stdout
sys.stdout = fd
platform = 'cisco_ios'
username = 'test' # edit to reflect
password = '1e1f5c62' # edit to reflect

ip_add_file = open(r'/