[2022-02-27 05:50] #2651 closed

[2022-02-27 05:50] #2652 closed

[2022-02-27 06:00] ktbyers commented on #2643
Can you show me the Netmiko session_log output for a Junos device that is exhibiting this behavior?

Basically, why is Juniper doing this? It shouldn't be.

Early on in the session Netmiko sets the terminal screen width to 511 so it shouldn't be doing that weird backspace/space behavior.

[2022-02-27 06:03] ktbyers commented on #2641
Can you test this with the Netmiko `develop` branch? I think this issue might be fixed there.

Let me know if you still are seeing this issue when you use that (or not).

[2022-02-27 06:07] ktbyers commented on #2628
Okay, this looks like a bug that needs fixed.

[2022-02-27 06:08] ktbyers commented on #2627
@DNnate Did you ever get this working?

[2022-02-28 04:41] sirikothe commented on #2643
I could not figure out how to get the session_log from netmiko. ( I am using nornir-> nornir_netmiko -> netmiko).
Anyway, I verified from the logs that it is in fact sending proper initialisation sequence. i see the following in the log.
[code]

It should not be. But it is :)

I manually executed the initialization commands from a manual ssh and captured the log from ssh and attached is the screen

[2022-02-28 05:13] ktbyers commented on #2643
So what is the full Junos command you are sending via send_command()?

[2022-02-28 05:21] ktbyers commented on #2643
You mentioned above the behavior of a partial command, but why is it a partial command i.e. why is there a carriage-return + newline after the DL-0004?

[2022-02-28 10:49] sirikothe commented on #2643
The full command I sending to junos (used in manual ssh as well as in send_command())  is `show route table DL-0048 community-name VRF-TARGET-DL-0048-1234-123456789`
I was not sending partial command. What I meant was, when I enter the full command and press enter, the device is supposed to echo the command as is (which netmiko tries to match in the output from device). But it echos part of the co

[2022-02-28 16:17] ktbyers commented on #2643
Okay, I really don't have a fix for this besides cmd_verify=False. It is starting to sound like a Juniper bug.

You are welcome to put in a custom function/method to do this stripping, but given where it happens you would probably have to override the default Junos class and replace it with your own class.

Definitely weird behavior on Juniper's part.

I would definitely check that you don't have

[2022-02-28 18:50] megakarl commented on #2651
Hey ktbeyers, thansk for replying.

I was already in version 2.8.1 of paramiko.

This is my pip list :

Package                      Version
---------------------------- --------------------
ansible                      2.9.6
apache-libcloud              2.8.0
apturl                       0.5.2
argcomplete                  1.8.1
bcrypt                       3.1.7
blinker                      1.4
c

[2022-02-28 19:57] ktbyers commented on #2651
@megakarl Okay, you should open a new issue in GitHub and include your full exception stack trace (also include in that post that you are using Paramiko 2.8.1 so I don't forget and ask you again).

Also please include your Python / Netmiko code.

[2022-03-01 06:51] wardy3 opened #2656 "Spaces in commands fail to trigger TextFSM template"
Hi. Thanks for the great work!

I have a statement in my script to send a command and retrieve structured output
[code]
This works fine when there is a match in the `index` file for the command. For example `sh port-sec database` has this entry
[code]

However, if my user enters the command with more than one space between the words, it doesn't match.

Is this an easy fix to ignore duplicate space

[2022-03-01 07:42] sirikothe commented on #2643
Ok. We put a fix in our code to override the _read_channel_expect() to detect these special characters and remove them. I am definitely absolutely sure that we dont have any ^M etc characters in the command sent to the device.
Closing this issue for now. Thanks for looking into it.

[2022-03-01 07:42] #2643 closed

[2022-03-01 11:00] ajveitch opened #2658 "Router prompt not found, due to ANSI escape codes in output (generated by some ZyNOS/zyxel_os devices)"
File "/usr/local/lib/python3.8/dist-packages/netmiko-4.0.0a4-py3.8.egg/netmiko/ssh_dispatcher.py", line 341, in ConnectHandler
  File "/usr/local/lib/python3.8/dist-packages/netmiko-4.0.0a4-py3.8.egg/netmiko/base_connection.py", line 433, in __init__
  File "/usr/local/lib/python3.8/dist-packages/netmiko-4.0.0a4-py3.8.egg/netmiko/base_connection.py", line 439, in _open
  File "/usr/local/lib/pytho

[2022-03-01 11:00] ajveitch commented on #2658
PR #2657 resolves.

[2022-03-01 13:22] NMJCaspers commented on #2650
This seems a "feature" on the Cisco end, as the user account used is a privilege level 15 account.
Any account with a lower privilege level will fail the file transfer.

[2022-03-01 16:20] svautour opened #2659 "Square brackets are being removed from SROS MDCLI"
Nokia SROS MDCLI contains square brackets in the config. These are being stripped by netmiko. Example:

A:admin@rr# admin show configuration |match area pre-lines 5 post-lines 5
            ipv6-routing native
            level-capability 2
            router-id 10.1.0.15
            system-id 0100.0100.0015
            traffic-engineering true
            area-address [49.0000]
            segmen

[2022-03-01 17:21] ktbyers commented on #2659
Okay, yeah that looks like a bug.

[2022-03-01 17:23] ktbyers commented on #2650
Yeah, you need a user that has direct privileges to perform the secure copy and to write to the file system. Remember on the Secure Copy Channel itself there is no way to elevate privileges (that I am aware of).

[2022-03-01 17:23] #2650 closed

[2022-03-01 17:40] ktbyers commented on #2643
Okay, weird behavior. I can't reproduce it, but I also probably don't have a close enough match to what you are doing.

Does it only happen on that one route command or is it more general?

[2022-03-01 20:58] ktbyers commented on #1461
Someone would need to implement this in a PR. Unforutnately HP ProCurve makes it hard by being so nondescript in their output.

[2022-03-01 20:58] #1461 closed

[2022-03-01 20:58] ktbyers commented on #1040
I am going to close this, should re-open a new issue if anyone implements a two-factor feature in Netmiko.

[2022-03-01 20:59] ktbyers commented on #1340
There is no active work being done on this. So I am going to close it.

[2022-03-01 20:59] #1340 closed

[2022-03-01 21:00] ktbyers commented on #1506
This is done in Netmiko 4.x with send_multiline and send_multiline_timing.

[2022-03-01 21:00] #1506 closed

[2022-03-01 21:02] ktbyers commented on #1553
No active work being done on this...so closing it.

[2022-03-01 21:02] #1553 closed

[2022-03-01 21:14] ktbyers commented on #1563
I don't think this was ever done. I am going to close as there isn't any active work on the issue.

[2022-03-01 21:14] #1563 closed

[2022-03-01 21:46] ktbyers commented on #1627
This should be done.

[2022-03-01 21:46] #1627 closed

[2022-03-01 22:15] #1675 closed

[2022-03-01 22:15] #1683 closed

[2022-03-01 22:15] #1697 closed

[2022-03-01 22:16] #1711 closed

[2022-03-01 22:17] #1714 closed

[2022-03-01 22:18] #1728 closed

[2022-03-01 22:23] ktbyers commented on #1579
I am going to close as not having enough information on this. If there is still an issue, we should create a new issue in GitHub on it.

[2022-03-01 22:23] #1579 closed

[2022-03-02 15:42] ktbyers opened #2663 "Add a way to raise exceptions on failed TextFSM / Genie / TTP templates"

[2022-03-02 21:43] ktbyers commented on #2658
Should be fixed now.

[2022-03-02 21:43] #2658 closed

[2022-03-02 21:48] ktbyers commented on #2656
@wardy3 You probably should just cleanup the command string in your script i.e. normalize it there.

The above is really not a Netmiko issue i.e. this would be an ntc-template issue and potentially a textfsm library issue itself.

[2022-03-02 21:48] #2656 closed

[2022-03-02 21:52] ktbyers commented on #2639
I am going to close this as we already have the Pull Request open to track it.

[2022-03-02 21:52] #2639 closed

[2022-03-02 21:53] ktbyers commented on #2627
I am going to close this as it doesn't look like it is actively being worked on.

[2022-03-02 21:53] #2627 closed

[2022-03-02 21:53] ktbyers commented on #2626
@kakollu007 Any update on whether the proposed fix worked?

[2022-03-02 21:54] #1644 closed

[2022-03-02 22:00] ktbyers commented on #1691
This was fixed here:

https://github.com/ktbyers/netmiko/pull/2191

[2022-03-02 22:00] #1691 closed

[2022-03-02 22:05] ktbyers commented on #1686
@sbo-7455 @bpastravanu Is anyone still working on this? If I create a fix for it, is someone available/willing to test it?

[2022-03-02 22:07] ktbyers commented on #1591
I am going to close this as no one is actively working on it...if anyone is still interested in this issue, let me know and we can re-open it or create a new issue.

[2022-03-02 22:07] #1591 closed

[2022-03-02 22:27] ktbyers commented on #1700
This issue should have been fixed here:

https://github.com/ktbyers/netmiko/commit/3000ce33107ff3498600d40e842f4eee77b96edb

[2022-03-02 22:27] #1700 closed

[2022-03-04 03:49] dinpalan commented on #2248
Please check below solution,

VM:
sudo route add default gw 198.51.100.1 tap0

Router 1:
line vty 0 15
transport input ssh
username cisco password cisco123
exit
conf t
enable secret cisco123
line vty 0 15
login local
exit
ip domain-name cisco
crypto key generate rsa
800
exit
ip dhcp pool NMR1
network 192.168.2.0 255.255.255.0
default-router 192.168.2.1
exit
ip dhcp excluded-address 192.168.2.1 192

[2022-03-04 09:07] c3101 opened #2665 "Cisco ASA 2nd level login using different credentials than ssh credentials"
By default netmiko tries to use the same username to do the 2nd level "login" on the firewall. We have different credentials for the ssh portion, and the "login" portion on the firewall.
There is an option to pass a "enable" password to the ConnectHandler, but we don't use "enable", we use login, and there are no option to pass different credentials for the "login" user/pass.

[code]

[2022-03-04 14:26] zhajili91 commented on #2073
Hello, @ktbyers ,

I have just tried using netmiko with textFsm and I received this output.

[code]
export NET_TEXTFSM=/path/to/ntc-templates/templates/
zhajili@dhcp-10-61-97-83:~/Desktop/Python/Book for Network Engineers/general /chapter18$ echo $NET_TEXTFSM
/path/to/ntc-templates/templates/
I have following

netmiko            4.0.0a4
Python 3.9.10
ntc-templates      3.0.0

Could you please help

[2022-03-04 18:18] ktbyers commented on #2073
@zhajili91 It looks like your Netmiko develop branch is not right or is out of date. I would probably build a new virtual environment from scratch.

Your error here:

[code]

Refers to line 277 in Netmiko's utilities.py, but line 277 is `develop` branch is not that.

https://github.com/ktbyers/netmiko/blob/develop/netmiko/utilities.py#L277

Regards, Kirk

[2022-03-04 18:24] ktbyers commented on #2665
@c3101 Can you give a bit of context on why you use two different users for the `login`? That strikes me as a bit odd, but definitely could be missing things.

[2022-03-04 19:15] zhajili91 commented on #2073
Hello, @ktbyers ,

I did set up from scratch for a virtual environment based on your link again.

https://pynet.twb-tech.com/blog/netmiko-and-textfsm.html

But unfortunately received the same error.

My environment variable is like below.

(.venv) zhajili@dhcp-10-61-97-83:~/Desktop/Python/Book for Network Engineers/TextFSM$ echo $NET_TEXTFSM
/Users/zhajili/Desktop/Python/Book for Network Engineers

[2022-03-04 21:05] ktbyers commented on #2073
It should have this latest commit (dated Mar 3, 2022). You should be able to check that is there (either by looking at `git log` or by just checking the source code of one of the files that was modified.

https://github.com/ktbyers/netmiko/commits/develop

[2022-03-04 22:27] zhajili91 commented on #2073
@ktbyers , thanks a lot, issue was resolved after installing the latest netmiko version as you stated, in my venv it was not showing the latest one, appreciate your help and wish you a nice weekend ahead! :)

[2022-03-05 08:23] c3101 commented on #2665
That's what our security department prescribes. Different users, with
different authentication mechanisms

On Fri, Mar 4, 2022, 20:24 Kirk Byers ***@***.***> wrote:

[2022-03-06 05:31] ktbyers commented on #2665
@c3101 Okay, I don't really have a fix for this in the ASA driver. I guess you could subclass the ASA class and override the asa_login method to feed in a different username.

I don't think I would incorporate a fix for this into the Netmiko driver as doing what you are doing is a very uncommon pattern with the ASA.

[2022-03-07 06:48] c3101 commented on #2665
Thanks Kirk

A note for future passers by:

[code]

[2022-03-07 09:21] c3101 opened #2667 "read_timeout ignored"
When using "send_command" with a "read_timeout" specified, netmiko seems to comfortably ignore the read_timeout value and return incomplete output

[code]

script output:
[code]

and the value of ```output``` is incomplete and not the entire output as expected from ```show startup-config```

```delay_factor``` seems to display similar behavior

[2022-03-07 09:23] c3101 commented on #2665
Resolved as above

[2022-03-07 09:23] #2665 closed

[2022-03-07 15:21] ktbyers commented on #2667
@c3101 Are you using Netmiko `develop` branch? `read_timeout` is only supported on the `develop` branch?

Also can you include the debugging log?

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

[2022-03-07 16:40] ktbyers commented on #2665
Nice job @c3101 :-)

[2022-03-07 19:46] ktbyers commented on #2667
Which Netmiko device_type are you using?

How long (roughly) does the command take if you execute it manually in an SSH session?

Can you post the full exception stack trace?

On Netmiko 3.4.0, in order to increase the Netmiko delay you would need to set the following:

[code]

Alternatively, you could pass in delay_factor=2 to send_command(), but once again fast_cli has to be set to False.

fast_

[2022-03-08 12:11] #2667 closed

[2022-03-08 12:20] c3101 opened #2668 "netmiko.cisco.cisco_ftd_ssh claims """No enable mode on firepower ssh""""
```netmiko.cisco.cisco_ftd_ssh``` claims """No enable mode on firepower ssh"""

this isn't true in the strictest sense of the word, just need some extra hoops to jump through to get there...

```https://www.cisco.com/c/en/us/td/docs/security/firepower/command_ref/b_Command_Reference_for_Firepower_Threat_Defense/using_the_FTD_CLI.html```

This code does the trick at the moment, but think some logic

[2022-03-09 03:17] elavaud opened #2669 "Mikrotik hEX - Prompt not truncated but output randomly truncated"
Hi @ktbyers

We are seeing a weird behavior on mikrotik hEX router.
First ,the prompt is not removed, and the output is randomly truncated.
See 4 consecutive tries below. The last one has the output intended. The third one even cuts the output in the middle of a line...

(`driver.client` corresponds to netmiko. We are on the HEAD of develop, with the few PR I made on top of it.)

[code]

I tried t

[2022-03-09 18:56] ktbyers commented on #2669
@elavaud Can you add the Netmiko log file corresponding to the above:

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

Regards, Kirk

[2022-03-09 21:28] saparikh opened #2672 "A10: Initial prompt read fails with default delay factors"
In my testing the A10 device connection often fails because netmiko is not able to find the prompt. I was able to alleviate that by implementing this quick fix:

[code]

In my testing, I tried setting `delay_factor` to 2 and 4, but neither option worked across all of the devices in my inventory.

[2022-03-09 23:27] ktbyers commented on #1591
Should be fixed here:

https://github.com/ktbyers/netmiko/pull/2673

[2022-03-09 23:27] ktbyers commented on #1591
Should be fixed here:

https://github.com/ktbyers/netmiko/pull/2673

[2022-03-09 23:35] ktbyers opened #2674 "Convert find_prompt() and all internal Netmiko calls over to more deterministic solution"
In other words, find_prompt() always searches for the trailing terminator characters on the device (for example, `#` or `>`).

Related to this, the primary terminator character and the alternate terminator character should probably be moved to class attributes and cease being method arguments.

See this PR for some work I did on find_prompt() that is improvements in the direction of a pattern base

[2022-03-09 23:36] ktbyers commented on #2672
Proposed fix is here:

https://github.com/ktbyers/netmiko/pull/2673

[2022-03-10 01:33] elavaud commented on #2669
[code]

[2022-03-10 17:20] ktbyers commented on #2669
Can you just execute this command once:

`interface ethernet print detail terse`

And capture the corresponding debug log.

Also post your Python code (run it as Python code so I can see all of your settings including your ConnectHandler settings). You can obscure/change anything that is confidential.

[2022-03-11 04:17] elavaud commented on #2669
Python code:

[code]

Logs:

[code]

If I SSH directly on the device:

[code]

[2022-03-11 13:36] AuthenticAMD opened #2675 "Key Based Auth - Cisco IOS"
JSON connection file parameters:

"device_type": "autodetect",
"ip": "1.1.1.1",
"username": "username",
"password": "password",
"secret": "enable",
"port": "22",
"fast_cli": false,
"allow_agent": true

This is enough to allow successful key based authentication with Cisco Nexus devices. However it does not work with Cisco IOS / IOSXE devices. Cisco IOSXE devices (ASR1009x, ISR4431) are running mod

[2022-03-11 15:41] FoxMasterTheOne opened #2676 "HP Procurve - Authentication Failure (TELNET)"
Hello to All.

We have HP Procurves from models J9087A and J9089A that we are facing connection issues with Netmiko 3.4.0 (Windows and Linux).

Using the device_type='hp_procurve_telnet', the username and the password are not being sent.

Using the device_type='hp_comware_telnet', the username and the password are being sent, we could see the hostname and the prompt, but the connection is not esta

[2022-03-11 17:10] AuthenticAMD commented on #2675
Investigating possibility this is related.

https://stackoverflow.com/questions/70565357/paramiko-authentication-fails-with-agreed-upon-rsa-sha2-512-pubkey-algorithm

[2022-03-11 17:14] AuthenticAMD commented on #2675
Lastly, leads me to
https://github.com/ktbyers/netmiko/pull/2646

Looks like I'll need to run the development branch and then disable the sha2 algorithms.

[2022-03-11 17:38] ktbyers commented on #2675
@AuthenticAMD As a quick test you can verify that `paramiko==2.8.1` fixes the issue (i.e. if you temporarily downgrade your Paramiko does it work).

[2022-03-11 17:48] AuthenticAMD commented on #2675
@ktbyers I'm sure that will work too, but wanted to run the newer version if possible. I've confirmed that connection to current version NXOS, IOSXE, and IOSXR works now if the rsa-sha2-512, and rsa-sha2-256 is disabled when previously IOSXE and IOSXR wouldn't connect at all **with key based authentication**.

"disabled_algorithms": {"disabled_algorithms": "rsa-sha2-512, rsa-sha2-256"}

[2022-03-11 17:48] #2675 closed

[2022-03-11 18:03] ktbyers commented on #2676
@FoxMasterTheOne Can you test this code here and see if it helps (or not)?

https://github.com/ktbyers/netmiko/pull/2677

[2022-03-13 16:14] FoxMasterTheOne commented on #2676
Hello @ktbyers , how are you?

I updated the code as you requested, but it didn't work.

Take a look on the new LOG evidence. ([Procurve-Evidence_1647187424.txt](https://github.com/ktbyers/netmiko/files/8240078/Procurve-Evidence_1647187424.txt))

On the write_channel: b'\r\n' string, there is no credentials being sent (no "username" and no "password").

If you take a look com the Comware-Evidence_

[2022-03-14 05:16] ktbyers opened #2680 "Fix exception handing bug"
[code]

Should be an f-string for `str(e)`

[2022-03-14 07:46] sachin0987 commented on #1229
Hey , can you please help us with the solution?

[2022-03-14 17:06] ktbyers commented on #1229
@sachin0987 It is best if you open a new issue and include your failing code (simplified to just what fails) and the exception stack trace. The issue here is closed.

[2022-03-14 17:39] ktbyers commented on #2676
@FoxMasterTheOne Yes, the question is why though...Netmiko should see the Username pattern and send the username (in the telnet_login method).

Can you send over the exception stack trace and post the relevant section of your code.

[2022-03-14 18:15] ktbyers commented on #2680
Fixed here:

https://github.com/ktbyers/netmiko/pull/2681

[2022-03-14 19:25] ktbyers commented on #2676
Get rid of your try/except in your "func_PING (code) and then send over the full exception stack trace when it fails.

In other words, the try/except statement is hiding details about the failure (which will be helpful to see).

Which version of Netmiko are you using?

[2022-03-14 23:34] saparikh opened #2682 "Cisco NXOS: read timeout when command is invalid"
When trying to collect show command output from a large set of NXOS devices, I ran into a situation in which some commands are not valid on all of the devices. An example:

[code]

This is resulted in the following exception in Netmiko:
[code]

[2022-03-14 23:35] saparikh commented on #2682
After digging into the code, I tried this patch locally:
[code]

which has resolved the issue for me. However, I am not sure if this is the correct long-term fix or not, so opening this issue so it can be tracked and discussed.

[2022-03-14 23:39] saparikh commented on #2682
I am running latest develop:

[code]

[2022-03-15 00:00] ktbyers commented on #2682
Why isn't this echoed?

`show ip ospf neighbor`

It looks like it should be given what you posted above. Even when it is an invalid command it should still be echoed?

[2022-03-15 00:01] ktbyers commented on #2682
It works fine/properly for me using the `develop` branch?

[code]

[2022-03-15 00:02] ktbyers commented on #2682
[code]

[2022-03-15 00:03] saparikh commented on #2682
what output do you see?  and what version of NXOS are you running?

before I made my change, I was getting that error. after I made my change the error went away

[2022-03-15 04:52] ifunanyajohnson opened #2683 "check_config_mode failure on IOSv"
My Script:

from netmiko import ConnectHandler

ios_l2 = {'device_type': 'cisco_ios', 'ip': '192.168.122.72', 'username': 'xxxxxxx', 'password': 'yyyyyyyy',}

net_connect = ConnectHandler(**ios_l2)
output = net_connect.send_command('show ip int brief')
print (output)

config_commands = ['int loop 0', 'ip address 1.1.1.1 255.255.255.0']
output = net_connect.send_config_set(config_commands)
print (o

[2022-03-15 05:26] ktbyers commented on #2682
@saparikh The above isn't an error. That is the expected behavior i.e. that is the actual output of that command (since it is an intentionally invalid command).

So above Netmiko is doing exactly what it is supposed to do.

[2022-03-15 05:48] bhaskar219 opened #2684 "Queries to handle some scenarios"
hi ,

need environment similar to popen subprocess in python
 Scenario :
                - execute command , no need to wait , go for next steps
                - if status of command is completed may be with in 30 mins or after 5 days , then get status  and proceed for next steps

but in netmiko:
   - - after executing command  ,  need to wait for the command to complete
   - if the expected outp

[2022-03-15 13:14] FoxMasterTheOne commented on #2676
Hello @ktbyers , how are you?

I am working with Netmiko 3.4.0 (Windows and Linux).

This is the code updated as your suggestion:
[Telnet-Procurve-Access_Netmiko_Simple.txt](https://github.com/ktbyers/netmiko/files/8253502/Telnet-Procurve-Access_Netmiko_Simple.txt)

This is the exception stack trace:

C:/Network-Code/python Telnet-Procurve-Access_Netmiko_Simple.py
Traceback (most recent call last)

[2022-03-15 16:16] ktbyers commented on #2676
Can you try adding a print statement here:

https://github.com/ktbyers/netmiko/blob/v3.4.0/netmiko/cisco_base_connection.py#L108

So something like:

[code]

[2022-03-15 18:26] FoxMasterTheOne commented on #2676
Hello @ktbyers , how are you?

As you requested, I added the print statement and the result was this:
[Procurve-Evidence_01.txt](https://github.com/ktbyers/netmiko/files/8256184/Procurve-Evidence_01.txt)

Thanks a lot for the help.

[2022-03-15 18:37] ktbyers commented on #2676
@FoxMasterTheOne Are you still including this?

https://github.com/ktbyers/netmiko/pull/2677

[2022-03-15 19:07] FoxMasterTheOne commented on #2676
Hello @ktbyers , how are you?

I found the issue!!!

Comparing the file netmiko/hp/hp_procurve.py (#2677) with the one that I have in my system, I realized that the line 177 on my system was different from yours.

I updated the line and the connection was successful.

Thanks a lot for your patience...

Thanks a lot for the help.

[2022-03-15 19:21] ktbyers commented on #2676
What did you have on line 177?

Was this a manual edit you had made or a different/older version of Netmiko?

Regards, Kirk

[2022-03-15 20:18] ktbyers commented on #2684
You can just use Python multiple processes or Python threads (or see Nornir for a specific implementation of threads that supports Netmiko).

But all of that should be doable.

[2022-03-15 20:20] ktbyers commented on #2684
Closing as not really a Netmiko issue here, but we can reopen and discuss (if needed).

[2022-03-15 20:20] #2684 closed

[2022-03-15 20:22] ktbyers commented on #2683
@ifunanyajohnson Have you tried generating all your configuration commands in a single list and then doing a single `send_config_set()` call?

For some reason it failed on a `check_config_mode` call above (hard to tell why though).

You might want to test it against the Netmiko `develop` branch and see if it still fails using that.

[2022-03-15 20:44] ktbyers opened #2685 "ASA Secure Copy raises SSHException: no existing session"
See:

https://github.com/paramiko/paramiko/issues/2005

[2022-03-16 09:52] websantos opened #2687 "Nexus - Incompatible ssh server (no acceptable ciphers)"
Hi all,

I have issue  connecting to my Nexus devices.

My script:
---------------------------------------------------------------------------------------------------------------------------------------------------
from netmiko import ConnectHandler
import paramiko

nexus = {"device_type": "cisco_nxos", "host": "10.1.1.1", "port": "22", "username": user, "password": password,}

connection = Connec

[2022-03-16 15:53] ktbyers commented on #2687
Can you try downgrading to Paramiko==2.8.1 and see if that fixes the issue?

[2022-03-16 17:20] websantos commented on #2687
I'm running this script on a JumpServer and unfortunately I don't have admin rights to downgrading Paramiko.
I could test it on my private GNS3 lab, but I don't have any Nexus Image to GNS3.

[2022-03-16 17:32] websantos commented on #2687
Also from the JumpServer I can ssh the Nexus without any issue

[2022-03-17 07:25] fahimanwari opened #2690 "get the networks of a router"
I want to configure OSPF in routers.
I need to get the networks of each router and put those networks a part of OSPF protocol.
How can I get a router networks?

[2022-03-17 09:47] ifunanyajohnson commented on #2683
I received the same error message still.

**My Script:**

from netmiko import ConnectHandler

ios_l2 = {'device_type': 'cisco_ios', 'ip': '192.168.122.72',
 'username': 'xxxxxx', 'password': 'yyyyyyyy',}
with open('testingFile') as f:
    lines = f.read().splitlines()
print(lines)
net_connect = ConnectHandler(**ios_l2)
output = net_connect.send_config_set(lines)
print (output)

**The Error Message

[2022-03-17 09:52] ifunanyajohnson commented on #2683
Could it be that the cisco ios version of my devices does not support python script because i could actually ssh manually into the cisco devices?
root@NetworkAutomation-1:~# ssh ifunanya@192.168.122.72

**************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS  *
* education. IOSv is provided as-is and is not

[2022-03-17 16:07] ktbyers commented on #2690
Not really a Netmiko issue so I am going to close this.

[2022-03-17 16:07] #2690 closed

[2022-03-18 10:55] AuthenticAMD commented on #2687
@websantos What platform of nexus and version are you running?

[2022-03-18 15:03] websantos commented on #2687
Nexus 3500 c3548p-10gx version 7.0.3i7.8

[2022-03-18 15:47] ktbyers commented on #2687
@websantos Can you expand on what you mean:

`I'm running this script on a JumpServer and unfortunately I don't have admin rights`

So your script is running on the JumpServer (i.e. you are not bouncing through the JumpServer, but running there directly)?

Is there some reason, you can't create a Python virtual environment and install the libraries you need.

Alternatively, is there some reason, y

[2022-03-19 11:27] websantos commented on #2687
I cannot downgrading to Paramiko=2.8.1, because I'm not the administrator.

I send my scripts to the jump JumpServer, after I ssh the JumpServer and I run the scripts.
It works to all devices except to the Nexus.

How can I do it?

[2022-03-19 16:23] ktbyers commented on #2687
You don't need admin privileges to setup a virtual environment. Any user on the system can setup a virtual environment.

The other solution is as per above, but it also will require a virtual environment and ability to install the fix (i.e. the Netmiko `develop` branch).

[2022-03-19 16:56] saparikh commented on #2682
i added this debug code to help debug the error, in case it resurfaced.

[code]

but, so far i have been unable to reproduce this error.

When I first filed this issue, it happened consistently when I was polling a large inventory of devices, but not when polling devices individually.

I am going to close this issue for now. If it happens again and I have new information, I will reopen it.

[2022-03-19 16:56] #2682 closed

[2022-03-19 17:49] ktbyers commented on #2682
Sounds good.

Kirk

[2022-03-21 12:08] govindrathod1987 opened #2694 "Netmiko linux device_type exit_config_mode behavior"
netmiko.ssh_exception.NetMikoTimeoutException seen while trying to execute send_config_set

netmiko version for windows: 2.30

code:

[code]

**Output trace:**
SSH connection established to 172.17.17.66:22
Interactive SSH session established
#
Traceback (most recent call last):
  File "C:/Users/Administrator/PycharmProjects/NFC1.1/extras/Docker_container_tests_neto.py", line 9025, in <module>

[2022-03-21 12:21] AuthenticAMD commented on #2687
I can confirm I see the issue when "ssh ciphers aes256-gcm" is enabled on the switch when running netmiko 4.0.0a4, paramiko 2.9.2, and paramiko 2.7.2.

I tested against a Nexus 9332 running nxos 9.3.9. I suspect this is a paramiko issue in some way.

Do you really need to have "ssh ciphers aes256-gcm" enabled?

[2022-03-21 12:51] AuthenticAMD commented on #2687
https://github.com/paramiko/paramiko/issues

[2022-03-21 16:58] ktbyers commented on #2694
@govindrathod1987 Netmiko 2.30 is very old. You probably would need to see if you can reproduce this behavior on Netmiko 3.4.0.

Regards, Kirk

[2022-03-22 21:28] websantos commented on #2687
Do you know other way to ssh these devices with cipher aes256-gcm using python?

[2022-03-23 06:47] arob182 commented on #2645
Hello @kochargs and @ktbyers,

What was the exact fix action for this issue. I tried following the thread but could not reach a solution. My topology is typical.. Win10 ---> Jumpserver --> Device. When running my /.ssh/config script via powershell I can route through the proxy to end device with no issue. Even without specifying the path in powershell I route through the proxy (ex: ssh user@X.X.X.

[2022-03-23 13:12] robin-gllt commented on #2577
As indicated by the error message the issue is indeed linked to the DSA key size.
In my case my oneaccess routers were using 512 dsa key size.
Depending of the context it's not always possible to regenerate the DSA keys on devices (notably if there is a large install base to manage)

To fix this I directly edited the _check_dsa_parameters function in dsa.py file in my environment (e.g \site-packag

[2022-03-23 17:12] arob182 opened #2695 "paramiko.ssh_exception.ProxyCommandFailure: ProxyCommand"
ISSUE:

I tried following the thread, #2645, but could not reach a solution. My topology is typical.. Win10 ---> Jumpserver --> Device. When running my /.ssh/config script via powershell I can route through the proxy to end device with no issue. Even without specifying the path in powershell I route through the proxy (ex: ssh user@X.X.X.X brings me through the proxy to the switch). When I attempt

[2022-03-23 18:38] ktbyers opened #2700 "Should enable ANSI escape code stripping for all platforms by default"

[2022-03-23 22:46] ktbyers commented on #2695
Why the double forward slash here?

[code]

[2022-03-23 22:49] arob182 commented on #2695
@ktbyers I just deleted my company username from the directory. Sorry should have specified that.

[2022-03-23 22:50] ktbyers commented on #2695
@arob182 Okay, so you edited this error line here?

[code]

And that extra space is not really in the output?

Just verifying.

[2022-03-23 22:51] arob182 commented on #2695
@ktbyers same with

`paramiko.ssh_exception.ProxyCommandFailure: ProxyCommand("ssh -F c:/users/ /.ssh/config -W :22 jumphost") returned nonzero exit status: An operation was attempted on something that is not a socket`

after the -W is the IP of the host put here `'host' : 'host',`

[2022-03-23 22:51] arob182 commented on #2695
Correct, I can replace with a filler if that makes parsing this easier :)

[2022-03-23 22:55] arob182 commented on #2695
Here is a new run of the script with the it filled <host> as the IP i am trying to reach and <user> for the name.

[code]

[2022-03-23 23:04] ktbyers commented on #2695
This error looks like some sort of a Windows permissions error:

[code]

That is where I would search and dig some more on.

I assume you have Windows Subsystem for Linux?

[2022-03-23 23:20] arob182 commented on #2695
@ktbyers Thanks ill dig into it some more. I do have WSL, but I am relatively new to utilizing it. I will also look into how to run the script from there.

[2022-03-23 23:35] ktbyers commented on #2695
Yeah, that permissionError/WinError is the main thing that looked odd to me.

That and this message also:

[code]

That is where I would probably start.

You might want to also try to just directly use the SSH config level from WSL and openssh (i.e. test wheter it works outside of Netmiko using WSL).

[2022-03-24 04:21] ktbyers opened #2705 "Juniper performance is too slow"
See performance graphs and look into the cause of this.

[2022-03-24 04:21] ktbyers opened #2706 "NX-OS performance might be too slow"
Look at performance graphs and look into the cause of this more.

[2022-03-24 13:38] dainok opened #2707 "cmd_verify lstrip output"
I discovered that cmd_verify=True strip left part of output (lstrip).

Output from the router:

[code]

Netmiko with cmd_verify:

[code]

Netmiko without cmd_verify:

[code]

You can see that the double initial spaces are stripped with cmd_verify, and this affect TextFSM parsing.

[2022-03-24 16:33] ktbyers commented on #2707
Which platform is this?

Is this your own template or ntc-templates?

[2022-03-24 16:38] dainok commented on #2707
platform: cisco_ios
netmiko: 3.4.0

I'm using NTC templates, but my point is that Netmiko is altering the output from the device. Don't know if it's by design or not.

[2022-03-24 16:47] ktbyers commented on #2707
Can you re-test it with Netmiko 4.0.0? It might be fixed with that.

[2022-03-24 16:51] dainok commented on #2707
Fixed in 4.0.0, thank you.

[code]

[2022-03-24 16:51] #2707 closed

[2022-03-24 17:01] ktbyers commented on #2707
Okay, great.

[2022-03-24 21:52] ktbyers commented on #2021
No response to additional questions.

[2022-03-24 21:52] #2021 closed

[2022-03-24 21:53] ktbyers commented on #2025
I did change the ASA back to default to allow_auto_change = True. This is the case in Netmiko 4.0.0 and later. Would have to dig more to see when exactly it changed, but it is set in the 4.0.0 code.

[2022-03-24 21:53] #2025 closed

[2022-03-24 21:54] #2017 closed

[2022-03-24 21:55] ktbyers commented on #2027
It is done manually in the method (in 4.0.0 code) for send_config_set.

[2022-03-24 21:55] #2027 closed

[2022-03-24 21:56] ktbyers commented on #2035
Additional information is missing.

[2022-03-24 21:56] #2035 closed

[2022-03-24 21:56] #2040 closed

[2022-03-24 21:56] #2041 closed

[2022-03-24 21:56] #2049 closed

[2022-03-24 21:58] #2085 closed

[2022-03-24 21:59] #2093 closed

[2022-03-24 21:59] #2094 closed

[2022-03-24 22:00] #2103 closed

[2022-03-24 22:01] ktbyers commented on #2129
This was fixed in Netmiko 4.0

[2022-03-24 22:01] #2129 closed

[2022-03-24 22:02] #2151 closed

[2022-03-24 22:02] #2434 closed

[2022-03-24 22:03] #2371 closed

[2022-03-24 22:03] ktbyers commented on #2359
This was done in Netmiko 4.0.0 (names changed to different names).

[2022-03-24 22:03] #2359 closed

[2022-03-24 22:03] #2360 closed

[2022-03-24 22:03] #2354 closed

[2022-03-25 04:09] ktbyers commented on #2505
Fixed #2708

[2022-03-25 04:09] #2505 closed

[2022-03-25 15:25] fomik2 opened #2709 "Upload nxos from ftp server"
Hi,
I need to upload nxos version to many cisco nexus devices.
I've tried to do it in this way:

[code]
This code is doing all I need, but I want do make some changes, for instance, I don't want to use time.sleep(3600) and I want netmiko to disconnect from device and print somethign like "Uploading is complite for {switch['host']} when uploading will be complited.
How can I achieve this behavior?

[2022-03-25 15:35] ktbyers opened #2710 "Aruba OS paging is broken for controllers"

[2022-03-26 06:26] applericky commented on #2705
Hey I use Juniper a lot. Let me know if you want me to do any tests.

[2022-03-26 07:09] govindrathod1987 commented on #2694
@ktbyers I updated my environment to python3.x and Netmiko 3.4.0 and i still see the issue.

#
Traceback (most recent call last):
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\paramiko-2.10.3-py3.10.egg\paramiko\channel.py", line 699, in recv
    out = self.in_buffer.read(nbytes, self.timeout)
  File "C:\Users\Administrator\AppData\Local\Programs\Python\P

[2022-03-26 15:02] ktbyers commented on #2705
@applericky Okay, great.

Here is the latest graph which includes Juniper. I was a bit surprised Juniper was so relatively slow.

It is a bit unclear to me whether this is due to my virtual MXs being slow or the actual Netmiko code being slow. I will send some more details on the performance test setup and how this could be replicated against real devices.

[2022-03-26 23:16] applericky commented on #2705
Hi,

Sorry I don't see the graph? Maybe its in a different spot?

I can test both vSRX's and physical SRX's in prod.

[2022-03-26 23:31] ktbyers commented on #2705
My bad, I forgot to paste it:

https://github.com/ktbyers/netmiko/blob/develop/tests/performance/performance_report.md

I will put in some details about how I normally test this as well.

[2022-03-26 23:38] applericky commented on #2709
Hi,

That can be done. I've ran into some issues where the SSH session times out but that is based on the timeout set on the device I'm running the automation on. Your mileage may vary but I believe the following should give you what you need.

[code]

The thing here is that you will have to play around with checking to see if the transfer has completed. ssh.disconnect() is going to end the sessio

[2022-03-27 01:07] applericky commented on #2705
Cool got it. I can see the code for it too which looks nice for the graph. When the time permits send over the details on setting up.

[2022-03-27 03:29] ktbyers commented on #2705
You can comment out the large ACL test and focus on the connect, show. The small config change should be benign. You can set the test device in the the test_devices.yml file.

You can comment out these two lines two disable the configuration changes.

https://github.com/ktbyers/netmiko/blob/develop/tests/performance/test_netmiko.py#L191-L192

The main way I run the test is by running this script h

[2022-03-27 15:41] ktbyers commented on #2694
Netmiko 4.0.0 has been released. Can you test with that.

Also you probably need to show the Netmiko session_log. You can enable this by adding:

[code]

To your device dictionary that you feed into ConnectHandler.

[2022-03-28 06:01] govindrathod1987 commented on #2694
Hi @ktbyers i still see the issue even after updating to Netmiko 4.0.0
below is the session log  contents and console output:

**Netmiko session log**
Welcome to Ubuntu 20.04.3 LTS (GNU/Linux 5.4.0-100-generic x86_64)

 * Documentation:  https://help.ubuntu.com
 * Management:     https://landscape.canonical.com
 * Support:        https://ubuntu.com/advantage

  System information as of Mon 28 Mar

[2022-03-28 08:09] quinntwohao opened #2711 "Huawei special_login_handler is not logging in successfully"
The system information is as follows:
1. netmiko version: 4.0
2. python 3.10
3. window 11

error_print:
[code]

test instanse
2. python 3.10
3. window 11
[Netmiko 3.4.0 Release](https://github.com/ktbyers/netmiko/releases/tag/v3.4.0)

out_print

no problem

[2022-03-28 11:23] applericky commented on #2705
@ktbyers I have the repo downloaded and I have done most of the setup. Had to change some things to fit my environment from yours. I just now need to work on the gen_graph.py.It's failing the tests on the split(":"). I'm getting a nonetype error. I'll keep you posted on progress.

[2022-03-28 22:20] migmorales22 opened #2712 "Textfsm using the wrong device_type fails"
I'm trying to work with textfsm to make reporting of a bunch of devices.

But first I wanna know how it work.

This is the script
`from netmiko import ConnectHandler
from getpass import getpass
from pprint import pprint

cisco1 = {
    "device_type": "cisco_ios",
    "host": "10.192.33.115",
    "username": "jmimorales",
    "password": getpass(),
}

command = "show ip int brief"
with ConnectHandl

[2022-03-29 00:47] applericky commented on #2712
Hi @migmorales22,

I do believe you might be missing the following on your print.

[code]

You have a regular print.
Double p that line.

There could be another reason but I think that should be it.

Have you seen this Article?

[Netmiko and TextFSM
Author: Kirk Byers
Date: 2022-01-13](https://pynet.twb-tech.com/blog/netmiko-and-textfsm.html)

[2022-03-29 03:35] migmorales22 commented on #2712
Thank u @applericky

I figure it out, I need to be sure that the template and the device match with the exact command

**
from netmiko import ConnectHandler
from getpass import getpass
from pprint import pprint

cisco1 = {
    "device_type": "cisco_xr",
    "host": "10.192.33.115",
    "username": "jmimorales",
    "password": getpass(),
}

command = "show ip int brief"
with ConnectHandler(**cisco

[2022-03-29 06:06] applericky commented on #2712
Ahh! I'm glad you were able to get it up and running. Those device types with Cisco get me too!

@ktbyers I would say this one is good to close out.

[2022-03-29 11:12] applericky commented on #2705
Attempted again.  Having some issues with def convert_time(time_str):
Here is what I'm seeing.

[code]

[code]

Looks like I'm right at the last part. As mentioned before I have made some changes to a few things to just get it started but this part looks like its requiring some changes? I don't want to mess with the code too much so the reading I give you are accurate.

[2022-03-29 14:59] ktbyers commented on #2705
We don't really need the graphs for this issue. The main problem/item here is figuring out why it takes 6.35 seconds to just connect or 7.2 seconds to execute a simple show command. In other words, we should be able to just look and use the numbers we get back from the test.

We probably should look into the session_preparation method in the Juniper class and see if we can figure out why it is tak

[2022-03-29 15:02] ktbyers commented on #2712
I changed the title, just for people that might search on this later.

So the issue was you had an IOS-XR device, but initially tried to use the `cisco_ios` device_type--correct?

[2022-03-29 15:02] #2712 closed

[2022-03-29 16:50] applericky commented on #2705
Ahh ok I thought we needed the graphs. I tested it against a vSRX. I'll test out some different models of SRX.

[2022-03-29 23:09] migmorales22 commented on #2712
Yes, that was the issue. At first, I thought that Netmiko doesn't know where the TextFSM templates are, but that was not the problem.

Thanks.

[2022-03-30 00:05] migmorales22 commented on #2711
are you trying to do it with Huawei device_type?

Cause I have the same problem.
Tes instance
1. python 3.9.7
2. Mac OS
3. Netlike 4.0.0

**from netmiko import ConnectHandler
from getpass import getpass
from pprint import pprint

cisco1 = {
    "device_type": "huawei",
    "host": "10.179.28.2",
    "username": "jmimorales",
    "password": "Yv1cax$72211",
}

command = "display version"
with Conne

[2022-03-30 01:46] ktbyers commented on #2711
Can one of you show me what the Huawei login looks like? In other words, if you login manually what does the CLI session look like?

[2022-03-30 01:47] ktbyers commented on #2705
Yeah, it is all good. The main issue is why is it taking so long (as 6.4 seconds just to login seems pretty slow).

[2022-03-30 03:09] migmorales22 commented on #2711
Yeah sure,

There it is:

**josemiguelmorales@MIG-MBA ~ % ssh jmimorales@10.179.28.2

+----------------------------------------------------------------+
| Este equipo es propiedad privada,                              |
| si no tiene autorizacion para ingresar al equipo, por favor    |
| cancele la conexion inmediatamente,cualquier anomalia sera     |
| reportada a las autoridades correspondientes

[2022-03-30 03:53] ktbyers commented on #2711
What is this ** after the prompt?

[code]

Is that really there or was that an error in the posting above?

[2022-03-30 04:01] migmorales22 commented on #2711
that was and error, those **** are not on the prompt.

Its because I wanna make the output to be in bold text.

[2022-03-30 08:57] JulienSSH opened #2713 "Backslash added in hostname leading to 'pattern not detected'"
I'm trying to execute a list of commands on devices from a specific inventory by using Nornir. It seems I'm facing an issue at Netmiko level. For some reasons backslash are added to the hostname of some IOS devices (not all) leading to below error:

[code]

For exemple, device hostname 'CPE-XXX-YYYYYY-ZZZZZZZZ>' is converted according ReadTimeout error to: 'CPE\\-XXX\\-YYYYYY\\-ZZZZZZZZ>'.

To sha

[2022-03-30 11:54] nivaldoinacios commented on #2711
I have the same problem after having cloned the repository to another computer.

on the computer where I create the rep. it's working fine

I'm using another version of pycharm

[2022-03-30 13:04] nivaldoinacios commented on #2711
I managed to solve the problem.
I was connecting by ConnectionHandler and I switched to HuawelTelnet

[2022-03-30 13:34] jj-jj-j commented on #2025
Hi ktbyers,
Hope you are doing good!
Thank you for the update, so new 4.0.0 will not automatically adjust width, because it is making change in standby unit of ASA, that is kind of flaw and also show commands should not change any configuration,  so where I have to set this parameter to false?

regards,
Vivek J

[2022-03-30 15:45] ktbyers commented on #2025
Yeah, I disagree with you on this: `show commands should not change any configuration`. Netmiko by design will change the terminal width and disable output paging.

But at least for the ASA case, you can disable this behavior as per the above.

[2022-03-30 15:59] ktbyers commented on #2711
Does Netmiko 3.4.0 work (i.e. is this only a Netmiko 4.0.0 issue)?

@migmorales22

[2022-03-30 16:06] ktbyers commented on #2713
The backslash is fine (that is just normal/standard regular expression escaping). In other words, hyphen is a special character so it needs escaped.

[code]

[2022-03-30 16:10] ktbyers commented on #2713
Can you post your Nornir code?

Which `command` are you sending to the device?

Also, you might want to set both global_delay_factor=2 and fast_cli=False:

[code]

In other words, I see you have these defined when you directly use the Netmiko driver, but you are not setting them for NAPALM (and NAPALM IOS calls Netmiko under-the-hood so it likely needs them also).

[2022-03-31 01:06] applericky commented on #2705
Copy. I'll take a look too.

[2022-03-31 02:47] ktbyers commented on #2705
You can use this decorator here to show the time that various things take to execute when called:

https://github.com/ktbyers/netmiko/blob/develop/netmiko/utilities.py#L600

The m_exec_time is for methods. There is a similar f_exec_time for straight functions.

You would just import it and then put it before the method. For example:

[code]

I would probably look at the things that happen in the s

[2022-03-31 02:50] ktbyers commented on #2710
From earlier discussions:

[code]

[2022-03-31 02:51] ktbyers commented on #2710
Propose:
1. Revert `aruba_os` device_type back to be Aruba WiFi controllers (i.e. revert the change in https://github.com/ktbyers/netmiko/pull/2544).
2. `aruba_osswitch` becomes the device_type for Aruba-OS which are the rebranded HP ProCurve's. This actually already exists.

[2022-03-31 02:53] ktbyers commented on #2710
FYI: @fiveghz

[2022-03-31 02:53] ktbyers commented on #2710
FYI: @luigirosa

[2022-03-31 02:57] ktbyers commented on #2711
@migmorales22 So in Netmiko 3.4.0, you connect, but your TextFSM parsing doesn't work properly (i.e. you have a different issue, but not a connection issue).

Is that correct?

[2022-03-31 03:06] ktbyers commented on #2710
Fixed here:

https://github.com/ktbyers/netmiko/pull/2714

[2022-03-31 03:06] #2710 closed

[2022-03-31 03:54] migmorales22 commented on #2711
Yes, that's correct,

With netmiko 3.4.0 its the textfsm that doesn't parse the output of the send command, and in netmiko 4.0.0 is the "Exception has occurred:ReadException"

[2022-03-31 07:05] luweijun1992 commented on #2711
`
Connecting to 192.168.1.100:22...
Connection established.
To escape to local shell, press 'Ctrl+Alt+]'.

WARNING! The remote SSH server rejected X11 forwarding request.

Info: The max number of VTY users is 10, and the number
      of current VTY users on line is 1.
      The current login time is 2022-03-31 15:03:24+08:00.
Info: Lastest accessed IP: 192.168.1.100  Time: 2022-03-31 14:58:54+08:0

[2022-03-31 18:41] ultimattt opened #2716 "FortiGate sending back line feed in 'Do you want to continue'"
I am running on macOS with Python3.8. Trying to use send_command_timing to execute a task and provide a 'y' in the process.
It's failing because I don't think it's passing a carriage return, but instead adding a ^J to the command. I know fortinet support is experimental, however whatever I can do to help improve support, I'd be happy to assist.

Script looks like this:

[code]

Output looks like t

[2022-04-01 13:58] oli2023 opened #2717 "write_channel not working in loop"
Hello, new user to python and this is driving me up the wall:

`host_list` = open(r'C:\device_list.txt','r') # a simple list of IP addresses you want to connect to each one on a new line
oli_command_list = open(r'C:\command_list.txt','r') # list of commands to run

for host in host_list: # loop through network devices
    host = host.strip()
    print(host, flush=True)
    cmd_device = "ssh " + ho

[2022-04-01 20:30] #2717 closed

[2022-04-01 20:32] oli2023 commented on #2717
Solved it, apologies for the error.

[2022-04-03 03:30] pyhas commented on #2711
I have the same issue with Huawei device

[2022-04-03 03:32] luweijun1992 commented on #2711
New version V4.0.0 has problems with huawei devices.
@ktbyers

[2022-04-03 06:21] applericky commented on #2705
To confirm,

I added the following to https://github.com/ktbyers/netmiko/blob/develop/netmiko/juniper/juniper.py#L18

[code]

I also verified that it was already imported.

`from netmiko import utilities`

- Tested the test script again and nothing populated.
- Tested by removing the version of Netmiko on my system and installed the netmiko-develop version.

I ran an existing script that I had to

[2022-04-03 16:13] ktbyers commented on #2705
I would try doing the import like this:

[code]

[2022-04-03 18:24] ghmj2417 opened #2718 "cisco_ios - device hostname > 20 characters causes ReadTimeout exception"
Using netmiko 4.0.0 (latest install from pip).  Did not experience this issue using 3.4.0.

Using type `cisco_ios`.  When I have a device with a hostname > 20 characters and try to run `send_config_set`.  I consistently receive an exception ReadTimeout
[code]
When I change the hostname to be 20 characters or less then the commands will be sent successfully. I also tested `send_command_timing` whic

[2022-04-04 08:55] govindrathod1987 commented on #2694
@ktbyers Any updates on this issue ?

[2022-04-04 16:12] ktbyers commented on #2694
@govindrathod1987 Can. you post the relevant Python code?

Also have you looked at the session_log or the debug log as indicated by the above error message?

[2022-04-04 21:48] fharbe commented on #2711
I can confirm the issue using Netmiko 4.0.0 (latest pip release together with Python 3.10.4) using `device_type = 'huawei'`.

With the Netmiko 3.4.0 release everything works fine. Also, it doesn't seem to make any difference whether the password change prompt is displayed or not (see both tracebacks below).

[code]

[code]

After spending some time investigating the issue I found out that the patt

[2022-04-05 03:08] luweijun1992 commented on #2711
When will the new version be released.

[2022-04-05 05:29] govindrathod1987 commented on #2694
@ktbyers here is the sample code and output:

code:
 linux = {
        'device_type': 'linux',
        'ip': '172.17.17.66',
        'username': 'admin',
        'password': 'admin123',
        'port': 22,
        'verbose': True
    }

net_connect = ConnectHandler(**linux)
time.sleep(2)
output = net_connect.enable()
print("test1")
print(cmd)
output = net_connect.send_config_set(cmd, delay_factor=

[2022-04-05 11:13] JulienSSH commented on #2713
Thanks for your help ktbyers! I'm using really basic command on nornir:
[code]

I updated napalm optional_args as you advised but unfortunately it didn't help.

I still don't understand why this is issue is appearing only for specific devices beacause I'm able to connect to all devices using SSH.

[2022-04-05 13:47] sic162 commented on #2718
I am having the same issue with netmiko 4.0.0.

Using ```send_config_set``` on a Cisco IOS device and hostname is > 20 characters raises exception:

[code]

When in config mode on Cisco devices with longer hostnames, a portion of the hostname is cut off at the prompt. for example:

[code]

I found another post that mentioned using ```set_base_prompt()``` a possible solution after entering config m

[2022-04-05 14:14] JulienSSH commented on #2713
Ok I don't have any idea of the reason of the issue but for some reason we rebooted the devices and my script is working as expected now.

[2022-04-05 14:14] #2713 closed

[2022-04-05 15:42] MitchellMahan commented on #1485
I believe I have the same issue.
It appears that find_prompt() does not like the F5s prompt changes to "Changes Pending":

********@(primary)(cfg-sync In Sync)(Active)(/Common)(tmos)#   some modify/create/etc. command
********@(primary)(cfg-sync Changes Pending)(Active)(/Common)(tmos)# <---

Is there an easy way to adjust the find_prompt() to ignore (cfg-sync .*)? I could not find an easy way to d

[2022-04-05 16:11] ktbyers commented on #2713
Okay, FWIW I pretty much never use napalm_cli.

In this case, I would probably say you should just straight Netmiko (i.e. you are just adding a layer of indirection to get at the Netmiko driver). So if it comes up again, I will probably ask if you can reproduce the issue directly using Netmiko.

[2022-04-05 16:13] ktbyers commented on #2718
Can either of you post the full exception stack trace (so I can better see where in the Netmiko code the exception is occurring).

[2022-04-05 16:25] ghmj2417 commented on #2718
@ktbyers Here you go
[code]

[2022-04-05 16:28] ktbyers commented on #2694
It looks like you are sending these three commands. I reformatted it slightly since you were overloading commands by using a semi-colon

[code]
    '/opt/hpe/nns/NVME-OF-Server/nns-cli/nnsadm -a 100.100.2.254 -r dd -n DD1_vlan-2'
[code]

[2022-04-06 13:32] fharbe commented on #2711
@luweijun1992 You could install it directly from Git until the Pull Request gets merged.

[code]

[2022-04-06 13:39] govindrathod1987 commented on #2694
Hi @ktbyers Thanks :)
I tried the second option today as suggested by you and worked:

"""
Second option:

Just call send_command() three times or use send_multiline() instead of using send_config_set().

"""
as said by you,  I have left the issue opened for now.

[2022-04-06 20:02] ktbyers commented on #2718
Should be fixed here:

https://github.com/ktbyers/netmiko/pull/2720

[2022-04-06 20:02] #2718 closed

[2022-04-06 20:06] ktbyers commented on #2716
Can you separate the two parts i.e. make an output1 and an output2 for the two separate send_command_timing() calls.

Probably should set strip_prompt=False and strip_command=False in both cases.

Also can you post what this looks like when you do it manually via the CLI (i.e. just capture it and paste it here)?

[2022-04-06 20:08] ktbyers commented on #2709
I am going to close this issue. Doesn't really look like an issue.

You can do the image transfer both from the device or from the server side and you can do it with threading. Obviously gets hard and easy to make mistakes if you do threading. In the threading case, I would recommend you use Nornir + Netmiko to handle the threading.

[2022-04-06 20:08] #2709 closed

[2022-04-06 20:09] #2687 closed

[2022-04-06 20:10] ktbyers commented on #2687
Scrapli might be able to solve this since it can use openssh directly on the system. So that might be one alternative for this particular issue.

[2022-04-06 20:11] ktbyers commented on #2683
I am going to close as no response to last request. You can just re-open this issue if you still want to work on it.

[2022-04-06 20:11] #2683 closed

[2022-04-07 07:06] DarkPhily opened #2722 "Slack link is inactive"
I know, that is not an issue directly connected to development of netmiko. But I have some questions and wanted to join you on slack to geht them answered. Unfortunately the link is inactive.

I would appreciate it if you could renew the link.

[2022-04-07 12:47] kingroudy opened #2723 "Extreme EXOS read-only account"
Hi,

It seems netmiko is unable to handle Extreme EXOS when logging in with read-only (user, non-administrative privilege) accounts. The difference be it that admin accounts end their prompt with '#' while read only accounts end their prompt with '>'

example:
            testhost.1 >
            testhost.2 >
            testhost.3 >

Having searched the source code, it seems the '#' is hard coded

[2022-04-07 15:37] ktbyers commented on #2722
Yeah, Slack doesn't keep their invite links active indefinitely (even though they indicate they should stay active).

Can you ping me or contact me via LinkedIn or Twitter and we can get you the invite.

@DarkPhily

My linkedin is here:

https://www.linkedin.com/in/ktbyers/

[2022-04-07 15:42] #2722 closed

[2022-04-09 18:56] panda2799 opened #2724 "Unable to login into zte router"
Hi Ktbyers.

I have just started learning netmiko module. I am following your documentation. Tried to login into zte router but its throwing me some errors.

netmiko.ssh_exception.NetmikoTimeoutException: TCP connection to device failed.

Common causes of this problem are:
1. Incorrect hostname or IP address.
2. Wrong TCP port.
3. Intermediate firewall blocking access.

Could you please guide me h

[2022-04-10 02:13] luweijun1992 commented on #2724
The connection should have timed out, add a timeout.
[code]

[2022-04-10 07:02] panda2799 commented on #2724
Hi,

Putting the connection time out statement it didn't worked. I believe if the router has port 22 open. Would that must be the case

[2022-04-10 13:53] ultimattt commented on #2716
Hey ktbyers, thanks for responding. Sorry for my delay in responseSo I changed the script a bit to look like this:

[code]

And got the following output:

[code]

Also, it should look like this in real life:

[code]

[2022-04-10 14:48] itzzmeshashi opened #2725 "read_timeout not working with send_config_set"
Hi,

I'm using send_config_set with read_timeout set to 40sec. I'm sending a few set commands and a commit to a palo alto firewall.
The commit is actually taking 36 sec to complete, but netmiko is sending '\n' to get the read the prompt after around 10sec which is raising a read timeout exception.

I did test individually with read_timeout_override and passing read_timeout in send_command, both ar

[2022-04-10 16:28] ktbyers commented on #2724
Are you able to manually SSH into the router from the server you are running your script on? Can you show me what that login process looks like (i.e. post the SSH login output here).

[2022-04-10 16:57] ktbyers commented on #2716
Looking it up online "^J" (control-J) is a line feed. I am guessing it is from the device. I guess your terminal emulator ignores it when you login manually (but printing it out doesn't).

I don't really see any reason that it would be from Netmiko.

Do you actually fail to hand the `Do you want to continue`? Does that actually get stuck and not work?

[2022-04-10 16:59] ktbyers commented on #2716
If you aren't seeing any issue and the only problem is the `^J` in the output, then just strip that from the output (i.e. remove that character from the output in your code so that it doesn't show up).

[2022-04-10 17:08] ultimattt commented on #2716
Well... I think you're right. I just ran a test and it's working. I think the added `^j` was confusing me - noob at best with Python here, super green with Netmiko, in fact this is the first thing I used it for - so thanks for the double check.

I do have access to FortiOS, if there's any way I can help improve the support from Experimental to something more mainstream please let me know.

[2022-04-10 17:08] #2716 closed

[2022-04-10 17:11] ktbyers commented on #2716
Yeah, I couldn't see any reason that Netmiko would send that (and it seems plausible to me that the Fortigate would automatically send a line-feed after that). But definitely assumptions on my part.

If you want to run the Netmiko test suite on the fortios, that would be helpful.

The process is here.

Make sure you are using Netmiko 4.0.0 or alternatively the Netmiko `develop` branch.

[2022-04-10 17:54] panda2799 commented on #2724
Hi kt

I tried via putty but it says network timed out popup. The thing is i don't have any other router like cisco to practice on. Can i practice this work through gns3 lab excercise? To login into a simulator cisco router.

[2022-04-10 17:55] panda2799 commented on #2724
It looks like i m messing up in assigning the ips. For sure the wifi router part is not working.

[2022-04-10 19:28] panda2799 commented on #2724
After trying all the things from cloud to a cisco router

I confugured loopback interface and assigned a ip to my router belonging to same submet as of loopback address but when i am trying to ping its showing me destination not reachable or requested time out

[2022-04-10 20:53] ktbyers commented on #2724
Okay, this all sounds like not Netmiko issues so I am just going to close this.

[2022-04-10 20:53] #2724 closed

[2022-04-11 11:44] govindrathod1987 opened #2726 "Netmiko failed to fetch large output approx 104KB and has empty string as output."
Netmiko failed to fetch large output approx 104KB and has empty string as output.

**sample code:**
linux = {
        'device_type': 'linux',
        "session_log": 'netmiko_session.log',
        'ip': '',
        'username': '',
        'password': '',
        'port': 22,
        'verbose': True
    }
cmd0 = "docker exec -ti hpe_nfc /bin/sh"
cmd2 = nnsadm_loc + '/nnsadm -a ' + primary_vlan_ip + "

[2022-04-11 14:42] ktbyers commented on #2726
You shouldn't use `send_command_timing` for very large output, you should use `send_command` with a known terminating pattern i.e. expect_string argument (or alternatively use the trailing prompt which is the default).

It is unlikely that send_command_timing will successfully capture large outputs (given the way it works).

[2022-04-11 14:42] #2726 closed

[2022-04-12 01:22] nivaldoinacios commented on #2725
same issue here

[2022-04-12 17:19] ktbyers commented on #2725
@itzzmeshashi @nivaldoinacios Can you both post the failing code and the exception message that you are receiving.

[2022-04-12 18:36] ktbyers commented on #2711
Updated PR here:

https://github.com/ktbyers/netmiko/pull/2728

Can anyone test that this works properly?

[2022-04-12 18:37] ktbyers commented on #2723
@kingroudy I will try to fix this today.

[2022-04-12 18:38] ktbyers commented on #2685
Fixed here:

https://github.com/ktbyers/netmiko/pull/2688

[2022-04-12 21:27] ktbyers commented on #2723
Fixed here:

https://github.com/ktbyers/netmiko/pull/2729

[2022-04-12 21:27] #2723 closed

[2022-04-13 19:28] code-dave opened #2730 "IOS_XR cmd send failure | newlines being pre/appended"
Basic import and parameters set:

parms = {
"device_type": "cisco_xr",
"host": ip,
"username": username,
"password": password
}_

Create reference

Find prompt

**'RP/0/RP0/CPU0:Hostname#'**

Attempt  send cmd

**_'\n% This command is not authorized'_**

I thought maybe the terminal width had something to do with the issue, so I tried setting it, and got this output:

"500\r\n\r

[2022-04-13 20:02] ktbyers commented on #2628
Fixed in referenced PR

[2022-04-13 20:02] #2628 closed

[2022-04-13 20:49] code-dave commented on #2730
_>>> c.send_command('\nshow clock')
'\n\nRP/0/RP0/CPU0:CSSneMUScghdc01#show clock\n\n% This command is not authorized'

[2022-04-13 21:27] ktbyers commented on #2659
Should be fixed here:

https://github.com/ktbyers/netmiko/pull/2732

@svautour Any possibility you can test that fix?

[2022-04-13 21:27] #2659 closed

[2022-04-13 21:35] ktbyers commented on #2730
What does your IOS-XR device do if you just send an `enter` by itself?

[2022-04-13 22:00] ktbyers commented on #2730
Are you sure you are logging in with Netmiko using the same user that you are logging in manually with?

The above just looks like standard `AAA` rejecting the command.

[2022-04-13 22:01] ktbyers commented on #2730
This all works fine for me:

[code]

[2022-04-13 22:45] ktbyers commented on #2479
This is fixed here:

https://github.com/ktbyers/netmiko/blob/develop/netmiko/ssh_dispatcher.py#L347

[2022-04-13 22:45] #2479 closed

[2022-04-13 23:41] code-dave commented on #2730
Apologizes @ktbyers . It appears different permissions were being assigned to the sessions, based on source IP. With that, the sessions permissions were being limited for the netmiko sessions.

Sorry again for the misunderstanding. I did not at all mean to waste your time.

[2022-04-14 01:13] ktbyers commented on #2730
@code-dave No worries at all.

[2022-04-14 01:13] #2730 closed

[2022-04-14 01:23] ktbyers commented on #2711
@luweijun1992 @pyhas @migmorales22 @nivaldoinacios @quinnhao Let me know is someone can test the PR here:

#2728

I want to try to include this in a Netmiko release that I would release shortly.

Thanks, Kirk

[2022-04-14 01:26] luweijun1992 commented on #2711
Looking forward to the release of the new version, I go back to the old version v3.4.0

[2022-04-14 04:04] ktbyers commented on #2711
@luweijun1992 Yep, I need someone to test that it fixes the issue. Can you do that?

[2022-04-14 04:05] luweijun1992 commented on #2711
No problem, I will test the new release.

[2022-04-14 04:20] ktbyers commented on #2711
Yeah, I really need someone to test it beforehand i.e. before it gets merged into `develop` (and before there is a release).

[2022-04-14 04:24] ktbyers commented on #2621
Should be fixed here:

https://github.com/ktbyers/netmiko/pull/2733

[2022-04-14 04:24] #2621 closed

[2022-04-14 14:31] luweijun1992 commented on #2711
Please tell me how to cooperate with you for the test.

[2022-04-14 16:15] ktbyers commented on #2711
@luweijun1992 pip install it and see if the previous failure occurs or not.

You can pip install a specific commit. You can also pip install a branch. Some of this pip syntax is confusing, but should be available online. I usually do:

[code]

i.e. I usually just install it from the local repository. You have to make sure you clone the right location. I will merge into the `develop` branch (right

[2022-04-15 01:04] luweijun1992 commented on #2711
[code]
![image](https://user-images.githubusercontent.com/58923704/163501634-760b9200-902a-476e-bc60-863dd000db3c.png)

[code]
![image](https://user-images.githubusercontent.com/58923704/163501461-88ebee78-87e0-4aee-b367-3336712eb438.png)

[2022-04-15 02:17] ktbyers commented on #2711
@luweijun1992 Okay, great thanks for testing.

I have a new fix here:

https://github.com/ktbyers/netmiko/pull/2737

This has been merged into `develop`.

You should be able to update your code that you are testing with by doing.

[code]

This assumes you still have the `develop` branch checked out (which you should).

[2022-04-15 02:18] ktbyers commented on #2711
If you could re-test this new fix, that would be very helpful.

[2022-04-15 02:22] luweijun1992 commented on #2711
The test was successful.
![image](https://user-images.githubusercontent.com/58923704/163507689-b560b670-55b4-44b0-9841-78f2b1202e5a.png)

![image](https://user-images.githubusercontent.com/58923704/163507714-b281fed6-e119-4ed8-a01e-fe7db0911ba0.png)

[2022-04-15 02:24] luweijun1992 commented on #2711
But the result of print seems abnormal.
[code]
![image](https://user-images.githubusercontent.com/58923704/163507994-dbecb85f-4f4c-46eb-a6ae-baf99180de7d.png)

[2022-04-17 13:24] EarlRamirez opened #2738 "Aruba AOS-CX - Timed-out reading channel, data not available"
I am getting "Timed-out reading channel, data not available" each time I try to send changes to an Aruba AOS-CX device

I am trying to send the banner to the switch and each time I get the error, I tried delay_factor, cmd_verify=False and I have not received the expected behaviour

I use a class in a separate file and the class that I use is
class NetworkDevice(object):
    '''
    Connect to netw

[2022-04-17 22:53] ktbyers commented on #2738
@EarlRamirez `aruba_os` device_type is for the Aruba Wireless Controllers.

Can you try to use `aruba_osswitch` device_type instead and let me know if that works (or not).

Regards, Kirk

[2022-04-18 09:54] mrkslm opened #2739 "Extreme ERS Netmiko 4 - Pattern not detected: '[>#]' in output."
Hello,
I am using a simple script to configure SNMPv3 username and password. With Netmiko 3 it works perfectly but with Netmiko 4 I get an error:

Pattern not detected: '[>#]' in output.

[code]

Here is the DEBUG log file. The "host1#" is there  and it should match the but somehow it does not understand the pattern.

[2022-04-18 14:08] AuthenticAMD opened #2740 "Cisco NXOS long send_command no commands work after"
Netmiko 3.4.0, 4.0.0b4

Cisco NXOS 9.3.x

When doing a long "conn.send_command", in this case, with 746 characters (adding big ssh key to user), it will successfully send the command, but any further send_command statements after will not process. There is no error message as the script completes successfully. The debug shows the same thing where the command is sent, but any further commands do no

[2022-04-18 14:57] AuthenticAMD commented on #2740
Just tested it against current release 4.0.0 and observed the same thing.

[2022-04-18 17:31] ktbyers commented on #2740
Can you include the debug log and your code?

[2022-04-18 17:40] ktbyers commented on #2739
Can you try the following code instead (using Netmiko version 4):

[code]

Netmiko will automatically enter/exit config mode for send_config_set. The `save_config()` method should handle the saving of running configuration to startup configuration.

Let me know what you see when you do this?

[2022-04-18 20:13] mrkslm commented on #2739
Hello,
Tried with the send_config_set but unfortunately got the same result. I will paste here the traceback I got:

[code]

[2022-04-18 20:28] ktbyers commented on #2739
The exception above looks like it is failing to properly login. I saw this in your original post:

[code]

Does it force you to do that as part of the login process?

[2022-04-18 20:40] mrkslm commented on #2739
I tried to log in directly to switch via ssh and yes it waits for Enter command:

At first it is username password, the comes the extreme special banner

[code]

and then it is waiting for Enter:

[code]

After that it is like normal prompt
hostname01#

[2022-04-19 11:27] AuthenticAMD commented on #2740
Unfortunately I'm running this on a closed network and can't transfer stuff off easily. Here is a snippet of code I am transposing from the other network.

if device['device_type'] == 'cisco_nxos':
  conn.send_command('conf t', expect=r'#')
  conn.send_command('username john sshkey ssh-rsa Here_Is_Long_Key_That_Is_717_Characters_Long', expect=r'#')
  conn.send_command('end', expect=r'#')
  conn.se

[2022-04-19 17:45] ktbyers commented on #2740
Have you tried the standard Netmiko way of doing the above? I.E. all configuration changes should really use `send_config_set()` (unless they do the odd behavior of prompting for something additional).

[code]

Netmiko will automatically enter/exit configuration mode.

Also is there anything else in your code that would hide errors i.e. are you wrapping the above code in a try/except.

Last questi

[2022-04-19 18:10] AuthenticAMD commented on #2740
@ktbyers

I tried your method with the send_config_set, and the same thing happened where the "long key" command ran, but a command after didn't run. There was also no config save attempted according to the output log. I do not have any try / except in this part of the code.

[code]

I can try to reproduce the section of the log that I found interesting, which appeared in the "long key" part of th

[2022-04-19 20:20] ktbyers commented on #2740
@AuthenticAMD Oh, you should disable cmd_verify and try it again.

So:

[code]

I am assuming Netmiko 4.0.0 on all of this.

[2022-04-20 07:45] EarlRamirez commented on #2738
Thanks @ktbyers I tried with aruba_osswitch and I am seeing the same behaviour, also I an see the same thing in the session and debug log. The command executes on the device but seems to sit waiting for something before it timeout. This is the same behaviour I see when I use aruba_os, aruba_procurve, and now aruba_osswitch. On a more positive note I get the expected results when I use send_config_

[2022-04-20 11:01] AuthenticAMD commented on #2740
@ktbyers I can confirm that works.

I have cmd_verify for other scripts. I just forgot about this option as a troubleshooting method. Is there a "simple" rule when to use cmd_verify and when not to?

[2022-04-20 16:46] ktbyers commented on #2740
`cmd_verify` will verify that the command you sent is properly echoed to the screen before moving on to the next command. It does this to help ensure that Netmiko's state does not get in front of the state of the networking device (i.e. Python is a lot faster than the Networking device so you don't want Netmiko to think it should be doing X when the device is still doing something from a step or t

[2022-04-20 16:46] #2740 closed

[2022-04-20 17:11] ktbyers commented on #2738
Banner commands are a bit of a special case due to them not echoing in a way that Netmiko matches.

I would try the following:

[code]

Then for `banner` commands send in `cmd_verify=False`

Note, this assumes that you are using Netmiko 4.0.0

[2022-04-20 17:12] ktbyers commented on #2738
I would still use the `aruba_osswitch` device_type.

Let me know if this works or not.

[2022-04-20 18:03] AuthenticAMD commented on #2740
@ktbyers Thanks for the detailed response. I really appreciate it.

[2022-04-20 19:19] zohassadar opened #2742 "Cisco IOS Catalyst can contain device hostname# in self-signed certificate thus breaking send_command"
My problem has been worked around, but posting in case this helps others with a similar issue.

Running python 3.10.3, netmiko 4.0.0

The issue was observed on about a dozen devices, all one of the following platform/version:

Catalyst C3560G running 15.0(2)SE9
Catalyst C2960s running 15.2(2)E9

`session` instantiated with `ConnectHandler(host=host, username=username, password=password, device_typ

[2022-04-21 02:21] EarlRamirez commented on #2738
Thanks, @ktbyers using Netmiko 4.0.0 together with cmd_verify=False worked.

[2022-04-21 02:21] #2738 closed

[2022-04-21 02:57] shylou opened #2743 "huawei_vrpv8 not support save_config"
As the title describes, huawei_vrpv8 not support save_config at present, so is there any plan to implement it?

[2022-04-21 17:19] ktbyers commented on #2743
@shylou Do you want to submit a PR on it?

[2022-04-21 17:30] ktbyers commented on #2742
Yeah, the fundamental question to me is why is the `hostname#` in the certificate name? That really should be avoided at all costs with CLI automation.

So that would be what needs to be dug into i.e. what situations cause that and how it can be avoided.

On the face of, I would have expected this to fail on earlier versions of Netmiko (i.e. Netmiko should have been looking for the prompt as the t

[2022-04-21 19:57] zohassadar commented on #2742
There's an unknown history with these devices.  I am not sure if they were configured that way, or if there was some condition that caused the system to use the hostname.  [This blog](https://www.ciscozine.com/how-to-create-self-signed-certificates/) shows what appears to be the system using the hostname for the certificate name in the second example.  That example has a custom trustpoint name tho

[2022-04-21 21:08] ktbyers commented on #2742
Okay, that makes sense on Netmiko 3.4.0, but that meant it was basically working because of a bug/deficiency in Netmiko 3.4.0 and earlier.

In other words, Netmiko 3.4.0 and earlier would actually read beyond the terminating pattern if data was available.

So you made it slow enough so that all the data was available and due to Netmiko's bug/deficiency it grabbed all of this data.

Okay, yeah I do

[2022-04-21 21:08] #2742 closed

[2022-04-22 03:52] zohassadar opened #2744 "120 second teardown after command with excessively long output"
The condition is a command that takes an excessively long time to complete while providing a continuous stream of data during execution.  In this example, the command is `ping 192.168.42.1 size 18024 repeat 2147483647`.  The read_timeout, adjusted to 2 seconds, works as expected.   During the teardown the call to `check_config_mode`, which in turn calls `read_channel_timing`, introduces a 120 seco

[2022-04-22 14:48] jdoyl28 opened #2746 "config_file_set fails to enter commands"
Hello all!

I am attempting to simply create and rename a VLAN on a cisco switch using config_file_set(). Unfortunately I have yet to see success. It appears it ultimately reach config mode, but fails to deliver the expected commands.

### **Returned Error**

PS C:\WINDOWS\system32> python.exe "C:\Users\user1\Desktop\Scripts\Netmiko manage device.py"
Traceback (most recent call last):
  File "C:\U

[2022-04-22 15:28] zohassadar commented on #2746
`output = net_connect.send_command("conf t")` <- this line, which appears in your error but not in your code, is the issue.  The config mode prompt doesn't match the prompt being searched for.  The code accounts for the command necessary to get into config mode as well as accounting for the changed prompt when using `send_config_set`, so sending `conf t` is unnecessary.

[2022-04-22 17:37] ktbyers opened #2748 "Put a better error message for that cfg.strip() pattern that typically indicates cmd_verify errors."

[2022-04-22 17:38] jdoyl28 commented on #2746
Apologies, as I believe that line was accidentally included. I re-ran and re-captured the error as follows:

### **Error**
PS C:\WINDOWS\system32> python.exe "C:\Users\user1\Desktop\Scripts\Netmiko manage device.py"
Traceback (most recent call last):
  File "C:\Users\user1\Desktop\Scripts\Netmiko manage device.py", line 24, in <module>
    output = net_connect.send_config_set(config_commands,delay

[2022-04-22 17:56] ktbyers commented on #2744
@zohassadar  Is there any broader purpose here besides testing? I.E. I can't really see any reason to do the above besides to create an artificial test case that gums up the CLI with a continuously running command and output (obviously you can unintentionally gum up the CLI by accidentally executing a command that you shouldn't).

So the issue that you are running into is that the CLI command neve

[2022-04-22 18:47] zohassadar commented on #2744
The purpose is to better understand the behavior of the new `read_timeout` feature.  I need to replace several instances of `max_loops` and `delay_factor` at some point, most of which were implemented when I didn't understand what was going on under the hood at all.   I was following along with [this blog post](https://pynet.twb-tech.com/blog/netmiko-read-timeout.html) when I came across the issue

[2022-04-22 18:47] ktbyers commented on #2746
Can you try using the Netmiko `develop` branch?

I think you might be running into this issue here which has previously been fixed:

[code]

[2022-04-22 19:05] zohassadar commented on #2744
https://github.com/zohassadar/netmiko/commit/d317f816a68f1f1dec6082bbc511d6e3fe1db29b

Here's an example that uses a flag set by `disconnect` that `read_channel_timing` uses to shorten the `read_timeout` to match the value of `last_read`.

[code]

The teardown now takes 2 seconds.

[2022-04-22 19:07] ktbyers commented on #2744
Okay, makes sense.

I still would want it to be 5 to 10 seconds in this particular failing case as well as in general.

In other words, you do really want to gracefully exit the device here (and the context is a fairly abnormal one i.e. the CLI is totally messed-up due to previously long running command). In other words, it is much closer to the 1% case than the other 99% of cases where you just c

[2022-04-23 11:51] yurividal opened #2749 "cisco_wlc_ssh fails to connect with netmiko4 but works with 3.3.3"
When usign latest version (4.0) my script fails to connect to cisco wlc running version 8.10.162.0 of AIREOS.
Downgrading to v3.3.3 makes the script work again.
Problem seems to be on the prompt. v4 is waiting for # while wlc gives out >

[2022-04-25 03:30] ktbyers commented on #2749
@yurividal Can you post the full exception stack trace that you receive? Netmiko should support a prompt with a `>` in it (for the WLC).

[2022-04-25 12:59] jdoyl28 commented on #2746
Good Morning ktbyers,

I redirected to the develop branch and looks like everything functions as expected now. Thank you!

[2022-04-25 12:59] #2746 closed

[2022-04-25 17:32] ktbyers opened #2750 "Create a send_commmand_incr with an incremental timeout for Netmiko 5.x"

[2022-04-25 17:45] ktbyers commented on #2744
Fixed here:

https://github.com/ktbyers/netmiko/pull/2751

[2022-04-25 17:45] #2744 closed

[2022-04-25 21:19] ktbyers commented on #2705
@applericky Looking into this some more and the issue ended up being due to problems on `disconnect()`.

I made a PR that improves this quite a bit here:

https://github.com/ktbyers/netmiko/pull/2753

[2022-04-25 21:19] #2705 closed

[2022-04-25 21:26] applericky commented on #2705
Can't wait to try it!

[2022-04-25 22:00] brianatlarge opened #2755 "Long hostname causes Pattern not detected when in config mode"
I have a few Cisco IOS-XE switches with particularly long hostnames. For example, one may be:

`THIS.IS.A.PARTICULARLY.LONG`

When in a normal enabled prompt, it looks like this;

`THIS.IS.A.PARTICULARLY.LONG#`

But when in configuration mode, it's displayed as this:

`THIS.IS.A.PARTICULAR(config)#`

Due to hostname getting truncated by the way the switch displays long hostnames in config mode, Ne

[2022-04-25 22:12] ktbyers commented on #2755
I think that was probably fixed here:

https://github.com/ktbyers/netmiko/pull/2720

You should be able to test this with the Netmiko `develop` branch.

[2022-04-25 23:19] brianatlarge commented on #2755
Yep, that was it. Going from 4.0.0 to 4.0.1a1 fixed it.

[2022-04-25 23:19] #2755 closed

[2022-04-26 00:02] ktbyers commented on #2755
@brianatlarge Sounds good. I am probably going to release that shortly as a new Netmiko release.

[2022-04-26 05:42] luweijun1992 opened #2757 "Execute the multi -line command to report an error"
[code]

[code]

[2022-04-26 16:22] ktbyers commented on #2757
@luweijun1992 `send_config_set` is only intended for configuration commands. It is not intended for `show` commands (so if it works for show commands, that is entirely accidental). If it doesn't work, then I am just going to say...don't do that.

In Netmiko 4.X and later, there are two main ways to do multiple show commands in a row.

`send_multiline()`   (or similarly send_multiline_timing())
`se

[2022-04-27 00:37] luweijun1992 commented on #2757
Yes, When I use the following way to execute, normal.
[code]
In addition, I would like to add splitlines().
What is the difference in the final execution.
[code]

[2022-04-27 02:34] ktbyers commented on #2757
@luweijun1992 Okay, I am going to close this.

As per my original response, you shouldn't use that pattern (i.e. you shouldn't use send_config_set() to execute show commands).

[2022-04-27 02:34] #2757 closed

[2022-04-29 06:19] ntaken commented on #2532
The problem is not reproducible with a new ISE server set up.

[2022-04-29 06:19] #2532 closed, assigned to nobody

[2022-04-29 08:16] luweijun1992 opened #2771 "Huawei and potentially HPE-Comware need a disconnect() method created"
Check log information and see that the last exit is "exit"
But Huawei "quit"

![image](https://user-images.githubusercontent.com/58923704/165908275-e50630d4-97e1-41b9-98a5-18e2ba9415a4.png)

![image](https://user-images.githubusercontent.com/58923704/165908488-5df5c7a2-22e7-4ed2-95c4-07d1f8568693.png)

[2022-05-05 08:49] andriu-ru commented on #1806
Hello dear friends!
I need your help.
I don't have enough rights to use device_type: juniper.
I replaced it with (generic_termserver) but it still didn't work.

When executing the command output = device.send_command("show version").

In the log I see an entry:

----------------------------session_log.txt--------------------------

--- JUNOS 17.3R3-S5.2 built 2019-07-08 14:07:04 UTC

JUNOS tips:
I

[2022-05-06 17:34] bodothebest opened #2773 "cisco_xr commit() error on IOS 6.x"
Hi,
I wrote my first netmiko script to send some commands to a bunch of IOS XR routers, but I get an error when I commit the changes with the function commit().
I have two different sets of XR routers (ASR9K): some have 32bit IOS XR 6.x and others have 64bit IOS XR 7.x and the problem is present only on the ones with version 6.x.
This is my script (shortened for readability):

[code]

and this is

[2022-05-06 18:46] ktbyers commented on #2773
So this is due to Netmiko's cmd_verify feature, basically Netmiko expects commands to be properly echoed in certain contexts (send_command being one of them).

So if you send a "y", Netmiko expects that to be echoed to the screen.

The purpose of cmd_verify is to ensure that Netmiko does not get out-of-sync with respect to the state of the device. In other words, it is easy for Netmiko to get ahea

[2022-05-08 08:31] bodothebest commented on #2773
I see, thank you.
That "echo check" is a clever implementation and it does a great deal in terms of reliability of the scripts.
I will wait for the fix, meanwhile thank you for addressing this issue so quickly and for your great job with netmiko!

[2022-05-09 06:25] jscooksey commented on #2532
I'm getting the same issue.

'''
  File "C:\Python\Python39\lib\site-packages\netmiko\ssh_dispatcher.py", line 344, in ConnectHandler
    return ConnectionClass(*args, **kwargs)
  File "C:\Python\Python39\lib\site-packages\netmiko\base_connection.py", line 434, in __init__
    self._open()
  File "C:\Python\Python39\lib\site-packages\netmiko\base_connection.py", line 439, in _open
    self.establi

[2022-05-09 14:28] nlspears opened #2774 "send_config_set does not wire in read_timeout for read_until_pattern"
I am attempting to use a script I have always used in the past without issue. I has not been used in a couple of months but now with the updated netmiko it no longer works. Here is the script and the errors I am getting.

from netmiko import ConnectHandler
import getpass
import time, sys, paramiko
import logging

logging.basicConfig(filename='test.log', level=logging.DEBUG)
logger = logging.getLog

[2022-05-09 16:18] nlspears commented on #2774
So I have noticed that the configuration is getting sent despite the error, but due to the error it doesn't continue the for loop.

[2022-05-09 17:45] ktbyers commented on #2774
@nlspears `send_config_set()` should only be used for configuration commands and Netmiko will automatically handle exiting configuration mode.

So your code should change to this (as far as `command` and your for loop):

[code]

Let me know if that works or not.

[2022-05-10 19:00] jvpassos opened #2775 "Fortinet Accept Disclaimer After Login still not working in Netmiko 3.4.0"
Hello everyone,

I have a Fortigate running with banner and "post-login-banner" enabled. I'm facing the same Socket Error.
It seems that this session_preparation function which was tweaked in 2019 doesn't work for my case. Last issue I found about that:
[](https://github.com/ktbyers/netmiko/issues/988)

`aws_us_dev1 = {
    "device_type": 'fortinet',
    "host": "x.x.x.x",
    "username": username

[2022-05-10 19:37] ktbyers commented on #2775
@jvpassos Which version of Netmiko are you using?

If you use Netmiko 4.1.0 do you still see this issue?

[2022-05-10 19:45] jvpassos commented on #2775
Hello @ktbyers thanks for the answer!

I'm using 3.4.0

t> pip show netmiko | grep Ver
Version: 3.4.0

[2022-05-10 19:53] ktbyers commented on #2749
@yurividal Do you have that full exception stack trace?

[2022-05-10 19:56] ktbyers commented on #2739
Okay, this looks like a Netmiko bug?

Netmiko looks like it was expecting `cnrl-y` and then username + password.

I am not sure if something changed here on the ERS or if it never really worked.

[2022-05-10 19:56] ktbyers commented on #2739
Here is the relevant Netmiko code:

https://github.com/ktbyers/netmiko/blob/develop/netmiko/extreme/extreme_ers_ssh.py#L32-L40

[2022-05-10 20:03] yurividal commented on #2749
Hi. Sorry, I wasn't at work for the past couple days.
I will collect a full stack trace tomorrow and upload it here.

Yuri Vidal
📲 +44 7415565606

On Tue, May 10, 2022, 21:53 Kirk Byers ***@***.***> wrote:

[2022-05-10 20:14] ktbyers commented on #2775
You will need to use at least Python 3.7 (Python 3.6 is end of life).

The above error is a Python 3.6 issue.

Kirk

[2022-05-10 20:14] ktbyers commented on #2749
Sounds good. Thanks @yurividal

[2022-05-10 20:39] yurividal commented on #2749
Is there a template of the code snippet I need to run and grab the output?
I might not have too much time to do this at work.

Yuri Vidal
📲 +44 7415565606

On Tue, May 10, 2022, 22:14 Kirk Byers ***@***.***> wrote:

[2022-05-10 21:44] lsotoj commented on #1249
Hello, the page gives 404 error! please help.

[2022-05-10 21:46] ktbyers commented on #2749
It should just generate the exception as long as you remove any try/except handles from the ConnectHandler call.

In other words, just create a Netmiko connection using ConnectHandler with no try/except statements wrapping it.

[2022-05-10 21:48] ktbyers commented on #1249
Logging setup is here:

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

You can also look at the session log by adding the `session_log` argument to your device / ConnectHandler call:

[code]

[2022-05-10 22:07] yurividal commented on #2749
@ktbyers here it is. the code i ran and the exception:

Code:
[code]
Result:
[code]

I have also tried using the following line after the initial statement, but no luck.
[code]

Also tried replacing cisco_wlc_ssh with cisco_wlc
Stil the same problem. Works just fine if i downgrade to netmiko 3.3.3

[2022-05-10 22:41] ktbyers commented on #2749
So Netmiko is expecting to read either a `>` or a `#` after it completes it login. It is failing on this read.

Can you show what the initial SSH login looks like if you do it manually (including the username and password handling as the WLC does odd things here). You can obscure hide your username/password i.e. just convert them to `admin/admin` or something.

[2022-05-11 05:26] yurividal commented on #2749
First connection:
[code]
Seccond time connecting:
[code]

[2022-05-11 18:25] jmello-pagseguro commented on #2775
Hi Kirk,

It worked after upgrade to Python3.7 via pyenv.

Thanks a lot!

[2022-05-11 18:43] ktbyers commented on #2775
Okay, so it works using Netmiko 4.1.0 and PY3.7 -- correct?

[2022-05-11 18:51] ktbyers commented on #2749
Okay, let me try to make a fix for this.

[2022-05-11 18:52] jmello-pagseguro commented on #2775
Correct.

Netmiko 4.1.0 and PY3.7.2

[2022-05-11 18:54] #2775 closed

[2022-05-12 02:03] gaby commented on #1589
Seems that `SSHDetect` doesn't support `cisco_s300`

[2022-05-12 04:20] ktbyers commented on #1589
@gaby Did you check if it is supported by ssh_autodetect? If not, someone would need to add that support.

[2022-05-12 07:29] thamuppet commented on #2749
Hi, I got this issue today as well. Strange part is that it's working in another script with same netmiko version and settings.

The working script:
[code]

When it comes to the other script it's a bit harder to pull out the part of the script that connects to wlcs
But i'll do my best (very new to Python/Netmiko and being active on forums, forgive me if it's unclear)

This is the python file where

[2022-05-12 11:13] gaby commented on #1589
@ktbyers That's exactly the issue, it's missing from the dict. I'd try making a PR for this during the weekend.

[2022-05-12 14:04] logosg commented on #2306
@FredTourn hello, were you able to fix this? I'm having the same issue, I have hundreds of devices in script, not all of the return the same error

[2022-05-13 08:26] leojianli opened #2776 "hp_comware H3C device will give 'Timed-out reading channel, data not available.'; only for RBM devices, others are normal"
DEBUG:paramiko.transport:starting thread (client mode): 0xabb24688
DEBUG:paramiko.transport:Local version/idstring: SSH-2.0-paramiko_2.9.2
DEBUG:paramiko.transport:Remote version/idstring: SSH-2.0-Comware-7.1.064
INFO:paramiko.transport:Connected (version 2.0, client Comware-7.1.064)
DEBUG:paramiko.transport:=== Key exchange possibilities ===
DEBUG:paramiko.transport:kex algos: ecdh-sha2-nistp256,

[2022-05-13 09:50] aztec102 commented on #2711
Hello!
@ktbyers 4.1.0 is ok work ssh, problem use huawei_telnet
[code]

[2022-05-13 15:58] campbsb opened #2777 "cmd_verify fails when the echoed command contains backspaces"
Sometimes network devices will insert backspaces into the echoed command and this causes cmd_verify to fail.
Eg: 'file list /var/tmp detail' on a Junos device will sometime echo back as 'file list /var/tmp    ^H^H^Hdetail'

If control codes could be automatically handled, it would greatly improve the pattern matching reliability.

Here's a function I wrote to remove control characters from the out

[2022-05-13 16:11] ktbyers commented on #2711
@aztec102 So you are still seeing an issue when you suing Huawei and telnet with Netmiko 4.1.0?

[2022-05-13 17:19] ktbyers opened #2778 "Create a better error message for PY3.6 no longer supported"

[2022-05-13 19:10] campbsb commented on #2777
Thanks for responding. That ANSI escape code stripping is pretty good - but could be improved by having the erase line codes actually erase the line! Otherwise you get lots of duplication in the output where the network device re-echoes what it think's it's erased. I forget which OS this was for - I apply it to all of them now!
I also note that the strip_backspaces function just removes them, inst

[2022-05-13 23:20] ktbyers commented on #1742
I overcomplicated the solution above, you should just be able to do the following:

[code]

Note, it is possible that you might want to save the Paramiko default _preferred_kex and restore them after you have connected to device(s) that has the specific KEX requirement.

[2022-05-14 00:30] ktbyers commented on #2778
Done.

[2022-05-14 00:30] #2778 closed

[2022-05-14 03:10] aztec102 commented on #2711
@ktbyers  Yes, i see.
[code]

[code]

[2022-05-16 01:42] ktbyers commented on #2771
Fixed here:

https://github.com/ktbyers/netmiko/pull/2780

[2022-05-16 01:42] #2771 closed

[2022-05-16 13:29] shahriarbasiri opened #2782 "SSH Authentication failed"
when I try to connect a remote node using ssh I got "Authentication to device failed" while ssh from linux terminal connects without any errors. the code is:
`net_connect = ConnectHandler(
    device_type= "linux",
    host="10.10.6.104",
    username= "root",
    password= "root",
                )`
I also tried another remote hosts and it works for some of them and doesn't work for some. I check

[2022-05-17 07:26] nlspears commented on #2774
Sorry for late response. Will test today and reply. May I ask why the initial statement regarding send_config_set? I have used it in this script in the past to refer to the commented out portion using the configvty.txt file.

[2022-05-17 07:35] nlspears commented on #2774
Ok I tried your suggestions and received the same error.

[2022-05-17 12:43] luweijun1992 opened #2783 "huawei failing on save_config() call"
May I ask what parameter time should be set for the error
[code]

[2022-05-17 17:00] ktbyers commented on #2783
Okay, can you show me the session_log and the exception stack trace. The original error you included above is not from `save_config`.

[2022-05-17 22:13] ktbyers opened #2786 "Performance Improvements"
Next set of platforms to improve the Netmiko performance on

[code]

[2022-05-18 04:17] ktbyers commented on #1328
Fixed here:

https://github.com/ktbyers/netmiko/pull/2787

[2022-05-18 04:17] #1328 closed

[2022-05-18 10:01] ameencp533 commented on #2626
Thanks @ktbyers , its working for me

[2022-05-18 11:40] AuthenticAMD opened #2790 "Cisco Nexus - send_command - Regression in 4.0.0 and 4.1.0"
I have a the following in a netmiko script. It works fine in Netmiko 3.4.0. However in 4.0.0 and 4.1.0 the send_command doesn't delay for long and stack traces with a "Pattern not detected" error. Is there a better way to handle this scenario with the newer versions?
[code]

Also, I do have fast_cli=False set if that has any effect.

[2022-05-18 11:48] AuthenticAMD commented on #2790
Changing the delay_factor to 20 doesn't seem to have any effect.

[2022-05-18 14:03] AuthenticAMD commented on #2790
Looks like a new read timeout feature was added. Closing ticket with the assumption this is the fix.

https://pynet.twb-tech.com/blog/netmiko-read-timeout.html

[2022-05-18 14:03] #2790 closed

[2022-05-18 14:25] #2626 closed

[2022-05-18 14:36] luweijun1992 commented on #2783
netmiko            4.1.0
Exit is not saved
How do I get an exception stack trace ?

[2022-05-18 16:06] ktbyers commented on #2783
`Exit is not saved`???

I didn't understand what you meant here?

[2022-05-19 00:35] luweijun1992 commented on #2783
Session_log: Exit is not saved after return.
![image](https://user-images.githubusercontent.com/58923704/169177680-24541185-f731-4ff0-b886-c0323f23eabf.png)

[2022-05-19 07:18] matthias-colt opened #2791 "API documentation still shows legacy sub-module `ssh_exception`"
In the current [netmiko API documentation](https://ktbyers.github.io/netmiko/docs/netmiko/ssh_exception.html) the exceptions are still listed under the sub-module `ssh_exception` although since release 4.0.0 this has been moved to `exceptions`.

I found that the exceptions are also directly accessible under the main module, e.g. `netmico.NetMikoTimeoutException`.
Not sure if it is good practice to

[2022-05-19 09:35] BenjaminHoegh commented on #922
what is the status on this?

[2022-05-19 09:37] BenjaminHoegh commented on #922
what's the status on this? has the option to skip verify space for SCP been implemented yet?

[2022-05-19 16:15] ktbyers commented on #2774
Okay, can you simplify this to a single device that is failing and what the `configset` variable actually includes?

Also please included the full exception stack trace corresponding to the failing (updated) code.

[2022-05-19 16:16] ktbyers commented on #922
@BenjaminHoegh I don't think this was ever done. The SCP primitives are all there so you could do it yourself.

What is the underlying issue you ran into?

[2022-05-19 16:19] ktbyers commented on #2791
It should be fine either way (as far as how to import them).

Docs need fixed/updated. I will need to look at that (as far as why it is still referring to the old/stale information).

[2022-05-19 16:21] ktbyers commented on #2783
Okay, let's start over (as I don't see where else to go on this issue):

Can you create a simplified test case that illustrates the problem. Please include all of your code (for this simplified test case) and the full exception stack trace.

Regards, Kirk

[2022-05-19 17:36] m1ndn1nj4 opened #2792 "Unexpected Error When trying to run commands on a Linux Host"
Hello, I'm trying to connect to a Linux host and run some `snmpwalk` commands for a list of hosts in a text file. From the debugging I've done, netmiko successfully connects to the host, but it doesn't run the commands and I'm wondering if there's something wrong with my script. I have another script that works with linux hosts and there's not anything different with it other than I'm using a publ

[2022-05-19 20:58] ktbyers commented on #2792
Netmiko doesn't like that you have `%` as your prompt.

You can control what Netmiko looks for on Linux by setting one of the following two environment variables:

[code]

Note, this would be set on the machine that you execute your Netmiko script on (i.e. it is a local environment variable and not on the remote machine).

Let me know if this fixes the issue that you ran into here.

[2022-05-20 05:31] matthias-colt commented on #2791
@ktbyers thanks for your prompt response and clarification!

[2022-05-20 06:40] luweijun1992 commented on #2783
The error was caused by too much information being returned.

[code]
![image](https://user-images.githubusercontent.com/58923704/169468258-3d6f8b8d-7bab-43e9-8f7a-717a150bd3b2.png)

[2022-05-20 14:16] luweijun1992 commented on #2783
It's probably too much output.
I can execute normally with the following code.
`read_timeout=0`
[code]
![image](https://user-images.githubusercontent.com/58923704/169547129-d2644b7e-893c-4f68-9d87-dfdefb354d1f.png)

[2022-05-20 15:38] m1ndn1nj4 commented on #2792
How do I set these variables? Something in my own script?

[2022-05-20 15:56] ktbyers commented on #2792
They are environment variables so you can set them in your environment where you run script using the standard process or you can use Python and set them in your script (you can search on Python environment variables and you should see the process).

[2022-05-20 16:13] ktbyers commented on #2783
Okay, I am going to close this.

Using `show commands` with `send_config_set` is invalid (i.e. you are doing an invalid operation and Netmiko is not liking it).

If you see an issue with `save_config()` let me know, but the above just looks like `trying to send 'show' commands using a method only intended for configuration commands`.

[2022-05-20 16:13] #2783 closed

[2022-05-20 16:17] ktbyers commented on #2777
@campbsb Yeah, I am sympathetic to the general problem (so let me know if you run into issues going forward).

[2022-05-20 16:28] m1ndn1nj4 commented on #2792
I got it working by changing my script to this:

[code]

Thanks again for the help!

[2022-05-20 16:28] #2792 closed

[2022-05-20 20:09] BenjaminHoegh commented on #922
For me the issue is that I do not have permission to use `df` or `/bin/df` on the target server

[2022-05-20 20:21] #2176 closed

[2022-05-20 20:22] #2607 closed

[2022-05-20 20:26] ktbyers commented on #2694
I think this exit_config_mode issue was probably fixed here:

https://github.com/ktbyers/netmiko/pull/2794

[2022-05-20 20:26] #2694 closed

[2022-05-20 20:27] ktbyers commented on #2786
Linux done here:

https://github.com/ktbyers/netmiko/pull/2794

[2022-05-21 01:20] #1839 closed

[2022-05-21 13:05] luweijun1992 commented on #2783
Because the commands that need to be operated on vary, it can be viewed now and configured next time, all using `send_config_set`
Or do you have any suggestions.

[2022-05-21 16:07] ktbyers opened #2795 "Increase default read_timeout on save_config for Cisco"
Also add a way to pass in read_timeout and possibly arguments for send_command_timing

[2022-05-23 16:13] m1ndn1nj4 opened #2796 "Netmiko Disconnects before finishing gathering command output"
Hello, I'm trying to run the command `show ap summary` on a Cisco 9800 WLC. This WLC has 1,997 APs on the controller. However netmiko disconnects before it finishes the output of the command. Is there a way to extend this?

[code]

[2022-05-23 16:39] ktbyers commented on #2796
Not enough information here. I need the relevant code and the full exception stack trace.

Try to have the code be as simple as possible that illustrates the problem that you are describing.

[2022-05-23 16:45] m1ndn1nj4 commented on #2796
I don't get a stack trace. It says it completes successfully. But by viewing the Debug log, I can tell you that it only gets through about 30% of the output of the command then it disconnects.

[code]

[2022-05-23 16:57] ktbyers commented on #2796
Git rid of all your try/except statements ((as those can hide errors).

What are the commands that you are sending i.e. you don't show the actual commands that you are sending.

[2022-05-23 17:04] m1ndn1nj4 commented on #2796
Commands:
[code]

And this is the output when I run the script on my Linux box:
[code]

[2022-05-23 17:05] ktbyers commented on #2783
Because `send_config_set` is intended for configuration commands and one aspect of configuration commands is that they very frequently execute very quickly (i.e. within one or two seconds) and you are not particularly concerned about gathering the data from them (it is nice to have, but it is not the reason you are sending the command).

So you are sending long-running show commands using a method

[2022-05-23 17:16] ktbyers commented on #2796
So if you make a much more simplified use case where you just do the following, what happens?

[code]

You will have to update some of this to hard-code it to particular values for your environment i.e. username, password, host, etc.

Why do you have all of the exclamation points / comments between commands (is that just for readability of the output)?

[2022-05-23 17:24] m1ndn1nj4 commented on #2796
The exclamation points for for readability of the output. Here's what I get when I run the simplified code on a Windows machine:

[code]

On my Linux box, it prints the output up to this:

[code]

[2022-05-23 17:40] m1ndn1nj4 commented on #2796
Changing:
[code]

To:
[code]

Fixes it.

Is there somewhere in the global connection parameters that I can change this to have the same effect, or will I have to do it on every line like this in my script?
[code]

[2022-05-23 18:41] ktbyers commented on #2796
There is a `read_timeout_override` that you can pass in as an argument to ConnectHandler.

Note, that setting `read_timeout` to that large of a value will imply that it will take 300 seconds for a failure to occur (i.e. it will take 5 minutes before you get an exception in the failing case).

Why was the `show boot` command taking longer than 10 seconds to complete? Is it this slow when you do it

[2022-05-23 18:51] m1ndn1nj4 commented on #2796
It wasn't the `show boot` command, it was the `show ap summary` command.

I used your example I found [here](https://pynet.twb-tech.com/blog/netmiko-read-timeout.html).

[code]

Output:
[code]

It takes around 25 seconds to run the command.

[2022-05-23 20:29] #2796 closed

[2022-05-23 22:41] ktbyers commented on #1530
I am going to close this as we have made quite a few changes with the Huawei driver. If anyone is still seeing this issue please either comment here or re-open a new issue (probably opening a new issue would be better).

[2022-05-23 22:41] #1530 closed

[2022-05-25 02:31] ktbyers commented on #2776
@andrewXiaoyu Can you post a larger section of your code. Please include `commands` with this.

I assume you are using Netmiko 4.1.0 and a device_type of `huawei`?

[2022-05-26 18:11] AuthenticAMD commented on #2675
I thought the format I provided worked, but that is not the case. Maybe it changed from 4.0.0a4 to final release 4.0.0.

Must be formatted as follows:

[code]

[2022-05-27 12:06] tik-stbuehler opened #2798 "Calling normalize_linefeeds on partial data results in additional empty lines"
https://github.com/ktbyers/netmiko/blob/978ffbec0d5691d4b38ba6b0d455893d357591b7/netmiko/base_connection.py#L555-L559 calls `normalize_linefeeds` on partial data / "read chunks".

`normalize_linefeeds` converts remaining `\r` to `\n`: https://github.com/ktbyers/netmiko/blob/978ffbec0d5691d4b38ba6b0d455893d357591b7/netmiko/base_connection.py#L1828-L1841

If now one chunk ends in `\r` and the next c

[2022-05-27 16:25] joewesch opened #2800 "Add option to enable Genie fuzzy syntax matching"
When using the `.send_command()` method with `use_genie=True` the command syntax being sent can sometimes be abbreviated (i.e. `sh ip int` vs `show ip interface`), but not always (`sh ip int br` fails). After digging through the Genie code I was able to determine that it was due to the way they score/weigh each word in the command. I initially created [an issue](https://github.com/CiscoTestAutomat

[2022-05-27 20:16] ktbyers commented on #2798
@tik-stbuehler It looks like from the above that you could set `self.RETURN = "\r\n"` as part of the Netmiko ConnectHandler initialization and that would accomplish what you are looking for.

i.e. it would disable that last substitution so that span of two reads would not result in any substitutions happening.

Are you seeing examples of this occur in real data? I would be interested in the real e

[2022-05-27 21:20] ktbyers commented on #2800
So Genie tries to guess based on weighting what the abbreviated command represents?

Should we just enable this by default? Are there any downsides to do doing this?

I am not seeing much downside in just enabling this.

[2022-05-28 15:33] aoterbear opened #2801 "Is it possible to use ssh proxy to connect to an IPv6 device behind an IPv4 jumphost?"
Hi all,
First, thanks in advance for any help from anybody. I have an issue about netmiko when using SSH proxy.

Below is my topology:
[code]
On the target router, a loopbak interface with IPv6 global unicast address configured as the management interface. So the jumphost and the target router are not directly connected, actually there is a backbone network between the jumphost and the target rout

[2022-05-28 21:15] joewesch commented on #2800
I took every command in their parsers.json file and ran them through the `._fuzzy_search_command()` with both fuzzy set to `False` (the current setting) and then `True` (the proposed change) and here are my findings:

=======================================================

With regards to using full syntax commands (where there are no variables), I was unable to detect a change. Every parser resu

[2022-05-29 13:12] aoterbear commented on #2801
Solved this by modifying my ssh_config file a little bit, very strange to me.

[2022-05-30 10:20] tik-stbuehler commented on #2798
I guess you meant `self.RESPONSE_RETURN`, initialized from an optional `response_return` constructor argument? Hm, might work, although that is used in quite a few other places where it might break if the output doesn't contained the specified string (i.e. it is used to split lines, which probably should use something like `re.compile(r'\r?\n')` instead).

Yes; running `show running-config` on IOS

[2022-05-30 10:52] kazegls commented on #2477
Can you please post your whole code of cisco_s300.py? Thx in advance!

[2022-06-01 11:59] kghost310 opened #2804 "Timed-out reading channel, data not available. (Mikrotik)"
Im getting a timed-out error.

here is my code. can anyone help?

[code]

[2022-06-01 17:25] ktbyers commented on #2804
Why do you connect twice to the same device i.e. you have two ConnectHandler calls above?

Also can you get rid of you try/except statement and then include the full exception stack trace here?

[2022-06-01 17:38] ktbyers opened #2805 "Cisco Expressways device failing on send_command()"

[2022-06-01 18:34] ktbyers commented on #2801
@aoterbear Okay, might be helpful if you post your solution (sanitized of anything confidential to you).

Glad you got it working.

[2022-06-01 18:34] #2801 closed

[2022-06-01 19:59] Chuck-Thornton opened #2806 "Dealing with commands that do not return a prompt"
I have looked all over and can't seem to find an answer that works consistently.

I have a script that will run iperf tests from router to router and I am having issues getting it to be consistent. I am running at the enable prompt with "guestshell run sudo iperf3 -s". It either says it is running and does not return a prompt or gives an error and returns a prompt.

My issue comes into play when t

[2022-06-02 00:39] dmulyalin commented on #2625
Thank you @ktbyers for merging the pull request, feel free to close this ticket if there is nothing else left to do.

The fix merged - to give some confidence - tested it with a number of physical Huawei devices before submitting pull request, it was working as expected in my tests.

[2022-06-02 16:27] #2625 closed

[2022-06-02 16:43] vongchan opened #2808 "Ruckus switches failing to detect command echo properly"
I try to upgrade os from Ruckus switches, but it gave me an issue every time i run my code. I've attached my code in the txt file in this as well. Thank you all in advance. Looking forward to hearing back from you.

show prompt:
How many switches?: 1
Enter the IP address of the 1:10.23.9.102
What is your username?: super
what is your password?: Password!

You are about to download boot image and b

[2022-06-02 17:27] ktbyers commented on #2808
Try setting `cmd_verify=False` in your `send_command_timing()` calls and see if that helps.

[2022-06-02 18:43] ktbyers commented on #2806
@Chuck-Thornton So when you run this command:

`guestshell run sudo iperf3 -s`

You mentioned there three cases:
1. null  -- what is the 'null' case can you expand on this?
2. running --  "Server listening" case.
3. unable to run -- what is the output in this case? "Error, guestshell is in disabled state" or something else?

Trying to make sure I understand the various situations.

In the running

[2022-06-02 20:24] Chuck-Thornton commented on #2806
Thanks for responding.

From the routers perspective it will only return two things:
- -----------------------------------------------------------
Server listening on 5201
-----------------------------------------------------------

Or:
iperf3: error - unable to start listener for connections: Address already in use
iperf3: exiting

The null comes from the script. I assigned a variable to the "ipe

[2022-06-02 21:08] ktbyers commented on #2806
How about:

[code]

Note, I switched it to `send_command` above which I think is probably better for your use-case.

I also set read_timeout to 10 seconds, this is how long Netmiko will wait (searching for the pattern) before giving up and generating an exception. You can adjust that as needed (depending on how long that commands takes in the various cases).

Let me know if that works or not.

[2022-06-02 21:10] Chuck-Thornton commented on #2806
Thank you for the response, I will try it and let you know.

[2022-06-02 21:13] ktbyers commented on #2806
FYI, this is just a regular expression, logical-or:

[code]

The funky `?:` just indicates not to save what it matches from a regular expression pattern perspective (as there is no need to save that in this case).

[2022-06-02 21:26] Chuck-Thornton commented on #2806
That was the answer. I kinda figured I was missing something somewhere.

Regular expressions are not my forte.

Thanks again for the assistance

[2022-06-02 21:26] #2806 closed

[2022-06-03 02:54] vongchan commented on #2808
Hi Kirk,
Thanks for your response. Yes, I did that but it still did not push to the switch. I can send other command or config this switch but not "Y".
**Here is my short codes i try to test it to makes sure the command_send 'y' work:**
`from netmiko import ConnectHandler
from datetime import datetime

List_of_Switches = []
Number_of_switches = int(input("How many switches?: "))

for switch in ran

[2022-06-03 16:39] ktbyers commented on #2808
Why is the device doing this when you sent a `y`?

[code]

Can you look at the Netmiko session_log and see if you see anything odd there?

The session_log can be enabled by doing the following:

[code]

This will create a file named output.txt in the same directory as your Python script. This should have details on the SSH session.

[2022-06-03 16:41] ktbyers commented on #2798
Okay, let me look at it and thanks for the additional data.

Yeah, agreed I shouldn't be running this on the partial buffer (as it runs into exactly the type of probelms you describe). In other words, I should only be running it on the complete buffer.

[2022-06-03 19:26] vongchan commented on #2808
Thanks, Kirk. I will try it again this Monday and get back to you. I hope I can solve this issue. :)

[2022-06-03 23:21] kghost310 commented on #2804
Im new to all this so i saw some code and multiple places and just modified it to what I thought would work. The Try/Except i read should have helped with the timing error.

Could you guide me with an example of what i should try to change please.

[2022-06-06 00:02] pperesbr opened #2811 "Netmiko and textfsm not working"
Hi everyone....

I am trying to create a class to get Huawei equipment informations with operating system VRP, I am do not gettting  Netmiko works correctly with textfsm.

My application has a directory called: textfsm, inside this directory two files: index and huawei_vrp_display_ip_vpn_instance_verbose.textfsm.

index file:

[code]
huawei_vrp_display_ip_vpn_instance_verbose.textfsm file:

[code]

[2022-06-07 12:18] pperesbr commented on #2811
Hi,

I managed to solve it, I changed the platform type in the textfsm file, from huawei_vrrp to huawei, as a netmiko log is supported only huawei or huawei_vrrp8.

I believe that for the case of Huawei in ntc-templates it is also wrong, I tested it with the commands there and it didn't work.

[2022-06-07 12:18] #2811 closed

[2022-06-07 17:53] ktbyers commented on #2811
@pperesbr You might want to bring that up with ntc-templates as we generally share the same device type (alternatively if Netmiko should add another name of `huawei_vrrp` that could be an option). I don't know enough about the Huawei platforms to say what naming makes the most sense.

[2022-06-09 09:47] #2573 closed

[2022-06-09 12:54] jhodie opened #2812 "Set Adtran terminal width to at least 132"
Hi, sorry if this has been solved previously.

I get the following error whenever I try to connect to an ADTRAN device since upgrading to 4.0 and 4.1:
[code]

Is there something with the update that I can do differently to stop this?

My code is:
[code]

The session log is:
[code]

Once again sorry if this has been answered and I'm just being blind

[2022-06-09 16:54] ktbyers commented on #2812
Your error is a bit odd.

Maybe try:

[code]

Let me know if that works.

We should probably include that `terminal width 132` command in the Netmiko adtran driver directly.

Is `132` the maximum value adtran allows here?

[2022-06-09 16:58] ktbyers commented on #2812
Another thing we might want to do is to enable the Netmiko `session_log` and see if that provides us any more details about what is happening.

[2022-06-09 18:01] ReK42 opened #2813 "Windows support for netmiko-tools"
The tools included in the cli_tools folder depend on the external program grep. As far as I can tell, this is the only thing preventing them from working on Windows. I was able to get them working quickly by substituting the [`findstr`](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/findstr) utility and removing the lone default grep-specific argument that is passe

[2022-06-09 18:08] ReK42 commented on #2739
On all current models the behaviour over SSH is username/password first, then Ctrl+Y, then Enter. This may differ over console connections and some older, end-of-life models but I believe it is true for all ERS models that are still supported by Extreme.

[2022-06-09 20:04] osmelquintero commented on #1704
The connection is rejected

[2022-06-10 00:31] ktbyers commented on #2813
@ReK42 IIRC correctly, I liked the output coloring that `grep` provided automatically on Linux so it a nice solution for *nix-based platforms.

I am fine with a fix for Windows if you want to do a PR on it, we could just detect that it is Windows and then swap the pattern-searching solution (using findstr or whatever the best option was).

[2022-06-10 00:44] ktbyers commented on #1485
@MitchellMahan I missed this earlier, are you still running into an issue here?

Can you show me the Netmiko code that is failing and which exception you receive?

[2022-06-10 00:45] ktbyers commented on #1686
If anyone has an A10 device and is willing to test a fix, just let me know and I can re-open this issue.

[2022-06-10 00:45] #1686 closed

[2022-06-10 00:48] ktbyers commented on #1701
@srqjan When you do this change manually and then try to exit configuration mode, does it allow you?

Or does it prompt you `commit` the change first?

[2022-06-10 00:48] #1705 closed

[2022-06-10 00:50] ktbyers commented on #1709
This issue here might be the cause of this:

https://github.com/ktbyers/netmiko/issues/2798

[2022-06-10 00:54] ktbyers commented on #1718
@nontha

Okay so this sounds like a Huawei issue then (since it is not honoring the terminal width).

What is the Huawei command for setting the terminal width?

[2022-06-10 14:08] jhodie commented on #2812
Looks like `expect_string=r"#"` made it work, cheers.
And yeah there are two options for terminal width, `80` (this is the default) and `132`, found that having at default caused issues with longer commands don't know if it's a netmiko issue or something else, but setting the width `132` seem to fix it.

[2022-06-10 16:35] ktbyers commented on #1846
I think this is fixed.

[2022-06-10 16:35] #1846 closed

[2022-06-10 16:42] ktbyers commented on #1845
@coolblue7007 You are not importing SSHException so your code fails with a name error.

[2022-06-10 16:42] #1845 closed

[2022-06-10 16:43] #1911 closed

[2022-06-10 17:21] ktbyers commented on #2739
@ReK42 @mrkslm

Can either of you test this fix and see if it works properly:

https://github.com/ktbyers/netmiko/pull/2814

[2022-06-10 20:37] ktbyers commented on #2812
@jhodie The terminal width is more that the device tries to do special things when the line wraps (at 80 characters) and that has a tendency of breaking automation. In other words, the `special things` are intended to make it more human readable, but there isn't a human there.

Is 132 the max value you can set here? Or can you set it larger. If you can set it larger, can you see what the `max` val

[2022-06-11 05:57] naahdis opened #2815 "connection to the linux server succeeds but throws an exception"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/srajendran/Library/Python/3.8/lib/python/site-packages/netmiko/ssh_dispatcher.py", line 344, in ConnectHandler
    return ConnectionClass(*args, **kwargs)
  File "/Users/srajendran/Library/Python/3.8/lib/python/site-packages/netmiko/base_connection.py", line 434, in __init__
    self._open()
  File "/Users/sraj

[2022-06-11 05:59] naahdis commented on #2815
I am using netmiko in Mac OS:

❯ pip freeze | grep netmiko
netmiko==4.1.0

[2022-06-13 07:38] jhodie commented on #2812
@ktbyers Max terminal width is 132

[2022-06-13 07:48] mrkslm commented on #2739
@ktbyers
Hey Kirk,
Tested with my device and it works now!

[2022-06-13 14:58] kghost310 commented on #2804
latest edits and still get an error.

#!/usr/bin/env python
import time
from netmiko import ConnectHandler
from netmiko.ssh_exception import NetmikoTimeoutException
import logging

logging.basicConfig(filename='test.log', level=logging.DEBUG)
logger = logging.getLogger("netmiko")

MTR01 = {
    'device_type': 'mikrotik_routeros',
    'ip': '192.168.68.63',
    'port': 22,
    'username': 'admin',

[2022-06-13 15:04] naahdis commented on #2815
can I get some help?

[2022-06-13 18:21] ktbyers commented on #2804
@kghost310 Can you show me what is contained in the variable `lines`?

Also which version of Netmiko are you using?

[2022-06-13 18:25] ktbyers commented on #2739
Okay, I merged that fix in. I am going to go ahead and close this issue.

If there is still an issue, just let me know.

[2022-06-13 18:25] #2739 closed

[2022-06-14 13:00] kghost310 commented on #2804
@ktbyers
lines opens the 'config' file  listed below, I believe I am on the newest version of Netmiko, I recently installed it I tried netmiko.__version__ but it didnt tell me anything.

:global localidentity ([/interface ethernet get [find default-name=ether1] mac-address]);
:delay 5s;
:global EventClass;
:global APMAC;
:global Name;
:global GlobalNat;
:global ClassArray { "00:0C:29:D0:80:C5"={ "

[2022-06-15 15:59] naahdis commented on #2815
Looks like no solution to this...

[2022-06-15 17:35] ktbyers commented on #2815
@naahdis Can you show what a normal SSH login looks like on this device?

In other words, can you show me the initial prompt and any messages that are displayed on the screen when you manually SSH in.

[2022-06-15 20:25] ktbyers opened #2818 "Netmiko file_transfer can have an MD5 failure when it incorrectly believes the file already exists"
Okay, so the issue is a bug in Netmiko.

[code]

Basically, netmiko does the following the check whether the file in question already exists.

[code]

So it executes a ls from the linux shell, but arista1 used to have the following files in the ls output.
[code]

And the check was does arista_test.txt exist in the remote_out (which it does since that filename is a subset of those other filenames).

[2022-06-17 03:08] net-nanda commented on #2317
I was having the same problem on the Juniper platform. I was sending the whole configuration. In my case, config_set was of type STRING. For example
config_set = line1
line2
line3
.
.
line N

I converted config_set into type LIST.
commands = config_set.readlines()
connect.send_config_set(commands)

Hope this helps you as well.

[2022-06-17 18:02] ktbyers commented on #2317
@net-nanda Can you open a new issue and post your code and exception. this is a very generic exception.

[2022-06-17 18:02] #2317 closed

[2022-06-20 15:50] ktbyers commented on #2804
@kghost310 It looks like you are embedding TCL inside of your send_config_set call? There is a good chance that is not going to work without special handling on your side.

Does it work with just simplified configuration changes i.e. if you just send a few lines of config changes with no TCL does it work?

[2022-06-20 20:15] applericky commented on #2749
Hi @ktbyers. I played around with the         self._test_channel_read under the cisco_wlc_ssh.py file. I attempted to do different ways the pattern could be read including even adding the whole hostname and it still is unable to read it. I also tested to loop forever until it times out but it doesn't appear to even read it. I'm guessing the issue might be under the base_connection.py? I would love

[2022-06-20 21:07] ktbyers commented on #2749
@applericky

Could you try this proposed fix here:

https://github.com/ktbyers/netmiko/pull/2822

And see if it works or it if still fails?

If it still fails, then it would be good to see the full exception stack-trace. It definitely is not clear to me what is causing the reported failure, error.

[2022-06-21 11:51] peejaydeejay opened #2823 "Netmiko PaloAlto | OSError: Search pattern never detected"
I'm trying to automate the backup configuration of a palo alto firewall. SCP backup is working fine when entered manually on the firewall's command line. But when I try to use it on my code below, I get the error "OSError: Search pattern never detected in send_command: admin26@PA\-500>"

[code]

[2022-06-21 11:58] kghost310 commented on #2804
So I got this to work with a different script it just takes about 5 mins and I need it to go faster and also connect to multiple devices and do it. with that said I started to try to build a new one with less steps and thats where im at now. <maybe if you have a pointer on how to speed up the old script and how to get it to multiple devices ill just keep that one. here is the old script

#!/usr/bi

[2022-06-21 15:55] achhabr1 opened #2824 "Juniper login as root user fails to login properly"
#Netmiko Version 4.1.0

Trying to login in to Juniper Porter 3 OS

[code]

Error

[code]

[2022-06-21 19:27] ktbyers commented on #2823
@peejaydeejay Can you get rid of the exception handling in your code (the try/except lines) and then post the full exception stack trace into this issue?

[2022-06-21 19:28] ktbyers commented on #2804
Which version of Netmiko are you using? How many `commands` are you sending (roughly).

For multiple devices, you should just threading. Probably the easiest way to do this using Nornir (with the Netmiko-Nornir Plugin).

[2022-06-21 20:00] achhabr1 commented on #2824
***@***.***> set cli screen-width 511
Screen width set to 511

***@***.***>

Hope this helps

Thanks
Ankit

On Tue, Jun 21, 2022 at 2:26 PM Kirk Byers ***@***.***> wrote:

[2022-06-21 23:52] ktbyers opened #2826 "Netmiko logging has issues with ConnLogOnly"
Basically multiple calls to it will not reinitialize the logging (including the filename)

Also I am doing a getlogger call where __name__ is netmiko.ssh_dispatcher (which is probably not what I wanted).

[2022-06-22 00:04] ktbyers commented on #2826
Also ConnLogOnly fails when used with a Context Manager. I should look to fix that.

[2022-06-22 14:25] kghost310 commented on #2804
I believe the newest version, i sending roughly 400 commands. ill look into Nornir also

[2022-06-22 16:35] nullstream opened #2827 "Paramiko RSA key seemingly being mistakenly detected as a DSA key"
Versions in use:
`~/switch-backup$ pip freeze | grep miko
netmiko==4.1.0
paramiko==2.11.0`

Code snippet:
`~/switch-backup$ grep key backups_switches.py
        device_info['use_keys'] = True
        device_info['key_file'] = "~/.ssh/switches"`

When trying to to connect (note SSH manually works just fine):
`
Unknown exception: q must be exactly 160, 224, or 256 bits long
Traceback (most recent ca

[2022-06-23 04:41] sasukebinbin opened #2828 "Palo Alto FW Netmiko 4 - Pattern not detected: '[>#]' in output."
Hello,
I am geting an error when connecting to palo alto firewall device:

Pattern not detected: '[>#]' in output.

try:
    net_connect = ConnectHandler(
    device_type = "paloalto_panos",
    host = "x.x.x.x",
    username = auth["staticuser"],
    password = auth["staticpw"],
    )
    output = net_connect.send_command("show clock")

I have no issue with other OS like cisco_ios.

I believe thi

[2022-06-23 11:12] peejaydeejay commented on #2823
@ktbyers update, I found out some mistakes on my code. Specially on the expect_string part. Here's the updated code, with a different error.

[code]

Here are the exception tracebacks

Traceback (most recent call last):
  File "C:\Users\netadmin\AppData\Local\Programs\Python\Python310\lib\site-packages\paramiko\channel.py", line 699, in recv
    out = self.in_buffer.read(nbytes, self.timeout)
  Fi

[2022-06-23 14:03] m1ndn1nj4 opened #2829 "Netmiko custom TextFSM Template issue"
I'm having issues with a custom TextFSM Template producing errors and I'm not sure what's wrong, because [the RegEx works](https://regex101.com/r/DtMMwo/1).

Here's the sample script:
[code]
Here's the traceback I'm getting:
[code]
Here's the template, it should be using TYPE2:
[code]
And finally here's an example output of the command ran directly on the device:
[code]

Any help would be apprecia

[2022-06-23 15:06] ktbyers commented on #2829
Not really a Netmiko issue i.e. it is a TextFSM parsing problem.

[2022-06-23 15:07] ktbyers commented on #2823
Try setting `cmd_verify=False` on your send_command() calls.

[2022-06-23 15:17] ktbyers commented on #2828
@sasukebinbin Can you post the full exception stack trace that you are receiving?

[2022-06-23 15:59] kghost310 commented on #2804
@ktbyers they are configuration commands, we are setting up DHCP, firewall rules, etc... on Mikrotik devices. Im not sure if we do. I will look into that.

[2022-06-23 16:03] #2829 closed

[2022-06-23 17:37] ktbyers commented on #2829
@m1ndn1nj4 Okay...great.  :-)

[2022-06-24 01:25] sasukebinbin commented on #2828
Pattern not detected: '[>#]' in output.

Things you might try to fix this:
1. Adjust the regex pattern to better identify the terminating string. Note, in
many situations the pattern is automatically based on the network device's prompt.
2. Increase the read_timeout to a larger value.

You can also look at the Netmiko session_log or debug log for more information.

[2022-06-24 14:41] FloLaco opened #2833 "Fortinet does not work when config global not working"
Hello @ktbyers

Just would like to know why you close the session and reopen it if `config global` does not work ?
https://github.com/ktbyers/netmiko/blob/5bbbb737a934d044e2b496194512d43c9ac735bb/netmiko/fortinet/fortinet_ssh.py#L54

In my case, this command is not allowed but we are still in vdom mode.
The reconnection does not work because you don't type the 'a' the second time :

[code]

[2022-06-24 15:52] ktbyers commented on #2833
Let me look at it. It has been a long time since that code was written.

[2022-06-24 17:23] ktbyers commented on #2828
@sasukebinbin I didn't understand your response here?

But anyways I still need the full exception stack trace to be able to provide much assistance here.

[2022-06-24 17:27] ktbyers commented on #2833
@FloLaco On fortinet, what are the mechanisms for disabling output paging?

Can you disable paging if you cant go into `global config` mode?

[2022-06-26 00:16] laimaretto opened #2835 "logs get mixed when using `expect_string` inside `send_command()`"
Hi! I'm trying out the new version of netmiko 4.1.0. I'm upgrading a set of tools that I was using with netmiko 3.4.0. I'm using device type `nokia_sros` with a range of timos versions (7.x, 9.x, 16.x, 21.x).

When using send_command() with show-like commands, I used to store the received outputs both in a json file and a plain text file.

These are a snippet of the commands I'm sending to the rou

[2022-06-26 16:08] sydasif commented on #2651
I have the same issue but solved with paramiko 2.8.1 thanks 🙏

[2022-06-26 19:55] ktbyers commented on #2651
@sydasif You can also specify the `disabled_algorithms:

[code]

Netmiko should support this now.

[2022-06-26 19:56] ktbyers commented on #2651
This would be an argument to ConnectHandler.

[2022-06-26 20:47] ktbyers commented on #2835
@laimaretto One possible issue I can see is that your very first command:

`# SCRIPT NONO START`

contains a `#` so Netmiko will conclude it is done reading when it encounters that in the output (and this likely starts to mess things up for future commands).

I would start by fixing that and then see what you get for output.

[2022-06-26 21:03] laimaretto commented on #2835
Mmmm, ok, I see your point. Thing is some times we can use comments in the sent commands with `#`, just like I'm doing. In nokia, many sections of the config files include comments starting with `#`.

On the other hand, this was not an issue with netmiko 3.4.0. With 3.4.0 I would sent this without problems

But ok, let me try removing the first command and test again ... I'll let you know.

thank

[2022-06-27 02:20] sydasif commented on #2651
Thanks for replying.

[2022-06-27 05:20] ktbyers commented on #2835
Netmiko 3.4.0 had a bug where you might have gotten away with this...

Nonetheless there is a `#` in the output so Netmiko should stop reading once it encounters this character (that is the proper behavior).

[2022-06-27 14:29] laimaretto commented on #2835
Ok, got you.

Now, before I find a way to remove the command with `#`, I tried to enhance the regex, but its not working. For example:

    conn2rtr.send_command(cmd, expect_string=r"#$", cmd_verify=True, read_timeout=10)

Note the `#$` meaning that only an `#` at the end of the line should be considered. I'm asking, because in nokia, the CLI prompt ends in `#` such as: `A:name>show#`. But this is

[2022-06-27 14:53] laimaretto commented on #2835
Well, yes, I confirm it. I have replaced the initial commando `# START_NONO_SCRIPT` with `echo START_NONO_SCRIPT` and logs are now ok. The `#` in my command was confusing netmiko ...

Note: if I do use as expect_string `#` it does work; if I use `r'#'` it does work; however if I use `r'#$` it does not work and returns the next error.
[code]
Thanks for the support ...

Lucas

[2022-06-27 15:58] laimaretto opened #2837 "Nokia SR-OS classical CLI doesn't let you set global_cmd_verify (i.e. it is always hard-coded to False)."
Hi. I'm in the process of migrating my tools to netmiko 4.1.0. I'm wondering if `send_config_set()` is behaving as before. This is how send config commands to the router, where `inCmds` is a list of commands.

So, the commands I'm sending to the router are the following...
[code]
And this is how I send those by means of the function `send_config_set()`:
[code]
However, when lookin at the debug sho

[2022-06-27 18:23] laimaretto commented on #2835
Yes, that was it ... thank you ...

[2022-06-27 18:23] #2835 closed

[2022-06-27 18:35] laimaretto commented on #2837
Ok. Look, [here](https://github.com/ktbyers/netmiko/issues/2429#issuecomment-889288619) there is an example of what am saying about the cmd_verify feature with Nokia + netmiko 3.4.0. Apparently, with 3.4.0+classical CLI this used to work.

In any case, thanks for the answer: I'll keep an eye no this just in case ... thanks!

[2022-06-27 18:53] ktbyers commented on #2837
Nokia SR-OS in classical mode is somewhat broken on this which is why it is being disabled in the driver.

You can set global_cmd_verify=False as an argument to ConnectHandler, but if you run into command echo issues, you will probably need to remove this.

[2022-06-27 21:50] ktbyers commented on #2837
@laimaretto My bad, I should have paid more attention to the code there...

For SROS classical CLI, I disable global_cmd_verify regardless of what you set it to in ConnectHandler.

I would be fine with a PR that let you override it in __init__. This would basically be something like:

[code]

At that one line that I linked to in the SR-OS code above.

[2022-06-28 12:23] senthilkumar594 opened #2838 "Netmiko file transfer not working with source address binding (sock param)"
Netmiko  file transfer not working with source address binding (sock param)

**Example code:-**
from netmiko import ConnectHandler

from netmiko import FileTransfer

import socket

from netmiko import Netmiko

sok = socket.socket(socket.AF_INET, socket.SOCK_STREAM)

sok.bind(("192.168.204.114", 0))

sok.connect(("10.50.10.2", 22))

ssh_conns = Netmiko(

    "10.50.10.2",

    username="admin",

[2022-06-28 13:59] laimaretto commented on #2837
Hi @ktbyers, one question: wouldn't it be the other way around? I mean: you want to set `self.global_cmd_verify=False` if `self.global_cmd_verify` is unset. But if set in the ConnectHandler, we want to honor that, am I wrong? If so, it should be like this:

[code]
Does this make sense? If not, may be I'm not following your idea ...

[2022-06-28 15:46] ktbyers commented on #2837
LOL, I messed that up also...yep, you are totally right.

[2022-06-28 16:20] ktbyers commented on #2838
@senthilkumar594 Secure Copy has never been implemented to work directly with a socket. I would expect that it would probably not work.

Someone would need to implement and test this new feature.

[2022-06-28 18:08] achhabr1 commented on #2824
Any update on this one ?

[2022-06-29 08:49] peejaydeejay commented on #2823
@ktbyers that one worked!

 I have an additional question. Is it possible to put an "OR" boolean on the expect_string command?
 Reason for this is my output may change when the SCP server timed out.

Possible output1:
backupadmin@172.30.169.98's password:
scp: Failed to open file /.
lost connection

Possible output2:
backupadmin@172.30.169.98's password:
SBX-PA-FW.xml

[2022-06-29 09:08] zhtjames commented on #2711
Hi！MR.Ktbyers！I have the same issue with H3C(hp_comware_telnet) .
SSH(hp_comware) was perfect ! I like it ! but telnet never succeeded.
******************************************************************
from netmiko import ConnectHandler

dev = {
    'device_type': "hp_comware_telnet",
    'host': '192.168.11.1',
    'username': 'admin',
    'password': 'admin',
    'port': 23,
}
net_con = Connect

[2022-06-29 10:07] jahknem opened #2841 "Slack Invite is broken"
Simple really: I can't join the slack channel as the invite is no longer active. Could it be repalced with a permanently active link?

[2022-06-29 16:45] ktbyers commented on #2841
Yeah, Slack's never expire invite...expires pretty quickly.

@schautwb can you help @jahknem?

[2022-06-29 17:05] schautwb commented on #2841
Invited @janknem to Slack.

On Wed, Jun 29, 2022 at 9:46 AM Kirk Byers ***@***.***> wrote:

[2022-06-29 17:15] #2841 closed

[2022-06-29 22:34] Gatorjosh14 commented on #2833
I have a new Fortinet driver I've been using extensively, should be compatible with VDOM and non-VDOM devices.  I'm working with Ktbyers to get it tested and approved.

[2022-06-30 18:38] ktbyers commented on #2711
@zhtjames Can you show me what a manual telnet looks like i.e. copy and paste the manual telnet session here. You can obscure/change your username and password or anything else that is confidential.

[2022-06-30 18:47] ktbyers commented on #2711
@zhtjames ???

[2022-07-01 15:16] sasukebinbin commented on #2828
Please close this as issue identified as account problem.

[2022-07-04 11:03] onlywifi opened #2843 "save_config, write mem timeout issue still on Netmiko 4.1.1"
I'm still having this issue with Netmiko 4.1.1 when saving a long config that takes around 25 seconds to finsish.
I've added the 'fast_cli'=False as both argument and global command but it is not fixing it:
This is my current code:
[code]

And the error:
[code]

[2022-07-04 16:12] rafaelpmagalhaes opened #2844 "Netmiko not auto accept fingerprint"
When I try to SSH to a device not previously accessed, the script stops with the question:
The authenticity of host 'x.x.x.x (x.x.x.x)' can't be established.
ECDSA key fingerprint is SHA256:wFPJNevlK4hWQaYGxYBiy+QezX*****************.
Are you sure you want to continue connecting (yes/no/[fingerprint])?

Is it possible to configure an auto accept?

[2022-07-04 18:13] ktbyers commented on #2844
Can you show more of your code and the full exception stack trace.

By default, Netmiko will auto-accept this...so there must be something else going on.

[2022-07-04 19:34] rafaelpmagalhaes commented on #2844
device = {
            'device_type': 'linux',
            'host': args.ip,
            'username': 'ubuntu',
            'use_keys': True,
            'key_file': '~/.ssh/involves-ec2-eua.pem',
            }
        try:
            with ConnectHandler(**device) as net_connect:

The authenticity of host '10.10.0.225 (10.10.0.225)' can't be established.
ECDSA key fingerprint is SHA256:tSODkXOCXVG7

[2022-07-04 20:10] marqck opened #2845 "netmiko | Telnet log in fails"
I'm getting authentication exception and I'm sure that the credentials are correct. I got the session log and it looks like it puts a blank username and the username on the password field.

`net_connect = ConnectHandler(
    device_type = 'cisco_ios_telnet',
    host = ip_address,
    username = creds.username,
    password = creds.password,
    session_log = 'netmiko_session.log'
    )
`

Traceba

[2022-07-04 21:18] ktbyers commented on #2844
@rafaelpmagalhaes I need the full exception stack trace (which likely implies that you need to get rid of your try/except statement and the Context Manager).

Also above looks like system SSH and not Paramiko/Netmiko? Can you provide your full Python code (a simplified version that is failing)?

[2022-07-05 02:41] ktbyers commented on #2845
@marqck Can you try and see what happens using Netmiko version 4.1.1?

[2022-07-05 02:48] ktbyers commented on #2843
@onlywifi Can you do a `python3 -m pip list` and post the output here:

The above error does not look like Netmiko 4.1.1. In other words, line 252 is not this (in Netmiko 4.1.1):

[code]

[2022-07-05 03:09] #2828 closed

[2022-07-05 03:15] ktbyers commented on #2824
@achhabr1 What does the Netmiko session_log show?

You can enable the Netmiko session_log by adding the following argument:

[code]

This will create a file named `output.txt`. Can you post what this shows?

You can obscure anything that is confidential.

[2022-07-05 13:18] jiujing commented on #2603
@ktbyers
we can character encoding in initial process，but when we read from channel，I found ，it does not work.Because it is "utf8" .In my opinion,it will be better if it is "self.encoding"   。
This occurs in netmiko version 3 and version 4.
![image](https://user-images.githubusercontent.com/24587178/177336407-1a3078dd-ce09-45e7-aa36-84a6522a26c2.png)

[2022-07-05 16:48] ktbyers commented on #2603
@jiujing Proposed fix here:

https://github.com/ktbyers/netmiko/pull/2847

Just let me know if this doesn't work or if you run into issues here.

[2022-07-05 16:48] #2603 closed

[2022-07-05 17:30] ktbyers commented on #2823
@peejaydeejay expect_string is used as a Python regular expression so you can do a logical or there:

[code]

On this second command, you probably would still need to do an `expect_string`:

[code]

For example, use `expect_string=r">"` or whatever the trailing prompt character is.

Alternatively, you could just do:

[code]

Note, I switched the second command to send_command_timing so it is not l

[2022-07-05 17:31] ktbyers commented on #2823
@peejaydeejay expect_string is used as a Python regular expression so you can do a logical or there:

[code]

On this second command, you probably would still need to do an `expect_string`:

[code]

For example, use `expect_string=r"#"` or whatever the trailing prompt character is.

[2022-07-06 15:16] abhi1693 opened #2849 "Unable to install netmiko inside Alpine Linux"
Textfsm should be pinned to `1.1.2` for now until this issue is resolved.

The issue is also opened at https://github.com/google/textfsm/issues/105

Here are the error logs
[code]

cc @ktbyers

[2022-07-06 15:48] ktbyers commented on #2849
@abhi1693 Thanks.

Fixed here:

https://github.com/ktbyers/netmiko/pull/2850

[2022-07-06 15:48] #2849 closed

[2022-07-06 16:31] rafaelpmagalhaes commented on #2844
Where can I see this?

import argparse
import os
import boto3
from netmiko import ConnectHandler
from datetime import datetime

def parse_arguments():
    parser = argparse.ArgumentParser(
        description='Please which server do you want install Zabbix Agent. If do you want to install in all servers, type "all" in --ip'
    )
    parser.add_argument("--cert", dest="cert",

[2022-07-06 16:40] ktbyers commented on #2844
What is this?

[code]

That is probably what is generating your SSH known host issues.

[2022-07-07 12:16] tobyX opened #2852 "Polluted build environment?"
Hello!
Just to inform you, we stumbled over a strange problem while updating to 4.1.1 (from 4.1.0):

[code]

As you can see we were still using ssh_exception which was working fine until this update. We investigated it and the file is missing since 4.0.0 in your repo but it is still there in the whl files, not in the tar.gz.
So to us it looks as if the build environment was not cleaned after this

[2022-07-07 20:08] rafaelpmagalhaes commented on #2844
You're right! Thanks!

[2022-07-08 02:12] #2844 closed

[2022-07-08 05:40] joand3512004 opened #2853 "Netmiko Jump Server + TACAC's Error reading SSH protocol banner [WinError 10054]"
Friends,
I need help with a script, and it should perform 2 actions:
1 - Connect to a gateway machine (Jump Server)
2 - Connect via ssh and execute show's commands to obtain switch outputs.
In this case, the model is Nortel which has the same syntax as Cisco but is not working.
I already increased the sefl.banner_timeout = 60
Authentication timeout = 30 and self.handshake = 15
And I still can't ac

[2022-07-12 10:27] mashkoor7675 opened #2855 "Using netmiko with proxy setup from a Windows machine"
Hi

I have read the article: https://pynet.twb-tech.com/blog/netmiko-ssh-proxy-support.html

My scenario is slightly different from the one discussed, in that the source machine I am using to run the script is a Windows machine, and the jumphost I am using as the proxy is a Linux machine. The destination device under management is a Cisco Nexus device. The intermediate server (jumphost) uses GSSAP

[2022-07-12 18:10] ktbyers commented on #2855
@mashkoor7675 Can you try this fix?

https://github.com/paramiko/paramiko/pull/1924/files

This is a paramiko change.

[2022-07-12 18:11] ktbyers commented on #2855
See this issue:

https://github.com/paramiko/paramiko/issues/512

[2022-07-13 12:26] omryshay opened #2857 "revert / rollback a configuration"
hey i am trying to set a config revert on every config commands i send to netmiko. cant manage to find any solution for doing that task.
i want to set a time which if the configuration isnt complete then it will revert to before the configuration

[2022-07-13 14:34] jmello-pagseguro opened #2858 "ImportError netmiko - Jenkins Python 3.8.6"
Hello! I'm trying to run a script through jenkins file, installing all dependencies but I'm facing those issues below.

+ pip list
Package            Version
------------------ ---------
awscli             1.18.199
bcrypt             3.2.2
boto               2.49.0
boto3              1.16.39
botocore           1.19.39
bump2version       1.0.1
bumpversion        0.6.0
certifi            2021.10.8
c

[2022-07-13 18:21] ktbyers commented on #2857
Not enough information for me to help you with this...

At a high-level, just re-create what you do with the CLI, but using Netmiko.

If you have more specifics on what is failing, let me know.

[2022-07-14 03:43] panli200 commented on #2103
Hi Kirk :
Some command has dynamic output. I have an issue that I want print the output of running a command, however, I only get the beginning of output. Can you tell me how to get all output?  Thank you ahead!

[2022-07-14 07:24] mashkoor7675 commented on #2855
@ktbyers ... Tried this fix, and it has worked. Thank you very much for the guidance. Really appreciate your help.

[2022-07-14 17:04] #2855 closed

[2022-07-17 18:31] shibu503 commented on #2695
I am receiving same error permissionError: [WinError 5] Access is denied. @arob182 did you manage to get the solution?

[2022-07-18 13:05] JavierJV opened #2860 "RouterOS 6.49.6 issue"
I am having problems with the version of RouterOS 6.49.6 and netmiko 4.1.1 that does not execute the commands correctly. In the version of RouterOS 6.48.6 everything works correctly. The tests were in a RB2011UiAS-2HnD with a clean configuration.

Code:
`from netmiko import ConnectHandler

import logging

logging.basicConfig(filename="test.log", level=logging.DEBUG)
logger = logging.getLogger("net

[2022-07-18 15:50] ktbyers commented on #2860
@JavierJV Can you post the full exception stack trace?

[2022-07-18 15:52] ktbyers commented on #2695
@shibu503 @deveshmanish Can you try this fix?

https://github.com/paramiko/paramiko/pull/1924/files

And let me know if it works?

[2022-07-18 17:06] JavierJV commented on #2860
Add the try/catch but it doesn't throw any exception, the execution is correct. Detect that there are times when it works, but in the debug log it does not add info. Is there a lower level log? I add log when it works.

[log-netmiko-RouterOS-6-49-6-WORK.log](https://github.com/ktbyers/netmiko/files/9133887/log-netmiko-RouterOS-6-49-6-WORK.log)

[2022-07-18 17:07] JavierJV commented on #2860
sorry, missclick, I accidentally closed

[2022-07-18 17:09] assadniang opened #2861 "Redispatch failing due to no data being present"
Hello,

This used to work before I upgrade from version 3.4.0 to version 4.1.1

Not sure why it is failing on the juniper device:

[code]

**Output:**

**Log file shows this:**

I also tried commenting this line, but same issue:
`#net_connect.send_command('cli', expect_string=r'>')`

[2022-07-19 09:42] nathaniel-mills opened #2864 "Netmiko output blank - paloalto_panos"
Hi,

I run Netmiko for bulk packet captures in AWS. It works well but there is never output when using the Palo Alto (paloalto_panos) device type. Output for Cisco works well. An example would be:

[code]

This is just an example by the way, I don't run the scripts to show the clock :-).
The output would be:

[code]

You see the issue.
By the way this is my Netmiko version:

[code]

PAN-OS:

[code

[2022-07-19 16:21] ktbyers commented on #2864
Can you capture the log output and post it here:

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

You can obscure anything in the log that is confidential to your environment.

[2022-07-19 16:34] ktbyers commented on #2695
@shibu503 Have you tried (in your SSH config file)?

[code]

Also please post your full SSH config file (after making the above change).

If your SSH config file is large and has other sensitive information in it, then you should make a simplified version of the file that you can test with and share here (also just obscure anything that is confidential).

[2022-07-19 16:39] ktbyers commented on #2861
Your error and the log file don't really match up?

The exception says it tried to read and was looking for '[%>$#]'  but never found it, but then the log has `#` in the output (and doesn't really match the exception stack trace)?

Maybe add a log entry that you generate in your code before and after the `redispatch` call so we can make sure we are looking at the right location in the log file?

[2022-07-19 16:40] ktbyers commented on #2860
I probably need to get access to Mikrotik device...they are too challenging to figure out (in general) without having a device to test against.

[2022-07-19 19:26] assadniang commented on #2861
Hi,
It does does not login to the CSR1000V directly, but to the Juniper device first, where the CSR1000V is running as a vnf:

This is the code where it connects to the device:

[code]

Output:
[code]

[an144a@mtlab-auto uCPE]$

[2022-07-20 13:23] shibu503 commented on #2695
Hi Ktbyers,

Below is SSH config file:

# The intermediate server
host 192.168.2.1
  # Use only the key specified in IdentityFile
  IdentitiesOnly yes
  # The SSH key to use to the intermediate server
  IdentityFile ~/.ssh/id_rsa
  User shibuj
  HostName 192.168.2.1

host * !192.168.2.1
  User shibuj
  KexAlgorithms diffie-hellman-group-exchange-sha1,diffie-hellman-group1-sha1
  # -F forces usage

[2022-07-20 21:32] ktbyers commented on #2695
And same error using the above (as the previous error)?

[2022-07-21 04:55] shibu503 commented on #2695
Hi Ktbyers,

Same error, also the I am using user has administrator privileges for the windows pc.

Thanks
Shibu John

[2022-07-21 08:17] nathaniel-mills commented on #2864
So 😄 ...
It didn't work as per your tweak, however it does work with:

[code]

Or:

[code]

My colleague just pointed out a gap of lines before and after the actual time when jumping in on the CLI:

[code]

I think the expect string is a good "fix". I guess I just misunderstood the exact workings of the command. By the way last question if I may. What would be the ideal expect string to look out f

[2022-07-21 09:57] mirceaulinic opened #2866 "Linux SSH / OpenGear read_until_prompt fails to detect enable mode when prompt is only single character"
Steps to reproduce:

1. Initialise a connection with an OpenGear device, using the Linux SSH driver:

[code]

2. Attempt to enter in enable mode:

[code]

The previous command does send the `sudo -s` command as it should, the device returns a line containing the `#` as expected, but it fails on `check_enable_mode`.

After digging deeper, it seems like the issue is caused by the `read_until_prompt`

[2022-07-21 15:35] ktbyers commented on #2864
The expect_string should probably be the trailing character for the prompt:

So in the log file you posted earlier:

[code]

You would use a `r"#"`.

In the device above, you would use a `r">"`.

If you have a mix of devices that use either a `#` or `>` then probably a regex like: `r"[>#]"` would work.

This really shouldn't have been required i.e. it means there is something still going wrong in

[2022-07-21 16:26] ktbyers commented on #2866
`self.base_prompt` is the prompt without the terminating prompt character.

In other words, if the prompt is `foo#` then self.base_prompt should be `foo`.

The reason for this is that the terminating character frequently changes as you can see with the `sudo -s` where it might go from `foo>` to `foo#` and Netmiko needs something for the terminating read pattern (i.e. Netmiko wants to only have the

[2022-07-21 17:03] mirceaulinic commented on #2866
Thanks for looking into this and for your notes @ktbyers!

Might also be worth pointing out that this only happens on Netmiko 4.x, no issues with 3.x.

I'm not aware of a way to do this. For example, the hostname is configured, but the prompt is always `#`. I've never seen an OpenGear with a different prompt, but I'll ask around and will let you know.

Yes, no problem with that...

Would it be a g

[2022-07-21 17:38] ktbyers commented on #2866
`Might also be worth pointing out that this only happens on Netmiko 4.x, no issues with 3.x.`

Yes, that one is hard as a lot of things changed from Netmiko 3.x to Netmiko 4.x. The main thing I can think of is that Netmiko 3.x had a pretty fundamental bug with respect to reading beyond pattern (i.e. it would/could read beyond the pattern). This was fixed in Netmiko 4.x.

In general for terminal se

[2022-07-21 17:45] ktbyers commented on #2866
[code]

For self.base_prompt, I want something that is enduring (not likely to change).

For example, in the below:

[code]

I want to be able to go through the state changes and still have the netmiko read succeed. So I want the part of the prompt that is common to all of these cases i.e. `cisco3`. So that is what is meant by the `base` in self.base_prompt.

Obviously, that doesn't always work, b

[2022-07-22 15:24] nathaniel-mills commented on #2864
Thanks a bunch for this. The switch was Cisco which ends with the `#`, however above that in the logs the Palo Alto ends with the `>`. I'll definitely settle with the workaround and I suppose a future release may address this long term.

Thanks again!

[2022-07-22 18:25] ktbyers commented on #2864
I am going to re-open this issue (as it does indicate there is an underlying Netmiko bug which should be fixed).

[2022-07-22 21:18] achhabr1 commented on #2824
`(python38-venv) ac043s@NJML01AC043S juniper % cat output.txt
Last login: Fri Jul  1 04:48:20 2022 from fd:192:168:53::4
--- JUNOS 21.1X3.2 Kernel 64-bit  JNPR-11.0-20220419.9889e6f_buil
root@ptr76-ucp:~ #
root@ptr76-ucp:~ # set cli screen-width 511
set: Variable name must contain alphanumeric characters.
root@ptr76-ucp:~ #
root@ptr76-ucp:~ # %

[2022-07-25 03:46] assadniang commented on #2861
I had to downgrade to 3.4.0, as the same code was working great.
The issue started after I upgraded:

The pattern is found, but netmiko fails to send any commands.

DEBUG:netmiko:Pattern found: (cli) cli
DEBUG:netmiko:read_channel: {master:0}
**root@ptr53-jdm>**
DEBUG:netmiko:read_channel:
DEBUG:netmiko:read_channel:
DEBUG:netmiko:read_channel:
..
...
....
DEBUG:netmiko:write_channel: b'\n'
DEBUG:

[2022-07-25 11:49] utkuozsan commented on #2861
I had the same issue. Based on the log file, there shouldn't be a problem but I can't run any commands.
Script:
---
from netmiko import ConnectHandler
from netmiko import redispatch
import time
import logging
import sys
logging.basicConfig(filename = 'test.log', level = logging.DEBUG)
logger = logging.getLogger("netmiko")

device = {
    'device_type':'terminal_server',
    'ip':'X.X.X.X',
    'us

[2022-07-25 21:03] ktbyers commented on #2861
@utkuozsan Can you post your full exception stack trace?

[2022-07-25 21:21] ktbyers commented on #2861
@utkuozsan @assadniang Can you try this fix here and let me know if it works:

https://github.com/ktbyers/netmiko/pull/2867

[2022-07-25 21:22] #2857 closed

[2022-07-25 21:23] ktbyers commented on #2853
@joand3512004 Did you work this out?

[2022-07-25 21:25] ktbyers commented on #2853
Can you provide some more details on what issue you are running into (i.e. the full error you are receiving). You probably will also need to post your code corresponding to the error that you are receiving.

[2022-07-25 21:26] ktbyers commented on #2845
I am going to close this as there was no response. If you are still working on this, let me know.

[2022-07-25 21:26] #2845 closed

[2022-07-25 21:27] ktbyers commented on #2843
Closing as it looks like an environment issue (i.e. not actually running Netmiko 4.1.1).

Just re-open this issue if you are still working on it.

[2022-07-25 21:27] #2843 closed

[2022-07-25 21:28] ktbyers commented on #2837
Should be fixed...thanks for your contribution on this @laimaretto

[2022-07-25 21:28] #2837 closed

[2022-07-26 06:26] onlywifi commented on #2843
Hi Kirk and so sorry for my late response as I have been off for the last 3 weeks.

This is the output:
:\Python39\python.exe: No module named piplist

C:\Python39>python.exe -m pip list
Package        Version
-------------- ---------
asgiref        3.5.2
bcrypt         3.2.2
cffi           1.15.0
colorama       0.4.4
cryptography   37.0.2
DateTime       4.3
distlib        0.3.4
Django         4.0

[2022-07-26 10:21] Anirudh-Suri commented on #2532
For me it was the same error. But then I saw it was due to the wrong IP given and also the reason might be that your SSH from the putty is not active.

[2022-07-27 04:40] assadniang commented on #2861
``> @utkuozsan @assadniang Can you try this fix here and let me know if it works:

Hi Kirk,

That did not fix it...
I don't know how to do update the package with the fix, so I just downloaded the new file base_connection.py, and replace it under /nemiko/base_connection.py on my server

I have attached the log

**output:**
[code]

**Code:**

[code]
[csr1000v_staging_100m_app_0022-07272022_debug_te

[2022-07-27 16:19] ktbyers commented on #2861
@assadniang Okay, I made a second change to that pull-request. You will need to get both of these changes.

https://github.com/ktbyers/netmiko/pull/2867

Also, you need to change your code (as what you are doing is not really correct...if I am reading it properly. Yes, I understand you got away with it in 3.4.x.

[code]

These two lines should be removed or commented out:

[code]

Netmiko will aut

[2022-07-27 18:41] assadniang commented on #2861
@ktbyers

Finally got it working....

Thank you!!!

The reason I had it set to linux initially, is I wanted to run some linux command at the shell when I am doing junos config changes

**Output:**

[code]

**Code:**

[code]

[2022-07-27 19:38] ktbyers commented on #2861
@assadniang Yes, you can still drop to `Unix Shell`, but if you want to do that still use `juniper_junos` driver and drop into the shell from Junos (otherwise you will run into issues with the Netmiko Juniper driver).

[2022-07-27 19:38] ktbyers commented on #2861
@assadniang Okay, I merged that pull-request into the Netmiko `develop` branch.

[2022-07-27 19:38] #2861 closed

[2022-07-28 10:55] cbay opened #2874 "`send_config_set` no longer works with generators"
Starting with bc8fc448bb76a57cb18f61c663c4d7aeb8c037ef, `send_config_set` no longer works when `config_commands` is a generator as `bypass_commands` (which is automatically set by default) will consume the generator, and the rest of the method will have an "empty" `config_commands`.

That breaks [Napalm](https://github.com/napalm-automation/napalm/blob/develop/napalm/nxos_ssh/nxos_ssh.py#L473), fo

[2022-07-28 12:23] mfr-6 commented on #2084
Alright, i did some investigation to this, since i have similar issue right now with Netmiko 3.4.0 (Paramiko 2.7.2). Tried upgrade Netmiko and Paramiko to latest version but this doesn't resolve the problem, so i started debugging this.

I have two WLC controllers:
WLC1 - software version: 8.3.150.0 -> connection to this results with generating paramiko.transport DEBUG messages forever
WLC2 - soft

[2022-07-28 14:27] ktbyers commented on #2874
I am not understanding your reasoning here? How would bypass_commands affect this?

But I will test it.

[2022-07-28 14:29] ktbyers commented on #2874
Nevermind...I see more what you were referring to. Let me look into it some more.

[2022-07-29 11:54] Anirudh-Suri opened #2877 "Restoring Configuration file"
Input- my own changed config file for switch to restore a device.

Hello,
I want to store a changed config file into flash so that every time system boots up, my input config file will be restored.

I am using netmiko. But not able to find the command to copy the file from my editor into switch in flash as config-file.

[2022-07-31 14:55] omryshay commented on #2857
thank you and sorry for not responding.
i am trying to revert config commands like the command "configure revert {now | timer {minutes | idle minutes}}" to prevent performance interruptions

[2022-08-01 00:26] KRIPT4 opened #2878 "Enable ANSI/ASCII escape code output?"
To parse ANSI color sequences

[2022-08-01 07:11] Anirudh-Suri opened #2879 "Restoring the Config file on Network Devices using Python"
I have a config file in my code editor. I did for loop on that with  .readline() e.g for items in my_config_file .readlines() and when I print the items, I am getting the desired output. But now I want to replace this config file in the flash e.g in the switch. So, that each time when I boot up my system, I have my config file in the flash.

Even I am using "copy my_config_file flash:/config.text"

[2022-08-01 16:03] ktbyers commented on #2857
@omryshay Okay, yes shouldn't be a problem doing this with Netmiko.

You probably need to post what you have tried and what issue you are running into.

[2022-08-01 16:09] Anirudh-Suri commented on #2879
Hello
Cisco Switch  and Debian is the OS.

I think I am using the command copy my-file name startup-config for restoring the file. But since that file is not in the Cisco switch or in flash. So I am using file_transfer from netmiko to transfer the file so that my command will be able to copy that file as startup- config. But in file_transfer errors are coming like check_my_file is not found

[2022-08-01 17:10] mdiehm opened #2880 "Mikrotik command execution seems to never get executed"
The following code produces no output although the command when run on the command line or as ssh command works fine. I also attache the debug output. I tried explicitly using expect_command=" >" but that just terminates faster with also no results. Executing other commands with this code like `/system/routerboard/print` work fine.

I'm using netmiko 4.1.1
[code]

Sourcecode from script trying to

[2022-08-01 19:03] ktbyers commented on #2880
Which version of Mikrotik OS is this?

Is there any exception or does it just complete gracefully?

[2022-08-01 23:01] abudilovskiy opened #2881 "Connection not terminated when going via proxy"
I encountered a few Alcatel-Lucent devices that seem to be in a weird state as they are closing the SSH session after the connection is established. Netmiko based script is hanging on these forever. It seems the issue is somewhere between Netmiko and Paramiko as DEBUG logs show that it never comes back to Netmiko read_channel code.

Setting banner_timeout=2 correctly catches the timeout, but the v

[2022-08-02 01:33] ktbyers commented on #2881
How long are you waiting for it to fail?

Does manual SSH using your SSH config file (i.e. if you try to manually use the SSH-Proxy outside of Netmiko does it work properly)?

Is that your actual SSH config file you showed above. If not, can you show me your SSH config file. You can obscure anything that is confidential.

[2022-08-02 01:41] ktbyers commented on #2879
Can you clarify what you are trying to do?

You have a configuration file in your Python code that you want to get to the device's flash or something else?

[2022-08-02 01:42] ktbyers commented on #2878
@KRIPT4 Just set `self.ansi_escape_codes=True` as an argument to ConnectHandler

[2022-08-02 01:42] #2878 closed

[2022-08-02 01:43] ktbyers commented on #2877
Is this the same issue as #2879?

[2022-08-02 01:48] ktbyers commented on #2860
This could be a similar issue:

https://github.com/ktbyers/netmiko/issues/2880

We are supposed to have a device to test against later in the week.

[2022-08-02 01:48] ktbyers commented on #2853
If you are still running into this issue, just re-open this.

[2022-08-02 01:48] #2853 closed

[2022-08-02 01:49] #2838 closed

[2022-08-02 01:52] ktbyers commented on #2833
Related PR from @Gatorjosh14

https://github.com/ktbyers/netmiko/pull/2876

[2022-08-02 02:01] ktbyers commented on #2827
@nullstream Looks like this Paramiko issue here (which hasn't been fixed yet):

https://github.com/paramiko/paramiko/issues/1839

[2022-08-02 02:02] ktbyers commented on #2827
It looks like you might be able to temporarily fix it by pinning to Paramiko version 2.8.1.

Let me know if that works.

[2022-08-02 02:05] ktbyers commented on #2824
@achhabr1 I think this fix here probably fixed this issue:

https://github.com/ktbyers/netmiko/pull/2867/files

Can you re-test this using the Netmiko `develop` branch.

[2022-08-02 02:06] #2813 closed

[2022-08-02 03:27] abudilovskiy commented on #2881
I've left it sitting for hours, it doesn't seem to come back to netmiko read_channel ever. The SSH process in Linux goes into defunct state too.
Manual SSH (no Python) fails correctly as the far-end closes the connection, see the debug output above where it says 'closed by remote host'. The proxy does work as other nodes work fine, it's a handful of these Alcatels that are in this weird state. The

[2022-08-02 05:50] Anirudh-Suri commented on #2879
Yes right. This is what I am doing. A config file which I want to put in flash to make the file as start-up config

[2022-08-02 05:50] Anirudh-Suri commented on #2877
Yes.

[2022-08-02 09:50] omryshay commented on #2857
i am using config commands and there isnt any parameters that can handle that. also the prompt for send config and send commands are different.

function send configs sends a list of configs commands

[2022-08-02 17:06] #2877 closed

[2022-08-02 17:14] ktbyers commented on #2879
The general process would be:

1. Using Python save your configuration to the unix file-system.
2. Make sure your configuration is proper and can be loaded.
3. Use the Netmiko file_transfer to transfer the config into flash
4. Send the command to copy the file from flash into the startup config using Netmiko.

[2022-08-02 21:47] adampav opened #2882 "strange prompt (not matched) in 'terminal_server'"
Hi Kirk,

First things first, huge fan of all the work you and like-minded people are doing!

I was wondering if I could pick your brain about something.
Trying to experiment with the "terminal_server" device type in order to create some initial provisioning scripts, or on-board devices that need some 1-2 basic commands before i can incorporate them to the automation tools.

What i am doing is som

[2022-08-02 22:00] adampav commented on #2882
Follow up:
Though i have been tinkering at it for the entire day, and using the correct device_type='cisco_s300' for other purposes, i put on my blinders here...

It just hit me after i logged out

leaving the comment  editing the issue so as to potentially help others.

[code]
the above worked without issue, however i noticed the prompt change prior and after redispatch.
Just out of curiosity for

[2022-08-03 16:36] mdiehm commented on #2880
Sorry for the delay @ktbyers
**It seems like things are broken with the 7.1.3 release** - I tested with 7.2 and above and so far can't reproduce the error. So from my side we could  close the issue.

The version of the device giving below error: 7.1.3
This is the exception I get:
[code]
on another occation I get:
[code]

[2022-08-03 16:36] #2880 closed

[2022-08-04 08:26] Anirudh-Suri commented on #2879
Okay. Thanks a lot for this answer. I will try that.

But I also find another way to do that. Instead of using file_transfer netmiko. Now, I am using tftp.

But soon, I will try the other way too.

Thanks:)

[2022-08-05 15:07] jj-jj-j opened #2886 "Cisco ASA failing on send_command as allow_auto_change is disabled"
Hi team,

Getting below error for running show command in ASA, please provide solution for it, i tried all the solutions available online.
2022-08-05 20:28:28PM : ERROR - Search pattern never detected in send_command: test\-lab/pri/act\#

code
[code]

[2022-08-05 19:42] ktbyers opened #2887 "Netmiko should generate an exception if you specify a key-file and it doesn't exist"

[2022-08-06 22:44] KRIPT4 commented on #2878
Mikrotik support?

[2022-08-08 07:38] Typovy opened #2888 "send_command_timing requires last_read argument for slow show commands"
Hey,
im using send_command_timing() to collect data from devices. In this example command was 'show run' in cisco_ios device.
Code below:
`for command in commands:
                    output = connection.send_command_timing(command)`
Then i save output in .txt file. Output looks like this:
`Building configuration..`
And there is no more than this. I tried with adding 'term len 0' befor 'sh run' an

[2022-08-08 16:06] ktbyers commented on #2888
Try adjusting the `last_read` argument to send_command_timing.

Try:

[code]

The cause of your issue is likely that the device is responding too slowly.

Another alternative is to switch to `send_command`.

[2022-08-08 17:58] ktbyers opened #2889 "Cisco s300 driver is really slow on testing configuration changes"

[2022-08-08 18:05] ktbyers commented on #2886
Can you eliminate the exception handling (try/except statement) and post the full exception stack trace?

Note, this argument:

[code]

is generally required for the ASA to work properly so I would change that to True (or else, you will need to manually do the things Netmiko does automatically i.e. set the terminal width: "terminal width 511").

[2022-08-08 18:32] ktbyers commented on #2882
The Cisco S300 has ANSI escape codes in the output, this is what is here:

Pattern not detected: '\x1b\[foo\#' in output.

The `\x1b` is part of an ANSI escape code. This does special things like coloring your terminal.

Netmiko auto-strips these ANSI escape codes automatically for the S300

(https://github.com/ktbyers/netmiko/blob/develop/netmiko/cisco/cisco_s300.py#L16)

I am probably going to c

[2022-08-08 18:32] #2882 closed

[2022-08-08 18:39] ktbyers commented on #2881
Can you test this using Netmiko's `develop` branch and see if it makes a difference?

Also does it make a difference if you use the Context Manager?

[code]

[2022-08-08 18:46] ktbyers commented on #2874
Fixed here:

https://github.com/ktbyers/netmiko/pull/2890

[2022-08-08 18:46] #2874 closed

[2022-08-08 21:37] ktbyers commented on #2866
Should be fixed here:

https://github.com/ktbyers/netmiko/pull/2891

[2022-08-08 21:37] #2866 closed

[2022-08-08 22:25] ktbyers commented on #1324
This should be fixed in Netmiko 4.x code.

[2022-08-08 22:25] #1324 closed

[2022-08-09 00:24] ktbyers commented on #2887
Fixed here:

https://github.com/ktbyers/netmiko/pull/2892

[2022-08-09 00:24] #2887 closed

[2022-08-09 02:54] GerryG333 opened #2893 "Cannot sent config command to Fortinet such as "Config firewall address""
When trying to config FortiGate 240D, using config command as "config firewall address", netmiko cannot analyze fortinet system prompt.
My test code:
`import netmiko`
`device = {`
  `  "host":"192.168.1.99",`
  `  "username":"admin",`
  `  "password":"admin",`
  `  "device_type":"fortinet",`
  `  'global_delay_factor': 0,`
  `  'fast_cli': True`
`}`
`fg_connect = netmiko.ConnectHandler(**device)`

[2022-08-09 03:14] #2893 closed

[2022-08-10 17:34] adampav commented on #2882
Thank you very much for the info. Will keep this in mind.

[2022-08-10 19:59] David00 opened #2897 "SCP Transfer works, but OSError is raised afterwards during verify_file"
## Summary

I am using Netmiko's `file_transfer` function to transfer a rather large IOS image to a Cisco 9300 switch. The `file_transfer` function raises an `OSError: Socket is closed` exception from the `verify_file` function.  The image gets transferred to the switch successfully, but the Netmiko connection seems to close while the native `SCPClient.put()` (in scp.py) method is transferring the

[2022-08-11 04:06] ktbyers commented on #2897
@David00 What is your VTY timeout for the SSH connection? You need to make sure the VTY timeout is longer than the SCP transfer time.

I think it would be better to avoid the disconnect, than to try and catch the error and reconnect.

[2022-08-11 15:17] onlywifi opened #2899 "Multi-thread "send_config_from_file" timeout on Cisco device"
I'm using Netmiko 4.1.1 with Python 3.9.
My script to send commands from script and save the running config is taking too much time to finish writing memory in one device due to the very long config, and in the meanwhile the script tries to connect to the next devices in the list but it fails (using hostnames not IP),
Using IP address it works like a charm.
Look for the error exception concatenati

[2022-08-11 19:37] #2084 closed

[2022-08-12 15:53] David00 commented on #2897
Thanks @ktbyers, it was the VTY timeout after all.  It was set to default on my switches as these are brand new switches that I'm upgrading and configuring out of the box.  I've increased the VTY timeout to several hours on my base config that the switches pull from from a DHCP option, and the verification works now.

I assumed that the SCP transfer was done over the existing Netmiko connection ,

[2022-08-12 15:53] #2897 closed

[2022-08-15 21:15] tlaberge opened #2902 "Arista echoes command even though it doesn't process it (early in login process)"
We are seeing what seems to be a race condition with ssh logins on arista devices.

Here's the symptom:

[code]
Notice that the `term len 511` string was sent before the prompt was displayed.

Here's an example showing that this can lead to data loss:

[code]
The input is `abcdefghijklmnopqrstuvwxyz\r` entered via a keyboard macro immediately after typing return for the password. In this particula

[2022-08-15 22:15] ktbyers commented on #2902
What does your Arista show when you manually type in `terminal width 511` into the CLI (one of my device's looks like the following):

[code]

Your debug output does not indicate any issues i.e. `terminal width 511` is sent and echoed by the device (Netmiko is expecting looking for `Width set to`

[2022-08-15 22:39] tlaberge commented on #2902
f I log in and type `term width 511`, it responds exactly as above:

[code]

Yeah, this is a definitely a bit subtle. The device echos the string, but the `Width set to 511` is not written, because the `term width 511`` command is not read by the CLI. I.e., the CLI process isn't yet attached to the terminal at the time the `term width 511` is sent (and echoed back).

I modified my keyboard macro t

[2022-08-15 22:46] ktbyers commented on #2902
Okay, I would say this is an Arista bug i.e. it shouldn't echo the command if it is not actually processing it, but we can still try to fix it in Netmiko...

[2022-08-15 22:47] tlaberge commented on #2902
We love our vendors. I will open a case with them, too.

[2022-08-17 00:56] ktbyers commented on #2902
okay, yeah the fix in the Netmiko side will probably be to try to read the prompt using that `self._test_channel_read(pattern=r"[>#]")` or something similar.

[2022-08-18 02:49] naahdis commented on #2815
can you help ?

On Sun, Aug 7, 2022 at 1:40 AM Sid haan ***@***.***> wrote:

[2022-08-18 02:50] naahdis commented on #2815
❯ ssh admin@MASKED
The authenticity of host 'MASKED' can't be established.
ED25519 key fingerprint is SHA256:MASKED
This key is not known by any other names
Are you sure you want to continue connecting (yes/no/[fingerprint])? yes
Warning: Permanently added 'MASKED (ED25519) to the list of known hosts.
admin@MASKEDs password:
NSX CLI (Manager, Policy, Controller 4.0.0.1.0.20159694). Press ? for com

[2022-08-18 06:34] gviabcua opened #2903 "New type of devices with fast connection"
Hello! I write a class and call it 'classicdevices' . It's a fast telnet/ssh connection to device with similars comand and parameters ("enable", "terminal length 0", "write"). Supported and tested devices: OLT BDCOM EPON , OLT ZTE C300/C320, many Foxgates model switches, new TP-Link switches and other. Please add to netmiko and rename it

**__init__.py**

[code]

**classicdevices.py**

[code]

[2022-08-18 17:37] ktbyers commented on #2815
Try setting this environment variable and making it match your `>` character.

https://github.com/ktbyers/netmiko/blob/develop/netmiko/linux/linux_ssh.py#L12

Regards,

Kirk

[2022-08-18 17:46] ktbyers commented on #2903
@gviabcua Feel free to submit a PR on it and have it correspond to the set of devices it supports (following Netmiko conventions):

https://github.com/ktbyers/netmiko/blob/develop/VENDOR.md

You would need to include tests for each of the relevant platforms:

https://github.com/ktbyers/netmiko/blob/develop/TESTING.md

Make sure you only do one platform per pull-request (as otherwise the PR has a t

[2022-08-18 19:35] maximoyanez commented on #1783
hola, una pregunta, encontraste la solucion?

[2022-08-19 06:15] IAseven commented on #2536
I rewrote telnet in the standard library to make Telnet work with socks5 proxy. If necessary, I can contribute my code.

[2022-08-19 06:59] jj-jj-j commented on #2886
hi @ktbyers , Thank you , actually it will accidently make changes on standby unit, I dont want to do that, so I used "send_command_timing", I saw one issue you mentioned it wont expect any pattern, that fixed my issues, thank you so much for the response.

[2022-08-19 14:35] mayuripatil07 opened #2904 "Cisco IOS-XE does not understand rommon mode."
Cisco IOS-XE is not able to connect to the device using console when the device is in rommon mode.

Connected successfully to 'osa03-39x-oob-1' via Console [10.64.76.72]
here
read_channel:
write_channel: b'\r\n'
read_channel:
rommon 15 >
rommon 15 >
read_channel:
read_channel:
write_channel: b'\n'
read_channel:
rommon 15 >
read_channel:
read_channel:
read_channel:
write_channel: b'\n'
read_channel

[2022-08-19 19:43] achhabr1 opened #2905 "Palo Alto with SSH Proxy is not working properly"
SSH Conn object to Palo Alto vFW keeps resetting and throwing errors without any obvious issues. Attaching logs and the the commands i tried

`(python38-venv) ac043s@NJML01AC043S ~ % python
Python 3.8.9 (default, Apr 13 2022, 08:48:07)
[Clang 13.1.6 (clang-1316.0.21.2.5)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "/U

[2022-08-19 19:46] achhabr1 commented on #2905
[output.txt](https://github.com/ktbyers/netmiko/files/9384943/output.txt)

[2022-08-19 19:46] achhabr1 commented on #2905
netmiko 4.1.2

[2022-08-20 16:37] ktbyers commented on #2905
@achhabr1 Does your SSH proxy setup work outside of Netmiko.

Can you post your SSH proxy setup here?

[2022-08-20 16:50] ktbyers commented on #2536
Probably not going to fix this. So I am closing this issue.

[2022-08-20 16:50] #2536 closed

[2022-08-20 16:51] ktbyers commented on #1783
@maximoyanez You probably should create a new issue and specify the problem you are running into and the error message you are seeing.

[2022-08-20 16:58] ktbyers commented on #2881
@abudilovskiy Any update to this regarding testing using Netmiko's `develop` branch?

[2022-08-20 17:04] ktbyers commented on #2857
@omryshay Can you include your Python code and the exception message you are receiving.

You might want to look into napalm and Cisco IOS (I am assuming IOS/IOS-XE here from your posted command above). Rollback and commit confirm capabilities are a part of NAPALM for IOS/IOS-XE.

[2022-08-20 17:06] #2879 closed

[2022-08-20 19:31] anurudhdubey opened #2909 "Netmiko unable to connect via GIT pipeline"
Geeting NetmikoTimeOutException  Error .
Gets this error while running the code via GIT pipeline .
Host.yaml file
---
iosv-1:
    hostname: '10.10.10.2'
    port: 22
    username: 'dubey'
    password: 'dubey'
    platform: 'cisco_ios'

show_version.py file
--------------------

#!/usr/bin/env python
from nornir import InitNornir
from nornir_netmiko import netmiko_send_command
from nornir_utils.pl

[2022-08-20 20:11] ktbyers commented on #2909
[code]

[2022-08-20 20:13] ktbyers commented on #2909
@anurudhdubey Are you sure that your GIT pipeline can connect to `10.10.10.2` for SSH? How have you verified this?

[2022-08-20 20:17] #2886 closed

[2022-08-21 22:47] #2888 closed

[2022-08-22 01:54] edgarpalamarchuk opened #2910 "Netmiko: Cisco ASA send_config_set "Pattern not detected""
Greetings! Please advise.

1. With multiple IP's in _asa.txt_, Netmiko pushes the config to the first device on the list and then throws this _Pattern not detected_ error.
2. With one IP in _asa.txt_, Netmiko pushes the config to the device and then throws the same _Pattern not detected_ error.
3. With multiple IP's in _asa.txt_ and only one config line in _CONFIG.txt_ (i.e., "no object network ED

[2022-08-22 03:28] ktbyers commented on #2910
@edgarpalamarchuk

[code]

Try using `cisco_asa` for the `device_type` and see if that works.

[2022-08-22 12:31] ashweeja opened #2911 "netmiko doesn't detect the closed connection immediately"
Hi,

I am using netmiko to test OneOs device (device_type: oneaccess_oneos) and wanted to simulate a crash. So I have rebooted the device during the execution of command.

I found paramiko raises EOF exception almost immediately after rebooting the device but netmiko could not identify this and continues to execute next command. While sending next command, netmiko identifies channel is closed and

[2022-08-22 13:12] achhabr1 commented on #2905
(python38-venv) ac043s@NJML01AC043S .ssh % cat ssh_config_netmiko
host jumphost
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_rsa
  User ac043s
  HostName 135.25.157.179

host * !jumphost
  User ac043s
  # Force usage of this SSH config file
  ProxyCommand ssh -F ~/.ssh/ssh_config_netmiko -W %h:%p jumphost
  # Alternate solution using netcat
  #ProxyCommand ssh -F ./ssh_config_netmiko jumphost nc

[2022-08-22 13:13] achhabr1 commented on #2905
i feel issue is with command timeout settings. I tired to adjust it as per the recommendations but nothing seemed to worked consistently

[2022-08-22 14:46] ktbyers commented on #2911
@ashweeja Can you show the code that you were using for this test? Also which version of Netmiko are you using?

[2022-08-23 06:24] ashweeja commented on #2911
@ktbyers netmiko version is 4.0.0a4

Reproducing the issue bit involves manual effort as of now. Steps are to execute a fairly long command and reboot the device in background.

Here is what I'm doing now,
`
net_connect1 = ConnectHandler(**DEVICE1)
net_connect1.send_command("term len 0")
net_connect1.send_command("show run", read_timeout=20) # While this command is still executing, I'm rebooting t

[2022-08-23 21:27] ktbyers commented on #2911
Okay, so it looks like the issue is here (at least on the read_channel() case:

[code]

This is in the read_buffer() code of the channel.py file.

So the check probably should be:

[code]

Then on line 87 add:

[code]

Note, there could be buffered data (even if the connection/device is dead). In other words, it could be buffered on our side of the TCP stack. I just tested/verified this.

So we wo

[2022-08-24 00:38] laxusdreyar123 opened #2916 "Brocade FOS not detecting in SSH Auto detect"
So I am trying to back up Brocade switches ( 6620 ) and I usually do backups with netmiko on Ethernet and thought would try it here. I have a simple logic where it detects the vendor type and then applies the appropriate command. However I get " None " when SSHDetect tries to detect the brocade switch vendor when it hits the IP.

So I am pasting the vendor detection bit here. I changed the IP, var

[2022-08-24 06:54] ashweeja commented on #2911
@ktbyers Thanks, I have updated the channel.py as suggested by you and verified netmiko detects the connection close immediately after paramiko reports it.

[2022-08-24 16:35] laxusdreyar123 commented on #2916
I had to urgently get this done so I did a workaround where I equated "None" with Brocade FOS and did the backup.

However, I would really appreciate it if there's a fix or if I am doing something wrong.

[2022-08-26 13:36] TimGa commented on #2711
@ktbyers, you are great, thank you for netmiko!
I faced the same issue when try telnet. Below is manual telnet session you asked for:
[code]
Python code:
[code]
Exception:
[code]
Configuration:
[code]

[2022-08-26 15:01] ktbyers commented on #2711
@TimGa Is it possible that you can look in the debugger and see what happened right before this:

https://github.com/ktbyers/netmiko/blob/develop/netmiko/huawei/huawei.py#L155

i.e. add a Pdb debug breakpoint right before this and see what is in the `return_msg` variable?

The failure above says it failed on the looking for `>` which should be in the output after the password is sent.

[2022-08-26 22:59] rmbartis opened #2919 "Bouncing through intermediate system and having login issues to secondary hosts"
I have session logging turned on and successfully long into a remote host, Linux-like. I then telnet into various remote hosts, one at a time. Some of the remote hosts do not seem to response to commands sent. For example the log from one of the hosts present a login prompt. The session log contains the correct response but the system does not appear to see it. Any thoughts on how to debug/resolve

[2022-08-27 02:34] TimGa commented on #2711
Here is `return_msg` content:
[code]
It turned out that password in my python script was incorrect - I mixed up IPs and passwords of different devices while investigation. As far as I understood, ReadTimeout raises while waiting for pattern after incorrect password. And it looks like that in my case the reason for timeout is that device has big delay between asking for password re-entry.
Here is m

[2022-08-28 00:57] ktbyers commented on #2711
I am going to leave this open and flag at it as an issue where improvement should be made.

1. Better error message.
2. Potentially more reliable loop behavior.

[2022-08-29 05:02] alluri1991 opened #2920 "Netmiko Not able to Handle the customize prompts and customize commands."
I have device where i need to login and execute a simple command.
Using netmiko 4.1.1
Here are the details.
  device_type: autodetect
  ip: *******
  username: *******
  password: ******
  port: 22
By using ConnectHandler() i am trying to connecting to the device .Below is the prompt for the device.
Prompt: Inside the triple quotes(Its the prompt i am seeing from the device with banner)
"""
USS

[2022-08-29 09:28] Toxic-Waste- commented on #2711
Hi all,

I seem to be running into this issue as well since the new version:

[code]

Environment: Ubuntu 22.04.1
Python 3.10.4
netmiko            4.1.2

How can I help to investigate this? (not the best coder in the world but I will try to do my best)

[2022-08-29 17:32] ktbyers commented on #2920
@alluri1991 Which `platform` are you connecting to (i.e. vendor and model)?

[2022-08-30 01:17] TimGa commented on #2711
The reason for **Huawei telnet** trouble `netmiko.exceptions.ReadException: Unable to successfully split output based on pattern` is that pattern `(]\s*$|>\s*$|(Change now|Please choose 'YES' or 'NO').+)` contains nested group (nested parentheses). To fix this issue, changes of source code needed.
#### Details:
1. In this string: https://github.com/ktbyers/netmiko/blob/develop/netmiko/huawei/huawe

[2022-08-30 01:29] ktbyers commented on #2711
@TimGa Yeah, if you want to do a PR that is fine. We can also do a non-capture group like we did when we fixed the SSH Huawei driver here:

https://github.com/ktbyers/netmiko/pull/2737

Might be less side-effects in doing the non-capture group (since that would change the regex pattern less)...but would need to look at it and test it some more.

[2022-08-30 15:15] nikunj436 opened #2921 "Cisco IOS/IOS-XE prompts while removing usernames"
[code]

---------------------------------------------------

here is the thing;-
2 things happening above code( it's chuck of code i used in differnet file)

1. When I put above block in try and except send_config_set([change)] till it work and also user deleted from devices. But after that some error occured and it got out and except blog is excuting everytime.
2.  So i went and cut that block an

[2022-08-30 17:07] nikunj436 commented on #2921
I tried ssh.net_timinng() but it was only for the non-config command.

when add additional line \n or another command then user is removed from the config but still getting error for the promot confirm.
promte with config commnad not able to get work. .strangely  able to remove username but why it's stuck.

how can i handle promote for config set?
f```
rom netmiko import ConnectHandler
from cred i

[2022-08-30 17:13] ktbyers commented on #2921
Try:

[code]

I would argue this is a Cisco misdesign i.e. they shouldn't do what they did here (or at least should let you disable it so you are never prompted).

[2022-08-30 17:16] ktbyers commented on #2921
Probably a slightly better solution (or at least simpler):

[code]

[2022-08-30 17:31] nikunj436 commented on #2921
Thanks for response, first method works but still doubt why my 1st comment or 2nd post in thread "\n" didn't work.

simpler one give below error:
simpler one session log

R1#terminal width 511
R1#terminal length 0
R1#
R1#
R1#configure terminal
Enter configuration commands, one per line.  End with CNTL/Z.
R1(config)#
R1(config)#n
% Incomplete command.

R1(config)#o
% Ambiguous command:  "o"
R1(conf

[2022-08-30 20:21] ktbyers commented on #2855
Fix is this (unfortunately you have to patch Paramiko)

https://github.com/JulianEberius/paramiko/commit/bb1f795db46891961b6a816df3c59e132de7f211

[2022-08-31 07:41] ccsnw opened #2923 "InLineTransfer: EOL backslash "\" + "\n" + whitespace " " replaced by single whitespace in TCL"
Hi Kirk et al,

transferring a config which contains an EOL backslash (e.g. in a tacacs key) via InLineTransfer (using TCLsh) will lead to unexpected results caused by:

"A backslash at the very end of a line will cause that backslash, the newline character, and any white space at the start of the next line to be replaced by a single space.”

Example:

[code]
leads to the following line of config:

[2022-09-01 05:58] py-noob-01 opened #2924 "extreme mlx/netiron not going into enable mode"
Hello, I'm a novice developer.

Please understand that it is not smooth because I am not good at English.

While implementing netmiko, I confirmed that net_connect.enable() became normal for all other equipment.

In the meantime, only the extream mlx device does not enter enable even though there is an enable command.

Currently, show running-config is not running because it is not enabled.

I've

[2022-09-01 07:17] alluri1991 commented on #2920
@ktbyers  Please fine the info. Kindly let me know if any other info is required
vendor  - Nokia
Model  - DX-200
DMX is the native OS of DX-200

Thanks in advance

[2022-09-01 16:54] ktbyers commented on #2924
I would look at the Netmiko session_log to see what is going on:

[code]

This will create a file named output.txt. I would see what that shows.

[2022-09-01 16:58] ktbyers commented on #2921
I don't really understand your post above (as that is a different behavior than your first comment on this thread...and from that I am inferring different code).

Your first comment solution doesn't work as embedding a newline into a command breaks Netmiko's cmd_verify and consequently you would have to disable cmd_verify to do that (but it is also a bit of an anti-pattern in Netmiko so I would re

[2022-09-01 16:58] #2921 closed

[2022-09-01 17:01] ktbyers commented on #2919
Try terminating your username with `\r` for the <enter>...some platforms are picky.

[code]

That is only for this specific issue.

You will need to write a telnet login handler or re-use Netmiko's telnet_login()

There could be other issues and you probably need to look into Netmiko's `redispatch` as what you are doing is a bit tricky.

[2022-09-01 17:01] #2910 closed

[2022-09-01 17:06] ktbyers commented on #2916
There is currently no support for Brocade/Extreme in Netmiko's autodetect (though there is a broken open PR on it). Someone would need to add this into Netmiko's autodetect support.

[2022-09-01 17:06] #2916 closed

[2022-09-01 17:09] #2909 closed

[2022-09-01 17:13] ktbyers commented on #2905
It looks like the end device is responding slowly. I would try adding a global_delay_factor and set it either to 2, 4, or 8. This is an argument to ConnectHandler.

[2022-09-01 17:13] #2903 closed

[2022-09-01 17:14] #2899 closed

[2022-09-01 17:15] ktbyers commented on #2881
I am going to close this as there is no update to it...if you are still working on it, feel free to re-open it.

Regards, Kirk

[2022-09-01 17:15] #2881 closed

[2022-09-01 19:06] edgarpalamarchuk commented on #2910
@ktbyers
Kirk, thanks so much for the pointer! Works great now. Sorry I couldn’t update you earlier.