[2016-07-25 18:14] ktbyers commented on #78
This issue is obsolete. Will create new issue (if problems still exist with send_command_expect).

[2016-07-25 18:14] #78 closed

[2016-07-28 20:30] samulord opened #243 "Cisco SG300 series breaking on SSH connection"
Hello @ktbyers

Thanks for the amazing open source project that NetMiko is. 👍

I would like to get some help on the following issue:

I have a very simple script trying to copy the config of a Cisco SG300 device. My code (I have verbose enabled on Netmiko):

[code]

And here's the verbose + error I am getting:

[code]
I'm running the latest version of Netmiko and Paramiko. It is working perfect wi

[2016-07-28 23:31] lundybernard commented on #242
Thanks @ktbyers
that example will work perfectly.

The only thing that's not making a lot of sense to me, is the setting the host record to <ip>:<port>, since the record already contains the IP under 'HostName', and the 'Port'.

as in your example:
[code]
It feels redundant, and I have always seen ssh config files set the host record to the FQDN, or a convenient alias.  I would expect this config

[2016-07-29 16:19] TimothyBramlett opened #244 "What platform should be used for asking questions, etc. about Netmiko"
I didn't see it in the documentation, specifically `README.md`, so I thought I would ask what forum should be used for asking questions and discussing Netmiko?

[2016-07-29 17:29] ktbyers commented on #244
@TimothyBramlett Not sure I understood your question?

From the readme, here are the supported platforms (and their status):

Supports:

Regularly tested

Arista vEOS
Cisco ASA
Cisco IOS
Cisco IOS-XE
Cisco IOS-XR
HP Comware7
HP ProCurve
Juniper Junos

Limited testing

Avaya ERS
Avaya VSP
Brocade VDX
Brocade ICX/FastIron
Brocade MLX/NetIron
Cisco NX-OS
Cisco WLC
Dell-Force10 DNOS9
Huawei
Linux
Palo

[2016-07-29 17:30] ktbyers commented on #244
There is a Netmiko channel inside of there.

[2016-07-29 17:35] TimothyBramlett commented on #244
Got!  That is what I was asking.  Let me know if you would like to me to add that info to the README.  I am trying to find more opensource projects to contribute to.

[2016-07-29 18:04] ktbyers commented on #242
Network engineers frequently use IP address (probably majority of the time).

A lot of the time (most of the time) is there no corresponding DNS name nor DNS alias. You could make a strong argument it would be better to use names, but we usually don't do this.

So how do we differentiate between these two entries?

host 10.10.10.27:9822           # Juniper SRX
  user pyclass
  hostname 10.10.10.27

[2016-07-29 18:10] ktbyers commented on #242
Here is a link to testing:

https://github.com/ktbyers/netmiko/blob/master/TESTING.md

This is pretty close to the normal tests I run (it is actually a slightly expanded version of this):

https://github.com/ktbyers/netmiko/blob/master/tests/test_suite.sh

I need to add both a Linux server driver into this and an SSH proxy specific test into this. I have a quick linux test script which I sometimes

[2016-07-29 18:13] ktbyers commented on #243
@samulord Yes, SG300 devices are not officially supported.

Can you post what happens during a manual SSH session with your device (stripped of any confidential information i.e. username/password)? In other words, what does the session look like when you manually SSH into it.

[2016-07-29 18:15] ktbyers opened #245 "Netmiko 1.0 Release"
I have made a new branch on github called dev_1_0 and I would like to implement some of the following:

1. implement telnet driver and potentially serial driver by abstracting the underlying protocol from the higher level methods that interface with the protocol.
2. Make send_command_expect be send_command (and rename current send_command to send_command_timing) and work out issues associated with

[2016-07-29 18:15] ktbyers commented on #245
If anyone wants to help on this, let me know.

[2016-07-29 20:45] samulord commented on #243
Hello @ktbyers

Thanks for the quick answer, please see below how the SSH session looks:

`~ ❯❯❯ ssh USERNAME@MYIP -p 2210
The authenticity of host '[MYIP]:2210 ([MYIP]:2210)' can't be established.
RSA key fingerprint is SHA256:5a3hDoagJL7+hWnsxvXwBQgzuOiqx54S6TKQVrI3lFU.
Are you sure you want to continue connecting (yes/no)? yes
Warning: Permanently added '[MYIP]:2210' (RSA) to the list of known

[2016-07-29 21:41] LindsayHill commented on #245
Sounds good. Happy to help with running tests against as many Brocade devices as I can get my hands on. Interested in item 3 in particular.

[2016-07-29 22:36] ktbyers commented on #245
@LindsayHill I think it would be good for item3 to figure out a way to introduce latency (somehow) into the automated testing (too hopefully make Netmiko less fragile to high-latency/slow response situations).

[2016-07-30 08:25] samulord commented on #245
Happy to help @ktbyers , specifically on item number #4, I can get a hand on some SMB/Cellular devices if the idea is to grow the list of supported devices.

Anyways, let me know how I can help further.

[2016-07-30 15:07] ktbyers commented on #245
@samulord Always open to more drivers, but I need other people to contribute them. You can see this doc for how to contribute new vendor support.

https://github.com/ktbyers/netmiko/blob/master/VENDOR.md

[2016-07-31 15:55] #244 closed

[2016-07-31 15:55] ktbyers commented on #159
This is being worked on here:  https://github.com/ktbyers/netmiko/issues/245

[2016-07-31 16:05] #186 closed

[2016-07-31 16:06] #183 closed

[2016-07-31 16:07] #182 closed

[2016-07-31 16:08] #158 closed

[2016-07-31 16:09] #153 closed

[2016-07-31 16:11] #145 closed

[2016-07-31 16:11] #144 closed

[2016-07-31 16:18] ktbyers commented on #243
@samulord How do you disable paging on the SG300? For example, on cisco IOS you do 'terminal length 0'.

From the above stack trace, it looks like it is failing when it tries to disable paging.

[2016-07-31 16:38] samulord commented on #243
Hello @ktbyers

Thanks for your reply.

It looks that on SG300 you can run these commands:

[code]

I applied `terminal history` and I was able to get the whole config without the need of pressing space.

I tried to run my script again after using this command, but this is something that you probably need to do in every single session. So I'm assuming NetMiko needs to set this when it logs in?

Th

[2016-08-01 15:37] TimothyBramlett commented on #182
@ktbyers I think these could be helpful.  Especially the loading from a file.  I may try to help out with creating these.  Do you have any code written for them yet?

[2016-08-01 19:11] ktbyers commented on #182
I don't have anything written for this. There are somewhat similar methods (that already exist) for sending_config_set and send_config_from_file (i.e. sending config commands, but not show commands).

[2016-08-01 21:00] bkeifer opened #248 "NetMikoTimeoutException when saving config on Comware 5 switch"
I'm trying to save the config on an HP A5500-24G-SFP EI (Comware 5).  It takes between 40-45 seconds for the command 'save safely force' to execute.  I get the following from netmiko:

`Traceback (most recent call last):
  File "./net.py", line 67, in <module>
    output = net_connect.send_config_set(commands)
  File "/home/btk0/.virtualenvs/miko/local/lib/python2.7/site-packages/netmiko/base_conn

[2016-08-02 04:40] ktbyers commented on #248
@bkeifer It looks like you are executing the send_config_set() command? Does this need to be a 'config' command on Comware5 or could you execute it using the send_command_expect() method?

send_config_set() has a delay_factor and a max_loops argument (which default to .1 and 150 respectively). You might try increasing these in your call to send_command_set.

[2016-08-02 18:13] bkeifer commented on #248
It doesn't need to be a config command, and switching to send_command_expect with increased delay_factor and max_loops did the trick.  Thank you!

[2016-08-02 18:13] #248 closed

[2016-08-02 23:35] ktbyers opened #249 "send_command_expect() is not wired in for global_delay_factor()"
This causes NAPALM to not be able to adjust this timing.

Original problem report from @jedelman8
[code]

[2016-08-06 00:19] vinitashah commented on #128
@pixelrebel the same does not work for s55. It is weird it is the same OS and still does not work.

I guess I could use pexpect, but I do not want to use it.

Thanks!!

[2016-08-07 15:07] ktbyers commented on #128
@pythongirl Does pexpect work here? It would be interesting to know if pexpect also works (or whether it fails).

[2016-08-07 15:11] ktbyers opened #250 "Add scp get operation"
Add SCP operation that allow you to get file from network device and save it to the system file system.

[2016-08-07 21:37] ktbyers opened #252 "passing timeout argument is failing in Netmiko"
Causing an init exception to be generated.

[2016-08-11 09:37] pmakovec opened #253 "Unable to connect to Nexus 5020 device"
I'm experiencing problem with netmiko connection to the Nexus 5020 switch while Nexus 5596 is working well.
Tested with Netmiko
Version: 0.4.3
Version: 0.5.6
Same result.

Code:
import netmiko
from netmiko import ConnectHandler

username = "user"
password = "pass"

print("Nexus 5596")
print(ConnectHandler(
        device_type='cisco_nxos',
        ip="prgdca-b1-sa-sw61",
        username=username,

[2016-08-11 10:18] pmakovec commented on #253
Tested with netmiko 0.3.4 from Windows - working.
Looks only newer versions are affected.

[2016-08-12 20:44] ktbyers commented on #253
@pmakovec As a test, it would be interesting to do the following:

You will need to clone the master branch of netmiko, then cd ./netmiko/netmiko
edit base_connection.py

In this file, edit the following:

[code]

You will make sure your code is using the new version of Netmiko 'python setup.py install' (or you can put a print("hello world") statement after the clear buffer so you know you are usi

[2016-08-12 20:45] ktbyers commented on #252
This is fixed in dev_1_0 branch

[2016-08-12 20:45] #252 closed

[2016-08-12 20:45] ktbyers commented on #243
Will try to get to this in dev_1_0 release (i.e. add support for SG300)

[2016-08-15 07:08] pmakovec commented on #253
@ktbyers
Tested, it's working with the sleep(2). Looks like that Cisco 5020 is little bit slower then 5596.
But then I tried to send a command "show version" to both switches via
`net_connect.send_command("show version")`

This was working just for the Nexus 5020 platform. Nexus 5596 didn't respond.
I tried to send a command with expect method:
`net_connect.send_command_expect("show version")`
Wor

[2016-08-16 14:50] BobbyGR commented on #253
I was having the same issue.
        time.sleep(2)     # add this line
        self.clear_buffer()    # add this line

Placing this in fixed it for 5k's

[2016-08-16 20:24] ktbyers commented on #253
@pmakovec

send_command() is a timing based it tries to figure out the proper amount of time to way for the command to complete and return the output.

send_command_expect() is a pattern based method. It sends a command down the channel and looks for a pattern in the output to determine it is done. By default, the pattern output is based on the trailing router prompt.

Note, across time I have enc

[2016-08-16 20:26] ktbyers commented on #253
FYI, I incorporated a fix for this here https://github.com/ktbyers/netmiko/commit/fa1c240ef627933fb5c1e7d248a471283fa126ef

If you git pull the master branch, you should be able to test/verify this works.

[2016-08-16 20:26] #253 closed

[2016-08-17 21:11] ktbyers opened #254 "Line wrapping behavior on ASA"
See if you can fix this line-wrapping behavior for output on ASAs and Cisco IOS.

twb-dc-fw1(config)# object-group network PYCLASS
twb-dc-fw1(config-network-object-group)# no network-object object pylab-ons.tw$
twb-dc-fw1(config-network-object-group)# no object network pylab-ons.twb-tech.$
twb-dc-fw1(config)# end
twb-dc-fw1#

[2016-08-20 00:07] a-v-popov commented on #228
Could it be a logger output? What would be the output if you add the following before your code:
[code]

[2016-08-23 19:16] bewing opened #255 "SFTP support for IOS-XR"
Would it be possible to expose the SFTP subsystem in the CiscoXrSSH object?  I can't seem to get SCP to work via netmiko or paramiko, but am able to transfer files directly to a router using paramiko's SFTP subsystem -- would be good to have it available in netmiko as well, instead of opening separate SSH connections for file transfers.

[2016-08-23 20:33] ktbyers commented on #255
@bewing Can you post some reference code for this or submit a PR on it.

[2016-08-23 20:36] ktbyers opened #256 "scp transfer issue--disconnects and possible slow transfer speeds"
It has been reported that netmiko is slow to tranfer and possible causes disconnects.

cisco IOS
model 2900

100MB file size

[2016-08-23 20:36] ktbyers commented on #256
See if you can reproduce this behavior.

[2016-08-23 21:11] bewing commented on #255
So I dug into both sets of sources a little bit more.

It looks like in Netmiko, the SCP "channel" is really just a new paramiko object/SSH connection that we copy a bunch of connection settings from the netmiko object.

In paramiko, you can open the SFTP subsystem on a new or existing connection via the transport object, which I don't think currently has a clear analog in the netmiko code.

Best

[2016-08-23 23:18] ktbyers commented on #255
Okay, sounds good.

[2016-08-24 13:33] ghmj2417 opened #257 "Timing out on authentication if primary auth is unavailable"
In certain circumstances a user may use TACACS, RADIUS, etc as their primary authentication service (with local being their backup).  In normal operation this should work fine.  In the event TACACS or RADIUS is unavailable there will be a delay in authentication.  Even though we can set a timeout for SSH being established, we cannot set a timeout for authentication success.  I have tested this a f

[2016-08-24 15:40] ghmj2417 commented on #212
@ktbyers

I encountered this same error when doing what you just asked.  I am using Netmiko for auto deployment of my Cisco routers and I change the hostname of the router.  I am assuming the hostname is part of finding your prompt?  Workaround is to create a new SSH session.  I'm guessing you would label this as an enhancement and not really a bug?

[2016-08-24 15:45] samulord commented on #243
Thanks @ktbyers

Appreciate the help!

[2016-08-24 16:23] ktbyers commented on #212
@ghmj2417 Can you provide a little more context on what you are doing?

You are using send_config_set() and trying to change the hostname?

[2016-08-24 16:27] ktbyers commented on #257
Good idea. Let's add this to the dev_1_0 issues and see if it can be fixed there.

[2016-08-24 18:18] ghmj2417 commented on #212
@ktbyers Of course, First, I am creating a ssh_conn and using scp_handler to transfer a deployment config to a router.  This configuration has a bunch of config on it that includes modifying the hostname of the router.  I transfer the config to the router, and then issue a send_config_set([copy xxx running-config]) to merge the deployment config with the running-config.  At that point, a new hostn

[2016-08-24 18:34] ktbyers commented on #212
@ghmj2417 FYI, napalm-ios driver which is based on Netmiko handles the above. Here is what I did there:

[code]

[2016-08-24 19:00] ghmj2417 commented on #212
@ktbyers Nice, that's awesome! Well done!

I would probably need to issue a PR on napalm-ios. We would need to add a key_file option into napalm-ios so I can use a private key for authentication (yup, I am that guy).  Possibly specify it in optional_args, do a get in __init__, and then in open(self) pass it to ConnectHandler.  That's probably not the most glamorous implementation for key_file but

[2016-08-24 19:43] ktbyers commented on #212
@ghmj2417 Okay, added an issue in napalm-ios to add support for keys. It should be there. I probably try to do it on the napalm hackathon in September.

[2016-08-24 23:36] bedecarroll commented on #250
Hi @ktbyers

Just looking to add this functionality in. Would you prefer `scp_transfer_file` to be extended with a direction parameter? Perhaps with a default of `put` so existing clients maintain functionality?

Or I can have a whole new function to leave `scp_transfer_file` alone, would `scp_fetch_file` be an ok name?

Thank you!

[2016-08-25 00:29] ktbyers commented on #250
@bedecarroll I think it would be better to have a separate method for this i.e. scp_fetch_file()

[2016-08-25 00:55] bedecarroll commented on #250
That seems fair enough. Do you think the `FileTransfer` class should be duplicated? Nearly all of it seems applicable in both scenarios. My plan is to add the following to :

* add a new attribute with a default of existing functionality: `direction='put'`
* modify the `__init__` so the checks work for both directions
* add new `fetch_file` function

The `verify_space_available` and `check_file_ex

[2016-08-25 16:24] ktbyers commented on #257
@ghmj2417 Where exactly do you think a delay needs introduced to fix your above problem?

[2016-08-25 16:51] ktbyers opened #258 "palo alto default delay_factor for send_command method not set to 1"
Don't like this as it deviates from intended meaning of delay factor, but alternative is to rewrite a local send_command function which also is undesireable.

[2016-08-25 17:15] ktbyers commented on #250
@bedecarroll My initial thoughts would be to try to reuse FileTransfer class and just add direction argument as you mention (with the default operation being a 'put').

I say we do a proof-of-concept of it and see how it looks and whether the integration of the get and the put all makes sense. Assuming it does we can then incorporate the change.

[2016-08-25 22:25] bbkane opened #259 "Guess device type"
Thank you for netmiko. I really like it.

One thing that would be very useful is a 'guess_device_type' argument for the [ssh_dispatcher](https://github.com/ktbyers/netmiko/blob/master/netmiko/ssh_dispatcher.py#L91) function. If this is passed, it would try to guess the device type (perhaps by sending 'show version' and parsing the output) then return the appropriate Connection class. Then I could

[2016-08-26 02:03] #258 closed

[2016-08-26 02:04] ktbyers commented on #249
Fixed in Netmiko 1.0.

[2016-08-26 02:04] #249 closed

[2016-08-26 02:06] ktbyers commented on #212
I don't think there are any other actions to take on this issue...so closing it.

[2016-08-26 02:06] #212 closed

[2016-08-26 02:08] ktbyers commented on #201
This fix is in the dev_1_0 branch.

[2016-08-26 02:08] #201 closed

[2016-08-26 02:09] ktbyers commented on #195
Need additional information on why this failed.

[2016-08-26 02:09] #195 closed

[2016-08-26 05:02] ktbyers commented on #243
@samulord Initial work on driver for SG300 is here:

https://github.com/ktbyers/netmiko/commit/c28db41981c3e5b6b2cceec034041d307ad4e573

[2016-08-26 12:32] ghmj2417 commented on #257
@ktbyers Hmm.  I know the issue occurs in establish_connection at (if self.wait_for_recv_ready_newline():) so it's in that function.  I doubt modifying max_loops would do anything because your max wait time appears to be 8 seconds (I don't think it ever hits this amount with the max_loops being only 20).  Maybe we should focus on delay_factor.  This is where I thought global_delay_factor could be

[2016-08-26 16:16] samulord commented on #243
Thanks @ktbyers

I will do some testings! Appreciate the help.

[2016-08-26 18:27] ktbyers commented on #243
Okay, this driver is passing all of the unit tests. Note, you probably need the following configured:

ip ssh password-auth

Kirk

[2016-08-26 18:27] #243 closed

[2016-08-26 18:32] ktbyers commented on #257
@ghmj2417 Okay, that code is pretty much all changed in the new dev_1_0 branch (the entire wait_for_recv_ready_newline() method doesn't exist).

https://github.com/ktbyers/netmiko/blob/dev_1_0/netmiko/base_connection.py

So the question is...where should extra sleep be added for devices that take excessively long times to log in. Probably in the session_preparation() method.

[2016-08-26 19:39] ktbyers opened #260 "Alcatel SROS Issues"
1.       commands are auto extended

a.       for example “show port desc | match 1/2/1”

b.  extends to “show port description | match 1/2/1”

c.       issue with “strip_command(command_string, output)”
1.       prompt can add/remove leading *

a.       indicates unsaved changes

b.      if present “admin save” will remove it

c.       if not present config change will add it

d.      ex:

A:2xxx

[2016-08-28 02:04] sockduct opened #261 "telnet to Cisco IOS router fails with netmiko.ssh_exception.NetMikoAuthenticationException"
I have a Cisco 1811W router running 15.1(4)M8 setup for both telnet and ssh.  When I connect with telnet, it fails:
dev = dict(device_type='cisco_ios_telnet', ip='192.168.1.1', username='testuser', password='testpass', secret='testpass', port=23, verbose=True)

dev_conn = netmiko.ConnectHandler(**dev)

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "netmiko\ssh_dis

[2016-08-28 15:45] ktbyers commented on #261
@sockduct So looking at this telnet_login() code:

[code]

It looks like it never finds '>' or '#'.

It would be interesting to see what happens if you set the debug flag to true in this telnet_login() function. It could just be a timing issue. I only have a sleep of .5 seconds there (after sending the password).

[2016-08-29 05:09] bedecarroll commented on #250
@ktbyers I've attempted to add the fetch functions in #262. It is working as intended in my testing. Hope it isn't to bad.

[2016-08-29 21:45] ghmj2417 commented on #257
*face palm* sorry I didn't even stop to think this is for 1.0.  I'll take a look soon.

[2016-08-29 22:51] ktbyers commented on #257
@ghmj2417 It is all good. I have just changed a lot that pertains to this so we need to make sure we put the sleep at the proper location (in the new code).

[2016-08-30 00:55] ktbyers opened #263 "Cisco WLC config mode and related methods"
Need to either implement or cause to be noop (or explicit exception).

[2016-08-30 01:05] ktbyers commented on #250
@bedecarroll Let me review it.

[2016-08-30 18:59] ktbyers commented on #263
Report from user:

[code]

[code]

[code]

[2016-09-02 21:49] ktbyers commented on #259
@bbkane Sorry for slow response...forgot to respond to this earlier.

Yes, I don't think I want to try to support this. Basically the issue is that without knowing the device type, you basically run into problems before a 'show version' (or equivalent) can even be run.

Kirk

[2016-09-02 22:57] ktbyers commented on #256
Okay, I am seeing an issue where send_command_expect() fails on the MD5 verification on the router as that command is taking too long to complete.

Need to figure out how to pass in the global_delay_factor argument.

[2016-09-03 00:14] bbkane commented on #259
Maybe netmiko could use some kind of exception to handle that:

[code]

This would let folks like me, ignorant of many device types in my internal network, get some information to deal with them effectively and it wouldn't limit the people who do know their networks better. They get the same API they've always had. I haven't looked super carefully, but I don't really think it would bloat the code

[2016-09-03 00:14] #259 closed

[2016-09-03 17:42] ktbyers commented on #146
Linux testing has testing for SSH keys.

[2016-09-03 17:43] ktbyers commented on #196
Testing code done.

[2016-09-03 18:51] ktbyers commented on #256
Will SCP operations both get and put work on windows?

[2016-09-03 19:04] ktbyers commented on #256
scp_conn for the SCP operation itself blindly trusts the SSH host key.

[2016-09-03 19:07] ktbyers commented on #256
need to add unit tests for SCP operation with SSH host keys.

[2016-09-04 14:43] ktbyers commented on #256
Get operation wouldn't overwrite existing file.

[2016-09-04 16:37] ghmj2417 commented on #257
I believe this part would need to be modified.  You need to give more time to make sure authentication succeeds.  It can take awhile (sometimes 30 seconds) if TACAS, RADIUS, etc aren't available.

###  In establish_connection()
        i = 0
        delay_factor = self.select_delay_factor(delay_factor=0)
        main_delay = delay_factor * .1
        time.sleep(main_delay)
        while i <= 20:

[2016-09-04 16:46] ghmj2417 commented on #257
What is weird is I would expect the exception to be raised here....but it never was.  Which means somewhere netmiko thought I was authenticated or I actually was authenticated.  It wasn't till after this section on the wait_for_recv_ready_newline() function where I received an exception.

### initiate SSH connection
            try:
                self.remote_conn_pre.connect(**ssh_connect_params

[2016-09-04 19:13] ktbyers commented on #257
@ghmj2417 Yes, your later comment means that SSH thinks it is authenticated (the underlying Paramiko driver). I would guess this is a function of how the underlying RADIUS/TACACS+ works so probably not something we can change.

[2016-09-04 21:59] #250 closed

[2016-09-04 22:01] ktbyers commented on #205
Not enough information to say there is an issue.

[2016-09-04 22:01] #205 closed

[2016-09-05 16:41] ktbyers commented on #259
@bbkane A failed device_type would cause the following exception to be generated:

        raise ValueError('Unsupported device_type: '
                         'currently supported platforms are: {0}'.format(platforms_str))

It does this prior to connect, however.

You could write separate code that tries to automatically determine the device type. For example, you could just use 'cisco_ios' as t

[2016-09-05 23:53] ktbyers opened #265 "SCP issues"
All issues besides these should be fixed:
Will SCP operations both get and put work on windows?
scp_conn for the SCP operation itself blindly trusts the SSH host key.
need to add unit tests for SCP operation with SSH host keys.
Get operation wouldn't overwrite existing file.

[2016-09-05 23:53] #256 closed

[2016-09-06 17:08] ktbyers commented on #261
@sockduct Are you still seeing this issue on the current dev_1_0 code?

[2016-09-06 17:11] ktbyers commented on #228
I don't think there is any action to take here on Netmiko...so I am going to close this.

[2016-09-06 17:11] #228 closed

[2016-09-06 17:11] #217 closed

[2016-09-07 14:03] ktbyers commented on #263
Added to dev_1_0

[2016-09-07 14:03] #263 closed

[2016-09-07 14:23] #257 closed

[2016-09-07 15:38] ktbyers commented on #254
On cisco IOS:

pynet-rtr1#terminal width ?
  <0-512>  Number of characters on a screen line

[2016-09-07 17:13] #179 closed

[2016-09-07 17:20] ktbyers commented on #254
Arista

pynet-sw1#terminal width ?
  <10-32767>  Number of columns on screen

[2016-09-07 17:23] ktbyers commented on #254
Juniper:

pyclass@pynet-jnpr-srx1> set cli screen-width ?
Possible completions:
  <width>              Number of characters (0..1024)
pyclass@pynet-jnpr-srx1> set cli screen-width

No commit

[2016-09-07 17:26] ktbyers commented on #254
HP ProCurve

twb-sf-hpsw1# terminal width
 <61-1920>             Enter a number for the 'width' command/parameter.

[2016-09-08 17:38] ktbyers opened #267 "Should standardize from __future__ imports on all Netmiko .py modules"
Should standardize from **future** imports on all Netmiko .py modules

[2016-09-08 17:50] ktbyers commented on #254
Implemented on:

cisco_ios / xe
ios-xr
nexus
asa
s300
arista
hp procurve
juniper

[2016-09-08 17:51] ktbyers commented on #254
Need to see if you can implement unit tests.

[2016-09-09 17:04] ktbyers opened #268 "Unit testing improvements"
Test line wrapping behavior / terminal width

[2016-09-09 17:04] #254 closed

[2016-09-09 17:13] ktbyers commented on #159
Okay, telnet driver has been added for Cisco IOS into Netmiko dev_1_0 branch. Feel free to test it. If you want support for other platforms, you will need to commit to testing it (and I can possibly/probably implement it as long as there is a current Netmiko SSH driver).

[2016-09-09 17:13] #159 closed

[2016-09-09 17:15] ktbyers commented on #81
Tests on Linux for this have been implemented. Still need to add tests at least for Cisco IOS.

[2016-09-09 17:21] ktbyers commented on #245
I have done the following on Netmiko_1_0:

1. Implemented telnet driver for Cisco IOS. Including abstracting the Netmiko general read/write methods to support both telnet and SSH.
2. Standardized delay_factor such that it almost always defaults to 1.0 so it is a true multiplier. Made sure that all sleeps depend on global_delay_factor (generally the greater of delay_factor or global_delay_factor if

[2016-09-09 18:16] mww012 opened #269 "Delay needed in check_enable_mode() for Aruba Wireless"
I've been working on adding support for Aruba controllers.  I had an issue getting into enable mode.  All would work fine while debugging and stepping through the process by hand, however, when just running the code, it always threw a "Failed to enter enable mode." exception.  After a little digging, it looks as though the check_enable_mode() in base_connection.py would send '\n' and check for the

[2016-09-09 18:41] kadecole commented on #269
I would love to see aruba controller access added to the code.

[2016-09-09 19:20] ktbyers commented on #269
@mww012 You should test this with the dev_1_0 branch code. This is probably going to be pushed live next week and some of the above has changed.

check_enable_mode() uses read_until_prompt()

[code]

This in turn will call _read_channel_expect() method which should wait for up to 8 seconds to read data or find the trailing prompt.

Anyways, let me know if it is still failing on the dev_1_0 branch.

[2016-09-09 19:25] ktbyers opened #270 "More consistently use timeout as base of read channel methods"
x

[2016-09-09 19:58] ISuckAtPython commented on #265
As mentioned in the [scp example](https://github.com/ktbyers/netmiko/blob/master/examples/scp_example.py), disabling file copy confirmation is needed for it to work properly. I am running a similar script, but copying a file to an hp device with the Comware cli which doesn't have the ability to disable file copy confirmation. Is there anyway I can get my scp script to work?

[code]
The script comp

[2016-09-09 20:06] ktbyers commented on #265
@netmanchris Can you disable this prompt confirmation on Comware7 CLI?

We would need to make a vendor specific driver for HP Comware for SCP. @ISuckAtPython I assume you are using comware7?

[2016-09-09 20:13] ISuckAtPython commented on #265
Yes Comware7 is what I am using

[2016-09-09 20:17] ktbyers commented on #265
@ISuckAtPython I assume you would be willing to test this (if I build an SCP driver here)?

[2016-09-09 20:17] ISuckAtPython commented on #265
Sure

[2016-09-09 20:24] ktbyers commented on #265
@ISuckAtPython Hmmmm, I didn't pay enough attention to what you posted above (my bad).

You should be able to do the following:

[code]

Note, when Netmiko 1_0 is released probably next week (and when you upgrade), you will need to change send_command to send_command_timing() for this operation.

[2016-09-09 20:24] ktbyers commented on #265
Let me know if this works.

[2016-09-09 20:30] ISuckAtPython commented on #265
okay good to know for 1_0.

The change did not work, nothing new happened and I also tried this as well to no avail
[code]

[2016-09-09 20:32] ktbyers commented on #265
@ISuckAtPython What does output show you? With the .send_command("Y").

[2016-09-09 21:01] ISuckAtPython commented on #265
I get "Copy flash:/afile.txt to flash:/current-configuration?[Y/N]:" still for both

[2016-09-09 21:18] ktbyers commented on #265
@ISuckAtPython Can you show me what the config merge looks like when you do it manually?

Kirk

[2016-09-12 14:03] ISuckAtPython commented on #265
@ktbyers  Thanks for all your help Kirk. I have since discovered it is actually not possible from the to copy a couple lines of config to a file to append the running config of a Comware switch like you can in Cisco IOS. HP doesn't quite support that functionality.

I stopped adjusting the script after I discovered that, but I think I started to get it to work by using:
`if '*Y/N*' in output:`

[2016-09-12 17:13] #265 closed

[2016-09-12 18:47] mww012 commented on #269
I'm not a python dev, more of a hobbyist.  That said, I enjoy working on stuff like this because it's always a learning experience.  Think I hit one of those learning experiences now.  I checked out the dev_1_0 and the one thing that's missing is a ssh_connection.py file.  Should I just bring that over from master or should I use something else in its place?  Or did I just do something wrong?

[2016-09-12 19:17] ktbyers commented on #269
Yes, let me update that document (this is a pretty recent change):

Here is an example:

[code]

[2016-09-12 19:19] ktbyers commented on #269
Basically, if Aruba is pretty similar to Cisco from a CLI interaction perspective, then you should base it off CiscoSSHConnection which is now in netmiko.cisco_base_connection

If Aruba is not similar to Cisco, then base it off of BaseConnection, for example:

For example:
[code]

[2016-09-12 20:05] mww012 commented on #269
So after beating my head against a wall for a bit trying to figure out why I couldn't get things to work properly, I realized that today I can't spell session_preparation properly.  After fixing that things went as expect but, unfortunately, it still looks like I need the delay in the check_enable_mode function.

Having to change a base_connection function seems like something I should avoid but I

[2016-09-12 20:53] ktbyers commented on #269
Can you link to your current code and post the exception you are getting?

On the face of it, I don't see why you would need to add an extra sleep.

[2016-09-12 21:23] sockduct opened #271 "Enhancement request for IOS device missing password setup"
Kirk - would be nice to differentiate between a failed authentication and an IOS device not being setup.

Failed authentication = bad username/password

Password not setup:
R1#telnet 172.31.255.1
Trying 172.31.255.1 ... Open

Password required, but none set

[Connection to 172.31.255.1 closed by foreign host]

Agree?  If yes, I can take a stab at a patch...  I find this type of problem more often

[2016-09-12 21:47] ktbyers commented on #271
Hmmmm...how about still failed authentication, but catch the 'Password required, but none set' and return that as part of the NetMikoAuthentication message?

[2016-09-12 21:53] sockduct commented on #261
@ktbyers - yes.  Here's my procedure (just want to make sure I'm not missing something):

From my Windows PC running Python v2.7.11 win32:
* # Enter virtualenv for testing
* git pull origin dev_1_0
* git branch -vv
* git status
* python setup.py clean
* Edit base_connection.py and in telnet_login() change debug to True
* python setup.py build
* python setup.py install
* python

rbose=True)

Passwo

[2016-09-12 22:07] ktbyers commented on #261
@sockduct Here is the current code as of today (slightly different than what you have based on line numbers):

[code]

So we never hit the 'Z3' marker, I wonder if increasing the time.sleep fixes it?

Are you using your own fork, or is your 'git remote' my repo?

[2016-09-12 22:07] ktbyers commented on #261
Note pri_prompt_terminator and alt_prompt_terminator are '#' and '>' respectively.

[2016-09-12 22:22] mww012 commented on #269
Thanks for all the help btw.

Here's my code...
https://github.com/mww012/netmiko/tree/dev_1_0

You'll see that I've got the sleep command in the base_connection.py/check_enable_mode function and it works as is.  If you take that sleep line out it gets the following error.  Below that is the actual code I'm using to test.
[code]

[code]

[2016-09-12 23:24] ktbyers commented on #269
@mww012 Try it with set_base_prompt() first:

[code]

Let me know if this works?

[2016-09-13 14:28] mww012 commented on #269
That seems to fix it. :)  Any idea why it worked at all prior to switching those lines?  Now working on getting config mode right.  Thanks again for the help.

Also, any chance I could get access to the slack channel?

[2016-09-13 15:58] ktbyers commented on #269
@mww012 The base_prompt is used to determine when a command is done in many contexts (including for .enable() ).

You can sign-up for the slack channel here:

http://slack.networktocode.com/

There is a Netmiko sub-channel.

Kirk

[2016-09-14 17:14] normalboy09 commented on #245
At first, thank you for your telnet driver. But iam new to github.com. Would you mind telling me how to use it please ?
Iam using SSH by the command

ame="admin", password="admin")

What have i to do now ? Thank you very much again

[2016-09-14 17:44] ktbyers commented on #245
@normalboy09 How to use the telnet driver?

Make the
[code]

[2016-09-15 14:12] srooprai opened #275 "have netmiko installed but cant run the scripts"
Hello
Im running netmiko on python 2.7 on a linux debian device.
I have installed netmike via pip.

['ConnectHandler', 'FileTransfer', 'NetMikoAuthenticationException', 'NetMikoTimeoutException', 'NetmikoAuthError', 'NetmikoTimeoutError', 'SCPConn', '__all__', '__builtins__', '__doc__', '__file__', '__name__', '__package__', '__path__', '__version__', 'a10', 'alcatel', 'arista', 'avaya', 'base_con

[2016-09-15 16:10] ktbyers commented on #275
@srooprai You don't have the following at the top of your file:

[code]

So when you execute your script it is not being executed as a python script.

You either need to add the above or do

[code]

[2016-09-17 18:08] sockduct commented on #261
@ktbyers - just upgraded to 1.0 version from PyPI and it works, so marking this as closed.

[2016-09-17 18:08] #261 closed

[2016-09-17 18:18] sockduct opened #276 "NetMikoAuthenticationException: Telnet login failed when connecting to GNS3 device"
@ktbyers - per your request, I am opening an issue on failing to connect to a GNS3 simulated Cisco router.  This is using netmiko v1.0 from PyPI:
[code]

Note:  I can successfully telnet to the device using putty, but it is painfully slow - taking many seconds to do each step.  I'm not sure fixing this is very helpful, but it is a very good torture test if you want to subject netmiko to very slow

[2016-09-17 18:20] sockduct commented on #271
That works - interested in taking a patch for this?

[2016-09-17 23:27] ktbyers commented on #271
@sockduct Yes, sounds good.

[2016-09-17 23:29] ktbyers commented on #276
@sockduct Does it work if you sent global_delay_factor to 2 or 4 (or something larger). global_delay_factor is an argument that you would include in the r1t dictionary.

[2016-09-19 20:58] sockduct commented on #276
@ktbyers - well, setting global_delay_factor to 4 works for authentication.  However, there are problems with sending commands using send_command:
[code]
What should I do/provide to troubleshoot why send_command isn't working in this case?

[2016-09-19 21:30] sockduct opened #278 "Enhancement request - support telnet to system which does not require authentication"
Use case:  Some systems do not require authentication.  You telnet to the standard or a specific port and are merely dropped to a shell.  This enhancement would either bypass authentication if it isn't required or offer a way to check if authentication is required and only authenticate if necessary.  No use case of "authless" ssh is known so this feature would only be for telnet.

[2016-09-19 23:49] sockduct commented on #271
@ktbyers Is this too simple?

In base_connection.py, in telnet_login(), after if re.search(r"sername", output): but before elif re.search(r"assword", output):, insert the following conditional:
[code]

[2016-09-21 03:54] halfmetaljacket opened #279 "Enhancement Request - Provide option to log all read/writes from device to file equivalent to putty session log"
Kirk - First thanks for Netmiko, I've gotten a lot mileage out of it already- I was looking through the code and didn't find a way to capture all output and commands applied to the device by Netmiko, beyond just the responses from explicit send_command/config calls. The idea here being equivalent to a putty or securecrt session log that saves everything the device sees and responds with.

I think

[2016-09-21 17:23] ktbyers commented on #279
@halfmetaljacket Yes, I like this idea. It would probably be good to have a way to have it write to a log file and/or standard output.

[2016-09-21 17:42] ktbyers commented on #276
@sockduct What does it look like when you execute 'sh ip int br' manually and how many seconds does it take for the response to come back (when manual).

You could also turn on debugging in the send_command_expect method...that might provide some clues as to what is happening.

[2016-09-21 17:44] ktbyers commented on #271
@sockduct Why the self.host += " reports..."?

As opposed to i = max_loops I would just raise the NetMikoAuthentication exception and pass in the 'password required, but none set' as the message to it.

[2016-09-22 09:25] Silent-Bob commented on #278
As a workaround you could add a new vendor and override the telnet_login() method with a simplified one, that does no authentication.

[2016-09-22 16:39] ISuckAtPython commented on #265
edit

[2016-09-22 16:50] ISuckAtPython commented on #265
@ktbyers

Having another issue. I want to use the FileTransfer method within [scp_handler.py](https://github.com/ktbyers/netmiko/blob/master/netmiko/scp_handler.py). However, currently it only supports Cisco devices. I am trying to use the methods for HP devices. I have had success using the SCPConn method with HP, but I would like to use FileTransfer to utilize the more advanced functions like ch

[2016-09-22 19:01] ktbyers commented on #265
Yes, it is probably viable. Obviously, you will be hard-coding that code to work with HP and not with Cisco.

The way it should be done ultimately is to make an HP specific class that inherits from FileTransfer and then overrides anything that you need to override. If you send me your working code (after you do this), I can probably do this.

Kirk

[2016-09-23 00:12] sockduct commented on #271
OK - did it like you said and added immediate support for no authentication and starting at a prompt.  Looks like you added that as a fallback after max_loops - any reason not to test for prompt immediately?  I submitted a PR with my minor changes - let me know what you think.

[2016-09-23 00:15] sockduct commented on #278
@Silent-Bob - if it were just a specific vendor that would make sense.  However, it is also possible to configure IOS devices like this so I would prefer to support it directly in the telnet_login() method.  Is there a reason you wouldn't want to do it this way?

[2016-09-23 00:16] sockduct commented on #278
@ktbyers - I submitted a PR that includes this minor feature.  But let me know what you think and if more discussion/testing needs to occur.

[2016-09-23 01:13] sockduct commented on #276
@ktbyers It's super slow, on the order of seconds.  I tried enable debugging in send_command, but the output is pretty terse:
[code]

I don't think this is worth the effort because it's so slow.  One thing that might be worth some effort is connecting directly to the port that GNS3/dynamips listens to.  This acts like an unauthenticated reverse telnet port.  However, it doesn't quite work:
[code]

[2016-09-23 06:07] Silent-Bob commented on #278
@sockduct - as i wrote my "solution" would just be a workaround not a final fix. Your aproach is probably better.

[2016-09-23 16:03] ktbyers commented on #278
I think the PR is probably fine. I will merge into the dev_1_1 branch.

[2016-09-23 16:11] ktbyers commented on #276
Yes, I somewhat think the problem is due to it being super slow. If it doesn't matter to you, then we should probably just close it.

[2016-09-23 16:31] sockduct commented on #276
Reverse telnet server support (e.g., for terminal servers) may be worth considering in the future.  But for now, I don't really have a practical use case so closing.

[2016-09-23 16:31] #276 closed

[2016-09-23 16:31] sockduct commented on #271
Closing since you're accepting the PR into dev 1.1 branch

[2016-09-23 16:31] #271 closed

[2016-09-23 16:34] ktbyers commented on #276
Yeah, reverse telnet (terminal servers) is worth considering improving.

There are also some Cisco devices with an embedded device (like an embedded access-point) that you session into. Which is basically the same use case.

There is an open Netmiko issue on this.

[2016-09-24 01:59] ktbyers opened #281 "Line wrapping behavior on ASA (still happening)"
######

object-group network PYCLASS
twb-dc-fw1(config-network-object-group)# no network-object object pylab7a.twb-$
twb-dc-fw1(config-network-object-group)# no object network pylab7a.twb-tech.com
twb-dc-fw1(config)# end
twb-dc-fw1#
######

Netmiko 1.0.0

[2016-09-27 17:42] ghmj2417 opened #282 "Rebooting device throws search pattern exception"
Before 1.0, rebooting a device, example a Cisco router, by using ssh_conn.send_command() would not throw an exception.  Now when I reboot my device, I receive the following:

Exception: Search pattern never detected in send_command_expect:

With 1.0, how do you want us to tell netmiko to not expect a prompt or output?  Should we use send_command_timing?

[2016-09-27 17:46] ktbyers commented on #282
send_command() is now the same as send_command_expect()

Yes, use send_command_timing() now (it is what send_command used to be).

Basically, I changed this as I kept running into too many issues with using a 'timing' based mechanism to execute commands (except in special cases).

[2016-09-27 17:46] #282 closed

[2016-09-27 20:58] #275 closed

[2016-09-28 22:57] ktbyers opened #285 "Improve Netmiko documentation (methods and arguments)."
x

[2016-09-29 13:27] ebeahan commented on #285
x

[2016-09-29 20:23] ktbyers commented on #285
I think there are one or two other people that might want to help on this task.

[2016-09-29 20:25] ktbyers commented on #285
I am definitely out of the loop on auto-documentation so let me know what you think the best way to do this is.

The most pressing thing that is missing is documentation on important Netmiko class and methods and their arguments. It would be nice to have this built from the source code so that the source code docstring just gets updated whenever the method changes.

[2016-09-29 22:07] ktbyers commented on #285
Adding @dhanakane

[2016-09-30 02:32] ebeahan commented on #285
I've used Sphinx and autodoc with other Python projects, and I've found it's decent to work with. I tossed together a basic example repo and a readthedocs site generated from that repo's docs as a rough example.

https://github.com/ebeahan/autodoc-example

http://autodoc-example.readthedocs.io/en/latest/

[2016-10-01 04:18] nvitaly opened #286 "Multi context ASA"
I probably doing something wrong. It used to be working (couple month ago):

I connect to device with 'device_type': 'cisco_asa',
do send_command("sh ver")
getting what expected
do send_command("changeto context dev")

And here it stuck, i debugged a bit and found that it stuck in loop in BaseConnection
in send_command waiting for prompt that changed because we changed context.

[2016-10-01 16:02] ktbyers commented on #286
I would try to do the 'changeto' command using send_command_timing:

[code]

This is a timing based method and should update the prompt after changeto is done.

Let me know if this works.

[2016-10-01 16:03] ktbyers commented on #286
Related to this I think there is a bug in the ASA Netmiko code where send_command() with changeto action won't work.

[2016-10-01 16:59] nvitaly commented on #286
Excellent, thank you! send_command_timing works.

I could probably use send_command with crafted expect_string for new prompt, but _timing works great for me.

[2016-10-01 19:56] Hoaziz opened #287 "netmiko issue with pyinstaller"
hello,
i created a program that SSH to a serve , it's working normally from idle
using python 3.4 and 3.5

but when converting this program to a standalone exe i get this error
any help!!

Unknown exception: RSA is not supported by the backend
Traceback (most recent call last):
  File "site-packages\paramiko\transport.py", line 1774, in run
  File "site-packages\paramiko\kex_group1.py", line 75, i

[2016-10-03 16:15] ktbyers commented on #285
Okay, let me look at it.

[2016-10-04 20:05] dhanakane commented on #285
Looks pretty good. How do we get started?

On 3 October 2016 at 17:15, Kirk Byers <notifications@github.com> wrote:

[2016-10-04 20:22] ktbyers commented on #285
Sorry am pretty slammed for the next ten days or so. Feel free to run with anything on the autodoc process (that you want to do).

I will try to follow up after my schedule frees up a bit.

[2016-10-06 04:59] mcfone opened #289 "timing issue with find_prompt on Palo Alto - netmiko 1.0.0"
_[**Summary**: in netmiko v1.0.0 need to set delay_factor in paloalto_panos_ssh.py to 7 from the current value of 3 to get it to work with Palo Altos as it did with netmiko v0.5.6]_

All was fine connecting to my Palo Alto 5060 with 0.5.6, but with 1.0.0 I get:

[code]

The Palo Alto returns the following on login:

[code]

Turning on debugging in find_prompt() in base_connection.py (extra debuggi

[2016-10-06 17:00] ktbyers commented on #289
@mcfone @GGabriele

I assume that you are modifying the delay_factor here?

[code]

[2016-10-06 22:39] mcfone commented on #289
Yes, that's correct.

[2016-10-06 23:13] mcfone commented on #289
The other curious thing I've just noticed is that v1.0.0 seems to double up with prompt lines. If, after establishing a connection to the Palo Alto via:

`net_connect = ConnectHandler(**dev)`

I then call

`prompt = net_connect.find_prompt()`

with debugging turned on in find_prompt() in base_connection.py, I get (with the initial connection find_prompt() debug output removed, leaving just the net

[2016-10-07 20:21] ktbyers opened #290 "output missing from send_config_set"
missing 'conf t'
missing initial router prompt for first config command.

[2016-10-07 22:23] ktbyers opened #291 "Should create a get_config() method to Netmiko"
Probably pattern after NAPALM:

running-config
startup-config
candidate-config.

[2016-10-08 13:47] zeepi222 opened #292 "IOError: Search pattern never detected in send_command_expect"
Hi,

I am using netmiko and python to collect CPU information from Cisco IOS based access points. In most instances the script works fine, but on other occasions it fails and I cannot determine why.

python version = 2.7.8
netmiko version = 1.0.0
paramiko version = 2.0.2

Code sample:
[code]
Log Message:
[code]
Error Message:
[code]

Manual Test:
[code]

[2016-10-08 16:36] ktbyers commented on #292
It looks like the failing command is:

[code]

What happens on the AP when you execute the following manually:

[code]

Also note, you shouldn't need the 'encode', this is already done in the library (unrelated to this problem, however).

Anything funny about the timing of the command when executed manually (i.e. is it really slow)?

[2016-10-08 22:33] zeepi222 commented on #292
@ktbyers thank you for your prompt response.

I included the output of the manual check in the OP and the manual check seems to work without any noticeable issues. When I tested the manually it didn't seem slow or unresponsive.

I added the "encode" statement so that I could format the output into an integer and compare the result against a CPU threshold value (integer). Without the "encode" state

[2016-10-09 15:59] ktbyers commented on #292
I don't think you should need time.sleep, Netmiko should have the needed sleeps already.

The error indicates that it was expecting the trailing router prompt and it never found it in the output for some reason.

It would be interesting to turn on the debug flag in the send_command (line 602 in base_connection.py). You will have to:

https://github.com/ktbyers/netmiko
cd netmiko/netmiko
edit base_

[2016-10-10 20:02] ebeahan commented on #285
I haven't had a chance to dig in more myself yet. Will try to suss out some good starting points in the next few days.

[2016-10-10 20:44] zeepi222 commented on #292
At which line number of base_connection.py should I insert the "print self.base_prompt"?

[2016-10-10 21:54] ktbyers commented on #285
Sounds good. I should have a bit more availability to look at it early next week.

[2016-10-10 22:00] ktbyers commented on #292
@zeepi222 Ooops my bad...in your program before it crashes you can just do:

[code]

Assuming 'device' is the name of Netmiko object.

[2016-10-11 00:13] zeepi222 commented on #292
Yes, you are correct ... 'device' is my object name.
When I tried that inserting that print statement, I got the following error;

Traceback (most recent call last):
  File "./CPUCheck.py", line 437, in CPUQuery
    print(device.base_prompt())
TypeError: 'unicode' object is not callable

[2016-10-11 02:05] zeepi222 commented on #292
Hi Kirk,

Is there a way to enable "full debugging" so that I can see exactly what info is being sent and received during the SSH session?  For some reason, I have one particular device that continues to fail with an "IOError" but  I have no issues collecting the output manually. I notice a small delay when I login manually, the hostname prompt is presented to me approximately 4 seconds after send

[2016-10-11 02:47] ktbyers commented on #292
@zeepi222 Okay, wrong format. It is an attribute (not a method) so no parenthesis.

[code]

Try the following and let me know if it works:

[code]

The send_command_expect() method tries to determine the routers prompt and use this as a trailing pattern for determining command completion. This looks like it is failing (possibly due to the router being slow).

[2016-10-11 03:47] zeepi222 commented on #292
Hi @ktbyers

Below are the results. I did 6 runs with the sleep statement and 6 runs without the sleep statement;

Code:

device = ConnectHandler(device_type='cisco_ios', ip=APIPAddr, username=Aplogin, password=ApPassword)
sleep(3)
device.clear_buffer()
print(device.base_prompt)
output = (device.send_command('show processes cpu | include CPU', expect_string='ap2602>')).encode("utf-8").split()
CpuU

[2016-10-11 04:05] zeepi222 commented on #292
With the code below, I have had 100% success in 20 test runs;

device = ConnectHandler(device_type='cisco_ios', ip=APIPAddr, username=Aplogin, password=ApPassword)
sleep(1)
device.clear_buffer()
print(device.base_prompt)
output = (device.send_command('show processes cpu | include CPU')).encode("utf-8").split()
CpuUsage = float(output[11].strip('%'))
print('CPU usage for %s (%s) @ %s' % (APName, AP

[2016-10-11 04:26] ktbyers commented on #292
Yes, I suspect the device is slow due to being overloaded so not all the characters have been written to the screen (from the SSH login).

Adding the sleep allows these characters to get output (and not mess up your later command).

[2016-10-11 04:26] #292 closed

[2016-10-11 04:31] zeepi222 commented on #292
@ktbyers
Thank you for your time and assistance.

[2016-10-11 05:34] zeepi222 opened #293 "Timeout options"
Hi,

For SSH sessions which have not completed or terminated cleanly, are there any methods available for passing an absolute timeout or keep alive parameter to the SSH instance?

In some instances I have found that an SSH session has not terminated and remained connected for several hours, most likely due to a network failure. The result is that the python script never completes.

Below is an exa

[2016-10-12 00:27] ktbyers commented on #293
@zeepi222 You will need to post your code--why didn't your script complete (or at least have an exception). The SSH sessions should terminate when your script completes.

[2016-10-12 00:42] zeepi222 commented on #293
[code]

[2016-10-12 01:43] mcfone commented on #289
My script logins in to the Palo Alto once every 10 minutes; even with increasing the delay_factor from 3 to 7, it still fails to get the prompt every now and again (1-2 times per day). I've now increased the delay_factor to 8 and will see how that goes.

[2016-10-12 01:46] mcfone commented on #289
Meant to add that with whatever delay Netmiko 0.5.6 was using it was rock solid as far as this script was concerned.

[2016-10-12 02:33] ktbyers commented on #289
Let me know how the delay factor of 8 works.

Unfortunately, reverse engineering what it used to be is probably not straight-forward. We had issues with this earlier as well.

[2016-10-12 14:19] ebeahan commented on #285
Here's a few of the minimum steps coming to mind:

- Build out the base framework for sphinx/autodoc for the repo (typically in a ``docs`` or `doc` directory). This includes the initial config of `conf.py` (template selection, path config, etc). Good guide here: http://read-the-docs.readthedocs.io/en/latest/getting_started.html
- Decide how the directory/file structure of the documentation. Since

[2016-10-12 15:20] dhanakane commented on #285
Happy to follow your lead Eric!

Sent from my iPhone

[2016-10-13 00:21] zeepi222 commented on #293
@ktbyers
I understand you are still working the documentation. If I understood the default timeouts and how to pass them, then I should be able to adjust the script to cater for various failure scenarios.

I'm looking for;
The connect timeout (how long netmiko will wait for the SSH connection to establish)
The expect timeout (how long netmiko will wait for a prompt or output to be returned)
The ab

[2016-10-13 01:05] ktbyers commented on #293
@zeepi222 I only had a chance to glance at your code. I suspect your issue is not a Netmiko timeout issue, but an issue with your 'while True' loop inside of CPUQuery.

Netmiko would have given up long before this.  Connect timeout defaults to 8 seconds.

send_command_expect looks like it will wait 100 seconds by default (trying to find the terminating pattern).

Netmiko will end the SSH session w

[2016-10-13 14:23] 2marshall opened #294 "Problem after issuing 'changeto system' Use ASA Driver"
[asa_cluster_context_download_issues.txt](https://github.com/ktbyers/netmiko/files/528312/asa_cluster_context_download_issues.txt)

[code]

[2016-10-13 17:33] GGabriele commented on #289
Unfortunately it seems it can vary from device to device. I've just tested on a virtual one and the first good value was 13 :\

[2016-10-13 18:22] jrschneider opened #295 "Add support for Python context management (with statement)"
I think it would be neat to incorporate the ability to use the 'with' statement to manage connections to other devices. This would involve adding the __exit__ method to automatically close out any open connections (or maybe some other action is appropriate).

This alleviates the need for direct connection management (having to remember to close connections), and would be especially useful for conn

[2016-10-13 22:01] ktbyers commented on #294
@2marshall You need to post your script as well.

[2016-10-16 15:40] ktbyers commented on #294
Adding code inline:

[code]

[2016-10-16 15:43] ktbyers commented on #294
Closing code + error don't match each other.

[2016-10-16 15:43] #294 closed

[2016-10-16 16:09] ktbyers commented on #289
Okay, made this change in dev_1_1 branch:

https://github.com/ktbyers/netmiko/commit/891fc42f1d7f1ca51d8790a617bdd80dd71b0a56

That results in a 2 second delay which isn't that long.

Can either of you test the dev_1_1 branch and see if this fixes it? @mcfone @GGabriele

[2016-10-16 16:14] ktbyers commented on #293
I think this is really an issue with your script.

I don't see a fix or a feature that should be added to Netmiko here...I am open to discussion about it, however.

[2016-10-16 16:14] #293 closed

[2016-10-16 16:17] ktbyers commented on #285
@ebeahan @dhanakane Can we do a test of the workflow with the ConnectHandler arguments i.e. try to set this up with this one class and I think that will give me a better sense of the overall workflow.

Here are the ConnectHandler arguments:

[code]

It definitely would help me if you could submit an issue PR on it, but if not I can try to do it.

[2016-10-16 16:27] ktbyers commented on #287
@Hoaziz It sounds like you possibly have an install issue with the cryptography library.

Do you have these libraries installed:

[code]

Also what does this give you:

[code]

[2016-10-16 16:31] ktbyers commented on #245
This release is done.

[2016-10-16 16:31] #245 closed

[2016-10-16 16:31] #270 closed

[2016-10-17 03:53] ebeahan commented on #285
Submitted https://github.com/ktbyers/netmiko/pull/296 as a test. To preview the docs:

[code]

Let me know what you think.

[2016-10-17 07:19] GGabriele commented on #289
It worked for me.

[2016-10-17 07:24] mcfone commented on #289
I've made the delay_factor change (to 20) in my copy of v1.0, and it's been working so far for most of the day, running every 10 minutes. I haven't tried using the full dev_1_1 branch yet...

[2016-10-17 16:12] caibitim opened #297 "get terminal width from somtimes when collecting configuration for the device"
Hi,

I'm using 1.00 to do some configuration backup for cisco devices. it runs everyday to collect the configuration for cisco switch. However, I just found there is a chance that these lines will be included in the configuration. Not too sure what caused it.

gth 0
hostname#terminal width 511
hostname#
hostname#
hostname#show config

Here is the code I used, it should be pretty striaghtforward.
[

[2016-10-17 16:34] ktbyers commented on #297
What device_type are you using--is it 'cisco_ios'?

Yes, the following two commands get executed post login:

# terminal length 0
# terminal width 511

There is a delay post login to clear these out, but it looks like this device is slower so they don't get cleared out of the buffer.

You could add the following:

[code]

That should clear out the extra characters.

[2016-10-17 17:49] caibitim commented on #297
So I need to sleep for 3 seconds and clear the buffer.
after I call con = ConnectHandler(**dev_config)?

[2016-10-17 18:33] ktbyers commented on #297
Yes, you might be able to sleep for a shorter time.

Do you see this on only a small number of devices or do you see this regularly (the extra commands in the output)?

[2016-10-17 18:33] ktbyers commented on #289
Okay, I am going to close this issue.

If you see problems in the future, just open a new issue.

[2016-10-17 18:33] #289 closed

[2016-10-17 18:49] caibitim commented on #297
I would say it has around 10% chance to happen (cisco switch fortinet firewall) in LAN network, and I think it is a lot, becasure it's in the LAN, not WAN or Internet.

I'm doing the configuration backup if the configuration changes for around 15 devices. If my script runs every minutes, I will get some invalid configuraion in one hour for some devices. If I run the script everyday, I will start t

[2016-10-17 20:23] ktbyers commented on #297
@caibitim I do the following after you complete your SSH session:

[code]

I suspect there is an issue with the set_base_prompt() not getting set right (do to not sleeping long enough). This is causing both disable_paging and set_terminal width to not have their output cleared. They normally should clear that output.

I also should probably add a clear_buffer() after the set_terminal_width.

I wil

[2016-10-18 03:27] caibitim commented on #297
I just read the source code in your libary. I think it should be caused by self.set_terminal_width(). Since in disable page and set_base_prompt, there are buffer_clear method to clear the buffer, but there isn't any buffer clear in set_terminal_width. From my result, what I usually saw for invalid configuration is starting with terminal width 511 and a few prompt like(cisco_switch#). I'm not that

[2016-10-18 03:35] caibitim commented on #297
I just think it again. I think it could bre resolved by setting a larger global_delay_factor. Please let me if what I think is wrong

[2016-10-18 18:32] ktbyers commented on #297
Here is what I see in your output (from above):

[code]

I see part of the remnants of 'terminal length 0'. That really shouldn't be there. I think this should have read it off the channel.

[code]

Then we see the entirety of 'terminal width 511' i.e. the command that is sent in the set_terminal_width which I would have expected to be read here (i.e. I would have expected it not to be there):

[c

[2016-10-19 19:47] pkrrules opened #298 "unable to enter CLI mode on Juniper device"
Tried this code on a juniper device

https://raw.githubusercontent.com/wdennis/Netmiko-Testing/master/junos-test.py

I see that "show" command is not recognized. It doesn;t seem to enter CLI mode.
-sh: show: command not found
-sh: display: command not found

I was also unable to enter config mode:

When I login to a chassis, I log in to a shell. How do I enter CLI mode to attempt the above command

[2016-10-19 20:42] ktbyers commented on #298
@pkrrules What version of netmiko are you using?

[code]

[2016-10-19 21:13] pkrrules commented on #298
I am using 1.0.0

'1.0.0'

On Wed, Oct 19, 2016 at 1:42 PM, Kirk Byers <notifications@github.com>
wrote:

[2016-10-19 21:34] ktbyers commented on #298
@pkrrules Can you print out what happens when you try to run the script in the file that you linked to?

FYI, is @pkrrules Will Dennis?

[2016-10-19 21:37] ktbyers commented on #298
FYI, here is what should happen (this is from dev_1_1 branch), but 1.0.0 should be the same as this:

[code]

[2016-10-19 21:42] ktbyers commented on #298
A couple of interesting things to see would be:

1. Instead of executing the send_command() method, execute find_prompt() so you can see whether the 'cli' worked.

2. Show me what you manually see in the CLI when you login (i.e. repeat the process of SSH login and executing):

show chassis hardware | display xml

So I can see if I see anything that Netmiko will break on.

[2016-10-19 23:55] pkrrules commented on #298
Hi Kirk

No. My name is Pradeep. I was just trying to poke around with netmiko and
came across a script written by Will Dennis. Here is the original article
by Will Dennis

http://packetpushers.net/parsing-junos-xml-python/

I tried to run the script by modifying just the login credentials:

-sh: show: command not found
-sh: display: command not found

That is all I see.

When I execute find_promp

[2016-10-20 00:08] ktbyers commented on #298
@pkrrules Can you capture the entire manual CLI session, including SSH login, execute 'cli' command, execute 'show' command in Juniper shell.

Also, please make sure you properly format GitHub markdown.

[2016-10-20 00:39] pkrrules commented on #298
Here is the CLI session with SSH login:

pradeeps@svl-evodev-pradeeps:~$ ssh root@10.102.225.114
Last login: Wed Oct 19 17:37:28 2016 from 10.160.3.2
--- JUNOS 15.1R1.9 Kernel 32-bit
 JNPR-10.1-20150617.306001_builder_stable_10
root@vMX1_RE:~ # cli
root@vMX1_RE> show chassis hardware | no-more
Hardware inventory:
Item             Version  Part number  Serial number     Description
Chassis

[2016-10-20 01:15] ktbyers commented on #298
@pkrrules Did you change your default root shell (in the VMX)? I am expecting the following prompt:

[code]

i.e. something that ends with '%'

[2016-10-20 16:40] ktbyers commented on #298
@pkrrules Any update on this (on the question that I asked above)?

[2016-10-20 18:45] ktbyers commented on #297
Okay, I am adding a minor sleep after completing session_preparation and then a clear_buffer(). This might help clear the buffer. I still think the fundamental problem above is that base_prompt didn't get set right.

This possibly is due to given device just being really slow (or something else).

Let me know if setting global_delay_factor() to a larger doesn't fix this issue.

[2016-10-20 18:45] #297 closed

[2016-10-20 18:45] ktbyers commented on #287
Going to close as no response. Also doesn't look like a Netmiko issue.

Reopen if you need to.

[2016-10-20 18:45] #287 closed

[2016-10-20 18:48] ktbyers commented on #286
I think this issue is fixed here:

https://github.com/ktbyers/netmiko/commit/ebde3fd486e00bf8b11e0c95bba64177a796d4a5

[2016-10-20 18:48] #286 closed

[2016-10-20 18:50] ktbyers commented on #122
@axlroden Please reopen this issue or submit a PR if you are still working on this.

[2016-10-20 18:50] #122 closed

[2016-10-20 18:51] ktbyers commented on #124
As far as I know no one is working on this...so am closing.

[2016-10-20 18:51] #124 closed

[2016-10-20 19:04] ktbyers commented on #128
We could never get this to work and AFAIK no one is actively working on it...so I am going to close it :-(

[2016-10-20 19:04] #128 closed

[2016-10-23 19:56] ebeahan commented on #295
I see value in this as well and created a PR with a proposed implementation: https://github.com/ktbyers/netmiko/pull/299

Open to changes or alternative approaches. Here's an example of the current proposed implementation:

[code]

[2016-10-24 09:40] steelegbr opened #300 "Unable to access system-view (Comware) in v1.0.0"
While connecting to Comware 5 switches seems to work successfully, entering system-view (configuration) mode seems to "break" netmiko. Specifically, it appears that the change of prompt from `<SWITCH-NAME>` to [SWITCH-NAME] causes issues.

The problem presents itself as a script hanging before bombing out with the following error:
IOError: Search pattern never detected in send_command_expect: <SWI

[2016-10-24 16:16] ktbyers commented on #300
@steelegbr Please post your code and the exception that you get.

[2016-10-25 08:23] steelegbr commented on #300
Here's a snippet of the code I'm running:

[code]

And here's the exception in full:

[code]

Though I do note that calling the config_mode() function instead of running the system-view command myself does work. Looks like I may have been doing it wrong with the older version of the library.

[2016-10-25 09:26] steelegbr commented on #300
Looks like I may have closed this a little early. While the config_mode() call works, actually configuring a port doesn't work. As an example, here's the code I'm calling (after the above):

[code]

And the error I run in to:

[code]

As a note, the prompt changes to \[SWITCH\-NAME\-GigabitEthernet1/0/1\]

[2016-10-25 16:47] ktbyers commented on #300
For configuration changes, you should be using the send_config_set() pass in a list of configuration commands.

Notwithstanding that, I don't see why the above failed? Can you send me over what this looks like in the CLI when you do this manually?

[2016-10-25 18:40] pkrrules commented on #298
No. I didn't change the prompt. Probably there is difference machine
developer image and publicly deployed images on this chassis. In any case,
I would like to modify it to check and accept the prompt as is. Can you
suggest some tweaks?

Thanks
Pradeep

On Thu, Oct 20, 2016 at 9:40 AM, Kirk Byers <notifications@github.com>
wrote:

[2016-10-25 19:11] ktbyers commented on #298
@pkrrules Okay, I will have to think about this...unfortunately Juniper is making it hard to differentiate between the Unix shell and the router prompt.

[2016-10-25 19:12] ktbyers commented on #290
This is fixed.

[2016-10-25 19:12] #290 closed

[2016-10-27 10:05] steelegbr commented on #300
The send_config_set() command works well. Though, I then run into problems running the "save force" command afterwards.

That said, here's an example of what a simple configuration session could look like:

[code]

[2016-10-27 23:03] ktbyers commented on #295
This was completed in the above PR. It is in the dev_1_2 branch.

[2016-10-27 23:03] #295 closed

[2016-11-01 04:05] cameronff opened #304 "net_connect.commit() exception on IOS-XR 6.0.1"
net_connect.commit() is expecting the prompt as

hostname#,

while on ios-xr 6.0.1 (and other versions) a successful commit will return you to

Sat May 28 22:33:46.054 UTC
RP/0/RP0/CPU0:test(config)#

-- will attempt to submit a pull request to fix.

raises the following exception:

`In [16]: net_connect.commit()

---------------------------------------------------------------------------
IOError

[2016-11-01 17:52] ktbyers commented on #304
@cameronff

On quick glance, I didn't see what was causing the issue here? It looks like Netmiko was expecting:

[code]

Are your config changes modifying the hostname?

[2016-11-01 20:15] 9000cats opened #305 "OSError: Socket is closed at start of file transfer (.tar file)"
I'm building a script to upgrade IOS devices. It's a fairly heavily modified version of your asa_upgrade.py program. I will upload a .bin file without any issues (c3750e-universalk9-mz.150-2.SE10.bin), but when I try to upload a .tar file (c3750e-universalk9-tar.150-2.SE7.tar) it will error out immediately with "OSError: Socket is Closed".

[code]
I've manually verified that there is enough space

[2016-11-01 20:20] ktbyers commented on #305
@9000cats Can you post the relevant section of your Python code (i.e. 20 or so lines around line 124).

[2016-11-01 20:33] 9000cats commented on #305
This is the block of code that contains line 124. It's still a work in progress. I just took the asa_upgrade code and added to it so you can handle insufficient space (delete files) and continue with the upgrade using a crude menu.

[code]

[2016-11-02 17:43] caibitim opened #306 "HP procurve switch prep session"
Hi,

I'm working on getting the configuration from HP procurve switch. However, what I just found is if the HP procruve switches are in the stack, there will be another screen that we need to skip. Here is an example:

 Stack Members

  SN MAC Address   System Name      Device Type           Status
  -- ------------- ---------------- --------------------- ----------------------
  0  xxxxxxxxxxxxxx

[2016-11-02 22:27] Ragsboss commented on #62
Hi Tyler, I'm seeing for EOS, the final prompt is present - but not always. Is this a known issue? I'm issuing a command that's producing JSON output and when the prompt is present, JSON parsing fails. We are using version 0.4.3 and target device is

[code]

Any help is appreciated

[2016-11-03 00:04] ktbyers commented on #62
@Ragsboss Please open a separate issue on this. You need to test the issue using Netmiko 1.1.

[2016-11-03 16:12] ktbyers commented on #306
@caibitim Okay, let me regression test it...sounds reasonable.

[2016-11-03 16:29] ktbyers commented on #306
@caibitim Okay, here is a fix for it. It is in the dev_1_2 branch.

https://github.com/ktbyers/netmiko/commit/a818427216f71272ae8410f63927db4891dbe39e

[2016-11-03 16:59] #306 closed

[2016-11-03 17:04] ktbyers commented on #305
@9000cats I think you need to simplify your code (as a test) and just try to transfer the file. The above error indicates the SCP socket connection is closed.

So I would try to get the SCP transfer largely by itself to work. Once you have this code working, you can start to add in your glue code.

[2016-11-03 17:08] ktbyers commented on #285
@ebeahan @dhanakane FYI, I started testing (very briefly trying to get this to work with readthedocs.io).

[2016-11-03 17:09] ktbyers commented on #300
@steelegbr Can you post your exception that you get when you try to do the 'save force'?

[2016-11-03 22:54] michaelc0n opened #308 "Syntax Error: unexpected argument (set and tmsh)"
I am using netmiko with device_type 'f5_ltm' and noticed in the logs the below when pushing config. changes.  I am connecting via "net_connect = ConnectHandler(**f5ssh)" and using "net_connect.send_command" to send commands.  Not sure if this is an issue or user error, but it appears the commands "tmsh" and "set" are throwing the error.  My user "adminx" is automatically dropped into "tmsh" not "b

[2016-11-04 16:07] ktbyers commented on #308
@michaelc0n The F5 code does the following on login:

[code]

It is expecting to be at the shell prompt and then to enter tmsh.

Note, the F5 Netmiko driver hasn't had much testing so let me know what you find.

Also I am open to better ways of handling the login (i.e. we could probably detect if we are at the shell or in tmsh).

[2016-11-06 23:30] zeepi222 opened #309 "Command line filtering, need to enable session logging"
Hi Kirk,

I have a strange issue ... when I send a command to a Cisco switch and use the "include" command to grep specific output. The include command appears to work, however I am also receiving output which is unfiltered. I have installed netmiko dev 1_2 in an attempt to enable session logging, so I can see what is being sent to the CLI, but I am unsure of the syntax to enable session logging.

[2016-11-07 02:45] halfmetaljacket commented on #309
If you look at the output you're getting in this specific case, you'll notice that all of the additional lines includes the "Gi1/0/2" string that you're grepping. For instance "Gi1/0/20" will match what you're including. You would have to ensure that your search string is more specific (e.g. "Gi1/0/2 " <- note the trailing space) in order to avoid receiving unwanted output. This looks like expecte

[2016-11-07 02:49] zeepi222 commented on #309
Good pickup @halfmetaljacket , I will test and report back.
As an aside, do you know how to enable session logging (like in putty)?
I am using the dev_1_2 release.

[2016-11-07 04:04] halfmetaljacket commented on #309
Session logging is not currently available as a feature in Netmiko. I do have an open PR to add that feature, but it is still under review by @ktbyers and has not yet been merged in. If you would like to stay informed, keep an eye on PR #284 or the original issue #279.

[2016-11-07 22:01] zeepi222 commented on #309
Thank you @halfmetaljacket
My issue was resolved by including a space at the end of the include statement.
I will follow PR#284 as I think this will be a great feature for troubleshooting.

[2016-11-07 22:01] #309 closed

[2016-11-08 18:12] pkrrules commented on #298
I got around this for now by not checking the trailing character. I am just
looking for "root" prompt.

Here is my change to "enter_cli_mode" method. Can you please update the
code ? I didn't clone the sandbox.

    def enter_cli_mode(self):
        """Check if at shell prompt root@.*% shell prompt and go into
CLI."""
        delay_factor = self.select_delay_factor(delay_factor=0)
        count =

[2016-11-09 12:53] zeepi222 opened #310 "IOError and slow response with send_command()"
Hi,

This symptom looks similar to #300

I am using netmiko version 1.0.0 to configure interface parameters on a Cisco 3750 switch.

I have no issues when using the send_config_set() method, however when using the send_command_expect() method there is a huge delay (approximately 1.5 minutes) which also results in an IOError. Based on the switch prompt, the command does appear to execute successful

[2016-11-09 16:17] ktbyers commented on #310
Yes, should either use send_config_set() or send_command_timing() here. The issue is that the prompt is changing when you go into interface config mode.

Kirk

[2016-11-09 16:17] #310 closed

[2016-11-11 17:35] devinmcintyre opened #311 "Unable to find prompt error on HP ProCurve 2510, 2610, and 2810 switches"
I've verified login information by manually SSHing to the switch and running this exact code on other model of switches without error.  Here's the exact traceback I get:

[code]

And here's my code:

[code]

Login prompt looks identical to other models of switches so not sure what could be tripping up netmiko here.

[2016-11-11 18:18] ktbyers commented on #311
@devinmcintyre What happens when you manually run this command?

[code]

Does it prompt you for additional things or just execute (without any additional prompting)?

Also what does the following show you (if you insert this between the ConnectHandler line and the send_command() line.

[code]

[2016-11-11 20:03] devinmcintyre commented on #311
The command takes without any additional prompts:

[code]

Although you've probably seen it before, here's the output the switch gives after the "login as:" and "manager@172.16.1.220's password:" prompt:

[code]

Here's the output of the command you mentioned as well:

[code]

Logging in manually, everything seems responsive.  It doesn't seem to me the # prompt takes longer to come up than other m

[2016-11-12 19:29] devinmcintyre commented on #311
I just wanted to say too that I can't thank you enough for the work you've done on this Python module.  Using this, my organization is now able to automate the config backups of the close to 500 switches we have deployed in the field.  We were never able to keep current backups for these devices until I stumbled on this solution.  Anything you need from me to help resolve this minor issue I'd be m

[2016-11-13 00:13] ktbyers commented on #311
@devinmcintyre Thanks Devin. It is nice to hear people that are having success using this library.

Can you try the Netmiko dev_1_2 branch? We put a fix in recently for HP ProCurve. This fix added some extra delay that might be relevant here. The issue is referenced here.

https://github.com/ktbyers/netmiko/commit/a818427216f71272ae8410f63927db4891dbe39e

You can install this as follows.

[code]

[2016-11-13 00:24] ktbyers commented on #308
@michaelc0n Did you resolve this issue from your side?

[2016-11-13 00:25] ktbyers commented on #305
@9000cats I am going to close this as I didn't see a response. If there is still an issue, just let me know.

[2016-11-13 00:26] ktbyers commented on #300
@steelegbr Any update on the error you get with save force?

[2016-11-13 00:36] ktbyers commented on #304
@cameronff Also maybe try

[code]

or

[code]

[2016-11-13 00:36] #304 closed

[2016-11-13 01:07] ktbyers commented on #298
@pkrrules Okay, implemented this fix. It is in the dev_1_2 branch. I think it should fix your issue.

https://github.com/ktbyers/netmiko/commit/e9800fac569a05f546e8f1bf1a4b9a8c2b6ab0e1

[2016-11-13 01:07] #298 closed

[2016-11-14 07:51] ccievoiceoks opened #312 "Netmiko Install issues"
Hi ,

during the install of netmiko , I have some issues with the install of the module and I can't use the module in the script .

Here is the install log :
Downloading/unpacking netmiko
  Downloading netmiko-1.1.0.tar.gz
  Running setup.py (path:/tmp/pip_build_root/netmiko/setup.py) egg_info for package netmiko

Downloading/unpacking paramiko>=1.13.0 (from netmiko)
  Downloading paramiko-2.0.2-p

[2016-11-14 08:45] steelegbr commented on #300
Yes, and apologies for taking a while to get back. Here's the error I run in to:

And here's the code being called:

`connection.send_command('save force')`

[2016-11-14 11:30] ccievoiceoks commented on #312
Ok I finally managed to make it to run ...

Just for info , I have to install some other package and module in order to be able to run the Netmiko module

Here are what I have installed after / reinstalled in order to make it work:

		○ sudo apt-get install python-cffi
		○ sudo apt-get install libffi-dev
		○ sudo apt-get install python-tk
		○ sudo apt-get install python-setuptools
		○ sudo apt-get

[2016-11-14 11:35] ccievoiceoks commented on #312
Just made my first test and it is working fine :)

[2016-11-14 11:35] #312 closed

[2016-11-14 12:44] samy92100 opened #313 "netmiko : errors when using the ssh proxy"
Hi,

Do you have please an idea about this output errors :

Error in atexit._run_exitfuncs:
Traceback (most recent call last):
  File "/usr/lib/python3.4/site-packages/paramiko-2.0.2-py3.4.egg/paramiko/transport.py", line 77, in _join_lingering_threads
  File "/usr/lib/python3.4/site-packages/paramiko-2.0.2-py3.4.egg/paramiko/transport.py", line 1552, in stop_thread
AttributeError: 'ProxyCommand'

[2016-11-14 16:46] 9000cats commented on #305
This is still an issue. I noticed I can upload IOS .tar files to Cisco 3850 switches but I get the OSError Socket is Closed when uploading to Cisco 3750 switches. So this might be a hardware platform issue, or an issue with the version of IOS we're running on our 3750 switch stacks.

[2016-11-14 17:04] ktbyers commented on #313
@samy92100 Yeah, don't know.

Did you read this article:

https://pynet.twb-tech.com/blog/automation/netmiko-proxy.html

Also I don't see any definition for the '10.20.20.20' connection in your SSH config file?

[2016-11-14 17:11] ktbyers commented on #300
@steelegbr How long roughly does 'save force' take to execute?

[2016-11-14 17:31] devinmcintyre commented on #311
Thanks for the reply.  I'm still noticing the issue with the dev_1_2 brand unfortunately.  On the mentioned models, I've noticed it'll complete about 25% (maybe less) of the time successfully so a timing issue is what I assumed first as well.  Like I said too, all other models have been rock solid.  Even older 2626 models I didn't expect to work have been taking the script well.

[2016-11-14 21:11] #305 closed

[2016-11-15 04:03] ktbyers commented on #311
@devinmcintyre What happens if you set the global_delay_factor to either 2 or 4.

[code]

[2016-11-15 08:26] samy92100 commented on #313
Hi @ktbyers , thank you for your answer. Yes, I have read this article. The problem, that the code is executed with success but it shows the errors mentioned above !!!

[2016-11-15 08:50] steelegbr commented on #300
On the two stacks I just tested, we're looking at 1:40 and 2:15 for save force to complete and replicate across the switches. I'm guessing we're hitting some sort of timeout then?

[2016-11-15 21:57] devinmcintyre commented on #311
That did the trick!  One interesting thing to note is that a global_delay_factor of 2 worked in a Python script, but I had to bump it up to 6 after compiling it to an exe with PyInstaller for it to work.  Also, 2626 models were affected by this issue as well I found.

Thanks for all the help!  Everything appears to be working for me now.  Even have these configs setup to push to a git repo weekly

[2016-11-15 23:10] ktbyers commented on #311
@devinmcintyre Okay, I put this improvement in for HP ProCurve (i.e. increase the default delay):

https://github.com/ktbyers/netmiko/commit/7215e32debe227a2637be889880486e8ceaeddf9

I will possibly try to improve this by making it a while loop as I don't like that it now will take at least 6 seconds to login.

[2016-11-15 23:46] ktbyers commented on #313
@samy92100 Okay, it looks like it might be this issue under Python3.

https://github.com/paramiko/paramiko/issues/789

[2016-11-16 18:27] ktbyers commented on #300
@steelegbr Yes, you will need to add additional delay.

Try the following:

[code]

If delay_factor=2 doesn't work, then you might need to increase this to 4 or 8.

I think 2 might work, however...from memory I think Netmiko send_command will wait about 90 seconds for a command to complete given the default delays. Making it delay_factor of 2 will double this.

[2016-11-16 20:38] amigosdemaurilio commented on #102
After I send the following command to a multi context ASA: net_connect.send_command("changeto system")

I get the following error OSError: Search pattern never detected in send_command_expect: ASA-HOSTNAME\/admin\#

Probably because the prompt changed after sending the command, and netmiko is expecting to find the original prompt.

[2016-11-16 23:09] ktbyers commented on #102
@amigosdemaurilio Which version of Netmiko are you using?

[code]

[2016-11-17 00:29] amigosdemaurilio commented on #102
Hi, its this one:

Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64
bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

'1.0.0'

On Wed, Nov 16, 2016 at 5:09 PM, Kirk Byers <notifications@github.com>
wrote:

--
Ing. Maurilio González Paz

[2016-11-17 00:35] ktbyers commented on #102
@amigosdemaurilio Upgrade to 1.1

There are some fixes for changeto on ASA in 1.1

[code]

[2016-11-17 00:36] amigosdemaurilio commented on #102
woooww thanks!! let me see.

On Wed, Nov 16, 2016 at 6:35 PM, Kirk Byers <notifications@github.com>
wrote:

--
Ing. Maurilio González Paz

[2016-11-17 00:41] amigosdemaurilio commented on #102
in windows the upgrade worked with: >py -m pip install --upgrade pip

regards.

On Wed, Nov 16, 2016 at 6:36 PM, Maurilio González Paz <
amigosdemaurilio@gmail.com> wrote:

--
Ing. Maurilio González Paz

[2016-11-17 00:51] amigosdemaurilio commented on #102
correction:

in windows the upgrade worked with: >py -m pip install --upgrade netmiko

On Wed, Nov 16, 2016 at 6:40 PM, Maurilio González Paz <
amigosdemaurilio@gmail.com> wrote:

--
Ing. Maurilio González Paz

[2016-11-17 00:58] ktbyers commented on #102
@amigosdemaurilio

Yes, windows 'pip' path can be a bit harder to find.

It is generally a bit safer to do:

[code]

As --upgrade will upgrade other packages (that you might not want upgraded).

[2016-11-17 01:19] amigosdemaurilio commented on #102
It worked!!!!!!

Thanks you so much!! you are some sort of god who created every god mankind
worships!!!!!!!!!!!!!

On Wed, Nov 16, 2016 at 6:58 PM, Kirk Byers <notifications@github.com>
wrote:

--
Ing. Maurilio González Paz

[2016-11-17 15:20] steelegbr commented on #300
Yup, that seems to have done the trick. All good now.

[2016-11-17 16:38] #300 closed

[2016-11-18 18:02] mrburkem opened #316 "Non-privileged user command access on HP_Comware"
Hello,
I have been using netmiko to access some of our HP_Comware switches and it has been working very well for us to this point.  I recently upgraded to netmiko v1.1.0 from v0.5.6 and since I have done this my programs have not been working.  To this point I have used device_type='cisco_ios' so the first thing I tried when things broke was to try device_type='hp_comware' but neither are working.

[2016-11-18 21:03] caibitim opened #317 "delay factor for getting prompt too small"
I ran into some issue to get the prompt for hp switches. After I looked into the code for hp_procurve_ssh.py and base_connection.py and found out the reason. Even the code compared the global delay and default delay factor, but the delay is not passed to set_base_prompt() in hp_procurve_ssh.py. In the set_base_prompt(), it can only use the default value,which is 1 sec, as the parameter, and it onl

[2016-11-18 22:44] ktbyers commented on #317
@caibitim There are no sleeps in set_base_prompt(). set_base_prompt() calls find_prompt() and find_prompt() does the following:

[code]

i.e. it will get the larger of global_delay_factor() and local delay_factor() so if you want to increase the sleep time, then increase the global_delay_factor to be something greater than 1.

Also find_prompt() has a while loop so it should wait up to 1 second by

[2016-11-19 00:36] caibitim commented on #317
sorry my bad,I didn't notice there is select_delay_factor in find_prompt. please ignore my last question

`time.sleep(delay_factor * .1)`
after I changed this to `time.sleep(delay_factor * 1)` it starts working fine. I think it only waits 0.1 second for the prompt here. For the for loop, it looks like it tries 10 times for 0.1 second, not 1 second.

I pretty sure I get nothting since I got the "un

[2016-11-22 00:28] ktbyers commented on #316
@mrburkem Is this Comware5 or Comware7?

You really shouldn't be doing these commands manually; they should be integrated into the system in the enable() method and login process.

[code]

How is "super 3" different than "system-view" for Comware? 'system-view' is what the current code calls for the .enable() method.

That all being said...you might want to replace:

send_command()

with:

send_co

[2016-11-22 00:40] ktbyers commented on #317
@caibitim

Here is the while loop:

[code]

It will loop eleven times each time sending a newline and waiting .1 seconds. If your prompt comes back as empty (for all of this) that means you never got any data back for the eleven newlines and 1.1 seconds of waiting.

You can modify the behavior without modifying the code by setting global_delay_factor in the Netmiko ConnectHandler call. Default val

[2016-11-22 15:18] mrburkem commented on #316
@ktbyers We are working with Comware 5.

With Comware users can be set to privilege levels 0-3 (Privilege note: 0-VISIT, 1-MONITOR, 2-SYSTEM, 3-MANAGE).  The user we login with has privilege level 0 so they must execute the command `system 3` to be able to execute any commands in `system-view`.

That said, I tried using `send_command_timing()` using default values and it worked!  Thank you for sen

[2016-11-22 15:18] #316 closed

[2016-11-22 19:20] caibitim commented on #317
I manually login to the device and notice every time I hit enter, it takes around 0.5 sec to get the prompt. I think that's the reason why I can not get the prompt with the for loop. From my perspective, the biggest problem for this for loop is it waits 0.1 second for 11 times. If it takes 0.5 second to get prompt, it will just fail. I think that would be better if we can increase the coefficient

[2016-11-24 05:35] gillman46 opened #318 "*Mar 1 00:47:42.315: SSH0: Session disconnected - error 0x07"
Using Netmiko with simple code below I just cannot stay connected to the cisco router. The ssh connection establishes but then disconnects just as quick..

Any ideas on how to fix this one please?

from netmiko import ConnectHandler

router = {
'device_type':'cisco_ios',
'ip': '10.10.10.1',
'username':'cisco',
'password':'hugh',
'port': '22',
'verbose': 'true',}

net_connect=ConnectHandler(**route

[2016-11-25 16:42] boneworker opened #319 "Cisco WLC -> cannot find prompt issue"
I have the following issue when login into our Cisco WLCs:
[xxxxxx@localhost ~]$ python test.py xx.xx.xx.xx user 'password'
Traceback (most recent call last):
  File "test.py", line 16, in <module>
    net_connect = ConnectHandler(**cisco_2504)
  File "build/bdist.linux-x86_64/egg/netmiko/ssh_dispatcher.py", line 96, in ConnectHandler
  File "build/bdist.linux-x86_64/egg/netmiko/base_connection.py

[2016-11-26 03:17] ktbyers commented on #319
@boneworker Does it work if you increase that from 12 to 24. On the face of I don't see why you would need to do this?

It is waiting at least 12 seconds and reading 12 * 64Kbytes of data.

[2016-11-26 03:44] ktbyers commented on #318
@gillman46 What message do you get when you disconnect?

Note: port should probably be an integer and not a string i.e.

[code]

and verbose should be a boolean i.e.

[code]

[2016-11-26 04:08] ktbyers commented on #317
@caibitim Given what you said here, then it should work if you commented out line 602 above. Does it work if you do this?

[code]

Comment out the sending of the newline.

[2016-11-27 10:37] francisjes opened #320 "netmiko ssh login issues to Cisco devices"
unbale to SSH cisco devices through netmiko

...       'device_type': 'cisco_ios',
...       'ip': 'XXXXX',
...       'username': 'XXXX',
...       'password': 'password',
...     }

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/netmiko/ssh_dispatcher.py", line 96, in ConnectHandler
    return ConnectionClass(*args, **kwargs

[2016-11-27 14:18] ktbyers commented on #320
@francisjes Yes, this looks like there is no device there. Did you double check by manually doing an SSH from the same box as you are running the script from?

[2016-11-27 15:05] francisjes commented on #320
Yes am able to login the device by directly ssh into it. I just hide the IP and username in the output here.

[2016-11-27 15:14] francisjes commented on #320
Issue been fixed. Thanks

[2016-11-27 15:14] #320 closed

[2016-11-28 06:24] doquocuy285 opened #321 "Cannot import netmiko funtion"
Dears,
I am a beginner on Python programing. I want to code script files ( on Microsoft windows) to perform some command line on a cisco network device. I installed Python 2.7.12 on window 7.
I perform as your guidle line: https://pynet.twb-tech.com/blog/automation/netmiko.html. But when i use the "from netmiko import ConnectHandler", it is not correct, it appear : "IndentationError: unexpected in

[2016-11-28 13:43] ktbyers commented on #321
@doquocuy285 Do you have any files named netmiko.py and netmiko.pyc? If so, please rename these.

You are possibly importing a file you created and not Netmiko.

[2016-11-28 13:55] boneworker commented on #319
Hello ktbyers,

i have tried to change that value in the files i can access but it has not helped.

/usr/local/netmiko/netmiko/cisco/cisco_wlc_ssh.py
/usr/local/netmiko/build/lib/netmiko/cisco/cisco_wlc_ssh.py

Like written, i am new to Python (have used Perl at lot but now want to go deeper into Python) and have no clue if I would need to do the update/change in the egg file. No idea how to do th

[2016-11-28 23:13] sjtarik opened #322 "Exception while ssh into IOS devices with public keys"
Received this exception "paramiko.transport:SSHException: Illegal info request from server" for the following code:

[code]
Same code works with JUNOS/NXOS but not with IOS devices.

DEBUG:paramiko.transport:userauth is OK
ERROR:paramiko.transport:Exception: Illegal info request from server
ERROR:paramiko.transport:Traceback (most recent call last):
ERROR:paramiko.transport:  File "<REMOVED>/cicd/

[2016-11-28 23:14] sjtarik commented on #322
I hope this is not related to the underlying Paramiko issue mentioned here: [https://github.com/paramiko/paramiko/issues/122](url)

[2016-11-28 23:36] sjtarik commented on #322
Cisco IOS Software, s72033_rp Software (s72033_rp-ADVENTERPRISEK9-M), Version 15.1(2)SY6, RELEASE SOFTWARE (fc4)

cisco WS-C6509-E (R7000) processor

[2016-11-29 01:55] ktbyers commented on #322
@sjtarik What happens when you remove the username from the net_device dict?

Is your key-file encrypted? Also are you using SSH agent?

[2016-11-29 05:08] doquocuy285 commented on #321
@ktbyers . I don't have any files named netmiko.py and netmiko.pyc. Can you please tell me the basic step to begin setup a connection to a network device?

[2016-11-29 05:10] sjtarik commented on #322
Without username I receive a very similar result:

DEBUG:paramiko.transport:userauth is OK
INFO:paramiko.transport:Disconnect (code 2): Non-assigned port!
DEBUG:paramiko.transport:Trying discovered key 9b39379896687d288ed962ef98c0b794 in /usr/local/rancid/.ssh/id_rsa
Traceback (most recent call last):
  File "con_pub.py", line 16, in <module>
    net_connect = netmiko.ConnectHandler(**net_device)

[2016-11-29 08:12] hellt opened #323 "Adding Mikrotik Router OS. How to handle missing base prompt?"
Hi all,
I was trying to quickly dirty-hack mikrotik router os support in netmiko and faced an issue.
Mikrotik SSH session while having prompt in terminal like this
[code]
Doesn't feed this prompt when accessing socket via paramiko:
[code]
**output**
[code]

### Example for configuration commands:
[code]

**output**
[code]

[2016-11-29 13:25] maximumG opened #325 "Guess device type using SNMP"
Hello,

I just found out about your wonderful Paramiko wrapper and I am currently reading the code to understand the library. I come from the 'Exscript' project and might rather switch to Netmiko because of its support on Python3.

**What I am missing in netmiko is the ability to auto guess the device type, which Exscript is doing as best as it can**.

As mentioned in issue #259, I'd like to work

[2016-11-29 14:21] ktbyers commented on #325
@maximumG Which SNMP library are you planning on using? Are you open to using pysnmp?

I have some SNMP helper code for pysnmp here.

https://github.com/ktbyers/pynet/blob/master/snmp/snmp_helper.py

And here is an example getting sysDescr:

https://github.com/ktbyers/pynet/blob/master/appliedpy_ecourse/class1/ex2_simple_snmp.py

I am probably open to this.

[2016-11-29 14:26] ktbyers commented on #321
This should work:

[code]

[2016-11-29 15:26] bbkane commented on #325
Also very interested in this.

[2016-11-29 16:46] ktbyers commented on #318
@gillman46 Any update on the above questions?

[2016-11-29 16:47] ktbyers commented on #317
@caibitim Any update on my above questions?

[2016-11-29 16:52] ktbyers commented on #319
@boneworker Does it work if you add more delay (i.e. global_delay_factor argument)?

[code]

Kirk

[2016-11-29 17:58] benjaminbudts opened #326 "Huawei 6680 firewall IOError: Search pattern never detected in send_command_expect"
u'HRP_A<ACTIVE>'         ---------> we got an active standby configuration

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/netmiko/base_connection.py", line 673, in send_command
    search_pattern))
IOError: Search pattern never detected in send_command_expect: HRP\_A\<ACTIVE\>

[2016-11-29 18:12] boneworker commented on #319
Hello Kirk,

yes, that solved it :-)
Even with a delay factor of 2 it works.

Many thanks for your help.

With regards,
Frank

[2016-11-29 19:13] caibitim commented on #317
Sorry, I was tied up by something else for last few days.

I couldn't comment line 602 to see if it works anymore, since I've finished the project for configuration backup of that client. Currently, everything is up and running after I change .1 to 1 second, the script is scheulded to login the device every 7 days. I can try your method if I run into this issue in the future.

Hope you can underst

[2016-11-30 00:09] gillman46 commented on #318
Hello Kirk

here is my code

*from netmiko import ConnectHandler*
*import paramiko*

*router = {*
*'device_type':'cisco_ios',*
*'ip': '10.10.10.1',*
*'username':'cisco',*
*'password':'hugh',*
*'port': 22,*
*'verbose': True,}*

*net_connect=ConnectHandler(**router)*

*net_connect.find_prompt()*

and here is the output from the command line when i run the code..

C:\Python27>net_connect.py
SSH conne

[2016-11-30 00:10] gillman46 commented on #318
Also here is the last few lines of the debug from the router

*Mar  1 00:06:56.495: SSH2 0: partial packet 8, need 16, maclen 20
*Mar  1 00:06:56.495: SSH2 0: MAC #11 ok
*Mar  1 00:06:56.495: SSH2 0: input: padlen 9
*Mar  1 00:06:56.495: SSH2 0: received packet type 94
*Mar  1 00:06:56.495: SSH2 0: send: len 24 (includes padlen 8)
*Mar  1 00:06:56.495: SSH2 0: done calc MAC out #50
*Mar  1 00:06:5

[2016-11-30 01:41] MgOmbodorj opened #327 "unable to enter command on huawei device"
after i enter commands ,below error occured.
**Commands:**
device1.config_mode
output1 =  device1.send_command('?')
print output1

**Error:**
IOError: Search pattern never detected in send_command_expect: \\<test\\-1\\>

[2016-11-30 01:56] doquocuy285 commented on #321
Dear Ktbyers,
I did as this, but it appear error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python27\lib\netmiko\__init__.py", line 1, in <module>
    from netmiko.ssh_dispatcher import ConnectHandler
  File "C:\Python27\lib\netmiko\ssh_dispatcher.py", line 3, in <module>
    from netmiko.cisco import CiscoIosSSH
  File "C:\Python27\lib\netmiko\cisco\__in

[2016-11-30 03:28] ktbyers commented on #321
Try:

[code]

[2016-11-30 08:40] doquocuy285 commented on #321
Thanks for your help. I can access to my device now. But when ssh connection was established, I will access on User mode. I  send "net_connect.send_command("enable")" but I don't know how to send the password to access the Privileged mode. Can you please help me?

[2016-11-30 08:40] doquocuy285 commented on #321
Thanks for your help. I can access to my device now. But when ssh connection was established, I will access on User mode. I send "net_connect.send_command("enable")" but I don't know how to send the password to access the Privileged mode. Can you please help me?

[2016-11-30 08:41] doquocuy285 commented on #321
this is my code:
from netmiko import ConnectHandler
cisco_asa = {
'device_type': 'cisco_ios',
'ip': '10.10.10.10',
'username': 'asa',
'password': 'password',
}
net_connect = ConnectHandler(**cisco_asa)
net_connect.send_command("enable")
net_connect.send_command("password2")
# net_connect.send_command("show arp")
a = net_connect.find_prompt()
# output = net_connect.send_command("show power inline")

[2016-11-30 08:42] doquocuy285 commented on #321
This is my code:
from netmiko import ConnectHandler
cisco_asa = {
'device_type': 'cisco_ios',
'ip': '10.10.10.10',
'username': 'asa',
'password': 'password',
}
net_connect = ConnectHandler(**cisco_asa)
net_connect.send_command("enable")
net_connect.send_command("password2")
a = net_connect.find_prompt()
print a

[2016-12-01 00:55] ktbyers commented on #321
@doquocuy285 Add a secret to your code:

[code]

Then call the enable() method.

[2016-12-01 08:58] doquocuy285 commented on #321
@ktbyers : What is the parameter of the enable() method. The code of this method is:
enable(self, cmd='enable', pattern='password', re_flags=re.IGNORECASE)

and I put the password but it is not run.

my code is:

from netmiko import ConnectHandler
cisco_asa = {
'device_type': 'cisco_ios',
'ip': '10.10.10.10',
'username': 'asa',
'password': 'password',
'secret':'secret',
}
net_connect = ConnectHand

[2016-12-01 15:00] maximumG commented on #325
@ktbyers. I'm almost done writing this 'add-on'. Basically it is compatible with SNMPv2 and V3 (thanks to your helper function).

Unfortunately I don't have access to the *SysDescr* of all devices type that Netmiko supports (Cisco IOS, IOS-XE, ASA, NX-OS, WLC, F5). Some people will need to update my auto guessing module if they do have access to the missing device type.

[2016-12-01 15:28] ktbyers commented on #321
@doquocuy285 Once you set the 'secret', then you can just do:

[code]

[2016-12-01 19:04] adrianchi opened #330 "how to hit enter after a send_command"
i'am writing a script to be excecuted by Nagios when a VPN get stuck after an ISP fail... sometimes it happens, and we have to perform manually a vpn-sessiondb logoff.

I'm sure you already know how it works, but i will give a brief explanation anyway...

FW-VPN(config)#  vpn-sessiondb logoff ipaddress 10.1.2.2
Do you want to logoff the VPN session(s)? [confirm]
INFO: Number of sessions with IP =

[2016-12-01 19:22] halfmetaljacket commented on #330
Instead of looping over net_connect.send_command(), have you tried sending several newline characters appended to the first command? i.e.
`ipaddress = "10.1.2.2"
cmd = "vpn-sessiondb logoff ipaddress " + ipaddress + "\n\n"
output=''
output += net_connect.send_command(cmd)
print(output)`

I'm not in a position where I can test this myself, but I would try that if you can The `"\n"` newline characte

[2016-12-02 00:51] adrianchi commented on #330
Hi Matt, thanks for the comment.

I've just tried that, no success...

Later, when i hit control+c i get this messages... maybe it could be usefull to see where is the script when i interrupt it

root@ubuntu-server:~# python2 logoffVPN.py
^CTraceback (most recent call last):
  File "logoffVPN.py", line 18, in <module>
    output = net_connect.send_command (command1)
  File "/usr/local/lib/python2.

[2016-12-02 02:10] ktbyers commented on #330
@adrianchi Use send_command_timing() instead of send_command()

[code]

[2016-12-02 02:11] #330 closed

[2016-12-02 13:58] doquocuy285 commented on #321
Thank for your suggess. I will learn more about Python and I hope I can ask you any thing elses.

[2016-12-02 15:28] adrianchi commented on #330
excellent !!! thank you
sorry if this is newbie question, but where i can read about that command variations?
i mean... send_command, send_command_timing, send_command_except, send_config_set, etc

[2016-12-03 00:07] ktbyers commented on #317
It is all good.

[2016-12-03 00:07] #317 closed

[2016-12-03 00:59] ktbyers commented on #318
@gillman46 What happens when you do this?

[code]

[2016-12-03 01:02] ktbyers commented on #327
@MgOmbodorj Do you have more context on a larger section of your script?

Also what are you trying to do?

[2016-12-03 11:29] gillman46 commented on #318
Do what

On Dec 3, 2016 8:59 AM, "Kirk Byers" <notifications@github.com> wrote:

[2016-12-04 19:50] spikedrba opened #332 "hp procurve telnet support"
Hi,

wonderful work, thank you so much for this lib. I have a bunch of procurve switches and I noticed support for them has been recently added + telnet support was added in 1.0, however the combination of the two is not supported. Is that correct or am I just failing at getting it to work?

If that's the case and somebody was willing to provide some pointers, I'd be happy to take a stab at provid

[2016-12-04 20:21] ktbyers commented on #332
@spikedrba Yes, there is HP ProCurve support for SSH and their is telnet support currently only for Cisco IOS.

Basically, we would need to write a telnet driver for HP ProCurve.

If I do this, can you test it?

[2016-12-05 13:11] MgOmbodorj commented on #327
@ktbyers i am trying to connect huawei device and configure null route.

[2016-12-05 13:24] omershtivi opened #333 "run a debug command Cisco WLC"
Hello,
We need to do an automation for Cisco WLC using debug command.
Is there a way to run a command, save all output to var until we run another command that disable the debug?

[2016-12-05 14:36] raunak06anand opened #334 "SSH Into Cisco Device and provide input from .txt/.csv file and save the output to another file."
Hi Experts,

I am using below code to login to multiple devices and perform the show commands and saving the output in another file. Some how these codes are running into terminal but not into the launch pad. Its throwing below mention error. Now I am totally lost what need to be done to finalize this code for multiple devices.

Need expert advice to resolve this issue.

ERROR::::

+++++++++++++++

[2016-12-06 18:04] ktbyers commented on #334
@raunak06anand Yes, it looks like you are trying to SSH to something that isn't available via SSH.

I would print out the following before your SSH connection and make sure they are correct:

[code]

You should also use a try/except statement so that the above exception is gracefully handled and it moves on to the next device.

[2016-12-06 18:04] #334 closed

[2016-12-06 18:17] liorfranko opened #335 "Router prompt not found - NX-OS"
I'm not able to connect to Cisco Nexus5010, but I'm getting the following error:
Traceback (most recent call last):
  File "./network_backup.py", line 496, in <module>
    start_backup(options.user, options.password)
  File "./network_backup.py", line 345, in start_backup
    net_connect = ConnectHandler(**cisco)
  File "/Library/Python/2.7/site-packages/netmiko/ssh_dispatcher.py", line 84, in Con

[2016-12-06 19:11] raunak06anand commented on #334
Hi Ktbytes,

I am trying to ssh to a list (rather a .txt file) which contains list of Cisco ASA firewall IP address. I am trying to execute the script so that it reads the IP of ASA from the .txt file and perform the steps define in the script and save the output in another file. Below is the script which I am trying to execute.

where IP_LIST.txt this is the file which contains the IP address of

[2016-12-07 03:49] ahmedaljawad opened #336 "TypeError: getaddrinfo() argument 1 must be string or None"
Trying a simple code below , and getting the error( please see below ) . any idea please ?

######
mport netmiko
import json

Devices='''
192.168.80.10
192.168.80.10
'''.strip().splitlines()
device_type = 'cisco_ios'
username = 'admin'
password = 'auto'

for device in Devices:
    connection = netmiko.ConnectHandler(ip=Devices, device_type=device_type, username=username, password=password)
    pri

[2016-12-07 04:19] ktbyers commented on #336
@ahmedaljawad
You passed in the list 'Devices' and not the individual 'device'.

[code]

[2016-12-07 04:19] #336 closed

[2016-12-07 04:21] ahmedaljawad commented on #336
Thank you ! yes you are right . I notice that after i posted this . all good thank you for your reply

[2016-12-07 04:21] ktbyers commented on #335
@liorfranko Did you use device_type='cisco_nxos'?

[2016-12-07 04:33] #332 closed

[2016-12-07 04:33] #321 closed

[2016-12-07 10:03] liorfranko commented on #335
Yes:
This is the configuration I used:
                    cisco_5010 = {
                        'device_type': 'cisco_nxos',
                        'ip': ip,
                        'username': user,
                        'password': password,
                        'verbose': False,  # optional, defaults to False
                    }

[2016-12-07 15:48] ktbyers commented on #335
Are you using Netmiko version >= 1.0

import netmiko
netmiko.__version__

Also you might want to add a global_delay_factor and try a value of 2 or 4.

cisco_5010 = {
'device_type': 'cisco_nxos',
'ip': ip,
'username': user,
'password': password,
'verbose': False,
'global_delay_factor': 2,
}

On Wed, Dec 7, 2016 at 2:03 AM, Lior Franko <notifications@github.com>
wrote:

--
Kirk Byers
CCIE #6243 emer

[2016-12-07 16:35] rajatguptarg opened #337 "IOError: Search pattern never detected in send_command()"
Hi,

I am using netmiko and python to connect to Huawei device which runs some command and get the output from the device.

python version = 2.7.10

Code sample:

`output = self.net_connect.send_command('display board 0')`

where `net_connect` is netmiko object.

Error:

[code]

[2016-12-07 19:40] sbyount opened #338 "Error reading SSH protocol banner"
I have Paramiko and netmiko installed.  I created this simple script to connect to one of my routers.

from netmiko import ConnectHandler

cisco_3945 = {
    'device_type': 'cisco_ios',
    'ip':   '10.192.65.35',
    'username': '*******',
    'password': '*******',
    'port' : 22,          # optional, defaults to 22
    'secret': 'secret',     # optional, defaults to ''
    'verbose': False,

[2016-12-07 23:48] ktbyers commented on #338
@sbyount What version of Python and Paramiko are you using?

[code]

[2016-12-07 23:52] ktbyers commented on #337
Can you post your enable_config() method?

[2016-12-07 23:55] ktbyers commented on #326
@benjaminbudts What does this look like when you manually do it i.e. if you manually SSH in and do:

[code]

[2016-12-07 23:59] ktbyers commented on #327
@MgOmbodorj Why are you sending a question mark down the SSH session?

[code]

Note, in Netmiko you execute config changes by doing the following:

[code]

[2016-12-08 00:07] ktbyers commented on #333
@omershtivi If it goes to standard output, you should be able to capture the debugging.

This worked on a Cisco IOS device:

[code]

[2016-12-08 00:08] #333 closed

[2016-12-08 00:10] #319 closed

[2016-12-08 00:15] ktbyers commented on #323
You probably need to sleep between sending your command and trying to read data back

[code]

Note, I always use invoke_shell() in Paramiko.

[2016-12-08 00:15] #323 closed

[2016-12-08 00:16] ktbyers commented on #323
If you want to write a Netmiko driver for Mikrotik, then see the following document:

https://github.com/ktbyers/netmiko/blob/master/VENDOR.md

[2016-12-08 02:11] ktbyers commented on #322
@sjtarik I was able to get it working to a Cisco IOS device (Cisco 881 using the following):

[code]

[2016-12-08 02:13] ktbyers commented on #322
I need the username as Cisco IOS binds the key to a user in the config. Here is the manual SSH command that I used.

[code]

[2016-12-08 02:16] ktbyers commented on #322
@sjtarik What openssh command did you use to manually connect?

[2016-12-08 04:35] sbyount commented on #338
Looks like I have the same versions:

PS C:\users\zg46503\mypython\kirkbyers> python
Python 2.7.12 (v2.7.12:d33e0cf91556, Jun 27 2016, 15:19:22) [MSC v.1500 32 bit (
Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.

'2.0.2'

[2016-12-08 04:36] sbyount commented on #338
PS C:\users\zg46503\mypython\kirkbyers> python
Python 2.7.12 (v2.7.12:d33e0cf91556, Jun 27 2016, 15:19:22) [MSC v.1500 32 bit (
Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.

'2.0.2'

[2016-12-08 11:30] rajatguptarg commented on #337
The enable config method is:

[code]

[2016-12-08 18:13] ktbyers commented on #337
@rajatguptarg Yes, you probably don't want to do that in that way.

Use the Netmiko .enable() and send_config_set() methods instead.

send_config_set() should automatically handle entering and exiting of config mode. It takes a list of config commands.

Your earlier error is probably caused due to the fact that doing what you did above changes the prompt which then can cause problems with the send

[2016-12-08 18:13] #337 closed

[2016-12-08 18:22] ktbyers commented on #338
@sbyount And your device is a Cisco 3945? I assume the router is running SSH version2.

Do you get any clues as to what is happening if you debug SSH on the router side?

[2016-12-08 19:45] sbyount commented on #338
@ktbyers I tried with several devices.  All are running SSH v2.  I am able to putty to all of these devices just fine.  Other than SSH v2, are there any other requirements on on the target device to make your code work?  For example, does it matter if there is a banner or not?  Does it matter if TACACS is in use?  Does it matter if there is an enable secret pwd on the device?

[2016-12-08 20:08] ktbyers commented on #338
TACACS+ / banner might cause issues, but I would expect a different error than what you are seeing. Are you using TACACS+?

Enable secret shouldn't matter given where you are failing i.e. it is failing to connect at SSH level so enable secret wouldn't even get used at this point.

I saw the above 'Error reading SSH protocol banner' error with Dell Force10 switches once and we could never figure ou

[2016-12-08 22:20] sbyount commented on #338
@ktbyers  I will continue researching.  Does this code support telnet (23) as well as ssh?

[2016-12-08 22:26] ktbyers commented on #338
@sbyount It supports telnet for Cisco IOS. Use a device_type of 'cisco_ios_telnet'.

Rest should be the same.

[2016-12-09 00:07] sjtarik commented on #322
Hi Kirk, I am trying the same code on 3k and 6k machines. It does not work. Failing with same error.

For ssh, I can do either explicitly feed pub key file as your do or ssh user@server, both cases just work.

[2016-12-09 04:49] spikedrba commented on #332
@ktbyers totally yeah, I have 3 diff kinds of HPs deployed (15 total) and would love to automate their setup and maintenance with netmiko (and then wrap that into ansible with ntc-ansible).

[2016-12-09 05:44] admiralspark opened #339 "Cisco IOS Command "ip host $hostname $ipaddress" is not properly detected as config mode command"
The command used in Cisco IOS for setting a hostname within the configuration, example:
[code]
Is not properly being detected as a command to be run in configuration mode. This is likely due to the 'ip' command being available in 'enable' mode (Privileged EXEC Mode).

Need confirmation before moving forward, I only have two Cisco IOS-based devices available for testing.

[2016-12-09 06:21] ktbyers commented on #339
@admiralspark There is no detection of the mode a command is in. You need to send it as a configuration change i.e.

[code]

[2016-12-09 07:32] admiralspark commented on #339
Oh man, I'm an idiot, very sorry for that--just looked and the rest of my working code is sending config sets...

Thanks @ktbyers

[2016-12-09 07:32] #339 closed

[2016-12-09 15:36] ktbyers commented on #339
@admiralspark It is all good :-)

[2016-12-09 20:44] ebeahan opened #340 "Informational: invoke_shell() broke in Paramiko 2.1"
Paramiko 2.1 was released recently (on 12/9/16) and due to a bug causes the following exception when running `ConnectHandler` to establish a device connection:

[code]

The issue is internal to Paramiko, and I've opened an issue on their end:

https://github.com/paramiko/paramiko/issues/859

[2016-12-12 12:12] ogenstad commented on #325
If you want to you can use the hostinfo function from my nelsnmp lib:

https://networklore.com/nelsnmp-hostinfo/

`pip install nelsnmp`

[code]

[2016-12-13 16:06] ebeahan commented on #340
This issue was resolved: https://github.com/paramiko/paramiko/issues/859#event-891263354

[2016-12-13 16:06] #340 closed

[2016-12-13 17:27] ktbyers commented on #322
@sjtarik Can you post the code that is failing (a simplified version) and the exception that you are getting. I want to see if I can reproduce the problem.

[2016-12-13 17:30] ktbyers commented on #338
@sbyount Can you turn on Paramiko logging and see if you get more information on what is occuring?

Add the following to your script and then run it. A file named test.log should get created in your current working directory.

[code]

[2016-12-13 17:31] ktbyers commented on #327
@MgOmbodorj Just re-open this if you are still having an issue.

[2016-12-13 17:31] #327 closed

[2016-12-13 17:31] ktbyers commented on #326
@benjaminbudts Just re-open this if you are still having an issue.

[2016-12-13 17:31] #326 closed

[2016-12-13 17:32] ktbyers commented on #335
@liorfranko Just re-open this issue if you are still having a problem.

[2016-12-13 17:32] #335 closed

[2016-12-13 17:34] ktbyers commented on #318
What happens if you create a Python script with the following:

[code]

And then run it (with the correct ip, username, and password).

[2016-12-13 19:29] sbyount commented on #338
Thanks Kirk, I will give it a shot and get back to you.

[2016-12-13 19:54] sbyount commented on #338
I get the following when I attempt to connect to a router with a local uname/pwd.

DEBUG:my_log:This message should go to the log file
DEBUG:paramiko.transport:starting thread (client mode): 0x28a3630L
DEBUG:paramiko.transport:Local version/idstring: SSH-2.0-paramiko_2.0.2
ERROR:paramiko.transport:Exception: Error reading SSH protocol banner
ERROR:paramiko.transport:Traceback (most recent call las

[2016-12-13 20:22] ktbyers commented on #338
Okay, first case (just username and password). It looks like you never receive an SSH banner. What happens when you:

[code]

Where x.x.x.x is the IP you are trying to connect to? Do this from the same box you are running your script from. In other words, this looks like you are never connecting via SSH (maybe a VTY ACL is blocking connection?).

Second case (TACACS+), you actually connected via S

[2016-12-13 21:12] sbyount commented on #338
Looks like the first case was invalid.  That box no longer has a uname/pwd on it so don't worry about that.

I am pleased that the second device actually connected, because TACACS+ is how we connect in prod.  I tried both of the global delay factors and got the same errors.

DEBUG:my_log:This message should go to the log file
DEBUG:paramiko.transport:starting thread (client mode): 0x2835650L
DEBUG

[2016-12-13 22:10] ktbyers commented on #338
@sbyount What Python exception do you get in the TACACS case i.e. what do you see from your Python script when you try to run it?

[2016-12-14 01:23] rwwelford commented on #311
I was also experiencing this issue for HP Procurve 2600 and 2610 devices.  However, I was able to solve my problem by adding a line to the find_prompt() function of the base_connection.py file.

In that function is a section of code that handles the case where the prompt variable contains only a newline.  The change I made was to strip the newline character from the prompt variable so that it pass

[2016-12-14 11:45] xdkreij opened #341 "Python 2.6 - WLC connection returns ValueError: zero length field name in format"
Hello all,

Hope you're doing well. Running into a .format() issue with python 2.6 when connecting to a WLC.
This results into the following:

[code]

Unfornatately i'm unable to test the "raise ValueError("Unable to find prompt: {}".format(prompt))"
in base_connection.py since i'm not root at the specific server its running on, and its the only way to connect to the WLC via that server. (Asked th

[2016-12-14 16:32] rwwelford commented on #341
This issue sounds very similar to the one raised on November 11 for  [some HP Procurvedevices:](https://github.com/ktbyers/netmiko/issues/311)

You might want to try the suggestions offered there to see if they resolve your issue as well.

[2016-12-14 17:02] ktbyers commented on #341
@xdkreij Yes, that is a Python2.6 bug...but you also have a second issue which is you failed to complete the connection.

In other words, you would only get to this location if the connection failed to complete.

I would probably try setting the

[code]

This is an argument to ConnectHandler (you might also want to try 4)

[2016-12-14 17:02] ktbyers commented on #341
@rwwelford That "Unable to find prompt" is the generic message you are going to get on pretty much all platforms if the connection fails to complete.

[2016-12-14 17:36] ktbyers commented on #311
@rwwelford Where did the above find_prompt() method come from?

Current find_prompt() method in Netmiko 1.1 and dev_1_2 branch already are doing strip() at the end.

[2016-12-14 18:12] rwwelford commented on #311
I'm using Netmiko 1.1.0.  There is indeed a strip() at the end - after the while loop as well as inside the while loop.  The problem I was having is that when the prompt that I had received only contained a newline character I was not satisfying the while loop conditional test.  That is, the test was failing on the "and not prompt" part of the test.  Striping the newline immediately before the whi

[2016-12-14 18:32] ktbyers commented on #311
@rwwelford What does the prompt on the failing device look like?

Here is the current find_prompt:
[code]

[2016-12-14 18:39] ktbyers commented on #311
@rwwelford Okay, if I am understanding you correctly, you are saying that your prompt (on line 593 above) would contain only whitespace so it would never enter the while loop?

[2016-12-14 18:44] rwwelford commented on #311
You are essentially correct.  My prompt at line 593 only contained the newline character.

Here is my modified find_prompt:
[code]

[2016-12-14 18:48] ktbyers commented on #311
@rwwelford Okay, I will move line 520 to happen after 522.

In other words, the ANSI escape characters must be screwing this up.

[2016-12-14 18:50] rwwelford commented on #311
I suppose that a newline character doesn't qualify as a "True" boolean.

[2016-12-14 18:51] ktbyers commented on #311
Yes, Python will treat the following as boolean True.

[code]

[2016-12-14 18:52] ktbyers commented on #311
Okay, thanks for pointing this out...I have made a change and am running unit tests now.

[2016-12-14 18:56] rwwelford commented on #311
Thanks Kirk.  This library is very useful for us and I appreciate the work you put into it.

[2016-12-14 21:34] ktbyers commented on #311
Okay, the fix for this is in the dev_1_2 branch

https://github.com/ktbyers/netmiko/commit/71d4bab023e68d50f369553b2b8325452d270fbf

[2016-12-14 21:34] #311 closed

[2016-12-15 16:44] sbyount commented on #338
PS C:\Users\zg46503\MyPython\kirkbyers> python testconnect.py
C:\PYTHON27\python.exe: can't open file 'testconnect.py': [Errno 2] No such file
 or directory
PS C:\Users\zg46503\MyPython\kirkbyers> python test_connect.py
Traceback (most recent call last):
  File "test_connect.py", line 39, in <module>
    net_connect = ConnectHandler(**cisco_1002x)
  File "C:\PYTHON27\lib\site-packages\netmiko\ssh_

[2016-12-15 17:12] ktbyers commented on #338
@sbyount Does your TACACS+ login take a long time (when doing it manually)?

Try adjusting the global_delay_factor and see if it works?

[code]

[2016-12-15 17:13] ktbyers commented on #338
The above error is saying it never received any data after logging in (i.e. it is expecting to read something on the SSH channel).

[2016-12-15 23:27] sjtarik commented on #322
hi @ktbyers, I use exactly the following code and received the exception.
[code]

net_connect = netmiko.ConnectHandler(**net_device)
File "/usr/local/rancid/cicd/venv/local/lib/python2.7/site-packages/netmiko/ssh_dispatcher.py", line 96, in ConnectHandler
return ConnectionClass(*args, **kwargs)
File "/usr/local/rancid/cicd/venv/local/lib/python2.7/site-packages/netmiko/base_connection.py", line 89

[2016-12-16 08:14] xdkreij commented on #341
Ok, thanks for the feedback. Tested it with python 2.7 and 3.5, which works :)

[2016-12-16 14:41] maximumG commented on #325
@ogenstad : seems to be a interesting lib.
However I prefer not to use it for now as netmiko dependency might grow to much.

@ktbyers : which way do you prefer to handle SNMP query for the OSGuesser ? If you prefer to use *nelsnmp* I can modify the code easily.

[2016-12-17 08:43] devinmcintyre opened #342 "Feature Request"
Have you thought of adding a "reload" method to the Netmiko library?  For example, "net_connect.reload()", which would send a "reload" command down the channel, expecting this prompt:

![capture](https://cloud.githubusercontent.com/assets/23405619/21285500/e2bfa8fe-c3ff-11e6-9c41-85d0bf7a905e.PNG)

And then sending "y" down the channel to initiate the reboot.  I've been playing around with automat

[2016-12-18 20:02] ktbyers commented on #342
@devinmcintyre

You can just do:

[code]

[2016-12-18 20:18] ktbyers commented on #325
@maximumG Let me review what you have. I probably prefer your current solution, but I have only quickly glanced at it.

[2016-12-19 17:55] devinmcintyre commented on #342
This solves my issue, thanks Kirk!

[2016-12-19 17:55] #342 closed

[2016-12-19 20:08] atabb opened #343 "IOError: Search pattern never detected in send_command_expect: \(Cisco\ Controller\)\ \> when getting to prompt "Are you sure you want to start? (y/N)""
Hello,

Getting the following error,

Traceback (most recent call last):
  File "/Users/atabbakh/PycharmProjects/training/netMiko.py", line 21, in <module>
    device.send_command('transfer download start\n')
  File "/Library/Python/2.7/site-packages/netmiko/base_connection.py", line 673, in send_command
    search_pattern))
IOError: Search pattern never detected in send_command_expect: \(Cisco\ C

[2016-12-19 20:56] atabb commented on #343
Wanted to mention that the device i am connecting to is a CISCO 5508 WLC, i'm trying to write a script that upgrades the code, right now i'm writing the basic script for it.

[2016-12-19 21:17] ktbyers commented on #343
@atabb

Try changing the end of your script to:

[code]

Let me know if that works or not.

[2016-12-19 23:07] atabb commented on #343
thank you, that worked!

[2016-12-19 23:07] #343 closed

[2016-12-20 02:32] ktbyers commented on #341
@xdkreij I am going to keep this issue open as there is an error here on Python2.6 (i.e. this a bug in Python2.6).

[code]

[2016-12-20 14:02] sarandafl opened #344 "Netmiko not returning MAC Address Table properly"
When running `sh mac address-table` on my switch I get the following output:
[code]

But netmiko returns following:
[code]

Switch info:
cisco WS-C2960S-48TS-S (PowerPC)
System image file is "flash:c2960s-universalk9-mz.150-1.SE2.bin"

[2016-12-20 19:35] tyler-8 commented on #344
What is the issue aside from the total number of MACs being different between the two?

[2016-12-23 11:05] sarandafl commented on #344
I am trying to find this MAC int the mac address-table `0021.86fc.2dbc`. But the table netmiko returns has this MAC on another port.

[2016-12-25 13:05] #204 closed

[2016-12-28 00:49] ktbyers commented on #344
@sarandafl That is not a netmiko issue, but the MAC address moved to be off another switchport. Netmiko is returning the information that exists in your network.

[2016-12-28 00:49] #344 closed

[2016-12-28 00:57] ktbyers commented on #341
FYI, I am removing support for Py2.6 in Netmiko 1.2. You should use Python27 (in a virtualenv to maintain support).

[2016-12-28 00:57] #341 closed

[2016-12-28 00:57] ktbyers commented on #143
Removed in develop branch (will take effect in Netmiko 1.2)

[2016-12-28 00:57] #143 closed

[2016-12-28 09:46] liorfranko commented on #335
'1.1.0'

And the delay solved the issue.
Thanks!

[2016-12-30 01:21] tyler-8 opened #346 "HP Procurve Logout Process Incomplete"
The HP Procurve logout process looks like

    switch# exit
    switch> exit
    Do you want to log out (y/n)? y
However netmiko currently only does one `exit` before closing SSH connection. This results in the following syslog message:
`ssh: AM1: read error Connection reset by peer, session aborted`

[2017-01-03 12:24] bulyhome opened #347 "Linux - error when changing directory"
I am using Windows 7 (64 bit) and Python 3.5 (64 bit) with Paramiko 2.1.1 and Netmiko 1.1.0
I need to connect to multiple Linux hosts using ssh, run several commands there and then disconnect.
When trying to change the current directory, I get error:

Traceback (most recent call last):
  File "script_v5.py", line 13, in <module>
    output = device.send_command(command)
  File "C:\Program Files\Py

[2017-01-03 12:29] bulyhome opened #348 "Linux - error when disconnecting"
I am using Windows 7 (64 bit) and Python 3.5 (64 bit) with Paramiko 2.1.1 and Netmiko 1.1.0
I need to connect to multiple Linux hosts using ssh, run several commands there and then disconnect.
When trying to disconnect, I get error:

Traceback (most recent call last):
  File "script_v5.py", line 17, in <module>
    device.disconnect()
  File "C:\Program Files\Python35\lib\site-packages\netmiko\bas

[2017-01-03 18:10] ktbyers commented on #348
@bulyhome So does everything work properly and it only fails on disconnect?

[2017-01-03 18:13] ktbyers commented on #347
I recommend that you try using:

[code]

Basically your prompt is changing on the 'cd' operation and that is causing the send_command() method to fail.

[2017-01-03 18:13] #347 closed

[2017-01-03 21:10] bulyhome commented on #348
Yes, that's the case, everything is ok except the disconnect. I will try 'exit' command as a workaround.

[2017-01-04 07:39] bulyhome commented on #347
I tried that and it worked, thanks a lot.

[2017-01-05 23:05] bdugg21 opened #349 "Send Command failing for Panorama"
device = ConnectHandler(device_type='paloalto_panos', ip=panorama, username = username, password = password)

u''

**u'set \r\x1b[K\n'**

[2017-01-06 07:40] nkaliape opened #350 "code-review - why normalize_linefeeds in cisco_xr_ssh.py"
Why do we need static method when we have 'normalize_linefeeds' already in base definition?

telnet xr connection does NOT get the commit implementations of XR.
Ideally OO looks like Base -> CiscoBase -> CiscoSSHConnection -> XR_SSH
                                                                  -> CiscoTelnetConnection -> does NOT have commit/other methods (lost in cisco_xr_ssh)

Does it need r

[2017-01-06 23:28] sindhujit commented on #211
I am facing issues with this error:- Router prompt not found.
I am trying to achieve ssh functionalities for cisco aci in our infrastructure..

[2017-01-06 23:44] ktbyers commented on #211
@sindhujit That is a very generic error...if you are not using HPE Comware7, please open a new issue on GitHub.

[2017-01-07 20:57] ktbyers commented on #350
@nkaliape The staticmethod question is independent of whether we need normalize_linefeeds in cisco_xr_ssh.py or not.

normalize_linefeeds is needed because it is different than the normalize_linefeeds in base.

Currently, there is no telnet implementation for Cisco XR.

Yes, if someone wants to build a telnet implementation we should probably have something like the following (I need to do a simil

[2017-01-07 21:01] ktbyers commented on #349
@bdugg21 Yes, Panorama isn't supported.

Why not use the Panorama API?

[2017-01-07 21:03] ktbyers commented on #318
Not enough information.

[2017-01-07 21:03] #318 closed

[2017-01-07 21:04] ktbyers commented on #279
This is done, here and some other commits:

https://github.com/ktbyers/netmiko/commit/a1c1c7a6c62aa3af937d591e0285e0b2c23e3a3a

Still might be improvmeents to be made.

[2017-01-07 21:04] #279 closed

[2017-01-07 21:05] #255 closed

[2017-01-09 13:18] ogenstad opened #351 "Router prompt not found for Cisco ACE"
Trying Netmiko with some Cisco ACE devices. Don't know if it's supposed to be supported. I just assumed that I would be able to set `device_type='cisco_ios'`.

The installation I was using Netmiko 0.5.1 and basically it worked, however it was inconsistent as in:

[code]

There are a number of devices I'm trying to connect to and some of them seem to work better.

Logging on with an ssh client look

[2017-01-09 14:41] bdugg21 commented on #349
@ktbyers thanks. I can use the api, however I'm migrating objects to a shared device group so there are over 3000 commands that I already had scripted. I just now have to modify the script make api calls instead.

[2017-01-09 14:41] #349 closed

[2017-01-09 15:16] sindhujit opened #352 "ANSI Escape codes in output of Cisco APIC"
Hi,
   I am using Django/Python for network automation in our Cisco ACI infrastructure. However, I always get this error:- **Router prompt not found** when I am using netmiko. I have done the basic required modifications needed, like changing the delays in base_connection.py and also adding global delay variable, but nothing seems to work. Does netmiko support Nexus 9k devices, or is it missing i'

[2017-01-09 17:23] ktbyers commented on #352
@sindhujit Can you post the part of your code that is failing and the error message (strip out anything that is confidential).

[2017-01-09 17:32] ktbyers commented on #349
...there might be some workaround. Someone would have to update Netmiko to support Panorama (I have not idea what the Panorama interface looks like).

[2017-01-09 17:36] ktbyers commented on #351
@ogenstad If I generate an ACE driver, can you test it?

[2017-01-09 17:38] sindhujit commented on #352
cisco_881 = {
	'device_type': 'cisco_nxos',
	'ip': 'not essential(x.x.x.x)',
	'username': 'admin',
	'password': 'Can't disclose this',
	'port' : 22, # optional, defaults to 22
	'secret': 'secret', # optional, defaults to ''
	'verbose': False, # optional, defaults to False
	# 'global_delay_factor' : 3,
	}
	device = ConnectHandler(**cisco_881)
	# print(device.find_prompt())
	print(device)
	output =

[2017-01-09 17:43] ktbyers commented on #352
What happens if you set the global_delay_factor to 3?

Kirk

[2017-01-09 17:50] sindhujit commented on #352
same thing..

[2017-01-09 17:50] ktbyers commented on #352
What does an SSH login to the switch look like (if you do it manually)?

[2017-01-09 17:52] sindhujit commented on #352
it asks for the login and pwd, and after logging in gives me a prompt like apic1#..
i was successful in setting up paramiko though.

[2017-01-09 17:55] ktbyers commented on #352
Yes, you need to post it here (I need to see it)...wrap in triple backticks so it doesn't get munched by the markdown.

[2017-01-09 18:00] sindhujit commented on #352
its like:-
[code]

[2017-01-09 18:03] ktbyers commented on #352
@sindhujit Some reason you can't post the real output? I can't really fix the issue without the real output.

[2017-01-09 18:13] sindhujit commented on #352
this is all:-

login: admin
password:
last login: Mon Jan 9 18:51:45 from 10.68.14.119
apic1#

[2017-01-09 18:19] ktbyers commented on #352
In your above code, can you do the following:

[code]

and show me the output?

[2017-01-09 18:26] sindhujit commented on #352
it's the same..
Exception Value:
Router prompt not found: [1m[7m%[m[1m[0m                                                                                [0m[m[m[Japic1# [K

also where the server is listening, i get a 500 http error.. and it prints nothing..
think its failing at the connecthandler.. if i put it in a try except block, it catches the exception..

[2017-01-09 18:31] ktbyers commented on #352
Okay, let me look into it.

[2017-01-09 19:42] vtocco commented on #352
Hi Kirk,
I tried this on a switch inside the ACI environment and that works fine, its just the ACI controller sends out that prompt garbage. It does't look like strip_ansi_escape_codes removes all of it (when it's set to True in base_connection.py).
This is the output from find_prompt() with self.ansi_escape_codes = True:
"[1m[7m%[m[1m[0m

[2017-01-09 19:43] vtocco commented on #352
Try again with code view:
`'[1m[7m%[m[1m[0m                                                                                [0m[m[m[Japic1#'`

[2017-01-09 19:46] ktbyers commented on #352
@vtocco Okay, that helps...yes, that was what I thought might be going on (i.e. that there were ANSI codes in the output).

You can see the prompt is there.

[2017-01-09 19:55] ogenstad commented on #351
Since Cisco ACE is end of life it would perhaps be cleaner to be able to solve it within the Cisco IOS driver. Seems to be just a small timing issue. But perhaps you don't want to add the code to the ios driver?

I can take a look too, reported it here mostly not to forget the details. But if you know what's going on, sure I can test new code.

[2017-01-09 20:49] ktbyers commented on #351
Yes, from the above, it looks like there is just not enough delay at login (which is why setting the global_delay_factor fixes it). We could possibly add an additional slight delay to the cisco_ios driver in the session_preparation() method.

[2017-01-09 21:59] sindhujit commented on #352
@ktbyers thanks for the insight.. is there a way to remove these codes?  the code fails at device = ConnectHandler(**cisco_881), so i have no scope of removing the ANSI codes , since thats the 1st line of connection. it stops there and exits.. is there a way u could update the library file?

[2017-01-11 19:04] sindhujit commented on #352
@ktbyers any update on this, sir?

[2017-01-11 20:38] ktbyers commented on #352
@sindhujit Do you have 'terminal color' configured on your device?

It might be the same issue as this:

https://github.com/ktbyers/netmiko/issues/164

[2017-01-12 01:20] ktbyers commented on #352
Okay, those look like this:

off = '\x1b[0m' # off
bd = '\x1b[1m' # bold
rv = '\x1b[7m' # reverse

[2017-01-12 13:07] bambam82 opened #354 "Cisco_asa 9.2(4)5"
Code to set up the connection.
[code]

This will give the following output:
[code]

Firewall is running in multi-mode with the following SSH parameters:
ssh stricthostkeycheck
ssh timeout 20
ssh version 2
ssh key-exchange group dh-group1-sha1

Hope you are able to help out.
PS. Love your product!

[2017-01-12 19:11] ktbyers commented on #354
It looks like it failed going into enable mode on the ASA.

Can you post the CLI output of a login and going into enable mode for this device...remove any sensitive information.

Thanks...

[2017-01-13 09:26] bambam82 commented on #354
Hi Kirk, thanks for the swift response.
It seems that i provided the 'other' enable password I use for the switches. (feeling silly).
thanks anyway.

[2017-01-13 09:26] #354 closed

[2017-01-16 11:36] marktongarcia commented on #231
hi Saadi,

How did you fix the issue?  Also, can you please share your code?  I'm trying to achieve the same thing using netmiko but it wont work.  I am able to send a single command to several devices  but not able to send multiple commands.  send.config.set doesn't seem to work.

thanks in advance.

[2017-01-17 02:07] saadi381 commented on #231
Hi ; I actually ended up using "for loop" ; here is a snippet to what i did.. I am just a starter in python so its not very clean code

                                    net_connect = ConnectHandler(**jumphost)
                                    output = net_connect.send_command("ssh " +str(host))
                                    print (output)
                                    file = open

[2017-01-17 04:49] marktongarcia commented on #231
Hi Saadi,

Thanks for sharing your code.  I will take time though to analyze this as I'm a complete noob.  Not really a programmer but since I'm handling hundreds of access switch and distribution switches, network automation would really help me a lot.

I'll update you and share my work once I get it fully functional.  It will be coded to run on windows python btw.

Kind regards,
Mark

[2017-01-17 10:18] keefbaker opened #358 "Another timed out reading channel (cisco 5525)"
Hi,

First of all thanks for your great work with netmiko. However I have a cisco ASA 5525 that doesn't appear to be connecting properly.

First of all versions:
[code]

The error is as follows:

[code]

When turning the logging on in paramiko I can see that it does in fact get as far as logging in:

[code]

But it doesn't get any further.

The small snippet of code I have (as I trimmed it to a ve

[2017-01-17 17:03] ktbyers commented on #358
You need to a 'secret'. ASA with Netmiko always requires a secret.

[code]

[2017-01-18 08:16] vipbhati commented on #117
Hi,

I am trying to save the memory of a router IOS. It gives me the following error :

![image](https://cloud.githubusercontent.com/assets/25195283/22055935/8b68cc0a-dd83-11e6-8b4b-5457498f6c62.png)

When I execute the command manually , i need to hit enter after the "confirm" message:
Router#wr mem
Warning: Attempting to overwrite an NVRAM configuration previously written
by a different version

[2017-01-18 12:20] duraipandi opened #359 "Exception Thrown when linux prompt end with other special characters other than $ or #."
... 'device_type':'ovs_linux',
... 'ip':'bgl-xdm-100',
... 'username':'dsoundra',
... 'password':'Kalaiselvi9751$'
... }

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\dsoundra\AppData\Local\Programs\Python\Python35\lib\site-packages\netmiko\ssh_dispatcher.py", line 100, in ConnectHandler
    return ConnectionClass(*args, **kwargs)
  File "C:\Users\dsoun

[2017-01-18 18:14] ktbyers commented on #359
It is expecting your prompt to either terminate in '$' or in '#'.

[2017-01-18 18:15] ktbyers commented on #359
Why do you need your prompt to terminate in a special character?

[2017-01-18 18:16] #358 closed

[2017-01-18 18:17] #350 closed

[2017-01-18 18:17] ktbyers commented on #325
We implemented a PR on this...so closing this issue.

[2017-01-18 18:17] #325 closed

[2017-01-18 18:18] ktbyers commented on #338
No further info...so closing.

[2017-01-18 18:18] #338 closed

[2017-01-18 22:38] wmann commented on #346
Maybe the logout command is better.

[2017-01-19 02:16] sbyount commented on #338
Thanks.  I just got a dedicated 891 router at works so I will be trying a new approach with that.  If I have issues I will open another ticket.

[2017-01-20 06:37] Rashmi-Nuviso opened #361 "Need an info : how do we ssh to the linux machine"
Hi Kirk ,

I have tried to ssh to the linux machine using the below python script ,

####Trial 1#####
from  netmiko import ConnectHandler
cisco_260 = {'device_type': "linux",'ip':'10.100.x.x',  'username': "root",  'password': "Test123$"}
net_connect = ConnectHandler(**cisco_260)
output = net_connect.send_command("ls -lrt")
print output

Traceback (most recent call last):
  File "login.py", line 3

[2017-01-20 13:38] ebeahan commented on #361
@Rashmi-Nuviso Looks like you're using a quite old version (0.2.5) of netmiko. Can you try installing the latest release (1.2.5) and see if that fixes your issue?

[2017-01-20 22:02] tyler-8 commented on #346
logout still has a prompt for logout, as well as an additional prompt asking if you want to save the current configuration.

[code]

[2017-01-23 09:26] ogenstad commented on #351
Well since it works when I change the timing settings I would say that it is a timing issue.

Actually I'm running this against six devices. Two of them are ACE4710 and four are ACE30 modules (sitting in 6500 chassis). I don't think I've seen the issue against the ACE4710 devices but against the ACE30 devices it becomes unreliable. Sometimes it works and other times it doesn't.

Haven't had time t

[2017-01-24 05:25] Rashmi-Nuviso commented on #361
have installed the latest Netmiko . As suggested here and as well as in the netmiko slack channel . Thanks for the clarification . hence closing this item here .

[2017-01-24 05:25] #361 closed

[2017-01-24 11:53] sarandafl opened #362 "Cisco WLC save config"
When using `ssh_session.send_command('save config')`

I get the following error:
[code]

Which is the correct way to save the config?

The SSH commands look like this:
[code]

[2017-01-24 14:50] ktbyers commented on #362
@sarandafl Use send_command_timing() method

[code]

[2017-01-24 14:50] #362 closed

[2017-01-24 15:33] bambam82 opened #364 "Configuring a switch"
Hi,

I've written a piece of code to configure cisco switches. I've tried to load it from a file and now also using a generator to split it into multiple pieces since I was running into a ValueError "Failed to exit configuration mode".

I've tried it on 2960X/S and 3560V2 switches. Please let me know if you need anything else.

[code]

the specific piece of code:
[code]

[2017-01-24 16:35] ktbyers commented on #364
@bambam82 Which 'config_commands' is it failing on (i.e. what is the value of 'lists' when it fails)?

[2017-01-25 07:09] bambam82 commented on #364
Hi Kirk,

This is the first group of commands.
[code]

I turned on debug in 'def send_config_set'. Below is the output when applying the same 'lists'.

[code]

The delay_factor has been increased also to 1.0.

[2017-01-29 16:55] ktbyers commented on #364
@bambam82 What does the CLI output of "macro apply ise" look like when you do it manually via SSH.

How long does 'macro apply ise' take to complete when you do it manually?

[2017-01-29 16:55] #359 closed

[2017-01-29 17:23] duraipandi commented on #359
it is up to user to set  linux prompt .

temp-linux-100:~ >

[2017-01-29 19:34] bambam82 commented on #364
@ktbyers the output "macro apply ise" doesn't show anything. It will continue as any other command. It will take a few seconds, depending on the latency between the device and the ACS server, since each subcommand of the macro is verified.

fa0/2 was already processed correctly, before Fa0/3 failed and also the commands to create the actual macro. It isn't consistent when the program crashes.
I've

[2017-01-29 19:50] ktbyers commented on #351
@ogenstad I added a fix here:

https://github.com/ktbyers/netmiko/commit/a03638c1a2447204841bbd62af2d9c8d7b8ff60c

Can you test it? You can still use a device_type of 'cisco_ios'.

This is a general issue that people are running into with Netmiko (i.e. it is not robust enough on reading all the banner/header information post login). So I am trying to fix/improve that issue.

[2017-01-29 21:12] ktbyers commented on #267
https://github.com/ktbyers/netmiko/commit/b04fcae4368ef9dea3ab5255507766cb2512b413

[2017-01-29 21:12] #267 closed

[2017-01-29 21:24] ktbyers commented on #359
@duraipandi I didn't understand? Is this a question?

Screen scraping has to make certain assumptions, one of them being what the prompt looks like.

[2017-01-30 13:33] ogenstad commented on #351
This seems to have solved the issue. Thanks!

[2017-01-31 22:23] ktbyers opened #365 "Is telnet code overly sensitive to increases in delay factor"

[2017-02-01 14:48] benjaminbudts opened #366 "Huawei search pattern issues"
Hi Kirk,

Have more time to debug, would love to see your script working on Huawei and can provide you as much feedback as needed as im on a fulltime huawei firewalling/switch project at the moment.

through your example I get :

...         'device_type': 'huawei',
...         'ip': '192.168.1110.110',
...         'username': 'xxxxx',
...         'password': 'xxxxx',
... }

u'HRP_A<hostname>'

Tr

[2017-02-01 22:04] ktbyers commented on #366
@benjaminbudts Here is what Netmiko is currently trying to do (to disable paging on Huawei)

screen-length 0 temporary

Does this work if you do it manually i.e. does this correctly disable paging on the above device?

[2017-02-01 22:23] ktbyers commented on #322
From another user:

[code]

[2017-02-01 22:28] Badgerpoo commented on #322
For info: above debug output was gained using python code in an earlier comment, against a Cisco 2960S running 15.0(2)SE10a.

SSHing from bash directly using the same key works.

[2017-02-02 21:24] #170 closed

[2017-02-03 14:15] benjaminbudts commented on #366
screen-length 0 temporary   <-- I do not have this command on the huawei firewalls or switches I'm using.

I have to go under the vty 0 4 interface to configure "screen-length 0"  permanently to overcome this.

Another option I discovered is to use "| no-more"   This is actually something that could replace your screen-length 0 temporary.

Problem with huawei is that command lines slightly differ

[2017-02-03 14:21] benjaminbudts commented on #366
When I add "| no-more" it works on the huawei commandline. the " --- MORE ---" is gone and he prints everything in one go. But with netmiko it gives an error :

u'HRP_A<hostname>'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/netmiko/base_connection.py", line 761, in send_command
    search_pattern))
IOError: Search pattern

[2017-02-04 16:37] ktbyers commented on #366
Okay, what type of Huawei is this? In other words, we need to categorize the different huawei products (as far as software behavior).

[2017-02-05 09:50] bambam82 commented on #364
@ktbyers , were you able to have a look at this issue? If i can do anything to assist, please let me know.

[2017-02-06 10:31] benjaminbudts commented on #366
Hello Kurt,

USG firewall series, all have same cmdline. in my case the USG6680
and cloudengine switches CE5800 series  both share the same « | no-more »  commandline to get rid of the paging issues

Regards,
Benjamin

[2017-02-06 18:19] ktbyers commented on #366
@benjaminbudts Okay, we need to make a new Netmiko platform huawei_usg.

Here is the general process:

https://github.com/ktbyers/netmiko/blob/develop/VENDOR.md

[2017-02-06 19:12] ktbyers commented on #364
@bambam82 Let me see if I can reproduce the issue.

[2017-02-08 15:09] FuzzyCCIE opened #368 "Buffer size issues"
Hi,

I am trying to pull a config from a cisco device but i can only get the first 133812 bytes. is there a method to increase the buffer size?

Cheers

[2017-02-08 15:30] FuzzyCCIE commented on #365
not at all

[2017-02-08 21:05] ktbyers commented on #368
What is the Python/Netmiko command you are running to retrieve the config?

[2017-02-08 21:05] #365 closed

[2017-02-09 07:50] FuzzyCCIE commented on #368
I'm using the send_command('show run') command but i also tried the the other variants of the same command including send_command_expect.

I've also ive increase the time out with the global_delay_factor option.

The command always seem to return the same amount of data regardless

[2017-02-09 20:14] FuzzyCCIE commented on #368
I've increased the delay to 30 with the same issue. The device is a stack switch and it stops halfway through the interfaces section. Always at the same point. It actually stops half way through a line which says authentication group

[2017-02-09 20:48] ktbyers commented on #368
And there is no exception...it just gives you the data back?

[2017-02-10 06:44] nkaliape commented on #322
{'look_for_keys': False, 'password': 'mypass', 'hostname': 'x.x.x.x', 'timeout': 8, 'port': 22, 'key_filename': None, 'allow_agent': False, 'username': 'root'}
Same issue "no existing session" on IOSXR device when attempted to connect.
Normal ssh works fine.
Only netmiko/paramiko throws the exception.

ssh -V
OpenSSH_5.3p1, OpenSSL 1.0.1e-fips 11 Feb 2013

lsb_release -a
LSB Version:	:base-4.0-amd

[2017-02-10 07:56] FuzzyCCIE commented on #368
correct it just return ~130,000 bytes no exceptions, the command is wrapped
in a python try expetion handler. PC has plenty of RAM availiable

On 9 February 2017 at 20:48, Kirk Byers <notifications@github.com> wrote:

--
<a href="
https://www.mcpvirtualbusinesscard.com/VBCServer/11a88605-ea5a-44e7-a0ee-4b55ab2e6c8b/interactivecard">View
my MCP Certifications</a>

[2017-02-10 17:42] ktbyers commented on #368
@FuzzyCCIE What version of Netmiko are you using:

[code]

[2017-02-10 17:43] ktbyers commented on #322
@nkaliape Yes, I think that was different as you are not using SSH keys.

[2017-02-10 18:14] ktbyers commented on #364
@bambam82 I don't see any issue when I test this:

[code]

[2017-02-10 18:18] ktbyers commented on #364
@bambam82 Also, can you post the 10 lines before and after this:

[code]

[2017-02-10 21:13] ktbyers commented on #364
@bambam82 You might also want to try to completely get rid of the macro and do the same thing at the Python level (i.e. just make a list with all your config commands directly in it and apply that list to whatever interfaces that are relevant).

[2017-02-13 17:41] ktbyers opened #369 "Create a generator for a list of show commands"
Something like:

[code]

[2017-02-14 01:39] #366 closed

[2017-02-14 01:39] #351 closed

[2017-02-14 20:12] #346 closed

[2017-02-14 20:22] #81 closed

[2017-02-15 19:19] multipl3x opened #370 "Prompt search pattern not detected (telnet from inside router)"
I am trying to establish telnet sessions from within a group of routers, which is presented as a list of IP addresses.

[code]

I call this function twice per IP address specified in a list, once to get a list of the IP addresses I need to iterate over for telnet and once to ssh in to each IP address in the list, and establish the appropriate telnet sessions.

[code]
The second part establishes th

[2017-02-16 02:04] ktbyers commented on #370
Try using `send_command_timing()` method and not `send_command()` method.

After you do the `send_command_timing()` command, then update the base prompt with `net_connect.set_base_prompt()`

[2017-02-16 10:47] FuzzyCCIE commented on #368
I stripped out the section of code that just retrieves the commands from
the switch and it returns exactly what I expected so there must be an issue
somewhere else in the code. Netmiko looks to be fine. thanks for the help,
not sure what the issue is unless i've hit an internal limit on passing
lists.

just for the record I was using 1.2.5 :)

On 10 February 2017 at 17:42, Kirk Byers <notification

[2017-02-16 17:08] ktbyers commented on #368
@FuzzyCCIE Okay, will close this issue.

[2017-02-16 17:08] #368 closed

[2017-02-17 11:09] pelijaro opened #373 "Dell Force10 EOFError"
Hi friend i'm using netmiko module for DELL FORCE F10 switch. I only need to do "show interfaces status" and this doesn't work, this is the error:

No handlers could be found for logger "paramiko.transport"
Traceback (most recent call last):
  File "connect.py", line 13, in <module>
    net_connect = ConnectHandler(**dell_f10)
  File "/usr/local/lib/python2.7/dist-packages/netmiko/ssh_dispatcher.p

[2017-02-17 12:01] 1001QAdotNET opened #374 "How do I use netmiko with a jump box (SunOs)"
Hi guys

Our access to network devices is controlled via a jump box. Any session must be initiated from this box only.  I have tried ssh tunneling via putty but that does not work
What type of driver should I use for SunOS?
How do I go around the jump box issue ?

Edit: for my last question I think that this article is the answer: https://pynet.twb-tech.com/blog/automation/netmiko-proxy.html

clie

[2017-02-17 13:28] shamanu4 opened #375 "Parenthesis at the end of hostname - check_config_mode always returns True"
Example scenario: IP address added to hostname and in result prompt looks like this:
`Switch(127.0.0.1)#` and in config mode like this `Switch(127.0.0.1)(config)#`
Checking for string `)#` returns `True` in both cases.

[2017-02-17 13:33] shamanu4 opened #376 "`#` symbol in hostname - check_enable_mode always returns True"

[2017-02-17 17:41] ktbyers commented on #374
@1001QAdotNET Yes, that article is how to use a Jump Box with Netmiko. I have no idea whether it will work with SunOS, however.

[2017-02-17 17:41] #374 closed

[2017-02-17 17:42] ktbyers commented on #376
Why does the hostname have a '#' in it?

Is this a function of the EdgeCore device or the hostname you chose?

[2017-02-17 17:51] ktbyers commented on #375
EdgeCore is not supported. You should make any necessary adjustments in the EdgeCore driver PR.

[2017-02-17 17:51] #375 closed

[2017-02-17 17:54] ktbyers commented on #373
Yes, that looks like this issue with Dell Force10 and Paramiko:

https://github.com/ktbyers/netmiko/issues/128

We never found a solution for it.

[2017-02-17 18:23] shamanu4 commented on #376
It is possible to set such hostname even in Cisco ios. And fix is pretty simple - change string check from `in` to `endswith`

[2017-02-17 18:37] shamanu4 commented on #375
@ktbyers
It is not function of EdgeCore. I have hundreds of Cisco switches in network configured in this way and I need to manage them. Hostname contains physical address and 2 last bytes of IP e.g. `European.76(3.11)`.

[2017-02-17 18:44] ktbyers commented on #376
If you do this (i.e. use a hostname with # in it), you are setting yourself up for automation failure...

[2017-02-17 18:51] ktbyers commented on #375
@shamanu4 Yes, I don't see myself changing this.

It is very hard to meet all the requirements and changing nature of the router prompt as it is. There are certain requirements the hostname will have to meet i.e. no '#' in it and no parenthesis in it.

[2017-02-17 19:47] shamanu4 commented on #376
Ok. Not an issue then.

[2017-02-17 19:47] #376 closed

[2017-02-18 15:30] Wyko opened #378 "Check if device is ready to accept next command"
Hey Kirk,

Several times now I've experienced that running a command will fail in one of two ways. Either it will

1. Return the prompt (alone or multiple copes of the prompt separated by newlines), or;
2. It will return some segment of the result from the last command.

For example, on a Cisco IOS device (my primary use case) I might execute "show run" and then "show CDP neigh det". 95% of the ti

[2017-02-20 15:49] compyy opened #379 "Nokia SROS v14 Prompt is broken."
Hello,

it seems script is broken if there is a long msg after login, could be buffer issue ?

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/netmiko/ssh_dispatcher.py", line 100, in ConnectHandler
    return ConnectionClass(*args, **kwargs)
  File "/usr/local/lib/python2.7/dist-packages/netmiko/base_connection.py", line 145,

[2017-02-20 18:13] ktbyers commented on #379
What version of Netmiko are you using?

[2017-02-20 18:41] ktbyers commented on #378
@Wyko Can you post an example (code + output). This will help me understand.

Also what version of Netmiko are you using?

[2017-02-20 20:21] multipl3x commented on #370
Thanks for the quick reply on this Kirk, your solution worked for me and in my case I did not seem to need to run `net_connect.set_base_prompt()` afterward.

Cheers.

[2017-02-20 20:21] #370 closed

[2017-02-21 08:59] compyy commented on #379
Name: netmiko
Version: 1.2.7

How can i debug the session, is there any guide ?

[2017-02-21 09:20] compyy commented on #379
Ok, i fixed it with >> global_delay_factor=2 >> how can we make it as default ?

[2017-02-21 21:00] tevaum opened #380 "Enterasys SecureStack doesn't need enable() and disable_paging()"
I'm testing netmiko with my Enterasys SecureStack switches/routers and, at first it didn't work:

ValueError: Failed to enter enable mode.

So I looked at the code and it seems that it was only testes and I'm supposing that it was only testes on enterasys routers. I commented out the self.enable() and self.disable_paging() and it worked correctly with my devices.

So I thought: should we create an

[2017-02-21 21:14] ktbyers commented on #380
So Enterasys SecureStack is different than other Enterasys devices?

The Enterasys driver currently does this:

[code]

[2017-02-21 21:15] ktbyers commented on #380
So it disables paging using:

[code]

and would default to a Cisco enable mode.

[2017-02-21 21:16] tevaum commented on #380
What I did was comment out the self.enable() and self.disable_paging(command="set length 0\n").
After that, I was able to run commands sucessfully.

[2017-02-21 21:19] ktbyers commented on #380
Yes, is the SecureStack different than other Enterasys switches?

When you manually execute commands on the SecureStack do you observe output paging and what do you do to disable it?

[2017-02-21 21:22] tevaum commented on #380
Just checked and set length  0 works on my device, so it doesn't need to be commented.
By default, SecureStack doesn't do paging (it's length is 0 by default)
It only have enable in router mode, which isn't the default.
I tryed the following to check:

conn = netmiko.ConnectHandler(**dist_dti);

conn.send_command('router');
conn.enable()
o = conn.send_command('show ip route');

but it still gives

[2017-02-21 21:25] ktbyers commented on #380
What CLI commands do you do manually to enter `enable` in router mode?

[2017-02-21 21:29] tevaum commented on #380
you log in the switch and enter
**router**
then you enter
**enable**

That's it

[2017-02-21 21:30] ktbyers commented on #380
Yes, can you post what the actual CLI session looks like including the prompt.

[2017-02-21 21:31] tevaum commented on #380
tevaum@alpha:~/Projetos/enterasys$ ssh -l estevao 10.20.1.1
estevao@10.20.1.1's password:

Enterasys C3
Command Line Interface

Enterasys Networks, Inc.
9 Northeastern Boulevard
Salem, NH 03079 U.S.A.

Phone: +1 603 952 5000
E-mail: support@enterasys.com
WWW: http://www.enterasys.com

(c) Copyright Enterasys Networks, Inc. 2013

Chassis Serial Number:      09080919895A
Chassis Firmware Revision:

[2017-02-21 23:18] ktbyers commented on #380
And what happens with `enable` if not in in `router` mode?

[2017-02-21 23:36] ktbyers opened #381 "Cisco telepresence might still have an issue"
See bottom of PR here:

https://github.com/ktbyers/netmiko/pull/356

[2017-02-22 00:05] ktbyers commented on #379
@compyy Try Netmiko 1.2.8 which I just released and see if you have the same issue.

[2017-02-22 07:57] maximumG opened #382 "Auto discovery enhancement"
What do you think about enchaning the auto discovery module created in the beginning of 2017 by using SSH discovery instead of SNMP.

The issue I see in using SNMP is that we need to use an extra protocol and extra credentials to perform auto-discovery. This means that auto-discovery only works if you have SNMP enabled on the asset.

I was thinking about doing auto-discovery over a preliminary SSH

[2017-02-22 13:32] tevaum commented on #380
There's no `enable` if not in `router` mode here.

[2017-02-22 17:16] ktbyers commented on #380
Yes, can you post what happens in the CLI when you type `enable` this will help me write an error handler (if that is the best way to do it).

[2017-02-22 17:28] ktbyers commented on #382
I am planning on making a `terminal_server` device_type which does very little post login (i.e. allows the person to do direct read_channel() and write_channel() operations without Netmiko generating an error).

You could probably use this device type to perform your operations.

I wouldn't eliminate SNMP, I would probably just augment it with SSH discovery.

Yes, people would probably find this v

[2017-02-22 17:39] tevaum commented on #380
I think that's cool handling the error... I realised that it's an exception... I can handle it in my code also, if necessary...

[code]

[2017-02-22 17:42] ktbyers commented on #380
Okay, I think I have enough to write a proposed fix...I will update here once I have a proposed fix for this.

[2017-02-22 17:42] tevaum commented on #380
Thanks! I'll be waiting :]

[2017-02-22 19:18] maximumG commented on #382
I would be glad to work on this feature to offload you. I think creating this *terminal_server* device type could be a good starting point to try auto-discovery over SSH.

This discovery feature over SSH could be better than SNMP, even if it won't work in all the cases (i.e : we cannot run any command on Cisco WLC before doing an application authentication). So I think both methods may be used ind

[2017-02-22 19:54] ktbyers commented on #382
@maximumG Okay, there is a `terminal_server` device_type in the `develop` branch now.

Yes, I think you can probably get that banner information from Paramiko.

[2017-02-22 19:55] ktbyers opened #383 "Generic Terminal Server Device Type"
FYI, I have created a 'terminal_server' device_type. The general idea is that it won't do anything post SSH connection (or won't do much anyways).

Consequently, post SSH connection, you can then do:

[code]

In other words, you can directly interact with the terminal server to get logged-in to the end network device.

Once you have done this, you can then `redispatch` the connect (i.e. reset the

[2017-02-22 19:58] maximumG commented on #382
@ktbyers : Thanks for you quick support, I really appreciate :smile:.

I will start working on this feature next week. Do you already have any insight on how to structure this or am I free to propose anything that is working as expected ?

[2017-02-22 19:58] ktbyers commented on #383
Here is the connection code, I used above (before switching the class):

[code]

[2017-02-22 20:06] ktbyers commented on #383
Use cases I see:

1. SSH through a terminal server where you need to send a key like '\r' to get the session started (and maybe even require a second login on the console port).
2. Manual terminal server interaction to connect to the console port; login; and then redispatch() Netmiko.

[2017-02-22 20:37] briantsaunders commented on #383
@ktbyers I have some use cases for this and could help test if you need some assistance.

[2017-02-22 20:39] ktbyers commented on #383
@briantsaunders Yes, would be great if you could help test.

[2017-02-22 20:51] ktbyers commented on #382
I would keep the SNMP feature (make this independent of the SNMP autodetect). Probably make a separate module ssh_autodetect.py and keep the code in there.

I would probably filter all output responses you get back through the strip_ansi_escape_codes() method (as  ANSI escape codes can really mess up the output). I don't see much downside in doing this (as I think it is unlikely you will modify re

[2017-02-23 07:38] jeffdeham commented on #383
I am having problem with connecting to my console server. SSH seems to work fine but I can't get to the enable prompt. Wouldn't mind being a guinea pig and help out in some way.

[2017-02-23 18:00] ktbyers commented on #383
@jeffdeham Can you show what your SSH session via your console server looks like when you do it manually?

[2017-02-23 19:17] jeffdeham commented on #383
ssh sjc12-41a-sw1-con
password:
                    <=== I have to hit return here to get to enable
sjc12-41a-sw1>en
Password:
sjc12-41a-sw1#

[2017-02-23 19:19] jeffdeham commented on #383
I turned on verbose and I got this before it hangs,

SSH connection established to sjc12-41a-sw1-con:22
Interactive SSH session established

[2017-02-23 19:52] ktbyers commented on #383
@jeffdeham And what exception do you see in your Netmiko script?

[2017-02-23 20:05] jeffdeham commented on #383
I don't see any exception.  It just stops and sits there

[2017-02-23 20:07] ktbyers commented on #383
@jeffdeham And what does your Python code look like?

And what version of Netmiko are you using?

[2017-02-23 20:18] jeffdeham commented on #383
I am using a NetMiko engine. How would I find out the version?

================================

from netmiko import ConnectHandler
import getpass

password_name = ''
router_ip = raw_input('Enter route ip: ')

name = raw_input('Enter user name: ')

password_name = getpass.getpass('Password:')

password_enable = raw_input('Enter enable password:')

net_connect = ConnectHandler(device_type='cisco_i

[2017-02-23 20:19] jeffdeham commented on #383
Engine Manager:
KickàExecutionàCreateàengine
Title: netmiko
Create / Edit Engine:
FROM pyats-2.1-py2                                                     #we are using Python 2.7.x
RUN /kick/pyATS2/bin/pip install netmiko

FROM pyats-2.1-py2
RUN /kick/pyATS2/bin/pip install netmiko

[2017-02-23 20:26] ktbyers commented on #383
Usually just go into python:

[code]

[2017-02-23 20:48] jeffdeham commented on #383
NetMiko version 1.1.0

[2017-02-23 21:02] ktbyers commented on #383
@jeffdeham And you are going via a terminal server here--correct (i.e. you are SSHing through a terminal server)?

[2017-02-23 21:09] jeffdeham commented on #383
I am SSHing to a console server that is connected to a router.

The script works fine to non console servers for a data point.

[2017-02-23 21:21] ktbyers commented on #383
Okay, you need to do the following:

1. Use the `develop` branch of Netmiko from GitHub:

This is how I would do it on Linux (not sure in your environment).

[code]

Change your Python program to:

[code]

[2017-02-23 21:24] ktbyers commented on #383
And let me know what you get for `output` at the end there.

[2017-02-23 21:32] jeffdeham commented on #383
I ran that script and it failed with the following,

 File "/kick/pyATS2/lib/python2.7/site-packages/netmiko/ssh_dispatcher.py", line 94, in ConnectHandler
    'currently supported platforms are: {0}'.format(platforms_str))
ValueError: Unsupported device_type: currently supported platforms are:
a10
alcatel_sros
arista_eos
etc...

[2017-02-23 21:32] jeffdeham commented on #383
Thanks by the way for taking the time to help me.

[2017-02-23 21:53] ktbyers commented on #383
@jeffdeham That looks like you didn't upgrade your Netmiko (i.e. you are still using the old Netmiko not the `develop` Netmiko).?

[2017-02-24 16:01] maximumG commented on #382
I just finished part of the code in my own fork, develop branch. If you want to take a look at own is is working. Currently I added the support of both Cisco and Huawei device type.

The global idea is that each device type class should have an 'autodetect' static method. These methods will be called by the SSHDetect class to try to auto guess the type base on an accuracy integer between 0 and 99.

[2017-02-24 17:14] ktbyers commented on #383
@jeffdeham Okay, I made an update to the `develop` branch.

You will need to cd into your copy of this branch and then:

[code]

And then install the new version (which for me is):

[code]

[2017-02-24 17:15] ktbyers commented on #383
Here is the change I made:

https://github.com/ktbyers/netmiko/commit/ba57f9361b68ae607d98bcfeec0cff3986fc5aac

[2017-02-24 18:04] ktbyers commented on #380
@tevaum Okay, I put in this fix in the Netmiko `develop` branch on GitHub. Can you test it?

[2017-02-24 18:48] jeffdeham commented on #383
"You will need to cd into your copy of this branch and then"  Sorry, is there a folder that this branch resides in? I am not a linux guy so kinda hazy where this branch resides,
---
I tried doing a "git pull origin develop" from my prompt with doing any changing of folders and got this,

Warning: Permanently added 'gitlab.cisco.com,173.36.21.126' (RSA) to the list of known hosts.
fatal: Couldn't f

[2017-02-24 19:13] ktbyers commented on #383
@jeffdeham Yes, there should be a 'netmiko' folder (this was created earlier when you did a `git clone`).

What does `ls` show you (from your home directory)?

[2017-02-24 20:37] jeffdeham commented on #383
I ran it after doing the update and it doesn't hang but it failed with this error codes,

Traceback (most recent call last):
  File "netmiko_new_way.py", line 20, in <module>
    net_connect.enable()
  File "build/bdist.linux-x86_64/egg/netmiko/base_connection.py", line 829, in enable
  File "build/bdist.linux-x86_64/egg/netmiko/base_connection.py", line 821, in check_enable_mode
  File "build/bdi

[2017-02-24 21:27] ktbyers commented on #383
@jeffdeham Okay, can you post your code ("netmiko_new_way.py").

[2017-02-25 14:54] linickx opened #384 "Is Fortinet/Fortigate support broken?"
[test_fortinet.debuglog.txt](https://github.com/ktbyers/netmiko/files/801266/test_fortinet.debuglog.txt)

* OSX 10.11.6
* Python 3.6.0
* Netmiko 1.2.8
* FortiGate-1500D v5.4.3,build1111,161220 (GA)

This is my example script:

[code]

Attached is a debug log.

After the `config global` command is issued by my script (not the one built into netmiko, the initial `get system status` seem to work, but

[2017-02-25 16:55] ktbyers commented on #384
Yes, Netmiko issues `get system status` as it needs to determine if 'Virtual domain configuration: enable' is configured (in order to disable paging).

It looks like the `get system status` command is causing problems (as the output is paged i.e. --More--). Can you try this fix and log what happens when you use it?

https://github.com/ktbyers/netmiko/commit/f9acf19ed1b4b56cd7d9f179a8e88fb968afc1d7

[2017-02-26 13:58] linickx commented on #384
A step forward but not resolved. Updated debug attached - [test_fortinet.debuglog-2.txt](https://github.com/ktbyers/netmiko/files/802006/test_fortinet.debuglog-2.txt).

In the debug, the new `<space>`is sent at line 60 `DEBUG:netmiko:write_channel: b' \n'` which completes the output and returns the prompt, the subsequent `config global` directed from [fortinet/fortinet_ssh.py:L36](https://github.c

[2017-02-26 15:44] ktbyers commented on #384
@linickx Okay, this issue is probably fixed (now in `develop` branch)

https://github.com/ktbyers/netmiko/commit/6910f064c36eb293b493592de376b6c3a4f2a11a

The issue is the following...

[code]

output.find returns -1 when it fails. -1 is treated by Python as a boolean True (i.e. every integer besides 0 is treated by Python as True).

So this section was always being executed (which was why the SSH

[2017-02-26 15:45] ktbyers commented on #384
@linickx

# Note, you still need to change this line in YOUR code.

From:
[code]

To:
[code]

You might not need the delay_factor argument, but you can experiment with this.

[2017-02-26 18:24] linickx commented on #384
It's working now, thank you. :)

I tested on both firewalls, an updated debug - [test_fortinet.debuglog-otherFW-2.txt](https://github.com/ktbyers/netmiko/files/802154/test_fortinet.debuglog-otherFW-2.txt) - for one of them is attached.

[fortinet/fortinet_ssh.py#L44](https://github.com/ktbyers/netmiko/blob/develop/netmiko/fortinet/fortinet_ssh.py#L44) requires and additional `end` in the list, not

[2017-02-26 19:19] linickx commented on #384
Actually..

This is probably caused due to both my firewalls have multi-vdim's enabled.. that probably wouldn't happen on a single domain device.

I suspect the "wrong" prompt is due to [fortinet_ssh.py#L33](https://github.com/ktbyers/netmiko/blob/develop/netmiko/fortinet/fortinet_ssh.py#L33), to exit cleanly, before [L49](https://github.com/ktbyers/netmiko/blob/develop/netmiko/fortinet/fortinet_s

[2017-02-26 23:02] briantsaunders commented on #383
@ktbyers initial testing of the terminal_server works with an Opengear terminal server.  Was able to connect to the Opengear and authenticate.  From there entered my credentials to log into the NXOS device and then use redispatch to change device type to cisco_nxos and issue a few commands.

[2017-02-27 00:06] Wyko commented on #378
My apologies for not responding. I have been unable to reproduce this issue since I mentioned it. It was likely just a bug in my own code.

[2017-02-27 00:06] #378 closed

[2017-02-27 19:37] jeffdeham commented on #383
Sorry for the delay working on this in a development system at work. No access on weekend.
Here is the code and errors,

Errors
-----------------------------------------------------
 File "build/bdist.linux-x86_64/egg/netmiko/base_connection.py", line 829, in enable
  File "build/bdist.linux-x86_64/egg/netmiko/base_connection.py", line 821, in check_enable_mode
  File "build/bdist.linux-x86_64/egg

[2017-02-27 20:21] ktbyers opened #385 "Change find_prompt() so not hard-coded to "\n" newline"
Adtran device required a "\r" for a newline.

[2017-02-27 22:50] jeffdeham commented on #383
I tried again the way that you suggested earlier and it worked!

from netmiko import ConnectHandler
import getpass
import time

password_name = ''

router_ip = raw_input('Enter route ip: ')
name = raw_input('Enter user name: ')
password_name = getpass.getpass('Password:')
password_enable = raw_input('Enter enable password:')

net_connect = ConnectHandler(
    device_type='terminal_server',

[2017-02-28 00:22] jeffdeham commented on #383
Thank you very much for your help!

[2017-02-28 02:09] jeffdeham commented on #383
Hello again, I am having problem with my configuration commands not working. It is just sits there and times out with,

Traceback (most recent call last):
  File "netmiko-jeff-creese-console.py", line 50, in <module>
    output = net_connect.send_config_set(config_commands)
  File "build/bdist.linux-x86_64/egg/netmiko/base_connection.py", line 920, in send_config_set
  File "build/bdist.linux-x86_

[2017-02-28 05:19] ktbyers commented on #383
@jeffdeham

After you are fully logged into the end network device:

[code]

then, you need to use this `redispatch` method:

[code]

Then try your other commands:

[code]

[2017-02-28 06:42] dirkvdplas opened #386 "netmiko-show fails to consistently obtain output when ran in loop"
This error appears intermittent (10% of connection attempts) when running netmiko-show against a group of 4 routers. The errors are not seen when I use Ansible (with ios_command) to query the routers.

versions used:
Python 2.7.5
netmiko (1.2.8)
paramiko (2.1.2)
RHEL 7.3

[2017-02-28 07:04] ktbyers commented on #386
@dirkvdplas that is just a Paramiko warning. It shouldn't will have any consequence.

If you want it to go away...you can configure a logger.

Probably can just do this:

[code]

[2017-02-28 07:08] dirkvdplas commented on #386
Hello Kirk

Thanks for the quick reply.
I am sure it's not a warning, and has real consequences. When the messages
appears, I am missing output (so only ouput of 3 out of 4 devices is shown)

Dirk

On Tue, Feb 28, 2017 at 8:04 AM, Kirk Byers <notifications@github.com>
wrote:

[2017-02-28 07:12] ktbyers commented on #386
@dirkvdplas Then you must have a different issue...that warning has no significance (in itself).

Can you post your script and what you are getting for output? Remove any sensitive information.

[2017-02-28 07:22] dirkvdplas commented on #386
Here the script. It's nothing special, just endless loop performing netmiko-show command to a group of 4 asa's (note i have tested against other cisco hardware as well, c7600, nexus5k, with similar results)

[code]

[2017-02-28 17:17] ktbyers commented on #386
@dirkvdplas If you manually run this from the command line:

[code]

Does it consistently work?

[2017-02-28 17:58] dirkvdplas commented on #386
@ktbyers  problem also occurs (intermittent in 30% of cases) when running
directly from commandline.  please note that I started running it in
endless loop in order to get more insight in the failure rate

Op 28 feb. 2017 6:17 p.m. schreef "Kirk Byers" <notifications@github.com>:

[2017-02-28 18:20] dirkvdplas commented on #386
both. which means when the error appears  I see Failed device of which
output is missing

Op 28 feb. 2017 7:05 p.m. schreef "Kirk Byers" <notifications@github.com>:

[2017-02-28 18:30] jeffdeham commented on #383
That worked! Thanks again for your help!

[2017-03-01 06:48] nkaliape commented on #255
@bewing @ktbyers Did we bring sftp enhancement into netmiko?

[2017-03-01 07:05] ktbyers commented on #255
@nkaliape Nope.

[2017-03-01 10:24] NetworkLife opened #388 "show interfaces fails (too much output?)"
Hi,

I wrote a script in order to extract a "show interfaces" from multiple switches using your example of multiprocesses and coupling it with textFSM.

When typing "show interfaces | sec XXX" it works fine, but when typing "show interfaces" only, the script doesn't respond (the three switches tested have each 5x48 interfaces). I think netmiko can't handle so much output. Do you have a solution fo

[2017-03-01 17:03] nrm21 commented on #80
Sorry I know this issue has been closed for over a year but just commenting for the benefit of anyone who googles this (like I did).

Netmiko can connect to Checkpoint Gaia r77.30 just fine if you:
Make sure the account you're logging in with is set to go directly to bash (expert mode) in the config
Make sure you are using  'device_type': 'linux'

[2017-03-01 17:16] ktbyers commented on #388
@NetworkLife Make sure you are using netmiko version 1.2.8.

So this command doesn't work properly?

[code]

Netmiko should wait about 90 seconds for the trailing prompt (so it waits a very long time looking for the terminating prompt).

It should be able to handle large output from networking devices.

What error do you see?

[2017-03-01 22:33] ktbyers commented on #385
Yes, I need to add some sort of a class CONSTANT that defines a newline that could be overwritten.

[2:32]
There was a similar issue earlier this week with an Adtran device where it would not respond to "\n", but would respond to "\r".

[2:32]
And I have seen other issues in the past.

[2017-03-01 22:40] broncofan opened #389 "Enhancement: Add Some more switches"
What is the process for getting some additional switches added?  I have a few switches I would like to add and the commands that would allow that.
I would also like to see fibre (brocade) and ib (mellanox) switches added.  Any opposition to that?  some of the eexisting switch types work for these, but it would be nice to officially list them and have a type dedicated.
I can look at doing a pull re

[2017-03-01 23:31] ktbyers commented on #389
@broncofan General process is here:

https://github.com/ktbyers/netmiko/blob/develop/VENDOR.md

The devices should also pass probably both the `show` and `config` unit tests.

The testing process is here:

https://github.com/ktbyers/netmiko/blob/develop/TESTING.md

Definitely open to additional vendor support, but someone will have to do the work/submit the PR on them.

[2017-03-02 00:13] ktbyers opened #390 "Increase in slowness between Netmiko 1.1 and Netmiko 1.2.8"
This slowed down more than I expected -- why?

[2017-03-02 01:21] #383 closed

[2017-03-02 01:22] ktbyers commented on #379
@compyy Did you try this with Netmiko 1.2.8?

[2017-03-02 01:22] #379 closed

[2017-03-02 01:24] ktbyers commented on #380
@tevaum Did you test this fix that is in the `develop` branch?

[2017-03-02 01:37] ktbyers commented on #384
@linickx I didn't understand this statement:

[code]

I also didn't understand your statements here...can you expand on what you are saying here?

[code]

[2017-03-02 01:54] ktbyers commented on #384
@linickx

I made some additional changes based on your comments above:

https://github.com/ktbyers/netmiko/commit/f1f57094b01ad9f82a95e9def4dab87dd4412232

Note, on your question here:

[code]

The reason send_command() worked and you weren't required to use send_command_timing() is because of the `end` issue you referenced. In other words, you were already in `config global` context because of ou

[2017-03-02 01:57] ktbyers commented on #386
@dirkvdplas Can you try experimenting with increasing the global_delay_factor for the device(s) in the .netmiko.yml file.

Should be like this:

[code]

[2017-03-02 11:48] dirkvdplas commented on #386
@ktbyers  global_delay_factor: 4 has improved it quite a bit. But I still
have issues now and then (quality of network if fine, low latency and no
errors), also manually login to devices goes fast.  Any further suggestions?

On Thu, Mar 2, 2017 at 2:57 AM, Kirk Byers <notifications@github.com> wrote:

[2017-03-02 17:31] networkguy22 opened #391 "Module List"
Please forgive me Kirk Byrnes and others, but you have inspired me to indoctrinate python into my networking career.

However since i'm still very early on in my learning, I was wondering if you would be able to teach a man to proverbially fish. You could do this by describing where in most github documentation and more specifically in netmiko I go to display the various methods available to be ca

[2017-03-03 00:13] ktbyers commented on #386
@dirkvdplas I think we need to get this out of Netmiko-tools and straight into Netmiko so we can get better error information, it should be something like this:

[code]

You will need to run this directly with Python.

[2017-03-03 00:23] ktbyers commented on #391
@networkguy22 Until I improve the documentation, you can do this:

[code]

[2017-03-03 00:24] ktbyers commented on #391
Also check out this article.

https://pynet.twb-tech.com/blog/automation/netmiko.html

[2017-03-03 00:25] ktbyers commented on #391
Just re-open if you have other questions.

[2017-03-03 00:25] #391 closed

[2017-03-03 01:06] dirkvdplas commented on #386
when running code above, it goes fine. But when wrapping it in endless while loop it throws timeout error after a couple of runs

Traceback (most recent call last):
  File "./test-single.py", line 18, in <module>
    net_connect = ConnectHandler(**device)
  File "/opt/gbitools/automation/lib/python2.7/site-packages/netmiko/ssh_dispatcher.py", line 105, in ConnectHandler
    return ConnectionClass(

[2017-03-03 15:20] adieball opened #392 "PALOALTO OS - search pattern never detected"
I have the following using netmiko

[code]
the script connects fine, but "hangs" during the net_connect.send_config_set command.

I also tried sending "configure" the the command and then "exit" with the same result. Then I remembered that in config mode it's expecting a different prompt so I used the "send_config_set" method. After a timeout, the script comes back with:

Am I missing something?

[2017-03-03 17:37] ktbyers commented on #386
@dirkvdplas That indicates that the device didn't respond on port 22 (i.e. accept the SSH connection) which makes me think that we possibly filled up all the available SSH sessions.

What happens if you add the following to the end of the above Python code:

[code]

[2017-03-03 18:02] ktbyers commented on #392
What does this look like in the CLI when you do it manually?

[code]

[2017-03-03 19:50] dirkvdplas commented on #386
You're right. All sessions were filling up. I added the net_connect.disconnect and now endless loop for single device (just netmiko, not netmiko tools) runs fine.  I have the feeling netmiko-tools multithreading is the cause of the error: "No handlers could be found for logger “paramiko.transport”, which I still have when using netmiko-show.

Why have you changed the subject of this thread BTW? Wo

[2017-03-04 15:44] adieball commented on #392
Hi

I obviously can't use the string above (using the timestamp variable), but manually it shows:

--cut--
admin@PA-200> configure
Entering configuration mode
[edit]
admin@PA-200# save config to config20170304164300.xml

Config saved to config20170304164300.xml
[edit]
admin@PA-200# exit
Exiting configuration mode
admin@PA-200>
--cut--

[2017-03-06 17:09] broncofan opened #394 "check_config_mode: failing, possible truncating issue."
I have a switch that is a Mellanox switch (MSN2410).  It behaves very similar to NXOS.  So, I am using that device_type.  It seems as though the config portion is working, but the verification is failing.  I enabled debug and added a couple of my own debug statements in there.  This particular switch inserts a string of text ([standalone: master]) between the name and the config tag.  I wonder if

[2017-03-06 19:19] ktbyers commented on #394
@broncofan Yes, Mellanox is not supported. You can write a driver for it, however. See:

https://github.com/ktbyers/netmiko/blob/develop/VENDOR.md

From the above...it looks like there are enough differences between Mellanox and Cisco NXOS that it is not compatible with it.

[2017-03-06 19:19] #394 closed

[2017-03-06 20:51] broncofan commented on #394
Is there a better way to ask questions, other than opening a ticket each time?

[2017-03-07 04:37] ktbyers commented on #394
There is a Netmiko Slack channel here:

https://networktocode.slack.com

You can sign-up for it here:

http://slack.networktocode.com/

Kirk

On Mon, Mar 6, 2017 at 12:51 PM, broncofan <notifications@github.com> wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automati

[2017-03-07 11:39] mdsalman049 opened #396 "Failed to enter configuration mode"
Hi All,

I am kinda new to programming and just started learning python.
whenever I use config_mode() method I get the error attached. Also, when I try to go to enable mode I get time out error(also attached)

![image](https://cloud.githubusercontent.com/assets/26249237/23654803/6e9ea108-0358-11e7-80ef-385ed4147f04.png)

![image](https://cloud.githubusercontent.com/assets/26249237/23654892/cfc6eab

[2017-03-07 17:52] tevaum commented on #380
@ktbyers sorry. Wasn't able to test before. It still didn't work...

I'm trying to take a look at the code to find anything that can help with this...

One thing is that enable doesn't ask for a password on my switches and you're using "password" as the stop pattern for `read_until_prompt_or_pattern`.

I also found out that read_until_prompt_or_pattern is not returning the error message. It's just

[2017-03-07 20:03] rwwelford opened #397 "Add ability to specify an alternate inventory file."
Most of the ability to specify an alternate inventory file already exists.  Simply modifying **utilities.py** line 53 to accept a "file_name" as a parameter completes the functionality.

**old line 53:**
`def load_devices():`

**new line 53:**
`def load_devices(file_name=None):`

The code to forward the parameter _file_name_ to the _find_cfg_file_ function already exists in the body of the _load_d

[2017-03-07 20:17] ktbyers commented on #397
@rwwelford Submit a PR on it. Also make sure you submit a PR on netmiko-tools to support this.

[2017-03-07 21:59] ktbyers commented on #396
@mdsalman049 What kind of device are you connecting to?

What is your device_type set to in your script?

What does it look like when you manually go into config mode (i.e. post the screen capture of manually going into config mode on this device).

[2017-03-07 23:48] Eoin-Irwin commented on #212
I seem to also be getting the same error, however its on a cisco 2960 switch

`Device: Cisco IOS

Traceback (most recent call last):
  File "C:\Program Files (x86)\JetBrains\PyCharm 2016.3\helpers\pydev\pydevd.py", line 1596, in <module>
    globals = debugger.run(setup['file'], None, None, is_module)
  File "C:\Program Files (x86)\JetBrains\PyCharm 2016.3\helpers\pydev\pydevd.py", line 974, in ru

[2017-03-07 23:57] ktbyers commented on #212
Are you passing in a `secret` to ConnectHandler()?

In other words, have declared what the enable secret is?

[2017-03-08 00:04] Eoin-Irwin commented on #212
Ahhh that's most likely my issue! I'll test that out tomorrow when I get access to the switches, thanks Kirk

[2017-03-08 01:06] mdsalman049 commented on #396
Thank you very much for the prompt response.

I have an ubuntu running on a VM and connected to cisco ios in gns3. The device type is 'cisco_ios' just the way its configured in http://networktocode.com/labs/tutorials/netmiko-quickstart/

output = device.send_command('show version') works perfectly ok.

Everything is fine when I directly configure the router.

![image](https://cloud.githubuserconte

[2017-03-08 17:14] ktbyers commented on #380
@tevaum Can you post what the CLI looks like for going into `enable`?

Also can you post the exception you are now seeing?

[2017-03-08 17:20] ktbyers commented on #396
@mdsalman049

Can you turn on logging and see what it shows you? This should create a file test.log in your current directory:

Add this up near the top of your script.

[code]

[2017-03-08 17:23] tevaum commented on #380
It's the same: `ValueError: Failed to enter enable mode.`.

What I'm not understanding is why the `read_until_prompt_or_pattern` called after the `enable` command is returning `""`. I know this because I put a `print('"%s"' % output)` right after the `read_until_prompt_or_pattern` and it doesn't return the `% Invalid input detected at` that usually happens when I'm connected to the switch.

Also,

[2017-03-08 18:02] ktbyers commented on #380
@tevaum Can you turn on logging and send me output log file that is generated:

Put this near the top of your file.

[code]

Just edit the log to remove anything that is confidential...like replace "your_real_password" with "password".

Kirk

[2017-03-08 18:07] tevaum commented on #380
File attached.
[test.txt](https://github.com/ktbyers/netmiko/files/828522/test.txt)

[2017-03-08 18:12] ktbyers commented on #380
And when you do it manually it looks like this?

[code]

[2017-03-08 18:33] tevaum commented on #380
Yes. That's really strange :/

[2017-03-08 19:07] ktbyers commented on #380
What happens if you change this line:

https://github.com/ktbyers/netmiko/blob/develop/netmiko/enterasys/enterasys_ssh.py#L23

From:

[code]

To:

[code]

[2017-03-08 19:44] tevaum commented on #380
Same error. Log attached.

[test-02.txt](https://github.com/ktbyers/netmiko/files/828789/test-02.txt)

[2017-03-09 03:15] ktbyers opened #400 "Mellanox Driver"
How about this for check_config_mode.

Basically uses the `self.base_prompt` to determine a command is done. self.base_prompt doesn't have the trailing prompt character (i.e. the '>' and the '#')

[code]

[2017-03-09 10:11] maximumG commented on #390
Just out of curiosity what do you mean about slowness ? In which part of the code ?

I decided to run some time statistic profiling between a test script with netmiko v1.1.0 and netmiko v1.2.8.

The script is as follow

[code]

You can find the profiling diagram attached.

Netmiko v1.2.8
--------------------
![netmiko-v1 2 8](https://cloud.githubusercontent.com/assets/4469833/23745582/ff2a9900-04b

[2017-03-09 14:36] broncofan commented on #400
That seems to cause the same race condition.  Sometimes this passes and sometimes it doesn't.  The bad part is the (config) information comes after the base prompt.  So, it won't always catch the end bit of info, which is needed to verify config mode.
Passing data:
ictm-dw-mlnx [standalone: master] (config) #
Failing data:
ictm-dw-mlnx [standalone: master] (confi

[2017-03-09 14:37] Eoin-Irwin commented on #212
The secret argument did the trick. However when I try to configure the switch, the configurations work sometimes, but I still get the error in my python console which says;

"Timed-out reading channel, data not available"

Then when I re-run the program about 3/4 times it will work more consistently. Any ideas?

`try:
                connection.find_prompt()
                connection.enable()

[2017-03-09 16:28] adieball commented on #392
Hi Kirk

any idea why the script seems to have problems with the configure mode?

[2017-03-09 18:19] ktbyers commented on #390
The main issue I observed is just against my test devices, the time to do certain actions went from about 8 seconds to about 13 seconds. I test against these devices a lot so I have quite a bit of data on how they behave normally.

I was a bit surprised that it increased by as much as it did.

I think it is probably due to some code I added to improve the reliability of the verifying we are connec

[2017-03-09 18:26] ktbyers commented on #400
Okay, how about this?

[code]

i.e. the regex character set of [>#]

[2017-03-09 18:32] ktbyers commented on #212
@Eoin-Irwin Changing the `hostname` is problematic as it changes the prompt. I would probably do that separately (in some way).

Once you have removed the hostname, I would increase the delay factor.

# Try delay_factor =2 and if that doesn't work 4
switch_output = connection.send_config_set(switch_commands, delay_factor=2)

[2017-03-09 19:13] ktbyers commented on #392
@adieball How long does that `save config to config2017.xml` command take it? Is it very slow?

Also is that required to be a config command or can you do it from outside of `config` mode?

[2017-03-09 20:00] ktbyers commented on #380
Okay, I don't understand why there is never any data from the Enterasys device?

We send `enable`, but never get anything back.

[2017-03-09 20:14] ktbyers opened #402 "Abstract telnet driver to allow for better reuse"

[2017-03-09 21:21] broncofan commented on #400
That causes a timeout in the  _read_channel_expect.  Seems like it is not matching.
[code]

[2017-03-09 21:53] ktbyers commented on #400
@broncofan Can you commit this change to your repository so I can look at the code you are using.